Repository FRRouting/frr, pull requests merged in 2019-09, with the labels that each got.

#4910 tests: Update Dockerfile to a valid libyang version
  tests/topotests/Dockerfile
Labels: tests

#4709 BMP support
  bgpd/bgp_advertise.c
  bgpd/bgp_advertise.h
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgp_packet.c
  bgpd/subdir.am
  configure.ac
  debian/frr.install
  doc/user/bmp.rst
  doc/user/index.rst
  doc/user/subdir.am
  lib/command.c
  lib/command.h
  lib/monotime.h
  lib/pullwr.c
  lib/pullwr.h
  lib/subdir.am
  python/clidef.py
  redhat/frr.spec.in
  vtysh/vtysh.c
Labels: bgp, libfrr

#4913 bgpd: Add a new command to only show failed peerings
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#4917 isisd: fix northbound circuit deletion
  isisd/isis_northbound.c
Labels: isis

#4710 tests: Add ecmp test cases
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-ecmp-topo2/ebgp_ecmp_topo2.json
  tests/topotests/bgp-ecmp-topo2/ibgp_ecmp_topo2.json
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/example-topojson-test/test_topo_json_single_link_loopback/test_example_topojson.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/pytest.ini
Labels: tests

#4797 eigrpd: vrf support
  doc/user/eigrpd.rst
  eigrpd/eigrp_cli.c
  eigrpd/eigrp_filter.c
  eigrpd/eigrp_filter.h
  eigrpd/eigrp_fsm.c
  eigrpd/eigrp_hello.c
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_main.c
  eigrpd/eigrp_neighbor.c
  eigrpd/eigrp_neighbor.h
  eigrpd/eigrp_network.c
  eigrpd/eigrp_network.h
  eigrpd/eigrp_northbound.c
  eigrpd/eigrp_packet.c
  eigrpd/eigrp_structs.h
  eigrpd/eigrp_topology.c
  eigrpd/eigrp_topology.h
  eigrpd/eigrp_update.c
  eigrpd/eigrp_vrf.c
  eigrpd/eigrp_vrf.h
  eigrpd/eigrp_vty.c
  eigrpd/eigrp_zebra.c
  eigrpd/eigrp_zebra.h
  eigrpd/eigrpd.c
  eigrpd/eigrpd.h
  eigrpd/subdir.am
  vtysh/vtysh.c
Labels: documentation, eigrp, review & merge me

#4888 Rmap cleanup
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  eigrpd/eigrp_routemap.c
  lib/routemap.c
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  zebra/zebra_routemap.c
Labels: libfrr

#4555 bgpd: [7.0] IPv6 session flapping with MP_REACH_NLRI and 0.0.0.0 in NEXT_HOP attribute
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp

#4886 pimd: sh config is showing detail debug, though not configured
  pimd/pim_vty.c
  pimd/pimd.h
Labels: pim

#4907 ospfd: Do not turn on write thread unless we have something in it
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_ism.h
  ospfd/ospf_packet.c
  ospfd/ospf_packet.h
Labels: ospf

#4922 bfdd: close bfd echo sockets, upon vrf disable
  bfdd/bfd.c
Labels: bfd

#4892 zebra: nht resolution default configurable per vrf
  zebra/zebra_nhg.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
Labels: zebra

#4923 pbrd: support mark matches
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
Labels: pbr

#4924 zebra: use GNU_LINUX instead of LINUX
  zebra/connected.c
Labels: zebra

#4925 bgpd: Fixes to error message printed for failed peerings
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#4926 doc: Update pbr to reflect new mark match command.
  doc/user/pbr.rst
Labels: documentation

#4927 eigrpd: Fix SA issue with setting but not using
  eigrpd/eigrp_network.c
Labels: eigrp

#4908 vtysh, lib: allow regexp in `find` command
  lib/command.c
  vtysh/vtysh.c
Labels: libfrr, vtysh

#4869 bgpd: rpki fixes (master)
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp

#4874 isisd: check MTU when configuring circuit
  isisd/isis_northbound.c
Labels: isis

#4877 zebra: move evpn neighbors to dataplane
  lib/prefix.c
  lib/prefix.h
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_socket.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
Labels: libfrr, zebra

#4789 lib: Nexthop Sorting Optimizations
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/zclient.c
Labels: libfrr

#4930 isisd: Enabling build with openssl
  isisd/isis_tlvs.c
  lib/zebra.h
Labels: isis

#4883 Zebra: use dataplane for evpn vtep programming
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_socket.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
Labels: libfrr, zebra

#4932 staticd: Re-send/Remove routes on interface events
  staticd/static_zebra.c
Labels: staticd

#4863 bgpd: evpn convey svi_ip knob to zebra post vni add
  bgpd/bgp_evpn.c
Labels: bgp

#4938 doc: [7.1] Add documentation for `bgp ebgp-requires-policy` command
  doc/user/bgp.rst
Labels: documentation

#4936 doc: [7.2] Add documentation for `bgp ebgp-requires-policy` command
  doc/user/bgp.rst
Labels: documentation

#4943 tests: Ensure we wait 1 bgp timeout period before declaring failure
  tests/topotests/lib/bgp.py
Labels: tests

#4935 doc: Add documentation for `bgp ebgp-requires-policy` command
  doc/user/bgp.rst
Labels: documentation

#4939 lib: optimize non-transactional cli
  lib/command.c
Labels: libfrr

#4937 zebra: avoid using zebra datastructs in evpn dataplane path
  zebra/rt_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_vxlan.c
Labels: zebra

#4944 [7.2]tests: Ensure we wait 1 bgp timeout period before declaring failure
  tests/topotests/lib/bgp.py
Labels: tests

#4934 ospfd: Remove flog_warn for a situation user can never do anything with
  ospfd/ospf_packet.c
Labels: ospf

#4809 bgpd: hook for bgp peer status change events
  bgpd/bgp_dump.c
  bgpd/bgp_dump.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_snmp.c
  bgpd/bgpd.h
Labels: bgp

#4952 bgpd: fix build breakage after hook re-definition
  bgpd/bgp_bmp.c
Labels: bgp

#4951 doc: Edgar -> Edsger
  doc/user/ospf_fundamentals.rst
Labels: documentation

#4955 zebra: Don't resolve to diff interface if given
  zebra/zebra_nhg.c
Labels: zebra

#4933 bgpd: clear l3vni prefix-only flag upon deletion
  bgpd/bgp_evpn.c
Labels: bgp

#4866 bgpd: Apply route-map for aggregate-address
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_aggregate-address_route-map/__init__.py
  tests/topotests/bgp_aggregate-address_route-map/r1/bgpd.conf
  tests/topotests/bgp_aggregate-address_route-map/r1/zebra.conf
  tests/topotests/bgp_aggregate-address_route-map/r2/bgpd.conf
  tests/topotests/bgp_aggregate-address_route-map/r2/zebra.conf
  tests/topotests/bgp_aggregate-address_route-map/test_bgp_aggregate-address_route-map.py
Labels: bgp, documentation

#4958 pimd: Slightly loosen pim assert message length tests
  pimd/pim_assert.c
Labels: pim

#4963 tests: Fix topotests due to json error
  tests/topotests/bgp_aggregate-address_route-map/test_bgp_aggregate-address_route-map.py
Labels: tests

#4960 bgpd: [7.1] `neighbor X:X::X default-originate` complains about (null)
  bgpd/bgp_vty.c
Labels: bgp

#4961 bgpd: [7.0] `neighbor X:X::X default-originate` complains about (null)
  bgpd/bgp_vty.c
Labels: bgp

#4962 Large admin distance tests and documentation
  doc/user/zebra.rst
  tests/topotests/all-protocol-startup/r1/ipv4_routes.ref
  tests/topotests/all-protocol-startup/r1/ipv6_routes.ref
  tests/topotests/all-protocol-startup/r1/zebra.conf
Labels: documentation, tests

#4954 yang: create interface reference type
  yang/frr-eigrpd.yang
  yang/frr-interface.yang
  yang/frr-isisd.yang
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
Labels: yang

#4950 Table summary
  doc/user/zebra.rst
  zebra/zebra_vty.c
Labels: documentation, zebra

#4302 staticd: static route config should get fail if nexthop configured as its local connected ip.
  staticd/static_vty.c
  staticd/static_zebra.c
Labels: staticd

#4722 staticd: correct update static route when specify nexthop-vrf
  staticd/static_routes.c
Labels: staticd

#4968 doc: Djikstra -> Dijkstra
  doc/user/ospf_fundamentals.rst
Labels: documentation

#4978 bgpd: Use defined constants for NHLEN instead of numeric values
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_export_bgp.c
Labels: bgp

#4973 yang: add user type for ip-address
  lib/yang_wrappers.c
  lib/yang_wrappers.h
  yang/libyang_plugins/frr_user_types.c
Labels: yang

#4948 zebra: improve the output of "show mpls table"
  tests/topotests/ldp-topo1/r1/ip_mpls_route.ref-1
  tests/topotests/ldp-topo1/r1/show_ipv4_route.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_ldp_binding.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_ldp_discovery.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_ldp_interface.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_ldp_neighbor.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_table.ref
  tests/topotests/ldp-topo1/r1/show_mpls_table.ref-1
  tests/topotests/ldp-topo1/r1/show_mpls_table.ref-no-impl-null
  tests/topotests/ldp-topo1/r2/show_ipv4_route.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_ldp_binding.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_ldp_discovery.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_ldp_interface.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_ldp_neighbor.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_table.ref
  tests/topotests/ldp-topo1/r2/show_mpls_table.ref-1
  tests/topotests/ldp-topo1/r2/show_mpls_table.ref-no-impl-null
  tests/topotests/ldp-topo1/r3/show_ipv4_route.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_ldp_binding.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_ldp_discovery.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_ldp_interface.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_ldp_neighbor.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_table.ref
  tests/topotests/ldp-topo1/r3/show_mpls_table.ref-1
  tests/topotests/ldp-topo1/r3/show_mpls_table.ref-no-impl-null
  tests/topotests/ldp-topo1/r4/show_ipv4_route.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_ldp_binding.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_ldp_discovery.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_ldp_interface.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_ldp_neighbor.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_table.ref
  tests/topotests/ldp-topo1/r4/show_mpls_table.ref-1
  tests/topotests/ldp-topo1/r4/show_mpls_table.ref-no-impl-null
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  zebra/zebra_mpls.c
Labels: tests, zebra

#4949 MPLS zapi improvements
  ldpd/l2vpn.c
  ldpd/lde.c
  ldpd/lde.h
  ldpd/lde_lib.c
  ldpd/ldp_zebra.c
  ldpd/ldpd.h
  lib/log.c
  lib/mpls.h
  lib/zclient.c
  lib/zclient.h
  ospfd/ospf_sr.c
  ospfd/ospf_sr.h
  tests/topotests/ospf-sr-topo1/r1/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r2/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r3/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r4/zebra_mpls.json
  zebra/zapi_msg.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_rnh.c
Labels: libfrr, zebra

#4969 tests: Improve bgp_aggregate-address_route-map test
  tests/topotests/bgp_aggregate-address_route-map/test_bgp_aggregate-address_route-map.py
Labels: tests

#4979 bgpd: [7.2] Apply route-map for aggregate-address
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_aggregate-address_route-map/__init__.py
  tests/topotests/bgp_aggregate-address_route-map/r1/bgpd.conf
  tests/topotests/bgp_aggregate-address_route-map/r1/zebra.conf
  tests/topotests/bgp_aggregate-address_route-map/r2/bgpd.conf
  tests/topotests/bgp_aggregate-address_route-map/r2/zebra.conf
  tests/topotests/bgp_aggregate-address_route-map/test_bgp_aggregate-address_route-map.py
Labels: bgp, documentation, tests

#4834 tools: Modifications to copy support bundle files
  debian/frr-pythontools.install
  debian/rules
  redhat/frr.spec.in
  tools/etc/frr/support_bundle_commands.conf
  tools/generate_support_bundle.py
  tools/subdir.am
Labels: tools

#4986 [7.2] bgpd: do not send keepalives when KA timer is 0
  bgpd/bgp_keepalives.c
Labels: bgp

#4987 zebra: remove empty, unused internal api
  zebra/zebra_rib.c
Labels: zebra

#4985 bgpd: do not send keepalives when KA timer is 0
  bgpd/bgp_keepalives.c
Labels: bgp, bugfix

#4564 Misc vrf update name
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_vty.c
  bfdd/ptm_adapter.c
  bgpd/bgp_main.c
  lib/vrf.c
  ospfd/ospf_main.c
  ospfd/ospfd.c
  ripd/ripd.c
  ripngd/ripngd.c
Labels: bfd, bgp, libfrr, ospf, review & merge me

#4810 Fix potential frr_pthread.c stale pointer
  bgpd/bgpd.c
  lib/frr_pthread.c
  lib/libfrr.c
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_peer_attr.c
  zebra/main.c
Labels: bugfix, libfrr

#4887 lib: rmap dep table is not correct in case of exact-match clause
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  eigrpd/eigrp_routemap.c
  lib/routemap.c
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  zebra/zebra_routemap.c
Labels: libfrr

#4970 bgpd: prefer-global command not working on IPv4 peers
  bgpd/bgp_routemap.c
Labels: bgp

#4980 pbrd: Handle GATEWAY_IFINDEX nht conflicts
  pbrd/pbr_nht.c
Labels: pbr

#4981 Bgp distance
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  doc/user/routemap.rst
Labels: bgp, documentation

#4988 Watchfrr ignore daemon
  doc/user/index.rst
  doc/user/subdir.am
  doc/user/watchfrr.rst
  watchfrr/subdir.am
  watchfrr/watchfrr.c
  watchfrr/watchfrr.h
  watchfrr/watchfrr_vty.c
Labels: documentation, watchfrr

#4993 bgpd: Remove trailing whitespaces from some header files
  bgpd/bgp_open.h
  bgpd/bgp_packet.h
  bgpd/bgp_route.h
Labels: bgp

#4992 isisd: assorted changes
  isisd/isis_route.c
  isisd/isis_route.h
  isisd/isis_tlvs.c
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  isisd/isisd.h
Labels: isis

#5001 lib: clean up frr_pthread structs at exit
  lib/frr_pthread.c
Labels: libfrr

#4966 isisd: Update TLVs processing for TE, RI & SR
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_lsp.c
  isisd/isis_mt.c
  isisd/isis_mt.h
  isisd/isis_northbound.c
  isisd/isis_pdu.c
  isisd/isis_te.c
  isisd/isis_te.h
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  lib/mpls.h
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
Labels: isis

#5003 bgpd: fix include path for bgp_bmp_clippy.c
  bgpd/bgp_bmp.c
Labels: bgp

#5006 zebra: fix mpls ftn uninstall
  zebra/zebra_mpls.c
Labels: zebra

#5008 northbound fixes and enhancements
  bfdd/bfd.c
  isisd/isis_cli.c
  lib/command.c
  lib/if.c
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  lib/vty.c
  lib/yang_wrappers.c
  lib/yang_wrappers.h
  ripd/ripd.c
  ripngd/ripngd.c
  yang/libyang_plugins/frr_user_types.c
Labels: libfrr

#5004 vtysh: fix multiple "no ip/ipv6 prefix-list sequence-number" lines in running-config
  vtysh/vtysh_config.c
Labels: vtysh

#4999 [7.2] zebra: dplane route updates need to check all nexthops
  zebra/zebra_rib.c
Labels: zebra

#4990 lib: add oper data cbs for ifaces
  lib/if.c
Labels: libfrr

#4731 zebra: redistribute deletes when updating selected route
  zebra/redistribute.c
  zebra/redistribute.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_rib.c
Labels: zebra

#5014 [7.2] vtysh: fix multiple "no ip/ipv6 prefix-list sequence-number" lines in running-config
  vtysh/vtysh_config.c
Labels: vtysh

#4875 Zebra: Rectifying the log messages.
  zebra/connected.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/redistribute.c
  zebra/zebra_fpm.c
  zebra/zebra_rnh.c
  zebra/zebra_vrf.c
Labels: zebra

#5019 zebra: Added vrfname to route prefix dictionary
  zebra/zebra_vty.c
Labels: zebra

#5024 bgpd: Invalid NH's should send an apropriate reason code
  bgpd/bgp_attr.c
Labels: bgp

#4529 Vrf conversions
  isisd/isis_main.c
  isisd/isisd.c
  isisd/isisd.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
Labels: eigrp, isis, iterating, ospfv3

#5028 7.0: bgpd: Invalid NH's should send an apropriate reason code
  bgpd/bgp_attr.c
Labels: bgp

#5027 7.2: bgpd: Invalid NH's should send an apropriate reason code
  bgpd/bgp_attr.c
Labels: bgp

#4893 Interface zapi update
  staticd/static_vrf.c
  staticd/static_zebra.c
  staticd/static_zebra.h
Labels: staticd, zebra

#5030 7.1 send that error bgp
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp

#5021 Neigh proto
  include/linux/fib_rules.h
  include/linux/if_addr.h
  include/linux/if_bridge.h
  include/linux/if_link.h
  include/linux/lwtunnel.h
  include/linux/mpls_iptunnel.h
  include/linux/neighbour.h
  include/linux/net_namespace.h
  include/linux/netlink.h
  include/linux/rtnetlink.h
  include/linux/socket.h
  zebra/rt_netlink.c
  zebra/rule_netlink.c
Labels: zebra

#5037 vtysh: fix "no log facility" command
  vtysh/vtysh.c
Labels: vtysh

#5038 [7.2] vtysh: fix "no log facility" command
  vtysh/vtysh.c
Labels: vtysh

#5034 tests: remove more topotest backward-compatibility cruft
  tests/topotests/ldp-vpls-topo1/r1/show_ip_ospf_neighbor.ref
  tests/topotests/ldp-vpls-topo1/r1/show_ip_ospf_neighbor.ref-no-neigh
  tests/topotests/ldp-vpls-topo1/r1/show_ip_ospf_neighbor.ref-old-nolist
  tests/topotests/ldp-vpls-topo1/r2/show_ip_ospf_neighbor.ref
  tests/topotests/ldp-vpls-topo1/r2/show_ip_ospf_neighbor.ref-no-neigh
  tests/topotests/ldp-vpls-topo1/r2/show_ip_ospf_neighbor.ref-old-nolist
  tests/topotests/ldp-vpls-topo1/r3/show_ip_ospf_neighbor.ref
  tests/topotests/ldp-vpls-topo1/r3/show_ip_ospf_neighbor.ref-no-neigh
  tests/topotests/ldp-vpls-topo1/r3/show_ip_ospf_neighbor.ref-old-nolist
  tests/topotests/ldp-vpls-topo1/test_ldp_vpls_topo1.py
Labels: tests

#5043 Update groups and coalesce timer
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
  doc/user/bgp.rst
Labels: bgp

#5042 vtysh: add two commands from the northbound
  vtysh/vtysh.c
Labels: vtysh

#5039 isisd: start implementing yang-modeled state data
  isisd/isis_adjacency.c
  isisd/isis_circuit.h
  isisd/isis_northbound.c
  isisd/isis_pdu.c
  yang/frr-isisd.yang
Labels: isis, yang

#5041 [7.2] isisd: fix crash during candidate validation
  isisd/isis_northbound.c
Labels: isis

#5046 Sa issues found
  bgpd/bgpd.h
  pbrd/pbr_nht.c
Labels: bgp, pbr

#4995 ospf6d: fix interface type handling
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_snmp.c
Labels: ospfv3

#5045 pimd: Mark Default TOS Values for PIM & IGMP Outgoing packets
  pimd/pim_pim.c
  pimd/pim_sock.c
Labels: pim

#5044 bgpd: fix advertise-svi-ip upon vni-svi up-down
  zebra/zebra_vxlan.c
Labels: bgp

#4959 zebra: inform upper layer error when reading correct speed interface
  zebra/if_netlink.c
  zebra/interface.c
  zebra/rt.h
  zebra/rt_socket.c
Labels: zebra

#5048 7.2 bgpd: rmap_type is 8 bit but we have 9 bits of flags
  bgpd/bgpd.h
Labels: bgp

#5040 isisd: fix crash during candidate validation
  isisd/isis_northbound.c
Labels: isis

#4972 zebra: route updates from dataplane need to check all nexthops
  zebra/zebra_rib.c
Labels: zebra

#5055 zebra: fix memory leak
  zebra/interface.c
Labels: zebra

#5053 More sa stuff this evening
  eigrpd/eigrp_network.c
  isisd/isis_te.c
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  pimd/pim_zebra.c
Labels: eigrp, isis, ospfv3, pim

#5058 zebra: handle config write for dataplane values
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_vty.c
Labels: zebra

#5059 [7.2] zebra: add dataplane variables to show run
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_vty.c
Labels: zebra

#5047 bgpd: stop sending nexthop set by "route-map in" to eBGP peers
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#5057 7.2: bgpd: stop sending nexthop set by "route-map in" to eBGP peers
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#5062 Add bgp route-map test cases
  tests/topotests/bgp-route-map/bgp_route_map_topo1.json
  tests/topotests/bgp-route-map/bgp_route_map_topo2.json
  tests/topotests/bgp-route-map/test_route_map_topo1.py
  tests/topotests/bgp-route-map/test_route_map_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topojson.py
Labels: tests

#5068 bgpd: aggregate-address A.B.C.D A.B.C.D summary-only was missreading …
  bgpd/bgp_route.c
Labels: bgp

#5069 7.2: bgpd: aggregate-address A.B.C.D A.B.C.D summary-only was missreading …
  bgpd/bgp_route.c
Labels: bgp

#5071 bgpd: [7.2] aggregate-address X:X::X:X/M summary-only was missreading config
  bgpd/bgp_route.c
Labels: bgp

#5070 bgpd: aggregate-address X:X::X:X/M summary-only was missreading config
  bgpd/bgp_route.c
Labels: bgp

#5067 bgpd: Accept no aggregate-address <IP> route-map <RMAP> commands
  bgpd/bgp_route.c
Labels: bgp

#5066 zebra: if_is_loopback_or_vrf crash if if_lookup_by_index return NULL
  zebra/zebra_rib.c
Labels: zebra

#5009 lib, zebra: Allow for interface deletion when kernel event happens
  babeld/babel_interface.c
  babeld/babel_interface.h
  babeld/babel_main.c
  babeld/babel_zebra.c
  bfdd/ptm_adapter.c
  bgpd/bgp_zebra.c
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_interface.h
  eigrpd/eigrp_zebra.c
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  ldpd/ldp_zebra.c
  lib/if.c
  lib/if.h
  lib/zclient.c
  lib/zclient.h
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_main.c
  nhrpd/nhrp_route.c
  nhrpd/nhrpd.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_zebra.c
  ospfd/ospf_zebra.h
  ospfd/ospfd.c
  pbrd/pbr_main.c
  pbrd/pbr_zebra.c
  pbrd/pbr_zebra.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_main.c
  pimd/pim_zebra.c
  pimd/pim_zebra.h
  ripd/rip_interface.c
  ripd/rip_zebra.c
  ripngd/ripng_interface.c
  ripngd/ripng_zebra.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  vrrpd/vrrp_vty.c
  vrrpd/vrrp_zebra.c
  vrrpd/vrrp_zebra.h
  zebra/if_netlink.c
  zebra/interface.c
Labels: libfrr, zebra

#5060 zebra: fix evpn prefix-routes-only for default vrf
  zebra/zebra_vrf.c
Labels: zebra

#5081 doc: add vty command information about brief usage
  doc/user/zebra.rst
Labels: documentation

#5011 bgpd: Fixed 'show bgp l2vpn evpn json' to display all routes
  bgpd/bgp_evpn_vty.c
Labels: bgp
