Repository FRRouting/frr, pull requests merged in 2019-06, with the labels that each got.

#4440 6.0: ospf6d: fix multicast join race on FreeBSD
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
Labels: ospfv3

#4442 doc: add libtool note
  doc/developer/workflow.rst
Labels: documentation

#4445 zebra: the route nexthop interfaces per vrf were not displayed ok
  zebra/zebra_rnh.c
Labels: zebra

#4274 pimd: Re-deisgn the "clear ip mroute" command.
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_igmp.h
Labels: pim

#4078 bgpd: Filtering received EVPN routes based on VNI does not work
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
Labels: bgp, bugfix

#4345 lib: Changes made to dependencies of a route-map do not take effect dynamically.
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  eigrpd/eigrp_routemap.c
  lib/routemap.c
  lib/routemap.h
  zebra/zebra_routemap.c
Labels: libfrr

#3581 No log commands
  doc/user/basic.rst
  lib/grammar_sandbox_main.c
  lib/libfrr.c
  lib/libfrr.h
  lib/subdir.am
  lib/vty.c
  lib/vty.h
  tests/helpers/c/main.c
  tests/lib/cli/common_cli.c
  tests/lib/northbound/test_oper_data.c
Labels: submitter action required, vtysh

#4436 tools: On shutdown no need to flush from tools/frr.in script
  tools/frr.in
Labels: tools

#4417 zebra: Move multicast mode to being a property of the router
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
Labels: zebra

#4447 pimd: Remove unused functions
  pimd/pim_cmd.c
Labels: pim

#4451 lib: Cleanup recent commit warn->werror issues in lib/routemap.c
  lib/routemap.c
Labels: libfrr

#4453 Deprecate bgp
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#3555 bgpd: use the wording vrf instead of table
  bgpd/bgp_route.c
Labels: bgp, submitter action required

#4454 zebra: When displaying `show evpn arp-cache vni XX` add local and rem…
  zebra/zebra_vxlan.c
Labels: zebra

#4452 pim: Add `clear ip mroute [vrf NAME] count` command
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_oil.h
Labels: documentation, pim

#4459 bfdd: Modify bfdd to quietly accept access-lists
  bfdd/bfdd.c
Labels: bfd

#4431 Switch over to `-N FOO` adding FOO to the various directories/files we open up
  babeld/babel_main.c
  bfdd/bfdd.c
  configure.ac
  doc/user/basic.rst
  doc/user/bfd.rst
  doc/user/ldpd.rst
  doc/user/zebra.rst
  ldpd/ldpd.c
  lib/libfrr.c
  lib/libfrr.h
  vtysh/vtysh_main.c
  watchfrr/watchfrr.c
  zebra/kernel_netlink.c
  zebra/zapi_msg.c
Labels: bfd, documentation, ldp, libfrr

#4462 7.1: bfdd: Modify bfdd to quietly accept access-lists
  bfdd/bfdd.c
Labels: bfd

#4463 7.0 bfdd: Modify bfdd to quietly accept access-lists
  bfdd/bfdd.c
Labels: bfd

#4333 printfrr() world domination tour
  doc/developer/logging.rst
  lib/compiler.h
  lib/log.c
  lib/log.h
  lib/module.h
  lib/nexthop.c
  lib/prefix.c
  lib/printf/README
  lib/printf/glue.c
  lib/printf/printf-pos.c
  lib/printf/printfcommon.h
  lib/printf/printflocal.h
  lib/printf/vfprintf.c
  lib/printfrr.h
  lib/sigevent.c
  lib/srcdest_table.c
  lib/srcdest_table.h
  lib/subdir.am
  lib/vty.c
  lib/vty.h
  tests/.gitignore
  tests/lib/test_printfrr.c
  tests/lib/test_printfrr.py
  tests/subdir.am
Labels: everything, libfrr

#4468 isisd: The RFC states that v6 addresses are limited to 16 in a hello …
  isisd/isis_tlvs.c
Labels: isis

#4370 Fix Router advertisements per VRF
  tests/topotests/bgp_ipv6_rtadv/__init__.py
  tests/topotests/bgp_ipv6_rtadv/r1/bgpd.conf
  tests/topotests/bgp_ipv6_rtadv/r1/ipv4_routes.json
  tests/topotests/bgp_ipv6_rtadv/r1/ipv6_routes.json
  tests/topotests/bgp_ipv6_rtadv/r1/zebra.conf
  tests/topotests/bgp_ipv6_rtadv/r2/bgpd.conf
  tests/topotests/bgp_ipv6_rtadv/r2/ipv4_routes.json
  tests/topotests/bgp_ipv6_rtadv/r2/ipv6_routes.json
  tests/topotests/bgp_ipv6_rtadv/r2/zebra.conf
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.dot
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/__init__.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/bgpd.conf
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/zebra.conf
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/bgpd.conf
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/zebra.conf
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.dot
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_ns.c
  zebra/zebra_router.h
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: zebra

#4475 7.1: isisd: The RFC states that v6 addresses are limited to 16 in a hello …
  isisd/isis_tlvs.c
Labels: isis

#4476 7.0 isisd: The RFC states that v6 addresses are limited to 16 in a hello …
  isisd/isis_tlvs.c
Labels: isis

#4477 6.0 isisd: The RFC states that v6 addresses are limited to 16 in a hello …
  isisd/isis_tlvs.c
Labels: isis

#4428 topotests: migrate ospf6 test to topogen framework
  tests/topotests/lib/topotest.py
  tests/topotests/ospf6-topo1/r1/ospf6d.conf-pre-v4
  tests/topotests/ospf6-topo1/r1/show_ipv6_route.ref
  tests/topotests/ospf6-topo1/r1/zebra.conf
  tests/topotests/ospf6-topo1/r2/ospf6d.conf-pre-v4
  tests/topotests/ospf6-topo1/r2/show_ipv6_route.ref
  tests/topotests/ospf6-topo1/r2/zebra.conf
  tests/topotests/ospf6-topo1/r3/ospf6d.conf-pre-v4
  tests/topotests/ospf6-topo1/r3/show_ipv6_route.ref
  tests/topotests/ospf6-topo1/r3/zebra.conf
  tests/topotests/ospf6-topo1/r4/ospf6d.conf-pre-v4
  tests/topotests/ospf6-topo1/r4/show_ipv6_route.ref
  tests/topotests/ospf6-topo1/r4/zebra.conf
  tests/topotests/ospf6-topo1/test_ospf6_topo1.py
Labels: tests

#4457 bgpd,babeld,bfdd,lib,ripngd,nhrpd: clean up SA warnings
  babeld/message.c
  bfdd/bfd_packet.c
  bgpd/bgp_mpath.c
  bgpd/rfapi/rfapi_import.c
  lib/vty.c
  nhrpd/vici.c
  ripngd/ripng_interface.c
Labels: babel, bgp, nhrp, ripng

#4486 eigrpd: fix invalid command definitions
  eigrpd/eigrp_routemap.c
  eigrpd/eigrp_vty.c
Labels: eigrp

#4480 inet_ntop but faster
  lib/compiler.h
  lib/ntop.c
  lib/subdir.am
  tests/.gitignore
  tests/lib/test_ntop.c
  tests/lib/test_ntop.py
  tests/subdir.am
Labels: libfrr, tests

#4484 Pbr tab complete
  lib/nexthop_group.c
  pbrd/pbr_vty.c
  sharpd/sharp_vty.c
  vtysh/vtysh.c
Labels: libfrr, pbr, sharp, vtysh

#4492 bgpd: add l2vpn evpn to afi safi parse utility
  bgpd/bgp_vty.c
Labels: bgp, bugfix

#4488 Pim solo
  pimd/pim_nht.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_upstream.c
  pimd/pim_vxlan.c
Labels: pim

#4493 zebra, pbrd: PBR handle nexthop tracking correctly
  pbrd/pbr_nht.c
  zebra/zebra_rnh.c
Labels: pbr, zebra

#4443 bgpd: [5.0] Fix bgp auto-shutdown behavior
  bgpd/bgpd.c
Labels: bgp

#4481 pimd: Allow zlookup socket to drain
  pimd/pim_zlookup.c
Labels: bugfix, pim

#4444 Zebra.h header cleanup
  lib/log.h
  lib/zclient.h
  lib/zebra.h
  pimd/mtracebis.c
Labels: libfrr, pim

#4487 More compiler cleanup
  lib/plist.c
  lib/printf/printf-pos.c
  lib/sockopt.c
  lib/thread.c
  pimd/pim_cmd.c
  pimd/pim_mroute.c
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
Labels: libfrr, pim, sharp

#4491 tools: retain WATCHDOG_USEC when reloading
  tools/frrinit.sh.in
Labels: tools, watchfrr

#4483 pimd: debug pim XXX detail now include the non detail data as well
  pimd/pimd.h
Labels: pim

#4494 pimd: The PIM_OIF_FLAG_PROTO_SRC flag was never used
  pimd/pim_cmd.c
  pimd/pim_oil.h
Labels: pim

#4498 ldpd: Fix shutdown
  ldpd/ldpd.c
Labels: bugfix, ldp

#3509 bgpd: Set bgp default nexthop value of IPv6
  bgpd/bgp_zebra.c
Labels: bgp

#4510 doc: Add systemd-devel to fedora build instruction
  doc/developer/building-frr-for-fedora.rst
Labels: documentation

#4506 lib: fix outdated candidate configuration issue
  lib/command.c
  lib/vty.c
Labels: libfrr

#4507 [7.0] lib: fix outdated candidate configuration issue
  lib/command.c
  lib/vty.c
Labels: libfrr

#4448 lib: const-unaware container_of for C++
  lib/compiler.h
  tests/lib/cxxcompat.c
Labels: libfrr

#4502 topotests: backward compatibility fix
  tests/topotests/lib/topotest.py
Labels: review & merge me

#4509 lib: make printfrr int64_t usable
  configure.ac
  isisd/isis_misc.c
  isisd/isis_misc.h
  lib/compiler.h
  lib/log.h
  lib/sbuf.c
  lib/sbuf.h
  lib/termtable.c
  lib/termtable.h
  lib/vty.c
  lib/vty.h
  lib/zebra.h
  tests/lib/test_printfrr.c
  tools/frr.vim
  zebra/interface.c
Labels: libfrr, tools

#4439 bgpd, lib: Add iana_afi2str and iana_safi2str for eye pleasing strings
  bgpd/bgp_attr.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgpd.h
  lib/iana_afi.h
  lib/subdir.am
  lib/zebra.h
Labels: bgp, libfrr

#4499 bgpd: Process core when bgp instance is deleted
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#4512 bgpd: auto router-id should not change configured vpn RD/RT
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgpd.c
Labels: bgp

#4526 eigrpd: Fix endianness issue in packets
  eigrpd/eigrp_packet.c
  eigrpd/eigrp_structs.h
Labels: bugfix, eigrp

#4521 eliminate snprintf from AF_INET/AF_INET6 prefix2str, add prefix2str test
  lib/prefix.c
  tests/.gitignore
  tests/lib/test_prefix2str.c
  tests/lib/test_prefix2str.py
  tests/subdir.am
Labels: libfrr, performance, tests

#4516 lib: Prevent infinite loop in fd handling
  lib/lib_errors.c
  lib/lib_errors.h
  lib/thread.c
Labels: libfrr

#4532 zebra: Fuzzing code has gotten a bit out of date
  zebra/kernel_netlink.c
  zebra/zserv.c
Labels: zebra

#4517 bgpd: show bgp vrfs formatting
  bgpd/bgp_vty.c
Labels: bgp

#4537 doc: add config file name for mpls config
  doc/user/installation.rst
Labels: documentation

#4505 bgpd: List all groups dynamically for commands with peer-group
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp

#4538 zebra: add ability to "show interface vrf all brief"
  zebra/interface.c
Labels: zebra

#4528 Document FRR service manipulation
  doc/user/setup.rst
Labels: documentation

#4539 [7.1] tools: retain sanity when reloading under systemd
  tools/frrinit.sh.in
Labels: tools

#4514 *: kill more warnings
  bgpd/bgp_addpath.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi.c
  configure.ac
  isisd/isis_northbound.c
  ldpd/packet.c
  lib/command_py.c
  lib/frrlua.c
  lib/id_alloc.c
  lib/if.c
  lib/ntop.c
  lib/typerb.c
  lib/typesafe.c
  ospfd/ospf_spf.c
  pimd/pim_bsm.c
  ripd/rip_northbound.c
  ripngd/ripng_northbound.c
  tests/lib/test_idalloc.c
  tests/lib/test_seqlock.c
  zebra/zebra_dplane.c
Labels: bgp, ldp, libfrr, nhrp, ospf, rip, ripng

#4540 [7.0] tools: retain sanity when reloading under systemd
  tools/frrinit.sh.in
Labels: tools

#4541 [6.0] tools: retain sanity when reloading under systemd
  tools/frrinit.sh.in
Labels: tools

#4530 Pim debugs
  pimd/pim_igmpv3.c
  pimd/pim_mroute.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_upstream.c
  pimd/pim_zebra.c
Labels: pim

#4543 bgpd: Fix memleak of Mac Hash String upon insertion
  bgpd/bgp_mac.c
Labels: bgp

#4513 bgpd: skip evpn remove marked routes from rescan
  bgpd/bgp_mac.c
Labels: bgp

#4548 bgpd: [6.0] List all groups dynamically for commands with peer-group
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp

#4300 Lib: Debugs for route-map code in FRR
  lib/command.c
  lib/command.h
  lib/routemap.c
  vtysh/vtysh_config.c
Labels: libfrr

#4495 pimd: Add a debug to indicate the ifchannel expiry timer has popped
  pimd/pim_ifchannel.c
Labels: pim

#4260 bgpd: Added the as-set option for IPV6 agg. route
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: bgp

#4547 bgpd: [7.0] List all groups dynamically for commands with peer-group
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp

#4554 zebra: Display a bit better debugging for rnh tracking
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
Labels: zebra

#4557 zebra: resolve issue with rnh not evaluating nexhops correctly
  zebra/zebra_rib.c
Labels: zebra

#4549 Multiple instance
  bgpd/bgp_errors.c
  bgpd/bgp_errors.h
  bgpd/bgp_evpn.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.conf.sample
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/routeserver.rst
  doc/user/vnc.rst
  tests/topotests/bgp_multiview_topo1/README.md
  tests/topotests/bgp_multiview_topo1/r1/bgpd.conf
Labels: bgp, documentation, tests

#4470 Bgp mac rescan
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_mac.c
Labels: bgp, bugfix

#4545 zebra: When displaying `show evpn mac vni XX` add local and remote seq
  zebra/zebra_vxlan.c
Labels: zebra

#4567 doc: Add firewalld notice in fedora
  doc/developer/building-frr-for-fedora.rst
Labels: documentation

#4568 docker: cleanup Debian docker build
  docker/debian/Dockerfile
  docker/debian/README.md
  docker/debian/daemons
Labels: docker

#4531 zebra: Handle 5549 neighbor entry failure state
  zebra/rt_netlink.c
Labels: zebra

#4576 pimd: Fixing encoded group & source address packing in right byte order
  pimd/pim_msg.h
Labels: pim

#4579 lib: fix MTYPE alias on clang
  lib/memory.h
Labels: bugfix, libfrr

#4578 Prefix list count
  doc/user/filter.rst
  lib/plist.c
Labels: bgp, documentation

#4583 pimd: Remove output of `debug igmp trace detail` from show commands
  pimd/pim_vty.c
Labels: pim

#4508 bgpd: Process core when prefix list is applied
  bgpd/bgp_updgrp.c
Labels: bgp

#4518 pimd: fix DR at LHR scenario where non DR is connected to RP
  pimd/pim_oil.c
  pimd/pim_zebra.c
Labels: pim

#4574 bgpd: [6.0] Validate as-path access-list before continuing regarding invali…
  bgpd/bgp_filter.c
Labels: bgp

#4262 bgpd : Support for exact-match in match clause for lcommunity
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
Labels: bgp, submitter action required

#4536 bfdd: avoid double socket initialisation on same netns
  bfdd/bfd.c
Labels: bfd

#4331 bgpd : add prefix-length in show ip bgp neighbor advertised routes key
  bgpd/bgp_route.c
Labels: bgp, submitter action required

#4589 doc: Correct some comments and CLI helper for `match ip[v6] next-hop type`
  lib/routemap.c
Labels: documentation

#4590 doc: [7.0] Specify allowed chars in bgp regular expressions
  bgpd/bgp_filter.c
  bgpd/bgp_route.c
Labels: documentation

#4591 doc: [6.0] Specify allowed chars in bgp regular expressions
  bgpd/bgp_filter.c
  bgpd/bgp_route.c
Labels: documentation

#4592 rmap: [7.0] Backport changes regarding `no match ip next-hop type`
  lib/routemap.c
  ospfd/ospf_routemap.c
  ripd/rip_routemap.c
  zebra/zebra_routemap.c
Labels: bugfix, zebra

#4593 rmap: [7.1] Backport changes regarding `no match ip next-hop type`
  lib/routemap.c
  ospfd/ospf_routemap.c
  ripd/rip_routemap.c
  zebra/zebra_routemap.c
Labels: bugfix, zebra

#4586 bgpd: `neighbor X:X::X default-originate` complains about (null)
  bgpd/bgp_vty.c
Labels: bgp

#4294 Zebra: EVPN remote RMAC download via FPM channel using netlink msg format
  zebra/zebra_fpm.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_fpm_private.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: enhancement, zebra

#3775 Ospf missing interface handling 2
  babeld/babel_interface.c
  babeld/babeld.c
  bfdd/bfd.c
  bfdd/ptm_adapter.c
  bgpd/bgp_network.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  eigrpd/eigrp_filter.c
  eigrpd/eigrp_routemap.c
  eigrpd/eigrp_zebra.c
  isisd/isis_cli.c
  isisd/isis_northbound.c
  isisd/isis_te.c
  lib/if.c
  lib/if.h
  lib/vrf.c
  lib/vrf.h
  lib/zclient.c
  nhrpd/nhrp_interface.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_top.c
  ospfd/ospf_interface.c
  ospfd/ospf_te.c
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_msdp_socket.c
  pimd/pim_static.c
  pimd/pim_zebra.c
  ripd/rip_interface.c
  ripd/rip_routemap.c
  ripd/ripd.c
  ripngd/ripng_interface.c
  ripngd/ripng_routemap.c
  ripngd/ripngd.c
  sharpd/sharp_zebra.c
  staticd/static_routes.c
  staticd/static_zebra.c
  zebra/connected.c
  zebra/if_ioctl.c
  zebra/if_ioctl_solaris.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/ioctl.c
  zebra/kernel_socket.c
  zebra/redistribute.c
  zebra/router-id.c
  zebra/rt_netlink.c
  zebra/rtadv.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_ptm.c
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
Labels: everything

#4595 bgpd: [7.1] List all groups dynamically for commands with peer-group
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp

#4584 zebra logging improvements
  zebra/rt_netlink.c
  zebra/zebra_rib.c
Labels: zebra

#4520 pimd: Added cli to generate igmp query.
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_igmp.h
Labels: pim

#4519 Pim bug fixes
  pimd/pim_ifchannel.c
Labels: pim

#4603 lib: add a check for {[...]} in DEFUNs
  lib/command_parse.y
Labels: bugfix, libfrr

#4458 zebra: Clean up BGP EVPN configuration when the client, BGPD, goes down
  zebra/main.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: review & merge me, zebra

#4544 bgpd: print ecom in evpn route output
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
Labels: bgp

#4606 bgpd: Fixup `no redistribute ...` commands to allow any order
  bgpd/bgp_vty.c
Labels: bgp

#4570 lib: Add `clear route-map counters [WORD]` command
  doc/user/routemap.rst
  lib/routemap.c
  lib/routemap.h
Labels: libfrr

#4525 Some cleanups
  lib/vty.c
  pimd/pim_assert.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_ifchannel.c
  pimd/pim_mroute.c
  pimd/pim_static.c
  pimd/pim_upstream.c
  pimd/pim_zebra.c
Labels: libfrr, pim

#4575 zebra: show evpn mac vni xx json output is broken
  zebra/zebra_vxlan.c
Labels: bugfix, zebra

#4602 Nexthop Tracking and Static route fix
  staticd/static_nht.c
  zebra/zebra_rnh.c
Labels: staticd, zebra

#4617 topotests/ bgp_l3vpn_to_bgp_vrf: improvements
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_down.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_up.py
  tests/topotests/lib/lutil.py
Labels: tests

#4608 vtysh: Try to be perscriptive about pam failures
  vtysh/vtysh_user.c
Labels: vtysh

#4615 [5.0]pimd: Dissallow query to be received from a non-connected source
  pimd/pim_igmp.c
Labels: pim

#4601 bgpd: [5.0] Validate as-path access-list before continuing regarding invalid
  bgpd/bgp_filter.c
  bgpd/bgp_route.c
Labels: bgp, documentation
