Repository FRRouting/frr, pull requests merged in 2019-07, with the labels that each got.

#4496 bgpd: vrf route leak handle bgp instance delete recreate
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
Labels: bgp

#3888 ospfd: Cleanup ospf->redist and ospf->external on shutdown
  ospfd/ospfd.c
Labels: ospf

#4086 Fix a couple of YANG validation issues
  lib/northbound.c
  ripd/rip_cli.c
Labels: bugfix, dependency-bug, in progress, rip

#4598 bgpd: 'show bgp ipv6 neighbors <X::Y> prefix-counts' prefix-count is not getting displayed
  bgpd/bgp_route.c
Labels: bgp

#4622 Import table fix
  zebra/redistribute.c
  zebra/redistribute.h
  zebra/rt_netlink.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: zebra

#4634 lib: add process pids to 'show modules'
  lib/memory_vty.c
Labels: libfrr

#4633 [7.1] *: s/TRUE/true/, s/FALSE/false/
  bgpd/bgp_nht.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.c
  eigrpd/eigrp_const.h
  fpm/fpm.h
  lib/table.h
  ospfd/ospf_spf.c
  ospfd/ospf_vty.c
  pimd/pim_assert.c
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_macro.c
  pimd/pim_register.c
  pimd/pim_rpf.c
  pimd/pim_upstream.c
  pimd/pim_vxlan.c
  zebra/interface.h
  zebra/irdp.h
  zebra/irdp_interface.c
  zebra/rib.h
  zebra/zebra_fpm.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_rib.c
Labels: cleanup

#4524 Run-time log filtering via vtysh commands
  doc/user/basic.rst
  lib/command.h
  lib/libfrr.c
  lib/log.c
  lib/log.h
  lib/log_vty.c
  lib/log_vty.h
  lib/subdir.am
  tests/topotests/bgp_multiview_topo1/README.md
  tests/topotests/lib/topotest.py
  tests/topotests/ospf6-topo1/README.md
  vtysh/vtysh.c
Labels: documentation, libfrr, vtysh

#4323 lib: Add a couple functions to nexthop_group.c
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/nexthop_group_private.h
  lib/subdir.am
  pbrd/pbr_nht.c
  pbrd/pbr_vty.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: libfrr

#4550 Fix bgp-lu label callback crash
  bgpd/bgp_label.c
  bgpd/bgp_labelpool.c
  zebra/label_manager.c
Labels: bgp, bugfix, zebra

#4638 ospfd: Do not modify list when using _RO loop
  ospfd/ospfd.c
Labels: bugfix, ospf

#4629 bgpd: Validate large-community-list against UINT_MAX
  bgpd/bgp_clist.c
Labels: bgp, bugfix

#4641 zebra: remove bs irdp error code
  zebra/irdp_packet.c
  zebra/zebra_errors.c
  zebra/zebra_errors.h
Labels: zebra

#4556 bgpd: [6.0] interface based peers should automatically override it's peer g…
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/bgpd/test_peer_attr.py
Labels: bgp

#4637 isisd printfrr & clippy fixes
  isisd/isis_misc.c
  python/clidef.py
Labels: bugfix, isis

#4632 bgpd: fix bgp-lu update bug
  bgpd/bgp_attr.c
Labels: bgp, bugfix

#4640 bgpd: BMP preparations
  bgpd/bgp_dump.c
  bgpd/bgp_dump.h
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, bugfix

#4639 make c-ares DNS resolver available as lib
  configure.ac
  debian/frr.install
  lib/command.c
  lib/command.h
  lib/lib_errors.c
  lib/lib_errors.h
  lib/resolver.c
  lib/resolver.h
  lib/subdir.am
  nhrpd/nhrp_errors.c
  nhrpd/nhrp_errors.h
  nhrpd/nhrp_main.c
  nhrpd/nhrpd.h
  nhrpd/subdir.am
  vtysh/vtysh_config.c
Labels: libfrr

#4653 pimd: fix some help strings
  pimd/pim_cmd.c
Labels: bugfix, pim

#4631 zebra: evpn entries are not cleaned upon frr stop
  zebra/zebra_vxlan.c
Labels: zebra

#4654 bgpd: fix implicit declaration warning
  bgpd/bgp_labelpool.c
Labels: bgp

#4646 bgpd: [7.1] Validate large-community-list against UINT_MAX
  bgpd/bgp_clist.c
Labels: bgp

#4647 bgpd: [7.0] Validate large-community-list against UINT_MAX
  bgpd/bgp_clist.c
Labels: bgp

#4648 bgpd: [6.0] Validate large-community-list against UINT_MAX
  bgpd/bgp_clist.c
Labels: bgp

#4657 vrrpd: use protocol number constant
  vrrpd/vrrp_packet.c
Labels: vrrp

#4446 topotests: Topojson framework
  doc/developer/topotests-jsontopo.rst
  tests/topotests/bgp-basic-functionality-topo1/__init__.py
  tests/topotests/bgp-basic-functionality-topo1/bgp_basic_functionality.json
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-path-attributes-topo1/__init__.py
  tests/topotests/bgp-path-attributes-topo1/bgp_path_attributes.json
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/bgp-prefix-list-topo1/__init__.py
  tests/topotests/bgp-prefix-list-topo1/prefix_lists.json
  tests/topotests/bgp-prefix-list-topo1/test_prefix_lists.py
  tests/topotests/example-topojson-test/__init__.py
  tests/topotests/example-topojson-test/test_topo_json_multiple_links/__init__.py
  tests/topotests/example-topojson-test/test_topo_json_multiple_links/example_topojson_multiple_links.json
  tests/topotests/example-topojson-test/test_topo_json_multiple_links/test_example_topojson_multiple_links.py
  tests/topotests/example-topojson-test/test_topo_json_single_link/__init__.py
  tests/topotests/example-topojson-test/test_topo_json_single_link/example_topojson.json
  tests/topotests/example-topojson-test/test_topo_json_single_link/test_example_topojson.py
  tests/topotests/example-topojson-test/test_topo_json_single_link_loopback/__init__.py
  tests/topotests/example-topojson-test/test_topo_json_single_link_loopback/example_topojson.json
  tests/topotests/example-topojson-test/test_topo_json_single_link_loopback/test_example_topojson.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topojson.py
  tests/topotests/pytest.ini
Labels: tests

#4643 doc: inform user to use pytest < version 5.0
  doc/developer/building-frr-for-omnios.rst
  doc/developer/topotests.rst
Labels: documentation

#4511 Flowspec some fixes
  bgpd/bgp_pbr.c
  bgpd/bgp_pbr.h
  bgpd/bgp_routemap.c
  bgpd/bgp_zebra.c
  lib/pbr.h
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: bgp, libfrr, zebra

#4655 vrrpd: set interface ifindex to internal upon deletion
  vrrpd/vrrp_zebra.c
Labels: vrrp

#4088 build, lib: bump libyang requirement version to >= 0.16.105 (-r3)
  configure.ac
  doc/developer/building-libyang.rst
  doc/user/installation.rst
  lib/northbound.c
Labels: build, cleanup

#4437 bfdd: migrate to northbound
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_northbound.c
  bfdd/bfdd_vty.c
  bfdd/subdir.am
  lib/northbound.h
  lib/northbound_cli.c
  yang/frr-bfdd.yang
  yang/subdir.am
Labels: bfd, enhancement, libfrr, review & merge me, yang

#4596 bgpd: [5.0] interface based peers should automatically override it's peer g…
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/bgpd/test_peer_attr.py
Labels: bgp

#4609 bgpd: Show `delete` sub-option for `set [l]comm-list <list> delete`
  bgpd/bgp_routemap.c
Labels: bgp

#4619 yang: import EIGRP YANG model
  eigrpd/eigrp_vty.c
  yang/frr-eigrpd.yang
Labels: help wanted, yang

#4665 bgpd: [7.1] Show `delete` sub-option for `set [l]comm-list <list> delete`
  bgpd/bgp_routemap.c
Labels: bgp

#4675 bgpd: honor max prefix timer on inbound sessions
  bgpd/bgp_network.c
Labels: bgp

#4670 bgpd: fix show bgp l2vpn evpn route json
  bgpd/bgp_evpn_vty.c
Labels: bgp

#4674 lib,zebra: avoid use of ctime in monotime api
  lib/monotime.h
  zebra/zebra_vxlan.c
Labels: libfrr, zebra

#4681 bgpd: [6.0] solve issue entering aggregate twice
  bgpd/bgp_route.c
Labels: bgp, bugfix

#4325 zebra: Modify zebra to order nexthops received
  zebra/zebra_rib.c
Labels: zebra

#4664 zebra: Add a conditional guard if zvrf lookup fail
  zebra/rt_netlink.c
Labels: zebra

#4660 Label manager improvements + refactor
  bgpd/bgp_labelpool.c
  ldpd/lde.c
  ldpd/ldpd.c
  lib/mpls.h
  lib/zclient.c
  lib/zclient.h
  tests/test_lblmgr.c
  tests/topotests/lm-proxy-topo1/ce1/bgpd.conf
  tests/topotests/lm-proxy-topo1/ce1/zebra.conf
  tests/topotests/lm-proxy-topo1/ce2/bgpd.conf
  tests/topotests/lm-proxy-topo1/ce2/zebra.conf
  tests/topotests/lm-proxy-topo1/lm-proxy-topo1.dot
  tests/topotests/lm-proxy-topo1/lm-proxy-topo1.pdf
  tests/topotests/lm-proxy-topo1/lm/zebra.conf
  tests/topotests/lm-proxy-topo1/p1/ldpd.conf
  tests/topotests/lm-proxy-topo1/p1/ospfd.conf
  tests/topotests/lm-proxy-topo1/p1/zebra.conf
  tests/topotests/lm-proxy-topo1/pe1/bgpd.conf
  tests/topotests/lm-proxy-topo1/pe1/ldpd.conf
  tests/topotests/lm-proxy-topo1/pe1/ospfd.conf
  tests/topotests/lm-proxy-topo1/pe1/zebra.conf
  tests/topotests/lm-proxy-topo1/pe2/bgpd.conf
  tests/topotests/lm-proxy-topo1/pe2/ldpd.conf
  tests/topotests/lm-proxy-topo1/pe2/ospfd.conf
  tests/topotests/lm-proxy-topo1/pe2/zebra.conf
  tests/topotests/lm-proxy-topo1/test_lm-proxy-topo1.py
  zebra/label_manager.c
  zebra/label_manager.h
  zebra/main.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zserv.c
  zebra/zserv.h
Labels: libfrr, tests, zebra

#4666 bgpd: [7.0] Show `delete` sub-option for `set [l]comm-list <list> delete`
  bgpd/bgp_routemap.c
Labels: bgp

#4667 bgpd: [6.0] Show `delete` sub-option for `set [l]comm-list <list> delete`
  bgpd/bgp_routemap.c
Labels: bgp

#4658 ospfd: fix various show ip ospf neighbor json commands
  ospfd/ospf_vty.c
Labels: ospf

#4687 tests: remove strlen assert in inet_ntop tests
  tests/lib/test_ntop.c
Labels: bugfix, tests

#4635 pimd, zebra: request for replay of VxLAN SG entries on pimd startup
  lib/log.c
  lib/zclient.h
  pimd/pim_zebra.c
  zebra/zapi_msg.c
  zebra/zebra_vrf.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: pim, zebra

#4684 Various fixes
  vtysh/vtysh_config.c
  zebra/interface.c
Labels: vtysh, zebra

#4669 isisd: migrate BFD command to northbound
  isisd/fabricd.h
  isisd/isis_cli.c
  isisd/isis_cli.h
  isisd/isis_main.c
  isisd/isis_northbound.c
  isisd/isis_vty_common.c
  isisd/isis_vty_common.h
  isisd/isis_vty_fabricd.c
  isisd/subdir.am
  yang/frr-isisd.yang
Labels: bfd, isis, review & merge me

#4662 [7.1] lib: fix outdated candidate configuration issue
  lib/command.c
  lib/vty.c
Labels: libfrr

#4685 ospfd: no router ospf crash fix
  ospfd/ospf_packet.c
  ospfd/ospfd.c
Labels: ospf

#4680 tests: Topotests are not giving sufficient time to propagate data
  tests/topotests/lib/common_config.py
Labels: tests

#4704 lib: use const in ipaddr2str
  lib/ipaddr.h
Labels: libfrr

#4695 Zebra zapi msgs
  pbrd/pbr_nht.c
  zebra/label_manager.c
  zebra/zapi_msg.c
  zebra/zebra_vxlan.c
Labels: pbr, zebra

#4688 docker: build alpine docker w/ rpki enabled
  alpine/APKBUILD.in
Labels: docker, enhancement, rpki

#4708 topotest: attempt to stabilize CI system
  tests/topotests/bgp-prefix-list-topo1/test_prefix_lists.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_down.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_up.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/lutil.py
  tests/topotests/lib/test/test_run_and_expect.py
  tests/topotests/lib/topotest.py
Labels: review & merge me, tests

#4725 vtysh: send "exit-vrf" command to staticd
  vtysh/vtysh.c
Labels: vtysh

#4691 Pim upstream ref
  pimd/pim_mroute.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_rpf.c
  pimd/pim_static.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_zebra.c
Labels: pim

#4730 lib: fix missing M:A:C to X:X:X:X:X:X changes
  doc/developer/cli.rst
  zebra/zebra_vty.c
Labels: libfrr

#4735 bgpd: solve invalid error message when clearing interface peer
  bgpd/bgp_vty.c
Labels: bgp

#4737 topotest: fix bgp-path-attributes-topology
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
Labels: bugfix, review & merge me, tests

#4729 vtysh: send vtysh_quit_nexthop_group to pbrd and sharpd
  vtysh/vtysh.c
Labels: vtysh

#4740 lib: OMGWTFBBQ × 2
  lib/compiler.h
  lib/prefix.c
  lib/prefix.h
  lib/typesafe.h
Labels: libfrr

#4736 zebra: skip queued entries when resolving nexthop
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
Labels: zebra

#4728 bgpd: Add hidden `next-hop-self all` for all address families
  bgpd/bgp_vty.c
Labels: bgp, bugfix

#4751 vrrpd: set interface ifindex to internal upon interface deletion
  vrrpd/vrrp_zebra.c
Labels: bugfix, vrrp

#4560 bgp: Route-map VNI in-filter filters out all the routes for EVPN
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  bgpd/bgp_updgrp_adv.c
  eigrpd/eigrp_routemap.c
  isisd/isis_routemap.c
  lib/routemap.c
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  ospfd/ospf_routemap.c
  ospfd/ospf_zebra.c
  ripd/rip_routemap.c
  ripngd/ripng_routemap.c
  zebra/redistribute.c
  zebra/zebra_nhg.c
  zebra/zebra_rnh.c
  zebra/zebra_routemap.c
Labels: bgp, libfrr

#4747 bgpd: [6.0] Add hidden `next-hop-self all` for all address families
  bgpd/bgp_vty.c
Labels: bgp

#4748 bgpd: [7.0] Add hidden `next-hop-self all` for all address families
  bgpd/bgp_vty.c
Labels: bgp

#4749 bgpd: [7.1] Add hidden `next-hop-self all` for all address families
  bgpd/bgp_vty.c
Labels: bgp

#4698 frr-reload.py: fix reload with different settings
  tools/frr-reload.py
Labels: bugfix, review & merge me, tools

#4582 bgpd: Do not display to end user not found afi/safi's
  bgpd/bgp_vty.c
Labels: bgp

#4649 filter: Introduce sequence number for access-list
  lib/filter.c
Labels: enhancement, libfrr

#4721 bgpd: encode implicit next-hop-self in some vrf route leaking scenarios
  bgpd/bgp_attr.c
Labels: bgp

#4732 vtysh: only show error codes once
  lib/ferr.c
  lib/ferr.h
  lib/libfrr.c
  vtysh/vtysh.c
  vtysh/vtysh_main.c
Labels: vtysh

#4746 Zebra rib improvements
  tests/topotests/bfd-topo2/r1/ipv4_routes.json
  tests/topotests/bfd-topo2/r1/ipv6_routes.json
  tests/topotests/bfd-topo2/r2/ipv4_routes.json
  tests/topotests/bfd-topo2/r2/ipv6_routes.json
  tests/topotests/bfd-topo2/r3/ipv4_routes.json
  tests/topotests/bfd-topo2/r4/ipv4_routes.json
  tests/topotests/bfd-topo2/r4/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv6_routes.json
  zebra/connected.c
  zebra/interface.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
Labels: zebra

#4750 bgpd: stop removing and replacing private asn if it matches the peer
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_route.c
Labels: bgp, bugfix

#4650 zebra: add show ip route all command to dump all unicast tables
  doc/user/zebra.rst
  zebra/zebra_vty.c
Labels: zebra

#4671 pimd: handle endianness in pim header structure
  pimd/pim_msg.h
Labels: pim

#4756 doc: fix "match as-path" documentation
  doc/user/routemap.rst
Labels: documentation

#4754 tools: improve gen_northbound_callbacks
  tools/gen_northbound_callbacks.c
Labels: enhancement, review & merge me, tools

#4690 Staticstuff
  staticd/static_nht.c
  staticd/static_nht.h
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_zebra.c
  staticd/static_zebra.h
Labels: bugfix, staticd
