Repository FRRouting/frr, pull requests merged in 2019-10, with the labels that each got.

#5086 isisd: Fix handling of neighbor circuit id in three way handshake
  isisd/isis_pdu.c
Labels: isis

#5089 isisd: Fix handling of neighbor circuit id in three way handshake
  isisd/isis_pdu.c
Labels: isis

#5087 topotests: skip tests when any assert fails
  tests/topotests/conftest.py
Labels: tests

#5090 lib: Decode vrf_id update appropriately from zapi
  lib/zclient.c
Labels: libfrr

#5093 [7.0] lib: Decode vrf_id update appropriately from zapi
  lib/zclient.c
Labels: libfrr

#5091 [7.2] lib: Decode vrf_id update appropriately from zapi
  lib/zclient.c
Labels: libfrr

#5073 bgpd: [7.2] Accept no aggregate-address <IP> route-map <RMAP> commands
  bgpd/bgp_route.c
Labels: bgp

#5092 [7.1] lib: Decode vrf_id update appropriately from zapi
  lib/zclient.c
Labels: libfrr

#5095 ZEBRA_ROUTE_ALL fix
  sharpd/sharp_zebra.c
  zebra/redistribute.c
Labels: sharp, zebra

#5096 [7.2]zebra: Fix redistribution deletion for ZEBRA_ROUTE_ALL
  zebra/redistribute.c
Labels: zebra

#5079 zebra: during shutdown processing, drop dplane results
  zebra/main.c
  zebra/zebra_rib.c
  zebra/zebra_router.h
Labels: zebra

#5103 doc: Add some additional warnings around Turning off bgp capabilities
  doc/user/bgp.rst
Labels: documentation

#5102 Fix some warnings
  bgpd/bgp_rpki.c
  bgpd/bgp_zebra.c
Labels: bgp

#5082 tests: Add a topology that shows broken ibgp Route Reflector behavior
  tests/topotests/bgp_rr_ibgp/spine1/bgpd.conf
  tests/topotests/bgp_rr_ibgp/spine1/show_ip_route.json_ref
  tests/topotests/bgp_rr_ibgp/spine1/staticd.conf
  tests/topotests/bgp_rr_ibgp/spine1/zebra.conf
  tests/topotests/bgp_rr_ibgp/spine2/bgpd.conf
  tests/topotests/bgp_rr_ibgp/spine2/show_ip_route.json_ref
  tests/topotests/bgp_rr_ibgp/spine2/staticd.conf
  tests/topotests/bgp_rr_ibgp/spine2/zebra.conf
  tests/topotests/bgp_rr_ibgp/test_bgp_rr_ibgp_topo1.py
  tests/topotests/bgp_rr_ibgp/tor1/bgpd.conf
  tests/topotests/bgp_rr_ibgp/tor1/show_ip_route.json_ref
  tests/topotests/bgp_rr_ibgp/tor1/staticd.conf
  tests/topotests/bgp_rr_ibgp/tor1/zebra.conf
  tests/topotests/bgp_rr_ibgp/tor2/bgpd.conf
  tests/topotests/bgp_rr_ibgp/tor2/show_ip_route.json_ref
  tests/topotests/bgp_rr_ibgp/tor2/staticd.conf
  tests/topotests/bgp_rr_ibgp/tor2/zebra.conf
  tests/topotests/pytest.ini
Labels: tests

#4964 tests: Fix bgp-ecmp-topo2
  tests/topotests/bgp-ecmp-topo2/ebgp_ecmp_topo2.json
  tests/topotests/bgp-ecmp-topo2/ibgp_ecmp_topo2.json
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/pytest.ini
Labels: tests

#5106 bgpd: Use uint32_t for maximum-prefix
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5105 lib, watchfrr: Add some additional status messages to systemd
  lib/systemd.c
  lib/systemd.h
  watchfrr/watchfrr.c
Labels: libfrr, watchfrr

#5112 lib: reject leading 0 in ipv4 decimal quad
  lib/command_match.c
Labels: libfrr

#5123 lib: fix typo
  lib/command.h
Labels: libfrr

#5120 pbrd: Don't track ipv6 link locals
  pbrd/pbr_nht.c
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
Labels: pbr

#5125 pimd: Fix zlog_warn when we mean debug and vice versa
  pimd/pim_join.c
  pimd/pim_mroute.c
Labels: pim

#5127 configure.ac/doc: update address sanitizer pointers
  configure.ac
  doc/developer/topotests.rst
Labels: build, documentation

#5116 bgpd: [7.1] Use uint32_t for maximum-prefix
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5115 bgpd: [7.2] Use uint32_t for maximum-prefix
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5126 lib: fix gRPC northbound plugin build
  lib/northbound_grpc.cpp
Labels: libfrr

#5129 doc: add style guide for YANG
  doc/developer/workflow.rst
Labels: documentation

#4265 bgpd: ability to export prefixes entries to a kernel table identifier
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_zebra.c
  doc/user/routemap.rst
  zebra/zapi_msg.c
Labels: bgp, review & merge me

#5131 bgpd: When creating extra from stack ensure it is zero'ed out
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi_import.c
  lib/prefix.c
Labels: bgp

#4885 pimd, lib, Zebra: PIM MLAG Support
  Makefile.am
  lib/mlag.c
  lib/mlag.h
  lib/zclient.c
  lib/zclient.h
  mlag/mlag.proto
  mlag/subdir.am
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_main.c
  pimd/pim_mlag.c
  pimd/pim_mlag.h
  pimd/pim_zebra.c
  pimd/pimd.h
  pimd/subdir.am
  zebra/subdir.am
  zebra/zapi_msg.c
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_private.c
  zebra/zebra_mlag_private.h
  zebra/zebra_router.h
  zebra/zserv.h
Labels: libfrr, pim, zebra

#5142 Northbound optimizations
  lib/command.c
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/vty.c
  lib/vty.h
Labels: libfrr, performance

#5117 bgpd: Remove depracated `ip` prefix for as-path/extcommunity/large/co…
  bgpd/bgp_filter.c
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: bgp

#5141 bfdd: pack of bug fixes
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_northbound.c
  bfdd/ptm_adapter.c
  lib/yang_wrappers.c
  lib/yang_wrappers.h
Labels: bfd

#5132 *: Fix Interface Infinite Loop Walk and Cleanup if_create Codepath
  lib/if.c
  lib/if.h
  ospfd/ospf_interface.c
  pimd/pim_iface.c
  zebra/if_netlink.c
  zebra/kernel_socket.c
Labels: libfrr

#5148 bgpd: move assert out of error case
  bgpd/bgp_io.c
Labels: bgp

#5083 vtysh: fix searching commands in parent nodes
  lib/command.c
  vtysh/vtysh.c
Labels: vtysh

#5128 yang: zebra modules formatting
  lib/subdir.am
  yang/frr-nexthop.yang
  yang/frr-zebra.yang
  yang/ietf/ietf-routing-types.yang
  yang/subdir.am
Labels: yang

#5130 bgpd: AS paths are uint32_t instead of integers
  bgpd/bgp_aspath.c
  lib/json.c
  lib/json.h
Labels: bgp

#5119 bgpd: Implement "sh bgp l2vpn evpn community|large-community X"
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5152 Some bgp evpn fixes
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
Labels: bgp

#5022 bgpd: evpn fix advertise-svi-ip display in show commands
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5156 bgpd: Soft reconfig-in should find the right bgp_path_info
  bgpd/bgp_route.c
Labels: bgp

#5158 [7.2] bfdd: pack of bug fixes
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_northbound.c
  bfdd/ptm_adapter.c
Labels: bfd

#5153 lib: fix harmless lyd_schema_sort() warning
  lib/northbound_cli.c
Labels: libfrr

#5145 lib: Clean up the index that is being used for storing FD and events.
  lib/thread.c
Labels: libfrr

#5134 lib: changes for making snmp socket non-blocking
  lib/agentx.c
Labels: libfrr

#5160 7.2 bgp backports
  bgpd/bgp_aspath.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi_import.c
  lib/prefix.c
Labels: bgp, libfrr

#5088 lib: Revert usage of asm-code in MTYPE definitions
  doc/developer/memtypes.rst
  lib/frrcu.c
  lib/memory.h
Labels: libfrr

#5097 bgpd: Keep the session down if maximum-prefix is reached
  bgpd/bgp_network.c
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp

#5162 bgpd: [7.2] Keep the session down if maximum-prefix is reached
  bgpd/bgp_network.c
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp, tests

#5163 bgpd: [7.1] Keep the session down if maximum-prefix is reached
  bgpd/bgp_network.c
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp, tests

#5164 bgpd: [7.0] Keep the session down if maximum-prefix is reached
  bgpd/bgp_network.c
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp, tests

#5139 lib, zebra: Fix last write command written
  lib/zclient.c
  lib/zclient.h
  zebra/zserv.c
Labels: libfrr, zebra

#5157 [7.2] Fix Interface Infinite Loop Walk
  lib/if.c
  lib/if.h
Labels: libfrr

#5118 bgpd: Fix in "show bgp l2vpn evpn neighbors X.X.X.X routes json"
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5078 bgpd: Fix "show bgp l2vpn evpn neighbors x.x.x.x advertised-routes json"
  bgpd/bgp_route.c
  bgpd/bgp_vpn.c
Labels: bfd, bgp, documentation, eigrp, isis, libfrr, ospf, pbr, pim, sharp, staticd, tests, tools, vtysh, zebra

#5167 nhrpd: be more careful in linkedlist macro
  nhrpd/list.h
  nhrpd/nhrpd.h
Labels: iterating, nhrp

#5175 lib, vtysh: add new libyang option to the "debug northbound" command
  lib/northbound_cli.c
  lib/northbound_grpc.cpp
  lib/yang.c
  lib/yang.h
  vtysh/vtysh.c
Labels: libfrr, vtysh

#5161 lib,zebra: Fix PBR Rule Ifp Reference if Interface is Deleted
  lib/pbr.h
  zebra/rule_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: libfrr, zebra

#5165 bgpd: return created bgp_path_info
  bgpd/bgp_evpn.c
Labels: bgp

#5181 vrrpd: use CS2MS instead of constant 10 everywhere
  vrrpd/vrrp.c
  vrrpd/vrrp_vty.c
Labels: vrrp

#5182 doc: fix read-quanta .. index copy-paste err
  doc/user/bgp.rst
Labels: documentation

#5172 Sa clean and clean
  bgpd/bgp_bmp.c
  bgpd/bgp_evpn.c
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_pbr.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/vnc_import_bgp.c
  doc/user/bgp.rst
  lib/filter.c
  zebra/zebra_vty.c
Labels: bgp, documentation, libfrr, zebra

#5180 nhrpd: clean up SA warning
  nhrpd/list.h
  nhrpd/nhrpd.h
Labels: nhrp

#4850 bgpd: Adding new bgp evpn cli's for ip-prefix lookup
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_route.c
  lib/prefix.c
  lib/prefix.h
Labels: bgp

#5184 zebra: Rib Update Event Scheduler For Un-managed Routes, etc.
  zebra/if_netlink.c
  zebra/rib.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra

#5108 Sendbuffer size bgp
  bgpd/bgp_main.c
  bgpd/bgp_network.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/manpages/bgpd.rst
  doc/user/bgp.rst
  lib/sockopt.c
  lib/sockopt.h
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_mp_attr.c
  tests/bgpd/test_mpath.c
  tests/bgpd/test_packet.c
  tests/bgpd/test_peer_attr.c
Labels: bgp, documentation

#5198 [7.2]bgpd: fix include path for bgp_bmp_clippy.c
  bgpd/bgp_bmp.c
Labels: bgp

#5193 Document release procedure
  doc/developer/frr-release-procedure.rst
  doc/developer/maintainer-release-build.rst
  doc/developer/packaging.rst
  doc/developer/release-announcement-template.md
  doc/developer/subdir.am
  doc/developer/topotests-jsontopo.rst
  doc/developer/workflow.rst
Labels: documentation

#5204 doc: vrrp vip must not be on parent interface
  doc/user/vrrp.rst
Labels: documentation

#5202 isisd: Correct missing advertisement of TE parameters
  isisd/isis_northbound.c
Labels: bugfix, isis

#5214 doc: Update supported platforms matrix w/ vrrpd
  doc/user/overview.rst
Labels: documentation

#5217 bgpd: clarify evpn datastruct use for SA
  bgpd/bgp_evpn.c
Labels: bgp

#5203 vrrpd: fix startup error message reporting
  vrrpd/vrrp.c
Labels: vrrp

#5219 staticd: check tuple (vrf, name) when interface events received
  staticd/static_routes.c
Labels: staticd

#5220 bgpd: remove error message for unkown afi/safi combination
  bgpd/bgp_vty.c
Labels: bgp

#5200 doc: Update documentation for access-list with sequence numbers
  doc/user/filter.rst
Labels: documentation

#5221 bgpd: 7.2 - remove error message for unkown afi/safi combination
  bgpd/bgp_vty.c
Labels: bgp

#5213 lib: Remove include of deprecated sysctl.h
  lib/zebra.h
Labels: libfrr

#5223 Fix it it it it it it
  lib/if.c
  lib/printf/glue.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_rp.c
  zebra/connected.c
Labels: libfrr, pim, zebra

#5216 bgpd: Override peer's TTL only if peer-group is configured with TTL
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5233 doc: [7.2] Update documentation for access-list with sequence numbers
  doc/user/filter.rst
Labels: documentation

#5227 bgpd: [7.2] Override peer's TTL only if peer-group is configured with TTL
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5228 bgpd: [7.1] Override peer's TTL only if peer-group is configured with TTL
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#4897 Zebra Nexthop Group Rework and Kernel Nexthop Object API Init
  doc/user/zebra.rst
  include/linux/nexthop.h
  include/subdir.am
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/route_types.txt
  pbrd/pbr_nht.c
  tests/topotests/bfd-topo2/r1/ipv6_routes.json
  tests/topotests/bfd-topo2/r2/ipv4_routes.json
  tests/topotests/bfd-topo2/r2/ipv6_routes.json
  tests/topotests/bfd-topo2/r3/ipv4_routes.json
  tests/topotests/bfd-topo2/r4/ipv6_routes.json
  tests/topotests/bgp_ipv6_rtadv/r1/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv6_routes.json
  zebra/connected.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/main.c
  zebra/redistribute.c
  zebra/rib.h
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/rt_socket.c
  zebra/rtread_getmsg.c
  zebra/subdir.am
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_errors.c
  zebra/zebra_errors.h
  zebra/zebra_fpm_dt.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_fpm_protobuf.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_nhg_private.h
  zebra/zebra_pw.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_snmp.c
  zebra/zebra_vty.c
Labels: libfrr, zebra

#5234 Fix sa or else
  bfdd/bfd.c
  bfdd/bfd_packet.c
  bgpd/bgp_mpath.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/vnc_import_bgp.c
Labels: bfd, bgp

#4941 bgpd: Do not send next-hop as :: in MP_REACH_NLRI if no link-local ex…
  bgpd/bgp_route.c
Labels: bgp

#5240 ZEBRA COVERITY STUFF
  zebra/rt_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_vxlan.c
Labels: zebra

#5197 bfdd: Handling local and remote admin-down
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_northbound.c
  bfdd/control.c
  bfdd/ptm_adapter.c
  bgpd/bgp_bfd.c
  isisd/isis_bfd.c
  lib/bfd.c
  lib/bfd.h
  ospf6d/ospf6_bfd.c
  ospfd/ospf_bfd.c
  pimd/pim_bfd.c
Labels: bfd

#5244 bgpd: [7.1] Do not send next-hop as :: in MP_REACH_NLRI if no link-local ex…
  bgpd/bgp_route.c
Labels: bgp

#5249 pimd: Duplicate config is not a CMD_WARNING_CONFIG_FAILED
  pimd/pim_cmd.c
Labels: pim

#5229 bgpd: [7.0] Override peer's TTL only if peer-group is configured with TTL
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5237 doc: Add redistribute vnc-direct command and fix typo in redistribute vnc
  doc/user/bgp.rst
Labels: documentation

#5248 bgpd: sender side AS path loop detection
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp, documentation, review & merge me

#5256 doc: [7.0] Add redistribute vnc-direct command and fix typo in redistribute vnc
  doc/user/bgp.rst
Labels: documentation
