Repository FRRouting/frr, pull requests merged in 2019-11, with the labels that each got.

#5168 doc: Update documentation to talk about development branches
  doc/developer/workflow.rst
Labels: documentation

#5263 pimd: Do not spew a million warnings
  pimd/pim_ifchannel.c
Labels: pim

#5272 debian: update debian/copyright
  debian/copyright
Labels: packaging

#5265 tools: generate .changes file required for deb pkg upload
  tools/tarsource.sh
Labels: tools

#5275 tools: fix emacs configuration file
  .dir-locals.el
Labels: tools

#5261 Convert some XXX_free lib functions to a double pointer
  bgpd/bgp_debug.c
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/vnc_import_bgp.c
  eigrpd/eigrp_network.c
  eigrpd/eigrp_topology.c
  eigrpd/eigrp_zebra.c
  isisd/isis_circuit.c
  isisd/isis_zebra.c
  ldpd/ldp_zebra.c
  lib/if.c
  lib/if.h
  lib/prefix.c
  lib/prefix.h
  nhrpd/nhrp_interface.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_interface.c
  ospfd/ospf_zebra.c
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  pimd/pim_neighbor.c
  pimd/pim_tlv.c
  pimd/pim_zebra.c
  ripd/rip_interface.c
  ripngd/ripng_interface.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  zebra/connected.c
  zebra/interface.c
Labels: cleanup

#5253 Fix the LDP VPLS topotest
  tests/topotests/ldp-vpls-topo1/r1/zebra.conf
  tests/topotests/ldp-vpls-topo1/r2/zebra.conf
  tests/topotests/ldp-vpls-topo1/r3/zebra.conf
  tests/topotests/ldp-vpls-topo1/test_ldp_vpls_topo1.py
  tests/topotests/lib/topogen.py
Labels: bugfix, tests

#5280 doc: clean up && index topotest json docs
  doc/developer/testing.rst
  doc/developer/topotests-jsontopo.rst
Labels: documentation

#5196 tests: Enhance bgp-path-attributes-topo1 test suite
  tests/topotests/bgp-path-attributes-topo1/bgp_path_attributes.json
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#5281 BGPD: Prevent IPv6-LL being fwd to IBGP peers not on same link.
  bgpd/bgp_route.c
Labels: bgp

#5269 zebra: separate zebra_vrf_lookup_table_with_id()
  zebra/redistribute.c
  zebra/zebra_rib.c
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
Labels: bugfix, zebra

#5283 bgpd: Have Nexthop Tracking specify vrf we are in for debugs
  bgpd/bgp_dump.c
  bgpd/bgp_nht.c
Labels: bgp

#5278 bgpd: skip unsupported PREFIX_SID sub-type
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
Labels: bgp

#5298 bgpd: Fix missed prefix_free conversion in rpki code
  bgpd/bgp_rpki.c
Labels: bgp

#5306 bgpd: Use BGP_NOTIFY_SUBCODE_UNSPECIFIC value for bgp_notify_send() where 0
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
Labels: bgp

#5299 bgpd: Remove not used bgp_find_nexthop() function
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  doc/developer/next-hop-tracking.rst
Labels: bgp

#5293 bgpd: [7.0] Evpn json cli output missing
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5259 zebra: Add a sample dataplane plugin module
  zebra/sample_plugin.c
Labels: zebra

#5310 ospfd: Function order caused use after free.
  ospfd/ospf_opaque.c
Labels: ospf

#5311 bgpd: fix rd output in show commands for evpn routs
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5313 ospfd,eigrpd: don't take address of packed struct member
  eigrpd/eigrp_packet.c
  ospfd/ospf_neighbor.c
Labels: eigrp, ospf

#5316 [7.2] lib: Remove include of deprecated sysctl.h
  lib/zebra.h
Labels: libfrr

#5296 vtysh: be helpful and kind to unprivileged users
  vtysh/vtysh_main.c
Labels: vtysh

#5302 staticd: exact match on magic interface names
  staticd/static_vty.c
Labels: staticd

#5209 vtysh: Add an option to set banner motd from an input
  doc/user/basic.rst
  lib/command.c
  lib/command.h
  vtysh/vtysh_user.c
Labels: vtysh

#5307 bgpd: Rework BGP dampening to be per AFI/SAFI
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp

#5315 zebra: Some Zebra_NHG fixes found with the ISIS-SR topotests
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra

#5321 zebra: dplane cancel update thread from correct pthread
  zebra/zebra_dplane.c
Labels: zebra

#5309 zebra: Allow zebra to install nexthop groups into linux kernel
  zebra/rt_netlink.c
Labels: zebra

#5276 pimd: No need to add then remove the oif if not DR
  pimd/pim_zebra.c
Labels: pim

#5345 bfdd: remove unused initialization sa warning
  bfdd/bfd_packet.c
Labels: bfd

#5300 tests: Add a test case for `sender-as-path-loop-detection`
  tests/topotests/bgp_sender-as-path-loop-detection/__init__.py
  tests/topotests/bgp_sender-as-path-loop-detection/r1/bgpd.conf
  tests/topotests/bgp_sender-as-path-loop-detection/r1/zebra.conf
  tests/topotests/bgp_sender-as-path-loop-detection/r2/bgpd.conf
  tests/topotests/bgp_sender-as-path-loop-detection/r2/zebra.conf
  tests/topotests/bgp_sender-as-path-loop-detection/r3/bgpd.conf
  tests/topotests/bgp_sender-as-path-loop-detection/r3/zebra.conf
  tests/topotests/bgp_sender-as-path-loop-detection/test_bgp_sender-as-path-loop-detection.py
Labels: tests

#5342 ospfd: Adding Debugs to Track OSPF DD Exchange
  ospfd/ospf_nsm.c
  ospfd/ospf_packet.c
Labels: ospf

#5324 bgpd: Bug fix in "show bgp l2vpn evpn ... advertised-routes'
  bgpd/bgp_vpn.c
Labels: bgp

#5347 bgpd: [7.2] Rework BGP dampening to be per AFI/SAFI
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp, documentation

#5348 bgpd: [7.1] Rework BGP dampening to be per AFI/SAFI
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp, documentation

#5349 bgpd: [7.0] Rework BGP dampening to be per AFI/SAFI
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp, documentation

#5351 bgpd: Add missing whitespace in update_subgroup_remove_peer_internal()
  bgpd/bgp_updgrp.c
Labels: bgp

#5320 Pim igmp ignore from ourself
  pimd/pim_ifchannel.c
  pimd/pim_igmp.c
  pimd/pim_igmpv3.c
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_mroute.c
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_upstream.c
Labels: pim

#5330 tools: stop repeating lines to delete for multiple bfd timer changes
  tools/frr-reload.py
Labels: tools

#5303 staticd: Make blackhole keyword errors more straightforward
  staticd/static_vty.c
Labels: staticd

#5335 ldpd: add missing sanity check in the parsing of label messages
  ldpd/labelmapping.c
Labels: ldp

#5338 [7.0] ldpd: add missing sanity check in the parsing of label messages
  ldpd/labelmapping.c
Labels: ldp

#5337 [7.1] ldpd: add missing sanity check in the parsing of label messages
  ldpd/labelmapping.c
Labels: ldp

#5336 [7.2] ldpd: add missing sanity check in the parsing of label messages
  ldpd/labelmapping.c
Labels: ldp

#5312 bgpd: fix memory leak in vni-vrf route tables for evpn routes
  bgpd/bgp_evpn.c
Labels: bgp

#5327 bgpd: route-map support for evpn RD filter
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
Labels: bgp

#5357 doc: clean up overview.rst
  doc/user/overview.rst
Labels: documentation

#5334 bgpd: Add nexthop of received EVPN RT-5 for nexthop tracking
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
Labels: bgp

#5359 pimd: Tighten up `show ip pim rp-info`
  pimd/pim_rp.c
Labels: pim

#5360 Pim crash rp
  pimd/pim_cmd.c
  pimd/pim_rp.c
Labels: pim

#5294 zebra: evpn update remote rmac and nexhop
  zebra/zebra_vxlan.c
Labels: zebra

#5362 [7.2] pim crash rp
  pimd/pim_cmd.c
  pimd/pim_rp.c
Labels: pim

#5363 [7.1]pimd: Create pimreg interface when we start any interface config
  pimd/pim_cmd.c
Labels: pim

#5354 bgpd: Fix per afi/safi addpath peer counting
  bgpd/bgp_addpath.c
Labels: bgp

#5365 bgpd: [7.2] Fix per afi/safi addpath peer counting
  bgpd/bgp_addpath.c
Labels: bgp

#5366 bgpd: [7.1] Fix per afi/safi addpath peer counting
  bgpd/bgp_addpath.c
Labels: bgp

#5367 bgpd: [7.0] Fix per afi/safi addpath peer counting
  bgpd/bgp_addpath.c
Labels: bgp

#5364 bgpd: Bug fix in "show bgp l2vpn evpn X:X::X:X/M"
  bgpd/bgp_route.c
Labels: bgp

#5361 zebra: FPM should have a way of shutting down
  zebra/zebra_fpm.c
Labels: iterating, zebra

#5371 lib: no filter operations fix on appropriate access-list name
  lib/filter.c
Labels: libfrr

#5257 bgpd: Reflect the distance in RIB when it is changed for an arbitrary afi/safi
  bgpd/bgp_route.c
  tests/topotests/bgp_distance_change/__init__.py
  tests/topotests/bgp_distance_change/r1/bgpd.conf
  tests/topotests/bgp_distance_change/r1/zebra.conf
  tests/topotests/bgp_distance_change/r2/bgpd.conf
  tests/topotests/bgp_distance_change/r2/zebra.conf
  tests/topotests/bgp_distance_change/test_bgp_distance_change.py
Labels: bgp, tests

#5285 bgpd: Notify "Peer De-configured" after entering 'no neighbor <neighb…
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5274 bfdd: VRF security improvement
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
Labels: bfd, bugfix

#5241 One More Zebra NHG SA Fix and nhg_ctx API Adjustment
  zebra/zebra_nhg.c
Labels: zebra

#5292 Ospf vrf data
  ospfd/ospf_api.c
  ospfd/ospf_api.h
  ospfd/ospf_asbr.c
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_flood.c
  ospfd/ospf_interface.c
  ospfd/ospf_lsa.c
  ospfd/ospf_nsm.c
  ospfd/ospf_packet.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#5375 pimd: Fix possible read beyond end of data received
  pimd/pim_pim.c
Labels: pim

#5377 tools: resolve issue with bfd timer change fix in frr-reload.py
  tools/frr-reload.py
Labels: tools

#5224 Fixes and extensions to frr_reload.py
  lib/command.h
  tools/frr-reload.py
  vtysh/vtysh.c
Labels: libfrr, tools, vtysh

#5372 snapcraft: Add vrrpd to the snapcraft package
  snapcraft/defaults/vrrpd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/vrrpd-service
  snapcraft/snapcraft.yaml.in
Labels: packaging

#5374 snapcraft: Add vrrpd to the snapcraft package [7.2]
  snapcraft/defaults/vrrpd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/vrrpd-service
  snapcraft/snapcraft.yaml.in
Labels: packaging

#5385 doc: Fix nhrp doc issue
  doc/user/nhrpd.rst
Labels: documentation

#5383 pimd: Various buffer overflow reads and crashes
  pimd/pim_bsm.c
  pimd/pim_join.c
  pimd/pim_rp.c
  pimd/pim_tlv.c
Labels: pim

#5381 zebra: Router Advertisement socket mess up
  zebra/rtadv.c
  zebra/zebra_router.c
Labels: zebra

#5388 [7.1] cherrys
  pimd/pim_join.c
  pimd/pim_pim.c
  pimd/pim_rp.c
  pimd/pim_tlv.c
Labels: pim

#5387 [7.2] cherrys
  pimd/pim_bsm.c
  pimd/pim_join.c
  pimd/pim_pim.c
  pimd/pim_rp.c
  pimd/pim_tlv.c
  zebra/rtadv.c
  zebra/zebra_router.c
Labels: pim, zebra

#5250 bgpd: Implementing a hash table for connected address - ipv4/ipv6
  bgpd/bgp_evpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_route.c
Labels: bgp

#5398 staticd: remove unneeded newline from zlog call
  staticd/static_vty.c
Labels: staticd

#5395 bgpd: [7.2] Notify "Peer De-configured" after entering 'no neighbor <neighbor> cmd'
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5396 bgpd: [7.1] Notify "Peer De-configured" after entering 'no neighbor <neighbor> cmd'
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5397 bgpd: [7.0] Notify "Peer De-configured" after entering 'no neighbor <neighbor> cmd'
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#5392 bgpd: [7.2] Reflect the distance in RIB when it is changed for an arbitrary afi/safi
  bgpd/bgp_route.c
  tests/topotests/bgp_distance_change/__init__.py
  tests/topotests/bgp_distance_change/r1/bgpd.conf
  tests/topotests/bgp_distance_change/r1/zebra.conf
  tests/topotests/bgp_distance_change/r2/bgpd.conf
  tests/topotests/bgp_distance_change/r2/zebra.conf
  tests/topotests/bgp_distance_change/test_bgp_distance_change.py
Labels: bgp, tests

#5391 [7.2] bfdd: fix multiple VRF handling
  bfdd/bfd.c
Labels: bfd, bugfix, review & merge me

#5404 zebra: BSD null routes were not being installed
  zebra/rt_socket.c
Labels: zebra

#5405 zebra: Actually respect the multipath number
  zebra/zebra_nhg.c
Labels: zebra

#5328 pimd, lib, zebra : PIM MLAG Support
  Makefile.am
  lib/mlag.c
  lib/mlag.h
  lib/zclient.c
  lib/zclient.h
  mlag/mlag.proto
  mlag/subdir.am
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_main.c
  pimd/pim_mlag.c
  pimd/pim_mlag.h
  pimd/pim_zebra.c
  pimd/pimd.h
  pimd/subdir.am
  zebra/subdir.am
  zebra/zapi_msg.c
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_private.c
  zebra/zebra_mlag_private.h
  zebra/zebra_router.h
  zebra/zserv.h
Labels: libfrr, pim, zebra

#5406 bgpd: Blank RD in "sh bgp l2vpn evpn all neighbors ip advertised-routes json"
  bgpd/bgp_vpn.c
Labels: bgp

#5413 Eigrp cleanup1
  eigrpd/eigrp_dump.c
  eigrpd/eigrp_dump.h
Labels: eigrp

#5423 bgpd: fix bad bounds check for addpath in nlri
  bgpd/bgp_route.c
Labels: bgp

#5420 Zebra client summ spacing
  zebra/zebra_routemap.c
  zebra/zserv.c
Labels: zebra

#5394 bgpd: [7.0] Reflect the distance in RIB when it is changed for an arbitrary afi/safi
  bgpd/bgp_route.c
  tests/topotests/bgp_distance_change/__init__.py
  tests/topotests/bgp_distance_change/r1/bgpd.conf
  tests/topotests/bgp_distance_change/r1/zebra.conf
  tests/topotests/bgp_distance_change/r2/bgpd.conf
  tests/topotests/bgp_distance_change/r2/zebra.conf
  tests/topotests/bgp_distance_change/test_bgp_distance_change.py
Labels: bgp, tests

#5393 bgpd: [7.1] Reflect the distance in RIB when it is changed for an arbitrary afi/safi
  bgpd/bgp_route.c
  tests/topotests/bgp_distance_change/__init__.py
  tests/topotests/bgp_distance_change/r1/bgpd.conf
  tests/topotests/bgp_distance_change/r1/zebra.conf
  tests/topotests/bgp_distance_change/r2/bgpd.conf
  tests/topotests/bgp_distance_change/r2/zebra.conf
  tests/topotests/bgp_distance_change/test_bgp_distance_change.py
Labels: bgp, tests

#5407 zebra: "show evpn vni details json" prints incorrect JSON format
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra

#5408 Scan7
  bgpd/bgp_route.c
  ospfd/ospf_apiserver.c
  ospfd/ospf_flood.c
  ospfd/ospf_neighbor.c
  ospfd/ospf_nsm.c
  ospfd/ospf_packet.c
  ospfd/ospf_snmp.c
Labels: bgp, ospf

#5415 zebra: knob to make ra retransmit interval rfc compliant
  doc/user/ipv6.rst
  zebra/interface.c
  zebra/interface.h
  zebra/rtadv.c
  zebra/rtadv.h
Labels: zebra

#4977 * evpn primary address advertisement
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
  doc/user/bgp.rst
  lib/zclient.h
  zebra/interface.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
  zebra/zebra_vxlan_private.h
Labels: bgp, zebra

#5284 pbrd: Add `set vrf NAME` and `set vrf unchanged`
  doc/user/pbr.rst
  pbrd/pbr_main.c
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_nht.c
  pbrd/pbr_vrf.c
  pbrd/pbr_vrf.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  pbrd/subdir.am
Labels: pbr

#5419 bgpd: Do not perform "connected" check for EVPN nexthop
  bgpd/bgp_route.c
Labels: bgp, bugfix

#5356 bgpd: IPv4 LU withdraw using 0x000000 label
  bgpd/bgp_label.h
Labels: do not merge

#5437 bgpd: Replace magic number 1 for TTL to BGP_DEFAULT_TTL
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
Labels: bgp

#5435 lib: add gcc 4.x workaround for frr_interface_info
  lib/if.c
Labels: libfrr

#5409 bgp large & extended community parse fixes
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_lcommunity.c
Labels: bgp
