Repository FRRouting/frr, pull requests merged in 2019-03, with the labels that each got.

#3606 lib, rip, ripng, eigrp: rework if_rmap context
  eigrpd/eigrp_main.c
  eigrpd/eigrpd.c
  lib/if_rmap.c
  lib/if_rmap.h
  ripd/ripd.c
  ripd/ripd.h
  ripngd/ripngd.c
  ripngd/ripngd.h
Labels: review & merge me

#3848 bgpd: evpn reject bgp update to overwrite self mac as part of router-mac ext. community
  bgpd/bgp_attr.c
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_mac.c
  bgpd/bgp_mac.h
  bgpd/bgp_route.c
Labels: blocked

#3755 [6.0] bgpd: 'show bgp [ipv4|ipv6] neighbors' displays all address family neighbors
  bgpd/bgp_vty.c
  bgpd/bgpd.h
Labels: blocked, review & merge me

#3918 bfdd: bug fixes
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd_vty.c
  bfdd/config.c
  bfdd/ptm_adapter.c
  tests/topotests/bfd-topo2/__init__.py
  tests/topotests/bfd-topo2/r1/bfdd.conf
  tests/topotests/bfd-topo2/r1/bgpd.conf
  tests/topotests/bfd-topo2/r1/ipv4_routes.json
  tests/topotests/bfd-topo2/r1/ipv6_routes.json
  tests/topotests/bfd-topo2/r1/peers.json
  tests/topotests/bfd-topo2/r1/zebra.conf
  tests/topotests/bfd-topo2/r2/bgpd.conf
  tests/topotests/bfd-topo2/r2/ipv4_routes.json
  tests/topotests/bfd-topo2/r2/ipv6_routes.json
  tests/topotests/bfd-topo2/r2/ospf6d.conf
  tests/topotests/bfd-topo2/r2/ospfd.conf
  tests/topotests/bfd-topo2/r2/peers.json
  tests/topotests/bfd-topo2/r2/zebra.conf
  tests/topotests/bfd-topo2/r3/ipv4_routes.json
  tests/topotests/bfd-topo2/r3/ipv6_routes.json
  tests/topotests/bfd-topo2/r3/ospfd.conf
  tests/topotests/bfd-topo2/r3/peers.json
  tests/topotests/bfd-topo2/r3/zebra.conf
  tests/topotests/bfd-topo2/r4/bfdd.conf
  tests/topotests/bfd-topo2/r4/ipv4_routes.json
  tests/topotests/bfd-topo2/r4/ipv6_routes.json
  tests/topotests/bfd-topo2/r4/ospf6d.conf
  tests/topotests/bfd-topo2/r4/peers.json
  tests/topotests/bfd-topo2/r4/zebra.conf
  tests/topotests/bfd-topo2/test_bfd_topo2.dot
  tests/topotests/bfd-topo2/test_bfd_topo2.jpg
  tests/topotests/bfd-topo2/test_bfd_topo2.py
Labels: preliminary (WiP)

#3977 bfdd: two small fixes
  bfdd/bfd.c
  bfdd/bfd_packet.c
Labels: review & merge me

#4019 zebra: Fix extended ack error message parsing
  zebra/kernel_netlink.c
Labels: zebra

#4017 zebra: use the INSTALLED flag consistently in route summary
  zebra/zebra_vty.c
Labels: zebra

#4004 zebra: evpn mac ip dup detect (DAD) timers cleanup
  zebra/zebra_vxlan.c
Labels: zebra

#4002 update build docs - Fedora, Ubuntu
  doc/developer/building-frr-for-fedora.rst
  doc/developer/building-frr-for-fedora24.rst
  doc/developer/building-frr-for-ubuntu1404.rst
  doc/developer/building-frr-for-ubuntu1604.rst
  doc/developer/building-frr-for-ubuntu1804.rst
  doc/developer/building.rst
  doc/developer/conf.py
  doc/developer/include-compile.rst
  doc/developer/subdir.am
Labels: documentation

#3961 Connected 7.0
  include/linux/if_addr.h
  include/subdir.am
  lib/if.h
  zebra/connected.c
  zebra/connected.h
  zebra/if_ioctl.c
  zebra/if_ioctl_solaris.c
  zebra/if_netlink.c
  zebra/kernel_socket.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: review & merge me

#3764 Lot's of Zebra changes
  isisd/isis_zebra.c
  ospf6d/ospf6_zebra.c
  ripngd/ripng_zebra.c
  tests/topotests/ldp-vpls-topo1/r1/zebra.conf
  tests/topotests/ldp-vpls-topo1/r2/zebra.conf
  tests/topotests/ldp-vpls-topo1/r3/zebra.conf
  zebra/connected.c
  zebra/debug.c
  zebra/debug.h
  zebra/main.c
  zebra/rib.h
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_socket.c
  zebra/zapi_msg.c
  zebra/zebra_mpls.h
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_router.c
  zebra/zebra_vrf.c
  zebra/zserv.c
  zebra/zserv.h
Labels: zebra

#4015 topotests: fix missing log file and duplicated output folder
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: topotest

#4014 lib: zclient provide interface info during reg_requests
  lib/zclient.c
Labels: libfrr

#3932 bgpd: handle all afi safi while bgp clear soft
  bgpd/bgp_vty.c
Labels: bgp, review & merge me
