Repository FRRouting/frr, pull requests merged in 2019-05, with the labels that each got.

#4226 zebra: Add PBR, BFD, OpenFabric to route_info
  zebra/zebra_rib.c
Labels: zebra

#4192 bgpd: Prevent IPv6 routes received via a ibgp session with own ip as nexthop
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  lib/jhash.c
  lib/jhash.h
Labels: bgp

#4220 zebra: Modify how we display/store os description
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
Labels: bugfix, zebra

#4230 zebra: Check on startup route_info has all types
  zebra/zebra_rib.c
Labels: zebra

#4243 zebra: replace strncpy with strlcpy in dplane
  zebra/zebra_dplane.c
Labels: zebra

#4247 topotest: fix pytest deprecation warning
  tests/topotests/bgp-vrf-route-leak-basic/test_bgp.py
  tests/topotests/conftest.py
Labels: bugfix, tests

#4252 doc: Fix failing `make doc`
  doc/developer/subdir.am
Labels: documentation

#4233 zebra: fix zapi msg debugging dumps
  zebra/zapi_msg.c
  zebra/zserv.c
  zebra/zserv.h
Labels: bugfix, zebra

#4254 [6.0] ldpd: *BSD fixes
  ldpd/ldpe.c
  ldpd/socket.c
  zebra/kernel_socket.c
Labels: ldp, zebra

#4255 Coverity stole my sanity
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_mplsvpn.c
  lib/vrf.c
  ospfd/ospf_packet.c
  pbrd/pbr_zebra.c
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: bgp, libfrr, ospf, pbr, zebra

#4234 zebra: Fix incorrect reading of REMOTE_VTEP_[ADD|DEL]
  zebra/zebra_vxlan.c
Labels: bugfix, zebra

#4253 ZAPI callback args macro
  babeld/babel_interface.c
  babeld/babel_zebra.c
  bfdd/ptm_adapter.c
  bgpd/bgp_bfd.c
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_zebra.c
  eigrpd/eigrp_zebra.c
  isisd/isis_bfd.c
  isisd/isis_zebra.c
  ldpd/ldp_zebra.c
  lib/zclient.c
  lib/zclient.h
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_route.c
  nhrpd/nhrpd.h
  ospf6d/ospf6_bfd.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_bfd.c
  ospfd/ospf_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_bfd.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_zebra.c
  ripd/rip_interface.c
  ripd/rip_interface.h
  ripd/rip_zebra.c
  ripngd/ripng_interface.c
  ripngd/ripng_zebra.c
  ripngd/ripngd.h
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
Labels: libfrr

#4256 doc, zebra: Remove "table X" command
  doc/user/zebra.rst
  zebra/connected.c
  zebra/kernel_socket.c
  zebra/redistribute.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vrf.c
  zebra/zebra_vty.c
  zebra/zserv.c
  zebra/zserv.h
Labels: documentation, zebra

#4264 More traces for BFD clients
  bgpd/bgp_bfd.c
  ospfd/ospf_bfd.c
Labels: bgp, ospf

#4244 pimd: Stop crash in show of single interface
  pimd/pim_cmd.c
Labels: pim

#4268 lib: add string replace function
  lib/frrstr.c
  lib/frrstr.h
Labels: libfrr

#4266 bgpd : dynamic modification in lcomm-list is not taking effect.
  bgpd/bgp_clist.c
Labels: bgp

#4271 [7.0] lib, yang: disable libyang custom user types temporarily
  Makefile.am
  configure.ac
  lib/yang.c
  lib/yang_wrappers.c
  yang/libyang_plugins/subdir.am
Labels: libfrr, yang

#4273 doc: Add a couple of missed `show zebra ...` comamnds to doc
  doc/user/zebra.rst
Labels: documentation

#4215 ospfd: Correct Link-ID and Remote IP for TE LSA
  ospfd/ospf_te.c
Labels: ospf

#4082 gRPC northbound plugin
  .gitignore
  Makefile.am
  configure.ac
  grpc/Makefile
  grpc/frr-northbound.proto
  grpc/subdir.am
  isisd/isis_cli.c
  lib/command.c
  lib/if.c
  lib/lib_errors.c
  lib/lib_errors.h
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  lib/subdir.am
  lib/vty.c
  lib/vty.h
Labels: feature, libfrr

#4277 RPKI fixes/improvements
  bgpd/bgp_rpki.c
Labels: bgp

#4280 lib: remove str_replace function
  lib/yang_translator.c
Labels: libfrr

#4251 Pimd : S,G Mroute entries are not expiring even after KAT expiry, remain as stale entries.
  pimd/pim_upstream.c
Labels: bugfix, pim

#4292 doc: add doc for bgp maximum-prefix knob
  doc/user/bgp.rst
Labels: documentation

#4284 Conf t
  doc/user/basic.rst
  doc/user/static.rst
  lib/command.c
  vtysh/vtysh.c
Labels: documentation, libfrr, vtysh

#4287 lib, bgpd: Disallow processing of duplicate config.
  bgpd/bgpd.c
  lib/routemap.c
Labels: bgp, libfrr

#4288 tools: add lints for unsafe functions
  tools/checkpatch.pl
Labels: tools

#4242 Zebra diet
  doc/developer/lists.rst
  lib/prefix.c
  lib/prefix.h
  lib/table.c
  lib/table.h
  lib/typesafe.h
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vrf.c
Labels: documentation, libfrr, zebra

#4297 lib : Child rmap not sending an update to parent rmap,if there is an update in child rmap.
  lib/routemap.c
Labels: libfrr

#4214 pimd: Deletion of a ifchannel does not immediately mean remove from OIL
  pimd/pim_ifchannel.c
  pimd/pim_zebra.c
Labels: bugfix, pim

#4272 isisd: fix display of the Extended IPv4 reachability TLV
  isisd/isis_tlvs.c
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
Labels: isis

#4275 bgpd: Move inbound policy check outside bgp_input_modifier()
  bgpd/bgp_route.c
  tests/topotests/bgp_ebgp_requires_policy/__init__.py
  tests/topotests/bgp_ebgp_requires_policy/r1/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r1/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/r2/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r2/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/r3/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r3/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/r4/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r4/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/test_bgp_ebgp_requires_policy.py
Labels: bgp

#4245 zebra: remove vrf LSPs when vrf is deleted
  zebra/zebra_mpls.c
Labels: zebra

#4306 doc: add cli doc for zebra dplane cli
  doc/user/zebra.rst
Labels: documentation

#4308 bgpd: BGP debug for route-map apply
  bgpd/bgp_route.c
Labels: bgp

#4311 bgpd: Remove unnecessary trailing tab
  bgpd/bgp_vty.c
Labels: bgp

#4309 doc: Provide info on what pkg to install if mpls-router module is missing
  doc/developer/building-frr-for-ubuntu1804.rst
  doc/developer/topotests.rst
Labels: documentation

#4318 doc: fix ospf6d router-id cmd
  doc/user/ospf6d.rst
Labels: documentation

#4324 lib: fix crash in the CLI grammar sandbox
  lib/grammar_sandbox_main.c
Labels: libfrr

#4320 zebra: Switch to using monotime(NULL) for re->uptime
  zebra/redistribute.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: zebra

#4330 zebra: ctx is dereferenced in every path
  zebra/zebra_dplane.c
Labels: zebra

#4329 lib: Add const to openbsd-tree functions
  lib/openbsd-tree.c
  lib/openbsd-tree.h
Labels: libfrr

#4112 support for BFD VRF
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd.c
  bfdd/bfdd_vty.c
  bfdd/bsd.c
  bfdd/config.c
  bfdd/linux.c
  bfdd/ptm_adapter.c
  bfdd/subdir.am
  bgpd/bgp_bfd.c
  bgpd/bgp_zebra.c
  doc/user/bfd.rst
  isisd/isis_bfd.c
  lib/bfd.c
  lib/bfd.h
  lib/vrf.c
  ospf6d/ospf6_bfd.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_bfd.c
  ospfd/ospf_zebra.c
  pimd/pim_bfd.c
  pimd/pim_zebra.c
  tests/topotests/bfd-vrf-topo1/__init__.py
  tests/topotests/bfd-vrf-topo1/r1/bfdd.conf
  tests/topotests/bfd-vrf-topo1/r1/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r1/bgp_summary.json
  tests/topotests/bfd-vrf-topo1/r1/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r1/peers.json
  tests/topotests/bfd-vrf-topo1/r1/zebra.conf
  tests/topotests/bfd-vrf-topo1/r2/bfdd.conf
  tests/topotests/bfd-vrf-topo1/r2/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r2/bgp_summary.json
  tests/topotests/bfd-vrf-topo1/r2/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r2/peers.json
  tests/topotests/bfd-vrf-topo1/r2/zebra.conf
  tests/topotests/bfd-vrf-topo1/r3/bfdd.conf
  tests/topotests/bfd-vrf-topo1/r3/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r3/bgp_summary.json
  tests/topotests/bfd-vrf-topo1/r3/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r3/peers.json
  tests/topotests/bfd-vrf-topo1/r3/zebra.conf
  tests/topotests/bfd-vrf-topo1/r4/bfdd.conf
  tests/topotests/bfd-vrf-topo1/r4/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r4/bgp_summary.json
  tests/topotests/bfd-vrf-topo1/r4/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r4/peers.json
  tests/topotests/bfd-vrf-topo1/r4/zebra.conf
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.dot
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.jpg
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.py
  zebra/zebra_ptm.c
Labels: bfd, feature

#4321 zebra: Make RIB_SYSTEM|KERNEL_ROUTE a property of rib.h
  zebra/rib.h
  zebra/rt.h
  zebra/zebra_rib.c
Labels: zebra

#4304 Route map switch
  bgpd/bgp_routemap.c
  bgpd/rfapi/bgp_rfapi_cfg.c
  lib/routemap.c
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  ospfd/ospf_routemap.c
  pimd/pim_routemap.c
  zebra/zebra_routemap.c
Labels: bgp, libfrr, ospf, ospfv3, pim, zebra

#4258 bgpd: IPv6 session flapping with MP_REACH_NLRI and 0.0.0.0 in NEXT_HOP attribute
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp

#4027 Fix interface rtadv
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_ns.c
  zebra/zebra_router.h
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: bugfix, review & merge me, zebra

#4307 zebra: unset sticky mac upon local deletion
  zebra/zebra_vxlan.c
Labels: zebra

#4312 bgpd: evpn json cli bug fix
  bgpd/bgp_evpn_vty.c
Labels: bgp

#4336 zebra: [7.1] remove vrf LSPs when vrf is deleted
  zebra/zebra_mpls.c
Labels: zebra

#4334 zebra: [7.0] remove vrf LSPs when vrf is deleted
  zebra/zebra_mpls.c
Labels: zebra

#4335 zebra: send nexthop blackhole information in FPM
  zebra/zebra_fpm_netlink.c
Labels: zebra

#4338 zebra: [6.0] remove vrf LSPs when vrf is deleted
  zebra/zebra_mpls.c
Labels: zebra

#4314 bgpd: Extract tunnel type from extended communities
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_ecommunity.h
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_private.h
  bgpd/rfapi/rfapi_vty.c
Labels: bgp

#4332 bgpd: display bgp neighbor advertised-routes json warning message
  bgpd/bgp_vty.c
Labels: bgp

#4296 Zebra: Add "show ip/ipv6 fib <prefix> [json]" CLI
  zebra/zebra_vty.c
Labels: zebra

#4341 bgpd: Fix non-compilation of bgp_attr_extcom_tunnel_type
  bgpd/bgp_attr.c
Labels: bgp

#4339 lib,bgpd,pbrd: Add AFI_UNSPEC to AFI enum
  bgpd/bgp_vty.c
  lib/zebra.h
  pbrd/pbr_zebra.c
Labels: bgp, libfrr, pbr

#4327 zebra: Move multipath_num into zrouter
  zebra/main.c
  zebra/zapi_msg.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zserv.h
Labels: zebra

#4313 bgpd: json cli output for bgp evpn overlay
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
Labels: bgp

#4269 zebra Other tables
  zebra/redistribute.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: zebra

#4144 BFD CBIT
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdctl.h
  bfdd/ptm_adapter.c
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  doc/user/bfd.rst
  isisd/isis_bfd.c
  lib/bfd.c
  lib/bfd.h
  ospf6d/ospf6_bfd.c
  ospfd/ospf_bfd.c
  pimd/pim_bfd.c
  tests/topotests/bfd-bgp-cbit-topo3/__init__.py
  tests/topotests/bfd-bgp-cbit-topo3/r1/bgp_ipv6_routes_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r1/bgpd.conf
  tests/topotests/bfd-bgp-cbit-topo3/r1/ipv6_routes.json
  tests/topotests/bfd-bgp-cbit-topo3/r1/peers.json
  tests/topotests/bfd-bgp-cbit-topo3/r1/peers_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r1/zebra.conf
  tests/topotests/bfd-bgp-cbit-topo3/r2/zebra.conf
  tests/topotests/bfd-bgp-cbit-topo3/r3/bgp_ipv6_routes_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/bgpd.conf
  tests/topotests/bfd-bgp-cbit-topo3/r3/ipv6_routes.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/peers.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/peers_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/zebra.conf
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.dot
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
  zebra/zebra_ptm.c
Labels: bfd, enhancement

#4219 bgpd: Implement 3rd party nexthop for ebgp ipv6 sender, when nexthop matches IPV6 address of the neighbor.
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#4352 lib: Fix gcc 9.1 and --enable-werror issues found
  lib/routemap.c
Labels: libfrr

#4337 zebra: Make coverity SA happy with zebra_routemap.c
  zebra/zebra_routemap.c
Labels: zebra

#4354 zebra: fix missed multipath_num change
  zebra/zebra_fpm_protobuf.c
Labels: zebra

#4349 Bgp reason
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.h
  bgpd/rfapi/rfapi_import.c
Labels: bgp

#4357 zebra: Continue rm update if table not found
  zebra/redistribute.c
Labels: zebra

#4328 zebra: Reorder `struct route_entry` to reduce size
  zebra/rib.h
Labels: zebra

#4366 vrrpd: fix coverity warnings
  vrrpd/vrrp.c
  vrrpd/vrrp_arp.c
  vrrpd/vrrp_ndisc.c
Labels: bugfix, vrrp

#4367 doc: clarify mpls label export docs
  doc/user/bgp.rst
Labels: documentation

#4356 7.1 updates
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
  doc/user/ospf6d.rst
  doc/user/zebra.rst
  isisd/isis_tlvs.c
  lib/grammar_sandbox_main.c
  lib/routemap.c
  pimd/pim_upstream.c
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
  zebra/zebra_vxlan.c
Labels: bgp, documentation, isis, libfrr, pim, zebra

#4350 pimd: fix (s,g) expiry.
  pimd/pim_ifchannel.c
Labels: pim

#4285 bgpd : no neighbor <> send-community large is not working dynamically
  bgpd/bgp_updgrp.h
Labels: bgp

#4365 Zebra: Enhancements for rtm_table field in FPM netlink message
  zebra/zebra_fpm_netlink.c
Labels: zebra

#4372 bgpd: fix compiler warning in reason2str
  bgpd/bgp_route.c
Labels: bgp

#4362 bgpd: Routemap processing was testing for an impossible flag
  bgpd/bgp_routemap.c
Labels: bgp, cleanup

#4376 bgpd: remove deprecated "bgp enforce-first-as" command
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#4373 lib: DECLARE_DLIST + DECLARE_HEAP + other datastructure improvements
  bgpd/bgp_advertise.h
  doc/developer/lists.rst
  lib/atomlist.h
  lib/compiler.h
  lib/table.c
  lib/table.h
  lib/typesafe.c
  lib/typesafe.h
  tests/lib/test_typelist.c
  tests/lib/test_typelist.h
  tests/lib/test_typelist.py
Labels: bgp, libfrr, tests

#4364 doc: add libsnmp-dev to debian 9 build deps
  doc/developer/building-frr-for-debian8.rst
  doc/developer/building-frr-for-debian9.rst
Labels: documentation

#4374 Minor fixes in the typesafe API for better C++ compatibility
  .clang-format
  isisd/isis_circuit.c
  isisd/isis_lsp.c
  isisd/isis_pdu.c
  isisd/isis_tlvs.c
  isisd/isis_vty_fabricd.c
  lib/thread.c
  lib/typerb.h
  lib/typesafe.h
  tests/lib/cxxcompat.c
  tests/lib/test_atomlist.c
  tests/lib/test_typelist.h
  zebra/zebra_rib.c
Labels: libfrr, tests

#4359 Zebra: Handle VxLAN encap in netlink rtmsg for FPM
  zebra/zebra_fpm_netlink.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: zebra

#4385 bgpd, ripd, ripngd: remove deprecated -r option
  bgpd/bgp_main.c
  ripd/rip_main.c
  ripngd/ripng_main.c
Labels: bgp, rip, ripng

#4381 [7.1] DLIST / BGP adv_fifo deletion fix
  bgpd/bgp_advertise.h
  doc/developer/lists.rst
  lib/typesafe.h
Labels: bgp, libfrr

#4301 zebra: Add kernel level graceful restart
  doc/user/zebra.rst
  zebra/main.c
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_router.h
Labels: zebra

#4390 lib: rename begins_with, add frrstr_endswith
  lib/frrstr.c
  lib/frrstr.h
  vtysh/vtysh.c
Labels: libfrr

#4394 doc: Update docs to represent changes on the ground
  doc/developer/lists.rst
Labels: documentation

#4396 bgpd: convert a couple of debug strings in rpki to prefix2str
  bgpd/bgp_rpki.c
Labels: bgp

#4346 bgpd: do not unregister bfd session when bgp session goes down
  bgpd/bgpd.c
Labels: bgp

#4377 bgpd: Show FQDN in `show [ip] bgp` output
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/__init__.py
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp

#4322 lib: Add nexthop_cmp
  bgpd/bgp_nht.c
  lib/nexthop.c
  lib/nexthop.h
  zebra/zebra_rib.c
Labels: libfrr

#4239 pimd: PIM Bootstrap Message Processing
  doc/user/pim.rst
  lib/linklist.c
  lib/linklist.h
  pimd/pim_assert.c
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_hello.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_join.c
  pimd/pim_msg.c
  pimd/pim_msg.h
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_pim.c
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_rpf.c
  pimd/pim_upstream.c
  pimd/pim_vty.c
  pimd/pim_vxlan.c
  pimd/pimd.h
  pimd/subdir.am
Labels: feature, pim

#4371 isisd: support circuits with mtu > 8192
  isisd/isis_pfpacket.c
Labels: isis, submitter action required

#4384 bgpd: disable deleting default instance if vrf instances exist
  bgpd/bgp_vty.c
Labels: bgp

#4406 [7.1] Snap fixes for 7.1
  snapcraft/README.snap_build.md
  snapcraft/README.usage.md
  snapcraft/defaults/fabricd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/bgpd-service
  snapcraft/scripts/fabricd-service
  snapcraft/snapcraft.yaml.in
Labels: bugfix, packaging

#4405 [7.0] snapcraft: Add libdb5.3 dependency
  snapcraft/snapcraft.yaml.in
Labels: bugfix, packaging

#4407 Snap fix master
  snapcraft/README.snap_build.md
  snapcraft/README.usage.md
  snapcraft/defaults/fabricd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/bgpd-service
  snapcraft/scripts/fabricd-service
  snapcraft/snapcraft.yaml.in
Labels: bugfix, packaging

#4401 isisd: del routes when area is unconfigured
  isisd/isis_route.c
  isisd/isisd.c
Labels: bugfix, isis

#4411 isisd: del routes when area is unconfigured
  isisd/isis_route.c
  isisd/isisd.c
Labels: isis

#4228 zebra: async notifications from the dataplane
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: enhancement, zebra

#4404 lib: const a couple linklist apis
  lib/linklist.c
  lib/linklist.h
Labels: libfrr

#4326 zebra: Move nexthop_active_XXX functions to zebra_nhg.c
  zebra/subdir.am
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
Labels: zebra

#4414 isisd: Fix some minor warnings
  isisd/isis_vty_fabricd.c
  isisd/isisd.c
Labels: isis

#4351 pimd: new cli command show ip mroute summary
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: pim, submitter action required

#4415 zebra: add setters for distance, instance
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#4402 bgpd: fix debug to have proper nhop display
  bgpd/bgp_evpn.c
  bgpd/bgp_zebra.c
Labels: bgp

#4267 Fix misc compile warnings, remove strcpy & strcat
  bgpd/bgp_community.c
  bgpd/bgp_packet.c
  bgpd/bgp_routemap.c
  bgpd/rfapi/rfapi_import.c
  lib/command.c
  lib/command_match.c
  lib/libfrr.c
  lib/log.c
  lib/prefix.c
  lib/table.h
  lib/vty.c
  ospfd/ospf_te.c
  pbrd/pbr_nht.c
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  ripngd/ripngd.c
  staticd/static_routes.c
  vtysh/vtysh.c
  zebra/ioctl.c
  zebra/ioctl_solaris.c
  zebra/kernel_socket.c
  zebra/rt_netlink.c
  zebra/zebra_mpls.c
  zebra/zebra_rib.c
Labels: bgp, libfrr, zebra

#4393 Debug all
  lib/debug.c
  lib/debug.h
  lib/libfrr.c
  lib/northbound_cli.c
Labels: libfrr

#4408 bgpd: Update an fsm debug message
  bgpd/bgp_fsm.c
Labels: bgp

#4424 bgpd: [7.0] Show FQDN in `show [ip] bgp` output
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/__init__.py
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp

#4410 doc: Fix doc showing command that does not exist
  doc/user/rpki.rst
Labels: documentation

#4413 Bgp distance comes closer
  bgpd/bgp_zebra.c
  zebra/zebra_rib.c
Labels: bgp, zebra

#4425 bgpd: [7.1] Show FQDN in `show [ip] bgp` output
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/__init__.py
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp

#4427 doc: clean up memleak section of topotests doc
  doc/developer/topotests.rst
Labels: documentation

#4426 lib, vtysh: make 'debug memstats' work via vtysh
  lib/command.c
  vtysh/vtysh.c
Labels: libfrr, vtysh

#4369 pimd: new cli to configure last-member-query-count & last-member-quer…
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmpv3.c
  pimd/pim_vty.c
Labels: pim, submitter action required

#4315 lib: Introducing a 3rd state for route-map match cmd: RMAP_NOOP
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  bgpd/bgp_updgrp_adv.c
  eigrpd/eigrp_routemap.c
  isisd/isis_routemap.c
  lib/routemap.c
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  ospfd/ospf_routemap.c
  ospfd/ospf_zebra.c
  ripd/rip_routemap.c
  ripngd/ripng_routemap.c
  zebra/redistribute.c
  zebra/zebra_nhg.c
  zebra/zebra_rnh.c
  zebra/zebra_routemap.c
Labels: libfrr

#4434 Fix warnings
  lib/libfrr.c
  lib/northbound.c
Labels: libfrr

#4430 lib: crash when FRR hostname length > 80 chars
  lib/command.c
  lib/command.h
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: libfrr

#4435 lib, zebra: Ensure route encoding has enough space
  lib/zclient.c
  lib/zclient.h
  zebra/zapi_msg.c
  zebra/zserv.c
Labels: libfrr, zebra
