Repository FRRouting/frr, pull requests merged in 2019-12, with the labels that each got.

#5446 bgpd: Fix memory leak in json output of show commands
  bgpd/bgp_route.c
Labels: bgp

#5449 [7.0]bgpd: Fix memory leak in json output of show commands
  bgpd/bgp_route.c
Labels: bgp

#5448 [7.1]bgpd: Fix memory leak in json output of show commands
  bgpd/bgp_route.c
Labels: bgp

#5447 [7.2]bgpd: Fix memory leak in json output of show commands
  bgpd/bgp_route.c
Labels: bgp

#5444 lib: fix display of candidate configurations
  lib/northbound_cli.c
Labels: libfrr

#5450 bgpd: Prevent crash in bgp_table_range_lookup
  bgpd/bgp_table.c
Labels: bgp

#5432 bgpd: Handle possible non-selection of local route
  bgpd/bgp_evpn.c
Labels: bgp

#5456 [7.0]bgpd: Prevent crash in bgp_table_range_lookup
  bgpd/bgp_table.c
Labels: bgp

#5192 zebra: Dissallow a /32 or /128 through itself
  zebra/zebra_nhg.c
Labels: zebra

#5455 [7.1]bgpd: Prevent crash in bgp_table_range_lookup
  bgpd/bgp_table.c
Labels: bgp

#5434 bgpd: Autocomplete neighbor for clear bgp
  bgpd/bgp_vty.c
Labels: bgp

#5442 zebra: support LSPs with multiple outgoing labels
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
Labels: zebra

#5454 [7.2]bgpd: Prevent crash in bgp_table_range_lookup
  bgpd/bgp_table.c
  eigrpd/eigrp_packet.c
  ospfd/ospf_neighbor.c
Labels: bgp

#5305 bgpd: Reject incoming and outgoing UPDATES for AS_SET and AS_CONFED_SET
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_reject_as_sets/__init__.py
  tests/topotests/bgp_reject_as_sets/r1/bgpd.conf
  tests/topotests/bgp_reject_as_sets/r1/zebra.conf
  tests/topotests/bgp_reject_as_sets/r2/bgpd.conf
  tests/topotests/bgp_reject_as_sets/r2/zebra.conf
  tests/topotests/bgp_reject_as_sets/r3/bgpd.conf
  tests/topotests/bgp_reject_as_sets/r3/zebra.conf
  tests/topotests/bgp_reject_as_sets/test_bgp_reject_as_sets.py
Labels: bgp, documentation, tests

#5430 docker: Make docker image on CentOS 7
  .dockerignore
  docker/centos/Dockerfile
  docker/centos/build.sh
  docker/centos/docker-start
Labels: docker

#5352 5013 cleanup merge issues
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_vty.c
Labels: bfd

#5416 lib,zebra: use shared nexthop-group in route_entry
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/nexthop_group_private.h
  zebra/redistribute.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_fpm_dt.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_fpm_protobuf.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_nhg_private.h
  zebra/zebra_pw.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_router.c
  zebra/zebra_snmp.c
  zebra/zebra_vty.c
Labels: libfrr, zebra

#5469 [7.2] bgpd: Autocomplete neighbor for clear bgp
  bgpd/bgp_vty.c
Labels: bgp

#5471 doc: add doc for easy commit sign-off with `-s`
  doc/developer/workflow.rst
Labels: documentation

#5472 zebra: capture dplane plugin flags
  zebra/zebra_dplane.c
Labels: zebra

#5476 tools: [ [ is not valid test syntax
  tools/frr.in
Labels: tools

#5478 ospfd: clean up SA warning
  ospfd/ospf_apiserver.c
Labels: ospf

#5480 [7.2] zebra: capture dplane plugin flags
  zebra/zebra_dplane.c
Labels: zebra

#5464 lib: fix heap buf overflow when adding prefix orf
  lib/plist.c
Labels: bugfix, libfrr

#5493 doc: Add moaar dashes to underline line
  doc/user/bgp.rst
Labels: documentation

#5288 doc: Adding new CLI and updating existing show output
  doc/user/bfd.rst
Labels: documentation

#5439 lib: support labelled nexthops in nexthop_groups
  doc/user/pbr.rst
  lib/nexthop_group.c
  lib/nexthop_group.h
Labels: libfrr

#5438 pbrd: Assorted Fixes
  lib/zclient.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
Labels: pbr

#5218 topotests: Adapt to linux kernel 5+
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
Labels: tests

#5468 bgpd: remove bgp_attr_dup
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_mpath.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_export_bgp.c
  bgpd/rfapi/vnc_import_bgp.c
Labels: bgp

#5226 Interface fixup
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_structs.h
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
  pimd/pim_iface.c
Labels: eigrp, ospf, pim

#5462 zebra: send RA lifetime of 0 before ceasing to advertise RAs
  zebra/interface.c
  zebra/main.c
  zebra/rtadv.c
  zebra/rtadv.h
Labels: zebra

#5332 *: revise zapi nexthop encoding
  bgpd/bgp_zebra.c
  isisd/isis_zebra.c
  lib/stream.c
  lib/stream.h
  lib/zclient.c
  lib/zclient.h
  staticd/static_zebra.c
  zebra/zapi_msg.c
  zebra/zebra_rnh.c
Labels: libfrr

#4765 lib/*: new config defaults system, v2
  Makefile.am
  bgpd/bgp_evpn.c
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  configure.ac
  defaults.h
  doc/user/basic.rst
  isisd/isis_main.c
  lib/command.c
  lib/defaults.c
  lib/defaults.h
  lib/grammar_sandbox.c
  lib/grammar_sandbox_main.c
  lib/lib_vty.c
  lib/lib_vty.h
  lib/libfrr.c
  lib/northbound_cli.c
  lib/subdir.am
  nhrpd/nhrp_main.c
  ospf6d/ospf6_main.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospfd/ospf_main.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  pimd/pim_main.c
  ripd/rip_main.c
  ripngd/ripng_main.c
  tests/.gitignore
  tests/bgpd/test_capability.c
  tests/bgpd/test_mp_attr.c
  tests/bgpd/test_packet.c
  tests/helpers/c/main.c
  tests/lib/cli/common_cli.c
  tests/lib/cxxcompat.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/test_buffer.c
  tests/lib/test_privs.c
  tests/lib/test_versioncmp.c
  tests/lib/test_versioncmp.py
  tests/subdir.am
  tests/topotests/lib/common_config.py
  tools/etc/frr/daemons
  tools/frr-reload.py
  tools/frr.in
  tools/frrcommon.sh.in
  vtysh/extract.pl.in
  vtysh/vtysh_main.c
  watchfrr/watchfrr.c
  zebra/main.c
Labels: bgp, documentation, everything, libfrr, ospf, review & merge me

#5355 PIM state machine fixes
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_jp_agg.h
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_msdp.c
  pimd/pim_msg.c
  pimd/pim_nht.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_static.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vxlan.c
  pimd/pim_vxlan.h
  pimd/pim_zebra.c
Labels: pim

#5421 pbrd: only remove interface after all seq uninstalled
  pbrd/pbr_map.c
Labels: pbr

#5499 pbrd: make the show pbr map output better
  doc/user/pbr.rst
  pbrd/pbr_vty.c
Labels: documentation, pbr

#5498 lib,sharpd: support labelled nexthop-groups in sharpd
  lib/nexthop.c
  sharpd/sharp_zebra.c
Labels: libfrr, sharp

#5505 lib: set entry to xpath in if_update_to_new_vrf
  lib/if.c
Labels: libfrr

#5509 isisd: clean ipv4/6 circuit config on destroy
  isisd/isis_nb_config.c
Labels: isis

#5429 BGP: BGP assert when it tries to access peer which is closed.
  bgpd/bgp_fsm.c
Labels: bgp, libfrr

#5513 lib: fixes invalid running_entry when VRF is changed
  lib/if.c
Labels: libfrr

#5511 doc: document ip mroute static route cmd
  doc/user/pim.rst
Labels: documentation

#5436 Fix bgp transit double free
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
Labels: bgp

#5521 pimd: clear SA warning in pimd
  pimd/pim_upstream.c
Labels: pim

#5517 zebra: use correct state when installing evpn macs
  zebra/zebra_dplane.c
Labels: zebra

#5518 [7.2] zebra: use correct state when installing evpn macs
  zebra/zebra_dplane.c
Labels: zebra

#5497 Unequality ecmp
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/zclient.c
  lib/zclient.h
  pbrd/pbr_zebra.c
  sharpd/sharp_zebra.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
  zebra/zebra_vty.c
Labels: libfrr, zebra

#5494 zebra: create zebra_cumulus_mlag module
  configure.ac
  debian/frr.install
  redhat/frr.spec.in
  zebra/subdir.am
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_private.c
  zebra/zebra_mlag_private.h
Labels: zebra

#5399 bgpd: Allow failed hostname lookup to continue in bmp
  bgpd/bgp_bmp.c
Labels: bgp, preliminary (WiP)

#5528 BMP: improve active outbound connection details
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  lib/resolver.c
  lib/resolver.h
  nhrpd/nhrp_nhs.c
Labels: bgp, libfrr, nhrp

#5531 Fix ospf ip hl trust
  ospfd/ospf_packet.c
Labels: ospf

#5532 Leaks
  isisd/isis_pdu.c
  ripd/rip_cli.c
  ripngd/ripng_cli.c
Labels: isis, rip, ripng

#5452 zebra: align dplane notify processing with nhg work
  lib/nexthop_group.c
  lib/nexthop_group.h
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: libfrr, zebra

#5535 *: cleanup elves were here
  .gitignore
  bgpd/subdir.am
  lib/agg_table.c
  lib/buffer.c
  lib/command_lex.l
  lib/filter.c
  lib/frrcu.c
  lib/frrcu.h
  lib/grammar_sandbox.c
  lib/if.c
  lib/linklist.c
  lib/linklist.h
  lib/memory.h
  lib/netns_linux.c
  lib/netns_other.c
  lib/nexthop_group.c
  lib/ns.h
  lib/prefix.c
  lib/prefix.h
  lib/routemap.c
  lib/sockopt.c
  lib/sockopt.h
  lib/systemd.c
  lib/systemd.h
  lib/vrf.c
  lib/vty.c
  lib/yang.c
  lib/yang.h
  tools/symalyzer.html
  tools/symalyzer.py
Labels: bgp, libfrr, tools

#5523 mlag compile issue fixups
  configure.ac
  mlag/subdir.am
  zebra/subdir.am
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_vty.c
  zebra/zebra_mlag_vty.h
Labels: zebra

#5427 pimd: Add command to join any-source multicast.
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_igmp_join.h
  pimd/pim_vty.c
Labels: pim

#5379 bgpd: Special handling for 2-level routing tables
  bgpd/bgp_route.c
Labels: bgp

#5502 bgpd: Show `ip` and `fqdn` in json output for `show [ip] bgp json`
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, tests

#5501 yang: add vrf model
  lib/subdir.am
  yang/frr-vrf.yang
  yang/subdir.am
Labels: yang

#5540 lib: default nexthop weights to one
  lib/nexthop.c
Labels: libfrr

#5541 zebra: a couple nhg fixes
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra

#5508 zebra: Print json output for show_route_summary_cmd
  zebra/zebra_vty.c
Labels: zebra

#5548 vtysh: add an alias for the nexthop-group config targets
  vtysh/extract.pl.in
  vtysh/vtysh.c
  vtysh/vtysh.h
Labels: vtysh

#5514 doc: add discussion for a handful of nhrp commands
  doc/user/nhrpd.rst
Labels: documentation

#5552 zebra: set RTNH_F_ONLINK in nexthop creation
  zebra/rt_netlink.c
Labels: zebra

#5556 ospfd: Prevent use after free on shutdown
  ospfd/ospf_interface.c
Labels: ospf

#5559 tests: fix endian bug in test_typelist
  tests/lib/test_typelist.h
Labels: tests

#5564 bgpd: Remove misleading 'NOTIFICATION' string from End-of-RIB log
  bgpd/bgp_packet.c
Labels: bgp

#5561 Doc update overview
  doc/manpages/bgpd.rst
  doc/user/overview.rst
Labels: documentation

#5549 doc: Update workflow to include new automated testing Requirement
  doc/developer/workflow.rst
Labels: documentation

#5543 zebra: add 'show router-id'
  doc/user/zebra.rst
  zebra/router-id.c
Labels: zebra

#5566 bgpd: Do not apply eBGP policy for iBGP peers
  bgpd/bgp_route.c
  tests/topotests/bgp_ebgp_requires_policy/r5/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r5/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/r6/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r6/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/test_bgp_ebgp_requires_policy.py
Labels: bgp, tests

#5562 [7.2] tests: fix endian bug in test_typelist
  tests/lib/test_typelist.h
Labels: bugfix, tests

#5574 bgpd: Make sure we can use `no bgp listen range ...`
  bgpd/bgp_vty.c
Labels: bgp

#5575 bgpd: [7.2] Make sure we can use `no bgp listen range ...`
  bgpd/bgp_vty.c
Labels: bgp

#5563 zebra: improve efficiency of depends_find()
  zebra/zebra_nhg.c
Labels: zebra

#5567 lib: fix build of the northbound plugins
  lib/yang.c
  lib/yang.h
Labels: libfrr

#5268 VRRP VRF support
  lib/vrf.c
  lib/vrf.h
  vrrpd/vrrp.c
  vrrpd/vrrp_zebra.c
Labels: enhancement, libfrr, vrrp

#5585 pimd: fix missing igmp mtrace length check
  pimd/pim_igmp_mtrace.c
Labels: pim

#5581 pimd: refactor ip mroute cmd
  pimd/pim_cmd.c
Labels: pim

#5583 bgpd: Allow ipv4 multicast to use v4 nexthops
  bgpd/bgp_attr.c
Labels: bgp

#5584 pimd: readd iph length checks
  pimd/pim_igmp.c
  pimd/pim_mroute.c
Labels: pim

#5579 vtysh: Ensure interface `ip mroute ...` commands are last
  vtysh/vtysh_config.c
Labels: vtysh

#5350 zebra: Fix default ns->info should point to default zebra_ns
  zebra/zebra_errors.c
  zebra/zebra_errors.h
  zebra/zebra_ns.c
Labels: zebra

#5596 doc: Add bgp neighbor password command
  doc/user/bgp.rst
Labels: documentation

#5597 bgpd: skip ra for blackhole nexthop type
  bgpd/bgp_nht.c
Labels: bgp

#5598 bgpd: fix console typo
  bgpd/bgp_vty.c
Labels: bgp

#5595 bgpd: Change description for `[no] bgp listen limit` commands
  bgpd/bgp_vty.c
Labels: bgp

#5589 bgpd: Send notification to the peer on FSM error
  bgpd/bgp_fsm.c
Labels: bgp
