Repository FRRouting/frr, pull requests merged in 2019-04, with the labels that each got.

#3931 bgpd: vrf route-leak router-id change reflect to vpn auto rd rt
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgpd.c
Labels: bgp

#4018 zebra: evpn dup detect handle ip state change
  zebra/zebra_vxlan.c
Labels: zebra

#3923 Add support for EVPN session in the non-default VRF
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_main.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  zebra/zebra_router.h
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: bgp

#3789 zebra: support skip-kernel for dataplane updates
  zebra/zebra_dplane.c
Labels: zebra

#3899 bgpd: Remove private AS numbers if local-as is defined
  bgpd/bgp_attr.c
  tests/topotests/bgp_local_as_private_remove/__init__.py
  tests/topotests/bgp_local_as_private_remove/r1/bgpd.conf
  tests/topotests/bgp_local_as_private_remove/r1/zebra.conf
  tests/topotests/bgp_local_as_private_remove/r2/bgpd.conf
  tests/topotests/bgp_local_as_private_remove/r2/zebra.conf
  tests/topotests/bgp_local_as_private_remove/r3/bgpd.conf
  tests/topotests/bgp_local_as_private_remove/r3/zebra.conf
  tests/topotests/bgp_local_as_private_remove/r4/bgpd.conf
  tests/topotests/bgp_local_as_private_remove/r4/zebra.conf
  tests/topotests/bgp_local_as_private_remove/test_bgp_local_as_private_remove.py
Labels: bgp

#3548 rip(ng)d: add VRF support
  lib/if.c
  lib/northbound_cli.c
  lib/vrf.c
  lib/vrf.h
  lib/yang.c
  lib/yang.h
  ripd/rip_cli.c
  ripd/rip_interface.c
  ripd/rip_interface.h
  ripd/rip_main.c
  ripd/rip_memory.c
  ripd/rip_memory.h
  ripd/rip_northbound.c
  ripd/rip_offset.c
  ripd/rip_peer.c
  ripd/rip_snmp.c
  ripd/rip_zebra.c
  ripd/ripd.c
  ripd/ripd.h
  ripngd/ripng_cli.c
  ripngd/ripng_interface.c
  ripngd/ripng_main.c
  ripngd/ripng_memory.c
  ripngd/ripng_memory.h
  ripngd/ripng_nexthop.c
  ripngd/ripng_northbound.c
  ripngd/ripng_offset.c
  ripngd/ripng_peer.c
  ripngd/ripng_route.c
  ripngd/ripng_route.h
  ripngd/ripng_zebra.c
  ripngd/ripngd.c
  ripngd/ripngd.h
  vtysh/vtysh.c
  yang/example/ripd.json
  yang/example/ripd.xml
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
  yang/ietf/frr-ietf-translator.json
Labels: review & merge me, rip, ripng

#4083 staticd: Allow reinstall of static nexthops on vrf restart
  staticd/static_routes.c
Labels: bugfix, staticd

#4085 zebra: Allow specification of v[4|6] addrs on some commands
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vty.c
Labels: enhancement, zebra

#4066 lib: Add hash function for nexthop groups
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
Labels: zebra

#4099 Clang sa fixes
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  lib/if.c
  ospfd/ospf_vty.c
Labels: cleanup

#4095 zebra: label manager race condition fix
  zebra/label_manager.c
Labels: bugfix, zebra

#4111 zebra: Fix late memset of pbr rule in rule_netlink
  zebra/rule_netlink.c
Labels: bugfix, zebra

#4105 Pim cleanups
  pimd/pim_ifchannel.c
  pimd/pim_upstream.c
Labels: cleanup, pim

#4103 ospfd: fix behavior of +/-metric
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_routemap.c
Labels: bugfix, ospf

#4098 [7.0]bgpd: interface based peers should automatically override it's peer g…
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/bgpd/test_peer_attr.py
Labels: bgp, bugfix

#4081 zebra: Make rnh only send response once on first registration
  zebra/zapi_msg.c
Labels: enhancement, pim

#4130 zebra: Add hidden 'show frr' command
  zebra/zebra_vty.c
Labels: enhancement, feature

#4110 zebra: label manager race condition fix (5.0 branch)
  zebra/label_manager.c
Labels: bugfix, zebra

#4029 isis: priority of isis commands in interface configuration
  isisd/isis_cli.c
  isisd/isis_northbound.c
  isisd/isis_redist.c
  yang/frr-isisd.yang
Labels: isis, review & merge me

#4094 zebra: dataplane notifications for system route changes
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_rib.c
Labels: enhancement, zebra

#4096 Pim nht cleanup
  pimd/pim_cmd.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_upstream.c
  pimd/pim_zebra.c
Labels: bugfix, enhancement, pim

#3762 bgpd: do not allocate lists on fs entries of bgp entries.
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_pbr.c
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  lib/linklist.c
  lib/linklist.h
Labels: bgp, review & merge me

#3720 lib: Allow bgp to always create a listen socket for the vrf
  lib/vrf.c
Labels: bgp, iterating

#4031 bgpd: new show cmd - bgp l2vpn evpn route vni all detail
  bgpd/bgp_evpn_vty.c
Labels: submitter action required

#4091 bgpd: [5.0] Remove private AS numbers if local-as is defined
  bgpd/bgp_attr.c
Labels: bgp

#4146 bgpd: [5.0] Add peer action for PEER_FLAG_IFPEER_V6ONLY flag
  bgpd/bgpd.c
Labels: bgp, bugfix

#4160 bgpd: add the -Z option to run bgp without zebra
  bgpd/bgp_main.c
Labels: bgp, enhancement

#4141 northbound minor fixes and improvements
  isisd/isis_misc.c
  lib/libfrr.c
  lib/log.h
  lib/log_int.h
  lib/northbound.c
  lib/northbound_sysrepo.c
  lib/yang.c
  zebra/zebra_rib.c
Labels: bugfix, libfrr

#4116 bgpd: new show cmd - bgp l2vpn evpn route detail
  bgpd/bgp_evpn_vty.c
Labels: bgp, enhancement

#4154 Zebra run once
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/adjacencies.py
  zebra/zebra_rib.c
Labels: zebra

#4164 ports: remove abandoned ports subdirectory
  Makefile.am
  ports/Makefile
  ports/README
  ports/files/md5
  ports/pkg/COMMENT
  ports/pkg/DESCR
  ports/pkg/PLIST
Labels: cleanup

#4165 zebra: stop sending invalid nexthops to clients
  lib/nexthop.h
  zebra/zebra_rnh.c
Labels: bugfix, zebra

#4156 bgpd: Allow backslash in as-path filter lists
  bgpd/bgp_filter.c
Labels: bgp, enhancement

#3811 [6.0] bgpd: Incorrect number of peers count in "show bgp ipv6 summary" output
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, blocked, submitter action required

#4170 bgpd: lock the tenant-vrf associated with the l2-vni
  bgpd/bgp_evpn_private.h
Labels: bgp, bugfix

#4166 Pim s g
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: enhancement, pim

#4057 lib: serialize privs changes
  lib/privs.c
  lib/privs.h
Labels: bugfix, libfrr

#4025 pim-evpn: Forwarding overlay BUM traffic via multicast VxLAN tunnels in the underlay
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_zebra.c
  doc/user/overview.rst
  doc/user/pim.rst
  lib/linklist.c
  lib/linklist.h
  lib/log.c
  lib/prefix.c
  lib/prefix.h
  lib/vxlan.h
  lib/zclient.c
  lib/zclient.h
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_memory.c
  pimd/pim_memory.h
  pimd/pim_mroute.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_register.c
  pimd/pim_register.h
  pimd/pim_rpf.c
  pimd/pim_str.c
  pimd/pim_str.h
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vty.c
  pimd/pim_vxlan.c
  pimd/pim_vxlan.h
  pimd/pim_vxlan_instance.h
  pimd/pim_zebra.c
  pimd/pimd.h
  pimd/subdir.am
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_vrf.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
  zebra/zebra_vxlan_private.h
  zebra/zserv.c
  zebra/zserv.h
Labels: enhancement, pim, zebra

#4161 lib: rework management of user pointers in the northbound layer
  isisd/isis_cli.c
  isisd/isis_northbound.c
  lib/if.c
  lib/northbound.c
  lib/northbound.h
  lib/yang.c
  lib/yang.h
  ripd/rip_northbound.c
  ripngd/ripng_northbound.c
Labels: libfrr, performance

#3786 zebra: async interface address programming
  lib/if.c
  lib/if.h
  zebra/if_netlink.c
  zebra/interface.c
  zebra/ioctl.c
  zebra/ioctl.h
  zebra/ioctl_solaris.c
  zebra/rt.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#4173 lib: fix warning in linklist api
  lib/linklist.c
  lib/linklist.h
Labels: cleanup, libfrr

#4162 ripd, ripngd: fix cleaning up of offset lists
  lib/if_rmap.c
  ripd/rip_offset.c
  ripd/ripd.c
  ripd/ripd.h
  ripngd/ripng_offset.c
  ripngd/ripngd.c
  ripngd/ripngd.h
Labels: bugfix, rip, ripng

#4137 isisd: Add IS-IS-TE support per Area
  isisd/isis_circuit.h
  isisd/isis_cli.c
  isisd/isis_lsp.c
  isisd/isis_northbound.c
  isisd/isis_pdu.c
  isisd/isis_te.c
  isisd/isis_te.h
  isisd/isis_zebra.c
  isisd/isisd.c
  isisd/isisd.h
  yang/frr-isisd.yang
Labels: enhancement, isis

#4183 bgpd: Validate as-path in `show bgp regexp`
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  bgpd/bgp_route.c
Labels: bgp

#4182 bgpd: [7.0] Allow backslash in as-path filter lists
  bgpd/bgp_filter.c
Labels: bgp

#4163 bgpd: instance delete unimport evpn routes
  bgpd/bgp_route.c
Labels: bgp

#4177 pimd: When creating new upstream state, figure out what we should join
  pimd/pim_upstream.c
Labels: pim

#4179 Mroute show
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: documentation, pim

#4184 doc: Specify allowed chars in bgp regular expressions
  bgpd/bgp_filter.c
  bgpd/bgp_route.c
Labels: documentation

#4188 bgpd: [7.0] Validate as-path in `show bgp regexp`
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  bgpd/bgp_route.c
Labels: bgp

#4176 Cleanup OSPF API server docs
  doc/developer/ospf-api.rst
  doc/manpages/ospfd.rst
  doc/user/ospfd.rst
Labels: documentation

#4187 doc: Cleanup output of new PIM-EVPN doc
  doc/user/pim.rst
Labels: documentation

#4196 [7.0] lib: fix uninit and incorrect array-size in privs.c
  lib/privs.c
Labels: bugfix, libfrr

#4195 [7.0] lib: control privs changes with refcount
  lib/privs.c
  lib/privs.h
Labels: bugfix, libfrr

#4203 bfdd: fix UDP source port range
  bfdd/bfd.h
Labels: bfd, bugfix, review & merge me

#4206 7.0: bfdd: fix UDP source port range
  bfdd/bfd.h
Labels: bfd, bugfix

#4200 bgpd: Make sure `next-hop-self all` backward compatible with force
  bgpd/bgp_vty.c
Labels: bgp

#4126 zebra: L3VNI's are allowed to unconfigure from any VRF
  zebra/zebra_vxlan.c
Labels: bgp, bugfix

#4140 bgpd: Do not send UPDATE message with maximum-prefix
  bgpd/bgp_evpn.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  tests/topotests/bgp_maximum_prefix_invalid_update/__init__.py
  tests/topotests/bgp_maximum_prefix_invalid_update/r1/bgpd.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r1/zebra.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r2/bgpd.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r2/zebra.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp, bugfix

#4145 BFD speed convergence up
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_nht.c
Labels: bfd, bugfix

#4155 bfdd: avoid having bfd config inherited from operation context
  bfdd/bfd.h
  bfdd/bfdd_vty.c
  bfdd/ptm_adapter.c
Labels: bfd

#4204 tools: frr-reload.py stop bouncing peers on bfd timer change
  tools/frr-reload.py
Labels: tools

#4205 pimd: Add missing flags to json output
  pimd/pim_cmd.c
Labels: enhancement, pim

#4201 Issue #4032: Add IS-IS-TE support per Area
  isisd/isis_circuit.h
  isisd/isis_cli.c
  isisd/isis_lsp.c
  isisd/isis_northbound.c
  isisd/isis_pdu.c
  isisd/isis_te.c
  isisd/isis_te.h
  isisd/isis_zebra.c
  isisd/isisd.c
  isisd/isisd.h
  yang/frr-isisd.yang
Labels: isis

#4209 zebra: resolve issue with protocol route-map not applied properly
  zebra/zebra_rib.c
Labels: bugfix, zebra

#4159 lib: Fix workqueue error function callback
  lib/workqueue.c
Labels: bugfix, libfrr

#4217 bgpd: [5.0] Incorrect number of peers count in "show bgp ipv6 summary" output
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#4211 bgpd: [6.0] Make sure `next-hop-self all` backward compatible with force
  bgpd/bgp_vty.c
Labels: bgp

#4213 bgpd: [5.0] Make sure `next-hop-self all` backward compatible with force
  bgpd/bgp_vty.c
Labels: bgp

#4212 bgpd: [7.0] Make sure `next-hop-self all` backward compatible with force
  bgpd/bgp_vty.c
Labels: bgp

#4210 bgpd: [7.0] Do not send UPDATE message with maximum-prefix
  bgpd/bgp_evpn.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  tests/topotests/bgp_maximum_prefix_invalid_update/__init__.py
  tests/topotests/bgp_maximum_prefix_invalid_update/r1/bgpd.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r1/zebra.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r2/bgpd.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/r2/zebra.conf
  tests/topotests/bgp_maximum_prefix_invalid_update/test_bgp_maximum_prefix_invalid_update.py
Labels: bgp

#4216 vtysh: Fixup exit nexthop-group to include sharpd
  vtysh/vtysh.c
Labels: vtysh

#4224 bgpd: [6.0] Do not send UPDATE message with maximum-prefix
  bgpd/bgp_evpn.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp

#4225 bgpd: [5.0] Do not send UPDATE message with maximum-prefix
  bgpd/bgp_evpn.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp
