Repository FRRouting/frr, pull requests merged in 2020-10, with the labels that each got.

#7216 Fix nht update decode wrong return code
  bgpd/bgp_nht.c
  lib/zclient.c
  pbrd/pbr_zebra.c
  pimd/pim_nht.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
Labels: libfrr

#7221 tests: fix regex in all_proto test
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#7220 isisd: fix node for clear commands
  isisd/isisd.c
Labels: isis

#7224 tests: fix typos in zebra_rib and _netlink
  tests/topotests/zebra_netlink/test_zebra_netlink.py
  tests/topotests/zebra_rib/test_zebra_rib.py
Labels: tests

#7229 tests: don't compare internal vrfId in topotests
  tests/topotests/bfd-bgp-cbit-topo3/r1/bgp_ipv6_routes_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/bgp_ipv6_routes_down.json
  tests/topotests/bgp-ecmp-topo1/r1/summary.txt
  tests/topotests/bgp-ecmp-topo1/r1/summary20.txt
  tests/topotests/bgp_features/r1/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r1/bgp_summary.json
  tests/topotests/bgp_features/r1/show_bgp.json
  tests/topotests/bgp_features/r2/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r2/bgp_summary.json
  tests/topotests/bgp_features/r2/show_bgp.json
  tests/topotests/bgp_features/r4/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r4/bgp_summary.json
  tests/topotests/bgp_features/r5/bgp_summary.json
  tests/topotests/bgp_flowspec/r1/summary.txt
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r1/ipv6_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv4_routes.json
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/r2/ipv6_routes.json
  tests/topotests/evpn-pim-1/spine/bgp.summ.json
  tests/topotests/isis-topo1-vrf/r1/r1_route.json
  tests/topotests/isis-topo1-vrf/r1/r1_route6.json
  tests/topotests/isis-topo1-vrf/r2/r2_route.json
  tests/topotests/isis-topo1-vrf/r2/r2_route6.json
  tests/topotests/isis-topo1-vrf/r3/r3_route.json
  tests/topotests/isis-topo1-vrf/r4/r4_route.json
  tests/topotests/isis-topo1-vrf/r4/r4_route6.json
  tests/topotests/isis-topo1-vrf/r5/r5_route.json
  tests/topotests/isis-topo1-vrf/r5/r5_route6.json
Labels: tests

#7232 tests: don't compare internal vrfId in topotests
  tests/topotests/isis-topo1-vrf/r3/r3_route6.json
Labels: tests

#7236 isisd, ospfd: fix missing/excessive docstrings
  isisd/isis_cli.c
  isisd/isis_ldp_sync.c
  ospfd/ospf_ldp_sync.c
Labels: isis, ospf

#7228 vtysh: dynamically generate the list of daemons for commands
  Makefile.am
  babeld/subdir.am
  bfdd/subdir.am
  bgpd/subdir.am
  eigrpd/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  lib/command.h
  nhrpd/subdir.am
  ospf6d/subdir.am
  ospfd/subdir.am
  pbrd/subdir.am
  pimd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  sharpd/subdir.am
  staticd/subdir.am
  vrrpd/subdir.am
  vtysh/daemons.pl
  vtysh/subdir.am
  vtysh/vtysh.c
  zebra/subdir.am
Labels: vtysh

#7225 vtysh: fix multiple "domainname" commands in running config
  vtysh/vtysh_config.c
Labels: vtysh

#6882 staticd : Added the warning log for route when VRF is not ready.
  staticd/static_debug.c
  staticd/static_debug.h
  staticd/static_nb_config.c
  staticd/static_nht.h
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vty.c
  staticd/static_zebra.c
Labels: staticd

#7237 tests: Skip comparing neighbor-extended-circuit-id in yang output.
  tests/topotests/isis-sr-topo1/rt1/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt2/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt3/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt4/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt4/step2/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt4/step3/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt5/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt5/step2/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt5/step3/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt5/step4/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-sr-topo1/rt6/step1/show_yang_interface_isis_adjacencies.ref
Labels: tests

#7219 Rib fixes
  zebra/rib.h
  zebra/zebra_rib.c
Labels: zebra

#7124 isisd: fix coverity errors in isis ldp-sync commands
  isisd/isis_nb_config.c
Labels: isis

#6904 lib, bgpd: Convert global configurations to transactional cli
  bgpd/bgp_main.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/subdir.am
  lib/northbound.h
  lib/subdir.am
  tests/bgpd/test_peer_attr.c
  tests/subdir.am
  yang/frr-bgp-common.yang
  yang/frr-bgp.yang
  yang/subdir.am
Labels: bgp, libfrr, tests, yang

#7214 zebra: cleanup zebra_rnh.c debugs
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
Labels: zebra

#7238 lib: remove nexthop_same_firsthop() api
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
Labels: libfrr

#7113 bgpd: allow bestpath to handle mutliple locally-originated paths
  bgpd/bgp_route.c
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce4/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_down.py
  tests/topotests/lib/bgprib.py
Labels: bgp, tests

#7202 ospf6d: Fix flooding of old copies of self-originated LSAs
  ospf6d/ospf6_flood.c
Labels: ospfv3

#7239 bgpd: aggregate-address on matching MED only
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
  tests/topotests/bgp_aggregate_address_topo1/__init__.py
  tests/topotests/bgp_aggregate_address_topo1/exabgp.env
  tests/topotests/bgp_aggregate_address_topo1/peer1/exabgp.cfg
  tests/topotests/bgp_aggregate_address_topo1/r1/bgpd.conf
  tests/topotests/bgp_aggregate_address_topo1/r1/zebra.conf
  tests/topotests/bgp_aggregate_address_topo1/r2/bgpd.conf
  tests/topotests/bgp_aggregate_address_topo1/r2/zebra.conf
  tests/topotests/bgp_aggregate_address_topo1/test_bgp_aggregate_address_topo1.py
Labels: bgp, documentation, tests

#7246 bgpd: fix SA warnings in bgp northbound
  bgpd/bgp_nb_config.c
Labels: bgp

#7250 ospfd: fix typos
  ospfd/ospf_flood.c
  ospfd/ospf_packet.h
Labels: ospf

#7241 lib: add errmsg to nb rpc
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/northbound_confd.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  zebra/zebra_nb_rpcs.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra

#7058 ospf6d : Socket change for ospf6d vrf support.
  ospf6d/ospf6_main.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_network.c
  ospf6d/ospf6_network.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
Labels: ospfv3

#7254 vtysh: remove unnecessary include
  vtysh/vtysh.c
Labels: vtysh

#7256 tests: bgp_l3vpn_to_bgp_vrf test needed to correct order
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
Labels: tests

#7262 bgpd: hide test commands
  bgpd/bgp_evpn_vty.c
Labels: bgp

#7264 Some cleanup from recent commits
  doc/user/pim.rst
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_network.c
  ospf6d/ospf6_network.h
  ospf6d/ospf6d.c
Labels: documentation, ospfv3

#7252 lib,bgpd: EVPN help string cleanup
  bgpd/bgp_evpn_vty.c
  lib/command.h
Labels: bgp, libfrr

#7266 isis crash fix
  isisd/isis_circuit.h
  isisd/isis_csm.c
  isisd/isis_zebra.c
Labels: isis

#7265 doc: document use of black for python formatting
  doc/developer/workflow.rst
Labels: documentation

#7271 staticd: To set the default value of blackhole type correctly
  staticd/static_routes.c
Labels: staticd

#7268 bgpd: Use default VRF name if using `router bgp` command
  bgpd/bgp_vty.c
Labels: bgp

#7270 Isis cleanup
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_csm.c
  isisd/isis_dr.c
  isisd/isis_lsp.c
  isisd/isis_nb_config.c
  isisd/isis_pdu.c
Labels: isis

#7275 [7.5] more fixes backports
  babeld/babel_zebra.c
  bgpd/bgp_evpn_vty.c
  isisd/isis_circuit.h
  isisd/isis_csm.c
  isisd/isis_zebra.c
  nhrpd/nhrp_vty.c
  ospf6d/ospf6d.c
  pbrd/pbr_vty.c
  pimd/pim_cmd.c
  ripd/ripd.c
  ripngd/ripng_debug.c
  ripngd/ripngd.c
  sharpd/sharp_vty.c
  staticd/static_routes.c
  staticd/static_vty.c
  vrrpd/vrrp_vty.c
  vtysh/vtysh.c
  zebra/debug.c
Labels: bgp, isis, staticd, vtysh

#6927 Cleanup a bunch of new coverity issues
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_lsdb.h
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_snmp.c
  ospf6d/ospf6_spf.c
  tests/ospf6d/test_lsdb.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_neigh.c
Labels: ospfv3, tests, zebra

#6811 ospfd: ospfv2 graceful restart helper support.
  doc/user/ospfd.rst
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_flood.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_gr_helper.h
  ospfd/ospf_interface.c
  ospfd/ospf_ism.c
  ospfd/ospf_ism.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_memory.c
  ospfd/ospf_memory.h
  ospfd/ospf_neighbor.c
  ospfd/ospf_neighbor.h
  ospfd/ospf_nsm.c
  ospfd/ospf_nsm.h
  ospfd/ospf_packet.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  ospfd/subdir.am
Labels: ospf

#7284 bgpd: Correctly calculate threshold being reached
  bgpd/bgp_route.c
Labels: bgp

#7251 vtysh: fix build-time errors for some --enable flags
  vtysh/.gitignore
  vtysh/vtysh.c
Labels: vtysh

#7287 bgpd: fix show bgp neighbor routes for labeled-unicast
  bgpd/bgp_route.c
Labels: bgp

#7277 bgpd: fix crash in bgp instance creation
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#7279 17 coverity
  ospfd/ospf_network.c
  ripngd/ripng_nb_config.c
Labels: ospf, ripng

#7179 tests: Enable evpn_type5_test_topo1 suite to run in CI
  tests/topotests/pytest.ini
Labels: tests

#7294 ospfd: fix "no ip ospf area"
  ospfd/ospf_vty.c
Labels: ospf

#7291 bgpd: [7.5] Backport maximum-prefix and show bgp neighbor routes for LU fixes
  bgpd/bgp_route.c
Labels: bgp

#7288 BSD: ifi_link_state is the link state
  zebra/ioctl.c
Labels: zebra

#7295 ospfd: Prevent crash if transferring config amongst instances
  ospfd/ospf_vty.c
Labels: ospf

#7258 zebra: remove 'static' lsp objects
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
Labels: zebra

#7298 zebra: quiet the zebra opaque message debugs
  zebra/zebra_opaque.c
Labels: zebra

#7244 Mlag backout and fix
  zebra/zebra_mlag_private.c
Labels: zebra

#7180 tests: Add bgp_communities_topo1 test suite
  tests/topotests/bgp_communities_topo1/bgp_communities_topo2.json
  tests/topotests/bgp_communities_topo1/test_bgp_communities_topo2.py
Labels: tests

#7310 bgpd: print error when as-path filter doesn't exist
  bgpd/bgp_filter.c
Labels: bgp

#7308 ospfd: fix SA warnings in ospfd, ospfclient
  ospfclient/ospf_apiclient.c
  ospfd/ospf_gr_helper.c
Labels: ospf

#7309 ospfd: make GR reason string production safer
  ospfd/ospf_gr_helper.c
  ospfd/ospf_gr_helper.h
  ospfd/ospf_vty.c
Labels: ospf

#5895 pimd: Clear (s,g,rpt) ifchannel on (*, G) prune received
  pimd/pim_join.c
Labels: pim

#6016 pimd: Handling prune received during join state and join received during prune pending
  pimd/pim_ifchannel.c
Labels: pim

#7312 isisd: fix check for area-tag modification
  isisd/isis_nb_config.c
Labels: isis, ospf

#7304 ospfd: fix invocation of ospfTrapNbrStateChange
  ospfd/ospf_snmp.c
Labels: ospf

#7320 vrrpd: Convert to using %pFX
  vrrpd/vrrp.c
  vrrpd/vrrp_zebra.c
Labels: vrrp

#7290 tools: use function chownfrr everywhere
  tools/frrcommon.sh.in
Labels: tools

#7235 lib,yang: cisco acl network wildcard fixes
  lib/filter_cli.c
  lib/filter_nb.c
  yang/frr-filter.yang
Labels: libfrr, yang

#7335 tests: fix spurious failures in the TI-LFA topotest
  tests/topotests/isis-tilfa-topo1/rt1/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-tilfa-topo1/rt2/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-tilfa-topo1/rt3/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-tilfa-topo1/rt4/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-tilfa-topo1/rt5/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-tilfa-topo1/rt6/step1/show_yang_interface_isis_adjacencies.ref
Labels: tests

#7317 Pr fix evpn prefix2string
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  lib/prefix.c
Labels: bgp, libfrr

#7306 Bgp dest print
  bgpd/bgp_bmp.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_private.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_table.c
  bgpd/bgp_table.h
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_export_bgp.c
  doc/developer/logging.rst
Labels: bgp, documentation

#7330 zebra: Fix use after free in debug path
  zebra/zebra_rib.c
Labels: zebra

#7336 sharpd: Fix nexthop group name collision
  sharpd/sharp_nht.c
Labels: sharp

#7267 lib: Relax usage of `ip prefix-list A.B.C.D/M ge Y`
  lib/filter_nb.c
Labels: libfrr

#7333 zebra: support multiple connected subnets on an interface
  zebra/zebra_rib.c
Labels: zebra

#7334 [7.5] zebra: support multiple connected subnets on an interface
  zebra/zebra_rib.c
Labels: zebra

#7331 [7.5]zebra: Fix use after free in debug path
  zebra/zebra_rib.c
Labels: zebra

#7300 lib,bgpd: more evpn route-type numerical command versions
  bgpd/bgp_debug.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_evpn_vty.h
  bgpd/bgp_routemap.c
  lib/command.h
Labels: bgp, libfrr

#7346 yang: fix circular chain of leafrefs
  yang/frr-nexthop.yang
Labels: yang

#7344 zebra: add alias for "show ip/ipv6 ro"
  zebra/zebra_vty.c
Labels: zebra

#7289 zebra: a couple NHG fixes
  zebra/zebra_nhg.c
Labels: zebra

#7311 Abstract rn->lock accessing and cleanup usage to %pFX and %pRN
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_table.h
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  lib/agg_table.h
  lib/if.c
  lib/plist.c
  lib/routemap.c
  lib/table.c
  lib/table.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_abr.c
  ospfd/ospf_asbr.c
  ospfd/ospf_ia.c
  ospfd/ospf_lsa.c
  ospfd/ospf_neighbor.c
  ospfd/ospf_route.c
  ospfd/ospf_vty.c
  pimd/pim_rp.c
  ripd/rip_interface.c
  ripd/ripd.c
  ripngd/ripng_interface.c
  ripngd/ripngd.c
  tests/lib/test_srcdest_table.c
  zebra/zebra_rib.c
Labels: cleanup, libfrr, ospf, ospfv3, rip, ripng

#7323 bgpd: Convert inet_ntoa to %pI4
  bgpd/bgp_attr.c
  bgpd/bgp_btoa.c
  bgpd/bgp_debug.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_label.c
  bgpd/bgp_packet.c
  bgpd/bgp_rd.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
Labels: bgp, cleanup

#7206 ospfd: flush type 5 when type 7 is removed
  ospfd/ospf_abr.c
Labels: ospf

#7276 tests: add `lsp-gen-interval 2` to isis configuration
  tests/topotests/bfd-isis-topo1/rt1/isisd.conf
  tests/topotests/bfd-isis-topo1/rt2/isisd.conf
  tests/topotests/bfd-isis-topo1/rt3/isisd.conf
  tests/topotests/bfd-isis-topo1/rt4/isisd.conf
  tests/topotests/bfd-isis-topo1/rt5/isisd.conf
  tests/topotests/bfd-profiles-topo1/r3/isisd.conf
  tests/topotests/bfd-profiles-topo1/r4/isisd.conf
  tests/topotests/isis-sr-topo1/rt1/isisd.conf
  tests/topotests/isis-sr-topo1/rt2/isisd.conf
  tests/topotests/isis-sr-topo1/rt3/isisd.conf
  tests/topotests/isis-sr-topo1/rt4/isisd.conf
  tests/topotests/isis-sr-topo1/rt5/isisd.conf
  tests/topotests/isis-sr-topo1/rt6/isisd.conf
  tests/topotests/isis-topo1-vrf/r1/isisd.conf
  tests/topotests/isis-topo1-vrf/r2/isisd.conf
  tests/topotests/isis-topo1-vrf/r3/isisd.conf
  tests/topotests/isis-topo1-vrf/r4/isisd.conf
  tests/topotests/isis-topo1-vrf/r5/isisd.conf
  tests/topotests/isis-topo1/r1/isisd.conf
  tests/topotests/isis-topo1/r2/isisd.conf
  tests/topotests/isis-topo1/r3/isisd.conf
  tests/topotests/isis-topo1/r4/isisd.conf
  tests/topotests/isis-topo1/r5/isisd.conf
  tests/topotests/ldp-sync-isis-topo1/r1/isisd.conf
  tests/topotests/ldp-sync-isis-topo1/r2/isisd.conf
  tests/topotests/ldp-sync-isis-topo1/r3/isisd.conf
Labels: tests

#7353 bgpd: fix crash in the MH cleanup handling
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_main.c
  bgpd/bgpd.c
Labels: bgp

#7337 bgpd: Make the process_queue per bgp process
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#7360 eigrpd: Replace inet_ntoa with %pI4
  eigrpd/eigrp_dump.c
  eigrpd/eigrp_dump.h
  eigrpd/eigrp_fsm.c
  eigrpd/eigrp_hello.c
  eigrpd/eigrp_neighbor.c
  eigrpd/eigrp_network.c
  eigrpd/eigrp_packet.c
  eigrpd/eigrp_update.c
  eigrpd/eigrp_vty.c
  eigrpd/eigrpd.c
Labels: eigrp

#7302 eigrpd: Tone down warning when command is not implemented yet
  eigrpd/eigrp_northbound.c
Labels: eigrp

#7369 bgpd: fix information strings for vtysh
  bgpd/bgp_vty.c
Labels: bgp

#7340 lib: Convert inet_ntoa to %pI4
  lib/filter.c
  lib/if.c
  lib/nexthop.c
  lib/nexthop_group.c
  lib/sockunion.c
Labels: cleanup, libfrr

#7358 ospfd, zebra: Replace use of inet_ntoa
  ospfclient/ospfclient.c
  ospfd/ospf_abr.c
  ospfd/ospf_apiserver.c
  ospfd/ospf_asbr.c
  ospfd/ospf_ase.c
  ospfd/ospf_bfd.c
  ospfd/ospf_dump.c
  ospfd/ospf_dump_api.c
  ospfd/ospf_ext.c
  ospfd/ospf_flood.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_ia.c
  ospfd/ospf_interface.c
  ospfd/ospf_ism.c
  ospfd/ospf_lsa.c
  ospfd/ospf_neighbor.c
  ospfd/ospf_network.c
  ospfd/ospf_nsm.c
  ospfd/ospf_opaque.c
  ospfd/ospf_packet.c
  ospfd/ospf_ri.c
  ospfd/ospf_route.c
  ospfd/ospf_snmp.c
  ospfd/ospf_spf.c
  ospfd/ospf_sr.c
  ospfd/ospf_te.c
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  zebra/connected.c
  zebra/interface.c
  zebra/irdp_packet.c
  zebra/rt_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_fpm.c
  zebra/zebra_fpm_dt.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_mpls.c
  zebra/zebra_mroute.c
  zebra/zebra_rnh.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
Labels: cleanup, ospf, zebra

#7367 ldpd: replace inet_ntoa
  ldpd/address.c
  ldpd/adjacency.c
  ldpd/hello.c
  ldpd/init.c
  ldpd/interface.c
  ldpd/keepalive.c
  ldpd/labelmapping.c
  ldpd/ldp_vty_conf.c
  ldpd/ldp_vty_exec.c
  ldpd/ldp_zebra.c
  ldpd/logmsg.c
  ldpd/neighbor.c
  ldpd/notification.c
  ldpd/packet.c
Labels: cleanup, ldp, pim

#7372 ripd, staticd, isisd, babeld: replace inet_ntoa
  babeld/babel_filter.c
  babeld/babel_interface.c
  isisd/isis_adjacency.c
  isisd/isis_te.c
  isisd/isis_tlvs.c
  ripd/rip_interface.c
  ripd/rip_peer.c
  ripd/rip_zebra.c
  ripd/ripd.c
  staticd/static_vty.c
Labels: babel, isis, rip, staticd

#7365 pimd: replace inet_ntoa
  pimd/mtracebis.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_igmpv3.c
  pimd/pim_nht.c
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_upstream.c
  pimd/pim_zebra.c
Labels: cleanup, pim

#7345 bgpd: aggregate-address suppress-map
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
  tests/topotests/bgp_aggregate_address_topo1/peer1/exabgp.cfg
  tests/topotests/bgp_aggregate_address_topo1/r1/bgpd.conf
  tests/topotests/bgp_aggregate_address_topo1/test_bgp_aggregate_address_topo1.py
Labels: bgp, documentation, tests

#7364 zebra: Do not delete nhg's when retain_mode is engaged
  zebra/main.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
Labels: zebra

#7354 [7.5] ospf6d: fix crash on message receive
  ospf6d/ospf6_main.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
Labels: ospfv3

#7382 zebra: fix unitialized msg header reading at startup
  zebra/kernel_netlink.c
Labels: zebra

#7383 zebra: clean up all router id lists [7.5]
  zebra/zebra_vrf.c
Labels: zebra

#7380 Add more Segment Routing controls
  ospfd/ospf_ext.c
  ospfd/ospf_sr.c
Labels: ospf

#7379 isisd: Fix memory leak on shutdown
  isisd/isisd.c
Labels: isis

#7377 bgpd: Bgp static routes memory leak
  bgpd/bgp_route.c
Labels: bgp

#7374 zebra: Fix the NHG dependents relationship
  zebra/zebra_nhg.c
Labels: zebra

#7194 Tracing
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_trace.c
  bgpd/bgp_trace.h
  bgpd/subdir.am
  configure.ac
  doc/developer/index.rst
  doc/developer/tracing.rst
  lib/frr_pthread.c
  lib/hash.c
  lib/libfrr_trace.c
  lib/libfrr_trace.h
  lib/linklist.c
  lib/memory.c
  lib/subdir.am
  lib/table.c
  lib/thread.c
  lib/trace.h
  lib/zassert.h
  lib/zlog.c
Labels: bgp, build, documentation, libfrr

#7217 zebra: fix double clearing of zif->es_info.es
  zebra/zebra_evpn_mh.c
Labels: zebra

#7388 More string
  pbrd/pbr_zebra.c
  zebra/zebra_mpls.c
  zebra/zebra_rib.c
Labels: pbr, zebra

#7384 lib: add API to load YANG modules on demand
  lib/northbound.c
  lib/northbound.h
  lib/northbound_confd.c
  lib/northbound_sysrepo.c
  lib/yang.c
  lib/yang.h
  lib/yang_translator.c
  tools/gen_northbound_callbacks.c
  tools/gen_yang_deviations.c
Labels: libfrr

#7376 pimd: Fix pim address-of-unaligned error and use of zlog_warn
  pimd/pim_igmp_mtrace.c
Labels: pim

#7387 bgpd: delay local routes until update-delay is over
  bgpd/bgp_packet.c
Labels: bgp

#7389 bgpd: Fix profiles compile issue when not using bfdd
  bgpd/bgp_bfd.c
Labels: bgp

#7393 bgpd: fix mem leak in router bgp import vrf check
  bgpd/bgp_mplsvpn.c
Labels: bgp

#7341 ospfd: External LSA not flushed when area is configured as NSSA
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
Labels: ospf

#7026 *: Convert bgp afi-safis configurations to transactional clis
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  lib/command.c
  yang/frr-bgp-common.yang
  yang/frr-bgp.yang
  yang/frr-route-types.yang
Labels: bgp, libfrr, tests, yang

#7173 ospfd: fix lsa type-7 continuously refreshed
  ospfd/ospf_asbr.c
Labels: ospf

#7189 bgpd: conditional advertisement
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_conditional_adv.h
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/subdir.am
  doc/user/bgp.rst
  tests/topotests/bgp_conditional_advertisement/__init__.py
  tests/topotests/bgp_conditional_advertisement/r1/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/r1/zebra.conf
  tests/topotests/bgp_conditional_advertisement/r2/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/r2/zebra.conf
  tests/topotests/bgp_conditional_advertisement/r3/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/r3/zebra.conf
  tests/topotests/bgp_conditional_advertisement/test_bgp_conditional_advertisement.py
Labels: bgp

#7318 VyOS backports from 7.5 series
  bfdd/bfdd_cli.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_top.c
Labels: bfd, ospfv3

#7329 staticd: fix checks for table param in "ip route" commands
  staticd/static_vty.c
Labels: staticd

#7370 tools: add staticd line in daemon config file
  tools/etc/frr/daemons
Labels: tools

#7390 Evpn uptime
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_evpn_neigh.h
Labels: zebra

#7381 zebra: add type specifier to show nexthop-group
  doc/user/zebra.rst
  zebra/zebra_vty.c
Labels: documentation, zebra

#7158 evpn-mh: support for DF election
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_zebra.c
  lib/json.c
  lib/json.h
  lib/prefix.c
  lib/prefix.h
  lib/stream.h
  lib/vxlan.h
  lib/zclient.h
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  zebra/interface.h
  zebra/kernel_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_l2.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: bgp, libfrr, zebra

#7395 isisd: Fix memory leak in copy_tlv_router_cap
  isisd/isis_tlvs.c
Labels: isis

#7352 zebra: fix strange indentation
  zebra/rt_netlink.c
Labels: zebra

#7398 tests: do not rely on fixed indices in show output
  tests/topotests/bgp-evpn-vxlan_topo1/test_bgp_evpn_vxlan.py
Labels: tests

#7397 bgpd: Prevent ecomm memory leak
  bgpd/bgp_evpn_vty.c
Labels: bgp

#7394 isisd: Fix usage of uninited memory
  isisd/isis_tlvs.c
Labels: isis

#7301 many ospfd fixes
  ospfd/ospf_interface.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#7371 evpn-mh: uplink tracking and startup delay
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/bgp-evpn-mh/torm11/zebra.conf
  tests/topotests/bgp-evpn-mh/torm12/zebra.conf
  tests/topotests/bgp-evpn-mh/torm21/zebra.conf
  tests/topotests/bgp-evpn-mh/torm22/evpn.conf
  tests/topotests/bgp-evpn-mh/torm22/zebra.conf
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_router.h
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
Labels: tests, zebra

#7396 doc: Add documentation for EVPN Multihoming
  doc/user/bgp.rst
Labels: documentation

#7378 pbrd: Fix memory leak
  pbrd/pbr_main.c
  pbrd/pbr_vrf.c
  pbrd/pbr_vrf.h
  pbrd/pbr_zebra.c
  pbrd/pbr_zebra.h
Labels: pbr

#7406 VyOS backports from 7.5 series for FRR 7.4
  bfdd/bfdd_cli.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_top.c
Labels: bfd, ospfv3

#7407 [7.5] backport recent fixes
  bgpd/bgp_bfd.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_filter.c
  bgpd/bgp_main.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  isisd/isis_nb_config.c
  isisd/isis_tlvs.c
  isisd/isisd.c
  lib/filter_cli.c
  lib/filter_nb.c
  ospfd/ospf_abr.c
  ospfd/ospf_asbr.c
  ospfd/ospf_interface.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  staticd/static_vty.c
  tools/etc/frr/daemons
  yang/frr-filter.yang
  zebra/kernel_netlink.c
  zebra/main.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: bgp, isis, libfrr, ospf, staticd, tools, yang, zebra

#7045 lib: Resolve signal handling race in event loop
  lib/sigevent.c
  lib/sigevent.h
  lib/thread.c
  lib/thread.h
Labels: libfrr

#7413 zebra: Don't do expensive string manip if not in debug
  zebra/zebra_rib.c
Labels: zebra

#7412 Ospf6 stuff
  ospf6d/ospf6_message.c
  ospf6d/ospf6_network.c
  ospf6d/ospf6_network.h
Labels: ospfv3

#7408 isisd: fix segfault with circuit p2p neighbor
  isisd/isis_circuit.c
Labels: isis

#7414 zebra: Consolidate on 32 bits as the flag size for route flags
  zebra/kernel_socket.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zebra_rib.c
Labels: zebra

#7415 ospfd, zebra: Fix SA warnings
  ospfd/ospfd.c
  zebra/interface.c
  zebra/interface.h
Labels: ospf, zebra

#7418 *: spelling fixes
  bgpd/bgp_route.c
  isisd/isis_cli.c
  ospfd/ospf_zebra.c
  pimd/pim_mlag.c
  zebra/router-id.c
  zebra/zebra_nb_config.c
Labels: zebra

#7429 RPM Subpackages for RPKI and SNMP
  redhat/frr.spec.in
Labels: packaging

#7430 [7.5] RPM Subpackages for RPKI and SNMP
  redhat/frr.spec.in
Labels: packaging
