Repository FRRouting/frr, pull requests merged in 2020-05, with the labels that each got.

#6329 zebra: Display ifindex of interface being installed on
  zebra/rt_netlink.c
Labels: zebra

#6330 zebra: force off kernel NHG install with netns VRFs
  zebra/rt_netlink.c
Labels: zebra

#6336 [7.3] zebra: force off kernel NHG install with netns VRFs
  zebra/rt_netlink.c
Labels: zebra

#6338 bgpd: [7.3] bools use `true/false` not `TRUE/FALSE`
  bgpd/bgp_route.c
Labels: bgp

#6335 bgpd: Show "(Policy)" under PfxRcd/PfxSnt when eBGP policy is in use
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: bgp, documentation

#6103 zebra: don't treat every interface as unnumbered
  zebra/connected.c
Labels: zebra

#6349 lib: make hook.h cpp-compatible
  lib/hook.h
Labels: libfrr

#6350 bgpd: Check to ensure community attributes exist before freeing them
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_lcommunity.c
Labels: bgp

#6347 tools: LLVM-based call graphs
  .gitignore
  Makefile.am
  grpc/subdir.am
  ldpd/subdir.am
  lib/subdir.am
  python/callgraph-dot.py
  python/makefile.py
  python/makevars.py
  qpb/subdir.am
  tools/frr-llvm-cg.c
  tools/subdir.am
Labels: clippy, tools

#6353 bgpd: [7.3] Check to ensure community attributes exist before freeing them
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_lcommunity.c
Labels: bgp

#6354 bgpd: [7.2] Check to ensure community attributes exist before freeing them
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_lcommunity.c
Labels: bgp

#6352 ldpd: LDP does not always send traffic with correct DSCP value.
  ldpd/neighbor.c
Labels: ldp

#6357 tests: remove unused ref files from ldp topotest
  tests/topotests/ldp-topo1/r3/how_mpls_table.ref
  tests/topotests/ldp-topo1/r4/how_mpls_table.ref
Labels: tests

#6284 [7.2] backport gcc-10 fixes
  babeld/babeld.c
  babeld/util.h
  bgpd/bgp_attr_evpn.h
  ldpd/lde.c
  ldpd/ldpd.c
  ldpd/ldpd.h
  ldpd/ldpe.c
  ldpd/ldpe.h
  pimd/pimd.c
  pimd/pimd.h
  tests/bgpd/test_mpath.c
  vrrpd/vrrp_debug.h
Labels: babel, bgp, ldp, pim, tests, vrrp

#6360 [7.2] fix random debian & SA warnings
  debian/README.Debian
  nhrpd/list.h
  nhrpd/nhrpd.h
Labels: nhrp, packaging

#6359 zebra: abstract 5549 check into a function
  zebra/rt_netlink.c
Labels: zebra

#6358 zebra: Loosen ONLINK restrictions a tiny bit
  zebra/zebra_nhg.c
Labels: zebra

#6356 bgpd: Ignore aggregator attribute if it's malformed (0.0.0.0)
  bgpd/bgp_attr.c
Labels: bgp

#6365 zebra: Add code to install v6 blackhole routes on *bsd
  zebra/rt_socket.c
Labels: zebra

#6363 bgpd: `bgp bestpath bandwidth` should not be a legal command
  bgpd/bgp_vty.c
Labels: bgp

#6362 Typedef i hatez it
  zebra/rib.h
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_dplane.c
  zebra/zebra_fpm.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_router.c
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
Labels: zebra

#6348 tools: fix frr traceback on bgp neighbor bfd deletion
  tools/frr-reload.py
Labels: tools

#6368 Async grpc
  lib/northbound_grpc.cpp
Labels: libfrr

#6374 lib: fix undue warning during gRPC module initialization
  lib/northbound_grpc.cpp
Labels: libfrr

#6379 Ip as path removal really
  bgpd/bgp_filter.c
  doc/user/bgp.rst
Labels: bgp, documentation

#6381 lib: remove unnecessary rpc request in grpc
  lib/northbound_grpc.cpp
Labels: libfrr

#6370 overview.rst: add RFC to VRRP
  doc/user/overview.rst
Labels: documentation

#6340 Adopt the BSD-2-Clause license for our YANG modules
  yang/LICENSE
  yang/frr-bfdd.yang
  yang/frr-eigrpd.yang
  yang/frr-filter.yang
  yang/frr-igmp.yang
  yang/frr-interface.yang
  yang/frr-isisd.yang
  yang/frr-module-translator.yang
  yang/frr-nexthop.yang
  yang/frr-pim-rp.yang
  yang/frr-pim.yang
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
  yang/frr-route-map.yang
  yang/frr-route-types.yang
  yang/frr-routing.yang
  yang/frr-staticd.yang
  yang/frr-test-module.yang
  yang/frr-vrf.yang
  yang/frr-vrrpd.yang
  yang/frr-zebra.yang
Labels: yang

#6334 bgpd: Set a proper SAFI for labaled-unicast when looking for scount
  bgpd/bgp_vty.c
Labels: bgp

#6250 *: RIB operational northbound callbacks implementation
  yang/frr-zebra.yang
  zebra/rib.h
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_nb_state.c
  zebra/zebra_router.c
  zebra/zebra_router.h
Labels: yang, zebra

#6384 doc: Improve Zebra set src documentation. (IPv6)
  doc/user/zebra.rst
Labels: documentation

#6387 tools: revert frr-reload.py remove stderr redirects"
  tools/frr-reload.py
Labels: tools

#6220 tests: Add bgp-graceful-restart test suites
  tests/topotests/bgp_gr_functionality_topo1/bgp_gr_topojson_topo1.json
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/bgp_gr_topojson_topo2.json
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests

#6227 zebra: permit usage of show nexthop-group with namespace based vrfs
  zebra/zebra_vty.c
Labels: zebra

#6377 bgpd: Use default AFI_IP6/SAFI_UNICAST when displaying statistics
  bgpd/bgp_route.c
Labels: bgp

#6342 isisd: Preparation to merge Segment-Routing into master
  doc/user/isisd.rst
  isisd/isis_nb_config.c
  isisd/isis_sr.c
  isisd/isis_sr.h
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  isisd/isisd.h
Labels: isis

#6400 zebra: fix SA warning in zebra_nb_state.c
  zebra/zebra_nb_state.c
Labels: zebra

#6408 [7.4] DC's
  bgpd/bgp_filter.c
  bgpd/bgp_vty.c
  tools/frr-reload.py
Labels: bgp, tools

#6411 bgpd: fix ecom leak handling l3vni update
  bgpd/bgp_ecommunity.c
  bgpd/bgp_evpn.c
Labels: bgp

#6409 [7.4] bgpd two fixes
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
Labels: bgp

#6401 zebra: avoid using c++ keywords in headers
  zebra/rib.h
  zebra/zebra_gr.c
  zebra/zebra_rib.c
  zebra/zserv.h
Labels: zebra

#6422 Doc: minor fixes
  doc/user/bgp.rst
  doc/user/ospf_fundamentals.rst
  doc/user/wecmp_linkbw.rst
  doc/user/zebra.rst
Labels: documentation

#6406 tools: Only load instances or daemon
  tools/frrcommon.sh.in
Labels: tools

#6421 zebra: Trust onlink flag for nexthop active resolution
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
Labels: zebra

#6420 bgpd: Free non-best paths also during table cleanup
  bgpd/bgp_route.c
Labels: bgp

#6344 ospf6d: withdraw redistributed prefixes based on prefix-list changes
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#5077 BGP EVPN vrf netns backend
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  doc/user/bgp.rst
  include/linux/net_namespace.h
  lib/netns_linux.c
  lib/ns.h
  lib/vrf.c
  lib/vrf.h
  zebra/if_netlink.c
  zebra/interface.c
  zebra/main.c
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_netns_id.c
  zebra/zebra_netns_id.h
  zebra/zebra_netns_notify.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: bgp, documentation, libfrr, zebra

#6351 fpm: explicit next hop groups control
  doc/user/zebra.rst
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.h
Labels: documentation, fpm, zebra

#6419 Zebra macfdb fixup
  zebra/rt_netlink.c
Labels: zebra

#6389 zebra: prefer outer label_type for recursive nexthops
  zebra/zebra_nhg.c
Labels: zebra

#6339 redux lists/datastructure const
  doc/developer/lists.rst
  lib/typerb.c
  lib/typerb.h
  lib/typesafe.c
  lib/typesafe.h
  tests/lib/test_typelist.h
Labels: libfrr, zebra

#6428 lib: fix bandwidth multiplier for link param
  lib/if.c
  lib/if.h
Labels: libfrr

#6417 bfdd: remove duplicated code and fix comment
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_nb_config.c
  yang/frr-bfdd.yang
Labels: bfd, yang

#6426 Update ifname before hook
  lib/if.c
  lib/if.h
  zebra/if_netlink.c
  zebra/zebra_l2.c
Labels: libfrr, zebra

#6427 doc: add a doc for the frr-reload script
  doc/user/frr-reload.rst
  doc/user/index.rst
  doc/user/setup.rst
  doc/user/subdir.am
Labels: documentation

#6429 isisd: set TE link params on circuit creation
  isisd/isis_circuit.c
Labels: isis

#6431 bgpd: remove duplicate cli command installation
  bgpd/bgp_vty.c
Labels: bgp

#6432 bfdd: support pre configured peer profiles
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/ptm_adapter.c
  doc/user/bfd.rst
  lib/command.c
  lib/command.h
  vtysh/vtysh.c
  yang/frr-bfdd.yang
Labels: bfd, documentation, libfrr, vtysh, yang

#6398 tests: Add bgp-multi-vrf test suites
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp_multi_vrf_topo1/bgp_multi_vrf_topo1.json
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/bgp_multi_vrf_topo2.json
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topojson.py
Labels: tests

#6056 pimd: Prune->noinfo state has to put off join expiry timer and delete ifchannel
  pimd/pim_ifchannel.c
Labels: pim

#6423 ospfd: Route-tag is not set to external routes when applied using route maps
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_zebra.c
Labels: ospf

#6293 tests: introduce a proper JSON diff for topotests
  tests/topotests/conftest.py
  tests/topotests/lib/test/test_json.py
  tests/topotests/lib/topotest.py
Labels: submitter action required, tests

#6407 ospf6d: Revert "ospf6d: Prevent use after free"
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
Labels: ospfv3

#6443 tests: Fix JSON diff for nested lists
  tests/topotests/lib/test/test_json.py
  tests/topotests/lib/topotest.py
Labels: tests

#6402 Fix rtadv stuff
  zebra/rtadv.c
  zebra/zapi_msg.c
Labels: zebra

#6462 lib: Minor update to EVPN type-5 prefix display
  lib/prefix.c
Labels: libfrr

#6459 Fix BGP NHT to skip inappropriate paths & only act upon change
  bgpd/bgp_evpn.c
  bgpd/bgp_nht.c
Labels: bgp

#6458 bgpd: Enhance BGP NHT show commands
  bgpd/bgp_nexthop.c
Labels: bgp

#6445 tests: Turn on nhrpd and babeld as part of all-protocol-startup
  tests/topotests/all-protocol-startup/r1/babeld.conf
  tests/topotests/all-protocol-startup/r1/nhrpd.conf
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests

#6441 ospfd: small doc and cli changes
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
Labels: documentation, ospf

#5881 pimd: add show ip multicast count [json] command
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: pim

#6463 bgpd: Extend EVPN next hop tracking for additional EVPN routes
  bgpd/bgp_evpn.c
Labels: bgp

#6375 bgpd: EVPN RT-2 advertised with 2 labels for prefix-routes-only config
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_private.h
Labels: bgp

#6447 topotest: refactory BGP VRF leak basic test
  tests/topotests/bgp-vrf-route-leak-basic/test_bgp-vrf-route-leak-basic.py
Labels: tests

#6469 doc: add dev doc for ubuntu 20.04
  doc/developer/building-frr-for-ubuntu2004.rst
  doc/developer/building.rst
  doc/developer/subdir.am
Labels: documentation

#6474 doc: Update BGP show bgp (ext|large-)community-list commands
  doc/user/bgp.rst
Labels: documentation

#6475 pimd: Fix crash on restart from thread_cancel
  pimd/pim_zlookup.c
Labels: pim

#6466 tools/frr-reload: cleanup + `--vty_socket`
  doc/user/frr-reload.rst
  tools/frr-reload.py
  vtysh/vtysh.c
Labels: documentation, vtysh

#6476 zebra, lib: bugfix for zebra packet debugging messages
  lib/stream.c
  lib/stream.h
  zebra/zserv.c
Labels: libfrr, zebra

#6478 doc: encourage const in the developer doc
  doc/developer/workflow.rst
Labels: documentation

#6416 ospfd: Solve crash after removing and adding conf.
  ospfd/ospf_ext.c
  ospfd/ospf_ext.h
  ospfd/ospf_ri.c
  tests/topotests/ospf-sr-topo1/r2/ospfd.conf
Labels: ospf

#6481 bgpd: Use THREAD_CANCEL instead of thread_cancel
  bgpd/bgp_network.c
Labels: bgp

#6479 isisd: fix issue with local address TE TLV
  isisd/isis_circuit.c
Labels: isis

#6482 doc: Update snmp.rst
  doc/user/snmp.rst
Labels: documentation

#6488 More useful debug
  bgpd/bgp_network.c
  doc/user/snmp.rst
Labels: bgp, documentation

#6484 bgpd: Fix "malformed communities" for accept-own-nexthop
  bgpd/bgp_community.c
Labels: bgp
