Repository FRRouting/frr, pull requests merged in 2020-04, with the labels that each got.

#6122 tests: More cbit extensions
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
Labels: tests

#6120 ospf6d: Recent changes in our build cause const to be respected
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
Labels: ospfv3

#6109 ldpd: host only filter
  ldpd/lde.c
  ldpd/lde.h
  ldpd/ldpd.c
  tests/topotests/ldp-oc-acl-topo1/r1/show_ldp_all_binding.ref
  tests/topotests/ldp-oc-acl-topo1/r2/show_ldp_all_binding.ref
  tests/topotests/ldp-oc-acl-topo1/r3/show_ldp_all_binding.ref
  tests/topotests/ldp-oc-acl-topo1/r4/show_ldp_all_binding.ref
  tests/topotests/ldp-oc-acl-topo1/test_ldp_oc_acl_topo1.py
Labels: ldp, tests

#6131 doc: document JSON conventions
  doc/developer/workflow.rst
Labels: documentation

#6132 bgpd: #if ENABLE_BGP_VNC -> #ifdef ENABLE_BGP_VNC
  bgpd/bgp_attr.h
  bgpd/bgp_main.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_rd.c
  bgpd/bgp_rd.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgp_vnc_types.h
  bgpd/bgp_vpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/rfapi/bgp_rfapi_cfg.h
  bgpd/rfapi/rfapi.h
  bgpd/rfapi/rfapi_backend.h
  bgpd/rfapi/vnc_debug.h
Labels: bgp

#6133 zebra: free unhashable (dup) NHEs via ID table cleanup
  zebra/zebra_router.c
Labels: zebra

#6136 [7.3] zebra: determine src with nexthop objects as well
  zebra/rt_netlink.c
Labels: zebra

#6140 [7.3] zebra: free unhashable (dup) NHEs via ID table cleanup
  zebra/zebra_router.c
Labels: zebra

#6141 bgpd, ospfd, ospf6d: long is not bool :(
  bgpd/bgp_vty.c
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
Labels: bgp, ospf, ospfv3

#6142 [7.3] bgpd, ospfd, ospf6d: long is not bool :(
  bgpd/bgp_vty.c
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
Labels: bgp, ospf, ospfv3

#6130 bgpd: Remove deprecated JSON fields for `show bgp ... json`
  bgpd/bgp_route.c
  tests/topotests/bfd-bgp-cbit-topo3/r1/bgp_ipv6_routes_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/bgp_ipv6_routes_down.json
  tests/topotests/bfd-topo1/r1/bgp_prefixes.json
  tests/topotests/bfd-topo1/r2/bgp_prefixes.json
  tests/topotests/bfd-topo1/r3/bgp_prefixes.json
  tests/topotests/bfd-topo1/r4/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r1/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r2/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r3/bgp_prefixes.json
  tests/topotests/bfd-vrf-topo1/r4/bgp_prefixes.json
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/bgp-route-map/test_route_map_topo1.py
  tests/topotests/bgp-route-map/test_route_map_topo2.py
  tests/topotests/bgp_aggregate-address_route-map/test_bgp_aggregate-address_route-map.py
  tests/topotests/bgp_default-route_route-map/test_bgp_default-originate_route-map.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_1.py
  tests/topotests/bgp_reject_as_sets/test_bgp_reject_as_sets.py
  tests/topotests/bgp_set_local-preference_add_subtract/test_bgp_set_local-preference_add_subtract.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: bgp, tests

#6119 lib: yang northbound wrappers - type empty nexthop type2str
  lib/yang_wrappers.c
  lib/yang_wrappers.h
Labels: libfrr

#6138 Rtadv respect the vrf
  zebra/main.c
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_vrf.c
Labels: zebra

#6071 bgpd: Add support for Autonomous-System-Wide Unique BGP Identifier
  bgpd/bgp_packet.c
  doc/user/overview.rst
  tests/topotests/bgp_as_wide_bgp_identifier/__init__.py
  tests/topotests/bgp_as_wide_bgp_identifier/r1/bgpd.conf
  tests/topotests/bgp_as_wide_bgp_identifier/r1/zebra.conf
  tests/topotests/bgp_as_wide_bgp_identifier/r2/bgpd.conf
  tests/topotests/bgp_as_wide_bgp_identifier/r2/zebra.conf
  tests/topotests/bgp_as_wide_bgp_identifier/r3/bgpd.conf
  tests/topotests/bgp_as_wide_bgp_identifier/r3/zebra.conf
  tests/topotests/bgp_as_wide_bgp_identifier/test_bgp_as_wide_bgp_identifier.py
Labels: bgp, documentation, tests

#5534 yang: igmp yang definition
  lib/subdir.am
  yang/frr-igmp.yang
  yang/subdir.am
Labels: pim, yang

#6149 lib: [YANG] Route-map inteface forward ref
  yang/frr-route-map.yang
Labels: libfrr

#6146 zebra: fix NULL deref reported by coverity in evpn-pim cleanup
  zebra/zebra_vxlan.c
Labels: zebra

#6156 bgpd: fix memcmp(null, *) when parsing bgp attrs
  bgpd/bgp_attr.c
Labels: bgp, bugfix

#6134 vtysh: don't warn when saving conf the first time
  vtysh/vtysh.c
Labels: vtysh

#6153 Minor NB improvements
  lib/grammar_sandbox_main.c
  lib/if.c
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/routemap_northbound.c
  lib/yang.c
  lib/yang.h
  lib/yang_translator.c
  tests/bgpd/test_peer_attr.c
  tests/helpers/c/main.c
  tests/lib/cli/common_cli.c
  tests/lib/cli/test_commands.c
  tests/lib/northbound/test_oper_data.c
  tools/gen_northbound_callbacks.c
  tools/gen_yang_deviations.c
Labels: libfrr, tools

#6143 bgpd: Remove `prefixReceivedCount` from JSON
  bgpd/bgp_vty.c
  tests/topotests/bgp-ecmp-topo1/r1/summary.txt
  tests/topotests/bgp-ecmp-topo1/r1/summary20.txt
  tests/topotests/bgp_vrf_netns/r1/summary.txt
  tests/topotests/bgp_vrf_netns/r1/summary20.txt
  tests/topotests/evpn-pim-1/spine/bgp.summ.json
Labels: bgp, tests

#6161 pimd: fix BSM JSON keys
  pimd/pim_cmd.c
Labels: bugfix, pim

#6159 pimd: fix unaligned pointer access
  pimd/pim_tlv.h
Labels: bugfix, pim

#6155 bgpd, zebra: don't compare unsigned < 0
  bgpd/bgp_main.c
  zebra/main.c
Labels: bgp, zebra

#6158 bgpd: fix multiple bugs with cluster_list attrs
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
Labels: bgp

#6150 doc: Mention that we should use `black` code formatter for topotests
  doc/developer/topotests.rst
Labels: documentation

#6151 [7.3] NHG Backports
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg_private.h
Labels: zebra

#6160 pimd: fix negative bitshift in BSM code
  pimd/pim_bsm.c
Labels: bugfix, pim

#5754 yang: zebra interface state operational model
  lib/if.c
  lib/if.h
  lib/subdir.am
  yang/frr-interface.yang
  yang/frr-zebra.yang
  yang/ietf/ietf-interfaces.yang
  yang/subdir.am
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_nb_state.c
Labels: libfrr, yang, zebra

#6167 bgpd: treat 0-length cluster_list as withdraw
  bgpd/bgp_attr.c
Labels: bgp, bugfix

#6173 bgpd: Treat-as-withdraw if [el]community length is zero
  bgpd/bgp_attr.c
Labels: bgp

#6169 yang, lib: increase xpath len and add weight in nexthop operational model
  lib/yang.h
  yang/frr-nexthop.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
Labels: libfrr, yang, zebra

#6097 lib: support replacement in the nexthop-group cli
  lib/nexthop_group.c
Labels: libfrr

#6179 tools: Add coccinelle script to catch typecasts to larger sizes
  tools/coccinelle/cast_to_larger_sizes.cocci
Labels: tools

#6178 feed debian/ changes back into master
  debian/README.Debian
  debian/control
  debian/frr.lintian-overrides
Labels: packaging

#6183 doc: document lsp-mtu knob for IS-IS
  doc/user/isisd.rst
Labels: documentation

#6174 zebra: minor fix to label manager log
  zebra/label_manager.c
  zebra/zapi_msg.c
Labels: zebra

#6180 bgpd: clean up SA warning in bgp_ecommunity.c
  bgpd/bgp_ecommunity.c
Labels: bgp

#6166 isisd, yang: unified lsp-timers command
  isisd/isis_cli.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isisd.c
  yang/frr-isisd.yang
Labels: isis, yang

#5917 Zebra: Default route distribute handling.
  zebra/redistribute.c
Labels: zebra

#5928 zebra: make common function for RTM_NEWNEIGH calls
  zebra/rt_netlink.c
Labels: zebra

#6128 tests: Add a couple more static route tests
  tests/topotests/all-protocol-startup/r1/ipv4_routes.ref
  tests/topotests/all-protocol-startup/r1/zebra.conf
Labels: tests

#6041 Wang a yump
  tests/topotests/rip-topo1/r1/rip_status.ref
  tests/topotests/rip-topo1/r1/ripd.conf
  tests/topotests/rip-topo1/r1/show_ip_rip.ref
  tests/topotests/rip-topo1/r1/zebra.conf
  tests/topotests/rip-topo1/r2/rip_status.ref
  tests/topotests/rip-topo1/r2/show_ip_rip.ref
  tests/topotests/rip-topo1/r2/show_ip_route.ref
  tests/topotests/rip-topo1/r3/show_ip_rip.ref
  tests/topotests/rip-topo1/r3/show_ip_route.ref
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/r1/ripng_status.ref
  tests/topotests/ripng-topo1/r1/ripngd.conf
  tests/topotests/ripng-topo1/r1/show_ipv6_ripng.ref
  tests/topotests/ripng-topo1/r1/zebra.conf
  tests/topotests/ripng-topo1/r2/show_ipv6_ripng.ref
  tests/topotests/ripng-topo1/r2/show_ipv6_route.ref
  tests/topotests/ripng-topo1/r3/show_ipv6_ripng.ref
  tests/topotests/ripng-topo1/r3/show_ipv6_route.ref
  tests/topotests/ripng-topo1/test_ripng_topo1.py
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
Labels: tests, yang

#6186 bgpd: Use COMMUNITY_SIZE instead of just 4
  bgpd/bgp_community.c
  bgpd/bgp_community.h
Labels: bgp

#6185 assorted build fixes
  configure.ac
  tests/subdir.am
  yang/embedmodel.py
Labels: tests

#6175 *: Do not cast to the same type
  babeld/net.c
  bgpd/bgp_attr.c
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_route.c
  bgpd/bgp_snmp.c
  bgpd/bgpd.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_monitor.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  eigrpd/eigrp_network.c
  ldpd/socket.c
  lib/command_match.c
  lib/md5.c
  lib/skiplist.c
  lib/table.c
  lib/vrf.c
  lib/zclient.c
  nhrpd/zbuf.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_abr.c
  ospfd/ospf_ext.c
  ospfd/ospf_lsa.c
  ospfd/ospf_opaque.c
  ospfd/ospf_ri.c
  ospfd/ospf_sr.c
  ospfd/ospf_te.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  pimd/pim_bfd.c
  pimd/pim_hello.c
  pimd/pim_sock.c
  pimd/pim_tlv.c
  tests/lib/test_srcdest_table.c
  tools/coccinelle/same_type_casting.cocci
  tools/start-stop-daemon.c
  vrrpd/vrrp_ndisc.c
  zebra/zebra_fpm_protobuf.c
  zebra/zebra_netns_id.c
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
Labels: tools

#6125 tests: Adding new test suite bgp_communities_topo1
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp_as_allow_in/bgp_as_allow_in.json
  tests/topotests/bgp_as_allow_in/test_bgp_as_allow_in.py
  tests/topotests/bgp_communities_topo1/bgp_communities.json
  tests/topotests/bgp_communities_topo1/test_bgp_communities.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#6124 tests: Adding new test suite bgp_as_allow_in
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp_as_allow_in/test_bgp_as_allow_in.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#6189 Unequal cost multipath fixes
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
Labels: bgp

#6176 bgpd: Fixes for memory leaks.
  bgpd/bgp_lcommunity.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
Labels: bgp

#6027 pimd: crash while finding primary address.
  pimd/pim_iface.c
Labels: pim

#6181 isisd: fix two 'no X' commands
  isisd/isis_cli.c
Labels: isis

#6204 yang: use the correct type for EIGRP neighbors
  yang/frr-eigrpd.yang
Labels: yang

#6199 bfdd: misc code improvements and fixes
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd.c
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_nb_state.c
  bfdd/bfdd_vty.c
  bfdd/config.c
  bfdd/control.c
  bfdd/event.c
  bfdd/ptm_adapter.c
Labels: bfd, cleanup, review & merge me

#6209 bgpd: bools use `true/false` not `TRUE/FALSE`
  bgpd/bgp_route.c
Labels: bgp

#6210 sharpd: Allow sharpd to specify it's own routes for label changes
  sharpd/sharp_vty.c
Labels: sharp

#6213 bgpd: Replace 0 to false for bool assignment in bgp_update_martian_ne…
  bgpd/bgp_route.c
Labels: bgp

#5892 assorted lib / zclient fixes
  lib/if.c
  lib/if.h
  lib/stream.c
  lib/stream.h
  lib/vrf.c
  lib/vrf.h
  lib/zclient.c
  lib/zclient.h
Labels: bugfix, cleanup, libfrr

#6215 doc: Documentation for weighted ECMP and link bandwidth
  doc/user/bgp.rst
  doc/user/conf.py
  doc/user/subdir.am
  doc/user/wecmp_linkbw.rst
Labels: documentation

#5988 zebra: Add vrf name and id to debugs
  lib/vrf.c
  zebra/rt_netlink.c
  zebra/zebra_rib.c
  zebra/zebra_vrf.h
Labels: zebra

#6196 ospf6d: stop looping thru same Inter-Area Router LSAs
  ospf6d/ospf6_abr.c
Labels: ospfv3

#6017 pimd: Join not sent within prune override time when received non local prune
  pimd/pim_upstream.c
Labels: pim

#6011 pimd: added no ip msdp mesh-group <word>
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_msdp.c
Labels: pim

#6219 ospfd: fix uaf upon rx of self-originated lsa
  ospfd/ospf_packet.c
Labels: ospf

#6201 zebra: Address sequencing issue while sending RMAC via FPM
  zebra/zebra_fpm.c
Labels: zebra

#6223 [7.3]ospf6d: stop looping thru same Inter-Area Router LSAs
  ospf6d/ospf6_abr.c
Labels: ospfv3

#6096 tests: add basic topotest for VXLAN EVPN
  tests/topotests/bgp-evpn-vxlan_topo1/P1/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/P1/ospfd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/P1/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/evpn.vni.json
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/ospfd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/evpn.vni.json
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/ospfd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/__init__.py
  tests/topotests/bgp-evpn-vxlan_topo1/host1/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/host1/ospfd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/host1/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/host2/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/host2/ospfd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/host2/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/test_bgp_evpn_vxlan.py
Labels: tests

#6197 pbrd,zebra: implement `set *` and `match *` replace
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_nht.c
  pbrd/pbr_nht.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  pbrd/pbr_zebra.h
  zebra/rule_netlink.c
  zebra/rule_socket.c
  zebra/zebra_ns.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: pbr, zebra

#6218 ospfd: router LSA link info missing length check
  ospfd/ospf_packet.c
Labels: bugfix, ospf

#5812 Bgp stats all
  bgpd/bgp_route.c
  bgpd/bgp_vty.h
  doc/user/bgp.rst
  lib/json.c
  lib/json.h
Labels: bgp, documentation, libfrr

#5510 zebra: netlink FPM interface using zebra data plane
  debian/frr.install
  lib/nexthop.h
  redhat/frr.spec.in
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/subdir.am
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_vxlan_private.h
Labels: fpm, help wanted, review & merge me, zebra

#6211 zebra: fix some coverity SA warnings
  zebra/zebra_dplane.c
  zebra/zebra_nhg.c
Labels: zebra

#6225 zebra: use %u for unsigned when printing counters
  zebra/zserv.c
Labels: zebra

#6154 tests: Add a route-map test to ensure it accepts an unknown intf name
  tests/topotests/all-protocol-startup/r1/bgpd.conf
  tests/topotests/all-protocol-startup/r1/ospf6d.conf
  tests/topotests/all-protocol-startup/r1/ospfd.conf
  tests/topotests/all-protocol-startup/r1/ripd.conf
  tests/topotests/all-protocol-startup/r1/ripngd.conf
  tests/topotests/all-protocol-startup/r1/show_route_map.ref
  tests/topotests/all-protocol-startup/r1/zebra.conf
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#6226 ldpd: ldp_vty_neighbor_password(): fix auth.md5key_len calculation
  ldpd/ldp_vty_conf.c
Labels: ldp

#6230 nhrpd: Actually allow json output
  nhrpd/nhrp_vty.c
Labels: nhrp

#6229 zebra: Modify netlink_request to statisfy coverity
  zebra/if_netlink.c
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/rt_netlink.c
  zebra/rule_netlink.c
Labels: zebra

#6232 bgpd: Validate all large communities if specified more per line
  bgpd/bgp_clist.c
Labels: bgp

#6237 bgpd: Show hostname in `show [ip] bgp ...` only if nexthop is connected
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, tests

#6238 tests: Cleanup bgp config for evpn vxlan topotest
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/bgpd.conf
Labels: tests

#5451 logging subsystem rewrite
  bfdd/bfdd.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/valgrind.supp
  configure.ac
  doc/developer/logging.rst
  doc/user/basic.rst
  doc/user/setup.rst
  ldpd/ldpd.c
  ldpd/log.c
  lib/clippy.c
  lib/command.c
  lib/command.h
  lib/frr_pthread.c
  lib/grammar_sandbox_main.c
  lib/hook.c
  lib/hook.h
  lib/libfrr.c
  lib/log.c
  lib/log.h
  lib/log_filter.c
  lib/log_int.h
  lib/log_vty.c
  lib/log_vty.h
  lib/memory.c
  lib/memory.h
  lib/subdir.am
  lib/thread.c
  lib/zlog.c
  lib/zlog.h
  lib/zlog_targets.c
  lib/zlog_targets.h
  pimd/pim_mlag.c
  sharpd/sharp_logpump.c
  tests/bgpd/test_peer_attr.c
  tests/lib/cli/common_cli.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/test_segv.c
  tests/lib/test_sig.c
  tests/lib/test_zlog.c
  vtysh/vtysh.c
  watchfrr/watchfrr.c
  watchfrr/watchfrr_vty.c
Labels: documentation, everything, libfrr

#6224 lib,zebra: add a session id for zapi sessions
  doc/developer/zebra.rst
  ldpd/lde.c
  lib/zclient.c
  lib/zclient.h
  zebra/label_manager.c
  zebra/label_manager.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zserv.c
  zebra/zserv.h
Labels: ldp, libfrr, zebra

#5913 bgpd: Allow 'show bgp l2vpn evpn route type' to use RT number in addition to existing keywords
  bgpd/bgp_evpn_vty.c
  doc/user/bgp.rst
Labels: bgp, documentation

#6239 bgpd, lib: Use bool instead of uint8_t for community/prefix-list "any"
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  lib/plist.c
  lib/plist_int.h
Labels: bgp, libfrr

#6135 *: clean up the mess that is CLI command nodes
  babeld/babel_interface.c
  babeld/babeld.c
  bfdd/bfdd_vty.c
  bgpd/bgp_bmp.c
  bgpd/bgp_debug.c
  bgpd/bgp_dump.c
  bgpd/bgp_filter.c
  bgpd/bgp_rpki.c
  bgpd/bgp_vty.c
  bgpd/rfapi/bgp_rfapi_cfg.c
  bgpd/rfapi/vnc_debug.c
  eigrpd/eigrp_cli.c
  eigrpd/eigrp_dump.c
  isisd/isis_circuit.c
  isisd/isisd.c
  ldpd/ldp_debug.c
  ldpd/ldp_vty.h
  ldpd/ldp_vty_cmds.c
  ldpd/ldp_vty_conf.c
  lib/agentx.c
  lib/command.c
  lib/command.h
  lib/filter.c
  lib/grammar_sandbox.c
  lib/keychain.c
  lib/nexthop_group.c
  lib/northbound_cli.c
  lib/plist.c
  lib/resolver.c
  lib/routemap.c
  lib/routemap_cli.c
  lib/vrf.c
  lib/vty.c
  lib/vty.h
  nhrpd/nhrp_vty.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6d.c
  ospfd/ospf_dump.c
  ospfd/ospf_vty.c
  pbrd/pbr_vty.c
  pimd/pim_cmd.c
  ripd/rip_debug.c
  ripd/rip_interface.c
  ripd/ripd.c
  ripngd/ripng_debug.c
  ripngd/ripng_interface.c
  ripngd/ripngd.c
  staticd/static_vty.c
  tests/lib/cli/test_commands.c
  vrrpd/vrrp_vty.c
  vtysh/vtysh.c
  zebra/debug.c
  zebra/dplane_fpm_nl.c
  zebra/interface.c
  zebra/zebra_fpm.c
  zebra/zebra_mpls_vty.c
  zebra/zebra_pw.c
  zebra/zebra_vty.c
Labels: libfrr, vtysh, zebra

#6247 Merge nb_converions branch to master
  babeld/babel_main.c
  bfdd/bfdd.c
  bgpd/bgp_main.c
  eigrpd/eigrp_main.c
  isisd/isis_main.c
  ldpd/ldpd.c
  lib/if.c
  lib/if.h
  lib/subdir.am
  lib/vrf.c
  lib/vrf.h
  lib/yang.c
  lib/yang.h
  lib/yang_wrappers.c
  lib/yang_wrappers.h
  ospf6d/ospf6_main.c
  ospfd/ospf_main.c
  pimd/pim_main.c
  ripd/rip_main.c
  ripngd/ripng_main.c
  sharpd/sharp_main.c
  staticd/static_main.c
  yang/frr-igmp.yang
  yang/frr-interface.yang
  yang/frr-nexthop.yang
  yang/frr-routing.yang
  yang/frr-staticd.yang
  yang/frr-vrf.yang
  yang/frr-zebra.yang
  yang/ietf/ietf-interfaces.yang
  yang/subdir.am
  zebra/interface.c
  zebra/interface.h
  zebra/main.c
  zebra/subdir.am
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_nb_rpcs.c
  zebra/zebra_nb_state.c
  zebra/zebra_northbound.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: libfrr, staticd, yang, zebra

#6240 bgpd: Add a sanitify check for bgp_nexthop_cache against NULL
  bgpd/bgp_route.c
Labels: bgp

#6248 some more coverity fixups
  lib/filter.c
  ospfd/ospf_snmp.c
  pimd/pim_nht.c
  pimd/pim_zlookup.c
  zebra/zebra_snmp.c
Labels: libfrr, ospf, pim, zebra

#6255 lib: clear data pointer in bf_free
  lib/bitfield.h
Labels: libfrr

#6258 More scan more
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_bfd.c
  isisd/isis_pdu.c
  isisd/isisd.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
Labels: isis, ospfv3

#6257 lib: dont null check bitfield pointer before free
  lib/bitfield.h
Labels: libfrr

#6256 lib,pimd: don't use strcpy
  lib/csv.c
  pimd/pim_mlag.c
  pimd/pim_rp.c
Labels: libfrr, pim

#6231 zebra: add ability to set hoplimit for IPv6 RAs
  doc/user/ipv6.rst
  zebra/interface.c
  zebra/interface.h
  zebra/rtadv.c
  zebra/subdir.am
Labels: documentation, zebra

#6260 bgpd: Use true/false for reject_as_sets
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#6245 tests: add connected/recursive/duplicte/route-map NHG tests
  tests/topotests/all-protocol-startup/r1/ipv4_routes.ref
  tests/topotests/all-protocol-startup/r1/zebra.conf
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#6251 *: make coverity scan ignore random() calls
  babeld/babel_interface.c
  babeld/babeld.c
  babeld/util.c
  bfdd/bfd.c
  bgpd/bgp_routemap.c
  isisd/isis_misc.c
  lib/command.c
  lib/network.c
  lib/network.h
  lib/qobj.c
  lib/skiplist.c
  lib/typesafe.c
  ospfd/ospf_lsa.c
  ospfd/ospf_nsm.c
  pimd/pim_iface.c
  pimd/pim_pim.c
  pimd/pim_upstream.c
  ripd/ripd.c
  ripngd/ripngd.c
  tests/lib/test_checksum.c
  tests/lib/test_zlog.c
  watchfrr/watchfrr.c
  zebra/irdp_interface.c
  zebra/irdp_main.c
Labels: cleanup, review & merge me

#6261 bgpd: Do not discard an UPDATE if the global nexthop is set to ::
  bgpd/bgp_route.c
Labels: bgp

#6147 ldpd: don't drop packets coming through a broken LSP
  ldpd/ldp_zebra.c
Labels: ldp

#6148 [7.3] ldpd: don't drop packets coming through a broken LSP
  ldpd/ldp_zebra.c
Labels: ldp

#6264 doc: workflow updates
  doc/developer/workflow.rst
Labels: documentation

#6267 ospf6d: fix SA warnings
  ospf6d/ospf6_lsdb.c
Labels: ospfv3

#6126 pimd: Implement watermark warning for igmp group count and add igmp group count
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_instance.h
  pimd/pim_vty.c
Labels: documentation, pim

#6191 bgpd: Enforce self-next-hop check in next-hop update.
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp

#6269 Coverity likes coverity
  ospfd/ospf_api.c
  zebra/zebra_fpm_netlink.c
Labels: ospf, zebra

#5944 Vrf stoppage
  zebra/if_netlink.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/zebra_errors.c
  zebra/zebra_errors.h
Labels: zebra

#6265 yang: Defining yang files for pim
  lib/subdir.am
  yang/frr-pim-rp.yang
  yang/frr-pim.yang
  yang/subdir.am
Labels: yang

#6272 doc: remove duplicated command documentation
  doc/user/zebra.rst
Labels: documentation, review & merge me

#6242 bgpd: handle fs nlri over 240 bytes
  bgpd/bgp_flowspec.c
  bgpd/bgp_flowspec_private.h
Labels: bgp

#6275 yang: Convert to `FRRouting` for organization
  yang/frr-igmp.yang
  yang/frr-pim-rp.yang
  yang/frr-pim.yang
  yang/frr-routing.yang
  yang/frr-staticd.yang
Labels: yang

#6025 pimd: Modified rp-info json o/p
  pimd/pim_rp.c
Labels: pim

#6278 lib, zebra: add missing extern "C" {} blocks to new header files
  lib/atomlist.h
  lib/defaults.h
  lib/frrcu.h
  lib/iana_afi.h
  lib/log_vty.h
  lib/printfrr.h
  lib/pullwr.h
  lib/resolver.h
  lib/seqlock.h
  lib/version.h.in
  lib/yang_wrappers.h
  lib/zassert.h
  lib/zclient.h
  lib/zlog.h
  lib/zlog_targets.h
  zebra/zebra_mlag.h
  zebra/zebra_mlag_vty.h
  zebra/zebra_nb.h
  zebra/zebra_nhg.h
  zebra/zebra_nhg_private.h
Labels: libfrr, zebra

#6184 bgpd: When static default route is present in RIB and advertised to p…
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#6283 [7.3] backport gcc 10 fixes
  babeld/babeld.c
  babeld/util.h
  bgpd/bgp_attr_evpn.h
  ldpd/lde.c
  ldpd/ldpd.c
  ldpd/ldpd.h
  ldpd/ldpe.c
  ldpd/ldpe.h
  pimd/pimd.c
  pimd/pimd.h
  tests/bgpd/test_mpath.c
  vrrpd/vrrp_debug.h
Labels: babel, bgp, ldp, pim, tests, vrrp

#6277 bgpd: Show PfxSnt for `show bgp <afi> <safi>` command
  bgpd/bgp_vty.c
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv6_summary.ref
  tests/topotests/all-protocol-startup/r1/show_ip_bgp_summary.ref
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
Labels: bgp, tests

#6274 ldpd: use a timer instead of sleeping in LM init
  ldpd/lde.c
  ldpd/ldpd.c
Labels: ldp

#6287 bgpd: [7.3] Show hostname in `show [ip] bgp ...` only if nexthop is connected
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, tests

#6288 bgpd: [7.3] Do not discard an UPDATE if the global nexthop is set to ::
  bgpd/bgp_route.c
Labels: bgp

#6282 isisd: fix display of "isis bfd" in the running configuration
  isisd/isis_bfd.c
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_mt.c
Labels: isis

#6279 *: change the signature of the northbound callbacks to be more flexible
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_nb_state.c
  eigrpd/eigrp_northbound.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_nb_state.c
  lib/if.c
  lib/if.h
  lib/northbound.c
  lib/northbound.h
  lib/northbound_grpc.cpp
  lib/routemap.h
  lib/routemap_northbound.c
  lib/vrf.c
  ripd/rip_nb.h
  ripd/rip_nb_config.c
  ripd/rip_nb_rpcs.c
  ripd/rip_nb_state.c
  ripngd/ripng_nb.h
  ripngd/ripng_nb_config.c
  ripngd/ripng_nb_rpcs.c
  ripngd/ripng_nb_state.c
  tests/lib/northbound/test_oper_data.c
  tools/coccinelle/nb-cbs.cocci
  tools/gen_northbound_callbacks.c
  vrrpd/vrrp_northbound.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_nb_rpcs.c
  zebra/zebra_nb_state.c
Labels: libfrr

#6249 lib: yang wrapper for date-and-time
  lib/yang_wrappers.c
  lib/yang_wrappers.h
Labels: bgp, documentation, isis, ldp, libfrr, ospf, ospfv3, pim, tests, zebra

#6298 build: spring cleaning
  Makefile.am
  babeld/subdir.am
  bfdd/ptm_adapter.c
  bfdd/subdir.am
  bgpd/subdir.am
  configure.ac
  eigrpd/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  lib/srv6.c
  lib/subdir.am
  lib/zlog.h
  m4/ax_python.m4
  nhrpd/subdir.am
  ospf6d/subdir.am
  ospfd/subdir.am
  pbrd/subdir.am
  pimd/subdir.am
  python/firstheader.py
  python/makefile.py
  python/makevars.py
  ripd/subdir.am
  ripngd/subdir.am
  sharpd/subdir.am
  staticd/subdir.am
  tests/subdir.am
  tools/symalyzer.py
  vrrpd/subdir.am
  vtysh/extract.pl.in
  vtysh/subdir.am
  watchfrr/subdir.am
  zebra/dplane_fpm_nl.c
  zebra/subdir.am
Labels: bfd, clippy

#6301 bfdd: display debugging status of bfd
  bfdd/bfdd_vty.c
Labels: bfd

#6306 *: triple pack of one-liner WTF fixes
  bgpd/bgp_updgrp_adv.c
  pimd/pim_igmp_mtrace.c
  tests/bgpd/test_mpath.c
Labels: bgp, pim, tests

#6308 pimd: Add a needed space for formatting
  pimd/pim_cmd.c
Labels: pim

#6295 bgpd: Show PfxSnt for `show bgp <afi> <safi>` command
  bgpd/bgp_vty.c
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv6_summary.ref
  tests/topotests/all-protocol-startup/r1/show_ip_bgp_summary.ref
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
Labels: bgp, tests

#6302 tools: fix frr-reload AF issue with ldpd
  tools/frr-reload.py
Labels: tools

#6310 Revert "vtysh: fix searching commands in parent nodes"
  lib/command.c
  vtysh/vtysh.c
Labels: bugfix, vtysh

#6228 Change network statement default
  bgpd/bgp_vty.c
  doc/user/bgp.rst
  tests/topotests/all-protocol-startup/r1/bgpd.conf
  tests/topotests/bfd-bgp-cbit-topo3/r1/bgpd.conf
  tests/topotests/bfd-bgp-cbit-topo3/r3/bgpd.conf
  tests/topotests/bfd-topo1/r1/bgpd.conf
  tests/topotests/bfd-topo1/r2/bgpd.conf
  tests/topotests/bfd-topo1/r3/bgpd.conf
  tests/topotests/bfd-topo1/r4/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r1/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r2/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r3/bgpd.conf
  tests/topotests/bfd-vrf-topo1/r4/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce4/bgpd.conf
  tests/topotests/lib/bgp.py
Labels: bgp, documentation, tests

#6299 lib: Delete the entire access-list only if there are no more entries
  lib/filter.c
Labels: libfrr

#6313 zebra: fix zebra pseudowire manager NHT
  zebra/zebra_pw.c
Labels: zebra

#6303 bgpd: turn off RAs when numbered peers are deleted
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
Labels: bgp

#6309 zebra: add ability to set retransmit timer for IPv6 RAs
  doc/user/ipv6.rst
  zebra/rtadv.c
Labels: documentation, zebra

#5786 zebra: fix handling of failed route install via notification
  zebra/zebra_rib.c
Labels: zebra

#6314 zebra: fix json for show evpn arp-cache vni vtep
  zebra/zebra_vxlan.c
Labels: zebra

#6241 ldpd: fix ACL rule modification
  ldpd/lde.c
  ldpd/lde.h
  ldpd/ldp_zebra.c
  ldpd/ldpd.c
  ldpd/ldpd.h
  ldpd/ldpe.c
Labels: ldp

#6315 lib: [7.3] Delete the entire access-list only if there are no more entries
  lib/filter.c
Labels: libfrr

#6320 zebra: fix detection of VRF misconfiguration
  zebra/if_netlink.c
Labels: zebra

#6318 lib: update the CLI xpath index when exiting from the VRF node
  lib/vrf.c
Labels: libfrr

#6322 doc: Add an example how to filter BGP bogon ASNs
  doc/user/bgp.rst
Labels: documentation

#6323 bgpd: Ensure that we have a ifp pointer
  bgpd/bgp_nht.c
Labels: bgp
