Repository FRRouting/frr, pull requests merged in 2020-09, with the labels that each got.

#7028 zebra: increase netlink receive buffer size
  zebra/kernel_netlink.c
Labels: zebra

#7023 Eigrp fixups
  eigrpd/eigrp_dump.c
  eigrpd/eigrp_vty.c
Labels: eigrp

#7016 Pbr vrf is burf
  lib/if.c
  lib/if.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/zclient.c
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_nht.c
  pbrd/pbr_nht.h
  pbrd/pbr_vrf.c
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
Labels: libfrr, pbr

#7003 ospfd: use a new vertex list for every SPF run
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospfd.h
Labels: ospf

#7010 pbrd: be more selective about route updates
  pbrd/pbr_nht.c
  pbrd/pbr_nht.h
Labels: pbr

#7033 pbrd: fix SA warnings in nhg map
  pbrd/pbr_map.c
Labels: pbr

#7027 ospf6d : Preparing for ospf6d VRF support.
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_bfd.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_main.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_snmp.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_zebra.c
  ospf6d/ospf6_zebra.h
Labels: ospfv3

#6997 lib,yang: allow cisco access lists to use names plus fixes
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  yang/frr-filter.yang
Labels: libfrr, yang

#6987 lib, ospf : Fix when redist is performed with route-map using access-list
  lib/filter_nb.c
  ospfd/ospf_zebra.c
Labels: libfrr, ospf

#7043 tests: Speed up bgp_features topotests by a lot
  tests/topotests/bgp_features/r1/bgpd.conf
  tests/topotests/bgp_features/r1/ospfd.conf
  tests/topotests/bgp_features/r2/bgpd.conf
  tests/topotests/bgp_features/r2/ospfd.conf
  tests/topotests/bgp_features/r3/ospfd.conf
  tests/topotests/bgp_features/r4/bgpd.conf
  tests/topotests/bgp_features/r5/bgpd.conf
Labels: tests

#6926 tests: Add bgp_vrf_dynamic_route_leak test suite
  tests/topotests/bgp_vrf_dynamic_route_leak/bgp_vrf_dynamic_route_leak_topo1.json
  tests/topotests/bgp_vrf_dynamic_route_leak/bgp_vrf_dynamic_route_leak_topo2.json
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#6891 bgpd: Add support for SR-TE Policies in route-maps
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
  bgpd/bgp_routemap.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  doc/user/routemap.rst
Labels: bgp

#7052 lib: remove unused stream_get_data api
  lib/stream.h
Labels: libfrr

#7053 ospf6d: fix SA warning
  ospf6d/ospf6_interface.c
Labels: ospfv3

#6826 Bgp auth vrf frr
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgpd.c
  tests/topotests/bgp-auth/R1/bgpd.conf
  tests/topotests/bgp-auth/R1/bgpd_multi_vrf.conf
  tests/topotests/bgp-auth/R1/bgpd_multi_vrf_prefix.conf
  tests/topotests/bgp-auth/R1/bgpd_prefix.conf
  tests/topotests/bgp-auth/R1/bgpd_vrf.conf
  tests/topotests/bgp-auth/R1/bgpd_vrf_prefix.conf
  tests/topotests/bgp-auth/R1/ospfd.conf
  tests/topotests/bgp-auth/R1/ospfd_multi_vrf.conf
  tests/topotests/bgp-auth/R1/ospfd_vrf.conf
  tests/topotests/bgp-auth/R1/zebra.conf
  tests/topotests/bgp-auth/R2/bgpd.conf
  tests/topotests/bgp-auth/R2/bgpd_multi_vrf.conf
  tests/topotests/bgp-auth/R2/bgpd_multi_vrf_prefix.conf
  tests/topotests/bgp-auth/R2/bgpd_prefix.conf
  tests/topotests/bgp-auth/R2/bgpd_vrf.conf
  tests/topotests/bgp-auth/R2/bgpd_vrf_prefix.conf
  tests/topotests/bgp-auth/R2/ospfd.conf
  tests/topotests/bgp-auth/R2/ospfd_multi_vrf.conf
  tests/topotests/bgp-auth/R2/ospfd_vrf.conf
  tests/topotests/bgp-auth/R2/zebra.conf
  tests/topotests/bgp-auth/R3/bgpd.conf
  tests/topotests/bgp-auth/R3/bgpd_multi_vrf.conf
  tests/topotests/bgp-auth/R3/bgpd_multi_vrf_prefix.conf
  tests/topotests/bgp-auth/R3/bgpd_prefix.conf
  tests/topotests/bgp-auth/R3/bgpd_vrf.conf
  tests/topotests/bgp-auth/R3/bgpd_vrf_prefix.conf
  tests/topotests/bgp-auth/R3/ospfd.conf
  tests/topotests/bgp-auth/R3/ospfd_multi_vrf.conf
  tests/topotests/bgp-auth/R3/ospfd_vrf.conf
  tests/topotests/bgp-auth/R3/zebra.conf
  tests/topotests/bgp-auth/test_bgp_auth.py
Labels: bgp, tests

#6589 bgpd: GR fixes
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
Labels: bgp

#7055 bgpd: fix asserting read of localpref
  bgpd/bgp_attr.c
Labels: bgp

#7046 Fix various integer signedness / overflow issues
  bgpd/bgp_attr.c
  bgpd/bgpd.h
  lib/hash.c
  lib/privs.c
  lib/stream.c
  lib/stream.h
Labels: bgp, libfrr

#7054 bgpd: fix mplsvpn nlri garbage heap read
  bgpd/bgp_mplsvpn.c
Labels: bgp

#7037 Fix bgpBackwardTransition traps
  bgpd/bgp_fsm.c
Labels: bgp

#7040 bgpd: modify attr fields before hash insert
  bgpd/bgp_route.c
Labels: bgp

#6982 ospfd: install Type-7 when NSSA enabled after redistribution
  ospfd/ospf_abr.c
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
Labels: ospf

#6969 bgpd: Add `neighbor <neigh> shutdown rtt` command
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp, documentation

#6376 build, yang: bump libyang minimum required version to 1.0.184
  configure.ac
  debian/control
  doc/developer/building-libyang.rst
  redhat/frr.spec.in
  yang/frr-interface.yang
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
  yang/frr-route-map.yang
  yang/frr-zebra.yang
Labels: yang

#7032 Dev docs update for libyang, hash table invariants
  doc/developer/building-libyang.rst
  doc/developer/lists.rst
Labels: documentation

#7031 Global bgp update delay
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_update_delay/__init__.py
  tests/topotests/bgp_update_delay/r1/bgpd.conf
  tests/topotests/bgp_update_delay/r1/zebra.conf
  tests/topotests/bgp_update_delay/r2/bgpd.conf
  tests/topotests/bgp_update_delay/r2/zebra.conf
  tests/topotests/bgp_update_delay/r3/bgpd.conf
  tests/topotests/bgp_update_delay/r3/zebra.conf
  tests/topotests/bgp_update_delay/r4/bgpd.conf
  tests/topotests/bgp_update_delay/r4/zebra.conf
  tests/topotests/bgp_update_delay/r5/bgpd.conf
  tests/topotests/bgp_update_delay/r5/zebra.conf
  tests/topotests/bgp_update_delay/test_bgp_update_delay.py
Labels: bgp

#7047 lib: fix possible null dereference in zlog
  lib/zlog_targets.c
Labels: libfrr

#7070 pbrd: add frr-vrf to the list of implemented yang modules
  pbrd/pbr_main.c
Labels: pbr

#7071 [7.5] pbrd: add frr-vrf to the list of implemented yang modules
  pbrd/pbr_main.c
Labels: pbr

#6827 bgpd: show <ip> bgp <ipv4/ipv6> all
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: bgp

#7078 doc: add blurb for rpm package server in overview
  doc/user/overview.rst
Labels: documentation

#7085 nhrpd: add frr-vrf to the list of implemented yang modules
  nhrpd/nhrp_main.c
Labels: nhrp

#7075 snapcraft: Update libyang version
  snapcraft/snapcraft.yaml.in
Labels: packaging

#7076 snapcraft: Update libyang version
  snapcraft/snapcraft.yaml.in
Labels: packaging

#7087 nhrpd: add frr-vrf to the list of implemented yang modules
  nhrpd/nhrp_main.c
Labels: nhrp

#6974 zebra: Solve the problem of high CPU and memory usage when creating t…
  zebra/zapi_msg.c
Labels: zebra

#7080 staticd: remove dead code + minor fix
  staticd/static_vty.c
Labels: staticd

#7095 isisd: ifp cannot be NULL
  isisd/isis_cli.c
Labels: isis

#7084 pimd: Warn when we try to build MAXVIFS > 256
  pimd/pimd.c
Labels: pim

#7091 lib: fix crashes with leafrefs that point to non-implemented modules
  lib/northbound.c
  lib/northbound_cli.c
  nhrpd/nhrp_main.c
  pbrd/pbr_main.c
Labels: libfrr

#7092 doc: fix rpm link under libyang help
  doc/developer/building-libyang.rst
Labels: documentation

#7065 bgpd: remove deprecated commands
  bgpd/bgp_rpki.c
Labels: bgp

#7093 Pbr flapping
  bgpd/bgp_zebra.c
  lib/pbr.h
  lib/zclient.c
  lib/zclient.h
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_zebra.c
  zebra/rule_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_pbr.c
Labels: bgp, libfrr, pbr, zebra

#7090 bgpd: correct community-list replace logic
  bgpd/bgp_clist.c
Labels: bgp

#7083 isisd: improve route-event logs
  isisd/isis_route.c
Labels: isis

#7082 isisd: fix pseudonode LSP bug
  isisd/isis_events.c
Labels: isis

#7099 doc: clarify independence of THREAD_READ and _WRITE
  doc/developer/process-architecture.rst
Labels: documentation

#6905 tests: Kernel version check for topojson scripts.
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp_as_allow_in/test_bgp_as_allow_in.py
  tests/topotests/bgp_communities_topo1/test_bgp_communities.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_1.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_2.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/lib/common_config.py
Labels: tests

#6897 zebra: Revert "zebra: probe local inactive neigh"
  zebra/zebra_vxlan.c
Labels: zebra

#7105 bgpd: fix ecom leak handling l3vni update
  bgpd/bgp_evpn.c
Labels: bgp

#7109 lib: set threadmaster name to 'default' if none
  lib/thread.c
Labels: libfrr

#7106 zebra: dup detected mac avoid update to bgpd
  zebra/zebra_evpn_mac.c
Labels: zebra

#7066 tests: Speed up topotests by being more aggressive
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#7103 lib: sysrepo plugin fixes
  lib/libfrr.c
  lib/libfrr.h
  lib/northbound_sysrepo.c
Labels: libfrr

#7118 bgpd: fix ecom leak handling l3vni update
  bgpd/bgp_evpn.c
Labels: bgp

#7115 zebra: dup detected mac avoid update to bgpd
  zebra/zebra_evpn_mac.c
Labels: zebra

#7117 zebra: fixup a neigh del bug introduced by a previous commit for EVPN-MH MAC-IP sync
  zebra/zebra_evpn_neigh.c
Labels: zebra

#7108 bgpd: remove extra hold-timer reset
  bgpd/bgp_packet.c
Labels: bgp

#7114 bgpd: Avoid memset when tip hash is empty
  bgpd/bgp_nexthop.c
Labels: bgp

#7125 tools: fix vtysh failure error handling
  tools/frr-reload.py
Labels: tools

#7123 bgpd: rename bgp_fsm_event_update
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_nht.c
Labels: bgp

#7121 zebra: fixup a neigh del bug introduced by a previous commit for MAC-IP sync
  zebra/zebra_evpn_neigh.c
Labels: zebra

#7128 Pbr vrf disable
  lib/vrf.c
Labels: libfrr

#7089 Netns refactor
  bgpd/bgp_zebra.c
  doc/user/bgp.rst
  include/linux/net_namespace.h
  lib/netns_linux.c
  lib/ns.h
  lib/vrf.c
  lib/vrf.h
  tests/topotests/bgp_evpn_rt5/__init__.py
  tests/topotests/bgp_evpn_rt5/r1/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r1/zebra.conf
  tests/topotests/bgp_evpn_rt5/r2/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r2/zebra.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/if_netlink.c
  zebra/interface.c
  zebra/main.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_netns_id.c
  zebra/zebra_netns_id.h
  zebra/zebra_netns_notify.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_vxlan.c
Labels: bgp, libfrr, zebra

#7129 tests: Add bgp_route_aggregation test suite
  tests/topotests/bgp_route_aggregation/bgp_aggregation.json
  tests/topotests/bgp_route_aggregation/test_bgp_aggregation.py
  tests/topotests/lib/bgp.py
Labels: tests

#7077 ospfd: fix debug ospf nssa prints wrong info
  ospfd/ospf_lsa.c
Labels: ospf

#7086 ospfd: flush type 5 when type 7 is removed
  ospfd/ospf_abr.c
Labels: ospf

#7130 tests: increase timeout to avoid intermittent LDP Sync test failure
  tests/topotests/ldp-sync-isis-topo1/test_ldp_sync_isis_topo1.py
  tests/topotests/ldp-sync-ospf-topo1/test_ldp_sync_ospf_topo1.py
Labels: tests

#7079 lib: better support for nested YANG augmentations
  lib/northbound.c
  lib/yang.c
  lib/yang.h
Labels: libfrr

#7074 ospfd : Resolving conflict in distribute-list update during MaxAge LSA.
  ospfd/ospf_zebra.c
Labels: ospf

#6814 tests: ospf basic functionality topojson testcases.
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/topojson.py
  tests/topotests/ospf_basic_functionality/ospf_authentication.json
  tests/topotests/ospf_basic_functionality/ospf_ecmp.json
  tests/topotests/ospf_basic_functionality/ospf_ecmp_lan.json
  tests/topotests/ospf_basic_functionality/ospf_lan.json
  tests/topotests/ospf_basic_functionality/ospf_nssa.json
  tests/topotests/ospf_basic_functionality/ospf_routemaps.json
  tests/topotests/ospf_basic_functionality/ospf_rte_calc.json
  tests/topotests/ospf_basic_functionality/ospf_single_area.json
  tests/topotests/ospf_basic_functionality/test_ospf_authentication.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_nssa.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
Labels: tests

#7069 lib: fix the "set metric" route-map command
  doc/user/routemap.rst
  lib/routemap_cli.c
  lib/routemap_northbound.c
  tests/topotests/bgp_features/r1/show_bgp.json
  tests/topotests/bgp_features/r1/show_bgp_metric_test.json
  tests/topotests/bgp_features/r2/show_bgp.json
  tests/topotests/bgp_features/r2/show_bgp_metric_test.json
  tests/topotests/bgp_features/r4/show_bgp_metric_test.json
  tests/topotests/bgp_features/r5/show_bgp_metric_test.json
  tests/topotests/bgp_features/test_bgp_features.py
  yang/frr-route-map.yang
Labels: documentation, libfrr, tests

#7097 doc: clarify python and pip2 for ubuntu 20
  doc/developer/building-frr-for-ubuntu2004.rst
Labels: documentation

#7133 ospfd : Fix for ospf dead interval and hello due.
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
Labels: ospf

#7036 bgpd: maximum-prefix-out command fixes
  bgpd/bgp_updgrp.c
  doc/user/bgp.rst
Labels: bgp, documentation

#7134 bgpd: [7.5] Create separate udpate-group when using `maximum-prefix-out` command
  bgpd/bgp_updgrp.c
  doc/user/bgp.rst
Labels: bgp, documentation

#7135 bgpd: [7.4] Create separate udpate-group when using `maximum-prefix-out` command
  bgpd/bgp_updgrp.c
Labels: bgp

#7136 zebra: Allow FreeBSD to set and delete addresses from an interface
  zebra/kernel_socket.c
Labels: zebra

#7145 lib: fix regcomp error processing
  lib/command.c
  lib/vty.c
Labels: libfrr

#7138 BGP-wide graceful shutdown
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_gshut/__init__.py
  tests/topotests/bgp_gshut/r1/bgp_route_1.json
  tests/topotests/bgp_gshut/r1/bgp_route_2.json
  tests/topotests/bgp_gshut/r1/bgpd.conf
  tests/topotests/bgp_gshut/r1/zebra.conf
  tests/topotests/bgp_gshut/r2/bgp_sum_1.json
  tests/topotests/bgp_gshut/r2/bgp_sum_2.json
  tests/topotests/bgp_gshut/r2/bgpd.conf
  tests/topotests/bgp_gshut/r2/zebra.conf
  tests/topotests/bgp_gshut/r3/bgp_route_1.json
  tests/topotests/bgp_gshut/r3/bgp_route_2.json
  tests/topotests/bgp_gshut/r3/bgpd.conf
  tests/topotests/bgp_gshut/r3/zebra.conf
  tests/topotests/bgp_gshut/r4/bgpd.conf
  tests/topotests/bgp_gshut/r4/zebra.conf
  tests/topotests/bgp_gshut/r5/bgp_route_1.json
  tests/topotests/bgp_gshut/r5/bgp_route_2.json
  tests/topotests/bgp_gshut/r5/bgpd.conf
  tests/topotests/bgp_gshut/r5/zebra.conf
  tests/topotests/bgp_gshut/test_bgp_gshut.py
Labels: bgp

#7143 ripd, ripngd: info -> debug
  ripd/rip_interface.c
  ripngd/ripng_interface.c
Labels: rip, ripng

#7122 ospfd: do not generate type 4 LSA from NSSA ABR
  ospfd/ospf_abr.c
Labels: ospf

#7151 zebra: Allow FreeBSD to set and delete addresses from an interface
  zebra/kernel_socket.c
Labels: zebra

#7132 Fix ldp sync cmds
  isisd/isis_ldp_sync.c
  ospfd/ospf_ldp_sync.c
  tests/topotests/ldp-sync-isis-topo1/r1/show_isis_ldp_sync_r1_eth1_shutdown.ref
  tests/topotests/ldp-sync-isis-topo1/r2/show_isis_ldp_sync_r2_eth1_shutdown.ref
  tests/topotests/ldp-sync-isis-topo1/test_ldp_sync_isis_topo1.py
Labels: isis, ldp, ospf

#7067 Remove solaris
  Makefile.am
  README.md
  bgpd/rfapi/rfapi.h
  configure.ac
  doc/developer/building-frr-for-omnios.rst
  doc/developer/building.rst
  doc/developer/subdir.am
  doc/user/basic.rst
  doc/user/overview.rst
  doc/user/pim.rst
  doc/user/zebra.rst
  lib/if.c
  lib/netns_other.c
  lib/prefix.h
  lib/privs.c
  lib/sigevent.c
  lib/sockopt.c
  lib/sockopt.h
  lib/vty.c
  lib/zebra.h
  solaris/.gitignore
  solaris/Makefile.in
  solaris/README.txt
  solaris/depend.daemons.in
  solaris/depend.dev.in
  solaris/depend.doc.in
  solaris/depend.libs.in
  solaris/depend.smf.in
  solaris/frr.init.in
  solaris/frr.xml.in
  solaris/pkginfo.daemons.tmpl.in
  solaris/pkginfo.dev.tmpl.in
  solaris/pkginfo.doc.tmpl.in
  solaris/pkginfo.libs.tmpl.in
  solaris/pkginfo.smf.tmpl.in
  solaris/pkginfo.tmpl.in
  solaris/prototype.daemons.in
  solaris/prototype.dev.in
  solaris/prototype.doc.in
  solaris/prototype.libs.in
  solaris/prototype.smf.in
  solaris/subdir.am
  tests/lib/test_srcdest_table.c
  tests/subdir.am
  zebra/if_ioctl_solaris.c
  zebra/if_sysctl.c
  zebra/interface.c
  zebra/interface.h
  zebra/ioctl.c
  zebra/ioctl.h
  zebra/ioctl_solaris.c
  zebra/ioctl_solaris.h
  zebra/ipforward_solaris.c
  zebra/ipforward_sysctl.c
  zebra/kernel_socket.c
  zebra/rtread_getmsg.c
  zebra/rtread_sysctl.c
  zebra/subdir.am
  zebra/table_manager.c
Labels: documentation

#7116 evpn-mh: changes for programming synced neighs as static in the dataplane
  include/linux/neighbour.h
  zebra/rt_netlink.c
Labels: zebra

#7018 Clean up in vrf management
  lib/netns_linux.c
  lib/netns_other.c
  lib/ns.h
  lib/vrf.c
  lib/vrf.h
  zebra/zebra_netns_id.c
  zebra/zebra_ns.c
  zebra/zebra_vty.c
Labels: libfrr, zebra

#7148 zebra: fix fd going out of scope leaks the handle
  zebra/zebra_netns_id.c
Labels: zebra

#7153 zebra: Allow FreeBSD to set and delete addresses from an interface
  zebra/kernel_socket.c
Labels: zebra

#7154 tests: Our tests are for FRR
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
  tests/topotests/bfd-topo1/test_bfd_topo1.py
  tests/topotests/bfd-topo2/test_bfd_topo2.py
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.py
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.py
  tests/topotests/bgp_l3vpn_to_bgp_direct/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
  tests/topotests/bgp_rfapi_basic_sanity/customize.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
  tests/topotests/ldp-oc-acl-topo1/test_ldp_oc_acl_topo1.py
  tests/topotests/ldp-oc-topo1/test_ldp_oc_topo1.py
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf-topo1-vrf/test_ospf_topo1_vrf.py
  tests/topotests/ospf-topo1/test_ospf_topo1.py
  tests/topotests/pytest.ini
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/test_ripng_topo1.py
Labels: tests

#7157 zebra: Move debug information gathering to inside guard
  zebra/zebra_nhg.c
Labels: zebra

#7112 evpn-mh: mac-ip sync hold timers
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_vty.c
Labels: zebra

#7160 tests: fix bug in handling of daemons to start
  tests/topotests/lib/topotest.py
Labels: tests

#7161 [7.5] tests: fix bug in handling of daemons to start
  tests/topotests/lib/topotest.py
Labels: tests

#7163 Zebra mlag bugs
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_private.c
Labels: zebra

#7155 Offload/Trap
  include/linux/rtnetlink.h
  lib/route_types.pl
  lib/zclient.h
  tests/topotests/lib/topotest.py
  zebra/rt_netlink.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: libfrr, zebra

#7140 Netns refactor v75
  bgpd/bgp_zebra.c
  doc/user/bgp.rst
  include/linux/net_namespace.h
  lib/netns_linux.c
  lib/ns.h
  lib/vrf.c
  lib/vrf.h
  tests/topotests/bgp_evpn_rt5/__init__.py
  tests/topotests/bgp_evpn_rt5/r1/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r1/zebra.conf
  tests/topotests/bgp_evpn_rt5/r2/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r2/zebra.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/if_netlink.c
  zebra/interface.c
  zebra/main.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_netns_id.c
  zebra/zebra_netns_id.h
  zebra/zebra_netns_notify.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_vxlan.c
Labels: bgp, documentation, libfrr, zebra

#7164 evpn-mh: miscellaneous cleanup/fixes
  zebra/zebra_evpn_mh.c
Labels: zebra

#7169 Some code cleanup
  bgpd/bgp_ecommunity.c
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_zebra.c
  isisd/isis_nb_config.c
  lib/northbound.c
  pimd/pim_igmp.c
  zebra/kernel_netlink.c
Labels: bgp, isis, libfrr, pim, zebra

#7171 bgpd: allow derived router-id update if previously 0x0
  bgpd/bgpd.c
Labels: bgp

#7182 bgpd: Allow bgp static routes to use /32's
  bgpd/bgp_route.c
Labels: bgp

#7181 isisd: minor fixes and improvements
  isisd/isis_adjacency.c
Labels: isis

#7063 yang: use leafref instead of string
  bfdd/bfd.c
  bfdd/bfdd.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb_config.c
  yang/frr-bfdd.yang
  yang/frr-bgp-common-structure.yang
  yang/frr-bgp-common.yang
  yang/frr-bgp-types.yang
  yang/frr-eigrpd.yang
  yang/frr-isisd.yang
  yang/frr-nexthop.yang
  yang/frr-ospfd.yang
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
  yang/frr-routing.yang
  yang/frr-test-module.yang
  yang/frr-zebra.yang
Labels: bfd, yang

#7178 bgpd: Use bgp instance's default keepalive interval if < (holdtime/3)
  bgpd/bgp_packet.c
Labels: bgp

#7190 bgpd: [7.5] timers, static routes, router-id backports
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
Labels: bgp

#6799 EVPN Multihoming part-2 - NHG ZAPI Infrastructure and Sharpd Implementation
  doc/user/pbr.rst
  lib/hash.h
  lib/log.c
  lib/nexthop_group.c
  lib/route_types.txt
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_globals.h
  sharpd/sharp_main.c
  sharpd/sharp_nht.c
  sharpd/sharp_nht.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
  zebra/zserv.c
Labels: documentation, libfrr, pbr, sharp, tests, zebra

#7191 bgpd: [7.4] timers, static routes, router-id backports
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
Labels: bgp

#7193 vtysh fixes
  vtysh/vtysh.c
Labels: vtysh

#7197 tests: skip tests when building without daemon
  tests/subdir.am
Labels: tests

#7177 tests: python3 compat fixes for topotests: tabs and misc api
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/bgp-prefix-list-topo1/test_prefix_lists.py
  tests/topotests/bgp-route-map/test_route_map_topo1.py
  tests/topotests/bgp-route-map/test_route_map_topo2.py
  tests/topotests/bgp_as_allow_in/test_bgp_as_allow_in.py
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_1.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_2.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/bgp_route_aggregation/test_bgp_aggregation.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo2.py
  tests/topotests/eigrp-topo1/test_eigrp_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ltemplate.py
  tests/topotests/lib/lutil.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topojson.py
  tests/topotests/lib/topolog.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf-topo2/test_ospf_topo2.py
  tests/topotests/pbr-topo1/test_pbr_topo1.py
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/test_ripng_topo1.py
Labels: tests

#7199 Nhg reasons
  zebra/zebra_nhg.c
Labels: zebra

#7188 zebra: EVPN avoid duplicate list-node in l3vni's l2vni-list
  zebra/zebra_vxlan.c
Labels: zebra

#7198 vtysh: respect --disable-daemon configure flags
  configure.ac
  vtysh/vtysh.c
Labels: vtysh

#7156 pbrd: cleanup pbr ifp info if not sent to zebra
  pbrd/pbr_map.c
  pbrd/pbr_zebra.c
  pbrd/pbr_zebra.h
Labels: pbr

#7039 bgpd: set/unset no-rib option at runtime
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/r1/ip_route.json
  tests/topotests/bgp_features/r1/ip_route_norib.json
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bgp, documentation, tests

#7192 zebra: fix FPM abort for unreach/prohibit routes
  zebra/zebra_fpm_netlink.c
Labels: zebra

#7201 tests: pim-basic mcast scripts fixes for python3
  tests/topotests/pim-basic/mcast-rx.py
  tests/topotests/pim-basic/mcast-tx.py
Labels: tests

#7203 vtysh: fix commands when building only isisd or fabricd
  isisd/subdir.am
  vtysh/extract.pl.in
  vtysh/subdir.am
Labels: vtysh

#7207 [7.5] zebra: fix FPM abort for unreach/prohibit routes
  zebra/zebra_fpm_netlink.c
Labels: zebra

#7208 [7.4] zebra: fix FPM abort for blackhole/unreach/prohibit routes
  zebra/zebra_fpm_netlink.c
Labels: zebra

#7195 bfdd: Make new multihop peer if local-address is unique
  bfdd/bfd.c
Labels: bfd

#7167 zebra: the mlag_rd_buf_offset variable was write only
  zebra/zebra_mlag.c
  zebra/zebra_mlag.h
  zebra/zebra_mlag_private.c
Labels: zebra

#7215 zebra: don't touch mlag read event pointer
  zebra/zebra_mlag_private.c
Labels: zebra
