Repository FRRouting/frr, pull requests merged in 2020-01, with the labels that each got.

#5602 Rip redistribute fixes
  ripd/rip_zebra.c
  ripngd/ripng_zebra.c
Labels: rip, ripng

#5593 packaging: Add CentOS 8 support
  doc/developer/building-frr-for-centos8.rst
  doc/developer/building.rst
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
Labels: documentation, packaging

#5613 doc: Updating FRR supported RFC list
  doc/user/overview.rst
Labels: documentation

#5615 doc: Add rfc8212 to supported RFCs list
  doc/user/overview.rst
Labels: documentation

#5604 configure.ac: add --enable-undefined-sanitizer
  configure.ac
Labels: build

#5611 bgpd: fix too much no listen doc string
  bgpd/bgp_vty.c
Labels: bgp

#5601 Pim rb
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_instance.h
  pimd/pim_msdp.c
  pimd/pim_nht.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_rp.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_zebra.c
Labels: pim

#5630 bgpd: fix large route-distinguisher's format
  bgpd/bgp_rd.c
Labels: bgp

#5619 zebra: fix undefined bitshifts in netlink stuff
  zebra/if_netlink.c
  zebra/kernel_netlink.c
Labels: zebra

#5618 configure.ac: make msan & ubsan flags additive
  configure.ac
Labels: build

#5545 bgpd: Print json output for show_ip_bgp_regexp_cmd
  bgpd/bgp_route.c
Labels: bgp

#5632 packaging: Redirect stderr to /dev/null in %post action (frr.spec.in)
  redhat/frr.spec.in
Labels: packaging

#5606 docker: Use proper container name when creating CentOS 8 container
  docker/centos-8/build.sh
Labels: docker

#5607 bgpd: Time to deprecate bgpTimerUp
  bgpd/bgp_vty.c
Labels: bgp

#5622 lib: fix ifindex comparison overflow
  lib/if.c
Labels: libfrr

#5626 Fix zapi pbr foo, pseudowire ifname termination
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
Labels: zebra

#5621 lib: dont decode more nexthops than we can handle
  lib/zclient.c
Labels: libfrr

#5553 zebra: fix kernel-route's deletion on vrf
  zebra/rt_netlink.c
Labels: zebra

#5546 zebra: route changes via notify path should trigger nht
  zebra/zebra_rib.c
Labels: zebra

#5550 isisd, yang: set default is-type to level-1-2
  isisd/isisd.c
  yang/frr-isisd.yang
Labels: isis, yang

#5580 zebra: add a debug category for nexthops
  zebra/debug.c
  zebra/debug.h
Labels: zebra

#5614 Fix zebra zapi crashes
  zebra/if_netlink.c
  zebra/zapi_msg.c
Labels: zebra

#5625 zebra: ensure ipset name is null terminated
  zebra/zapi_msg.c
Labels: zebra

#5623 zebra: disallow negative rtadv intvl, fix overflow
  zebra/rtadv.c
Labels: zebra

#5577 bgpd: [7.0] Make sure we can use `no bgp listen range ...`
  bgpd/bgp_vty.c
Labels: bgp

#5576 bgpd: [7.1] Make sure we can use `no bgp listen range ...`
  bgpd/bgp_vty.c
Labels: bgp

#5636 bgpd: fix unaligned access to addpath id
  bgpd/bgp_route.c
Labels: bgp

#5635 debian: Fix spelling error
  debian/README.Debian
Labels: packaging

#5638 bgpd: avoid memcmp(NULL, NULL)
  bgpd/bgp_attr.c
Labels: bgp

#5642 bgpd: [7.2] fix large route-distinguisher's format
  bgpd/bgp_rd.c
Labels: bgp

#5644 doc: Clarify what is supported directly in PIM documentation
  doc/user/pim.rst
Labels: documentation

#5634 bgpd: fix advertise pip running config
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5628 zebra: Ignore RTM_GETNEIGH messages from the linux kernel
  zebra/kernel_netlink.c
Labels: zebra

#5639 zebra: fix ptm heap double free
  zebra/zebra_ptm.c
Labels: zebra

#5645 zebra: conditionalize RTM_RESOLVE flag
  zebra/kernel_socket.c
Labels: zebra

#5617 Zebra bites
  zebra/zapi_msg.c
  zebra/zebra_vxlan.c
Labels: zebra

#5640 bgpd: [7.0] fix large route-distinguisher's format
  bgpd/bgp_rd.c
Labels: bgp

#5641 bgpd: [7.1] fix large route-distinguisher's format
  bgpd/bgp_rd.c
Labels: bgp

#5544 bgpd: [7.2] Show `ip` and `fqdn` in json output for `show [ip] bgp <route> json`
  bgpd/bgp_route.c
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, tests

#5569 bgpd: [7.2] Do not apply eBGP policy for iBGP peers
  bgpd/bgp_route.c
  tests/topotests/bgp_ebgp_requires_policy/r5/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r5/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/r6/bgpd.conf
  tests/topotests/bgp_ebgp_requires_policy/r6/zebra.conf
  tests/topotests/bgp_ebgp_requires_policy/test_bgp_ebgp_requires_policy.py
Labels: bgp, tests

#5646 bgpd: fix unaligned access to addpath id
  bgpd/bgp_evpn.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
Labels: bgp

#5624 Fix PTM ZAPI stream parsing
  zebra/zapi_msg.c
  zebra/zebra_ptm.c
Labels: zebra

#5650 zebra: remove cast from l3vni XMALLOC
  zebra/zebra_vxlan_private.h
Labels: zebra

#5314 VRRP northbound conversion
  lib/ipaddr.h
  lib/yang.c
  vrrpd/subdir.am
  vrrpd/vrrp.c
  vrrpd/vrrp.h
  vrrpd/vrrp_main.c
  vrrpd/vrrp_northbound.c
  vrrpd/vrrp_vty.c
  vrrpd/vrrp_vty.h
  yang/frr-vrrpd.yang
  yang/subdir.am
Labels: build, libfrr, vrrp, yang

#5260 bgpd: Prevent usage after free in bgp_mac.c
  bgpd/bgp_mac.c
Labels: bgp, bugfix

#5551 zebra: make current show nexthop-group cli zebra-specific
  zebra/zebra_vty.c
Labels: zebra

#5418 bgpd: fix missing bounds checks for psid attr
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  tests/bgpd/test_mp_attr.c
Labels: bgp

#5560 lib,zebra: add zapi msg top level error handling
  lib/log.c
  lib/zclient.c
  lib/zclient.h
  pimd/pim_zlookup.c
  zebra/zapi_msg.c
  zebra/zserv.h
Labels: libfrr, pim, zebra

#5410 bgpd: An ability to set attributes for default-originate via route-map
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_default-route_route-map/__init__.py
  tests/topotests/bgp_default-route_route-map/r1/bgpd.conf
  tests/topotests/bgp_default-route_route-map/r1/zebra.conf
  tests/topotests/bgp_default-route_route-map/r2/bgpd.conf
  tests/topotests/bgp_default-route_route-map/r2/zebra.conf
  tests/topotests/bgp_default-route_route-map/test_bgp_default-originate_route-map.py
Labels: bgp, tests

#5609 Fix logrotate in debian for bfdd, pbrd and vrrpd.
  debian/frr.logrotate
Labels: packaging

#5661 doc: Replace wrong paths for centos/fedora source build instructions
  doc/developer/building-frr-for-centos6.rst
  doc/developer/building-frr-for-centos7.rst
  doc/developer/building-frr-for-centos8.rst
  doc/developer/building-frr-for-fedora.rst
Labels: documentation

#5662 zebra: fix bfd deregister message memleak
  zebra/zebra_ptm.c
Labels: zebra

#5663 Nhg topotests fixes
  tests/topotests/ospf6-topo1/r1/ip_6_address.nhg.ref
  tests/topotests/ospf6-topo1/test_ospf6_topo1.py
  zebra/kernel_netlink.c
Labels: tests, zebra

#5586 lib: [7.1] perform a bind inside vrf_socket() call
  lib/vrf.c
Labels: libfrr

#5627 *: modify two evpn debugs
  bgpd/bgp_zebra.c
  zebra/zebra_vxlan.c
Labels: bgp, zebra

#5657 staticd: add debug support
  staticd/static_debug.c
  staticd/static_debug.h
  staticd/static_main.c
  staticd/static_vty.c
  staticd/subdir.am
Labels: staticd

#5590 nhrpd: offset value not checked for min size
  nhrpd/nhrp_peer.c
Labels: nhrp

#5677 zebra: bfd message handling cleanup foo
  zebra/zebra_ptm.c
Labels: zebra

#5683 [7.3]zebra: bfd message handling cleanup foo
  zebra/zebra_ptm.c
Labels: zebra

#5681 doc: manpage rename
  bfdd/subdir.am
  bgpd/subdir.am
  debian/frr.manpages
  doc/manpages/conf.py
  doc/manpages/defines.rst
  doc/manpages/frr-bfdd.rst
  doc/manpages/frr-bgpd.rst
  doc/manpages/frr-eigrpd.rst
  doc/manpages/frr-fabricd.rst
  doc/manpages/frr-isisd.rst
  doc/manpages/frr-ldpd.rst
  doc/manpages/frr-nhrpd.rst
  doc/manpages/frr-ospf6d.rst
  doc/manpages/frr-ospfclient.rst
  doc/manpages/frr-ospfd.rst
  doc/manpages/frr-pbrd.rst
  doc/manpages/frr-pimd.rst
  doc/manpages/frr-ripd.rst
  doc/manpages/frr-ripngd.rst
  doc/manpages/frr-sharpd.rst
  doc/manpages/frr-staticd.rst
  doc/manpages/frr-vrrpd.rst
  doc/manpages/frr-watchfrr.rst
  doc/manpages/frr-zebra.rst
  doc/manpages/index.rst
  doc/manpages/subdir.am
  eigrpd/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  nhrpd/subdir.am
  ospf6d/subdir.am
  ospfclient/subdir.am
  ospfd/subdir.am
  pbrd/subdir.am
  pimd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  sharpd/subdir.am
  solaris/prototype.doc.in
  staticd/subdir.am
  vrrpd/subdir.am
  watchfrr/subdir.am
  zebra/subdir.am
Labels: build, documentation

#5685 [7.2] doc: manpage rename
  bfdd/subdir.am
  bgpd/subdir.am
  debian/frr.manpages
  doc/manpages/conf.py
  doc/manpages/defines.rst
  doc/manpages/frr-bfdd.rst
  doc/manpages/frr-bgpd.rst
  doc/manpages/frr-eigrpd.rst
  doc/manpages/frr-fabricd.rst
  doc/manpages/frr-isisd.rst
  doc/manpages/frr-ldpd.rst
  doc/manpages/frr-nhrpd.rst
  doc/manpages/frr-ospf6d.rst
  doc/manpages/frr-ospfclient.rst
  doc/manpages/frr-ospfd.rst
  doc/manpages/frr-pbrd.rst
  doc/manpages/frr-pimd.rst
  doc/manpages/frr-ripd.rst
  doc/manpages/frr-ripngd.rst
  doc/manpages/frr-sharpd.rst
  doc/manpages/frr-staticd.rst
  doc/manpages/frr-vrrpd.rst
  doc/manpages/frr-watchfrr.rst
  doc/manpages/frr-zebra.rst
  doc/manpages/index.rst
  doc/manpages/subdir.am
  eigrpd/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  nhrpd/subdir.am
  ospf6d/subdir.am
  ospfclient/subdir.am
  ospfd/subdir.am
  pbrd/subdir.am
  pimd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  sharpd/subdir.am
  solaris/prototype.doc.in
  staticd/subdir.am
  vrrpd/subdir.am
  watchfrr/subdir.am
  zebra/subdir.am
Labels: documentation

#5666 bgpd, ospfd, zebra: Do not use 0 as VRF_DEFAULT
  bgpd/bgp_pbr.c
  ospfd/ospf_vty.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
Labels: bgp, ospf, zebra

#5684 [7.3] doc: manpage rename
  bfdd/subdir.am
  bgpd/subdir.am
  debian/frr.manpages
  doc/manpages/conf.py
  doc/manpages/defines.rst
  doc/manpages/frr-bfdd.rst
  doc/manpages/frr-bgpd.rst
  doc/manpages/frr-eigrpd.rst
  doc/manpages/frr-fabricd.rst
  doc/manpages/frr-isisd.rst
  doc/manpages/frr-ldpd.rst
  doc/manpages/frr-nhrpd.rst
  doc/manpages/frr-ospf6d.rst
  doc/manpages/frr-ospfclient.rst
  doc/manpages/frr-ospfd.rst
  doc/manpages/frr-pbrd.rst
  doc/manpages/frr-pimd.rst
  doc/manpages/frr-ripd.rst
  doc/manpages/frr-ripngd.rst
  doc/manpages/frr-sharpd.rst
  doc/manpages/frr-staticd.rst
  doc/manpages/frr-vrrpd.rst
  doc/manpages/frr-watchfrr.rst
  doc/manpages/frr-zebra.rst
  doc/manpages/index.rst
  doc/manpages/subdir.am
  eigrpd/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  nhrpd/subdir.am
  ospf6d/subdir.am
  ospfclient/subdir.am
  ospfd/subdir.am
  pbrd/subdir.am
  pimd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  sharpd/subdir.am
  solaris/prototype.doc.in
  staticd/subdir.am
  vrrpd/subdir.am
  watchfrr/subdir.am
  zebra/subdir.am
Labels: documentation

#5616 zebra: just set nexthop member in handle_recursive_depend()
  lib/nexthop_group.c
  zebra/zebra_nhg.c
Labels: libfrr, zebra

#5600 zebra: can't improve efficiency for recursive depends
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  zebra/zebra_nhg.c
Labels: libfrr, zebra

#5664 bgpd: add addpath ID to adj_out tree sort
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#5679 zebra: Do not accept illegal safi's for route installation
  zebra/zapi_msg.c
Labels: zebra

#5670 zebra: fix assert crash on corrupt vxlan msg
  zebra/zebra_vxlan.c
Labels: zebra

#5672 Merge pull request #5672 from qlyoung/fix-zebra-pbr-iptable-heap-uaf
  zebra/zebra_pbr.c
Labels: zebra

#5688 Merge pull request #5688 from sworleys/dev-7.3-NHG-Fixes
  zebra/zebra_nhg.c
Labels: zebra

#5674 Merge pull request #5674 from qlyoung/fix-zebra-redist-disconnect-memleak
  lib/zclient.c
  lib/zclient.h
  zebra/zserv.c
Labels: zebra

#5680 zebra: Fix label manager memory leak
  zebra/label_manager.c
Labels: zebra

#5687 Stable 7.2 backport edible arrangement
  bgpd/bgp_attr.c
  bgpd/bgp_open.c
  bgpd/bgp_route.c
  lib/if.c
  zebra/if_netlink.c
  zebra/kernel_netlink.c
  zebra/rtadv.c
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
  zebra/zebra_ptm.c
Labels: bgp, libfrr, zebra

#5689 bgpd: [7.2] add addpath ID to adj_out tree sort
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#5690 bgpd: [7.3] add addpath ID to adj_out tree sort
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#5612 tests: add basic nexthop group functionality test
  tests/topotests/all-protocol-startup/r1/ipv4_routes.ref
  tests/topotests/all-protocol-startup/r1/zebra.conf
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#5693 bgpd: [7.2] fix unaligned access to addpath id
  bgpd/bgp_evpn.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
Labels: bgp

#5608 tools: improve frr-reload delete performance for some commands
  tools/frr-reload.py
Labels: tools

#5696 Merge pull request #5696 from qlyoung/stable-7.2-backport-more
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_evpn.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_mpath.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_export_bgp.c
  bgpd/rfapi/vnc_import_bgp.c
  lib/plist.c
  ospfd/ospf_packet.c
  pimd/pim_igmp.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_mroute.c
Labels: bgp, libfrr, ospf, pim

#5694 doc: Note about BFD debug logging
  doc/user/bfd.rst
Labels: documentation

#5686 bgpd: fix memory leak when parsing capabilities
  bgpd/bgp_open.c
Labels: bgp

#5699 zebra: print unknown rule family as number
  zebra/zapi_msg.c
Labels: zebra

#5698 configure.ac: add --enable-clang-coverage
  configure.ac
Labels: build

#5701 bgpd: Remove peer->scount
  bgpd/bgpd.h
Labels: bgp

#5704 build: random cleanups
  configure.ac
  lib/gitversion.pl
  m4/ax_python.m4
Labels: build

#5703 bgpd: Add an option to limit outgoing prefixes
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_maximum_prefix_out/__init__.py
  tests/topotests/bgp_maximum_prefix_out/r1/bgpd.conf
  tests/topotests/bgp_maximum_prefix_out/r1/zebra.conf
  tests/topotests/bgp_maximum_prefix_out/r2/bgpd.conf
  tests/topotests/bgp_maximum_prefix_out/r2/zebra.conf
  tests/topotests/bgp_maximum_prefix_out/test_bgp_maximum_prefix_out.py
Labels: bgp, documentation, tests

#5707 Nexthop encoding
  lib/zclient.c
  tests/topotests/pim-basic/r1/bgpd.conf
  tests/topotests/pim-basic/r1/pimd.conf
  tests/topotests/pim-basic/r1/rp-info.json
  tests/topotests/pim-basic/r1/zebra.conf
  tests/topotests/pim-basic/rp/bgpd.conf
  tests/topotests/pim-basic/rp/pimd.conf
  tests/topotests/pim-basic/rp/upstream.json
  tests/topotests/pim-basic/rp/zebra.conf
  tests/topotests/pim-basic/test_pim.py
Labels: libfrr, tests

#5708 [7.3]lib: Fix nexthop encoding
  lib/zclient.c
Labels: libfrr

#5668 doc: add instructions for static linking
  doc/developer/building.rst
  doc/developer/static-linking.rst
  doc/developer/subdir.am
Labels: documentation

#5691 bgpd: [7.1] add addpath ID to adj_out tree sort
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#5675 topotest: minor doc, lutil, sharpd not compiled changes
  doc/developer/topotests.rst
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_up.py
  tests/topotests/lib/ltemplate.py
  tests/topotests/lib/lutil.py
Labels: documentation

#5473 ospf6d: ospf6_flood.c: self-originated MaxAge LSAs to install and refresh.
  ospf6d/ospf6_flood.c
Labels: ospfv3

#5656 bgpd: import evpn entries with nexthop self attribute
  bgpd/bgp_evpn.c
Labels: bgp

#5710 lib: Fix missing __be16 typedef on CentOS6
  lib/zebra.h
Labels: libfrr

#5412 bfdd: fix multiple VRF handling
  bfdd/bfd.c
Labels: bfd, bugfix, review & merge me

#5720 zebra: [7.3] include zebra nexthop debug in show run
  zebra/debug.c
Labels: zebra

#5711 zebra: Re-add onlink flag due to loss in earlier commit
  doc/user/ospfd.rst
  tests/topotests/ospf-topo2/r1/ospf-route.json
  tests/topotests/ospf-topo2/r1/ospfd.conf
  tests/topotests/ospf-topo2/r1/v4_route.json
  tests/topotests/ospf-topo2/r1/zebra.conf
  tests/topotests/ospf-topo2/r2/ospf-route.json
  tests/topotests/ospf-topo2/r2/ospfd.conf
  tests/topotests/ospf-topo2/r2/v4_route.json
  tests/topotests/ospf-topo2/r2/zebra.conf
  tests/topotests/ospf-topo2/test_ospf_topo2.py
  zebra/zapi_msg.c
Labels: documentation, tests, zebra

#5620 Fix zebra vrf label afi check
  lib/zebra.h
  zebra/zapi_msg.c
Labels: libfrr, zebra

#5723 73 onlink loss
  doc/user/ospfd.rst
  tests/topotests/ospf-topo2/r1/ospf-route.json
  tests/topotests/ospf-topo2/r1/ospfd.conf
  tests/topotests/ospf-topo2/r1/v4_route.json
  tests/topotests/ospf-topo2/r1/zebra.conf
  tests/topotests/ospf-topo2/r2/ospf-route.json
  tests/topotests/ospf-topo2/r2/ospfd.conf
  tests/topotests/ospf-topo2/r2/v4_route.json
  tests/topotests/ospf-topo2/r2/zebra.conf
  tests/topotests/ospf-topo2/test_ospf_topo2.py
  zebra/zapi_msg.c
Labels: documentation, tests, zebra

#5730 lib: Fix missing __be16 typedef on CentOS6
  lib/zebra.h
Labels: libfrr

#5729 [7.2] lib: Fix missing __be16 typedef on CentOS6
  lib/zebra.h
Labels: libfrr

#5727 bgpd: fix memory leak in evpn json outputs
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5728 Move rpm to python3
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
  tools/generate_support_bundle.py
Labels: documentation, packaging, tools

#5673 zebra: fix ipset, iptable, ipset entry memleaks
  zebra/zebra_pbr.c
Labels: zebra

#5731 bgpd: fix memory leak in evpn json outpus II
  bgpd/bgp_evpn_vty.c
Labels: bgp

#5725 doc: Add documentation about OSPF(6) `set metric [+|-]metric` cmd
  doc/user/ospf6d.rst
  doc/user/ospfd.rst
Labels: documentation

#5716 bfdd: remove logging shim & fix warnings
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd.c
  bfdd/config.c
  bfdd/control.c
  bfdd/log.c
  bfdd/subdir.am
Labels: bfd

#5706 zebra: include zebra nexthop debug in show runn
  zebra/debug.c
Labels: zebra

#5721 vtysh: add a cli that reads a file into running-config
  doc/user/vtysh.rst
  vtysh/vtysh.c
Labels: vtysh

#5210 bgpd:BGP Graceful Restart Per Neighbor(BGPN) Feature.
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_io.c
  bgpd/bgp_main.c
  bgpd/bgp_network.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.c
  bgpd/bgp_table.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/command.h
  lib/zclient.c
  lib/zclient.h
  tests/bgpd/test_mpath.c
Labels: bgp, review & merge me

#5736 [7.3] Move rpm to python3
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
  tools/generate_support_bundle.py
Labels: documentation, packaging, tools

#5637 Zebra nhg/nexthop fixes
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg_private.h
Labels: zebra

#5669 Nhg ip
  doc/user/zebra.rst
  zebra/rt_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: documentation, zebra
