Repository FRRouting/frr, pull requests merged in 2020-07, with the labels that each got.

#6657 tests: pbr is not working properly on arm 4.9 kernels
  tests/topotests/pbr-topo1/test_pbr_topo1.py
Labels: tests

#6663 pbrd, lib: remember to free alloc'd qobj elements on delete
  lib/nexthop_group.c
  pbrd/pbr_map.c
Labels: libfrr, pbr

#6665 isisd: log adj change when circuit goes down
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_circuit.c
Labels: isis

#6664 bgpd: Actually find the sequence number for `bgp extcommunity-list...`
  bgpd/bgp_vty.c
Labels: bgp

#6661 bgpd: peer_af_flag_modify_vty assumes 1 flag at a time
  bgpd/bgp_vty.c
Labels: bgp

#6590 bgpd: bmp: add support for L2VPN/EVPN routes
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
Labels: bgp

#6667 bgpd: Return bool type for ecommunity_add_val and subgroup_announce_check
  bgpd/bgp_ecommunity.c
  bgpd/bgp_route.c
Labels: bgp

#6437 bfdd,bgpd: profiles integration support
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdctl.h
  bfdd/bfdd.c
  bfdd/ptm_adapter.c
  bgpd/bgp_bfd.c
  doc/user/bfd.rst
  isisd/isis_bfd.c
  lib/bfd.c
  lib/bfd.h
  tests/topotests/bfd-profiles-topo1/__init__.py
  tests/topotests/bfd-profiles-topo1/r1/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r1/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r1/ospfd.conf
  tests/topotests/bfd-profiles-topo1/r1/zebra.conf
  tests/topotests/bfd-profiles-topo1/r2/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r2/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r2/bgpd.conf
  tests/topotests/bfd-profiles-topo1/r2/zebra.conf
  tests/topotests/bfd-profiles-topo1/r3/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r3/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r3/bgpd.conf
  tests/topotests/bfd-profiles-topo1/r3/isisd.conf
  tests/topotests/bfd-profiles-topo1/r3/zebra.conf
  tests/topotests/bfd-profiles-topo1/r4/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r4/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r4/bgpd.conf
  tests/topotests/bfd-profiles-topo1/r4/isisd.conf
  tests/topotests/bfd-profiles-topo1/r4/ospf6d.conf
  tests/topotests/bfd-profiles-topo1/r4/zebra.conf
  tests/topotests/bfd-profiles-topo1/r5/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r5/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r5/ospf6d.conf
  tests/topotests/bfd-profiles-topo1/r5/zebra.conf
  tests/topotests/bfd-profiles-topo1/r6/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r6/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r6/ospfd.conf
  tests/topotests/bfd-profiles-topo1/r6/zebra.conf
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.dot
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.png
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.py
Labels: bfd, bgp, documentation, isis, libfrr

#6672 bgpd: detect change of RT for L3VPN routes
  bgpd/bgp_route.c
Labels: bgp

#6671 topotests: FRR start procedure improvements
  tests/topotests/lib/topotest.py
Labels: tests

#6669 bgpd: Actually find the sequence number for large-community-list
  bgpd/bgp_vty.c
  tools/coccinelle/argv_find.cocci
Labels: bgp, tools

#6654 Sorted vtysh commands
  vtysh/vtysh_config.c
Labels: vtysh

#6676 bfdd: Use XFREE when freeing bfd profiles
  bfdd/bfd.c
Labels: bfd

#6677 tests: wait longer when shutting down in topotests
  tests/topotests/lib/topotest.py
Labels: tests

#6666 pbrd: Be a bit more lenient with `set nexthop A.B.C.D <intf>`
  pbrd/pbr_vty.c
Labels: pbr

#6646 zebra: prepare dplane for batching
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_rib.c
Labels: zebra

#6678 tests,zebra: fix more startup topotest issues
  tests/topotests/lib/topotest.py
  zebra/zebra_nhg.c
Labels: tests, zebra

#6628 bgpd: Incorrect auto-RT formed when L3VNI is not configured
  bgpd/bgp_evpn.c
Labels: bgp

#6397 Fix evpn type2 heap read overflow(s)
  bgpd/bgp_evpn.c
  lib/stream.c
  lib/stream.h
Labels: bgp, libfrr

#6114 pimd: Providing json support for few pim commands
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: pim

#6681 lib: fix route map description memory leak
  lib/routemap.c
Labels: libfrr

#6607 tests: Add bgp_recursive_route_ebgp_multi_hop test suite
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/bgp_recursive_route_ebgp_multi_hop.json
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/lib/bgp.py
Labels: tests

#6679 bgpd: Some backports to 7.4
  bgpd/bgp_ecommunity.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
Labels: bgp

#6682 doc: specify output for json commands w/ no output
  doc/developer/workflow.rst
Labels: documentation

#6675 isisd: gracefully handle spf error
  isisd/isis_spf.c
Labels: isis

#6683 [7.4] lib: fix route map description memory leak
  lib/routemap.c
Labels: libfrr

#6656 zebra: check LSP flags when deleting an LSP
  zebra/zebra_mpls.c
Labels: zebra

#6687 tests: fix short timeout in lib/bgp.py
  tests/topotests/lib/bgp.py
Labels: tests

#6685 tests: Fix rare case in ospf tests due to small hello timer
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#6689 doc: add note about generous BGP topotest timeouts
  doc/developer/topotests-jsontopo.rst
  doc/developer/topotests.rst
Labels: documentation

#6692 sharpd: use extern for globals
  sharpd/sharp_zebra.c
Labels: sharp

#6691 [7.3] lib,ldp,zebra: add synchronous zapi session flag
  ldpd/lde.c
  lib/zclient.c
  lib/zclient.h
  pimd/pim_zlookup.c
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zebra_vrf.c
  zebra/zserv.h
Labels: libfrr, zebra

#6690 tests: Generate support bundle/dump data on tests failures
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topotest.py
Labels: tests

#6693 Document value initialization practices
  doc/developer/lua.rst
  doc/developer/workflow.rst
  doc/user/bfd.rst
  doc/user/overview.rst
  doc/user/pim.rst
  doc/user/setup.rst
  doc/user/wecmp_linkbw.rst
  doc/user/zebra.rst
Labels: documentation

#6697 ospfd: allow interfaces to come up in rare situation
  ospfd/ospfd.c
Labels: ospf

#6385 isis: tests: Fast RIB recovery from BFD recognized link failures
  doc/user/bfd.rst
  isisd/isis_adjacency.c
  isisd/isis_bfd.c
  isisd/isis_lsp.c
  isisd/isis_spf.c
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/bfd-isis-topo1/__init__.py
  tests/topotests/bfd-isis-topo1/rt1/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt1/isisd.conf
  tests/topotests/bfd-isis-topo1/rt1/step1/show_ip_route.ref
  tests/topotests/bfd-isis-topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/bfd-isis-topo1/rt1/step2/show_bfd_peers.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_bfd_peers_healthy.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_bfd_peers_rt2_down.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_bfd_peers_rt3_down.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ip_route_healthy.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ip_route_rt2_down.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ip_route_rt3_down.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ipv6_route_healthy.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ipv6_route_rt2_down.ref
  tests/topotests/bfd-isis-topo1/rt1/step3/show_ipv6_route_rt3_down.ref
  tests/topotests/bfd-isis-topo1/rt1/zebra.conf
  tests/topotests/bfd-isis-topo1/rt2/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt2/isisd.conf
  tests/topotests/bfd-isis-topo1/rt2/step2/show_bfd_peers.ref
  tests/topotests/bfd-isis-topo1/rt2/zebra.conf
  tests/topotests/bfd-isis-topo1/rt3/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt3/isisd.conf
  tests/topotests/bfd-isis-topo1/rt3/step2/show_bfd_peers.ref
  tests/topotests/bfd-isis-topo1/rt3/zebra.conf
  tests/topotests/bfd-isis-topo1/rt4/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt4/isisd.conf
  tests/topotests/bfd-isis-topo1/rt4/zebra.conf
  tests/topotests/bfd-isis-topo1/rt5/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt5/isisd.conf
  tests/topotests/bfd-isis-topo1/rt5/zebra.conf
  tests/topotests/bfd-isis-topo1/test_bfd_isis_topo1.py
Labels: isis, tests

#6709 tests: use ipaddress module; tolerate missing support bundle file
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topojson.py
  tests/topotests/lib/topotest.py
Labels: tests

#6708 Add BFD peer awareness to frr-reload.py and vtysh markfile
  tools/frr-reload.py
  vtysh/vtysh.c
Labels: tools, vtysh

#6703 tests: print actual time spent waiting for bgp convergence
  tests/topotests/lib/bgp.py
Labels: tests

#6702 bgpd: Add command to show only established sessions
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  doc/user/bgp.rst
Labels: bgp, documentation

#6713 pimd: Add some missing mesh-group pim cmds
  doc/user/pim.rst
Labels: pim

#6403 lib: Fix erroneous r-map behavior
  lib/routemap.c
Labels: libfrr

#6530 lib, zebra: async notifications for backup routes and LSPs
  lib/nexthop.c
  lib/nexthop.h
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  tests/topotests/zebra_rib/r1/v4_route_1_static_override.json
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_nhg.c
  zebra/zebra_pw.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_vty.c
Labels: libfrr, sharp, staticd, zebra

#6715 isisd: fix Coverity warning
  isisd/isis_circuit.c
Labels: isis

#6714 bgpd: [7.4] Add command to show only established sessions
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  doc/user/bgp.rst
Labels: bgp, documentation

#6716 zebra: mark connected nh inactive if not matching ifindex
  zebra/zebra_nhg.c
Labels: zebra

#6719 zebra,fpm: fix force disable next hop groups
  zebra/rt_netlink.c
Labels: fpm, zebra

#6704 lib: block signals in child pthreads
  lib/frr_pthread.c
Labels: libfrr

#5301 [RFC] zebra: remove vrf parameter from "show interface ..." commands
  lib/if.c
  lib/if.h
  zebra/interface.c
Labels: zebra

#6346 bgpd: Show the real next-hop address in addition to hostname in `show…
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_show_ip_bgp_fqdn/__init__.py
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, documentation, tests

#6649 zebra: netlink cleanup
  zebra/kernel_netlink.c
Labels: zebra

#6718 bfdd: update detect multiplier on profile change
  bfdd/bfdd_nb_config.c
Labels: bfd

#5015 Rpki Encapsulation
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_main.c
  bgpd/bgp_rpki.c
  bgpd/bgpd.h
  doc/user/rpki.rst
  lib/command.c
  lib/command.h
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
Labels: bgp, documentation, libfrr, vtysh

#6721 tests: [topojson] Increase BGP convergence wait time
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#6737 [7.4] Add BFD peer awareness to frr-reload.py and vtysh markfile
  tools/frr-reload.py
  vtysh/vtysh.c
Labels: tools, vtysh

#6733 [7.4] debian: fix changelog
  changelog-auto.in
Labels: packaging

#6728 [7.4] cherry-pick vtysh fixes
  vtysh/vtysh_config.c
Labels: vtysh

#6701 ospf: set display format for range command
  ospfd/ospf_vty.c
Labels: ospf

#6744 bgpd: [7.4] Show the real next-hop address in addition to hostname
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_show_ip_bgp_fqdn/__init__.py
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r1/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r2/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/bgpd.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/r3/zebra.conf
  tests/topotests/bgp_show_ip_bgp_fqdn/test_bgp_show_ip_bgp_fqdn.py
Labels: bgp, documentation, tests

#6519 bgpd: Fix the bug that BGP MRAI does not work.
  bgpd/bgp_packet.c
Labels: bgp

#6751 Pim mem leaks
  pimd/pim_mlag.c
  pimd/pim_mlag.h
  pimd/pim_rp.c
  pimd/pimd.c
Labels: pim

#6706 Router id vrf subnode configuration
  doc/user/zebra.rst
  zebra/main.c
  zebra/router-id.c
  zebra/router-id.h
  zebra/zapi_msg.c
  zebra/zebra_vrf.c
  zebra/zebra_vty.c
Labels: documentation, zebra

#6752 zebra: fix the installation of the evpn neighbor update
  zebra/rt_netlink.c
Labels: zebra

#6705 pbrd: A couple pbr fixes
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_nht.c
Labels: pbr

#6763 bgpd: Remove memset from bgp_zebra_announce
  bgpd/bgp_zebra.c
Labels: bgp

#6753 zebra: fix SA warnings in backup nexthop code
  zebra/zebra_mpls.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
Labels: zebra

#6446 zebra: rib operational nb add vrf key
  zebra/zebra_nb_state.c
Labels: zebra

#6767 Compile issues
  pimd/pim_cmd.c
  zebra/zebra_netns_notify.c
Labels: pim, zebra

#6768 bgpd: [7.4] Fix the bug that BGP MRAI does not work
  bgpd/bgp_packet.c
Labels: bgp

#6729 ldpd: Update LDP to process received pw-status in received order.
  ldpd/l2vpn.c
  ldpd/lde.c
  ldpd/lde.h
  ldpd/lde_lib.c
Labels: ldp

#6775 vtysh: suppress linemarkers in vtysh_cmd.c
  vtysh/extract.pl.in
Labels: vtysh

#6754 lib: add a backtrace when stream bounds check fails
  lib/stream.c
Labels: libfrr

#6776 ospfd: remove redundant line continuations
  ospfd/ospf_vty.c
Labels: ospf

#6764 tools: fix more frr-reload vrf static errors
  tools/frr-reload.py
Labels: tools

#6745 bgpd: Handle default bgp vrf all for statistics
  bgpd/bgp_route.c
Labels: bgp

#6777 vtysh: rework DEFPY processing in extract.pl
  lib/command.h
  vtysh/extract.pl.in
Labels: vtysh

#6700 ospf6: decimal area format in interface command
  doc/user/ospf6d.rst
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_top.c
Labels: ospfv3

#6435 vtysh: return success from "no vrf" when VRF doesn't exist
  lib/vrf.c
Labels: vtysh

#6711 Add BFD profiles for IS-IS
  bgpd/bgp_bfd.c
  doc/user/bfd.rst
  isisd/isis_bfd.c
  isisd/isis_bfd.h
  isisd/isis_cli.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_vty_fabricd.c
  lib/bfd.c
  lib/bfd.h
  ospf6d/ospf6_bfd.c
  ospfd/ospf_bfd.c
  pimd/pim_bfd.c
  tests/topotests/bfd-profiles-topo1/r3/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r3/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r3/bgpd.conf
  tests/topotests/bfd-profiles-topo1/r3/isisd.conf
  tests/topotests/bfd-profiles-topo1/r4/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r4/bgpd.conf
  tests/topotests/bfd-profiles-topo1/r4/isisd.conf
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.py
  yang/frr-isisd.yang
Labels: isis, tests

#6780 zebra: vrf disable clean up evpn rmac and nxthp cache
  zebra/zebra_vxlan.c
Labels: zebra

#6343 watchfrr: add `-N` and `--netns` options
  doc/manpages/frr-watchfrr.rst
  lib/libfrr.c
  tools/etc/frr/daemons
  tools/frr-reload.py
  tools/frr@.service
  tools/frrcommon.sh.in
  tools/frrinit.sh.in
  tools/subdir.am
  watchfrr/watchfrr.c
Labels: documentation, tools, vtysh, watchfrr

#6243 Flowspec some regression seen
  bgpd/bgp_flowspec_vty.c
  zebra/zebra_pbr.c
Labels: bgp, zebra

#6730 DSCP / ECN-based PBR Matching
  doc/user/pbr.rst
  lib/pbr.h
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  tests/topotests/pbr-topo1/r1/pbr-map.json
  tests/topotests/pbr-topo1/r1/pbrd.conf
  zebra/rule_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_pbr.h
Labels: libfrr, pbr, tests, zebra

#6793 bgpd: wide option
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vpn.c
Labels: bgp

#6771 lib: fix TLS log buffer on NetBSD
  lib/zlog.c
Labels: libfrr

#6772 [7.4] lib: fix TLS log buffer on NetBSD
  lib/zlog.c
Labels: libfrr

#6802 Various
  doc/user/bgp.rst
  vrrpd/vrrp.c
  vrrpd/vrrp_packet.c
  vrrpd/vrrp_vty.c
Labels: documentation, vrrp

#6794 bgpd: [7.4] Handle default bgp vrf all for statistics
  bgpd/bgp_route.c
Labels: bgp

#6662 tests: Adding test suites evpn_type5_test_topo1
  tests/topotests/evpn_type5_test_topo1/__init__.py
  tests/topotests/evpn_type5_test_topo1/evpn_type5_chaos_topo1.json
  tests/topotests/evpn_type5_test_topo1/evpn_type5_topo1.json
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#6803 Coverity code cleanup
  bgpd/bgp_bmp.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_main.c
Labels: bgp

#6765 lib,zebra: support multiple backup nexthops
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/route_types.pl
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_pw.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_vty.c
Labels: libfrr, sharp, zebra

#6804 doc: Remove `Cisco Compatability` section
  doc/user/bgp.rst
Labels: documentation

#6805 bgpd: Remove peer_afc_set()
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#6806 tests: Remove 'log monitor' from tests
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/ce3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/r1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/r2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/r3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_direct/r4/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/ce4/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r2/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r3/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r4/bgpd.conf
  tests/topotests/bgp_prefix_sid/r1/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity/r1/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity/r2/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity/r3/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity/r4/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity_config2/r1/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity_config2/r2/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity_config2/r3/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity_config2/r4/bgpd.conf
Labels: tests

#6808 bgpd: Bypass SA tests regarding division by zero for reuse_limit in dampening
  bgpd/bgp_damp.c
Labels: bgp

#6758 EVPN northbound conversion for vrf l3vni mapping command
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: libfrr, yang, zebra

#6787 tools: do not silently ignore errors when loading config during startup
  tools/frr.in
  tools/frrcommon.sh.in
Labels: tools

#6769 lib,yang: merge cisco/zebra access list styles
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  lib/routemap_cli.c
  lib/routemap_northbound.c
  yang/frr-filter.yang
  yang/frr-route-map.yang
Labels: libfrr, yang

#6732 *: preparations for printfrr coccinelle run
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  lib/ipaddr.h
  lib/prefix.c
  lib/prefix.h
  lib/sockunion.c
  lib/sockunion.h
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_intra.h
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_message.h
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_route.h
  ospf6d/ospf6_top.h
  tools/cocci.h
Labels: bgp, libfrr, ospfv3, tools

#6825 tests: Skipping evpn_type5_test_topo1 tests from CI runs
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/pytest.ini
Labels: tests

#6824 ospfd: Fix Zebra route add message truncation issue
  ospfd/ospf_zebra.c
Labels: ospf

#6778 tests: rework route_scale topotest
  tests/topotests/route-scale/test_route_scale.py
Labels: tests
