Repository FRRouting/frr, pull requests merged in 2020-12, with the labels that each got.

#7630 doc: Explicitly call out need to add snmp module
  doc/user/snmp.rst
Labels: documentation

#7578 pimd: fix build and compilation errors
  pimd/pim_cmd.c
  pimd/subdir.am
Labels: pim

#7404 pimd: (*,G) Prune processing doesn't remove SGRpt ifchannel
  pimd/pim_ifchannel.c
  pimd/pim_ifchannel.h
  pimd/pim_join.c
Labels: pim

#7640 bfdd: session specific command type checks
  bfdd/bfdd_cli.c
Labels: bfd

#7642 pimd: Remove pim_version.c it is never used
  pimd/pim_main.c
  pimd/pim_version.c
  pimd/pim_version.h
  pimd/subdir.am
Labels: pim

#7632 vtysh memory fixes
  doc/developer/memtypes.rst
  lib/memory.c
  lib/memory.h
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: documentation, vtysh

#7483 bgpd, zebra: Keep DAD disabled if EVPN MH is turned on
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: bgp, zebra

#7641 Fix run folder permissions
  tools/frrcommon.sh.in
Labels: tools

#7617 zebra: dplane FPM LSP support
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.h
  zebra/zebra_mpls.h
  zebra/zebra_mpls_netlink.c
Labels: zebra

#7601 Pim fix
  pimd/pim_cmd.c
Labels: pim

#7645 zebra: make a couple NHG errors debugs
  zebra/zebra_errors.c
  zebra/zebra_errors.h
  zebra/zebra_nhg.c
Labels: zebra

#7647 bgpd: Show best path reason in JSON output for `show bgp` command
  bgpd/bgp_route.c
Labels: bgp

#7646 zebra: fix show ip route vrf X summary
  zebra/zebra_vty.c
Labels: zebra

#7644 zebra: add an api to process/clean the pending dplane queue
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#7615 tests: Add TOPOTEST_NOLOAD to skip module loading question
  tests/topotests/docker/frr-topotests.sh
Labels: tests

#7612 ospfd: vlink auth type not shown in running config
  ospfd/ospf_vty.c
Labels: ospf

#7648 ospfd: Set Curr_mtu to when we get the mtu
  ospfd/ospf_interface.c
Labels: ospf

#7589 Show bgp summary desc
  bgpd/bgp_vty.c
  tests/topotests/all-protocol-startup/r1/bgpd.conf
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv6_summary.ref
  tests/topotests/all-protocol-startup/r1/show_ip_bgp_summary.ref
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
Labels: bgp

#7596 tests : Adding 3 base ospf testcases.
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
Labels: tests

#7625 Pointtomultipoint
  eigrpd/eigrp_const.h
  eigrpd/eigrp_hello.c
  ospfd/ospf_spf.c
Labels: eigrp, ospf

#7657 tests: Cleanup topo asan noise
  tests/topotests/lib/topotest.py
Labels: tests

#6950 bfdd: distributed BFD
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd.c
  bfdd/bfdd_vty.c
  bfdd/bfddp_packet.h
  bfdd/dplane.c
  bfdd/ptm_adapter.c
  bfdd/subdir.am
  doc/user/bfd.rst
  lib/stream.c
  lib/stream.h
  redhat/frr.spec.in
  zebra/dplane_fpm_nl.c
Labels: bfd, documentation, libfrr, packaging

#7638 zebra: Reduce warn -> debug
  zebra/zebra_evpn.c
Labels: zebra

#7349 bgpd: RFC 4271 optional session attribute DelayOpenTimer
  bgpd/bgp_fsm.c
  bgpd/bgp_nb_config.c
  bgpd/bgp_network.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/r1/bgp_delayopen_neighbor.json
  tests/topotests/bgp_features/r1/bgp_delayopen_summary_established.json
  tests/topotests/bgp_features/r1/bgp_delayopen_summary_shutdown.json
  tests/topotests/bgp_features/r2/bgp_delayopen_neighbor.json
  tests/topotests/bgp_features/r2/bgp_delayopen_summary_connect.json
  tests/topotests/bgp_features/r2/bgp_delayopen_summary_established.json
  tests/topotests/bgp_features/r2/bgp_delayopen_summary_shutdown.json
  tests/topotests/bgp_features/r4/bgp_delayopen_summary_established.json
  tests/topotests/bgp_features/r4/bgp_delayopen_summary_shutdown.json
  tests/topotests/bgp_features/r5/bgp_delayopen_neighbor.json
  tests/topotests/bgp_features/r5/bgp_delayopen_summary_connect.json
  tests/topotests/bgp_features/r5/bgp_delayopen_summary_established.json
  tests/topotests/bgp_features/r5/bgp_delayopen_summary_shutdown.json
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bgp, documentation, tests

#7660 doc: add building steps for openSUSE
  doc/developer/building-frr-for-opensuse.rst
  doc/developer/building.rst
  doc/developer/subdir.am
Labels: documentation

#7399 evpn-mh: miscellaneous fixes in MAC-sync and MAC-ECMP handling
  zebra/rt_netlink.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra

#7656 tests: Wait for convergence first
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
Labels: tests

#7661 isisd, ospfd: increase timeout to fix intermittent LDP Sync test failure
  lib/ldp_sync.h
Labels: isis, ospf

#7618 ospfd: fix cosmetic show ip ospf when NSSA
  ospfd/ospf_vty.c
Labels: ospf

#7663 doc, vtysh: Add a `show history` command
  doc/user/basic.rst
  vtysh/vtysh.c
Labels: documentation, vtysh

#7667 Vtysh more useful data
  vtysh/vtysh_main.c
Labels: vtysh

#7673 isisd: fix SA warning
  isisd/isis_spf.c
Labels: isis

#7669 ospf6d: Router-ID filter is not filtering the show command "do show i…
  ospf6d/ospf6_neighbor.c
Labels: ospfv3

#7675 bgpd: Let's actually track if the nh was updated
  bgpd/bgp_zebra.c
Labels: bgp

#7679 tests: Close some open handles
  tests/topotests/lib/topogen.py
Labels: tests

#7501 nhrpd: cache config may disappear if iface not present at startup
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_vty.c
  nhrpd/nhrpd.h
Labels: nhrp

#7681 bgpd: fix distance for aggregate route
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
Labels: bgp

#7683 zebra: Adding zapi client close notification
  lib/log.c
  lib/zclient.c
  lib/zclient.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zserv.c
Labels: zebra

#7684 doc: Add some notes about RR semantics and the Linux Kernel
  doc/user/zebra.rst
Labels: documentation

#7694 zebra: use zserv_send_message instead of writen
  zebra/zapi_msg.c
Labels: zebra

#7688 tests: Enhanced auto-rd verification logic for evpn_type5 tests
  tests/topotests/lib/bgp.py
Labels: tests

#7690 zebra, tests: Fix `show ip nht`
  tests/topotests/all-protocol-startup/r1/ip_nht.ref
  tests/topotests/all-protocol-startup/r1/ipv6_nht.ref
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  zebra/zebra_vty.c
Labels: tests, zebra

#7686 isisd, ospfd: IGPs detect LDP down via zapi client close message
  isisd/isis_ldp_sync.c
  isisd/isis_ldp_sync.h
  isisd/isis_zebra.c
  ospfd/ospf_ldp_sync.c
  ospfd/ospf_ldp_sync.h
  ospfd/ospf_zebra.c
Labels: isis, ospf

#7700 isisd: fix null pointer dereference when parsing LSP
  isisd/isis_tlvs.c
Labels: isis

#7699 ldpd: fix printfrr format specifiers in the child processes
  ldpd/log.c
Labels: ldp

#7698 zebra: [7.5] use zserv_send_message instead of writen
  zebra/zapi_msg.c
Labels: zebra

#7685 nhrpd: fix SA warning in nhrp_interface
  nhrpd/nhrp_interface.c
Labels: nhrp

#7701 ospfd: clean up SA (7.5 version)
  ospfd/ospfd.c
Labels: ospf

#7703 ldpd, isisd, ospfd: Remove periodic ldp-sync hello message
  isisd/isis_ldp_sync.c
  isisd/isis_ldp_sync.h
  isisd/isis_nb_config.c
  isisd/isis_zebra.c
  ldpd/ldp_zebra.c
  lib/ldp_sync.h
  lib/zclient.h
  ospfd/ospf_ldp_sync.c
  ospfd/ospf_ldp_sync.h
  ospfd/ospf_zebra.c
Labels: isis, ldp, ospf

#7705 bgpd: local routes use non-default distance
  bgpd/bgp_route.c
Labels: bgp

#7524 zebra: deny when route map is specified but does not exist yet
  zebra/zebra_routemap.c
Labels: zebra

#7649 lib: update doc comment on hash_cmp
  lib/hash.h
Labels: libfrr

#7492 ospf6d : Code refactoring for route redistribution.
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_memory.c
  ospf6d/ospf6_memory.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
Labels: ospfv3

#7697 zebra: anticipate zns creation at vrf creation when backend is vrf-lite
  zebra/zebra_vrf.c
Labels: zebra

#7708 doc: update doc comment on hash_cmp (round 2)
  lib/hash.h
Labels: documentation

#7706 zebra: unexpose label-manager util-funcs as static
  zebra/label_manager.c
  zebra/label_manager.h
Labels: zebra

#7677 lib: restore previous access/prefix list behaviour
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  lib/yang.c
Labels: libfrr

#7711 isisd, ospfd: update 'client close' callback to 'ldp fail' api
  isisd/isis_ldp_sync.c
  ospfd/ospf_ldp_sync.c
Labels: isis, ospf

#7721 Routes stuck with 'q' flag when dplane_fpm_nl is in use
  zebra/dplane_fpm_nl.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#7716 bgpd: Print afi/safi as strings for some zlog_debug outputs
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#7715 7.5 backports
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  isisd/isis_tlvs.c
  ospfd/ospf_interface.c
  ospfd/ospf_spf.c
  tools/frr-reload.py
  zebra/zebra_vrf.c
  zebra/zebra_vty.c
Labels: bgp, isis, ospf, zebra

#7713 ospf6d: Fix the prefix walking for show database command for intra-prefix and link
  ospf6d/ospf6_intra.c
Labels: ospfv3

#7714 ospf6d: [7.5]Fix the prefix walking for show database command for intra-prefix and link
  ospf6d/ospf6_intra.c
Labels: ospfv3

#7664 Global bgp wait
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  zebra/zserv.c
Labels: bgp, documentation, isis, ldp, libfrr, nhrp, ospf, ospfv3, tests, zebra

#7726 bgpd: fix evpn route-map vni filter at origin
  bgpd/bgp_evpn.c
Labels: bgp

#7162 zebra: human readable netlink dumps
  configure.ac
  zebra/debug_nl.c
  zebra/kernel_netlink.c
  zebra/rt_netlink.h
  zebra/subdir.am
Labels: zebra

#7737 ospfd: avoid inet_ntoa
  ospfd/ospf_lsa.c
  ospfd/ospf_vty.c
Labels: ospf

#7735 bgpd: Use bgp master flags for send extra data to zebra
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#7732 [7.5] Routes stuck with 'q' flag when dplane_fpm_nl is in use
  zebra/dplane_fpm_nl.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#7728 ospf6d: Link LSA is not updated when router priority is modified
  ospf6d/ospf6_interface.c
Labels: ospfv3

#7717 ospf6d: ospfv3 disable on the interface, but interface prefix still s…
  ospf6d/ospf6_top.c
Labels: ospfv3

#7633 evpn-mh: protodown handling fixes
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zebra_evpn_mh.c
Labels: zebra

#7710 [7.5] lib: restore previous access/prefix list behaviour
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  lib/yang.c
Labels: libfrr

#7636 zebra: support for type-0 ESI
  zebra/interface.h
  zebra/zebra_evpn_mh.c
Labels: zebra

#7637 evpn-pim: cleanup and display fixes
  pimd/pim_vty.c
  zebra/zebra_vxlan.c
Labels: pim, zebra

#7634 evpn-mh: DF fixes
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
Labels: zebra

#7739 pimd: correcting the definition for Mroute flag "R"
  pimd/pim_cmd.c
Labels: pim

#7719 doc: Remove duplicate word
  doc/user/overview.rst
Labels: documentation

#7744 End configuration changes
  lib/lib_vty.c
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
  vtysh/vtysh_main.c
Labels: libfrr, vtysh

#7755 zebra: nht resolve-via-default doesn't need force
  zebra/zebra_vty.c
Labels: zebra

#7757 tests: unicode to frr_unicode
  tests/topotests/ospf_basic_functionality/test_ospf_authentication.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
Labels: tests

#7760 Die in a fire
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_damp.c
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
Labels: bgp

#7766 dplane_fpm_nl optimisations
  zebra/dplane_fpm_nl.c
Labels: zebra

#7768 Route map dependency fix
  lib/routemap.c
Labels: libfrr

#7771 [7.5]lib: Fix dependency of match types in route-map code
  lib/routemap.c
Labels: libfrr

#7778 [7.5] zebra: nht resolve-via-default doesn't need force
  zebra/zebra_vty.c
Labels: zebra

#7779 doc: fix warning in bgp.rst
  doc/user/bgp.rst
Labels: documentation

#7758 tests: dict_values are not lists in version 3
  tests/topotests/lib/bgp.py
Labels: tests

#7472 fpm: frr-reload, IPv6 and an improvement
  tools/frr-reload.py
  zebra/dplane_fpm_nl.c
Labels: fpm, tools, zebra

#7767 zebra: fix loop logic in dplane for extra intf info
  zebra/zebra_dplane.c
Labels: zebra

#6212 tests: Adding static routing topojson automation suites.
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topojson.py
  tests/topotests/static_routing_with_ebgp/static_routes_topo1_ebgp.json
  tests/topotests/static_routing_with_ebgp/static_routes_topo2_ebgp.json
  tests/topotests/static_routing_with_ebgp/static_routes_topo4_ebgp.json
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo1_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo2_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo4_ebgp.py
  tests/topotests/static_routing_with_ibgp/static_routes_topo1_ibgp.json
  tests/topotests/static_routing_with_ibgp/static_routes_topo2_ibgp.json
  tests/topotests/static_routing_with_ibgp/static_routes_topo3_ibgp.json
  tests/topotests/static_routing_with_ibgp/static_routes_topo4_ibgp.json
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo1_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo2_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo3_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo4_ibgp.py
Labels: tests

#7759 Reformat tests again
  .git-blame-ignore-revs
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/bgp-evpn-vxlan_topo1/test_bgp_evpn_vxlan.py
  tests/topotests/bgp-path-attributes-topo1/test_bgp_path_attributes.py
  tests/topotests/bgp-route-map/test_route_map_topo1.py
  tests/topotests/bgp-route-map/test_route_map_topo2.py
  tests/topotests/bgp-vrf-route-leak-basic/test_bgp-vrf-route-leak-basic.py
  tests/topotests/bgp_features/test_bgp_features.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_2.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_prefix_sid/test_bgp_prefix_sid.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/bgp_route_aggregation/test_bgp_aggregation.py
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo2.py
  tests/topotests/isis-lfa-topo1/test_isis_lfa_topo1.py
  tests/topotests/isis-tilfa-topo1/test_isis_tilfa_topo1.py
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/test/test_json.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf-topo1-vrf/test_ospf_topo1_vrf.py
  tests/topotests/ospf-topo1/test_ospf_topo1.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/test_ripng_topo1.py
  tests/topotests/zebra_netlink/test_zebra_netlink.py
Labels: tests

#7724 Pbr zebra was wrong
  pbrd/pbr_nht.c
  zebra/connected.c
  zebra/kernel_socket.c
  zebra/redistribute.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: pbr

#7761 doc: Add BGP GR command for preserving forwarding state.
  doc/user/bgp.rst
Labels: documentation

#7788 zebra: zebra2proto() handle kernel/connect type
  zebra/rt_netlink.c
Labels: zebra

#7777 zebra: avoid c++ reserved keyword
  zebra/rib.h
  zebra/zebra_rib.c
Labels: zebra

#7795 ospfd: fix no show database output when selecting vrf
  ospfd/ospf_vty.c
Labels: ospf

#7791 pbrd: clean up possible checkpatch issue
  pbrd/pbr_nht.c
Labels: pbr
