Repository FRRouting/frr, pull requests merged in 2020-08, with the labels that each got.

#6833 bgpd: Add to neighbor prefix-counts the count of best path selected
  bgpd/bgp_route.c
Labels: bgp

#6831 tools: [7.3] revert frr-reload.py remove stderr redirects"
  tools/frr-reload.py
Labels: tools

#6781 yang: create route-map leafref reference type
  yang/frr-route-map.yang
Labels: yang

#6832 nhrpd: ignore zebra updates about our routes being deleted/added
  nhrpd/nhrp_route.c
Labels: nhrp

#6844 Bestpath routes
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
Labels: bgp, documentation

#6846 [7.4] Zebra macfdb fixup
  zebra/rt_netlink.c
Labels: zebra

#6770 zebra: FPM fixes
  zebra/dplane_fpm_nl.c
Labels: fpm, zebra

#6821 BGP : Fix for nexthop as IPv4 mapped IPv6 address
  bgpd/bgp_nht.c
  bgpd/bgp_updgrp_packet.c
  lib/ipaddr.h
  zebra/rt_netlink.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_nhg.c
Labels: bgp, libfrr, zebra

#6834 doc: Add wide option for show bgp commands
  doc/user/bgp.rst
Labels: documentation

#6812 zebra: fix SA warning, handle return code
  zebra/zebra_dplane.c
Labels: zebra

#6815 vtysh: Speed up output of configuration across daemons
  vtysh/vtysh_config.c
Labels: vtysh

#6727 lib: introduce configuration back-off timer for YANG-modeled commands
  bfdd/bfdd_cli.c
  eigrpd/eigrp_cli.c
  isisd/isis_cli.c
  lib/command.c
  lib/command.h
  lib/command_graph.h
  lib/defun_lex.l
  lib/filter_cli.c
  lib/if.c
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/routemap_cli.c
  lib/vrf.c
  lib/vty.c
  lib/vty.h
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  staticd/static_vty.c
  vrrpd/vrrp_vty.c
  vtysh/extract.pl.in
  zebra/zebra_routemap.c
Labels: libfrr

#6809 vtysh: don't send access list commands to staticd
  sharpd/sharp_main.c
  staticd/static_main.c
  tests/topotests/all-protocol-startup/r1/show_route_map.ref
  vtysh/extract.pl.in
  vtysh/vtysh.h
Labels: performance, sharp, staticd, vtysh

#6698 zebra: always set kernel table ID in FPM netlink
  zebra/rib.h
  zebra/zebra_fpm_netlink.c
  zebra/zebra_router.c
Labels: zebra

#6828 bgpd: [7.3] Create peer_sort_lookup()
  bgpd/bgp_network.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#6857 zebra: reset LSP backup nh info on update
  zebra/zebra_mpls.c
Labels: zebra

#6861 doc: Update doc for `ip pim use-source ..` command
  doc/user/pim.rst
Labels: documentation

#6858 zebra: When debugging route notifications use string instead of number
  zebra/zapi_msg.c
Labels: zebra

#6860 doc: update some BGP documentation items
  bgpd/bgp_vty.c
  doc/user/bgp.rst
  doc/user/overview.rst
Labels: bgp, documentation

#6850 pimd: crash fix when RP is removed
  pimd/pim_rpf.c
Labels: pim

#6847 Time to rerun
  lib/routemap.c
  lib/routemap_cli.c
  tests/topotests/all-protocol-startup/r1/show_route_map.ref
Labels: libfrr, tests

#6864 ldpd: ldp-oc withdraw fix
  ldpd/lde_lib.c
Labels: ldp

#6865 ldpd: ldp-oc withdraw fix
  ldpd/lde_lib.c
Labels: ldp

#6866 lib: yang afi-safi identityref translation
  lib/yang_wrappers.c
Labels: libfrr

#6859 zebra: fix coverity SA warning in dataplane
  zebra/zebra_dplane.c
Labels: zebra

#6854 sharpd: support 'update lsp' zapi testing
  doc/user/sharp.rst
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
Labels: sharp

#6871 doc: Update instructions for building for OpenWrt
  doc/developer/building-frr-for-openwrt.rst
Labels: documentation

#6873 tests: stop daemons consistently in mem leak path
  tests/topotests/lib/topogen.py
Labels: tests

#6616 ospfd: YANG Model definition for OSPFv2
  yang/frr-ospfd.yang
Labels: bgp, ospf

#6872 bgpd: implement bgpPeerTable accross VRFs
  bgpd/bgp_snmp.c
Labels: bgp

#6517 lib: Add support to load submodules in embedded modules framework
  lib/yang.c
  lib/yang.h
  yang/embedmodel.py
Labels: libfrr, yang

#6875 bgpd: fsm legacy thread reset cleanup
  bgpd/bgp_fsm.c
Labels: bgp

#6879 bgpd: suppress new libyang_1.0 related loss reports
  bgpd/valgrind.supp
Labels: bgp

#6877 bgpd,lib: add missing doc strings
  bgpd/bgp_evpn_vty.c
  lib/routemap_cli.c
Labels: bgp, libfrr

#6483 zebra: add IPv6 router-id
  doc/user/zebra.rst
  lib/zclient.c
  lib/zclient.h
  zebra/router-id.c
  zebra/router-id.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_vrf.h
  zebra/zserv.c
  zebra/zserv.h
Labels: review & merge me, zebra

#6783 lib, zebra: Add SR-TE policy infrastructure to zebra
  lib/command.h
  lib/ipaddr.h
  lib/log.c
  lib/mpls.h
  lib/nexthop.c
  lib/nexthop.h
  lib/northbound.c
  lib/northbound.h
  lib/privs.h
  lib/route_types.txt
  lib/routemap.c
  lib/routemap.h
  lib/srte.h
  lib/stream.c
  lib/stream.h
  lib/subdir.am
  lib/zclient.c
  lib/zclient.h
  tests/topotests/ospf-sr-topo1/r1/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r2/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r3/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r4/zebra_mpls.json
  zebra/label_manager.c
  zebra/main.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/subdir.am
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_srte.c
  zebra/zebra_srte.h
  zebra/zebra_vty.c
Labels: libfrr, zebra

#6887 pimd: Allow multiple secondary addresses to work
  pimd/pim_iface.c
Labels: pim

#6886 doc: initial documentation for gRPC
  doc/developer/grpc.rst
  doc/developer/index.rst
  doc/developer/subdir.am
  doc/user/grpc.rst
  doc/user/index.rst
  doc/user/subdir.am
Labels: documentation

#6890 [7.3] Sorted vtysh commands
  vtysh/vtysh_config.c
Labels: vtysh

#6888 doc: document effect of ebgp-multihop
  doc/user/bgp.rst
Labels: documentation

#6801 bgpd: Add a knob to force maximum-prefix even for filtered routes
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp, documentation

#6870 Test fixups
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
  tests/topotests/lib/common_config.py
  zebra/zebra_vty.c
Labels: tests, zebra

#6894 zebra: clean up SA warning in vxlan code
  zebra/zebra_vxlan.c
Labels: zebra

#6885 ospfd: fix processing of SR RI LSAs
  ospfd/ospf_sr.c
Labels: ospf

#6755 zebra: dataplane batching
  doc/developer/zebra.rst
  tests/topotests/zebra_netlink/__init__.py
  tests/topotests/zebra_netlink/r1/sharpd.conf
  tests/topotests/zebra_netlink/r1/v4_route.json
  tests/topotests/zebra_netlink/r1/zebra.conf
  tests/topotests/zebra_netlink/test_zebra_netlink.py
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/kernel_socket.c
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/rt_socket.c
  zebra/rule_netlink.c
  zebra/rule_netlink.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls_netlink.c
  zebra/zebra_pbr.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: documentation, enhancement, performance, tests, zebra

#6820 Some ad-hoc work that is independent of actual bug fixes/feature work I am doing
  doc/user/sharp.rst
  sharpd/sharp_vty.c
  zebra/zapi_msg.c
Labels: documentation, libfrr, sharp, zebra

#6895 tests: add time to ldp vpls testcase
  tests/topotests/ldp-vpls-topo1/test_ldp_vpls_topo1.py
Labels: tests

#6829 Fix vrrp northbound autocreated uaf
  vrrpd/vrrp_northbound.c
Labels: vrrp

#6748 lib: yang wrapper for getting empty type
  lib/yang_wrappers.c
  lib/yang_wrappers.h
  tools/gen_northbound_callbacks.c
Labels: libfrr, tools

#6906 Poll error
  lib/thread.c
Labels: libfrr

#6909 tools: Remove zebra commands that have never existed
  tools/etc/frr/support_bundle_commands.conf
Labels: tools

#6869 lib, zebra: add support for sending ARP requests
  doc/developer/zebra.rst
  doc/user/sharp.rst
  lib/log.c
  lib/zclient.c
  lib/zclient.h
  ospfd/ospf_packet.c
  ospfd/ospf_zebra.c
  ospfd/ospf_zebra.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: libfrr, ospf, sharp, zebra

#6908 vrrpd: add frr-vrf yang module
  vrrpd/vrrp_main.c
Labels: vrrp

#6913 bgpd: Dump attributes before returning from bgp_attr_malformed()
  bgpd/bgp_attr.c
Labels: bgp

#6892 staticd: add support for SR Policies
  doc/user/static.rst
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vty.c
  staticd/static_zebra.c
  yang/frr-nexthop.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
Labels: staticd, tools

#6914 lib: show prefix error message on configuration failure
  lib/filter_nb.c
Labels: libfrr

#6899 bfdd: support passive mode and minimum TTL
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdctl.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_vty.c
  bfdd/ptm_adapter.c
  doc/user/bfd.rst
  tests/topotests/bfd-isis-topo1/rt1/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt2/bfdd.conf
  tests/topotests/bfd-isis-topo1/rt3/bfdd.conf
  tests/topotests/bfd-topo3/__init__.py
  tests/topotests/bfd-topo3/r1/bfd-peers.json
  tests/topotests/bfd-topo3/r1/bfdd.conf
  tests/topotests/bfd-topo3/r1/bgpd.conf
  tests/topotests/bfd-topo3/r1/zebra.conf
  tests/topotests/bfd-topo3/r2/bfd-peers.json
  tests/topotests/bfd-topo3/r2/bfdd.conf
  tests/topotests/bfd-topo3/r2/bgpd.conf
  tests/topotests/bfd-topo3/r2/zebra.conf
  tests/topotests/bfd-topo3/r3/bfd-peers.json
  tests/topotests/bfd-topo3/r3/bfdd.conf
  tests/topotests/bfd-topo3/r3/bgpd.conf
  tests/topotests/bfd-topo3/r3/zebra.conf
  tests/topotests/bfd-topo3/r4/bfd-peers.json
  tests/topotests/bfd-topo3/r4/bfdd.conf
  tests/topotests/bfd-topo3/r4/bgpd.conf
  tests/topotests/bfd-topo3/r4/zebra.conf
  tests/topotests/bfd-topo3/test_bfd_topo3.dot
  tests/topotests/bfd-topo3/test_bfd_topo3.jpg
  tests/topotests/bfd-topo3/test_bfd_topo3.py
  yang/frr-bfdd.yang
Labels: bfd, documentation, tests, yang

#6883 Evpn refactor
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/evpn.vni.json
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/evpn.vni.json
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/zebra.conf
  tests/topotests/bgp-evpn-vxlan_topo1/test_bgp_evpn_vxlan.py
  zebra/dplane_fpm_nl.c
  zebra/subdir.am
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_evpn_neigh.h
  zebra/zebra_evpn_vxlan.h
  zebra/zebra_vrf.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: tests, zebra

#6863 bfdd: Allow it to work when V6 is completely turned off
  bfdd/bfd.c
  bfdd/bfd_packet.c
Labels: bfd

#6889 isisd minor fixes and enhancements
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_circuit.h
  isisd/isis_cli.c
  isisd/isis_lsp.c
  isisd/isis_nb_config.c
  isisd/isis_spf.c
  isisd/isis_sr.c
  isisd/isisd.c
  isisd/isisd.h
  lib/linklist.c
  lib/linklist.h
  tests/topotests/isis-sr-topo1/rt1/isisd.conf
  tests/topotests/isis-sr-topo1/rt2/isisd.conf
  tests/topotests/isis-sr-topo1/rt3/isisd.conf
  tests/topotests/isis-sr-topo1/rt4/isisd.conf
  tests/topotests/isis-sr-topo1/rt5/isisd.conf
  tests/topotests/isis-sr-topo1/rt6/isisd.conf
Labels: isis, libfrr, tests

#6724 ISIS VRF: Transformational changes to support different VRFs.
  isisd/fabricd.c
  isisd/isis_adjacency.c
  isisd/isis_bfd.c
  isisd/isis_circuit.c
  isisd/isis_cli.c
  isisd/isis_csm.c
  isisd/isis_dr.c
  isisd/isis_dynhn.c
  isisd/isis_dynhn.h
  isisd/isis_lsp.c
  isisd/isis_lsp.h
  isisd/isis_main.c
  isisd/isis_misc.c
  isisd/isis_misc.h
  isisd/isis_nb_config.c
  isisd/isis_pdu.c
  isisd/isis_redist.c
  isisd/isis_redist.h
  isisd/isis_spf.c
  isisd/isis_sr.c
  isisd/isis_te.c
  isisd/isis_vty_fabricd.c
  isisd/isis_zebra.c
  isisd/isisd.c
  isisd/isisd.h
  tests/isisd/test_isis_lspdb.c
Labels: isis

#6918 bgpd: removal of double statement.
  bgpd/bgpd.c
Labels: bgp

#6929 bgpd: Actually respect RFC 6286 for router_id
  bgpd/bgp_packet.c
Labels: bgp

#5702 bgpd : bgp yang definition
  yang/frr-bgp-bmp.yang
  yang/frr-bgp-common-multiprotocol.yang
  yang/frr-bgp-common-structure.yang
  yang/frr-bgp-common.yang
  yang/frr-bgp-neighbor.yang
  yang/frr-bgp-peer-group.yang
  yang/frr-bgp-rpki.yang
  yang/frr-bgp-types.yang
  yang/frr-bgp.yang
  yang/frr-deviations-bgp-datacenter.yang
  yang/frr-routing.yang
  yang/ietf/ietf-bgp-types.yang
Labels: bfd, bgp, clippy, documentation, isis, ldp, libfrr, ospf, ospfv3, pim, tests, tools, vtysh, yang, zebra

#6943 bgpd: Use sizeof() in bgp_dump_attr()
  bgpd/bgp_evpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#6942 [7.4] bgpd: suppress new libyang_1.0 related loss reports
  bgpd/valgrind.supp
Labels: bgp

#6940 [7.3] bgpd: suppress new libyang_1.0 related loss reports
  bgpd/valgrind.supp
Labels: bgp

#6944 [7.2] bgpd: suppress new libyang_1.0 related loss reports
  bgpd/valgrind.supp
Labels: bgp

#6920 lib: don't ignore error messages generated during the commit apply phase
  grpc/frr-northbound.proto
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
Labels: libfrr

#6941 bgpd: Prevent crash when displaying json of a vrf all command
  bgpd/bgp_vty.c
Labels: bgp

#6939 lib: fix crash in show nexthop when vrf deleted
  lib/nexthop_group.c
Labels: libfrr

#6949 bgpd: Use sizeof() in bgp_dump_attr()
  bgpd/bgp_attr.c
Labels: bgp

#6945 More gRPC logging + errmsg for no changes
  lib/northbound.c
  lib/northbound_grpc.cpp
Labels: libfrr

#6954 zebra: Limit packet dumps for received data to `detail` level
  zebra/zapi_msg.c
Labels: zebra

#6917 bgpd: [7.3] Dump attributes before returning from bgp_attr_malformed()
  bgpd/bgp_attr.c
  bgpd/bgp_evpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#6916 bgpd: [7.4] Dump attributes before returning from bgp_attr_malformed()
  bgpd/bgp_attr.c
  bgpd/bgp_evpn.c
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#6738 tools: frr-reload: more detailed log level control
  tools/frr-reload.py
Labels: tools

#6924 bgpd: fixes for problems found during EVPN fuzzing
  bgpd/bgp_evpn.c
  lib/stream.c
  lib/stream.h
Labels: bgp, libfrr

#6951 zebra: Add table id to debug output
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: zebra

#6960 lib: adapt plugin to use new Sysrepo version
  lib/northbound_sysrepo.c
  lib/yang.h
Labels: libfrr, northbound

#6955 staticd: fix warning when creating routes without SR-TE colors
  staticd/static_vty.c
Labels: staticd

#6948 ospfd: make proactive ARP configurable
  doc/user/ospfd.rst
  ospfd/ospf_packet.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  yang/frr-ospfd.yang
Labels: documentation, ospf

#6912 ospfd: preparation for TI-LFA
  ospfd/ospf_interface.c
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospfd.h
Labels: ospf

#6963 *: record northbound transaction based on control flag
  lib/grammar_sandbox_main.c
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/yang.c
  tests/bgpd/test_peer_attr.c
  tests/helpers/c/main.c
  tests/lib/cli/common_cli.c
  tests/lib/cli/test_commands.c
  tests/lib/northbound/test_oper_data.c
Labels: libfrr

#6726 ospfd: Segment Routing Improvement
  doc/developer/ospf-sr.rst
  doc/user/ospfd.rst
  ospfd/ospf_errors.c
  ospfd/ospf_errors.h
  ospfd/ospf_ext.c
  ospfd/ospf_ext.h
  ospfd/ospf_ri.c
  ospfd/ospf_ri.h
  ospfd/ospf_sr.c
  ospfd/ospf_sr.h
  ospfd/ospf_zebra.c
  ospfd/ospf_zebra.h
  tests/topotests/ospf-sr-topo1/r1/ospf_srdb.json
  tests/topotests/ospf-sr-topo1/r1/ospfd.conf
  tests/topotests/ospf-sr-topo1/r1/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r2/ospf_srdb.json
  tests/topotests/ospf-sr-topo1/r2/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r3/ospf_srdb.json
  tests/topotests/ospf-sr-topo1/r3/ospfd.conf
  tests/topotests/ospf-sr-topo1/r3/zebra_mpls.json
  tests/topotests/ospf-sr-topo1/r4/ospf_srdb.json
  tests/topotests/ospf-sr-topo1/r4/ospfd.conf
  tests/topotests/ospf-sr-topo1/r4/zebra_mpls.json
Labels: bgp, ospf

#6978 bfdd: fix parameter length
  bfdd/bfdd_cli.c
Labels: bfd

#6972 bgpd: Honor route-maps when forcing maximum-prefix for filtered routes
  bgpd/bgp_route.c
Labels: bgp

#6962 lib: zapi nexthop sort fixes
  lib/zclient.c
  lib/zclient.h
Labels: libfrr

#6959 bgpd: Fix BGP session stuck in OpenConfirm state
  bgpd/bgp_fsm.c
Labels: bgp

#6976 lib, tools: fix reloading of key sub-context in key chains
  lib/keychain.c
  tools/frr-reload.py
Labels: libfrr, rip, tools

#6975 topotests: bump zebra netlink socket buffer size
  tests/topotests/lib/topotest.py
Labels: tests

#6938 bgpd: BGP instance administrative shutdown
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/r1/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r1/bgp_summary.json
  tests/topotests/bgp_features/r1/bgpd.conf
  tests/topotests/bgp_features/r1/ospf6d.conf
  tests/topotests/bgp_features/r1/ospf_neighbor.json
  tests/topotests/bgp_features/r1/ospfd.conf
  tests/topotests/bgp_features/r1/zebra.conf
  tests/topotests/bgp_features/r2/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r2/bgp_summary.json
  tests/topotests/bgp_features/r2/bgpd.conf
  tests/topotests/bgp_features/r2/ospf6d.conf
  tests/topotests/bgp_features/r2/ospf_neighbor.json
  tests/topotests/bgp_features/r2/ospfd.conf
  tests/topotests/bgp_features/r2/zebra.conf
  tests/topotests/bgp_features/r3/bgp_summary.json
  tests/topotests/bgp_features/r3/ospf6d.conf
  tests/topotests/bgp_features/r3/ospf_neighbor.json
  tests/topotests/bgp_features/r3/ospfd.conf
  tests/topotests/bgp_features/r3/zebra.conf
  tests/topotests/bgp_features/r4/bgp_shutdown_summary.json
  tests/topotests/bgp_features/r4/bgp_summary.json
  tests/topotests/bgp_features/r4/bgpd.conf
  tests/topotests/bgp_features/r4/zebra.conf
  tests/topotests/bgp_features/r5/bgp_summary.json
  tests/topotests/bgp_features/r5/bgpd.conf
  tests/topotests/bgp_features/r5/zebra.conf
  tests/topotests/bgp_features/test_bgp_features.dot
  tests/topotests/bgp_features/test_bgp_features.pdf
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bgp, tests

#6970 doc: vrf socket creation logic
  doc/user/installation.rst
Labels: documentation

#6988 tests: improve topotest stop logic
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
  tests/topotests/lib/topogen.py
Labels: tests

#6986 bgpd: reset session if ebgp-multihop is set and no session established
  bgpd/bgpd.c
Labels: bgp

#6983 bgpd: withdraw default route when route-map has no match
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#5799 Flowspec ipv6
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_debug.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_flowspec.h
  bgpd/bgp_flowspec_private.h
  bgpd/bgp_flowspec_util.c
  bgpd/bgp_flowspec_util.h
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nht.c
  bgpd/bgp_pbr.c
  bgpd/bgp_pbr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  doc/user/flowspec.rst
  lib/pbr.h
  lib/prefix.c
  lib/prefix.h
  tests/topotests/bgp_flowspec/__init__.py
  tests/topotests/bgp_flowspec/exabgp.env
  tests/topotests/bgp_flowspec/peer1/exabgp.cfg
  tests/topotests/bgp_flowspec/r1/bgpd.conf
  tests/topotests/bgp_flowspec/r1/summary.txt
  tests/topotests/bgp_flowspec/r1/zebra.conf
  tests/topotests/bgp_flowspec/test_bgp_flowspec_topo.py
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: bgp, documentation, libfrr, zebra

#6903 bgpd: Reuse bgp_adj_in for attr to avoid null dereference under aspath
  bgpd/bgp_route.c
Labels: bgp

#7001 bgpd: Remove a deadcode freeing JSON in bgp_show_all_instances_neighbors_vty
  bgpd/bgp_vty.c
Labels: bgp

#6979 pimd: fix igmp querier election and IP address mapping
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_mroute.c
Labels: pim

#7006 [7.4] pimd: fix igmp querier election and IP address mapping
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_mroute.c
Labels: pim

#7007 [7.3] pimd: fix IGMP querier election
  pimd/pim_igmp.c
Labels: pim

#7005 ospfd: Coverity corrections
  ospfd/ospf_ext.c
  ospfd/ospf_ri.c
  ospfd/ospf_sr.c
Labels: ospf

#7002 doc: test sphinx version, use correct apis
  doc/user/conf.py
Labels: documentation

#6999 isisd: make the SPF code more modular + reverse SPF + unit tests
  doc/user/isisd.rst
  isisd/fabricd.c
  isisd/isis_adjacency.c
  isisd/isis_dynhn.c
  isisd/isis_dynhn.h
  isisd/isis_lsp.c
  isisd/isis_lsp.h
  isisd/isis_main.c
  isisd/isis_misc.c
  isisd/isis_misc.h
  isisd/isis_route.c
  isisd/isis_spf.c
  isisd/isis_spf.h
  isisd/isis_spf_private.h
  isisd/isis_sr.c
  isisd/isis_te.c
  isisd/isisd.c
  isisd/isisd.h
  tests/.gitignore
  tests/isisd/test_common.c
  tests/isisd/test_common.h
  tests/isisd/test_fuzz_isis_tlv.c
  tests/isisd/test_isis_lspdb.c
  tests/isisd/test_isis_spf.c
  tests/isisd/test_isis_spf.in
  tests/isisd/test_isis_spf.py
  tests/isisd/test_isis_spf.refout
  tests/isisd/test_isis_vertex_queue.c
  tests/isisd/test_topologies.c
  tests/subdir.am
Labels: isis, tests

#7008 Zebra lies
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: zebra

#6977 zebra: refactor netlink fuzzing
  lib/zebra.h
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/main.c
Labels: zebra

#6989 zebra: remove fuzzing stuff
  configure.ac
  doc/user/installation.rst
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/main.c
  zebra/zapi_msg.c
  zebra/zserv.c
  zebra/zserv.h
Labels: zebra

#7014 isisd: Remove IPV4 from NLPID's if not enabled
  isisd/isis_nb_config.c
Labels: isis

#7017 zebra: fix netlink batching
  zebra/kernel_netlink.c
Labels: zebra

#7015 zebra: When shutting down an interface immediately notify about rnh
  zebra/connected.c
  zebra/kernel_socket.c
  zebra/redistribute.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: zebra

#7019 tests: small topotest improvements for python3
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topotest.py
Labels: tests

#7020 zebra: fix misc problems with EVPN-MH ES management
  zebra/zebra_evpn_mh.c
Labels: zebra

#6925 tests: Add new tests to bgp-basic-functionality-topo1
  tests/topotests/bgp-basic-functionality-topo1/bgp_basic_functionality.json
  tests/topotests/bgp-basic-functionality-topo1/test_bgp_basic_functionality.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#7025 lib: silence overly verbose CLI warning
  lib/northbound_cli.c
Labels: libfrr
