Repository FRRouting/frr, pull requests merged in 2021-03, with the labels that each got.

#8073 lib: allow "show config running" command for non-transactional CLI
  lib/northbound_cli.c
  vtysh/vtysh.c
Labels: libfrr, libyang, yang

#8171 lib: print NULL for NULL nexthops
  lib/nexthop.c
Labels: libfrr

#8178 bgpd: Wait for Install should not always set the flag
  bgpd/bgp_route.c
Labels: bgp

#8117 bgpd: enable ES consistency checks on first ES add
  bgpd/bgp_evpn_mh.c
Labels: bgp

#8021 zebra: disable setting weak override flag in neigh updates
  zebra/rt_netlink.c
Labels: zebra

#7951 libs, bgpd: improve task cancellation by argument value
  bgpd/bgp_fsm.h
  lib/thread.c
  lib/thread.h
Labels: bgp, libfrr

#8084 ospf6d: Json support added for command "show ipv6 ospf6 spf tree [json]"
  doc/user/ospf6d.rst
  ospf6d/ospf6_area.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_spf.h
Labels: ospfv3

#8175 lib, bgpd: handle NULL inputs in printfrr extensions
  bgpd/bgp_table.c
  lib/prefix.c
  lib/sockunion.c
  lib/srcdest_table.c
Labels: bgp, libfrr

#8150 bgpd: accept (ext)community list sequence number set to 0
  bgpd/bgp_vty.c
Labels: bgp

#8152 zebra: don't use kernel nexthops for blackhole routes
  zebra/rt_netlink.c
Labels: zebra

#8181 [7.5] zebra: don't use kernel nexthops for blackhole routes
  zebra/rt_netlink.c
Labels: zebra

#8170 bgpd, pimd: fix coverity SA warnings
  bgpd/bgp_evpn_mh.c
  pimd/pim_nb_config.c
Labels: bgp, pim

#8168 Test cleanup and fix evpn_type5_test_topo1
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
Labels: tests

#8064 [7.5]bgpd: When deleting a neighbor from a peer-group the PGNAME is optional
  bgpd/bgp_vty.c
Labels: bgp

#8183 tests: Fix for test failure in PR #8158
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
  tests/topotests/multicast-pim-bsm-topo1/test_mcast_pim_bsmp_01.py
Labels: tests

#8189 tests: don't complain when /tmp/topotests exists
  tests/topotests/lib/topogen.py
Labels: tests

#8190 tests: Fix topotest.py pylint errors
  tests/topotests/lib/topotest.py
Labels: tests

#8193 [7.5] lib: fix signal-handling race in main event loop
  lib/sigevent.c
  lib/sigevent.h
  lib/thread.c
  lib/thread.h
Labels: libfrr

#8197 doc: fix link for python2 get-pip.py
  doc/developer/building-frr-for-ubuntu2004.rst
Labels: documentation

#8187 [7.5] CentOS Doc Fixes
  doc/developer/building-frr-for-centos7.rst
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
Labels: documentation, packaging

#8194 pimd: correctly get interface name for error message
  pimd/pim_nb_config.c
Labels: pim

#8199 bgpd: fix bgp statistics for l2vpn evpn
  bgpd/bgp_route.c
Labels: bgp

#8165 staticd, pimd, tests: small fixups and cov fix
  pimd/pim_cmd.c
  staticd/static_vty.c
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: pim, staticd, tests

#8191 bfd cli/nb fixes
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb_config.c
Labels: bfd

#8196 bgpd: Add BGP Extended message support
  bgpd/bgp_attr.c
  bgpd/bgp_io.c
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/overview.rst
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_mp_attr.c
Labels: bgp, documentation, tests

#8207 bgpd,lib: small improvement in BGP read
  bgpd/bgp_io.c
  lib/ringbuf.c
  lib/ringbuf.h
Labels: bgp, libfrr

#8206 isisd: added support for routemap match tag in redistribution
  isisd/isis_redist.c
  isisd/isis_redist.h
  isisd/isis_routemap.c
  isisd/isis_zebra.c
Labels: isis

#8185 ospf6d: Don't advertise AS-External LSAs into stub area
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_message.c
Labels: ospfv3

#8195 tests: fix community-list invalid command
  tests/topotests/lib/common_config.py
Labels: tests

#8208 bgpd: Display RPKI validation state if we have it
  bgpd/bgp_route.c
  bgpd/bgp_rpki.c
  bgpd/bgpd.h
Labels: bgp

#8180 tests: Improve error/assert message logging
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_2.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
  tests/topotests/multicast-pim-bsm-topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast-pim-bsm-topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo4.py
  tests/topotests/multicast-pim-static-rp-topo1/test_multicast_pim_static_rp.py
  tests/topotests/ospf_basic_functionality/test_ospf_chaos.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo4_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo4_ibgp.py
Labels: tests

#8176 tests: Sort expected and actual to avoid locale issues
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: tests

#6807 xrefs extraction tool
  .gitignore
  Makefile.am
  configure.ac
  debian/control
  doc/developer/building-frr-for-archlinux.rst
  doc/developer/building-frr-for-centos6.rst
  doc/developer/building-frr-for-centos7.rst
  doc/developer/building-frr-for-centos8.rst
  doc/developer/building-frr-for-debian8.rst
  doc/developer/building-frr-for-debian9.rst
  doc/developer/building-frr-for-fedora.rst
  doc/developer/building-frr-for-opensuse.rst
  doc/developer/building-frr-for-ubuntu1404.rst
  doc/developer/building-frr-for-ubuntu1604.rst
  doc/developer/building-frr-for-ubuntu1804.rst
  doc/developer/building-frr-for-ubuntu2004.rst
  doc/developer/xrefs.rst
  lib/clippy.h
  lib/command_graph.h
  lib/command_py.c
  lib/elf_py.c
  lib/subdir.am
  lib/zlog.h
  python/clippy/__init__.py
  python/clippy/elf.py
  python/clippy/uidhash.py
  python/makefile.py
  python/runtests.py
  python/test_xrelfo.py
  python/tiabwarfo.py
  python/xrefstructs.json
  python/xrelfo.py
Labels: documentation, libfrr, tests

#8158 staticd: forbid blackhole and non-blackhole nexthops in a single route
  staticd/static_nb_config.c
Labels: staticd

#8138 ospf6d: fix LSA prefix options
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_proto.c
  ospf6d/ospf6_proto.h
Labels: ospfv3

#8123 tests: Fix determination of IPv6 link-local addresses
  tests/topotests/lib/topotest.py
Labels: tests

#8219 doc: remove duplicate entry from babeld doc
  doc/user/babeld.rst
Labels: documentation

#8217 ospfd: Correct Segment Routing prefix bugs
  ospfd/ospf_ext.c
  ospfd/ospf_sr.c
  ospfd/ospf_zebra.c
Labels: bugfix, ospf

#8221 lib: use correct type in add_event xref
  lib/thread.h
Labels: libfrr

#8224 bfdd: fix detect timeout
  bfdd/bfd.c
Labels: bfd

#8227 Start work to switch over to using our now built-in printf functionality
  bgpd/bgp_attr.c
  bgpd/bgp_evpn.c
  bgpd/bgp_fsm.c
  bgpd/bgp_label.c
  bgpd/bgp_mpath.c
  bgpd/bgp_network.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_zebra.c
  nhrpd/netlink_arp.c
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_route.c
  nhrpd/nhrp_shortcut.c
  nhrpd/nhrp_vc.c
  ospfd/ospf_flood.c
  ospfd/ospf_packet.c
  ospfd/ospf_spf.c
  ripd/ripd.c
  ripngd/ripngd.c
  watchfrr/watchfrr.c
Labels: bgp, nhrp, ospf, rip, ripng, watchfrr

#8177 nhrp, tools: fix client event handling
  nhrpd/nhrp_event.c
  tools/nhrpd-event-handler.sh
Labels: nhrp, tools

#8124 zebra: move netfilter contexts to zebra dplane
  lib/zclient.c
  lib/zclient.h
  zebra/kernel_netlink.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
  zebra/zebra_rib.c
Labels: zebra

#8223 pimd: fix coverity SA warning in pim_nb_config.c
  pimd/pim_nb_config.c
Labels: pim

#8239 zebra: Remove `first_p` which is never used
  zebra/zebra_vty.c
Labels: zebra

#8085 isisd: configure SRGB and SRLB together
  doc/user/isisd.rst
  isisd/isis_cli.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_sr.c
  yang/frr-isisd.yang
Labels: documentation, isis, tests, yang

#8244 topotests: fix some recent test failures
  tests/topotests/bgp-snmp-mplsl3vpn/test_bgp_snmp_mplsvpn.py
  tests/topotests/bgp_suppress_fib/r3/v4_route.json
  tests/topotests/isis-lsp-bits-topo1/rt5/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step2/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step3/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step4/show_ip_route.ref
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/isis-topo1/test_isis_topo1.py
Labels: tests

#8160 lib: fix crash when iterating over nb operational data
  lib/northbound.c
Labels: libfrr, yang

#7945 isisd: add support for read-only snmp mibs objects
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_dr.c
  isisd/isis_dynhn.c
  isisd/isis_dynhn.h
  isisd/isis_lsp.c
  isisd/isis_nb.h
  isisd/isis_nb_notifications.c
  isisd/isis_pdu.c
  isisd/isis_snmp.c
  isisd/isis_spf.c
  isisd/isisd.c
  isisd/isisd.h
  isisd/subdir.am
  lib/agentx.c
  lib/smux.h
  tests/topotests/isis-snmp/ce3/zebra.conf
  tests/topotests/isis-snmp/r1/isisd.conf
  tests/topotests/isis-snmp/r1/ldpd.conf
  tests/topotests/isis-snmp/r1/show_ip_route.ref
  tests/topotests/isis-snmp/r1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-snmp/r1/snmpd.conf
  tests/topotests/isis-snmp/r1/zebra.conf
  tests/topotests/isis-snmp/r2/isisd.conf
  tests/topotests/isis-snmp/r2/ldpd.conf
  tests/topotests/isis-snmp/r2/show_ip_route.ref
  tests/topotests/isis-snmp/r2/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-snmp/r2/snmpd.conf
  tests/topotests/isis-snmp/r2/zebra.conf
  tests/topotests/isis-snmp/r3/isisd.conf
  tests/topotests/isis-snmp/r3/ldpd.conf
  tests/topotests/isis-snmp/r3/show_ip_route.ref
  tests/topotests/isis-snmp/r3/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-snmp/r3/snmpd.conf
  tests/topotests/isis-snmp/r3/zebra.conf
  tests/topotests/isis-snmp/r4/isisd.conf
  tests/topotests/isis-snmp/r4/ldpd.conf
  tests/topotests/isis-snmp/r4/show_ip_route.ref
  tests/topotests/isis-snmp/r4/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-snmp/r4/snmpd.conf
  tests/topotests/isis-snmp/r4/zebra.conf
  tests/topotests/isis-snmp/r5/isisd.conf
  tests/topotests/isis-snmp/r5/ldpd.conf
  tests/topotests/isis-snmp/r5/ldpdconf
  tests/topotests/isis-snmp/r5/show_ip_route.ref
  tests/topotests/isis-snmp/r5/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-snmp/r5/snmpd.conf
  tests/topotests/isis-snmp/r5/zebra.conf
  tests/topotests/isis-snmp/test_isis_snmp.dot
  tests/topotests/isis-snmp/test_isis_snmp.py
  vtysh/extract.pl.in
Labels: isis, tests

#8231 bfdd: make sessions administratively up by default
  bfdd/bfd.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_vty.c
  bfdd/ptm_adapter.c
  yang/frr-bfdd.yang
Labels: bfd

#8242 bgpd: fix wrong debug format
  bgpd/bgp_zebra.c
  doc/developer/logging.rst
Labels: bgp, documentation

#8220 bgpd: handle socket read errors in the main pthread
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
Labels: bgp

#8234 nhrpd: Set hop count to 1 in traffic indication
  nhrpd/nhrp_peer.c
Labels: nhrp

#8254 Various fixes
  bgpd/bgp_route.c
  pimd/pim_igmp_mtrace.c
Labels: bgp, pim

#8214 tools: frr-reload refine error handling
  tools/frr-reload.py
Labels: tools

#8226 bgpd: Reevaluate es_evi_vtep active state on disable-ead-evi-rx config flap
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_vty.c
Labels: bgp

#7993 zebra: reorg nexthop resolution code
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
Labels: zebra

#8155 zebra support bundle fixes and improvements
  tools/etc/frr/support_bundle_commands.conf
Labels: tools

#8266 eigrp cli fixes
  eigrpd/eigrp_cli.c
Labels: eigrp

#8270 isisd: Fix coverity warnings
  isisd/isis_snmp.c
Labels: isis

#8268 doc: add info to topotest dev doc
  doc/developer/cross-compiling.rst
  doc/developer/scripting.rst
  doc/developer/subdir.am
  doc/developer/topotests.rst
Labels: documentation

#8258 ldpd: Add support for the read-only snmp mib objects that are statistics
  ldpd/ldp_snmp.c
  ldpd/ldpd.h
  ldpd/notification.c
  ldpd/packet.c
  tests/topotests/ldp-snmp/test_ldp_snmp_topo1.py
Labels: ldp, tests

#8275 Peer afi safi mistake
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp

#8272 [7.5] zebra: backport some netlink cleanups
  zebra/kernel_netlink.c
Labels: zebra

#8273 ospf6d: Fix coverity errors
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#8229 bfdd: separate echo rx/tx timers
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdctl.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_vty.c
  bfdd/bfddp_packet.h
  bfdd/config.c
  bfdd/dplane.c
  doc/user/bfd.rst
  tests/topotests/bfd-bgp-cbit-topo3/r1/peers.json
  tests/topotests/bfd-bgp-cbit-topo3/r1/peers_down.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/peers.json
  tests/topotests/bfd-bgp-cbit-topo3/r3/peers_down.json
  tests/topotests/bfd-profiles-topo1/r1/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r2/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r2/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r3/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r4/bfd-peers-initial.json
  tests/topotests/bfd-topo1/r2/peers.json
  tests/topotests/bfd-topo2/r1/peers.json
  tests/topotests/bfd-topo2/r2/peers.json
  tests/topotests/bfd-topo2/r3/peers.json
  tests/topotests/bfd-topo2/r4/peers.json
  tests/topotests/bfd-topo3/r1/bfd-peers.json
  tests/topotests/bfd-topo3/r2/bfd-peers.json
  tests/topotests/bfd-topo3/r3/bfd-peers.json
  tests/topotests/bfd-topo3/r4/bfd-peers.json
  tests/topotests/bfd-vrf-topo1/r2/peers.json
  yang/frr-bfdd.yang
Labels: bfd

#8225 bfdd: fix echo receive timer and disable echo mode
  bfdd/bfd.c
  bfdd/bfdd_cli.c
  doc/user/bfd.rst
Labels: bfd

#8008 [lib, yang] : multiple fixes in prefix-list northbound conversion
  lib/filter_nb.c
  lib/plist.c
  yang/frr-filter.yang
Labels: libfrr, yang

#8255 Fix ifindex test
  tests/topotests/bgp-snmp-mplsl3vpn/test_bgp_snmp_mplsvpn.py
Labels: tests

#8232 nhrp: Fix some ipsec related issues
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrpd.h
  nhrpd/vici.c
Labels: nhrp

#8052 bgpd: Add JSON output for `show ip bgp peer-group` command
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: bgp, documentation

#8277 bgpd: If we have a SAFI conflict do not allow labeled unicast to reset
  bgpd/bgpd.c
Labels: bgp

#8284 bgpd: use add_event instead of add_timer with zero timeout
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
Labels: bgp

#8283 bgpd: add seqno in bgp as-path access-list policy
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  doc/user/bgp.rst
Labels: bgp, documentation

#8263 tests: docker fixes & improvements
  tests/topotests/Dockerfile
  tests/topotests/docker/frr-topotests.sh
  tests/topotests/docker/inner/compile_frr.sh
  tests/topotests/docker/inner/funcs.sh
Labels: tests

#8286 nhrpd: Remove newline from log message
  nhrpd/nhrp_nhs.c
Labels: nhrp

#8129 zebra: modify backup nexthop handling for recursive routes
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: zebra

#8291 isisd: avoid lsp_sched loop when unstable
  isisd/isis_lsp.c
Labels: isis

#8282 isisd: fix BFD session when IPv6 not configured
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_bfd.c
Labels: isis

#8278 ospf6d: fix iface commands lost when removing from area
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_top.c
  tests/topotests/lib/ospf.py
Labels: ospfv3, tests

#8257 Fix bgp metric
  bgpd/bgp_nht.c
  sharpd/sharp_zebra.c
Labels: bgp, sharp

#8297 pimd: marking MSDP traffic as DSCP CS6
  pimd/pim_msdp_socket.c
Labels: pim

#8298 isisd: Fix spelling mistake
  isisd/isis_lsp.c
Labels: isis

#8301 isisd: Fix extra space after `router isis FOO`
  isisd/isis_cli.c
Labels: isis

#8280 tests: Fix bgp convergence issue mentioned in #8279
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#8115 build: test program needs to be warning-free
  m4/ax_pthread.m4
Labels: build

#8296 bgpd: convert send-community to transactional cli
  bgpd/bgp_vty.c
Labels: bgp

#8120 bgpd: Activate ipv6-unicast for peer automatically if globally defined
  bgpd/bgp_nb_config.c
  bgpd/bgp_network.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp-default-ipv4-ipv6-unicast/__init__.py
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r1/bgpd.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r1/zebra.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r2/bgpd.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r2/zebra.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r3/bgpd.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/r3/zebra.conf
  tests/topotests/bgp-default-ipv4-ipv6-unicast/test_bgp-default-ipv4-ipv6-unicast.py
Labels: bgp, documentation, tests

#8312 doc: add libsnmp-dev install line
  doc/developer/topotests.rst
Labels: documentation

#8271 ospfd: fix "show ip ospf database" issues
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
Labels: documentation, ospf

#8253 tests: iproute2 VRF capability check for topotests
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/lib/topotest.py
Labels: tests

#8261 lib: output unique IDs in log messages
  lib/log_vty.c
  lib/northbound.c
  lib/printfrr.h
  lib/xref.c
  lib/zlog.c
  lib/zlog.h
Labels: libfrr

#8314 bgpd: fix a format spec in 7.5 branch
  bgpd/bgp_mplsvpn.c
Labels: bgp

#8319 doc: remove extraneous .. index:: in ospf6d.rst
  doc/user/ospf6d.rst
Labels: documentation

#8184 bgpd,lib: rework BGP BFD integration
  bgpd/bgp_bfd.c
  bgpd/bgp_bfd.h
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_fsm.c
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/bfd.c
  lib/bfd.h
Labels: bgp, documentation, libfrr, tests

#8325 isisd: fix extra space after "ip router isis"
  isisd/isis_cli.c
Labels: isis

#8078 zebra: fix vni configuration in default vrf
  zebra/zebra_nb.h
  zebra/zebra_vty.c
Labels: yang, zebra

#8318 configure.ac: better lua detection
  configure.ac
Labels: build

#8306 isisd backports from master
  isisd/isis_cli.c
  isisd/isis_lsp.c
Labels: isis

#8290 bgpd: Update EVPN type-1 routes when VNI RT changes
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
Labels: bgp

#8331 doc: fix url for pip 2 in dev doc
  doc/developer/building-frr-for-ubuntu2004.rst
Labels: documentation

#8250 Fix aborts when using nb_running_get_entry during validation stage
  isisd/isis_nb_config.c
  pathd/path_nb_config.c
  pimd/pim_nb_config.c
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_nb_state.c
Labels: zebra

#8326 vtysh: hide "show configuration running" command
  vtysh/vtysh.c
Labels: vtysh

#7437 ospfd: add support for suppress_fa
  doc/user/ospfd.rst
  ospfd/ospf_abr.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  tests/topotests/ospf_suppress_fa/__init__.py
  tests/topotests/ospf_suppress_fa/r1/ospfd.conf
  tests/topotests/ospf_suppress_fa/r1/zebra.conf
  tests/topotests/ospf_suppress_fa/r2/ospfd.conf
  tests/topotests/ospf_suppress_fa/r2/zebra.conf
  tests/topotests/ospf_suppress_fa/r3/ospfd.conf
  tests/topotests/ospf_suppress_fa/r3/zebra.conf
  tests/topotests/ospf_suppress_fa/test_ospf_suppress_fa.dot
  tests/topotests/ospf_suppress_fa/test_ospf_suppress_fa.dot.jpg
  tests/topotests/ospf_suppress_fa/test_ospf_suppress_fa.py
Labels: documentation, ospf

#8316 doc: document proper config for BGP iface peers
  doc/user/bgp.rst
Labels: documentation

#8335 ospf6d: Link LSAs are not getting MAX_AGE in neighbor
  ospf6d/ospf6_lsa.c
Labels: ospfv3

#8328 7.5 backports
  bfdd/bfd.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_vty.c
  bfdd/ptm_adapter.c
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  doc/developer/building-frr-for-ubuntu2004.rst
  eigrpd/eigrp_cli.c
  lib/nexthop.c
  lib/northbound.c
  lib/plist.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_top.c
  yang/frr-bfdd.yang
  zebra/zebra_nb.h
  zebra/zebra_vty.c
Labels: bfd, bgp, documentation, eigrp, libfrr, ospfv3, staticd, zebra

#8329 ospf6d: Do not flood unknown LSAs if U-bit is clear
  ospf6d/ospf6_flood.c
Labels: ospfv3

#8333 pimd: Fix hold time related issues
  pimd/pim_cmd.c
  pimd/pim_nb_config.c
  yang/frr-pim.yang
Labels: pim

#8167 tests: add option for auto-launching gdb
  doc/developer/topotests.rst
  tests/topotests/conftest.py
  tests/topotests/lib/topotest.py
Labels: tests

#8332 yang: Allow `make clean` to actually clean up dependant files
  yang/subdir.am
Labels: yang

#8252 pimd: support bundle commands added
  tools/etc/frr/support_bundle_commands.conf
Labels: pim, tools

#8338 ospfd: fix SA warning
  ospfd/ospf_vty.c
Labels: ospf

#8292 isisd: Prevent OOM crash in isis
  isisd/isis_tlvs.c
Labels: isis

#8341 systemd's %n already includes the type suffix (.service)
  doc/developer/tracing.rst
  tools/frr.service.in
  tools/frr@.service.in
Labels: tools

#8344 lib, bgpd: add a specific oid_copy function for IPv6 addrs
  bgpd/bgp_mplsvpn_snmp.c
  bgpd/bgp_snmp.c
  eigrpd/eigrp_snmp.c
  ldpd/ldp_snmp.c
  lib/smux.h
  lib/snmp.c
  ospfd/ospf_snmp.c
  ripd/rip_snmp.c
Labels: bgp, libfrr

#8154 bgpd, lib, zebra: Complete support for sym-IRB with EVPN-MH
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgpd.h
  lib/log.c
  lib/zclient.h
  zebra/zapi_msg.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_vxlan.c
Labels: bgp

#8317 lib: Fix short printfrr buf
  lib/printf/vfprintf.c
  tests/lib/test_table.c
Labels: libfrr, tests

#8285 Rpki find
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_rpki.c
  bgpd/bgp_rpki.h
  bgpd/subdir.am
  doc/user/rpki.rst
Labels: bgp, documentation

#8346 isisd,ospf6d : fix some coverity SA warnings
  isisd/isis_snmp.c
  ospf6d/ospf6_asbr.c
Labels: isis, ospfv3

#8351 ospf6d: fix ospf6_abr_examin_summary to check for a path cost change
  ospf6d/ospf6_abr.c
Labels: ospfv3

#8362 ospfd: fix counting of "ip ospf area" commands
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#8363 [7.5] ospfd: fix counting of "ip ospf area" commands
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#8369 access-list and prefix-list fixes
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
Labels: libfrr

#8368 ospf6d: fix coverity warning
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#8056 bgpd: Add "bgp bestpath peer-type multipath-relax"
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_peer-type_multipath-relax/exabgp.env
  tests/topotests/bgp_peer-type_multipath-relax/peer1/exa-receive.py
  tests/topotests/bgp_peer-type_multipath-relax/peer1/exa_readpipe.py
  tests/topotests/bgp_peer-type_multipath-relax/peer1/exabgp.cfg
  tests/topotests/bgp_peer-type_multipath-relax/peer2/exa-receive.py
  tests/topotests/bgp_peer-type_multipath-relax/peer2/exa_readpipe.py
  tests/topotests/bgp_peer-type_multipath-relax/peer2/exabgp.cfg
  tests/topotests/bgp_peer-type_multipath-relax/peer3/exa-receive.py
  tests/topotests/bgp_peer-type_multipath-relax/peer3/exa_readpipe.py
  tests/topotests/bgp_peer-type_multipath-relax/peer3/exabgp.cfg
  tests/topotests/bgp_peer-type_multipath-relax/peer4/exa-receive.py
  tests/topotests/bgp_peer-type_multipath-relax/peer4/exa_readpipe.py
  tests/topotests/bgp_peer-type_multipath-relax/peer4/exabgp.cfg
  tests/topotests/bgp_peer-type_multipath-relax/r1/bgpd.conf
  tests/topotests/bgp_peer-type_multipath-relax/r1/multipath.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/not-multipath.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix1-eBGP-confed.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix1-eBGP-iBGP.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix1-no-recursive.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix1-recursive.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix1.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix3-ip-route.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix3-no-recursive.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/prefix3-recursive.json
  tests/topotests/bgp_peer-type_multipath-relax/r1/zebra.conf
  tests/topotests/bgp_peer-type_multipath-relax/r2/bgpd.conf
  tests/topotests/bgp_peer-type_multipath-relax/r2/staticd.conf
  tests/topotests/bgp_peer-type_multipath-relax/r2/zebra.conf
  tests/topotests/bgp_peer-type_multipath-relax/test_bgp_peer-type_multipath-relax.py
Labels: bgp

#8137 ospfd: Add Link State support
  doc/developer/link-state.rst
  doc/user/ospfd.rst
  doc/user/sharp.rst
  lib/link_state.c
  lib/link_state.h
  lib/zclient.h
  ospfd/ospf_te.c
  ospfd/ospf_te.h
  ospfd/ospf_zebra.c
  sharpd/sharp_globals.h
  sharpd/sharp_main.c
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  tests/topotests/ospf-te-topo1/__init__.py
  tests/topotests/ospf-te-topo1/r1/ospfd.conf
  tests/topotests/ospf-te-topo1/r1/zebra.conf
  tests/topotests/ospf-te-topo1/r2/ospfd.conf
  tests/topotests/ospf-te-topo1/r2/zebra.conf
  tests/topotests/ospf-te-topo1/r3/ospfd.conf
  tests/topotests/ospf-te-topo1/r3/zebra.conf
  tests/topotests/ospf-te-topo1/r4/ospfd.conf
  tests/topotests/ospf-te-topo1/r4/zebra.conf
  tests/topotests/ospf-te-topo1/reference/ted_step1.json
  tests/topotests/ospf-te-topo1/reference/ted_step2.json
  tests/topotests/ospf-te-topo1/reference/ted_step3.json
  tests/topotests/ospf-te-topo1/reference/ted_step4.json
  tests/topotests/ospf-te-topo1/reference/ted_step5.json
  tests/topotests/ospf-te-topo1/reference/ted_step6.json
  tests/topotests/ospf-te-topo1/reference/ted_step7.json
  tests/topotests/ospf-te-topo1/test_ospf_te_topo1.py
Labels: bgp, libfrr, ospf, ospfv3, sharp, tests, tools, zebra

#8057 ospf6d: Default Route functionality
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_spf.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
  ospf6d/ospf6_zebra.h
  ospf6d/ospf6d.h
  ospf6d/subdir.am
  tests/topotests/ospf6-topo2/r1/ospf6d.conf
  tests/topotests/ospf6-topo2/r1/zebra.conf
  tests/topotests/ospf6-topo2/r2/ospf6d.conf
  tests/topotests/ospf6-topo2/r2/zebra.conf
  tests/topotests/ospf6-topo2/r3/ospf6d.conf
  tests/topotests/ospf6-topo2/r3/zebra.conf
  tests/topotests/ospf6-topo2/test_ospf6_topo2.dot
  tests/topotests/ospf6-topo2/test_ospf6_topo2.png
  tests/topotests/ospf6-topo2/test_ospf6_topo2.py
Labels: documentation, ospfv3

#8311 Sort route-maps/access-lists/prefix-lists by sequence number in running-config
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/routemap.h
  lib/routemap_cli.c
  lib/routemap_northbound.c
Labels: libfrr

#8267 bgp cli fixes
  bgpd/bgp_nb_config.c
  bgpd/bgp_vty.c
Labels: bgp

#8216 bgpd: Add 'rd all' keyword to EVPN/L3VPN show cmds
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: bgp, documentation

#8058 ospfd: Max multipath config support
  doc/user/ospfd.rst
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#7419 Routemap nb
  bgpd/bgp_main.c
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgp_rpki.c
  bgpd/subdir.am
  lib/routemap.c
  lib/routemap.h
  lib/routemap_cli.c
  lib/routemap_northbound.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_main.c
  ospf6d/ospf6_routemap_nb.c
  ospf6d/ospf6_routemap_nb.h
  ospf6d/ospf6_routemap_nb_config.c
  ospf6d/subdir.am
  ospfd/ospf_main.c
  ospfd/ospf_routemap.c
  ospfd/ospf_routemap_nb.c
  ospfd/ospf_routemap_nb.h
  ospfd/ospf_routemap_nb_config.c
  ospfd/ospfd.h
  ospfd/subdir.am
  yang/frr-bgp-filter.yang
  yang/frr-bgp-route-map.yang
  yang/frr-ospf-route-map.yang
  yang/frr-ospf6-route-map.yang
  yang/frr-route-map.yang
  yang/frr-zebra-route-map.yang
  yang/frr-zebra.yang
  yang/subdir.am
  zebra/main.c
  zebra/subdir.am
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_routemap.c
  zebra/zebra_routemap.h
  zebra/zebra_routemap_nb.c
  zebra/zebra_routemap_nb.h
  zebra/zebra_routemap_nb_config.c
Labels: bgp, libfrr, ospf, ospfv3, yang, zebra

#8350 lib: `printfrr()` care package
  bgpd/bgp_table.c
  doc/developer/_static/overrides.css
  doc/developer/conf.py
  doc/developer/logging.rst
  lib/nexthop.c
  lib/prefix.c
  lib/printf/glue.c
  lib/printf/printflocal.h
  lib/printf/vfprintf.c
  lib/printfrr.h
  lib/sockunion.c
  lib/sockunion.h
  lib/srcdest_table.c
  lib/strformat.c
  lib/subdir.am
  lib/vty.c
  tests/lib/test_printfrr.c
  tools/gcc-plugins/frr-format.c
  tools/gcc-plugins/frr-format.h
Labels: libfrr

#8377 ospfd: fix building with --disable-bfdd
  ospfd/ospf_bfd.c
Labels: ospf

#8345 Frr reload vrf static
  tools/frr-reload.py
Labels: tools
