Repository FRRouting/frr, pull requests merged in 2021-06, with the labels that each got.

#8698 tests: Fixup some pylint warnings in test_multicast_pim_sm_topo2.py
  tests/topotests/multicast_pim_sm_topo2/test_multicast_pim_sm_topo2.py
Labels: tests

#8769 lib: Time to remove CONFDATE block
  lib/compiler.h
Labels: libfrr

#8683 tests: Add bgp_gshut_topo1 test suite
  tests/topotests/bgp_gshut_topo1/ebgp_gshut_topo1.json
  tests/topotests/bgp_gshut_topo1/ibgp_gshut_topo1.json
  tests/topotests/bgp_gshut_topo1/test_ebgp_gshut_topo1.py
  tests/topotests/bgp_gshut_topo1/test_ibgp_gshut_topo1.py
Labels: tests

#8762 pceplib: fix mixup of global/local variables
  pceplib/pcep_session_logic_loop.c
Labels: bugfix, to backport

#8304 lib: fix use of xrefs in zmq wrapper
  lib/frr_zmq.c
Labels: libfrr, to backport

#8353 lib: LLVM care package
  .gitignore
  lib/prefix.h
  tools/.gitignore
  tools/frr-llvm-cg.c
  tools/frr-llvm-debuginfo.cpp
  tools/frr-llvm-debuginfo.h
  tools/subdir.am
Labels: libfrr, tools

#8765 isisd, ospf6d, pimd: set vrf_id when creating bfd sessions
  isisd/isis_bfd.c
  ospf6d/ospf6_bfd.c
  pimd/pim_bfd.c
Labels: isis, ospfv3, pim, to backport

#8761 isisd: fix using vrf interface as a loopback
  isisd/isis_circuit.c
  isisd/isis_cli.c
  isisd/isis_nb_config.c
Labels: bugfix, isis, to backport

#8759 ospf6d: fix using vrf interface as a loopback
  ospf6d/ospf6_interface.c
Labels: bugfix, ospfv3, to backport

#8777 doc: Replace single tick with double tick under developer/topotests.rst
  doc/developer/topotests.rst
Labels: documentation

#8644 lib: fix binding to a vrf
  bgpd/bgp_network.c
  doc/user/Useful_Sysctl_Settings.md
  doc/user/installation.rst
  doc/user/zebra.rst
  lib/vrf.c
  lib/vrf.h
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_linux_vrf.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
  tests/topotests/isis_topo1_vrf/test_isis_topo1_vrf.py
  tests/topotests/lib/common_config.py
  tests/topotests/ospf6_topo1_vrf/test_ospf6_topo1_vrf.py
Labels: bgp, bugfix, documentation, libfrr, tests, to backport

#8210 northbound: KISS always batch yang config, it's faster.
  bgpd/bgp_vty.c
  eigrpd/eigrp_cli.c
  isisd/isis_cli.c
  lib/command.c
  lib/if.c
  lib/lib_vty.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/vrf.c
  lib/vty.c
  lib/vty.h
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  tests/bgpd/test_peer_attr.c
Labels: bugfix, libfrr, to backport

#8771 pathd: fix render candidate-path bandwidth
  pathd/path_cli.c
Labels: bugfix

#8776 ospfd: remove ospf interface config: passive-interface
  ospfd/ospfd.c
Labels: ospf

#8783 doc: remove varnames from command descriptions
  doc/user/bfd.rst
  doc/user/sharp.rst
Labels: documentation

#8772 bfdd: fix bfd key structure
  bfdd/bfd.h
Labels: bfd, bugfix, to backport

#8779 Zebra doc fixes
  doc/user/zebra.rst
Labels: bugfix, documentation, to backport

#8787 lib: [8.0] fix use of xrefs in zmq wrapper
  lib/frr_zmq.c
Labels: libfrr

#8706 lib: fix threading bug in GRPC code
  lib/northbound_grpc.cpp
Labels: bugfix, libfrr, to backport

#8801 Sr coverity
  bgpd/bgp_mplsvpn.c
  pathd/path_pcep_debug.c
  pathd/path_pcep_debug.h
Labels: bgp

#8756 ospfd, doc: combined SRGB/SRLB command
  doc/user/ospfd.rst
  ospfd/ospf_sr.c
  ospfd/ospf_sr.h
  tests/topotests/ospf_sr_topo1/test_ospf_sr_topo1.py
Labels: documentation, ospf, tests

#8781 lib: fix output of "list" and "find" commands
  lib/command.c
  lib/command.h
  vtysh/vtysh.c
Labels: bugfix, libfrr, to backport, vtysh

#8758 BFD fixes
  bfdd/bfd_packet.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_nb_state.c
  bfdd/ptm_adapter.c
  bgpd/bgp_debug.c
  lib/bfd.c
  yang/frr-bfdd.yang
Labels: bfd, bgp, bugfix, libfrr, to backport

#8778 zebra: fix config after exit from vrf
  lib/vrf.c
  zebra/zebra_vrf.h
Labels: bugfix, libfrr, to backport, vtysh, zebra

#8786 Backport ospf6 socket non blocking read
  ospf6d/ospf6_message.c
  ospf6d/ospf6_network.c
Labels: ospfv3

#8789 doc: bump sphinx version to 4.0.2, remove deprecated API
  doc/developer/conf.py
  doc/requirements.txt
  doc/user/conf.py
Labels: documentation

#8805 lib: fix address sanitizer crash on `find`
  lib/command.c
Labels: bugfix, libfrr

#8806 bgpd: Convert to using peer_established(peer) function
  bgpd/bgp_bfd.c
  bgpd/bgp_bmp.c
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_fsm.c
  bgpd/bgp_mac.c
  bgpd/bgp_network.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, preliminary (WiP)

#8782 tests: timing large config operations
  tests/topotests/config_timing/r1/staticd.conf
  tests/topotests/config_timing/r1/zebra.conf
  tests/topotests/config_timing/test_config_timing.py
Labels: tests

#8713 tests: add grpc unit test
  docker/ubuntu20-ci/Dockerfile
  lib/routing_nb.h
  lib/zebra.h
  staticd/static_debug.h
  staticd/static_nb.h
  staticd/static_nht.h
  staticd/static_routes.h
  staticd/static_vrf.h
  staticd/static_vty.h
  staticd/static_zebra.c
  staticd/static_zebra.h
  tests/lib/test_grpc.cpp
  tests/lib/test_grpc.py
  tests/subdir.am
Labels: tests

#8727 ospf6d: implement NSSA area support
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_abr.h
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_flood.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_nssa.h
  ospf6d/ospf6_proto.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_spf.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
  ospf6d/subdir.am
  tests/topotests/ospf6_topo2/r2/ospf6d.conf
  tests/topotests/ospf6_topo2/r2/zebra.conf
  tests/topotests/ospf6_topo2/r4/ospf6d.conf
  tests/topotests/ospf6_topo2/r4/zebra.conf
  tests/topotests/ospf6_topo2/test_ospf6_topo2.dot
  tests/topotests/ospf6_topo2/test_ospf6_topo2.png
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: documentation, ospfv3, tests

#7096 tests : Adding 2 ospf asbr summary testcases.
  tests/topotests/ospf_basic_functionality/ospf_asbr_summary_topo1.json
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
Labels: tests

#8796 ospfd: fix passive interface configuration
  doc/user/ospf_fundamentals.rst
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
  ospfd/ospfd.c
Labels: bugfix, documentation, ospf, to backport

#8593 vtysh: fix searching commands in parent nodes
  lib/command.c
  vtysh/vtysh.c
Labels: bugfix, relnote, to backport, vtysh

#8798 ospfd: assorted fixes
  lib/zclient.c
  ospf6d/ospf6_lsa.c
  ospfd/ospf_flood.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_gr_helper.h
  ospfd/ospf_lsa.c
  ospfd/ospf_main.c
  ospfd/ospf_opaque.c
  ospfd/ospf_packet.c
  ospfd/ospf_spf.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  zebra/zebra_gr.c
Labels: bugfix, libfrr, ospf, ospfv3, to backport, zebra

#8817 zebra: Give extra space and stop processing if we run out of space
  zebra/zebra_mlag.c
Labels: zebra

#8807 lib,zebra: srv6 cleanup
  lib/srv6.c
  zebra/zapi_msg.c
  zebra/zebra_srv6.c
Labels: libfrr, zebra

#8808 bgpd: Add tracepoints for bgp_dest_lock_node/bgp_dest_unlock_node
  bgpd/bgp_table.h
Labels: bgp

#8815 ospfd: fix memory leaks in summarization
  ospfd/ospf_asbr.c
Labels: bugfix, ospf, to backport

#8754 bgpd: improve show bgp summary display
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  doc/user/bgp.rst
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
Labels: bgp, documentation, tests

#8733 ospf6d: fix interface area configuration
  doc/user/ospf6d.rst
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_top.c
  tests/topotests/ospf6_topo1_vrf/README.md
  tests/topotests/ospf6_topo1_vrf/r1/ospf6d.conf
  tests/topotests/ospf6_topo1_vrf/r2/ospf6d.conf
  tests/topotests/ospf6_topo1_vrf/r3/ospf6d.conf
  tests/topotests/ospf6_topo1_vrf/r4/ospf6d.conf
Labels: bugfix, documentation, ospfv3, tests, to backport

#8561 pimd: rework MSDP mesh groups
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/lib/mcast-tester.py
  tests/topotests/lib/topogen.py
  tests/topotests/msdp_mesh_topo1/__init__.py
  tests/topotests/msdp_mesh_topo1/r1/bgpd.conf
  tests/topotests/msdp_mesh_topo1/r1/ospfd.conf
  tests/topotests/msdp_mesh_topo1/r1/pimd.conf
  tests/topotests/msdp_mesh_topo1/r1/zebra.conf
  tests/topotests/msdp_mesh_topo1/r2/bgpd.conf
  tests/topotests/msdp_mesh_topo1/r2/ospfd.conf
  tests/topotests/msdp_mesh_topo1/r2/pimd.conf
  tests/topotests/msdp_mesh_topo1/r2/zebra.conf
  tests/topotests/msdp_mesh_topo1/r3/bgpd.conf
  tests/topotests/msdp_mesh_topo1/r3/ospfd.conf
  tests/topotests/msdp_mesh_topo1/r3/pimd.conf
  tests/topotests/msdp_mesh_topo1/r3/zebra.conf
  tests/topotests/msdp_mesh_topo1/test_msdp_mesh_topo1.dot
  tests/topotests/msdp_mesh_topo1/test_msdp_mesh_topo1.png
  tests/topotests/msdp_mesh_topo1/test_msdp_mesh_topo1.py
  yang/frr-pim.yang
Labels: pim, tests, yang

#8691 bgpd: split soft reconfig table task into several jobs to not block vtysh
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.h
  bgpd/bgpd.c
Labels: bgp

#8823 Ospfv3 coverity
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_abr.h
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_snmp.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.c
Labels: ospfv3

#8844 lib: terminate default vrf last
  lib/vrf.c
Labels: libfrr

#8836 bgpd: Call bgp_dest_unlock_node() inside bgp_adj_in_remove()
  bgpd/bgp_advertise.c
  bgpd/bgp_route.c
Labels: bgp

#8838 lib: do not attempt to create default nodes from NULL tree node
  lib/northbound.c
Labels: libfrr, to backport

#8821 doc: add a note of domainname
  doc/user/basic.rst
Labels: documentation

#8814 tests: Fixing common pylint error for topojson
  tests/topotests/lib/bgp.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/pim.py
Labels: tests

#8833 Zapi message count
  zebra/zserv.c
Labels: zebra

#8851 ospf6d: Link state ID in LSA database JSON output
  ospf6d/ospf6_lsa.c
Labels: ospfv3

#8770 tests: Adding ospfv3 basic functionality test cases
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/ospfv3_basic_functionality/ospfv3_rte_calc.json
  tests/topotests/ospfv3_basic_functionality/ospfv3_single_area.json
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_rte_calc.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_single_area.py
Labels: tests

#8856 tests: add valgrind memleaks run options and detection
  doc/developer/topotests.rst
  tests/topotests/conftest.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests

#8874 ospfd: fix routemap update
  ospfd/ospf_routemap.c
Labels: bugfix, ospf

#8865 a couple of isis fixes
  isisd/isis_circuit.c
  isisd/isisd.c
Labels: bugfix, isis, to backport

#8846 bgpd: A couple of cleanups
  bgpd/bgp_aspath.c
  bgpd/bgp_damp.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_flowspec_util.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  lib/link_state.c
Labels: bgp, libfrr

#8839 ospf6d: move error logs out from behind debug flags
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_spf.c
Labels: ospfv3

#8843 isisd: per-instance dynamic hostname cache
  isisd/isis_adjacency.c
  isisd/isis_dynhn.c
  isisd/isis_dynhn.h
  isisd/isis_lsp.c
  isisd/isis_misc.c
  isisd/isis_nb_notifications.c
  isisd/isis_snmp.c
  isisd/isisd.c
  isisd/isisd.h
  tests/isisd/test_common.c
  tests/isisd/test_isis_spf.c
Labels: bugfix, isis, to backport

#8828 bgpd: fix routemap update with disabled delay timer
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, to backport

#8861 docker: use tini as entrypoint unilaterally
  docker/alpine/Dockerfile
  docker/alpine/docker-start
  docker/centos-7/Dockerfile
  docker/centos-7/docker-start
  docker/centos-8/Dockerfile
  docker/centos-8/docker-start
  docker/debian/Dockerfile
  docker/debian/docker-start
Labels: bugfix, docker

#8478 lib: stop grpc pthread at shutdown
  lib/northbound_grpc.cpp
Labels: libfrr

#8829 zebra: We already store the last command as part of zserv_write
  zebra/zebra_rnh.c
  zebra/zebra_srte.c
Labels: zebra

#8876 lib: remove pure attribute from functions that modify memory
  lib/compiler.h
  lib/table.h
Labels: libfrr, to backport

#8864 lib: fix interface configuration after vrf change
  lib/if.c
  lib/vty.c
  lib/vty.h
Labels: bugfix, libfrr, to backport

#8822 tools: add mac access-list context to frr-reload.py
  tools/frr-reload.py
Labels: tools

#8749 lib: add an MTYPE for bitfields
  lib/bitfield.h
  lib/memory.c
Labels: libfrr

#8868 ospf6d: redistribute command minor fixes
  ospf6d/ospf6_asbr.c
  tests/topotests/bfd_topo2/r4/ipv6_routes.json
  tests/topotests/ospf6_topo1/r1/show_ipv6_route.ref
  tests/topotests/ospf6_topo1/r2/show_ipv6_route.ref
  tests/topotests/ospf6_topo1/r3/show_ipv6_route.ref
  tests/topotests/ospf6_topo1/r4/show_ipv6_route.ref
  tests/topotests/ospf6_topo1_vrf/r1/show_ipv6_vrf_route.ref
  tests/topotests/ospf6_topo1_vrf/r2/show_ipv6_vrf_route.ref
  tests/topotests/ospf6_topo1_vrf/r3/show_ipv6_vrf_route.ref
  tests/topotests/ospf6_topo1_vrf/r4/show_ipv6_vrf_route.ref
  tests/topotests/ospf_topo1/r1/ospf6route.txt
  tests/topotests/ospf_topo1/r1/ospf6route_down.txt
  tests/topotests/ospf_topo1/r1/ospf6route_ecmp.txt
  tests/topotests/ospf_topo1/r2/ospf6route.txt
  tests/topotests/ospf_topo1/r2/ospf6route_down.txt
  tests/topotests/ospf_topo1/r2/ospf6route_ecmp.txt
  tests/topotests/ospf_topo1/r3/ospf6route.txt
  tests/topotests/ospf_topo1/r3/ospf6route_down.txt
  tests/topotests/ospf_topo1/r3/ospf6route_ecmp.txt
  tests/topotests/ospf_topo1/r4/ospf6route.txt
  tests/topotests/ospf_topo1/r4/ospf6route_down.txt
  tests/topotests/ospf_topo1/r4/ospf6route_ecmp.txt
Labels: ospfv3, tests, to backport

#8882 8.0 backports
  bgpd/bgp_routemap.c
  doc/user/basic.rst
  docker/alpine/Dockerfile
  docker/alpine/docker-start
  docker/centos-7/Dockerfile
  docker/centos-7/docker-start
  docker/centos-8/Dockerfile
  docker/centos-8/docker-start
  docker/debian/Dockerfile
  docker/debian/docker-start
  isisd/isis_adjacency.c
  isisd/isis_circuit.c
  isisd/isis_dynhn.c
  isisd/isis_dynhn.h
  isisd/isis_lsp.c
  isisd/isis_misc.c
  isisd/isis_nb_notifications.c
  isisd/isis_snmp.c
  isisd/isisd.c
  isisd/isisd.h
  lib/northbound_grpc.cpp
  lib/vrf.c
  ospfd/ospf_routemap.c
  tests/isisd/test_common.c
  tests/isisd/test_isis_spf.c
Labels: bgp, bugfix, docker, documentation, isis, libfrr, ospf

#8892 fabricd: fix running config
  isisd/isis_circuit.c
Labels: bugfix

#8867 tools: make frr-reload recognize `pbr table range` lines as single-line contexts
  tools/frr-reload.py
Labels: tools

#8334 ospf6d: Release last dbdesc packet after router dead interval
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
Labels: ospfv3

#8557 ospfd: External lsa handling in opaque capabilities enable/disable
  ospfd/ospf_lsa.c
  ospfd/ospf_neighbor.c
Labels: ospf, to backport

#8869 bgpd: Force process networks on VRF creation
  bgpd/bgp_route.c
Labels: bgp, to backport

#8820 doc: add a note of hostname/domainname for vtysh
  doc/user/basic.rst
Labels: documentation

#8725 OSPFv3 socket rework
  doc/user/ospf6d.rst
  doc/user/ospfd.rst
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_message.c
  ospf6d/ospf6_message.h
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_network.c
  ospf6d/ospf6_network.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  tests/topotests/ospf6_topo1/test_ospf6_topo1.py
  tests/topotests/ospf6_topo1_vrf/test_ospf6_topo1_vrf.py
Labels: documentation, ospfv3, tests

#8878 ospf6d: fix "show ipv6 ospf6 neighbor" command
  ospf6d/ospf6_neighbor.c
Labels: bugfix, ospfv3, to backport

#8905 Isis argv
  isisd/isis_vty_fabricd.c
  isisd/isisd.c
  isisd/isisd.h
Labels: isis

#8656 lib: preparations for RFC5424 syslog support
  doc/user/basic.rst
  lib/compiler.h
  lib/log_filter.c
  lib/log_vty.c
  lib/log_vty.h
  lib/zlog.c
  lib/zlog.h
  lib/zlog_targets.c
Labels: bugfix, libfrr

#8899 ospf6 redistribution fixes
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_nssa.c
Labels: bugfix, ospfv3

#8901 tests: Add an additional conditional BGP default route advertisement
  tests/topotests/bgp_default_route_route_map_match2/__init__.py
  tests/topotests/bgp_default_route_route_map_match2/r1/bgpd.conf
  tests/topotests/bgp_default_route_route_map_match2/r1/zebra.conf
  tests/topotests/bgp_default_route_route_map_match2/r2/bgpd.conf
  tests/topotests/bgp_default_route_route_map_match2/r2/zebra.conf
  tests/topotests/bgp_default_route_route_map_match2/test_bgp_default-originate_route-map_match2.py
Labels: tests

#8853 bgpd: Make sure we don't miss to unlock for bgp_dest before returning
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_label.c
  bgpd/bgp_snmp.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix

#8906 bgpd: [7.3] withdraw default route when route-map has no match
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#8860 bgpd: Allow aspath prepending for default-originate with route-maps
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_default_route_route_map_match_set/r1/bgpd.conf
  tests/topotests/bgp_default_route_route_map_match_set/test_bgp_default-originate_route-map_match_set.py
  tests/topotests/bgp_default_route_route_map_set/r1/bgpd.conf
  tests/topotests/bgp_default_route_route_map_set/test_bgp_default-originate_route-map_set.py
Labels: bgp, tests

#8904 ospf6d: Show neighbor displays twice for every neighbor.
  ospf6d/ospf6_interface.c
Labels: ospfv3

#8800 vtysh: Expose SR node for non pathd use cases
  vtysh/vtysh.c
Labels: vtysh

#8337 Reload with routemaps
  tools/frr-reload.py
Labels: tools

#8731 zebra: Fix pseudowires with backup nexthops
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_pw.c
  zebra/zebra_rib.c
Labels: zebra

#8912 tests: Adding ospfv2 summarisation test cases.
  tests/topotests/ospf_basic_functionality/ospf_asbr_summary_type7_lsa.json
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_type7_lsa.py
Labels: tests

#8923 tests: Fix generate support bundle issue for test_route_map_topo1
  tests/topotests/bgp_route_map/test_route_map_topo1.py
Labels: tests

#8463 build system housekeeping
  Makefile.am
  buildtest.sh
  configure.ac
  doc/developer/building-frr-for-centos6.rst
  doc/developer/building-frr-for-centos7.rst
  doc/developer/building-frr-for-centos8.rst
  doc/developer/building-frr-for-debian8.rst
  doc/developer/building-frr-for-debian9.rst
  doc/developer/building-frr-for-netbsd6.rst
  doc/developer/building-frr-for-netbsd7.rst
  doc/developer/include-compile.rst
  doc/developer/topotests.rst
  doc/user/basic.rst
  doc/user/installation.rst
  lib/command.c
  lib/subdir.am
  lib/thread.c
  lib/thread.h
  lib/vty.c
  python/xrelfo.py
  vtysh/vtysh.c
Labels: documentation, libfrr

#8907 Fix ISIS config batching
  isisd/isis_nb_config.c
Labels: bugfix, isis, to backport

#8920 bgpd: Fix SA warning about freeing an aspath
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#8926 doc: fix typo in OSPFv3 NSSA
  doc/user/ospf6d.rst
Labels: bugfix, documentation

#8909 isisd: fix extra space in the mpls-te config output
  isisd/isis_cli.c
Labels: bugfix, isis

#8931 doc: add a note for ospfd instances
  doc/user/ospfd.rst
Labels: documentation

#8925 ospf6d: fix duplicated packet read
  ospf6d/ospf6_message.c
Labels: bugfix, ospfv3, to backport

#8932 doc: fix some compile warning
  doc/user/basic.rst
  doc/user/bgp.rst
Labels: bugfix, documentation

#8850 ospf6d: consistent checksum JSON output
  ospf6d/ospf6_lsa.c
Labels: ospfv3

#8911 lib: Add some hash name differentiation for Command Hash's
  lib/command.c
Labels: libfrr

#8835 ospf6d: "clear ipv6 ospf6 process" command
  doc/user/ospf6d.rst
  lib/routemap.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
  ospf6d/subdir.am
Labels: ospfv3

#8937 doc: remove unnecessary index directives
  doc/user/bgp.rst
  doc/user/ospf6d.rst
  doc/user/zebra.rst
Labels: documentation

#8824 isisd, ospfd: update interface_link_params callback to check for change
  isisd/isis_zebra.c
  lib/zclient.c
  lib/zclient.h
  ospfd/ospf_interface.c
  ospfd/ospf_zebra.c
Labels: bgp, bugfix, documentation, isis, libfrr, ospf, ospfv3, pim, tests, yang, zebra

#8744 zebra: rework RA handling for vrf-lite
  doc/user/ipv6.rst
  zebra/main.c
  zebra/rib.h
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vrf.c
Labels: documentation, zebra

#8887 Chopps/fix test retries
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pim_static_rp.py
  tests/topotests/ospf_basic_functionality/test_ospf_authentication.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo2_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo2_ibgp.py
Labels: bugfix, tests

#8943 tests: fix build warning
  tests/bgpd/test_peer_attr.c
Labels: bugfix, tests

#8952 pimd: make show ip mroute output consistent
  pimd/pim_cmd.c
Labels: pim

#8950 ospf6d: use per-vrf router id instead of one global
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
Labels: bugfix, ospfv3

#8780 zebra: fix a couple of coverity warnings
  bgpd/bgp_flowspec_util.c
  bgpd/bgpd.c
  eigrpd/eigrp_network.c
  lib/prefix.h
  zebra/connected.c
Labels: bugfix, to backport, zebra
