Repository FRRouting/frr, pull requests merged in 2021-01, with the labels that each got.

#7809 some coverity fixes
  bgpd/bgp_nb_config.c
  pathd/path_zebra.c
Labels: bgp

#6810 Lib: Add Link State Database
  doc/developer/link-state.rst
  lib/link_state.c
  lib/link_state.h
  lib/subdir.am
Labels: libfrr

#7507 bgpd: Do not send BGP UPDATE if the route actually not changed
  bgpd/bgp_advertise.h
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_community_change_update/__init__.py
  tests/topotests/bgp_community_change_update/c1/bgpd.conf
  tests/topotests/bgp_community_change_update/c1/zebra.conf
  tests/topotests/bgp_community_change_update/test_bgp_community_change_update.py
  tests/topotests/bgp_community_change_update/x1/bgpd.conf
  tests/topotests/bgp_community_change_update/x1/zebra.conf
  tests/topotests/bgp_community_change_update/y1/bgpd.conf
  tests/topotests/bgp_community_change_update/y1/zebra.conf
  tests/topotests/bgp_community_change_update/y2/bgpd.conf
  tests/topotests/bgp_community_change_update/y2/zebra.conf
  tests/topotests/bgp_community_change_update/y3/bgpd.conf
  tests/topotests/bgp_community_change_update/y3/zebra.conf
  tests/topotests/bgp_community_change_update/z1/bgpd.conf
  tests/topotests/bgp_community_change_update/z1/zebra.conf
  yang/frr-bgp-common.yang
Labels: bgp, documentation, tests

#7812 ospf6: backport from 7.5 series for 7.3
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
Labels: ospfv3

#7772 tests: topotests/lib/lutil.py: add timestamp to log of test start
  tests/topotests/lib/lutil.py
Labels: tests

#7762 pbrd: pbr ipv4/ipv6 match fixes
  pbrd/pbr_vty.c
  zebra/rule_netlink.c
Labels: pbr, zebra

#7815 tests: fix typos and remove duplicate output
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
Labels: tests

#7820 tests: [topojson]Add/Enhance framework to support PIM automation
  tests/topotests/lib/common_config.py
  tests/topotests/lib/pim.py
  tests/topotests/lib/topojson.py
Labels: tests

#7817 Random cleanup/fixes
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  pathd/path_pcep_controller.c
  pathd/pathd.c
Labels: bgp

#7824 Snapcraft Fixes
  snapcraft/snapcraft.yaml.in
Labels: packaging

#7749 bgpd: reject malformed large-communities
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_lcommunity.c
  bgpd/bgp_lcommunity.h
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_1.py
Labels: bgp

#7834 Bgp announce
  bgpd/bgp_zebra.c
Labels: bgp

#7833 tests: Fix gr_tests
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/lib/common_config.py
Labels: tests

#7838 bgpd: Force BGP updates when triggering reset out
  bgpd/bgpd.c
Labels: bgp

#7816 Revert labelmanager statics
  tests/.gitignore
  tests/subdir.am
  tests/zebra/test_lm_plugin.c
  tests/zebra/test_lm_plugin.py
  tests/zebra/test_lm_plugin.refout
  zebra/label_manager.c
  zebra/label_manager.h
Labels: tests, zebra

#7803 bgpd: Validate community list if they are not malformed
  bgpd/bgp_community.c
Labels: bgp

#7836 isisd: When last area address is removed, resign if we were DR
  isisd/isis_nb_config.c
Labels: isis

#7842 tests: Wait for bgp convergence *after* we re-add the interfaces
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
Labels: tests

#7835 Cleanup support bundle
  tools/etc/frr/support_bundle_commands.conf
Labels: tools

#7839 bgpd: Print large-community inside bgp_dump_attr()
  bgpd/bgp_debug.c
Labels: bgp

#7775 pimd : Added the command to clear the pim bsr data.
  doc/user/pim.rst
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_cmd.c
  pimd/pim_rp.c
  pimd/pim_rp.h
Labels: pim

#7787 dplane_fpm_nl: routes stuck with 'q' flag (revisited)
  zebra/dplane_fpm_nl.c
  zebra/zebra_dplane.c
Labels: zebra

#7756 Bgplu fixes
  bgpd/bgp_label.c
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_route.c
  bgpd/bgp_table.h
  bgpd/bgpd.c
  bgpd/subdir.am
  doc/user/bgp.rst
  tests/topotests/bgp_lu_topo1/R1/bgpd.conf
  tests/topotests/bgp_lu_topo1/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo1/R1/zebra.conf
  tests/topotests/bgp_lu_topo1/R2/bgpd.conf
  tests/topotests/bgp_lu_topo1/R2/labelpool.summ.json
  tests/topotests/bgp_lu_topo1/R2/zebra.conf
  tests/topotests/bgp_lu_topo1/R3/bgpd.conf
  tests/topotests/bgp_lu_topo1/R3/zebra.conf
  tests/topotests/bgp_lu_topo1/test_bgp_lu.py
  zebra/label_manager.c
Labels: bgp, tests, zebra

#7753 pimd: when node changes from non-DR to DR S,G entry not created
  pimd/pim_ifchannel.c
Labels: pim

#7751 pimd: IGMP conformance 5.10 test case is failing
  pimd/pim_igmp.c
  pimd/pim_igmpv2.c
  pimd/pim_igmpv2.h
Labels: pim

#7747 nhrpd fixes
  lib/sockunion.c
  lib/sockunion.h
  nhrpd/README.kernel
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_route.c
  nhrpd/nhrp_shortcut.c
  nhrpd/nhrpd.h
Labels: nhrp

#7652 zebra: L3VNI to L2VNI conversion is not handled
  zebra/zebra_vxlan.c
Labels: zebra

#7810 bgpd: Fix default-originate clearing from peer-groups.
  bgpd/bgpd.c
Labels: bgp

#7845 Fix BGP and resource certification reference links
  doc/user/rpki.rst
Labels: documentation

#7830 Misc fixes (bgpd, pathd, tools)
  bgpd/bgp_nb_config.c
  pathd/path_pcep_cli.c
  tools/frr-reload.py
Labels: bgp, tools

#7823 Zebra delay timer
  zebra/zebra_routemap.c
  zebra/zebra_routemap.h
Labels: zebra

#7828 pimd: SPT-bit is not set to false as per RFC section in one flow
  pimd/pim_mroute.c
  pimd/pim_upstream.c
Labels: pim

#7670 bgpd: Handle IPv6 prefixes with IPv4 nexthops for zebra
  bgpd/bgp_zebra.c
Labels: bgp

#7687 tests: Adding ospf p2mp basic test.
  tests/topotests/ospf_basic_functionality/ospf_p2mp.json
  tests/topotests/ospf_basic_functionality/test_ospf_p2mp.py
Labels: tests

#7850 zebra: build the sample dataplane plugin
  zebra/sample_plugin.c
  zebra/subdir.am
Labels: zebra

#7841 isisd: ignore routes with incompatible metric style
  isisd/isis_spf.c
Labels: isis

#7733 ospfd: Adding authentication details to ospf interafce command o/p
  ospfd/ospf_vty.c
Labels: ospf

#7860 libs,nhrpd: remove exec perm
  lib/sockunion.c
  lib/sockunion.h
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_route.c
  nhrpd/nhrpd.h
Labels: libfrr, nhrp

#7247 bgpd: Enhanced Route Refresh capability
  bgpd/bgp_debug.c
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/overview.rst
Labels: bgp, documentation

#7439 bgpd: BGP route-flap dampening profiles for peers and peer groups
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/exabgp.env
  tests/topotests/bgp_features/peer1/exa_readpipe.py
  tests/topotests/bgp_features/peer1/exabgp.cfg
  tests/topotests/bgp_features/peer2/exa_readpipe.py
  tests/topotests/bgp_features/peer2/exabgp.cfg
  tests/topotests/bgp_features/peer3/exa_readpipe.py
  tests/topotests/bgp_features/peer3/exabgp.cfg
  tests/topotests/bgp_features/peer4/exa_readpipe.py
  tests/topotests/bgp_features/peer4/exabgp.cfg
  tests/topotests/bgp_features/r1/bgp_damp_announced.json
  tests/topotests/bgp_features/r1/bgp_damp_setup.json
  tests/topotests/bgp_features/r2/bgp_damp_announced.json
  tests/topotests/bgp_features/r2/bgp_damp_withdrawn.json
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bgp, documentation, tests

#7748 BGP daemon listen for connections on multiple addresses
  bgpd/bgp_main.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_mp_attr.c
  tests/bgpd/test_mpath.c
  tests/bgpd/test_packet.c
  tests/bgpd/test_peer_attr.c
  tests/topotests/bgp_listen_on_multiple_addresses/bgp_listen_on_multiple_addresses.json
  tests/topotests/bgp_listen_on_multiple_addresses/test_bgp_listen_on_multiple_addresses.py
Labels: bgp, documentation, tests

#7861 doc: fix several issues, remind about 'no' in cli index statements
  doc/developer/index.rst
  doc/developer/logging.rst
  doc/developer/subdir.am
  doc/developer/tracing.rst
  doc/developer/workflow.rst
  doc/user/bgp.rst
  doc/user/pathd.rst
Labels: documentation

#7849 tests: Static route cases with admin dist and tag.
  tests/topotests/lib/common_config.py
  tests/topotests/static_routing_with_ebgp/static_routes_topo3_ebgp.json
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo3_ebgp.py
Labels: tests

#6853 zebra: reduce impact of route-update overload
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: zebra

#7818 zebra: notify installing protocol when nexthops cannot be resolved
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra

#7819 zebra: Add ability to display human readable format re->flags and status
  lib/zclient.c
  lib/zclient.h
  zebra/zebra_rib.c
Labels: zebra

#7837 tests: fix redistribute key in ospf tests
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_nssa.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
Labels: tests

#7712 tools: ignore missing seq nums in prefix and access lists in frr-relo…
  tools/frr-reload.py
Labels: tools

#7821 Evpn flag dump
  lib/zclient.c
  lib/zclient.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
Labels: zebra

#7866 zebra: Scale setup RMAC is send multiple time to fpm
  zebra/zebra_fpm.c
Labels: zebra

#7869 bgpd: Temp fix to allow numbered peers to be part of a peer group
  bgpd/bgp_vty.c
Labels: bgp

#7867 bgpd: clear max prefix overflow on de-config
  bgpd/bgpd.c
Labels: bgp

#7868 zebra: don't set connection-up event pointer directly
  zebra/zebra_fpm.c
Labels: zebra

#7872 tests: Check if peer-group is working in topotests
  tests/topotests/bgp_peer-group/__init__.py
  tests/topotests/bgp_peer-group/r1/bgpd.conf
  tests/topotests/bgp_peer-group/r1/zebra.conf
  tests/topotests/bgp_peer-group/r2/bgpd.conf
  tests/topotests/bgp_peer-group/r2/zebra.conf
  tests/topotests/bgp_peer-group/r3/bgpd.conf
  tests/topotests/bgp_peer-group/r3/zebra.conf
  tests/topotests/bgp_peer-group/test_bgp_peer-group.py
Labels: tests

#7870 tests: Start the ability to mark tests
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/eigrp-topo1/test_eigrp_topo1.py
  tests/topotests/evpn-pim-1/test_evpn_pim_topo1.py
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  tests/topotests/ldp-vpls-topo1/test_ldp_vpls_topo1.py
  tests/topotests/pim-basic/test_pim.py
  tests/topotests/pytest.ini
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/test_ripng_topo1.py
Labels: tests

#7844 staticd: correct table-id handling for static routes.
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vty.c
  yang/frr-staticd.yang
Labels: staticd

#7877 [7.5] staticd: correct table-id handling for static routes
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vty.c
  yang/frr-staticd.yang
Labels: staticd

#7875 zebra: set nlmsg_pid in netlink msgs sent by 'fpm'
  zebra/zebra_fpm_netlink.c
Labels: zebra

#7878 ldpd: fix sporadic failures in the ldp-topo1 topotest
  ldpd/lde.h
  ldpd/lde_lib.c
Labels: bugfix, ldp

#7881 Correct sysrepo library name in configure.ac
  configure.ac
Labels: build

#7882 tests: Set default timers to 3/10 for bgp using create_router_bgp
  tests/topotests/lib/bgp.py
Labels: tests

#7873 bgpd: Allow peer-groups to have `ttl-security hops` configured
  bgpd/bgpd.c
Labels: bgp

#7874 More pytest mark
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
  tests/topotests/bfd-isis-topo1/test_bfd_isis_topo1.py
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.py
  tests/topotests/bfd-topo1/test_bfd_topo1.py
  tests/topotests/bfd-topo2/test_bfd_topo2.py
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.py
  tests/topotests/isis-lfa-topo1/test_isis_lfa_topo1.py
  tests/topotests/isis-rlfa-topo1/test_isis_rlfa_topo1.py
  tests/topotests/isis-sr-te-topo1/test_isis_sr_te_topo1.py
  tests/topotests/isis-sr-topo1/test_isis_sr_topo1.py
  tests/topotests/isis-tilfa-topo1/test_isis_tilfa_topo1.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/isis-topo1/test_isis_topo1.py
  tests/topotests/pbr-topo1/test_pbr_topo1.py
  tests/topotests/pytest.ini
Labels: tests

#7790 ospfd: Clear ip ospf process and clear ip ospf neighbor
  doc/user/ospfd.rst
  ospfd/ospf_ase.c
  ospfd/ospf_lsa.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#7639 Scripting
  bgpd/bgp_main.c
  bgpd/bgp_routemap.c
  bgpd/bgp_script.c
  bgpd/bgp_script.h
  bgpd/subdir.am
  configure.ac
  debian/control
  debian/rules
  doc/developer/library.rst
  doc/developer/lua.rst
  doc/developer/scripting.rst
  doc/developer/subdir.am
  doc/user/index.rst
  doc/user/installation.rst
  doc/user/scripting.rst
  doc/user/subdir.am
  lib/command.c
  lib/compiler.h
  lib/frrlua.c
  lib/frrlua.h
  lib/frrscript.c
  lib/frrscript.h
  lib/libfrr.c
  lib/libfrr.h
  lib/subdir.am
Labels: bgp, documentation, libfrr, packaging

#6455 tests: Introduce BFD OSPFv2/v3 topotests
  tests/topotests/bfd-ospf-topo1/__init__.py
  tests/topotests/bfd-ospf-topo1/rt1/bfdd.conf
  tests/topotests/bfd-ospf-topo1/rt1/ospf6d.conf
  tests/topotests/bfd-ospf-topo1/rt1/ospfd.conf
  tests/topotests/bfd-ospf-topo1/rt1/step1/show_ip_route.ref
  tests/topotests/bfd-ospf-topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/bfd-ospf-topo1/rt1/step2/show_bfd_peers.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_bfd_peers_healthy.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_bfd_peers_rt2_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_bfd_peers_rt3_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ip_route_healthy.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ip_route_rt2_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ip_route_rt3_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ipv6_route_healthy.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ipv6_route_rt2_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/step3/show_ipv6_route_rt3_down.ref
  tests/topotests/bfd-ospf-topo1/rt1/zebra.conf
  tests/topotests/bfd-ospf-topo1/rt2/bfdd.conf
  tests/topotests/bfd-ospf-topo1/rt2/ospf6d.conf
  tests/topotests/bfd-ospf-topo1/rt2/ospfd.conf
  tests/topotests/bfd-ospf-topo1/rt2/step2/show_bfd_peers.ref
  tests/topotests/bfd-ospf-topo1/rt2/zebra.conf
  tests/topotests/bfd-ospf-topo1/rt3/bfdd.conf
  tests/topotests/bfd-ospf-topo1/rt3/ospf6d.conf
  tests/topotests/bfd-ospf-topo1/rt3/ospfd.conf
  tests/topotests/bfd-ospf-topo1/rt3/step2/show_bfd_peers.ref
  tests/topotests/bfd-ospf-topo1/rt3/zebra.conf
  tests/topotests/bfd-ospf-topo1/rt4/bfdd.conf
  tests/topotests/bfd-ospf-topo1/rt4/ospf6d.conf
  tests/topotests/bfd-ospf-topo1/rt4/ospfd.conf
  tests/topotests/bfd-ospf-topo1/rt4/zebra.conf
  tests/topotests/bfd-ospf-topo1/rt5/bfdd.conf
  tests/topotests/bfd-ospf-topo1/rt5/ospf6d.conf
  tests/topotests/bfd-ospf-topo1/rt5/ospfd.conf
  tests/topotests/bfd-ospf-topo1/rt5/zebra.conf
  tests/topotests/bfd-ospf-topo1/test_bfd_ospf_topo1.py
Labels: tests

#7884 Null stuff
  bgpd/bgp_attr.c
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_evpn.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_pbr.c
  bgpd/bgp_updgrp_adv.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/vnc_export_bgp.c
  lib/northbound_cli.c
  pbrd/pbr_nht.c
  zebra/dplane_fpm_nl.c
Labels: bgp, libfrr, pbr, zebra

#7863 [yang,staticd]: remove when condition from static nexthop om
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  yang/frr-nexthop.yang
Labels: staticd, yang

#7840 Bfd misc fixes
  bfdd/bfd.c
  bfdd/bfd_packet.c
  bfdd/ptm_adapter.c
Labels: bfd

#7781 [yang,bgpd] convert neighbor prefix-list and route-map to transactional clis
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_vty.c
  lib/northbound.h
  yang/frr-bgp.yang
Labels: bgp, yang

#7723 zebra: move from NDA_NOTIFY to NDA_FDB_EXT_ATTRS
  include/linux/if_bridge.h
  include/linux/neighbour.h
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/rt_netlink.c
Labels: zebra

#7655 ospfd: fix area removal at interface level
  ospfd/ospf_vty.c
Labels: ospf

#7888 lib: Fix up str2prefix usage in lua code
  lib/command.c
  lib/frrlua.c
Labels: libfrr

#7233 Route map optimizations
  doc/user/zebra.rst
  lib/routemap.c
  tests/topotests/zebra_rib/r1/iproute.ref
  tests/topotests/zebra_rib/r1/sharp_rmap.ref
  tests/topotests/zebra_rib/r1/static_rmap.ref
  tests/topotests/zebra_rib/test_zebra_rib.py
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_routemap.c
Labels: documentation, libfrr, tests, zebra

#7856 Fix leak in pim_jp_agg_single_upstream_send()
  pimd/pim_jp_agg.c
Labels: pim

#7550 isisd: if IS-IS is configured for v6, prefer v6 bfd sessions
  isisd/isis_adjacency.h
  isisd/isis_bfd.c
  isisd/isis_circuit.c
  isisd/isis_circuit.h
Labels: isis

#7436 ospfd: cosmetic function names in debug
  ospfd/ospf_lsa.c
Labels: ospf

#7832 Snmp test infra
  doc/developer/topotests.rst
  tests/topotests/lib/snmptest.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  tests/topotests/simple-snmp-test/r1/bgpd.conf
  tests/topotests/simple-snmp-test/r1/isisd.conf
  tests/topotests/simple-snmp-test/r1/snmpd.conf
  tests/topotests/simple-snmp-test/r1/zebra.conf
  tests/topotests/simple-snmp-test/test_simple_snmp.py
Labels: documentation, tests

#7891 tools: fix frr-reload BFD profile support
  tools/frr-reload.py
Labels: tools

#7782 tests: Add new scenarios to test multicast-pim-sm
  tests/topotests/lib/pim.py
  tests/topotests/multicast-pim-sm-topo3/multicast_pim_sm_topo3.json
  tests/topotests/multicast-pim-sm-topo3/multicast_pim_sm_topo4.json
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo4.py
Labels: documentation, tests

#7668 ospf6d: Json support added for command "show ipv6 ospf6 database [json]"
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_lsdb.h
  ospf6d/ospf6d.c
Labels: ospfv3

#7900 bgpd: Add afi/safi info to debug processing data
  bgpd/bgp_routemap.c
Labels: bgp

#7765 tests : Adding 3 ospf chaos testcases.
  tests/topotests/ospf_basic_functionality/ospf_chaos.json
  tests/topotests/ospf_basic_functionality/test_ospf_chaos.py
Labels: tests

#7903 doc: Update bgp doc for more rfc-8212 talk
  doc/user/bgp.rst
Labels: documentation

#7854 bgpd : multiple memory leak fixes in show commands
  bgpd/bgp_route.c
Labels: bgp

#7902 tests: Standardized Topotest PyTest Markers
  doc/developer/topotests-markers.rst
  doc/developer/topotests.rst
  tests/topotests/example-test/test_template.py
  tests/topotests/example-topojson-test/test_topo_json_multiple_links/test_example_topojson_multiple_links.py
  tests/topotests/example-topojson-test/test_topo_json_single_link/test_example_topojson.py
  tests/topotests/example-topojson-test/test_topo_json_single_link_loopback/test_example_topojson.py
  tests/topotests/pytest.ini
Labels: documentation, tests

#7904 tests: update snmp test infastructure api test_oid_walk
  tests/topotests/lib/snmptest.py
  tests/topotests/simple-snmp-test/test_simple_snmp.py
Labels: tests

#7899 bgpd: Massage Blackhole community
  bgpd/bgp_clist.c
  bgpd/bgp_community.c
  bgpd/bgp_community.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
  lib/command.h
  tests/topotests/bgp_blackhole_community/__init__.py
  tests/topotests/bgp_blackhole_community/r1/bgpd.conf
  tests/topotests/bgp_blackhole_community/r1/zebra.conf
  tests/topotests/bgp_blackhole_community/r2/bgpd.conf
  tests/topotests/bgp_blackhole_community/r2/zebra.conf
  tests/topotests/bgp_blackhole_community/r3/bgpd.conf
  tests/topotests/bgp_blackhole_community/r3/zebra.conf
  tests/topotests/bgp_blackhole_community/test_bgp_blackhole_community.py
Labels: bgp, documentation, libfrr, tests

#7906 lib: Allow us to catch abort and do some small cleanup
  lib/sigevent.c
Labels: libfrr

#7912 7.5 backports
  bfdd/bfd.c
  bfdd/bfd_packet.c
  bfdd/ptm_adapter.c
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  configure.ac
  isisd/isis_nb_config.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
  tools/frr-reload.py
  yang/frr-vrrpd.yang
  zebra/zebra_routemap.c
Labels: bfd, bgp, build, isis, ospf, ospfv3, tools, zebra

#7911 doc: fixed confusing examples in topotest marker doc
  doc/developer/topotests-markers.rst
Labels: documentation

#7890 docker: builder fixups
  docker/alpine/Dockerfile
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
Labels: docker

#7922 bgpd: Advertise BLACKHOLE community tagged prefixes to iBGP peers
  bgpd/bgp_route.c
  tests/topotests/bgp_blackhole_community/r2/bgpd.conf
  tests/topotests/bgp_blackhole_community/r2/zebra.conf
  tests/topotests/bgp_blackhole_community/r4/bgpd.conf
  tests/topotests/bgp_blackhole_community/r4/zebra.conf
  tests/topotests/bgp_blackhole_community/test_bgp_blackhole_community.py
Labels: bgp, tests

#7905 zebra, sharpd: async results for NHGs
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_zebra.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_routemap.c
  zebra/zebra_routemap.h
Labels: sharp, zebra

#7923 Gcc10 cleanups
  lib/frrlua.h
  lib/frrscript.c
  ospf6d/ospf6_asbr.c
Labels: libfrr, ospfv3

#7843 isisd: Fix Attach-bit processing
  doc/user/fabricd.rst
  doc/user/isisd.rst
  isisd/isis_cli.c
  isisd/isis_constants.h
  isisd/isis_lsp.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_pdu.c
  isisd/isis_spf.c
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/isis-lsp-bits-topo1/__init__.py
  tests/topotests/isis-lsp-bits-topo1/rt1/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt1/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step2/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step2/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step3/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step3/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step4/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/step4/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt1/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/rt2/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt2/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt2/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt2/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt2/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/rt3/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt3/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt3/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt3/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt3/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/rt4/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt4/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt4/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt4/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt4/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/rt5/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt5/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt5/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt5/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt5/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/rt6/isisd.conf
  tests/topotests/isis-lsp-bits-topo1/rt6/step1/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step1/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step2/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step2/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step3/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step3/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step4/show_ip_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/step4/show_ipv6_route.ref
  tests/topotests/isis-lsp-bits-topo1/rt6/zebra.conf
  tests/topotests/isis-lsp-bits-topo1/test_isis_lsp_bits_topo1.py
  yang/frr-isisd.yang
Labels: isis, tests

#7127 ospfd: add support for Topology Independent LFA (TI-LFA)
  doc/developer/ospf-sr.rst
  doc/user/ospfd.rst
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_memory.c
  ospfd/ospf_memory.h
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospf_sr.c
  ospfd/ospf_sr.h
  ospfd/ospf_ti_lfa.c
  ospfd/ospf_ti_lfa.h
  ospfd/ospf_vty.c
  ospfd/ospf_vty.h
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  ospfd/subdir.am
  tests/ospfd/.gitignore
  tests/ospfd/common.c
  tests/ospfd/common.h
  tests/ospfd/test_ospf_spf.c
  tests/ospfd/test_ospf_spf.in
  tests/ospfd/test_ospf_spf.py
  tests/ospfd/test_ospf_spf.refout
  tests/ospfd/topologies.c
  tests/subdir.am
  tests/topotests/ospf-tilfa-topo1/__init__.py
  tests/topotests/ospf-tilfa-topo1/rt1/ospfd.conf
  tests/topotests/ospf-tilfa-topo1/rt1/step1/show_ip_route_initial.ref
  tests/topotests/ospf-tilfa-topo1/rt1/step2/show_ip_route_initial.ref
  tests/topotests/ospf-tilfa-topo1/rt1/step2/show_ip_route_link_protection.ref
  tests/topotests/ospf-tilfa-topo1/rt1/step3/show_ip_route_initial.ref
  tests/topotests/ospf-tilfa-topo1/rt1/step3/show_ip_route_node_protection.ref
  tests/topotests/ospf-tilfa-topo1/rt1/zebra.conf
  tests/topotests/ospf-tilfa-topo1/rt2/ospfd.conf
  tests/topotests/ospf-tilfa-topo1/rt2/zebra.conf
  tests/topotests/ospf-tilfa-topo1/rt3/ospfd.conf
  tests/topotests/ospf-tilfa-topo1/rt3/zebra.conf
  tests/topotests/ospf-tilfa-topo1/rt4/ospfd.conf
  tests/topotests/ospf-tilfa-topo1/rt4/zebra.conf
  tests/topotests/ospf-tilfa-topo1/rt5/ospfd.conf
  tests/topotests/ospf-tilfa-topo1/rt5/zebra.conf
  tests/topotests/ospf-tilfa-topo1/test_ospf_tilfa_topo1.py
Labels: documentation, ospf, tests

#7928 tests: update simple_snmp_test to check for memory leaks, router failure
  tests/topotests/lib/topotest.py
  tests/topotests/simple-snmp-test/test_simple_snmp.py
Labels: tests

#7901 tests: Fix to use global variable for pim marking
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/evpn-pim-1/test_evpn_pim_topo1.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo4.py
  tests/topotests/pim-basic/test_pim.py
Labels: tests

#7898 pimd: Prevent crash with igmp only config
  pimd/pim_nb_config.c
Labels: pim

#7676 bgpd: Strip neighbors's description to 20 chars in show bgp summary
  bgpd/bgp_vty.c
Labels: bgp

#7934 pimd: Prevent use after free
  pimd/pim_instance.c
Labels: pim

#7635 bgpd: add config knobs to disable rx and tx of ead-per-evi routes
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_vty.c
  doc/user/bgp.rst
Labels: bgp, documentation

#7368 tools: add PIDFile option in frr.service
  configure.ac
  tools/.gitignore
  tools/frr.service.in
  tools/frr@.service.in
Labels: tools

#7938 zebra: debug messages go under conditionals
  zebra/kernel_netlink.c
Labels: zebra

#7925 watchfrr: fix crash on missing optional argument
  watchfrr/watchfrr.c
Labels: watchfrr

#7935 ospf6d: Track wait_timer and disable when needed
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
Labels: ospfv3

#7940 [7.6]ospf6d: Track wait_timer and disable when needed
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
Labels: ospfv3

#7936 bgpd: make sure nh is valid for MPLS vpn routes
  bgpd/bgp_fsm.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_route.c
Labels: bgp

#7433 bgpd:'bgpd' core generated on Leaf device with system-test config
  bgpd/bgp_route.c
Labels: bgp

#7952 doc: topotests-markers typo error
  doc/developer/topotests-markers.rst
Labels: documentation

#7962 bgpd: [7.5] community and large-community validation fixes
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_community.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_lcommunity.h
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_1.py
Labels: bgp

#7933 lib: restore blank line after show route header
  lib/route_types.pl
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: libfrr, tests

#7971 [7.6] lib: restore blank line after show route header
  lib/route_types.pl
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
Labels: libfrr, tests

#7967 bgpd: Add `show bgp summary wide` command
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  doc/user/bgp.rst
Labels: bgp, documentation

#7955 tests: temporarily remove isis-lsp-bit-topo1 topotest
  tests/topotests/pytest.ini
Labels: tests

#7974 More if zero
  bfdd/bfdd.c
  bgpd/bgp_fsm.c
  bgpd/bgp_pbr.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_packet.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_private.h
  eigrpd/eigrp_filter.c
  isisd/isis_bpf.c
  isisd/isis_dlpi.c
  lib/buffer.c
  lib/if.c
  lib/vty.c
  lib/workqueue.c
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_top.c
  ospfd/ospf_ase.c
  ospfd/ospf_lsa.c
  ospfd/ospf_snmp.c
  ospfd/ospf_spf.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  pbrd/pbr_nht.c
  pimd/pim_hello.c
  pimd/test_igmpv3_join.c
  ripd/rip_interface.c
  ripd/rip_snmp.c
  ripd/ripd.c
  ripngd/ripngd.c
  ripngd/ripngd.h
  zebra/rt_netlink.c
  zebra/zebra_rib.c
Labels: bfd, bgp, eigrp, isis, libfrr, ospf, ospfv3, pbr, pim, rip, ripng, zebra

#7960 BGP: "no neighbor <peer-group> allowas-in" is not resetting the peer-group member allowas_in[afi][safi].
  bgpd/bgpd.c
Labels: bgp

#7953 libs, ospfd: remove inet_ntoa
  lib/link_state.c
  ospfd/ospf_lsa.c
Labels: libfrr, ospf

#7976 bgpd: [7.6] Removing "neighbor <peer-group> allowas-in"
  bgpd/bgpd.c
Labels: bgp

#7977 bgpd: [7.5] Removing "neighbor <peer-group> allowas-in"
  bgpd/bgpd.c
Labels: bgp

#7979 [7.6] libs, ospfd: remove inet_ntoa
  lib/link_state.c
  ospfd/ospf_lsa.c
Labels: libfrr, ospf

#7970 tests: update snmp topotest api test_oid_walk
  tests/topotests/lib/snmptest.py
Labels: tests

#7984 bgpd: Remove hidden `neighbor X route-map Y <in|out>` command
  bgpd/bgp_vty.c
Labels: bgp
