Repository FRRouting/frr, pull requests merged in 2021-10, with the labels that each got.

#9712 docker: remove grpc from Travis CI
  docker/ubuntu20-ci/Dockerfile
Labels: docker

#9701 bgpd: fix build error seen when lttng is enabled
  bgpd/bgp_trace.h
Labels: bgp, bugfix

#9710 bgpd: fix access-list update callback
  bgpd/bgpd.c
Labels: bgp, bugfix

#9714 doc: fix range for bgp expanded community list
  doc/user/bgp.rst
Labels: documentation, bugfix

#9713 [8.0] vtysh: fix node walkup
  vtysh/vtysh.c
Labels: vtysh, bugfix

#9689 bgpd: initial batch of evpn lttng tracepoints
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_trace.h
  tools/frr_babeltrace.py
Labels: bgp

#9722 zebra: add nhg id to show ip route json
  zebra/zebra_vty.c
Labels: zebra

#9726 ospf6d: Ensure expire thread is properly stopped
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_nssa.c
Labels: ospfv3, bugfix

#9736 lib: fix spelling nits in command.h
  lib/command_graph.h
Labels: libfrr, bugfix

#9725 doc: fix debugging-ospf label
  doc/user/ospfd.rst
Labels: documentation, bugfix

#9744 isisd: fix redistribute CLI
  isisd/isis_cli.c
  isisd/isis_redist.c
  isisd/isisd.h
  python/clidef.py
Labels: isis, bugfix

#9711 doc: fix ospf distribute-list command and description
  doc/user/ospfd.rst
Labels: documentation, bugfix

#9743 bgpd: large community exact match fix
  bgpd/bgp_clist.c
Labels: bgp, bugfix

#9731 cleanup: struct thread = NULL
  bfdd/control.c
  isisd/fabricd.c
  isisd/isis_tx_queue.c
  ldpd/accept.c
  ldpd/interface.c
  ldpd/lde.c
  ldpd/lde_lib.c
  ldpd/ldpd.c
  ldpd/ldpe.c
  ldpd/packet.c
  nhrpd/netlink_arp.c
  nhrpd/nhrp_event.c
  nhrpd/nhrp_multicast.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_shortcut.c
  nhrpd/vici.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  pimd/pim_igmp.c
  pimd/pim_msdp_socket.c
  pimd/pim_pim.c
  tests/lib/test_timer_correctness.c
  tests/lib/test_timer_performance.c
  tools/coccinelle/struct_thread_null.cocci
  watchfrr/watchfrr.c
  zebra/irdp_main.c
  zebra/irdp_packet.c
  zebra/zebra_netns_notify.c
Labels: cleanup, tests, pim, watchfrr, isis, ospfv3, zebra, nhrp, bfd, tools, ldp

#9716 ospfd: GR helper functionality change in helper exit
  ospfd/ospf_gr_helper.c
  ospfd/ospf_nsm.c
Labels: ospf

#9724 isisd: remove unused function declaration
  isisd/isisd.h
Labels: isis

#9734 Interface startup
  zebra/if_netlink.c
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/rt_netlink.c
  zebra/rule_netlink.c
Labels: zebra

#9912 Netlink modifications
  zebra/debug_nl.c
  zebra/rt_netlink.c
Labels: zebra

#9920 tests: zebra_seg6local has a race condition
  tests/topotests/zebra_seg6_route/r1/routes.json
  tests/topotests/zebra_seg6_route/test_zebra_seg6_route.py
  tests/topotests/zebra_seg6local_route/test_zebra_seg6local_route.py
Labels: tests, zebra

#9916 tests: Fix `check_ping` function in test_bgp_srv6l3vpn_to_bgp_vrf.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/test_bgp_srv6l3vpn_to_bgp_vrf.py
Labels: tests
