Repository FRRouting/frr, pull requests merged in 2021-08, with the labels that each got.

#9244 tests: add early interface config for topojson and fix test
  tests/topotests/bgp_listen_on_multiple_addresses/test_bgp_listen_on_multiple_addresses.py
  tests/topotests/lib/topojson.py
Labels: bugfix, tests

#9211 lib: prevent crash in make check in some situations
  lib/frr_zmq.c
Labels: bugfix, libfrr

#8982 Function-based Lua hook call
  bgpd/bgp_routemap.c
  doc/developer/scripting.rst
  lib/command.c
  lib/frrlua.c
  lib/frrlua.h
  lib/frrscript.c
  lib/frrscript.h
  tests/lib/script1.lua
  tests/lib/test_frrscript.c
Labels: bgp, bugfix, documentation, libfrr, tests

#9238 lib, zebra: Preserve user-configured VRF on netns deletion
  lib/vrf.c
  zebra/zebra_netns_notify.c
Labels: libfrr, zebra

#9255 bgpd: Set extended msg size only if we advertised and received capability
  bgpd/bgp_open.c
Labels: bgp

#9258 zebra: use strlcpy in dplane_rule_init
  zebra/zebra_dplane.c
Labels: zebra

#9056 bgpd: Clear capabilities field when resetting a bgp neighbor
  bgpd/bgp_fsm.c
  bgpd/bgpd.c
Labels: bgp

#9259 *: can't get enough JSON
  bgpd/bgp_filter.c
  doc/user/bgp.rst
  doc/user/filter.rst
  doc/user/routemap.rst
  doc/user/zebra.rst
  lib/filter.c
  lib/plist.c
  lib/routemap.c
  zebra/interface.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_ptm.c
  zebra/zebra_ptm.h
Labels: bgp, bugfix, libfrr, zebra

#9249 bgpd: Use strict AS4 capability when processing parsing/generating pkts
  bgpd/bgp_attr.c
  tests/topotests/bgp_dont_capability_negogiate/__init__.py
  tests/topotests/bgp_dont_capability_negogiate/r1/bgpd.conf
  tests/topotests/bgp_dont_capability_negogiate/r1/zebra.conf
  tests/topotests/bgp_dont_capability_negogiate/r2/bgpd.conf
  tests/topotests/bgp_dont_capability_negogiate/r2/zebra.conf
  tests/topotests/bgp_dont_capability_negogiate/test_bgp_dont_capability_negotiate.py
Labels: bgp, tests

#9245 bgpd: [8.0] BGP dampening backports
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
Labels: bgp, bugfix

#9243 bgpd: Revert a couple of BGP dampening related commits
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
Labels: bugfix

#9239 ospfd: fix "no ip ospf passive" command
  ospfd/ospf_vty.c
Labels: bugfix, ospf

#9231 zebra: remove checks for src address existence when using "set src"
  doc/user/zebra.rst
  zebra/zebra_routemap_nb_config.c
Labels: zebra

#9191 ripd: fix authentication key length
  ripd/ripd.c
Labels: bugfix, rip

#9164 bgpd: flowspec redirect vrf uses vrf table instead of allocated table id
  bgpd/bgp_pbr.c
  bgpd/bgp_zebra.c
Labels: bgp

#9264 nhrp: fix display of nhs command.
  nhrpd/nhrp_vty.c
Labels: bugfix

#9092 ospfd: OSPF hello packets not sent with configured hello timer
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
Labels: ospf

#9085 pimd: memory leak fix and issue fix
  pimd/pim_ifchannel.c
  pimd/pim_rp.c
Labels: pim

#8182 tests: make the topogen object available when starting daemons
  tests/topotests/lib/topotest.py
Labels: tests

#9291 tests: Remove sleep(200) from bgp-evpn-overlay-index-gateway
  tests/topotests/bgp-evpn-overlay-index-gateway/test_bgp_evpn_overlay_index_gateway.py
Labels: bugfix, tests

#9261 bgpd: Handle quick flaps of an EVPN prefix properly
  bgpd/bgp_route.c
Labels: bgp, bugfix

#9050 Chopps/reset parallel
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topogen.py
Labels: tests, tools

#9023 staticd: simplify the northbound code
  staticd/static_nb_config.c
  staticd/static_nht.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_zebra.c
  staticd/static_zebra.h
Labels: staticd

#9302 bgpd: Fix misleading comments for some parts
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_snmp.c
  lib/plist.c
  ripd/rip_snmp.c
Labels: cleanup, bgp

#9294 ospfd: fix coverity warning
  ospfd/ospf_interface.c
Labels: ospf, bugfix

#9280 BGP NB revert
  bgpd/bgp_main.c
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/subdir.am
  tests/bgpd/test_peer_attr.c
  tests/subdir.am
Labels: bugfix

#9256 BGP per-peer dampening revert
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/exabgp.env
  tests/topotests/bgp_features/peer1/exa_readpipe.py
  tests/topotests/bgp_features/peer1/exabgp.cfg
  tests/topotests/bgp_features/peer2/exa_readpipe.py
  tests/topotests/bgp_features/peer2/exabgp.cfg
  tests/topotests/bgp_features/peer3/exa_readpipe.py
  tests/topotests/bgp_features/peer3/exabgp.cfg
  tests/topotests/bgp_features/peer4/exa_readpipe.py
  tests/topotests/bgp_features/peer4/exabgp.cfg
  tests/topotests/bgp_features/r1/bgp_damp_announced.json
  tests/topotests/bgp_features/r1/bgp_damp_setup.json
  tests/topotests/bgp_features/r2/bgp_damp_announced.json
  tests/topotests/bgp_features/r2/bgp_damp_withdrawn.json
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bugfix

#9312 topotests: small fixes for two tests
  tests/topotests/bfd_topo2/r2/ospf6d.conf
  tests/topotests/bfd_topo2/r4/ospf6d.conf
  tests/topotests/bfd_topo2/test_bfd_topo2.py
  tests/topotests/msdp_topo1/test_msdp_topo1.py
Labels: tests

#9320 [8.0] bgp per-peer dampening revert
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_features/exabgp.env
  tests/topotests/bgp_features/peer1/exa_readpipe.py
  tests/topotests/bgp_features/peer1/exabgp.cfg
  tests/topotests/bgp_features/peer2/exa_readpipe.py
  tests/topotests/bgp_features/peer2/exabgp.cfg
  tests/topotests/bgp_features/peer3/exa_readpipe.py
  tests/topotests/bgp_features/peer3/exabgp.cfg
  tests/topotests/bgp_features/peer4/exa_readpipe.py
  tests/topotests/bgp_features/peer4/exabgp.cfg
  tests/topotests/bgp_features/r1/bgp_damp_announced.json
  tests/topotests/bgp_features/r1/bgp_damp_setup.json
  tests/topotests/bgp_features/r2/bgp_damp_announced.json
  tests/topotests/bgp_features/r2/bgp_damp_withdrawn.json
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bugfix

#9315 pathd: a couple of cli/doc fixes
  doc/user/pathd.rst
  pathd/path_cli.c
  pathd/path_ted.c
Labels: documentation, bugfix

#9311 [8.0] bgpd: limit the length of opaque data sent to zebra
  bgpd/bgp_zebra.c
Labels: bgp, bugfix

#9313 BGP opaque data improvements
  lib/route_opaque.h
Labels: bgp

#9253 pimd: Allow more permisive versions of some no commands
  pimd/pim_cmd.c
Labels: pim

#9283 doc: Specify how aggregate-address works for BGP
  doc/user/bgp.rst
Labels: documentation

#8870 tools: add "vni" to oneline list
  tools/frr-reload.py
Labels: tools

#8262 nhrp misc fixes
  nhrpd/nhrp_shortcut.c
  nhrpd/nhrp_vty.c
Labels: nhrp, bugfix

#9325 lib: Fix coverity warning of return value
  lib/frrlua.c
Labels: libfrr

#9305 bgpd: fix typo in ensure_vrf_tovpn_sid
  bgpd/bgp_mplsvpn.c
Labels: bgp, bugfix

#9324 bgpd: Store distance received from a redistribute statement
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
Labels: bgp

#9273 lib: Fix dead code from lua_dofile
  lib/frrscript.c
Labels: libfrr

#9299 Zebra should continue
  lib/zclient.c
  zebra/zebra_mpls.c
Labels: zebra, libfrr

#9219 tools: Add ospfv2 and ospfv3 commands in support bundle
  tools/etc/frr/support_bundle_commands.conf
Labels: ospf, ospfv3, tools

#9321 zebra: Prevent memory leak if route is rejected early
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: zebra

#9343 bgpd: Fix bgp routes filtering by [l]community-list
  bgpd/bgp_clist.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_community_alias.h
  tests/topotests/bgp_community_alias/r1/bgpd.conf
  tests/topotests/bgp_community_alias/test_bgp-community-alias.py
Labels: tests, bgp

#9328 bgpd: bgp_packet_process_error can access peer after deletion
  bgpd/bgp_io.c
  bgpd/bgpd.h
Labels: bgp

#9300 ospfd: Cleanup ospf_interface.h to work with our standards
  ospfd/ospf_interface.h
Labels: ospf

#9290 ospf6d: Check the cost only when asbr_present for ECMP routes
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#9348 lib: lua: consecutive script calls
  doc/developer/scripting.rst
  lib/frrscript.c
  lib/frrscript.h
  tests/lib/test_frrscript.c
Labels: documentation, tests, libfrr, bugfix

#9349 redhat: Install frr.conf only if no per daemon config exists
  redhat/frr.spec.in
Labels: packaging

#9236 zebra: use a separate dummy prefix for referencing v6 nexthops
  zebra/zebra_evpn_mh.c
  zebra/zebra_vxlan.c
Labels: zebra, bugfix

#9210 bgpd: We need to initialize the community alias hash
  bgpd/bgpd.c
Labels: bgp

#9298 zebra: Ensure stream meets some level of stringency for fuzzing
  zebra/zapi_msg.c
Labels: zebra

#9289 ospfd: Do not leak memory when fuzzing
  ospfd/ospf_lsa.c
Labels: ospf

#9319 lib: Switch to zapi fuzzing as higher priority
  lib/zebra.h
Labels: libfrr

#9330 vtysh: fix daemon for srv6 commands
  vtysh/vtysh.c
Labels: vtysh, bugfix

#9367 zebra: ignore unknown address-family in netlink route msg
  zebra/rt_netlink.c
Labels: zebra

#9370 redhat: Install frr.conf only if no per daemon config exists
  redhat/frr.spec.in
Labels: packaging

#9376 a couple of ospf6 doc fixes
  doc/user/ospf6d.rst
Labels: documentation, bugfix

#9304 Zebra random stuff
  zebra/debug.c
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: zebra

#9374 zebra: clean up nhg allocations in error path
  zebra/zapi_msg.c
Labels: zebra

#9371 zebra: Ensure stream is long enough
  zebra/zebra_evpn_mh.c
Labels: zebra

#9361 ospf6d: JSON output for database dump show command
  lib/frrstr.c
  lib/frrstr.h
  ospf6d/ospf6_lsa.c
Labels: ospfv3, libfrr

#9389 zebra: interface name must be a valid string
  zebra/if_netlink.c
Labels: zebra

#9338 staticd: replace NB checks with assert
  staticd/static_nb_config.c
  staticd/static_routes.c
Labels: staticd

#9394 bgpd: Stop prepending peer-as if self-originated and lastas configured
  bgpd/bgp_routemap.c
Labels: bgp

#9377 [8.0] doc: move ospf6 area commands to the appropriate section
  doc/user/ospf6d.rst
Labels: documentation

#9399 doc: Replace typo BANDIWDTH to BANDWIDTH
  doc/user/zebra.rst
Labels: documentation

#9391 tests: add feature to not run ospfd test when opted out
  tests/subdir.am
Labels: tests

#9265 bgpd: Extended community bandwidth fixes
  bgpd/bgp_ecommunity.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb_config.c
  lib/routemap.h
  lib/routemap_cli.c
Labels: bgp, bugfix

#9369 bgpd: fix various memleaks when using community aliases
  bgpd/bgp_clist.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_community_alias.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
Labels: bgp, bugfix

#9388 ospfd: Prevent fuzzing mem leak due to event avoidance
  ospfd/ospf_packet.c
Labels: ospf

#9395 pimd: Prevent memory leak
  pimd/pim_bsm.c
Labels: pim

#9375 vtysh, pathd: fix pcep node-entering commands
  pathd/path_pcep_cli.c
  vtysh/vtysh.c
Labels: vtysh, bugfix

#9404 Scan lib/resolver.c only when c-ares is installed
  lib/subdir.am
Labels: libfrr

#9358 bgpd: [8.0] Fix bgp routes filtering by [l]community-list
  bgpd/bgp_clist.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_community_alias.h
Labels: bgp, bugfix

#9413 zebra: RTM_GETNEIGH messages may be used by nhrp
  zebra/kernel_netlink.c
Labels: zebra, nhrp

#9417 bgpd: Return rmap match if large-community alias found
  bgpd/bgp_routemap.c
Labels: bgp

#9402 Rpki processing
  bgpd/bgp_rpki.c
Labels: bgp

#9383 ospfd: fix initialization when vrf doesn't exist yet
  ospfd/ospfd.c
Labels: ospf, bugfix

#9385 bgpd: fix segfault when re-adding "match evpn default-route" rule
  lib/routemap.c
Labels: bgp, bugfix

#9365 lib: fix prefix-list duplication check
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
Labels: libfrr, bugfix

#9366 yang: mark a couple of prefix-list/access-list leafs as mandatory
  yang/frr-filter.yang
Labels: bugfix, yang

#9342 OSPF6d: Fixed assert at ospf6_originate_summary_lsa asbr.c:2849 and flushing of Type-7 LSAs
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_flood.c
Labels: ospfv3, bugfix

#9421 [8.0] ospfd: explicitly exit from the router node
  ospfd/ospf_vty.c
Labels: ospf

#9408 ospfd: Summarised External LSA is not flushed in one scenario
  ospfd/ospf_flood.c
  ospfd/ospf_lsa.c
Labels: ospf

#9341 tools: add ospfd support bundle commands
  tools/etc/frr/support_bundle_commands.conf
Labels: tests, tools

#9431 Snap update to 18.04 base
  snapcraft/README.snap_build.md
  snapcraft/README.usage.md
  snapcraft/defaults/pathd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/pathd-service
  snapcraft/snapcraft.yaml.in
Labels: packaging

#9430 [8.0] Snap update to 18.04 base
  snapcraft/README.snap_build.md
  snapcraft/README.usage.md
  snapcraft/defaults/pathd.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/pathd-service
  snapcraft/snapcraft.yaml.in
Labels: packaging

#9218 Improve pim timers
  doc/user/pim.rst
  lib/command.h
  pimd/pim_cmd.c
  pimd/pim_instance.h
  pimd/pim_nb_config.c
  pimd/pim_upstream.c
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_sm_topo1/multicast_pim_sm_topo1.json
  tests/topotests/multicast_pim_sm_topo1/test_multicast_pim_sm_topo1.py
  tests/topotests/multicast_pim_sm_topo2/multicast_pim_sm_topo2.json
  tests/topotests/multicast_pim_sm_topo3/multicast_pim_sm_topo3.json
  tests/topotests/multicast_pim_sm_topo3/multicast_pim_sm_topo4.json
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast_pim_static_rp_topo1/multicast_pim_static_rp.json
  yang/frr-igmp.yang
  yang/frr-pim.yang
Labels: tests, pim, bugfix

#8935 ospf6d: Support for ospfv3 graceful restart helper functionality
  doc/user/ospf6d.rst
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_gr.h
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
  ospf6d/ospf6d.h
  ospf6d/subdir.am
Labels: ospfv3

#9447 zebra: Fix usage to enum in notify functions
  zebra/zapi_msg.c
  zebra/zapi_msg.h
Labels: zebra

#9450 tests: fix broken bgp GR test (non-deterministic)
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/lib/bgp.py
Labels: tests, bugfix

#9453 tests: uniq vrf names when using netns
  tests/topotests/bfd_vrf_topo1/r1/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r1/bgpd.conf
  tests/topotests/bfd_vrf_topo1/r1/zebra.conf
  tests/topotests/bfd_vrf_topo1/r2/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r2/bgpd.conf
  tests/topotests/bfd_vrf_topo1/r2/zebra.conf
  tests/topotests/bfd_vrf_topo1/r3/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r3/bgpd.conf
  tests/topotests/bfd_vrf_topo1/r3/zebra.conf
  tests/topotests/bfd_vrf_topo1/r4/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r4/bgpd.conf
  tests/topotests/bfd_vrf_topo1/r4/zebra.conf
  tests/topotests/bfd_vrf_topo1/test_bfd_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
  tests/topotests/bgp_vrf_netns/r1/bgpd.conf
  tests/topotests/bgp_vrf_netns/r1/summary.txt
  tests/topotests/bgp_vrf_netns/r1/summary20.txt
  tests/topotests/bgp_vrf_netns/r1/zebra.conf
  tests/topotests/bgp_vrf_netns/test_bgp_vrf_netns_topo.py
  tests/topotests/lib/common_config.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
  tests/topotests/ospf_topo1_vrf/r1/ospfd.conf
  tests/topotests/ospf_topo1_vrf/r1/ospfroute.txt
  tests/topotests/ospf_topo1_vrf/r1/ospfroute_down.txt
  tests/topotests/ospf_topo1_vrf/r1/zebra.conf
  tests/topotests/ospf_topo1_vrf/r1/zebraroute.txt
  tests/topotests/ospf_topo1_vrf/r1/zebraroutedown.txt
  tests/topotests/ospf_topo1_vrf/r2/ospfd.conf
  tests/topotests/ospf_topo1_vrf/r2/ospfroute.txt
  tests/topotests/ospf_topo1_vrf/r2/ospfroute_down.txt
  tests/topotests/ospf_topo1_vrf/r2/zebra.conf
  tests/topotests/ospf_topo1_vrf/r2/zebraroute.txt
  tests/topotests/ospf_topo1_vrf/r2/zebraroutedown.txt
  tests/topotests/ospf_topo1_vrf/r3/ospfd.conf
  tests/topotests/ospf_topo1_vrf/r3/ospfroute.txt
  tests/topotests/ospf_topo1_vrf/r3/ospfroute_down.txt
  tests/topotests/ospf_topo1_vrf/r3/zebra.conf
  tests/topotests/ospf_topo1_vrf/r3/zebraroute.txt
  tests/topotests/ospf_topo1_vrf/r3/zebraroutedown.txt
  tests/topotests/ospf_topo1_vrf/test_ospf_topo1_vrf.py
Labels: tests

#9441 staticd: warn on attempted delete of non-existent route
  staticd/static_vty.c
Labels: staticd

#9455 tests: use std polling for results in zebra_rib test
  tests/topotests/zebra_rib/test_zebra_rib.py
Labels: tests

#9426 bgpd: imported evpn rt5 routes copy igpmetric
  bgpd/bgp_evpn.c
Labels: bgp

#9436 vtysh: add "exit" for bfd's profile node
  vtysh/vtysh.c
Labels: vtysh

#9434 zebra: fix wrong check of mpls command
  zebra/zebra_mpls_vty.c
Labels: zebra, bugfix

#9446 ospf6d: External LSAs reoriginates on every redistribute CLI
  ospf6d/ospf6_asbr.c
Labels: ospfv3, bugfix

#9464 doc: merge duplicated ospf6d debugging sections
  doc/user/ospf6d.rst
Labels: documentation

#9462 snapcraft: add missing dependency
  snapcraft/snapcraft.yaml.in
Labels: packaging

#9460 tests: fix ospf json config confusion
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
Labels: tests, bugfix

#8729 tests: ospf routemap basic test cases 2.
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
Labels: tests

#9310 ospfd: NSSA area should not exchange Type-4 LSAs in DD
  ospfd/ospf_nsm.c
Labels: ospf

#7876 tests: ospf gr helper topotests with scapy.
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/ospf_gr_helper/ospf_gr_helper.json
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper.py
Labels: tests

#9458 ospf6d: fix lock leak of using ALL_LSDB in GR helper
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_lsdb.h
Labels: ospfv3, bugfix

#9457 ospf6d: suppress coverity warning of return value
  ospf6d/ospf6_gr_helper.c
Labels: ospfv3

#9449 ospf6d: NSSA fixes
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_nssa.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_spf.c
  tests/topotests/ospf6_topo2/r1/ospf6d.conf
  tests/topotests/ospf6_topo2/r2/ospf6d.conf
  tests/topotests/ospf6_topo2/r3/ospf6d.conf
  tests/topotests/ospf6_topo2/r4/ospf6d.conf
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: tests, ospfv3, bugfix

#9414 pimd: IGMPv2 query timer gets delayed in a scenario
  pimd/pim_nb_config.c
Labels: pim

#9435 pimd: IGMP groups are not getting timeout
  pimd/pim_igmpv3.c
Labels: pim

#9474 lib: remove the dependency on bgpd code
  bgpd/bgp_ecommunity.h
  bgpd/bgp_routemap_nb_config.c
  lib/routemap.h
  lib/routemap_cli.c
Labels: libfrr

#9488 Fix nhrp neigh state
  lib/zclient.c
  lib/zclient.h
  nhrpd/nhrp_route.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
Labels: zebra, nhrp, libfrr, bugfix

#9499 isisd: Fix sending of LSP with null seqno
  isisd/isis_lsp.c
  tests/isisd/test_isis_lspdb.c
Labels: isis

#9503 ospf6d: extend the "redistribute" command with more options
  doc/user/ospf6d.rst
  ospf6d/ospf6_asbr.c
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: ospfv3

#9511 tests: fix ospf ASBR summary test
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
Labels: tests

#9484 doc: add a missing field for bgp summary's display
  doc/user/bgp.rst
Labels: documentation

#8964 tests: configure/reset routers in parallel
  tests/topotests/bgp_basic_functionality_topo1/test_bgp_basic_functionality.py
  tests/topotests/conftest.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/pim.py
  tests/topotests/lib/topojson.py
Labels: tests

#9502 lib, vtysh: make node-processing code more generic
  lib/command.c
  vtysh/vtysh.c
Labels: vtysh, libfrr

#9518 bgpd: Drop redundand `WORD` for no_neighbor_interface_cmd
  bgpd/bgp_vty.c
Labels: bgp

#9522 ospfd: add dead-interval 40 if configured in show running
  ospfd/ospf_vty.c
Labels: ospf, bugfix

#9525 ospfd: correctly cleanup spf data
  ospfd/ospf_spf.c
Labels: ospf
