Repository FRRouting/frr, pull requests merged in 2021-04, with the labels that each got.

#8383 bgpd: fix build warnings
  bgpd/bgp_rpki.c
Labels: bgp

#8385 Fix "no bfd" crash
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb_config.c
  vtysh/vtysh.c
Labels: bfd

#8386 [7.5] Fix "no bfd" crash
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb_config.c
  vtysh/vtysh.c
Labels: bfd

#8375 build: add pceplib test output to gitignore
  .gitignore
  pceplib/.gitignore
Labels: build

#8382 Add support for 'rd all' in EVPN and L3VPN commands
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
Labels: bgp, documentation

#8376 lib, ripngd: Remove inet6_ntoa
  lib/prefix.c
  lib/prefix.h
  ripngd/ripng_peer.c
  ripngd/ripngd.c
Labels: libfrr, ripng

#8392 ospfd: ignore duplicated "ip ospf area" commands
  ospfd/ospf_vty.c
Labels: ospf

#8364 Added pathd to the init files
  tools/etc/frr/daemons
  tools/frrcommon.sh.in
Labels: tools

#8378 bgpd: increase the maximum number of neighbors in a listen group
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  yang/frr-bgp-common.yang
Labels: bgp

#8240 nhrp: NAT fixes
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_packet.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_shortcut.c
  nhrpd/nhrp_vty.c
  nhrpd/nhrpd.h
  nhrpd/zbuf.c
  nhrpd/zbuf.h
Labels: nhrp

#8348 yang, bgpd: add northbound transactional callbacks for neighbor route-map for af l2vpn-evpn
  bgpd/bgp_nb.c
  bgpd/bgp_nb.h
  bgpd/bgp_nb_config.c
  yang/frr-bgp.yang
Labels: bgp, yang

#8384 tools: do in-place SRGB/SRLB changes
  tools/frr-reload.py
Labels: tools

#8391 bgpd: prefix-list and route-map nb fixes
  bgpd/bgp_nb_config.c
Labels: bgp, northbound

#8360 tests: Fix for BGP_GR test failures
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#8295 topotest: stabilize OSPFv3 topology
  tests/topotests/ospf-topo1/r1/ospf6d.conf-pre-v4
  tests/topotests/ospf-topo1/r2/ospf6d.conf-pre-v4
  tests/topotests/ospf-topo1/r3/ospf6d.conf-pre-v4
  tests/topotests/ospf-topo1/r4/ospf6d.conf-pre-v4
  tests/topotests/ospf-topo1/test_ospf_topo1.py
  tests/topotests/ospf6-topo1/r1/ospf6d.conf
  tests/topotests/ospf6-topo1/r2/ospf6d.conf
  tests/topotests/ospf6-topo1/r3/ospf6d.conf
  tests/topotests/ospf6-topo1/r4/ospf6d.conf
  tests/topotests/ospf6-topo1/test_ospf6_topo1.py
Labels: tests

#8407 tests: Nexthop should not be changed if peer X shares a common subnet
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/__init__.py
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r1/bgpd.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r1/zebra.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r2/bgpd.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r2/zebra.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r3/bgpd.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/r3/zebra.conf
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/test_bgp-ebgp-common-subnet-nexthop-unchanged.py
Labels: tests

#8405 zebra: don't process LSPs with backups immediately
  zebra/debug.c
  zebra/debug.h
  zebra/zebra_mpls.c
Labels: zebra

#8371 [7.5] access-list and prefix-list fixes
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
Labels: libfrr

#8393 [7.5] ospfd: ignore duplicated "ip ospf area" commands
  ospfd/ospf_vty.c
Labels: ospf

#8390 [7.5] tools: frr-reload fixes for deleting vrf static routes
  tools/frr-reload.py
Labels: tools

#8411 nhrpd: Fixup tab usage and sockunion2str usage
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
Labels: nhrp

#8415 ospfd: permit over-write of message-digest-key
  ospfd/ospf_vty.c
Labels: ospf

#8416 [7.5] lib: Fix label-stack comparison for nexthops
  lib/nexthop.c
Labels: libfrr

#7434 bgpd: BGP session not established for ipv6 link local address with vrf config
  bgpd/bgp_network.c
  bgpd/bgp_zebra.c
  tests/topotests/bgp_vrf_ipv6_link_local/__init__.py
  tests/topotests/bgp_vrf_ipv6_link_local/r1/bgpd.conf
  tests/topotests/bgp_vrf_ipv6_link_local/r1/zebra.conf
  tests/topotests/bgp_vrf_ipv6_link_local/r2/bgpd.conf
  tests/topotests/bgp_vrf_ipv6_link_local/r2/zebra.conf
  tests/topotests/bgp_vrf_ipv6_link_local/test_bgp_vrf_ipv6_ll_func.py
Labels: bgp

#8402 tests: fix for l3mdev topotests on kernel 4.19
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_linux_vrf.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topotest.py
Labels: tests

#8424 bgpd: always allow no advertise-svi-ip/default-gw
  bgpd/bgp_evpn_vty.c
Labels: bgp

#8422 ospfd: fix crash on "show ip ospf neighbor detail"
  bgpd/bgp_bfd.c
  lib/bfd.c
Labels: ospf

#8433 bgpd: Remove dead code regarding prefix_rd allocation
  bgpd/bgp_mplsvpn.c
Labels: bgp

#8428 vtysh: add "show memory" for a single daemon
  doc/user/basic.rst
  vtysh/vtysh.c
Labels: documentation, vtysh

#8432 bgpd: Use bool type to check if use32bit ASN
  bgpd/bgp_attr.c
Labels: bgp

#8427 lib: use platform-neutral value for TCP MD5 signature len
  pathd/path_pcep.h
  pceplib/pcep.h
  pceplib/pcep_pcc.c
  pceplib/pcep_session_logic.h
  pceplib/pcep_socket_comm.h
Labels: libfrr

#8435 ospfd: fix crash on interface/vrf removal
  ospfd/ospf_interface.c
Labels: ospf

#8429 Markit
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bgp-ecmp-topo1/test_bgp_ecmp_topo1.py
  tests/topotests/bgp-ecmp-topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp-ecmp-topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/bgp-snmp-mplsl3vpn/test_bgp_snmp_mplsvpn.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_instance_del_test/test_bgp_instance_del_test.py
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.py
  tests/topotests/bgp_large_community/test_bgp_large_community_topo_2.py
  tests/topotests/bgp_lu_topo1/test_bgp_lu.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_peer-group/test_bgp_peer-group.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/bgp_sender-as-path-loop-detection/test_bgp_sender-as-path-loop-detection.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
  tests/topotests/conftest.py
  tests/topotests/isis-snmp/test_isis_snmp.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/ldp-snmp/test_ldp_snmp_topo1.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/topotest.py
  tests/topotests/multicast-pim-bsm-topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast-pim-bsm-topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast-pim-sm-topo3/test_multicast_pim_sm_topo4.py
  tests/topotests/multicast-pim-static-rp-topo1/test_multicast_pim_static_rp.py
  tests/topotests/ospf-sr-topo1/test_ospf_sr_topo1.py
  tests/topotests/ospf-te-topo1/test_ospf_te_topo1.py
  tests/topotests/ospf-topo1/test_ospf_topo1.py
  tests/topotests/ospf6-topo2/test_ospf6_topo2.py
  tests/topotests/ospf_basic_functionality/test_ospf_chaos.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/ospf_suppress_fa/test_ospf_suppress_fa.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo4_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo4_ibgp.py
Labels: tests

#8445 doc: document BGP neighbor timers
  doc/user/bgp.rst
Labels: documentation

#8444 doc: vaguely describe system requirements
  doc/user/overview.rst
Labels: documentation

#8438 doc: Check for convergence, not sleep for convergence
  doc/developer/topotests.rst
Labels: documentation

#8440 doc: describe acceptable commit messages
  doc/developer/workflow.rst
Labels: documentation

#8421 fix xrelfo on ARM(32) & cross-compile
  lib/elf_py.c
  pathd/subdir.am
  pceplib/pcep_msg_tlvs_encoding.c
  pceplib/test/pcep_msg_tlvs_test.c
  python/clippy/elf.py
Labels: clippy, libfrr

#8454 [7.5] lib: fix check for duplicated access-list entries
  lib/filter_cli.c
Labels: libfrr

#8453 bgpd: fix pending commit check
  bgpd/bgp_vty.c
Labels: bgp

#8451 bfdd: fix nb cli show with defaults
  bfdd/bfdd_cli.c
Labels: bfd, northbound

#8100 *: remove *.conf.sample files
  babeld/.gitignore
  babeld/babeld.conf.sample
  babeld/subdir.am
  bfdd/bfdd.conf.sample
  bfdd/subdir.am
  bgpd/bgpd.conf.sample
  bgpd/bgpd.conf.vnc.sample
  bgpd/subdir.am
  debian/frr.dirs
  debian/frr.install
  debian/rules
  doc/developer/building-frr-for-alpine.rst
  doc/user/babeld.rst
  doc/user/eigrpd.rst
  doc/user/fabricd.rst
  doc/user/ldpd.rst
  doc/user/ospf6d.rst
  doc/user/ospfd.rst
  doc/user/pathd.rst
  doc/user/pbr.rst
  doc/user/pim.rst
  doc/user/ripd.rst
  doc/user/ripngd.rst
  eigrpd/eigrpd.conf.sample
  eigrpd/subdir.am
  isisd/fabricd.conf.sample
  isisd/isisd.conf.sample
  isisd/subdir.am
  ldpd/ldpd.conf.sample
  ldpd/subdir.am
  ospf6d/ospf6d.conf.sample
  ospf6d/subdir.am
  ospfd/ospfd.conf.sample
  ospfd/subdir.am
  pathd/pathd.conf.sample
  pathd/subdir.am
  pbrd/pbrd.conf.sample
  pbrd/subdir.am
  pimd/pimd.conf.sample
  pimd/subdir.am
  redhat/frr.spec.in
  ripd/ripd.conf.sample
  ripd/subdir.am
  ripngd/ripngd.conf.sample
  ripngd/subdir.am
  sharpd/sharpd.conf.sample
  sharpd/subdir.am
  staticd/staticd.conf.sample
  staticd/subdir.am
  tools/etc/frr/frr.conf
  vrrpd/subdir.am
  vtysh/subdir.am
  vtysh/vtysh.conf.sample
  zebra/subdir.am
  zebra/zebra.conf.sample
Labels: packaging, tools

#8288 lib, vtysh: re-add support for spaces in 'find'
  doc/user/basic.rst
  lib/command.c
  vtysh/vtysh.c
Labels: documentation, libfrr, vtysh

#8396 ospfd: fix output of dead-interval in show running
  ospfd/ospf_vty.c
Labels: ospf

#8389 lib: convert route-map optimization to NB
  doc/user/routemap.rst
  lib/routemap.c
  lib/routemap.h
  lib/routemap_cli.c
  lib/routemap_northbound.c
  vtysh/vtysh_config.c
  yang/frr-route-map.yang
Labels: documentation, libfrr, northbound

#8145 nhrp: use zebra
  lib/log.c
  lib/zclient.c
  lib/zclient.h
  nhrpd/linux.c
  nhrpd/netlink_arp.c
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_route.c
  nhrpd/nhrpd.h
  nhrpd/vici.c
  nhrpd/zbuf.c
  tests/topotests/nhrp-topo/r1/nhrp4_cache.json
  tests/topotests/nhrp-topo/r1/nhrp_route4.json
  tests/topotests/nhrp-topo/r1/nhrpd.conf
  tests/topotests/nhrp-topo/r1/zebra.conf
  tests/topotests/nhrp-topo/r2/nhrp4_cache.json
  tests/topotests/nhrp-topo/r2/nhrp_route4.json
  tests/topotests/nhrp-topo/r2/nhrpd.conf
  tests/topotests/nhrp-topo/r2/zebra.conf
  tests/topotests/nhrp-topo/r3/zebra.conf
  tests/topotests/nhrp-topo/test_nhrp_topo.dot
  tests/topotests/nhrp-topo/test_nhrp_topo.py
  zebra/interface.c
  zebra/kernel_netlink.c
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_socket.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zserv.c
  zebra/zserv.h
Labels: libfrr, nhrp, zebra

#8426 lib: fix interface nb stale pointers
  lib/if.c
  zebra/if_netlink.c
Labels: libfrr

#8439 [7.5] lib: fix interface nb stale pointers
  lib/if.c
  zebra/if_netlink.c
Labels: libfrr

#8431 bgpd: Add `show bgp version <version>` command
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vpn.c
  doc/user/bgp.rst
Labels: bgp, documentation, tests

#8414 various acl/plist cli fixes
  lib/filter.c
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
Labels: libfrr, northbound

#8153 nhrp, ospf: add nhrp multicast for OSPF DMVPN
  doc/user/nhrpd.rst
  doc/user/ospfd.rst
  nhrpd/linux.c
  nhrpd/netlink.h
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_multicast.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_vty.c
  nhrpd/nhrpd.h
  nhrpd/os.h
  nhrpd/subdir.am
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_lsa.c
  ospfd/ospf_packet.c
  ospfd/ospf_spf.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
Labels: nhrp, ospf

#8448 bgpd: Show RPKI short state in `show bgp <afi> <safi>`
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv4-post4.1.ref
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv4-post5.0.ref
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv4-post6.1.ref
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv6-post4.1.ref
  tests/topotests/all-protocol-startup/r1/show_bgp_ipv6_post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post6.1.ref
Labels: bgp, documentation, tests

#8446 bgpd: Add `show bgp json detail` command
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
Labels: bgp, documentation

#8320 lib: remove "ip prefix-list sequence-number" command
  doc/user/filter.rst
  lib/plist.c
Labels: libfrr

#8450 vtysh: Set history file on demand
  doc/manpages/vtysh.rst
  vtysh/vtysh_main.c
Labels: documentation, vtysh

#8356 Enable basic travis CI using new Ubuntu docker containers
  .travis.yml
  doc/developer/building-docker.rst
  docker/ubuntu18-ci/Dockerfile
  docker/ubuntu18-ci/README.md
  docker/ubuntu18-ci/docker-start
  docker/ubuntu20-ci/Dockerfile
  docker/ubuntu20-ci/README.md
  docker/ubuntu20-ci/docker-start
Labels: documentation

#8003 lib: Differentiate between real and cpu bound processes
  lib/lib_errors.c
  lib/lib_errors.h
  lib/thread.c
  lib/thread.h
  lib/vty.c
Labels: libfrr

#8470 nhrpd: fix coverity warning about os_socket()
  nhrpd/linux.c
Labels: nhrp

#8469 bgpd: don't overrun fixed zapi array of nexthops
  bgpd/bgp_evpn_mh.c
Labels: bgp

#8467 lib: fix access-list deletion
  lib/filter.c
  lib/filter_nb.c
Labels: bugfix, libfrr

#8477 lib: fix BFD crash on interface removal
  lib/bfd.c
Labels: libfrr

#8437 tests: Do not sleep(5) when verifying bgp communities
  tests/topotests/lib/bgp.py
Labels: do not merge, tests

#8483 lib: disable ASAN redzone around xref_p/xref_array
  lib/xref.h
Labels: libfrr

#8465 fix vtysh_scan SNAFUs
  lib/log_vty.c
  lib/subdir.am
  lib/thread.c
  pathd/subdir.am
  python/vtysh-cmd-check.py
  vtysh/extract.pl.in
  vtysh/vtysh.c
  zebra/subdir.am
Labels: clippy, vtysh

#8468 [7.5] lib: fix access-list deletion
  lib/filter.c
  lib/filter_nb.c
Labels: bugfix, libfrr

#8490 bgpd: fix uninit value when handling bgp read errs
  bgpd/bgp_io.c
Labels: bgp

#8434 Python pylint stuff
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_vrf_dynamic_route_leak/test_bgp_vrf_dynamic_route_leak_topo1.py
Labels: tests

#8491 Fix several Alpine build issues related to ELF parsing
  alpine/APKBUILD.in
  docker/alpine/Dockerfile
Labels: docker, packaging

#8502 ospf6d: Fix coredump when "no interface IFNAME area <A.B.C.D>" is called
  ospf6d/ospf6_top.c
Labels: ospfv3

#8500 bgpd: Fix clang-format/indentation for show_ip_bgp_large_community_list_cmd
  bgpd/bgp_route.c
Labels: bgp

#8511 doc: fix ospfd maximum-paths command
  doc/user/ospfd.rst
Labels: bugfix, documentation

#8503 lib: 640k backtraces should be enough for everybody
  lib/sigevent.c
  lib/zlog.c
Labels: bugfix, libfrr

#8518 [7.5] fix debian 10 ci
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_linux_vrf.py
  tests/topotests/bgp_vrf_lite_ipv6_rtadv/test_bgp_vrf_lite_ipv6_rtadv.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/lib/common_config.py
Labels: bugfix, tests

#8512 [7.5] Cherry-picking #8309
  tools/frrcommon.sh.in
Labels: tools

#8501 bgpd: Check for flag existense for community instead of `if not NULL`
  bgpd/bgp_route.c
Labels: bgp

#8456 bgpd: Address LL peer not NHT when receiving connection attempt
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_network.c
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
Labels: bgp

#8455 ospfd: install Type-7 when NSSA area is configured after redistribution
  ospfd/ospf_abr.c
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf

#8361 bgpd: vrf route leaking related fixes
  bgpd/bgp_ecommunity.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nb_config.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  zebra/redistribute.c
Labels: bgp

#8482 docker: prefer CMD to ENTRYPOINT for flexibility
  docker/alpine/Dockerfile
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
  docker/debian/Dockerfile
  docker/debian/docker-start
  docker/ubuntu18-ci/Dockerfile
  docker/ubuntu20-ci/Dockerfile
Labels: docker

#8505 ospf6d: Do not delete external table when configure max-path
  ospf6d/ospf6_top.c
Labels: ospfv3

#8516 pimd: fix crash pim register-suppress-time command
  pimd/pim_nb_config.c
Labels: bugfix, pim

#8529 Reload complaining about using `is not`
  tools/frr-reload.py
Labels: tools

#8528 build: more cleaning
  Makefile.am
  babeld/babel_main.c
  bgpd/bgp_bmp.c
  bgpd/bgp_mplsvpn_snmp.c
  bgpd/bgp_rpki.c
  bgpd/bgp_snmp.c
  bgpd/rfp-example/rfptest/subdir.am
  bgpd/subdir.am
  bootstrap.sh
  configure.ac
  fpm/fpm_pb.h
  grpc/subdir.am
  isisd/isis_snmp.c
  isisd/subdir.am
  ldpd/ldp_snmp.c
  ldpd/subdir.am
  lib/agentx.c
  lib/command_lex.l
  lib/command_parse.y
  lib/defaults.c
  lib/libfrr.c
  lib/module.c
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  lib/pid_output.c
  lib/sha256.c
  lib/sockopt.c
  lib/subdir.am
  lib/version.h.in
  lib/zebra.h
  m4/.gitignore
  m4/ax_lua.m4
  nhrpd/nhrp_main.c
  ospf6d/ospf6_snmp.c
  ospf6d/subdir.am
  ospfd/ospf_snmp.c
  ospfd/subdir.am
  pathd/path_pcep.c
  pathd/path_pcep_cli.c
  pathd/path_pcep_controller.c
  pathd/path_pcep_pcc.c
  pathd/subdir.am
  pceplib/subdir.am
  pceplib/test/subdir.am
  pimd/pim_main.c
  qpb/subdir.am
  ripd/rip_snmp.c
  ripd/subdir.am
  tests/subdir.am
  version.h
  zebra/irdp_main.c
  zebra/subdir.am
  zebra/zebra_fpm.c
  zebra/zebra_mlag_private.c
  zebra/zebra_ptm.c
  zebra/zebra_routemap.c
  zebra/zebra_snmp.c
Labels: bugfix

#8533 [7.5] yang: fix zebra module
  yang/frr-zebra.yang
Labels: bugfix, yang

#8536 lib: remove enabled flag for bfd sessions
  bgpd/bgp_bfd.c
  lib/bfd.c
  lib/bfd.h
  ospfd/ospf_bfd.c
Labels: libfrr

#8539 Isis circuit warning
  isisd/isis_circuit.h
  isisd/isis_csm.c
  isisd/isis_csm.h
Labels: isis

#8462 pimd: rework BFD integration and add profile support
  doc/user/bfd.rst
  lib/bfd.c
  pimd/pim_bfd.c
  pimd/pim_bfd.h
  pimd/pim_cmd.c
  pimd/pim_iface.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_neighbor.c
  pimd/pim_neighbor.h
  tests/topotests/pim-basic-topo2/__init__.py
  tests/topotests/pim-basic-topo2/r1/bfdd.conf
  tests/topotests/pim-basic-topo2/r1/pimd.conf
  tests/topotests/pim-basic-topo2/r1/zebra.conf
  tests/topotests/pim-basic-topo2/r2/bfdd.conf
  tests/topotests/pim-basic-topo2/r2/pimd.conf
  tests/topotests/pim-basic-topo2/r2/zebra.conf
  tests/topotests/pim-basic-topo2/r3/bfdd.conf
  tests/topotests/pim-basic-topo2/r3/pimd.conf
  tests/topotests/pim-basic-topo2/r3/zebra.conf
  tests/topotests/pim-basic-topo2/r4/bfdd.conf
  tests/topotests/pim-basic-topo2/r4/pimd.conf
  tests/topotests/pim-basic-topo2/r4/zebra.conf
  tests/topotests/pim-basic-topo2/test_pim_basic_topo2.dot
  tests/topotests/pim-basic-topo2/test_pim_basic_topo2.png
  tests/topotests/pim-basic-topo2/test_pim_basic_topo2.py
  yang/frr-pim.yang
Labels: bugfix, documentation, libfrr, pim, tests, yang

#8495 ospf6d: rework BFD integration and add BFD profiles support
  doc/user/bfd.rst
  lib/bfd.c
  lib/bfd.h
  ospf6d/ospf6_bfd.c
  ospf6d/ospf6_bfd.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
  tests/topotests/bfd-profiles-topo1/r4/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r4/bfdd.conf
  tests/topotests/bfd-profiles-topo1/r4/ospf6d.conf
  tests/topotests/bfd-profiles-topo1/r5/bfd-peers-initial.json
  tests/topotests/bfd-profiles-topo1/r5/ospf6d.conf
Labels: documentation, libfrr, ospfv3, tests

#8543 bgpd: fix invalid labeled nexthop check
  bgpd/bgp_nht.c
Labels: bgp, bugfix

#8526 doc: Start talking about useful sysctl's for proper zebra operation
  doc/user/Useful_Sysctl_Settings.md
  doc/user/zebra.rst
Labels: documentation

#8555 tests: fix bfd-bgp-cbit-topo3 test
  tests/topotests/bfd-bgp-cbit-topo3/r1/peers_down.json
Labels: bugfix, tests

#8540 tests: Remove kill_mininet_router_process
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2.py
  tests/topotests/bgp_multi_vrf_topo1/test_bgp_multi_vrf_topo1.py
  tests/topotests/bgp_multi_vrf_topo2/test_bgp_multi_vrf_topo2.py
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/lib/common_config.py
Labels: tests

#8534 lib, pathd PCEP: creating threads before forking does _not_ work
  ldpd/lde.c
  ldpd/ldpe.c
  lib/frr_pthread.c
  lib/libfrr.c
  lib/libfrr.h
  lib/northbound_sysrepo.c
  pathd/path_pcep.c
Labels: ldp, libfrr

#8549 zebra: Proto-NHG Fix Graceful-Restart-Retain Crash Loop
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: zebra

#8520 zebra: Add some flavor documentation for ECMP in zebra
  doc/user/zebra.rst
Labels: zebra

#8548 bgpd: prevent doppelganger overwrite of subsuquently configured cli
  bgpd/bgp_fsm.c
Labels: bgp

#8565 eigrpd: validate TLV lengths
  eigrpd/eigrp_hello.c
Labels: eigrp

#8538 zebra: include nexthops' label stacks in zebra rib debug
  zebra/zebra_rib.c
Labels: zebra

#8517 ldpd: defer register for info until configured
  ldpd/ldp_vty_conf.c
  ldpd/ldp_zebra.c
  ldpd/ldpd.h
  zebra/redistribute.c
Labels: ldp, zebra

#8553 bgpd: fix bgp_get_vty return values
  bgpd/bgp_evpn.c
  bgpd/bgp_nb_config.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, bugfix

#8488 lib, zebra: use zebra workqueue for NHG updates
  lib/zclient.h
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
Labels: libfrr, zebra

#8572 build: fix pthread CFLAGS for function checks
  configure.ac
Labels: bugfix

#8487 ospf6d: add 'show ipv6 ospf6 vrfs' command
  ospf6d/ospf6_top.c
Labels: ospfv3

#8527 lib: fix zlog assert() & CLI node_exit
  lib/command.c
  lib/command.h
  lib/zlog_targets.c
Labels: bugfix, libfrr

#8531 zebra: Misc fixups for backup nexthops
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
Labels: bugfix, zebra

#8583 tests: fix topotest polling log
  tests/topotests/lib/topotest.py
Labels: bugfix, tests

#8322 Assorted topotests cleanup
  tests/topotests/conftest.py
  tests/topotests/lib/pim.py
Labels: documentation, tests

#8546 tests: Add pytest bgpd markers for recent BGP tests
  tests/topotests/bgp-default-ipv4-ipv6-unicast/test_bgp-default-ipv4-ipv6-unicast.py
  tests/topotests/bgp-ebgp-common-subnet-nexthop-unchanged/test_bgp-ebgp-common-subnet-nexthop-unchanged.py
Labels: tests

#8586 doc: clang in openbsd is the default and update compiler.
  doc/developer/building-frr-for-openbsd6.rst
Labels: documentation

#8559 tests: fix build warning
  lib/printfrr.h
Labels: bugfix, tests

#8110 lib: Routemap is not getting applied upon changing the routemap action
  lib/routemap_northbound.c
Labels: libfrr

#8579 [7.5] backport #8527
  lib/command.c
  lib/command.h
  lib/zlog_targets.c
Labels: bugfix, libfrr

#8592 zebra: msgdump debug strangeness cleanup
  zebra/debug.c
Labels: zebra

#8591 sharpd: use correct list of redist protocols in remove lsp
  sharpd/sharp_vty.c
Labels: sharp

#8409 ospfd: Fixing few valgrind issues
  ospfd/ospf_asbr.c
Labels: ospf

#7165 Fix zapi codec badness
  bgpd/bgp_evpn.c
  bgpd/bgp_zebra.c
  lib/zclient.c
  lib/zclient.h
  pimd/pim_zlookup.c
  zebra/rtadv.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_mroute.c
  zebra/zebra_vxlan.c
Labels: bgp, libfrr, pim, zebra

#7789 ospfd: show ip ospf interface displays only BDR info, Added DR info.
  ospfd/ospf_vty.c
  tests/topotests/all-protocol-startup/r1/show_ip_ospf_interface.ref
Labels: ospf

#8569 doc: add evpn discussion of svi and arp cache
  doc/user/bgp.rst
Labels: documentation

#8585 ospfd: Fixed some ASAN errors
  ospfd/ospf_te.c
Labels: ospf

#8588 a lot of isis fixes
  doc/user/isisd.rst
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_cli.c
  isisd/isis_csm.c
  isisd/isis_ldp_sync.c
  isisd/isis_ldp_sync.h
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_snmp.c
  isisd/isis_vty_fabricd.c
  isisd/isis_zebra.c
  isisd/isisd.c
  isisd/isisd.h
  tests/isisd/test_isis_spf.c
  tests/topotests/isis-snmp/test_isis_snmp.py
  tests/topotests/isis-sr-topo1/test_isis_sr_topo1.py
  tests/topotests/ldp-sync-isis-topo1/r3/show_isis_ldp_sync.ref
  tests/topotests/ldp-sync-isis-topo1/r3/show_isis_ldp_sync_r1_eth1_shutdown.ref
  tests/topotests/ldp-sync-isis-topo1/r3/show_isis_ldp_sync_r2_eth1_shutdown.ref
  yang/frr-isisd.yang
Labels: bugfix, isis, yang

#8576 zebra: prevent from crashing if link of macvlan interface not found
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
Labels: bugfix, zebra
