Repository FRRouting/frr, pull requests merged in 2021-12, with the labels that each got.

#9878 lib: resolver per vrf support
  bgpd/bgp_bmp.c
  lib/resolver.c
  lib/resolver.h
  nhrpd/nhrp_nhs.c
  tests/lib/test_resolver.c
Labels: libfrr

#10150 tests: Fix Daemon Killing to actually notice when a deamon dies
  tests/topotests/lib/topotest.py
Labels: tests

#9942 bgpd: clearer safi handling for BGP-LU route updates
  bgpd/bgp_label.c
  bgpd/bgp_route.c
Labels: bgp

#9708 pimd: hello sent stats counter change and new flag addition to decide hello send
  pimd/pim_hello.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_neighbor.c
  pimd/pim_pim.c
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo4.py
Labels: tests, pim

#10110 lib, yang: remove vrf from the interface list key
  lib/if.c
  lib/vrf.c
  yang/frr-interface.yang
  yang/ietf/frr-ietf-translator.json
Labels: libfrr, yang

#10164 pimd: Modifying members of pim_interface to accommodate IPv6 changes
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmpv3.c
  pimd/pim_mroute.c
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  pimd/pim_zebra.c
Labels: pim, feature

#10166 isisd: fix running-config for fast-reroute
  isisd/isis_cli.c
Labels: isis, bugfix

#9396 vtysh: fix duplicated output of key chain configuration
  vtysh/vtysh_config.c
Labels: vtysh, bugfix

#10017 pimd: handle vxlan sg add/del for upstream entries that are in a reg-join state
  pimd/pim_vxlan.c
Labels: pim

#10169 doc: add missing route-map match command
  doc/user/routemap.rst
Labels: documentation

#10170 lib: routemap config output cleanup
  lib/routemap_cli.c
Labels: libfrr

#10165 tests: Test if BGP session is up additionally for route_server_client setup
  tests/topotests/bgp_route_server_client/r1/bgpd.conf
  tests/topotests/bgp_route_server_client/r2/bgpd.conf
  tests/topotests/bgp_route_server_client/r3/bgpd.conf
  tests/topotests/bgp_route_server_client/test_bgp_route_server_client.py
Labels: tests

#10144 bgpd: Handle Delete status when peers flapping for BMP
  bgpd/bgp_bmp.c
Labels: bgp

#10177 pceplib: fix style issues
  pceplib/pcep_msg_objects.h
  pceplib/pcep_msg_tools.c
  pceplib/pcep_pcc.c
  pceplib/pcep_session_logic.c
  pceplib/test/pcep_msg_messages_test.c
  pceplib/test/pcep_msg_tools_test.c
  pceplib/test/pcep_session_logic_loop_test.c
Labels: bugfix

#10039 frr-reload: fix bgp nbr remote-as rendering
  tools/frr-reload.py
Labels: bugfix

#10120 bfdd: fix detection timeout update
  bfdd/bfd.c
  bfdd/bfd_packet.c
Labels: bfd, bugfix

#10081 ospf6d: do not originate Type-4 lsa when NSSA
  ospf6d/ospf6_abr.c
Labels: ospfv3

#10135 tests: Allow ripng_topo1 to converge a bit faster
  tests/topotests/ripng_topo1/r1/ripng_status.ref
  tests/topotests/ripng_topo1/r1/ripngd.conf
  tests/topotests/ripng_topo1/r2/ripng_status.ref
  tests/topotests/ripng_topo1/r2/ripngd.conf
  tests/topotests/ripng_topo1/r3/ripng_status.ref
  tests/topotests/ripng_topo1/r3/ripngd.conf
Labels: tests

#10187 tools: exit when reload fails to parse config file
  tools/frr-reload.py
Labels: tools

#10186 bfdd: remove unnecessary receive timer restart
  bfdd/bfd.c
Labels: bfd

#10148 zebra: add optional NHG ID output to `show ip ro`
  zebra/zebra_vty.c
Labels: zebra

#9937 tools: add a script to generate a draft release changelog
  doc/developer/frr-release-procedure.rst
  tools/release_notes.py
Labels: tools

#9899 zebra: Add support for json output in srv6 locator detail command
  lib/srv6.c
  lib/srv6.h
  zebra/zebra_srv6_vty.c
Labels: zebra

#9472 doc: Augmented pathd documentation.
  doc/user/images/pathd_config.png
  doc/user/images/pathd_general.png
  doc/user/images/pathd_initiated_multi.png
  doc/user/pathd.rst
Labels: documentation

#10214 bgpd: fix BGP ORF Prefix-length matching
  lib/plist.c
Labels: bgp, bugfix

#10168 pimd: Modifying name of structures to accommodate IPv6 changes.
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_igmp.c
  pimd/pim_igmp.h
  pimd/pim_igmp_mtrace.c
  pimd/pim_igmp_mtrace.h
  pimd/pim_igmpv2.c
  pimd/pim_igmpv2.h
  pimd/pim_igmpv3.c
  pimd/pim_igmpv3.h
  pimd/pim_mroute.c
  pimd/pim_nb_config.c
  pimd/pim_zebra.c
  pimd/pim_zebra.h
Labels: pim, vtysh, bugfix, pimv6

#10167 pimd: Modifying struct igmp_join to struct gm_join to accomodate IPv6
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_igmp.h
  pimd/pim_vty.c
Labels: pim, pimv6

#10211 doc: fix undefined label warning
  doc/user/pathd.rst
Labels: documentation, bugfix

#10224 configure.ac: drop --enable-pcep option and HAVE_PATHD_PCEP
  configure.ac
  vtysh/vtysh.c
Labels: build

#10213 isisd: fix use after free
  isisd/isis_adjacency.c
Labels: isis, bugfix

#10243 pathd: fix typo in pathd/path_ted.c
  pathd/path_ted.c
Labels: bugfix

#10236 configure.ac: fix enable_bmp typo
  configure.ac
Labels: build, bugfix

#10181 doc: Add `default-originate route-map WORD` for bgpd
  doc/user/bgp.rst
Labels: documentation

#10245 zebra: correct one spell error
  zebra/zebra_vxlan.c
Labels: zebra

#10250 bgpd: No need to test if a thread is running for BGP_TIMER_OFF
  bgpd/bgp_fsm.c
  bgpd/bgpd.c
Labels: bgp

#10098 ospfd: fix incorrect detection of topology changes in helper mode
  ospfd/ospf_abr.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper.py
  tests/topotests/ospf_gr_topo1/test_ospf_gr_topo1.py
Labels: review & merge me, ospf, bugfix

#10182 tools: clang-format break after operators
  .clang-format
Labels: tools

#9750 zebra: add installed nexthop-group id value
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: zebra

#10216 lib: fix NULL VRF free, shuffle cmdline options
  lib/libfrr.c
  lib/libfrr.h
  lib/vrf.c
Labels: libfrr

#10255 doc: fix typo in ldpd docs
  doc/user/ldpd.rst
Labels: documentation, bugfix

#8494 bgpd, tests: Add code to handle failed installations
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
  tests/topotests/bgp_suppress_fib/r1/bgp_ipv4_allowas.json
  tests/topotests/bgp_suppress_fib/r2/bgp_ipv4_allowas.json
  tests/topotests/bgp_suppress_fib/r2/bgpd.allowas_in.conf
  tests/topotests/bgp_suppress_fib/r2/bgpd.conf
  tests/topotests/bgp_suppress_fib/r2/no_bgp_ipv4_allowas.json
  tests/topotests/bgp_suppress_fib/r2/v4_override.json
  tests/topotests/bgp_suppress_fib/r3/v4_override.json
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
Labels: tests, bgp, bugfix

#10256 zebra: cleanup checking zebra_evpn_mac_add function's return value
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_neigh.c
Labels: zebra

#10259 ospf6d: clean coverity warning of possible null pointer
  ospf6d/ospf6_abr.c
Labels: ospfv3

#10261 bgpd: Drop `if 0` blocks
  bgpd/bgp_route.c
  bgpd/bgpd.c
Labels: bgp

#10254 bgpd: Fix typo in bgp_aggr_community_hash_alloc()
  bgpd/bgp_community.c
Labels: bgp

#10219 tests: Further fix bgp_l3vpn_to_bgp_vrf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
Labels: tests, bugfix
