Repository FRRouting/frr, pull requests merged in 2021-07, with the labels that each got.

#8965 bgpd: fix coverity warning
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix

#8871 pimd: rework MSDP peer and add tests
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_msdp_packet.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/msdp_mesh_topo1/test_msdp_mesh_topo1.py
  tests/topotests/msdp_topo1/__init__.py
  tests/topotests/msdp_topo1/r1/bgpd.conf
  tests/topotests/msdp_topo1/r1/pimd.conf
  tests/topotests/msdp_topo1/r1/zebra.conf
  tests/topotests/msdp_topo1/r2/bgpd.conf
  tests/topotests/msdp_topo1/r2/pimd.conf
  tests/topotests/msdp_topo1/r2/zebra.conf
  tests/topotests/msdp_topo1/r3/bgpd.conf
  tests/topotests/msdp_topo1/r3/pimd.conf
  tests/topotests/msdp_topo1/r3/zebra.conf
  tests/topotests/msdp_topo1/r4/bgpd.conf
  tests/topotests/msdp_topo1/r4/pimd.conf
  tests/topotests/msdp_topo1/r4/zebra.conf
  tests/topotests/msdp_topo1/test_msdp_topo1.py
  yang/frr-pim.yang
Labels: pim, tests, yang

#8954 ospf6d: route-map config changed, not getting applied on all types of…
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_top.h
Labels: ospfv3

#8962 bgpd: Ensure v6 LL address is available before establishing peering
  bgpd/bgp_zebra.c
Labels: bgp

#8795 ospf6d: fix LSAs remain in LSDB with an old router-id value
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
Labels: ospfv3

#8955 ospfd: show ip ospf route json does not shown metric and tag
  ospfd/ospf_vty.c
Labels: ospf

#8969 pimd: allow MSDP timers to be configured
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_instance.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  yang/frr-pim.yang
Labels: documentation, pim, yang

#8974 Revert "ospf6d: fix LSAs remain in LSDB with an old router-id value"
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
Labels: bugfix

#7674 Convert the packaging to use git-buildpackage
  .gitignore
  Makefile.am
  changelog-auto.in
  configure.ac
  debian/changelog
  debian/gbp.conf
  debian/tests/py-frr-reload
  doc/developer/frr-release-procedure.rst
  doc/developer/packaging-debian.rst
  tools/build-debian-package.sh
  tools/tarsource.sh
Labels: documentation, packaging, to backport, tools

#8888 Improvement to Lua hook system
  bgpd/bgp_routemap.c
  bgpd/bgp_script.c
  bgpd/bgp_script.h
  configure.ac
  doc/developer/scripting.rst
  docker/ubuntu20-ci/Dockerfile
  lib/command.c
  lib/compiler.h
  lib/frrlua.c
  lib/frrlua.h
  lib/frrscript.c
  lib/frrscript.h
  lib/sockunion.c
  lib/sockunion.h
  tests/.gitignore
  tests/lib/script1.lua
  tests/lib/test_frrlua.c
  tests/lib/test_frrlua.py
  tests/lib/test_frrscript.c
  tests/lib/test_frrscript.py
  tests/subdir.am
Labels: bgp, bugfix, documentation, libfrr, tests

#8979 topotests: speed up MSDP convergence speed
  tests/topotests/msdp_mesh_topo1/r1/pimd.conf
  tests/topotests/msdp_mesh_topo1/r2/pimd.conf
  tests/topotests/msdp_mesh_topo1/r3/pimd.conf
  tests/topotests/msdp_topo1/r1/pimd.conf
  tests/topotests/msdp_topo1/r2/pimd.conf
  tests/topotests/msdp_topo1/r3/pimd.conf
  tests/topotests/msdp_topo1/r4/pimd.conf
Labels: tests

#8976 bgpd: Unlock bgp_dest for bgp_distance_unset if distance does not match
  bgpd/bgp_route.c
Labels: bgp

#8958 bgpd: nht unresolved with global address next-hop
  bgpd/bgp_nht.c
Labels: bgp

#8939 Speedup support bundles, fix bugs, add CLI timestamp
  tests/topotests/lib/common_config.py
  tests/topotests/multicast_pim_sm_topo1/test_multicast_pim_sm_topo1.py
  tools/generate_support_bundle.py
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
  vtysh/vtysh_main.c
Labels: bugfix, tests, vtysh

#8975 zebra: Do not escape forward slashes for `show ip route json`
  zebra/zebra_vty.c
Labels: bugfix, zebra

#8972 bgpd: Extended message support potential fixes
  bgpd/bgp_fsm.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.c
Labels: bgp

#8942 Another round of cleanup
  bfdd/dplane.c
  bgpd/bgp_aspath.c
  bgpd/bgp_attr.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_mpath.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  lib/buffer.c
  lib/csv.c
  lib/link_state.c
  lib/network.c
  lib/ntop.c
  lib/prefix.c
  lib/sockopt.c
  lib/stream.c
  lib/zclient.c
  tools/coccinelle/xcalloc-xmalloc.cocci
Labels: bgp, libfrr, tools

#8508 remove libsystemd-dev external dependency & --enable-systemd switch
  alpine/APKBUILD.in
  configure.ac
  debian/README.Debian
  debian/control
  debian/rules
  doc/developer/building-frr-for-archlinux.rst
  doc/developer/building-frr-for-centos7.rst
  doc/developer/building-frr-for-centos8.rst
  doc/developer/building-frr-for-debian8.rst
  doc/developer/building-frr-for-debian9.rst
  doc/developer/building-frr-for-fedora.rst
  doc/developer/building-frr-for-opensuse.rst
  doc/developer/building-frr-for-ubuntu1604.rst
  doc/developer/building-frr-for-ubuntu1804.rst
  doc/developer/building-frr-for-ubuntu2004.rst
  doc/developer/include-compile.rst
  doc/developer/packaging-debian.rst
  doc/developer/packaging-redhat.rst
  doc/user/installation.rst
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
  docker/ubuntu18-ci/Dockerfile
  docker/ubuntu20-ci/Dockerfile
  lib/libfrr.c
  lib/systemd.c
  lib/systemd.h
  redhat/frr.spec.in
  watchfrr/watchfrr.c
Labels: documentation, libfrr, watchfrr

#8945 bgpd: Parse as withdrawal if AS-PATH contains 0 within the path
  bgpd/bgp_attr.c
  tests/bgpd/test_aspath.c
  tests/topotests/bgp_aspath_zero/__init__.py
  tests/topotests/bgp_aspath_zero/exabgp.env
  tests/topotests/bgp_aspath_zero/peer1/exabgp.cfg
  tests/topotests/bgp_aspath_zero/r1/bgpd.conf
  tests/topotests/bgp_aspath_zero/r1/zebra.conf
  tests/topotests/bgp_aspath_zero/test_bgp_aspath_zero.py
Labels: bgp, tests, to backport

#8930 Ospf6 packet debug
  ospf6d/ospf6_message.c
Labels: bugfix, ospfv3

#8919 ospf6d: Max aged LSAs are not getting deleted from DB
  ospf6d/ospf6_flood.c
Labels: ospfv3

#8987 ospf6d: Fix crash in ospf6_asbr_lsa_remove at ospf6d/ospf6_asbr.c:696
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#8991 lib: fix coverity unused result warning
  lib/systemd.c
Labels: bugfix, libfrr

#8997 lib: Allow ZAPI_MESSAGE_OPAQUE_LENGTH length of data
  lib/zclient.c
Labels: bugfix, libfrr, to backport

#9009 zebra: [7.5] handle "show evpn es-evi" a non-existent VNI
  zebra/zebra_evpn_mh.c
Labels: zebra

#8978 ospf6d : Send LSA update immediately when ospf instance is deleted
  ospf6d/ospf6_message.c
Labels: ospfv3

#9016 ospf6d: fix backlink check
  ospf6d/ospf6_spf.c
Labels: bugfix, ospfv3

#9010 doc,lib,ospfd,ospf6d: trivial improvements
  doc/user/ospf6d.rst
  lib/prefix.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_asbr.c
  ospfd/ospf_flood.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
Labels: bugfix, documentation, libfrr, ospf, ospfv3

#9004 staticd: fix bug of Null0 wrongly converted into blackhole in running config
  staticd/static_routes.c
Labels: bugfix, staticd

#9027 bgpd: Don't forget bgp_dest_unlock_node for bgp_static_set()
  bgpd/bgp_route.c
Labels: bgp

#9029 ospf6d: Correct spelling in debug
  ospf6d/ospf6_interface.c
Labels: ospfv3

#8734 bgpd: Do not delete peer_af structure when deactivating peer-group from an address-family.
  bgpd/bgpd.c
Labels: bgp

#9037 ospf6d: fix freebsd mcast group issues
  ospf6d/ospf6_interface.c
Labels: bugfix, ospfv3

#8998 bgpd: [8.0] Fixes for BGP extended message support
  bgpd/bgp_fsm.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.c
Labels: bgp

#9015 bgpd: Inconsistency in Local BGP GR state.
  bgpd/bgp_fsm.c
Labels: bgp

#8999 bgpd: [8.0] Parse as withdrawal if AS-PATH contains 0 within the path
  bgpd/bgp_attr.c
  tests/bgpd/test_aspath.c
  tests/topotests/bgp_aspath_zero/__init__.py
  tests/topotests/bgp_aspath_zero/exabgp.env
  tests/topotests/bgp_aspath_zero/peer1/exabgp.cfg
  tests/topotests/bgp_aspath_zero/r1/bgpd.conf
  tests/topotests/bgp_aspath_zero/r1/zebra.conf
  tests/topotests/bgp_aspath_zero/test_bgp_aspath_zero.py
Labels: bgp, tests

#8961 bgpd: associate correct nexthop when using peer link-local
  bgpd/bgp_zebra.c
Labels: bgp

#9039 bgpd: Do not check for NULL values for vni_hash_cmp()
  bgpd/bgp_evpn.c
  tools/coccinelle/hash_compare_null_values_check.cocci
Labels: bgp, tools

#9024 isisd: fix setting of the attached bit
  isisd/isis_lsp.c
  isisd/isis_lsp.h
  isisd/isis_spf.c
  isisd/isisd.c
  isisd/isisd.h
Labels: bugfix, isis

#8893 bgpd: add knob to config cond-adv scanner period
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_conditional_adv.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#9041 doc: replace next-hop-self all with force
  doc/user/bgp.rst
Labels: documentation

#9051 bgpd: fix crash during configuration removal
  bgpd/bgp_bfd.c
Labels: bgp, bugfix, to backport

#9018 tests: add triage features: strace, asan-abort, and shells/vtys/gdbs for docker runs too
  tests/topotests/conftest.py
  tests/topotests/docker/frr-topotests.sh
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests

#9065 configure.ac: fix help text to --enable-undefined-sanitizer
  configure.ac
Labels: bugfix, build

#9055 bgpd: Reflect changes to pfxSnt when using default-originate
  bgpd/bgp_updgrp_packet.c
  tests/topotests/bgp_default_route/r2/bgpd.conf
  tests/topotests/bgp_default_route/test_bgp_default-originate.py
Labels: bgp, bugfix, tests

#9053 ospf6d: remove extra debug message
  ospf6d/ospf6_message.c
Labels: ospfv3

#9038 bgpd: XREALLOC handles NULL properly
  bgpd/bgp_attr.c
  bgpd/bgp_community.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_lcommunity.c
  bgpd/bgpd.c
Labels: bgp

#9049 tools: improve frr-reload.py delta file creation
  tests/topotests/lib/common_config.py
  tools/frr-reload.py
Labels: tools

#9068 tests: Reduce bgp_conditional_advertisement converge time 10x
  tests/topotests/bgp_conditional_advertisement/r1/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/r2/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/r3/bgpd.conf
Labels: tests

#8946 tests: Adding lib changes for bgp peer type verification.
  tests/topotests/evpn_type5_test_topo1/evpn_type5_topo1.json
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#9001 pimd: When passing lookup information back pass the fully resolved
  zebra/zapi_msg.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
Labels: pim, zebra

#9063 zebra: fix ifp pointer for groups/recursives
  zebra/zebra_nhg.c
Labels: bugfix, zebra

#9062 bgpd: BGP dampening JSON fixes
  bgpd/bgp_route.c
Labels: bgp

#9061 doc: Document the maximum-paths command for bgp
  doc/user/bgp.rst
Labels: documentation

#9075 bgpd: Allow for auto-completion of community alias's created
  bgpd/bgp_community_alias.c
  bgpd/bgp_community_alias.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
Labels: bgp

#9080 bgpd: Drop unnecessary chars for filtered reason
  bgpd/bgp_route.c
Labels: bgp

#8554 lib,zebra: move some evpn dplane installation to the zebra workqueue
  lib/route_types.txt
  tests/topotests/bgp_evpn_vxlan_topo1/test_bgp_evpn_vxlan.py
  zebra/rib.h
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/rtread_netlink.c
  zebra/rtread_sysctl.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_evpn_neigh.h
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: libfrr, tests, zebra

#9074 pimd: IGMPv3 conformance fixes for invalid TTL and invalid TOS
  pimd/pim_igmp.c
  pimd/pim_igmp.h
Labels: bugfix, pim

#9093 ospfd: ospfd crash while giving 'clear ip ospf neighbor'
  ospfd/ospf_vty.c
Labels: ospf

#9095 ospf6d: always generate default route for stubs
  ospf6d/ospf6_abr.c
Labels: bugfix, ospfv3, to backport

#9098 zebra: Mark some bsd interface prefixes as SECONDARY
  zebra/kernel_socket.c
Labels: bugfix, zebra

#8956 bgpd: prevent routes loop through itself
  bgpd/bgp_evpn.c
  bgpd/bgp_fsm.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_route.c
  tests/topotests/bgp_basic_functionality_topo1/test_bgp_basic_functionality.py
Labels: bgp, bugfix

#9105 vtysh, lib, zebra: fix exit from link-params and pseudowire nodes
  lib/command.c
  vtysh/vtysh.c
Labels: bugfix, libfrr, vtysh, zebra

#9102 build: fix LDFLAGS confusion & gcov
  Makefile.am
  bgpd/subdir.am
  configure.ac
  fpm/subdir.am
  grpc/subdir.am
  isisd/subdir.am
  ldpd/subdir.am
  lib/subdir.am
  mlag/subdir.am
  ospf6d/subdir.am
  ospfclient/subdir.am
  ospfd/subdir.am
  pathd/subdir.am
  qpb/subdir.am
  ripd/subdir.am
  zebra/subdir.am
Labels: bugfix

#9091 zebra: trigger remove all access vlans info for access port
  zebra/if_netlink.c
Labels: zebra

#9082 bgpd: `match alias` for route-map
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_community_alias/r1/bgpd.conf
  tests/topotests/bgp_community_alias/r2/bgpd.conf
  tests/topotests/bgp_community_alias/r2/zebra.conf
  tests/topotests/bgp_community_alias/test_bgp-community-alias.py
  yang/frr-bgp-route-map.yang
Labels: bgp, documentation, tests

#8986 pimd: To print querierIP address on the querier and nonQuerier IGMP e…
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_igmp.h
Labels: pim

#8983 pimd: Minor fixes for BSM Show CLI and Hold Timer CLI
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_nb_config.c
  pimd/pim_neighbor.c
  yang/frr-pim.yang
Labels: pim

#9126 bgpd: Fix rpki spacing to be 1 for indentation
  bgpd/bgp_rpki.c
Labels: bgp, bugfix

#9116 vtysh: Handle `en` better when in -u for vtysh
  vtysh/vtysh.c
Labels: bugfix, vtysh

#9120 zebra: Remove MM seq from evpn rmac json output
  zebra/zebra_vxlan.c
Labels: zebra

#9160 bgpd: [8.0] Don't forget bgp_dest_unlock_node for bgp_static_set()
  bgpd/bgp_route.c
Labels: bgp

#9161 [8.0] bgpd: Unlock bgp_dest for bgp_distance_unset if distance does not match (backport #8976)
  bgpd/bgp_route.c
Labels: bgp

#9179 Backport of PR 9001 and PR 8174 for 8.0
  zebra/zapi_msg.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vty.c
Labels: zebra

#9166 vtysh: another take at "enable" in vtysh user mode
  vtysh/vtysh.c
Labels: vtysh

#9162 bgpd: Use strcmp comparing BGP alias with an actual entered alias
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
Labels: bgp

#9090 ospf6d: small batch of random fixes/improvements
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
Labels: bugfix, ospfv3

#9184 Revert "pimd: Minor fixes for BSM Show CLI and Hold Timer CLI (backport #8983)"
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_nb_config.c
  pimd/pim_neighbor.c
  yang/frr-pim.yang
Labels: bugfix

#9088 zebra: Do not allow redistribution for non-vrf tables
  zebra/redistribute.c
Labels: bugfix, zebra

#9190 Join prune smaller
  doc/user/pim.rst
  pimd/pim_cmd.c
  tests/topotests/evpn_pim_1/leaf1/pimd.conf
  tests/topotests/evpn_pim_1/leaf2/pimd.conf
  tests/topotests/evpn_pim_1/spine/pimd.conf
  tests/topotests/msdp_mesh_topo1/r1/pimd.conf
  tests/topotests/msdp_mesh_topo1/r2/pimd.conf
  tests/topotests/msdp_mesh_topo1/r3/pimd.conf
  tests/topotests/msdp_topo1/r1/pimd.conf
  tests/topotests/msdp_topo1/r2/pimd.conf
  tests/topotests/msdp_topo1/r3/pimd.conf
  tests/topotests/msdp_topo1/r4/pimd.conf
  tests/topotests/pim_acl/r1/pimd.conf
  tests/topotests/pim_acl/r11/pimd.conf
  tests/topotests/pim_acl/r12/pimd.conf
  tests/topotests/pim_acl/r13/pimd.conf
  tests/topotests/pim_acl/r14/pimd.conf
  tests/topotests/pim_acl/r15/pimd.conf
  tests/topotests/pim_basic/r1/pimd.conf
  tests/topotests/pim_basic/rp/pimd.conf
  tests/topotests/pim_basic_topo2/r2/pimd.conf
  tests/topotests/pim_igmp_vrf/r1/pimd.conf
  tests/topotests/pim_igmp_vrf/r11/pimd.conf
  tests/topotests/pim_igmp_vrf/r12/pimd.conf
  yang/frr-pim.yang
Labels: documentation, pim, tests

#9107 zebra: On client shutdown cleanup any vrf labels associated with it
  zebra/zapi_msg.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_vrf.h
  zebra/zserv.c
Labels: bugfix, zebra

#9187 pimd: Validate the fields before accessing it
  pimd/pim_igmp.c
  pimd/pim_igmp.h
Labels: pim

#9007 add ability to match on proto to pbr
  bgpd/bgp_zebra.c
  doc/user/pbr.rst
  lib/pbr.h
  pbrd/pbr_map.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/rule_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_pbr.c
Labels: bgp, documentation, libfrr, pbr, zebra

#9202 ospfd: remove gratuitous non-ascii quotation marks
  ospfd/ospf_vty.c
Labels: ospf

#9194 pimd: fix incorrect bool returns
  pimd/pim_igmp.c
Labels: bugfix, pim

#9189 ospfd: don't exit when socket is not created
  ospfd/ospf_network.c
Labels: ospf

#9104 tests: fix invalid multiline format
  tests/topotests/bgp_basic_functionality_topo1/test_bgp_basic_functionality.py
Labels: bugfix, tests

#9209 bgpd: Mark the node as the correct type for bgp ipv6 unicast
  bgpd/bgp_vty.c
Labels: bgp

#9215 bgpd: fix double free in dampening code
  bgpd/bgp_damp.c
Labels: bgp, bugfix

#9212 pimd: fix missing list remove when deleting mesh group
  pimd/pim_msdp.c
Labels: bugfix, pim

#9222 bgpd: Drop double-pointer for bgp_damp_info_free()
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
Labels: bgp

#9193 ospf6d: Type-7 LSA originated with wrong sequence number
  ospf6d/ospf6_nssa.c
Labels: ospfv3

#9225 bgpd: fix missing list add in dampening
  bgpd/bgp_damp.c
Labels: bgp, bugfix

#9226 [8.0] backport 8860 + 8920
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_default_route_route_map_match_set/r1/bgpd.conf
  tests/topotests/bgp_default_route_route_map_match_set/test_bgp_default-originate_route-map_match_set.py
  tests/topotests/bgp_default_route_route_map_set/r1/bgpd.conf
  tests/topotests/bgp_default_route_route_map_set/test_bgp_default-originate_route-map_set.py
Labels: bgp, tests

#9216 tests: Set addresses before we use snmpd
  tests/topotests/simple_snmp_test/test_simple_snmp.py
Labels: tests

#9237 doc: Fix code-block display for example shell commands
  doc/user/bgp.rst
Labels: documentation

#9028 Ospfv3 ASBR summarisation feature
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_flood.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.h
  ospf6d/subdir.am
  tests/topotests/lib/ospf.py
  tests/topotests/ospfv3_basic_functionality/ospfv3_asbr_summary_topo1.json
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: bugfix, documentation, ospfv3, tests

#9217 bgpd: fix various memory leaks in dampening
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
Labels: bgp, bugfix

#9214 zebra: bugfix of error quit of zebra, due to no nexthop ACTIVE
  zebra/zebra_fpm.c
Labels: bugfix, zebra

#9233 bgpd: [8.0] fix missing list add in dampening
  bgpd/bgp_damp.c
Labels: bgp, bugfix

#9196 tests: Increase timeout for loaded systems
  tests/topotests/zebra_rib/test_zebra_rib.py
Labels: tests

#9228 tests: add scapy_sendpkt.py util, replace arping use with it
  tests/topotests/bgp_evpn_mh/test_evpn_mh.py
  tests/topotests/lib/scapy_sendpkt.py
Labels: tests

#9246 doc: fix bgp user doc colons
  doc/user/bgp.rst
Labels: bugfix, documentation

#8988 frr-reload: FRR 7.5 bfdd backport
  tools/frr-reload.py
Labels: tools
