Repository FRRouting/frr, pull requests merged in 2021-02, with the labels that each got.

#7969 More flags
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
Labels: bgp

#7988 bgpd: Initialize bgp_notify.raw_data before passing to bgp_notify_rec…
  bgpd/bgp_packet.c
Labels: bgp

#7965 doc: add information about network namespaces
  doc/user/setup.rst
Labels: documentation

#7948 doc: update the links to nhrp/strongswan patches
  doc/user/nhrpd.rst
Labels: documentation

#7972 lib: Line up `show thread cpu` output appropriately
  lib/thread.c
Labels: libfrr

#7958 zebra: disallow resolution to duplicate nexthops
  tests/topotests/all-protocol-startup/r1/ip_nht.ref
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  zebra/zebra_nhg.c
Labels: zebra

#7994 lib/printf: disable `%n` specifier
  lib/printf/printf-pos.c
  lib/printf/vfprintf.c
Labels: libfrr

#7402 ospf6d: Json support added for command "show ipv6 ospf6 route [json]"
  doc/user/ospf6d.rst
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6d.c
Labels: ospfv3

#7992 bgpd: Centralize the dest unlocking for adj_out data structure
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_updgrp_packet.c
Labels: bgp

#7985 bunch of valgrind issues
  bfdd/bfd_packet.c
  bfdd/ptm_adapter.c
  eigrpd/eigrp_topology.c
  isisd/isis_ldp_sync.c
  lib/log.c
  ospfd/ospf_ldp_sync.c
Labels: bfd, eigrp, isis, libfrr, ospf

#7991 Valgrind cleanups
  ospf6d/ospf6_asbr.c
  zebra/zapi_msg.c
Labels: ospfv3, zebra

#7987 eigrpd: Correctly set the mtu for eigrp packets sent
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_structs.h
Labels: eigrp

#6766 lib: xrefs - general cross-references & unique IDs
  configure.ac
  doc/developer/library.rst
  doc/developer/subdir.am
  doc/developer/xrefs.rst
  isisd/isis_dr.c
  lib/agentx.c
  lib/clippy.c
  lib/command.c
  lib/command.h
  lib/command_graph.h
  lib/frr_zmq.c
  lib/frr_zmq.h
  lib/log.c
  lib/log.h
  lib/module.c
  lib/module.h
  lib/network.c
  lib/network.h
  lib/northbound_cli.c
  lib/resolver.c
  lib/subdir.am
  lib/thread.c
  lib/thread.h
  lib/wheel.c
  lib/xref.c
  lib/xref.h
  lib/zlog.c
  lib/zlog.h
  ospfclient/ospf_apiclient.c
  tests/.gitignore
  tests/lib/test_xref.c
  tests/lib/test_xref.py
  tests/subdir.am
  tools/checkpatch.pl
  vtysh/vtysh.c
Labels: libfrr, tests

#7314 Add multicast-pim-sm-topo1 test suite
  doc/developer/topotests.rst
  tests/topotests/multicast-pim-sm-topo1/multicast_pim_sm_topo1.json
  tests/topotests/multicast-pim-sm-topo1/test_multicast_pim_sm_topo1.py
  tests/topotests/multicast-pim-sm-topo2/multicast_pim_sm_topo2.json
  tests/topotests/multicast-pim-sm-topo2/test_multicast_pim_sm_topo2.py
Labels: documentation, tests

#8001 bgpd: Replace 65535 with UINT16_MAX
  bgpd/bgp_aspath.h
  bgpd/bgp_attr.c
  bgpd/bgpd.c
Labels: bgp

#7449 bgpd: config connect timer not applied immediately for non-established peers.
  bgpd/bgpd.c
Labels: bgp

#8005 [7.5] Snap libyang1 fix
  snapcraft/snapcraft.yaml.in
Labels: packaging, snap

#8013 tests: fix ospf6_topo1 missing ref files
  tests/topotests/ospf6-topo1/r2/ip_6_address.nhg.ref
  tests/topotests/ospf6-topo1/r3/ip_6_address.nhg.ref
  tests/topotests/ospf6-topo1/r4/ip_6_address.nhg.ref
  tests/topotests/ospf6-topo1/test_ospf6_topo1.py
Labels: tests

#6049 pimd: SGRpt prune received during prune didn't override holdtime
  pimd/pim_ifchannel.c
Labels: pim

#7941 zebra: Display instance id as part of `show zebra client summ`
  zebra/zserv.c
Labels: zebra

#8007 doc: cross compilation guide
  doc/developer/building.rst
  doc/developer/cross-compiling.rst
  doc/developer/subdir.am
Labels: documentation

#7961 ospf6d: add CLI to control maximum paths for routes.
  doc/user/ospf6d.rst
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_spf.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
Labels: ospfv3

#8009 zebra: resolve multiple functions for local MAC delete
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_vxlan.c
Labels: zebra

#7709 zebra: Slightly touch on the vrf route lookup semantics
  doc/user/zebra.rst
Labels: documentation, zebra

#8010 bgpd: Drop aggregator_as attribute if malformed in case of BGP_AS_ZERO
  bgpd/bgp_attr.c
Labels: bgp

#7998 isisd: When adjacencies go up and down add support to modify attached-bit
  isisd/isis_lsp.c
  isisd/isis_spf.c
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/pytest.ini
Labels: isis, tests

#7126 tests: Add multicast-pim-static-rp-topo1 test suite
  tests/topotests/multicast-pim-static-rp-topo1/__init__.py
  tests/topotests/multicast-pim-static-rp-topo1/multicast_pim_static_rp.json
  tests/topotests/multicast-pim-static-rp-topo1/test_multicast_pim_static_rp.py
Labels: bfd, bgp, documentation, isis, libfrr, ospf, ospfv3, pbr, pim, sharp, staticd, tests, vtysh, yang, zebra

#7218 tests: Add multicast-pim-bsm-topo1 suite
  doc/developer/topotests.rst
  tests/topotests/lib/send_bsr_packet.py
  tests/topotests/multicast-pim-bsm-topo1/mcast_pim_bsmp_01.json
  tests/topotests/multicast-pim-bsm-topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast-pim-bsm-topo2/mcast_pim_bsmp_02.json
  tests/topotests/multicast-pim-bsm-topo2/test_mcast_pim_bsmp_02.py
Labels: documentation, tests

#8019 bgpd: Unset only aggregator flag when AGGREGATOR_AS is 0
  bgpd/bgp_attr.c
Labels: bgp

#8018 bgpd: [7.5] Drop aggregator_as attribute if malformed in case of BGP_AS_ZERO
  bgpd/bgp_attr.c
Labels: bgp

#7981 ospf6d: Fix LSA formatting inconsistent retvals
  ospf6d/ospf6_intra.c
Labels: ospfv3

#7937 tests: update EVPN VXLAN for SVI behaviour change
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE1/evpn.vni.json
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/bgpd.conf
  tests/topotests/bgp-evpn-vxlan_topo1/PE2/evpn.vni.json
Labels: tests

#8030 Fix double check, remove one
  pimd/pim_mroute.c
Labels: pim

#7946 tests: add ospf6 support via json files
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/topojson.py
  tests/topotests/ospf-dual-stack/test_ospf_dual_stack.dot
  tests/topotests/ospf-dual-stack/test_ospf_dual_stack.jpg
  tests/topotests/ospf-dual-stack/test_ospf_dual_stack.json
  tests/topotests/ospf-dual-stack/test_ospf_dual_stack.py
Labels: tests

#8031 bgpd: Remove the double decleration of bgp_global_evpn_node_lookup
  bgpd/bgp_evpn_private.h
Labels: bgp

#8032 Some bfd valgrind issues
  bfdd/ptm_adapter.c
  isisd/isis_bfd.c
  lib/bfd.c
  ospfd/ospf_bfd.c
  pimd/pim_bfd.c
Labels: bfd

#8038 bgpd: Do not compare attr again.
  bgpd/bgp_route.c
Labels: bgp

#8028 bgpd: Dump BGP attrs to check what's the actual prefix with aggr_as 0
  bgpd/bgp_attr.c
Labels: bgp

#8027 bgpd: Remove aggregatorAsMalformed related outputs JSON and non-JSON
  bgpd/bgp_route.c
Labels: bgp

#8042 tests: Modify timers on bgp_blackhole_community
  tests/topotests/bgp_blackhole_community/r1/bgpd.conf
  tests/topotests/bgp_blackhole_community/r2/bgpd.conf
  tests/topotests/bgp_blackhole_community/r3/bgpd.conf
  tests/topotests/bgp_blackhole_community/r4/bgpd.conf
Labels: tests

#7980 Fix ospf6 LSA formatting out-of-bounds access
  ospf6d/ospf6_intra.c
Labels: ospfv3

#7973 zebra,pbrd,doc: PBR more fixes
  doc/user/pbr.rst
  pbrd/pbr_nht.c
  zebra/debug.c
  zebra/debug.h
  zebra/zebra_pbr.c
Labels: documentation, pbr, zebra

#8045 doc: We have to enable nht tracking via default route multihop eBGP
  doc/user/bgp.rst
Labels: documentation

#7917 L3vpn mpls snmp upstream 1
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_mplsvpn_snmp.c
  bgpd/bgp_mplsvpn_snmp.h
  bgpd/bgp_nb_config.c
  bgpd/bgp_route.c
  bgpd/bgp_snmp.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/subdir.am
  lib/agentx.c
  lib/if.c
  lib/if.h
  lib/smux.h
  lib/snmp.c
  lib/vrf.h
  tests/topotests/bgp-snmp-mplsl3vpn/ce1/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce1/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce1/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce2/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce2/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce2/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce3/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce3/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce3/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce4/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce4/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/ce4/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r1/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r1/isisd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r1/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r1/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r2/isisd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r2/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r2/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r3/isisd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r3/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r3/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r4/bgpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r4/isisd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r4/snmpd.conf
  tests/topotests/bgp-snmp-mplsl3vpn/r4/zebra.conf
  tests/topotests/bgp-snmp-mplsl3vpn/test_bgp_snmp_mplsvpn.py
  tests/topotests/lib/snmptest.py
Labels: bgp, libfrr, tests

#7508 zebra: treat vrf add for existing vrf as update
  lib/vrf.c
  lib/vrf.h
  zebra/if_netlink.c
Labels: zebra

#8033 vtysh: disable bracketed paste in readline
  vtysh/vtysh.c
Labels: vtysh

#8034 vtysh: disable bracketed paste in readline [7.5.1]
  vtysh/vtysh.c
Labels: vtysh

#8047 [7.5] nhrp: fix shortcut routes
  nhrpd/nhrp_route.c
  nhrpd/nhrp_shortcut.c
Labels: nhrp

#8060 ospfd: Prevent duplicate packet read in certain vrf situations
  ospfd/ospf_packet.c
Labels: ospf

#7915 ospf6d : fix issue in ecmp inter area route
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_intra.c
Labels: ospfv3

#8063 bgpd: Replace typo "Cluser length" => "Cluster length"
  bgpd/bgp_route.c
Labels: bgp

#8065 bgpd: When deleting a neighbor from a peer-group the PGNAME is optional
  bgpd/bgp_vty.c
Labels: bgp

#8006 bfdd: fix session lookup
  bfdd/bfd.c
Labels: bfd

#7764 nhrp: fix shortcut routes
  nhrpd/nhrp_route.c
  nhrpd/nhrp_shortcut.c
Labels: nhrp

#8076 doc: document LD_PRELOAD workaround for lttng
  doc/developer/tracing.rst
Labels: documentation

#8036 lib: support mallinfo2() if available
  configure.ac
  lib/lib_vty.c
Labels: libfrr

#8055 ospfd: Debug race condition in Segment Routing
  ospfd/ospf_sr.c
  ospfd/ospf_sr.h
  ospfd/ospf_zebra.c
Labels: ospf

#8067 bgpd: send correct BMP down message when nht fails
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgpd.h
Labels: bgp, bmp, bugfix

#8081 bgpd: Check for peer->su_remote if not NULL when handling IPv6 nexthop
  bgpd/bgp_zebra.c
Labels: bgp

#8082 new clang fixes
  bgpd/bgp_mplsvpn_snmp.c
  bgpd/bgp_snmp.c
  lib/agentx.c
  lib/smux.h
  nhrpd/nhrp_main.c
Labels: bgp, libfrr, nhrp

#8075 lib: bunch of random small fixes
  lib/libfrr.c
  lib/libfrr.h
  lib/privs.c
  lib/privs.h
  lib/vty.c
Labels: libfrr

#8050 bgpd: fix empty advertised-routes for 2-tier safis
  bgpd/bgp_route.c
Labels: bgp

#8044 pimd: json support added
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: pim

#8091 build: detect ICC, only try ICC options if ICC
  configure.ac
Labels: build

#8090 bgpd: [7.5] Check for peer->su_remote if not NULL when handling IPv6 nexthop
  bgpd/bgp_zebra.c
Labels: bgp

#8092 [7.5]ospf6d: Track wait_timer and disable when needed
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
Labels: ospfv3

#8089 bgpd: [7.6] Check for peer->su_remote if not NULL when handling IPv6 nexthop
  bgpd/bgp_zebra.c
Labels: bgp

#8077 ospfd: cleanup ospf_flood debugs
  ospfd/ospf_flood.c
Labels: ospf

#8066 Add Support for rfc 8050 MRT add-path
  bgpd/bgp_dump.c
  bgpd/bgp_dump.h
Labels: bgp

#8059 bgpd: Print IPv4 nexthop for IPv6 prefixes under bgp_table_map_apply()
  bgpd/bgp_zebra.c
Labels: bgp

#8054 vtysh: [7.6] disable bracketed paste in readline
  vtysh/vtysh.c
Labels: vtysh

#8051 ospf6d: Don't send hellos on loopback interface
  ospf6d/ospf6_interface.c
Labels: ospfv3

#8015 tests: make generate support bundle python3
  tests/topotests/lib/common_config.py
  tools/generate_support_bundle.py
Labels: tests

#8096 7.5 backports
  bfdd/bfd.c
  bfdd/bfd_packet.c
  bfdd/ptm_adapter.c
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgp_packet.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  docker/alpine/Dockerfile
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_structs.h
  eigrpd/eigrp_topology.c
  isisd/isis_bfd.c
  lib/bfd.c
  lib/filter_cli.c
  lib/log.c
  lib/vrf.c
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_intra.c
  ospfd/ospf_bfd.c
  ospfd/ospf_packet.c
  pimd/pim_bfd.c
  pimd/pim_ifchannel.c
  pimd/pim_instance.c
  watchfrr/watchfrr.c
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
Labels: bfd, bgp, docker, documentation, eigrp, libfrr, ospf, ospfv3, pim, watchfrr, zebra

#8098 zebra: use AF_INET for protocol family
  zebra/rt_netlink.c
Labels: zebra

#8101 multiple staticd fixes
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vrf.c
  staticd/static_vrf.h
Labels: staticd

#8068 BMP tracepoints
  bgpd/bgp_bmp.c
  bgpd/bgp_trace.h
  bgpd/bgpd.h
Labels: bgp, enhancement, tracing

#8062 bgpd: Blackhole nexthops are not reachable
  bgpd/bgp_nht.c
Labels: bgp

#8041 bgpd: Switch LL nexthop tracking to be interface based
  bgpd/bgp_fsm.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_zebra.c
Labels: bgp

#8012 tests: report kernel version check failures
  tests/topotests/lib/common_config.py
Labels: tests

#8104 lib: fix some misc SA warnings
  lib/clippy.c
  lib/defun_lex.l
  lib/northbound_cli.c
Labels: libfrr

#8106 bgpd: Fix crash when we don't have a nexthop
  bgpd/bgp_nht.c
Labels: bgp

#8107 ospf6d: Show metric in intra-prefix LSA detail
  ospf6d/ospf6_intra.c
Labels: ospfv3

#8103 lib: don't awaken from poll for every timer
  lib/thread.c
Labels: libfrr

#8102 ospf6d: Update logs that indicate why ospf6 adjacency is not coming up.
  ospf6d/ospf6_message.c
Labels: ospfv3

#8079 MPLSL3VPN snmp coverity fixes
  bgpd/bgp_mplsvpn_snmp.c
  lib/smux.h
  lib/snmp.c
Labels: bgp, libfrr

#8116 lib: use right type for wconv() return val
  lib/clippy.c
Labels: libfrr

#8112 bgpd: add attribute-unchanged attribute to flowspec
  bgpd/bgp_vty.c
Labels: bgp

#8111 bgpd: fix 'neighbor X prefix-list Y in' SAFI VPN
  bgpd/bgp_nb_config.c
Labels: bgp

#8119 lib: Free memory leak in error path in clippy
  lib/clippy.c
Labels: libfrr

#7444 bgpd: clear ip bgp dampening was not triggering the route calculation…
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_route.c
Labels: bgp

#7920 More pytest cleanup
  tests/topotests/all-protocol-startup/test_all_protocol_startup.py
  tests/topotests/bfd-bgp-cbit-topo3/test_bfd_bgp_cbit_topo3.py
  tests/topotests/bfd-isis-topo1/test_bfd_isis_topo1.py
  tests/topotests/bfd-ospf-topo1/test_bfd_ospf_topo1.py
  tests/topotests/bfd-profiles-topo1/test_bfd_profiles_topo1.py
  tests/topotests/bfd-topo1/test_bfd_topo1.py
  tests/topotests/bfd-topo2/test_bfd_topo2.py
  tests/topotests/bfd-vrf-topo1/test_bfd_vrf_topo1.py
  tests/topotests/bgp-auth/test_bgp_auth.py
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  tests/topotests/bgp-evpn-vxlan_topo1/test_bgp_evpn_vxlan.py
  tests/topotests/bgp_features/test_bgp_features.py
  tests/topotests/bgp_l3vpn_to_bgp_direct/test_bgp_l3vpn_to_bgp_direct.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/test_bgp_l3vpn_to_bgp_vrf.py
  tests/topotests/bgp_rfapi_basic_sanity/test_bgp_rfapi_basic_sanity.py
  tests/topotests/bgp_rr_ibgp/spine1/staticd.conf
  tests/topotests/bgp_rr_ibgp/tor1/staticd.conf
  tests/topotests/bgp_rr_ibgp/tor2/staticd.conf
  tests/topotests/eigrp-topo1/test_eigrp_topo1.py
  tests/topotests/evpn-pim-1/test_evpn_pim_topo1.py
  tests/topotests/isis-lfa-topo1/test_isis_lfa_topo1.py
  tests/topotests/isis-rlfa-topo1/test_isis_rlfa_topo1.py
  tests/topotests/isis-sr-te-topo1/test_isis_sr_te_topo1.py
  tests/topotests/isis-sr-topo1/test_isis_sr_topo1.py
  tests/topotests/isis-tilfa-topo1/test_isis_tilfa_topo1.py
  tests/topotests/isis-topo1-vrf/test_isis_topo1_vrf.py
  tests/topotests/isis-topo1/test_isis_topo1.py
  tests/topotests/ldp-oc-acl-topo1/test_ldp_oc_acl_topo1.py
  tests/topotests/ldp-oc-topo1/test_ldp_oc_topo1.py
  tests/topotests/ldp-sync-isis-topo1/r2/ospfd.conf
  tests/topotests/ldp-sync-ospf-topo1/test_ldp_sync_ospf_topo1.py
  tests/topotests/ldp-topo1/test_ldp_topo1.py
  tests/topotests/ldp-vpls-topo1/test_ldp_vpls_topo1.py
  tests/topotests/ospf-sr-topo1/test_ospf_sr_topo1.py
  tests/topotests/ospf-topo1-vrf/test_ospf_topo1_vrf.py
  tests/topotests/ospf-topo1/test_ospf_topo1.py
  tests/topotests/ospf_basic_functionality/test_ospf_chaos.py
  tests/topotests/pbr-topo1/test_pbr_topo1.py
  tests/topotests/pim-basic/test_pim.py
  tests/topotests/rip-topo1/test_rip_topo1.py
  tests/topotests/ripng-topo1/test_ripng_topo1.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo1_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo2_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo3_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo4_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo1_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo2_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo3_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo4_ibgp.py
Labels: tests

#8114 lib: fix c++ usage of zlog
  lib/zlog.h
Labels: libfrr

#8125 tests: JSON comparison command for LabN topotests
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
  tests/topotests/lib/lutil.py
Labels: tests

#8105 lib: Reduce getrusage/monotime for event handling
  lib/thread.c
  lib/thread.h
Labels: libfrr

#7460 bgpd: upon bgp deletion, do not systematically ask to remove main bgp
  bgpd/bgp_vty.c
Labels: bgp

#7435 Bgp peer group issue
  bgpd/bgpd.c
Labels: bgp

#8130 doc: Instruction how to use Systemtap with FRRouting
  doc/developer/tracing.rst
Labels: documentation

#8020 tests: Test if BGP AGGREGATOR attribute is discarded if ASN comes as 0
  tests/topotests/bgp-aggregator-zero/__init__.py
  tests/topotests/bgp-aggregator-zero/exabgp.env
  tests/topotests/bgp-aggregator-zero/peer1/exabgp.cfg
  tests/topotests/bgp-aggregator-zero/r1/bgpd.conf
  tests/topotests/bgp-aggregator-zero/r1/zebra.conf
  tests/topotests/bgp-aggregator-zero/test_bgp_aggregator_zero.py
Labels: tests

#8095 fix stale pointers in northbound nodes
  bgpd/bgp_nb_config.c
  lib/northbound.c
  lib/northbound.h
  lib/routing_nb.h
  lib/routing_nb_config.c
  lib/vrf.c
  lib/vrf.h
  pimd/pim_main.c
  staticd/static_main.c
Labels: bgp, libfrr, pim, staticd, yang

#8134 doc: Format highlighted syntax properly for Systemtap examples
  doc/developer/tracing.rst
Labels: documentation

#7879 evpn-mh: Advertise SVI MAC as a type-2 route if EVPN MH is enabled
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_vxlan.c
Labels: zebra

#8023 lib: add agentx_enabled hook
  lib/agentx.c
  lib/smux.h
Labels: libfrr

#7957 ospfd: don't rely on instance existence in vty
  ospfd/ospf_dump.c
  ospfd/ospf_main.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  vtysh/vtysh.c
Labels: ospf, vtysh

#8128 General docs cleanup
  doc/developer/workflow.rst
  doc/user/babeld.rst
  doc/user/basic.rst
  doc/user/bfd.rst
  doc/user/bgp.rst
  doc/user/bmp.rst
  doc/user/bugs.rst
  doc/user/conf.py
  doc/user/eigrpd.rst
  doc/user/fabricd.rst
  doc/user/filter.rst
  doc/user/flowspec.rst
  doc/user/installation.rst
  doc/user/ipv6.rst
  doc/user/isisd.rst
  doc/user/ldpd.rst
  doc/user/nhrpd.rst
  doc/user/ospf6d.rst
  doc/user/ospf_fundamentals.rst
  doc/user/ospfd.rst
  doc/user/overview.rst
  doc/user/pathd.rst
  doc/user/pbr.rst
  doc/user/pim.rst
  doc/user/ripd.rst
  doc/user/ripngd.rst
  doc/user/routemap.rst
  doc/user/routeserver.rst
  doc/user/rpki.rst
  doc/user/sharp.rst
  doc/user/snmp.rst
  doc/user/static.rst
  doc/user/vnc.rst
  doc/user/vrrp.rst
  doc/user/vtysh.rst
  doc/user/watchfrr.rst
  doc/user/wecmp_linkbw.rst
  doc/user/zebra.rst
Labels: documentation

#8148 pimd: do static mroute loop check in NB VALIDATE
  pimd/pim_nb_config.c
Labels: pim

#8146 doc: fix indent depth in tracing doc
  doc/developer/tracing.rst
Labels: documentation

#8025 bgp, zebra: Support for lacp bypass with EVPN-MH
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_zebra.c
  tests/topotests/bgp-evpn-mh/test_evpn_mh.py
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_vxlan.c
Labels: bfd, bgp, documentation, libfrr, nhrp, ospf, ospfv3, pim, tests, zebra

#8139 ospf6d: fix display of unknown LSAs in show ipv6 ospf6 database command
  ospf6d/ospf6_lsa.c
Labels: ospfv3

#8157 tests: Fix for blackhole test in test_mcast_pim_bsmp suite
  tests/topotests/multicast-pim-bsm-topo1/test_mcast_pim_bsmp_01.py
Labels: tests

#8156 7.5 backports
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  lib/northbound.c
  lib/northbound.h
  lib/routing_nb.h
  lib/routing_nb_config.c
  lib/vrf.c
  lib/vrf.h
  staticd/static_main.c
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vrf.c
  staticd/static_vrf.h
  tools/frr-reload.py
  zebra/rt_netlink.c
Labels: bgp, libfrr, staticd, zebra

#8164 isisd: TI-LFA fixes
  doc/user/isisd.rst
  isisd/isis_lfa.c
  tests/isisd/test_isis_spf.refout
Labels: bugfix, documentation, isis

#8166 ospf6d: turn some info->debug
  ospf6d/ospf6_spf.c
Labels: ospfv3

#8161 [7.5]lib: Fix SA backports to 7.5
  lib/clippy.c
  lib/defun_lex.l
  lib/northbound_cli.c
Labels: libfrr
