Repository FRRouting/frr, pull requests merged in 2021-09, with the labels that each got.

#9526 tests: log bgp nbr changes, and allow config of connect timer
  tests/topotests/lib/bgp.py
Labels: tests

#9397 bgpd: minimum-holdtime knob to prevent session establishment with BGP peer with low holdtime.
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_minimum_holdtime/__init__.py
  tests/topotests/bgp_minimum_holdtime/r1/bgpd.conf
  tests/topotests/bgp_minimum_holdtime/r1/zebra.conf
  tests/topotests/bgp_minimum_holdtime/r2/bgpd.conf
  tests/topotests/bgp_minimum_holdtime/r2/zebra.conf
  tests/topotests/bgp_minimum_holdtime/test_bgp_minimum_holdtime.py
Labels: bgp

#9530 doc: Add missing `timers` for connect timer in BGP
  doc/user/bgp.rst
Labels: documentation

#9318 bgp: BGP knob for faster convergence of bgp sessions
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_ecmp_topo3/ibgp_ecmp_topo3.json
  tests/topotests/bgp_ecmp_topo3/test_ibgp_ecmp_topo3.py
Labels: documentation, bgp

#9531 tests: add global BGP json config for [re]connect timer
  tests/topotests/lib/bgp.py
Labels: tests

#9534 ospf6d: Prevent crash of show ipv6 ospf data adv-router 0.0.0.0 links…
  ospf6d/ospf6d.c
Labels: ospfv3

#9439 bgpd: Route-map `set extcommunity none`
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_rmap_extcommunity_none/__init__.py
  tests/topotests/bgp_rmap_extcommunity_none/r1/bgpd.conf
  tests/topotests/bgp_rmap_extcommunity_none/r1/zebra.conf
  tests/topotests/bgp_rmap_extcommunity_none/r2/bgpd.conf
  tests/topotests/bgp_rmap_extcommunity_none/r2/zebra.conf
  tests/topotests/bgp_rmap_extcommunity_none/test_bgp_rmap_extcommunity_none.py
  yang/frr-bgp-route-map.yang
Labels: documentation, tests, bgp

#9443 tests: Make bgp_multiview_topo1 predictable
  tests/topotests/bgp_multiview_topo1/peer1/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer2/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer3/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer4/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer5/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer6/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer7/exa-send.py
  tests/topotests/bgp_multiview_topo1/peer8/exa-send.py
  tests/topotests/bgp_multiview_topo1/r1/bgpd.conf
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3.ref
  tests/topotests/bgp_multiview_topo1/r1/view_1.json
  tests/topotests/bgp_multiview_topo1/r1/view_2.json
  tests/topotests/bgp_multiview_topo1/r1/view_3.json
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
Labels: tests

#9515 docker: build libyang2 along with FRR [8.0]
  alpine/APKBUILD.in
  docker/alpine/Dockerfile
  docker/alpine/docker-start
  docker/alpine/libyang/10-remove-non-standard-headers.patch
  docker/alpine/libyang/11-utest-dont-parse-dlerror.patch
  docker/alpine/libyang/APKBUILD
Labels: packaging, docker, bugfix

#9340 tools: fix frr pathspace folder permissions
  tools/frrcommon.sh.in
Labels: tools, bugfix

#9106 lib/clippy: fix forgotten conditional
  lib/elf_py.c
Labels: bugfix

#9538 Bgp view not working
  bgpd/bgp_network.c
  bgpd/bgpd.c
  lib/vrf.c
  lib/vrf.h
Labels: bgp, libfrr, bugfix

#9549 ospfd: Memory Leak seen at show_ip_ospf_neighbor_all_common.
  ospfd/ospf_vty.c
Labels: ospf, bugfix

#9542 bgpd: add rpki source address configuration
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp

#9545 bgpd: Add disable-addpath-rx knob
  bgpd/bgp_open.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_disable_addpath_rx/__init__.py
  tests/topotests/bgp_disable_addpath_rx/r1/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r1/zebra.conf
  tests/topotests/bgp_disable_addpath_rx/r2/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r2/zebra.conf
  tests/topotests/bgp_disable_addpath_rx/r3/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r3/zebra.conf
  tests/topotests/bgp_disable_addpath_rx/r4/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r4/zebra.conf
  tests/topotests/bgp_disable_addpath_rx/test_disable_addpath_rx.py
Labels: documentation, tests, bgp

#9541 typedef cleanup to proper usage of `enum X` or `struct X`
  zebra/dplane_fpm_nl.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/rt_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_evpn_neigh.h
  zebra/zebra_evpn_vxlan.h
  zebra/zebra_fpm.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_nb_config.c
  zebra/zebra_nhg.c
  zebra/zebra_srte.c
  zebra/zebra_srte.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_private.h
Labels: zebra

#9567 tests: speed up bgp_auth test (24m -> 12m)
  tests/topotests/bgp_auth/R1/bgpd.conf
  tests/topotests/bgp_auth/R1/bgpd_multi_vrf.conf
  tests/topotests/bgp_auth/R1/bgpd_vrf.conf
  tests/topotests/bgp_auth/R1/empty.conf
  tests/topotests/bgp_auth/R1/ospfd.conf
  tests/topotests/bgp_auth/R1/ospfd_multi_vrf.conf
  tests/topotests/bgp_auth/R1/ospfd_vrf.conf
  tests/topotests/bgp_auth/R2/bgpd.conf
  tests/topotests/bgp_auth/R2/bgpd_multi_vrf.conf
  tests/topotests/bgp_auth/R2/bgpd_multi_vrf_prefix.conf
  tests/topotests/bgp_auth/R2/bgpd_prefix.conf
  tests/topotests/bgp_auth/R2/bgpd_vrf.conf
  tests/topotests/bgp_auth/R2/bgpd_vrf_prefix.conf
  tests/topotests/bgp_auth/R2/empty.conf
  tests/topotests/bgp_auth/R2/ospfd.conf
  tests/topotests/bgp_auth/R2/ospfd_multi_vrf.conf
  tests/topotests/bgp_auth/R2/ospfd_vrf.conf
  tests/topotests/bgp_auth/R3/bgpd.conf
  tests/topotests/bgp_auth/R3/bgpd_multi_vrf.conf
  tests/topotests/bgp_auth/R3/bgpd_multi_vrf_prefix.conf
  tests/topotests/bgp_auth/R3/bgpd_prefix.conf
  tests/topotests/bgp_auth/R3/bgpd_vrf.conf
  tests/topotests/bgp_auth/R3/bgpd_vrf_prefix.conf
  tests/topotests/bgp_auth/R3/empty.conf
  tests/topotests/bgp_auth/R3/ospfd.conf
  tests/topotests/bgp_auth/R3/ospfd_multi_vrf.conf
  tests/topotests/bgp_auth/R3/ospfd_vrf.conf
  tests/topotests/bgp_auth/test_bgp_auth.py
Labels: tests

#9547 bgpd: Drop afi/safi duplicate string notation for AddPath capability
  bgpd/bgp_vty.c
Labels: bgp

#9521 ospf6d: minor GR fixes
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_message.c
Labels: ospfv3, bugfix

#9564 debian: update list of protos in pkg desc
  debian/control
Labels: packaging

#9561 bgpd: fix "no router bgp X vrf default"
  bgpd/bgp_vty.c
Labels: bgp, bugfix

#9550 bgpd: Add `PEER_DOWN_SOCKET_ERROR` to the list of peer failure modes
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgpd.h
Labels: bgp

#9563 build: `-Wstrict-prototypes` (+ BSD `sed`)
  configure.ac
  doc/developer/workflow.rst
  ldpd/ldp_snmp.c
  lib/getopt.c
  lib/hook.h
  ospfd/ospf_sr.c
  pathd/path_pcep_cli.c
  pceplib/pcep_msg_tlvs_encoding.c
  pceplib/pcep_session_logic.c
  pceplib/pcep_timers.c
  vtysh/vtysh.c
  vtysh/vtysh_main.c
Labels: libfrr, bugfix

#9569 tests: refactor parallel reset/load config for non-json
  tests/topotests/bgp_auth/test_bgp_auth.py
  tests/topotests/conftest.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topojson.py
  tests/topotests/lib/topotest.py
Labels: tests

#9557 bgpd: cleanup special checks for views
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
Labels: bgp

#9577 topotests: to create pid file of topotest router
  doc/developer/topotests.rst
  tests/topotests/lib/topogen.py
Labels: documentation

#9552 ospfd: ANVL Test case 25.22, 25.23 and 28.11 fixes
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_packet.c
Labels: ospf, bugfix

#9551 ospfd: GR Conformance fix in Hello packet DR election
  ospfd/ospf_packet.c
Labels: ospf, bugfix

#9539 bgpd: Replace `Enable` to `Disable` for floating-point bw encoding CLI
  bgpd/bgp_vty.c
Labels: bgp

#9533 ospfd: ASBR Summary LSA is not originated when process is reset
  ospfd/ospfd.c
Labels: ospf

#9576 ripd: Fix spelling errors
  ripd/ripd.c
Labels: rip

#9491 ospf6d: add support for NSSA totally stub areas
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/subdir.am
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: tests, ospfv3

#9554 [8.0] backport bgp view fixes
  bgpd/bgp_network.c
  bgpd/bgpd.c
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_1-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_2-post6.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post4.1.ref
  tests/topotests/bgp_multiview_topo1/r1/show_ip_bgp_view_3-post6.1.ref
Labels: tests, bgp, bugfix

#9583 Remove add kernel route usage
  tests/topotests/lib/common_config.py
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
Labels: tests

#9566 tests: new improved simple JSON template w/ doc update
  doc/developer/topotests-jsontopo.rst
  tests/topotests/example_test/test_example.py
  tests/topotests/example_test/test_template_json.json
  tests/topotests/example_test/test_template_json.py
Labels: tests

#9572 tests: deal with parallel exit of process we are reaping
  tests/topotests/lib/micronet_compat.py
Labels: tests

#9553 Router id optimizations
  zebra/router-id.c
  zebra/zapi_msg.c
Labels: zebra

#9581 bgpd: move rpki source after the server config
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp

#9497 lib: add `![...]` syntax for easy "no" forms
  doc/developer/cli.rst
  lib/command.c
  lib/command_graph.c
  lib/command_graph.h
  lib/command_lex.l
  lib/command_match.c
  lib/command_parse.y
  lib/command_py.c
  tests/lib/cli/test_cli.c
  tests/lib/cli/test_cli.in
  tests/lib/cli/test_cli.refout.in
  tools/permutations.c
Labels: tests, libfrr

#9573 tests: update the test template and doc
  doc/developer/topotests.rst
  tests/topotests/example_test/r1/zebra.conf
  tests/topotests/example_test/r2/zebra.conf
  tests/topotests/example_test/test_template.py
Labels: documentation, tests

#9594 Strict prototypes
  isisd/isis_snmp.c
  pathd/path_cli.c
  tests/zebra/test_lm_plugin.c
Labels: tests, isis

#9597 ospf6d: Cleanup headers to our standard
  ospf6d/ospf6_area.h
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.h
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_nssa.h
  ospf6d/ospf6_route.h
  ospf6d/ospf6_zebra.h
Labels: ospfv3

#9019 ospf6d: break early on route prefix mismatch
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_intra.c
Labels: ospfv3, bugfix

#9475 bgpd: VRF-Lite fix nexthop type
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
  lib/nexthop.c
  lib/nexthop.h
  tests/lib/test_nexthop.c
  zebra/zapi_msg.c
  zebra/zebra_vty.c
Labels: bgp, bugfix

#9479 zebra: Send path del to bgp for local-inactive path
  zebra/zebra_evpn_neigh.c
Labels: zebra

#9586 BGP default-originate with route-map fixes
  bgpd/bgp_updgrp_adv.c
  lib/routemap.c
  lib/routemap.h
  tests/topotests/bgp_default_route_route_map_match_set/test_bgp_default-originate_route-map_match_set.py
Labels: tests, bgp, libfrr, bugfix

#9592 bgpd: Do not strip peer's description by whitespace in `show bgp summary`
  bgpd/bgp_vty.c
Labels: bgp

#9599 tests: fix typo in zebra.conf
  tests/topotests/bgp_evpn_overlay_index_gateway/host2/zebra.conf
Labels: tests, bugfix

#9571 tests: increase wait and update test
  tests/topotests/lib/common_config.py
  tests/topotests/lib/topotest.py
  tests/topotests/zebra_netlink/r1/sharpd.conf
  tests/topotests/zebra_netlink/r1/v4_route.json
  tests/topotests/zebra_netlink/test_zebra_netlink.py
Labels: tests

#9600 tests: Optimize test_multicast_pim_sm_topo1.py execution time
  tests/topotests/multicast_pim_sm_topo1/test_multicast_pim_sm_topo1.py
Labels: tests

#9558 doc/developer: how to add a CLI node
  doc/developer/cli.rst
Labels: documentation

#9543 tests: Fix wrong setting of mpls being turned on
  tests/topotests/bgp_snmp_mplsl3vpn/test_bgp_snmp_mplsvpn.py
Labels: tests

#9604 tests: remove python format block from dir-locals
  .dir-locals.el
Labels: tests

#9587 tests: Fix BGP check in all_protocol_startup
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
Labels: tests

#9589 tests: Break up route_scale into 2 separate tests
  tests/topotests/route_scale/scale_test_common.py
  tests/topotests/route_scale/test_route_scale1.py
  tests/topotests/route_scale/test_route_scale2.py
Labels: tests

#9602 zebra: Fix IPv4 routes with IPv6 link local next hops install in FPM
  zebra/zebra_fpm.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_fpm_private.h
Labels: zebra

#9593 zebra: copy nexthop_srv6 in nexthop_set_resolved
  zebra/zebra_nhg.c
Labels: bgp, zebra

#9438 ospf6d: Add debug commands for lsa all and route all
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
  ospf6d/subdir.am
Labels: ospfv3

#9381 bgpd: remove es_path VNI display from type-2 routes
  bgpd/bgp_route.c
Labels: bgp

#9410 staticd: output config using NB callbacks instead of operational data
  staticd/static_nb.c
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vrf.c
  staticd/static_vty.c
  staticd/static_vty.h
Labels: staticd

#9393 vtysh: Allow us to gather a bit more data when extract.pl dies
  vtysh/extract.pl.in
Labels: vtysh

#9432 vtysh/sysctl doc improvements
  doc/user/setup.rst
  doc/user/zebra.rst
Labels: documentation

#9611 when doing a switch over an enumeration do not use default
  lib/nexthop.c
  zebra/zebra_vty.c
Labels: zebra, libfrr

#9615 ospf6d: fix possible NULL dereference
  ospf6d/ospf6_gr_helper.c
Labels: ospfv3, bugfix

#9608 lib: fix segfault on question mark on empty line
  lib/command_match.c
Labels: libfrr, bugfix

#9617 ospf6d: cleanup useless checks
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6d.c
  ospf6d/ospf6d.h
Labels: ospfv3

#9613 bgpd: Update route-type-1 legend to match output
  bgpd/bgp_evpn_vty.c
Labels: bgp

#9596 printfrr %pNHcg, %pNHci
  doc/developer/logging.rst
  lib/nexthop.c
  tests/lib/test_printfrr.c
Labels: documentation, tests, libfrr

#9622 doc: fixup formatting in zebra.rst
  doc/user/zebra.rst
Labels: documentation, bugfix

#9623 tests: Fix make check builds on some bsd variants
  tests/bgpd/test_mpath.c
Labels: tests

#9614 bgpd: fix coverity warning
  bgpd/bgp_updgrp_adv.c
Labels: bgp, bugfix

#9489 pimd: move IGMP memberships from socket to iface, + some cleanups
  pimd/pim_assert.h
  pimd/pim_bfd.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_ifchannel.h
  pimd/pim_igmp.c
  pimd/pim_igmp.h
  pimd/pim_igmpv3.c
  pimd/pim_igmpv3.h
  pimd/pim_instance.h
  pimd/pim_mroute.h
  pimd/pim_nb_config.c
  pimd/pim_neighbor.h
  pimd/pim_oil.h
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_upstream.h
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pimd.h
Labels: pim

#9627 bgpd: Allow v6 LL peers to work when connected to as well
  bgpd/bgp_network.c
Labels: bgp

#9619 lttng build updates
  configure.ac
  tests/subdir.am
Labels: tests

#9235 bgpd: Extend EVPN next hop tracking to type-1 and type-4 routes
  bgpd/bgp_evpn.c
Labels: bgp

#9629 lib: significantly improve nb cli command sorting
  lib/northbound_cli.c
Labels: libfrr

#9620 bgpd: fix memory leaks when using route-maps
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_route.c
Labels: bgp, bugfix

#9632 tests: Do not do a initial_timeout of 2 seconds for verify_bgp_rib
  tests/topotests/lib/bgp.py
Labels: tests

#9636 zebra: Fix ignored return value from inet_pton
  zebra/zebra_fpm.c
Labels: zebra

#9642 doc: mention set as-path exclude in routemap.rst
  doc/user/routemap.rst
Labels: documentation

#9052 zebra: Move incoming netlink interface address change events to the dplane pthread
  lib/prefix.h
  zebra/connected.c
  zebra/connected.h
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/interface.c
  zebra/interface.h
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rt.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_fpm_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_rib.c
Labels: zebra, libfrr, bugfix

#9637 ospf6d: Use bool instead of an int
  ospf6d/ospf6_area.h
  ospf6d/ospf6_intra.c
Labels: ospfv3

#9640 ospf6d: rework filtering commands to be in line with ospfd
  doc/user/ospf6d.rst
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_abr.h
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6d.c
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: ospfv3, relnote

#9546 Add support for Prefix-SID (Type 5)
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  bgpd/rfapi/rfapi_vty.c
  tests/topotests/bgp_prefix_sid2/peer1/exabgp.cfg
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r1/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r1/vrf20_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r2/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r2/vrf20_rib.json
Labels: tests, bgp, bugfix

#9416 Vxlan evpn updates
  zebra/if_netlink.c
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra, evpn

#9641 vtysh: remove sorting of vrf node commands
  vtysh/vtysh_config.c
Labels: vtysh, bugfix

#9645 bgpd: make show bgp labeled-unicast work
  bgpd/bgp_route.c
Labels: bgp, bugfix

#9651 bgpd: fix mpls nexthop announce in bgp_zebra_announce
  bgpd/bgp_zebra.c
Labels: bgp, bugfix

#9646 lib: skiplist: clean up level counter implementation
  lib/skiplist.c
  lib/skiplist.h
  tests/lib/test_skiplist.c
  tests/subdir.am
Labels: libfrr

#9635 Bunch of valgrind issues found
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_spf.c
  pimd/pim_msdp.c
  tools/valgrind.supp
Labels: pim, ospfv3, tools, bugfix

#9647 ospfd, ospf6d: rename the "graceful-restart helper-only" command
  doc/user/ospf6d.rst
  doc/user/ospfd.rst
  ospf6d/ospf6_gr_helper.c
  ospfd/ospf_vty.c
  tests/topotests/lib/ospf.py
  tests/topotests/ospf6_gr_topo1/rt1/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt2/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt3/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt4/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt5/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt6/ospf6d.conf
  tests/topotests/ospf6_gr_topo1/rt7/ospf6d.conf
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper.py
  tests/topotests/ospf_gr_topo1/rt1/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt2/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt3/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt4/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt5/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt6/ospfd.conf
  tests/topotests/ospf_gr_topo1/rt7/ospfd.conf
Labels: ospf, ospfv3

#9429 vtysh: Add error code if daemon is not running
  lib/command.h
  vtysh/vtysh.c
Labels: vtysh

#9653 bgpd: add carriage return when dumping tags from all evpn rds
  bgpd/bgp_route.c
Labels: bgp

#9650 zebra: stop asking for AF_BRIDGE interface info twice
  zebra/if_netlink.c
Labels: zebra

#9660 bgpd: swap bgp error value with file descriptor value
  bgpd/bgp_packet.c
Labels: bgp

#9585 ospf6d: add a knob to generate Type-7 default routes
  doc/user/ospf6d.rst
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_nssa.h
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
  ospf6d/ospf6_zebra.h
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: ospfv3, bugfix

#9661 bgpd: Fix broken LTTng compilation
  bgpd/bgp_table.c
  bgpd/bgp_table.h
  bgpd/bgp_trace.h
  configure.ac
Labels: bgp, tools

#9659 doc: fix code block in grpc docs
  doc/developer/grpc.rst
Labels: documentation, bugfix

#9638 bgpd: fix annouce for multipath SRv6 SID routes
  bgpd/bgp_zebra.c
Labels: bgp, bugfix

#9672 ospf6d: Log messages cannot have newlines
  ospf6d/ospf6_top.c
Labels: ospfv3

#9673 bgpd: Don't lookup paf structure get straight to the point
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
Labels: bgp

#9675 pimd: fix UAF/heap corruption in BSM code
  pimd/pim_cmd.c
Labels: pim, bugfix, security

#9682 pimd: fixing command "no ip msdp mesh-group member"
  pimd/pim_cmd.c
  pimd/pim_nb_config.c
Labels: pim, bugfix

#9677 tools: Add coccinelle script to catch \n or \r at the end of zlog_*
  tools/coccinelle/zlog_no_newline.cocci
Labels: tools

#9669 doc: add sudo environment setup info for topotests
  doc/developer/topotests.rst
Labels: documentation

#9422 bgpd: update auto route target for l3vni appropriately
  bgpd/bgp_evpn.c
Labels: bgp, evpn

#9688 tests: get bgp_l3vpn_to_bgp_vrf running again, also improve logging (minor)
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/lib/ltemplate.py
Labels: tests

#9560 frrmod_load(): fix error messages
  ldpd/ldpd.c
  lib/libfrr.c
  lib/module.c
  lib/module.h
  tests/lib/test_grpc.cpp
Labels: bugfix

#9694 tests: fix string comparison in lib/pim.py
  tests/topotests/lib/pim.py
Labels: tests, bugfix
