Repository FRRouting/frr, pull requests merged in 2022-01, with the labels that each got.

#10274 bfdd: correct one spelling error of comment
  zebra/zebra_ptm.c
Labels: bfd

#10280 [8.1] backport lib: fix elf_py TLS section handling
  lib/elf_py.c
Labels: libfrr, bugfix

#10260 bgpd: Implement LLGR helper mode
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_llgr/__init__.py
  tests/topotests/bgp_llgr/r0/bgpd.conf
  tests/topotests/bgp_llgr/r0/zebra.conf
  tests/topotests/bgp_llgr/r1/bgpd.conf
  tests/topotests/bgp_llgr/r1/zebra.conf
  tests/topotests/bgp_llgr/r2/bgpd.conf
  tests/topotests/bgp_llgr/r2/zebra.conf
  tests/topotests/bgp_llgr/r3/bgpd.conf
  tests/topotests/bgp_llgr/r3/zebra.conf
  tests/topotests/bgp_llgr/test_bgp_llgr.py
Labels: tests, bgp

#10208 Babel configuration parameter fixes
  babeld/babel_interface.c
  babeld/babeld.h
  doc/user/babeld.rst
Labels: documentation, babel

#10291 docs: clarify topotest requirements
  doc/developer/topotests.rst
Labels: documentation

#10297 bgpd: Graceful Restart restart-time can be 0
  bgpd/bgp_vty.c
  doc/user/bgp.rst
  tests/topotests/bgp_llgr/r0/bgpd.conf
  tests/topotests/bgp_llgr/r1/bgpd.conf
Labels: bgp

#10296 doc: minor grammar correction
  doc/user/installation.rst
Labels: documentation

#10287 bgpd: Increase maximum supress threshold for dampening to 50,000
  bgpd/bgp_route.c
  doc/user/bgp.rst
  doc/user/overview.rst
Labels: bgp

#10284 bgpd: Adjust symbolic names for cease notifications according to rfc4486
  bgpd/bgp_debug.c
  doc/user/snmptrap.rst
  tests/topotests/bgp_features/test_bgp_features.py
Labels: bgp

#10226 tools: fix backing up previous logs in generate_support_bundle.py
  tools/generate_support_bundle.py
Labels: tools, bugfix

#10283 docker: update alpine build enable set own version
  docker/alpine/build.sh
  docker/alpine/docker-start
Labels: docker

#10286 bgpd: Deprecate DPA, ADVERTISER and RCID_PATH path attributes
  bgpd/bgp_attr.c
  bgpd/bgpd.h
  doc/developer/bgp-typecodes.rst
  doc/user/overview.rst
Labels: bgp

#10300 tools: Run formatter over generate_support_bundle.py
  tools/generate_support_bundle.py
Labels: tools

#10290 Nhrp topo queries
  tests/topotests/nhrp_topo/test_nhrp_topo.py
Labels: tests

#10301 tools: Give longer for interface traffic in pim to work
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast_pim_sm_topo1/test_multicast_pim_sm_topo1.py
  tests/topotests/multicast_pim_sm_topo2/test_multicast_pim_sm_topo2.py
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo4.py
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pim_static_rp.py
Labels: tests, tools

#10305 pimd: remove redundant header inclusion
  pimd/pim_rp.c
Labels: pim

#10242 build: add "--with-service-timeout" in configure.ac
  configure.ac
  doc/user/installation.rst
  tools/frr.service.in
  tools/frr@.service.in
Labels: tools

#10306 lib: small debug adjustment for bfd
  lib/bfd.c
Labels: libfrr

#10289 bgpd: Extended BGP Administrative Shutdown Communication
  bgpd/bgp_debug.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/overview.rst
  tests/topotests/bgp_features/test_bgp_features.py
Labels: documentation, tests, bgp

#10288 bgpd: Add a warning if we try to use the last reserved ASN
  bgpd/bgp_vty.c
  doc/user/overview.rst
Labels: bgp

#10191 bgpd: VRF-Lite fix to clear stale leaked routes
  bgpd/bgp_route.c
  tests/topotests/bgp_gr_functionality_topo3/bgp_gr_functionality_topo3.json
  tests/topotests/bgp_gr_functionality_topo3/bgp_gr_functionality_topo3.py
  tests/topotests/lib/bgp.py
Labels: tests, bgp, bugfix

#9517 tools: fix wrong get_contexts() of Config class.
  tools/frr-reload.py
Labels: tools, bugfix

#10030 tools: cleanup convertion of "Null0"
  tools/frr-reload.py
Labels: tools

#10309 doc: Adding the Design document for PIM IPv6
  doc/developer/MLD-and-PIMv6-Design.png
  doc/developer/PIMv6-Design.pptx
Labels: documentation, pimv6

#10299 Various stuff
  bfdd/bfdd_vty.c
  pimd/pim_oil.c
Labels: pim, bfd

#10313 ospfd,ospf6d: fix wrong comparison of routemap name
  ospf6d/ospf6_asbr.c
  ospfd/ospf_vty.c
Labels: ospf, ospfv3, bugfix

#10212 pimd: Data structure changes to accommodate address family for IPv4 and IPv6
  pimd/pim_assert.c
  pimd/pim_assert.h
  pimd/pim_iface.h
  pimd/pim_ifchannel.h
  pimd/pim_igmp.h
  pimd/pim_jp_agg.h
  pimd/pim_macro.c
  pimd/pim_macro.h
  pimd/pim_neighbor.h
  pimd/pim_pim.c
  pimd/pim_rpf.h
  pimd/pim_str.h
  pimd/pim_upstream.h
Labels: documentation, pim, pimv6

#10235 SRv6 routes aren't inserted into data plane correctly with soft-reconfiguration
  bgpd/bgp_attr.c
Labels: bgp

#10312 lib: rename one bfd parameter name to reflect real meaning
  lib/bfd.c
  lib/bfd.h
Labels: libfrr

#10320 ospfd: correct one word of the output message
  ospfd/ospf_vty.c
Labels: ospf

#9292 ospfv3 is showing enabled on loopback interface although it is not
  ospf6d/ospf6_interface.c
Labels: ospfv3, bugfix

#9285 ospf6d: add prompt for commands with non-exist vrf
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6d.c
  ospf6d/ospf6d.h
Labels: ospfv3

#10315 ospf6d: some cleaning
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_nssa.c
Labels: ospfv3, bugfix

#10317 bgpd: Make sure we are playing with non-NULL for bgp shutdown message
  bgpd/bgpd.c
Labels: bgp

#10325 bgpd: Remove unneeded loop over all peers
  bgpd/bgp_route.c
Labels: bgp

#10282 pimd: `prefix_sg` => `pim_sgaddr`
  doc/developer/logging.rst
  lib/prefix.c
  lib/prefix.h
  pimd/.gitignore
  pimd/pim6_main.c
  pimd/pim_addr.c
  pimd/pim_addr.h
  pimd/pim_assert.c
  pimd/pim_br.c
  pimd/pim_br.h
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_ifchannel.h
  pimd/pim_igmp_mtrace.c
  pimd/pim_join.c
  pimd/pim_mlag.c
  pimd/pim_mroute.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_msdp_packet.c
  pimd/pim_msdp_packet.h
  pimd/pim_nb_config.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_register.c
  pimd/pim_register.h
  pimd/pim_str.c
  pimd/pim_str.h
  pimd/pim_tlv.c
  pimd/pim_tlv.h
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vxlan.c
  pimd/pim_vxlan.h
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pimd.c
  pimd/pimd.h
  pimd/subdir.am
  tests/lib/test_printfrr.c
Labels: pim, pimv6

#10266 bgpd: fix aggregate route unsuppression bug
  bgpd/bgp_route.c
Labels: bgp, bugfix

#10334 pimd: IGMP messages may be longer than 8 octets
  pimd/pim_igmpv2.c
Labels: pim, bugfix

#10324 lib: fix the right value is returned for fail cases
  lib/bfd.c
Labels: libfrr, bugfix

#10314 ospf6d: do not send Type-5 into stub area
  ospf6d/ospf6_asbr.c
Labels: ospfv3

#10279 pimd: rename IGMP members in pim_interface for MLD use
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmpv3.c
  pimd/pim_mroute.c
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  pimd/pim_zebra.c
Labels: pim, pimv6

#10337 python: pass conditionals through clippy for DEFPY
  python/clidef.py
Labels: clippy

#10335 bgpd: Reduce nesting for bgp_show_peer()
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: cleanup, bgp

#10339 lib: printfrr shenanigans
  bgpd/bgp_table.c
  doc/developer/logging.rst
  lib/monotime.h
  lib/nexthop.c
  lib/prefix.c
  lib/printf/glue.c
  lib/printfrr.h
  lib/sockunion.c
  lib/srcdest_table.c
  lib/strformat.c
  lib/thread.c
  lib/thread.h
  pimd/pim_addr.c
  tests/lib/test_printfrr.c
  tools/checkpatch.pl
Labels: libfrr, tools

#10346 zebra: Fix for route node having no tracking NHT
  zebra/rib.h
  zebra/zebra_rib.c
Labels: zebra

#10338 pim6d: drop off MSDP code
  pimd/pim_cmd.c
  pimd/pim_msdp.h
  pimd/pim_nb_config.c
  pimd/subdir.am
Labels: pim, pimv6

#9695 ospfd: Fix assert related to capability opaque
  ospfd/ospf_neighbor.c
Labels: ospf

#10343 bgpd: fix advertisedRoutes json key
  bgpd/bgp_route.c
Labels: bgp, bugfix

#10349 doc: adjust small words for ospfd
  doc/user/ospfd.rst
Labels: documentation

#10350 enable to transition to `SEGMENT_ROUTING_NODE` when pathd is disabled
  vtysh/vtysh.c
Labels: zebra, bugfix

#10183 *: rework renaming the default VRF
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/ptm_adapter.c
  bgpd/bgp_main.c
  doc/user/basic.rst
  doc/user/setup.rst
  doc/user/zebra.rst
  eigrpd/eigrp_main.c
  eigrpd/eigrp_vrf.c
  isisd/isisd.c
  ldpd/ldpd.c
  lib/libfrr.c
  lib/vrf.c
  lib/vrf.h
  lib/zclient.c
  nhrpd/nhrp_main.c
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  pbrd/pbr_vrf.c
  pimd/pim_instance.c
  ripd/ripd.c
  ripngd/ripngd.c
  sharpd/sharp_main.c
  staticd/static_vrf.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_mp_attr.c
  tests/bgpd/test_mpath.c
  tests/bgpd/test_packet.c
  tests/bgpd/test_peer_attr.c
  tests/ospfd/test_ospf_spf.c
  vrrpd/vrrp.c
  zebra/main.c
  zebra/zebra_netns_notify.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_vrf.c
Labels: relnote

#10179 Keeping PIM under address-family to accomodate IPv6 in future
  pimd/pim_cmd.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  yang/frr-pim.yang
Labels: pim, yang, pimv6

#10358 doc: cleanup submitting patches and enhancements
  doc/developer/workflow.rst
Labels: documentation

#10276 pimv: Keeping list of address-family under gmp container
  pimd/pim_cmd.c
  pimd/pim_main.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/subdir.am
  yang/frr-gmp.yang
  yang/subdir.am
Labels: pim, yang, pimv6

#9644 OSPF opaque route attributes
  bgpd/bgp_zebra.c
  lib/route_opaque.h
  ospf6d/ospf6_area.h
  ospf6d/ospf6_route.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6_zebra.c
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  tests/topotests/zebra_opaque/r3/ospf6d.conf
  tests/topotests/zebra_opaque/r3/ospfd.conf
  tests/topotests/zebra_opaque/r3/zebra.conf
  tests/topotests/zebra_opaque/r4/ospf6d.conf
  tests/topotests/zebra_opaque/r4/ospfd.conf
  tests/topotests/zebra_opaque/r4/zebra.conf
  tests/topotests/zebra_opaque/test_zebra_opaque.py
  zebra/zebra_vty.c
Labels: tests, ospf, ospfv3, zebra, libfrr

#9938 isisd: Add Link State Traffic Engineering support
  doc/user/isisd.rst
  isisd/isis_adjacency.c
  isisd/isis_adjacency.h
  isisd/isis_bfd.c
  isisd/isis_circuit.c
  isisd/isis_cli.c
  isisd/isis_lfa.c
  isisd/isis_lsp.c
  isisd/isis_mt.c
  isisd/isis_mt.h
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_pdu.c
  isisd/isis_route.c
  isisd/isis_snmp.c
  isisd/isis_sr.c
  isisd/isis_te.c
  isisd/isis_te.h
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  isisd/isisd.c
  isisd/isisd.h
  lib/link_state.c
  lib/link_state.h
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
  tests/topotests/isis_te_topo1/__init__.py
  tests/topotests/isis_te_topo1/r1/isisd.conf
  tests/topotests/isis_te_topo1/r1/zebra.conf
  tests/topotests/isis_te_topo1/r2/isisd.conf
  tests/topotests/isis_te_topo1/r2/zebra.conf
  tests/topotests/isis_te_topo1/r3/isisd.conf
  tests/topotests/isis_te_topo1/r3/zebra.conf
  tests/topotests/isis_te_topo1/r4/isisd.conf
  tests/topotests/isis_te_topo1/r4/zebra.conf
  tests/topotests/isis_te_topo1/reference/ted_step1.json
  tests/topotests/isis_te_topo1/reference/ted_step2.json
  tests/topotests/isis_te_topo1/reference/ted_step3.json
  tests/topotests/isis_te_topo1/reference/ted_step4.json
  tests/topotests/isis_te_topo1/reference/ted_step5.json
  tests/topotests/isis_te_topo1/reference/ted_step6.json
  tests/topotests/isis_te_topo1/test_isis_te_topo1.py
  yang/frr-isisd.yang
Labels: isis, libfrr, bugfix

#10355 lib, zebra: make startup less noisy
  lib/yang.c
  zebra/kernel_netlink.c
Labels: zebra, libfrr

#10351 tests: Fix random failure in test_PIM_hello_tx_rx_p1
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo4.py
Labels: tests

#10369 Isis fixes
  isisd/isis_nb_config.c
  isisd/isis_snmp.c
Labels: isis

#10363 bfdd: fix the possibly wrong counter of control packets
  bfdd/bfd_packet.c
Labels: bfd, bugfix

#10362 pimd: remove redundant header include
  pimd/pim_bfd.c
  pimd/pim_msdp.c
  pimd/pim_vty.c
Labels: pim, pimv6

#10360 lib/clippy: don't endian-convert twice
  lib/elf_py.c
Labels: bugfix

#8011 lib: Figure out if we are being starved for cpu
  lib/lib_errors.c
  lib/lib_errors.h
  lib/thread.c
  lib/thread.h
  lib/workqueue.c
  zebra/interface.c
Labels: zebra, libfrr

#10398 pimd: debug pim fixes
  pimd/pim_cmd.c
  pimd/pim_vty.c
Labels: pim

#10348 bgpd: Graceful-restart / LLGR with dynamic peers
  bgpd/bgp_fsm.c
  bgpd/bgpd.h
  tests/topotests/bgp_llgr/r0/bgpd.conf
  tests/topotests/bgp_llgr/r1/bgpd.conf
  tests/topotests/bgp_llgr/r2/bgpd.conf
  tests/topotests/bgp_llgr/r2/zebra.conf
  tests/topotests/bgp_llgr/r3/bgpd.conf
  tests/topotests/bgp_llgr/r4/bgpd.conf
  tests/topotests/bgp_llgr/r4/zebra.conf
  tests/topotests/bgp_llgr/test_bgp_llgr.py
Labels: tests, bgp

#10352 bgpd: Add peer-groups to neighbor autocomplete
  bgpd/bgp_vty.c
Labels: bgp

#10318 OSPF Redistribution
  ospfd/ospf_lsa.c
  ospfd/ospf_vty.c
  tests/topotests/ospf_instance_redistribute/r1/ospf_default_information.json
  tests/topotests/ospf_instance_redistribute/r1/ospf_instance_lsa.json
  tests/topotests/ospf_instance_redistribute/r1/ospf_instance_lsa2.json
  tests/topotests/ospf_instance_redistribute/r1/ospfd-3.conf
  tests/topotests/ospf_instance_redistribute/r1/sharp_installed.json
  tests/topotests/ospf_instance_redistribute/r1/zebra.conf
  tests/topotests/ospf_instance_redistribute/test_ospf_instance_redistribute.py
  zebra/redistribute.c
  zebra/redistribute.h
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_rib.c
Labels: tests, ospf, zebra, bugfix

#10406 zebra: fix opaque data memleak
  zebra/zapi_msg.c
Labels: zebra, bugfix

#10412 zebra: fix vrf deletion
  zebra/if_netlink.c
Labels: zebra, bugfix

#10407 ospfd: fix crash on "ospf send-extra-data zebra"
  ospfd/ospf_vty.c
Labels: ospf, bugfix

#10402 bgpd: Show negative form of capability extended-nexthop for interface…
  bgpd/bgp_vty.c
Labels: bgp

#10381 BGP EVPN overlay index fixes and improvements
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  lib/ipaddr.h
Labels: bgp, bugfix

#10380 bgpd: Show Graceful Restart seconds remaining per prefix
  bgpd/bgp_route.c
Labels: bgp

#10374 bgpd: Reset message statistics with clear command
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: documentation, bgp

#10419 redhat: logrotate file has typo for staticd
  redhat/frr.logrotate
Labels: packaging

#10395 pimd: fix misuse of xpath buf size constants
  pimd/pim_cmd.c
Labels: pim, bugfix

#10410 pimd: fix interface memleak
  pimd/pim6_main.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_main.c
Labels: pim, bugfix

#10425 ospf6d: show if area is NSSA
  ospf6d/ospf6_area.c
Labels: ospfv3, bugfix

#9880 bgpd: fixes maximum prefix out
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_maximum_prefix_out/test_bgp_maximum_prefix_out.py
Labels: bgp, bugfix

#10434 isisd: remove deprecated command
  isisd/isis_cli.c
Labels: isis

#10433 vrrpd: use ipaddr_is_zero when needed
  lib/ipaddr.h
  vrrpd/vrrp_northbound.c
Labels: vrrp

#10420 zebra: Actually delete the table we are looking for
  zebra/zebra_vrf.c
Labels: zebra

#10389 ospf6d: Fix ECMP inter-area route nexthop update
  ospf6d/ospf6_abr.c
Labels: ospfv3

#10159 bgpd: retain peer asn even with remove-private-AS
  bgpd/bgp_aspath.c
  bgpd/bgp_route.c
  tests/topotests/bgp_remove_private_as/r1/bgpd.conf
  tests/topotests/bgp_remove_private_as/r1/zebra.conf
  tests/topotests/bgp_remove_private_as/r2/bgpd.conf
  tests/topotests/bgp_remove_private_as/r2/zebra.conf
  tests/topotests/bgp_remove_private_as/r3/bgpd.conf
  tests/topotests/bgp_remove_private_as/r3/zebra.conf
  tests/topotests/bgp_remove_private_as/r4/bgpd.conf
  tests/topotests/bgp_remove_private_as/r4/zebra.conf
  tests/topotests/bgp_remove_private_as/r5/bgpd.conf
  tests/topotests/bgp_remove_private_as/r5/zebra.conf
  tests/topotests/bgp_remove_private_as/test_bgp_remove_private_as.py
Labels: tests, bgp

#10357 bgpd: Relax peer to be on the same host
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgp_vty.c
Labels: bgp

#9869 zebra: Fix EVPN route nexthop config order
  zebra/zapi_msg.c
Labels: zebra

#10448 ospf6d: Fix memory leak for `show ipv6 ospf6 zebra json`
  ospf6d/ospf6_zebra.c
Labels: ospfv3

#10451 ospfd: Convert output to host order from network order for route_tag
  ospfd/ospf_dump.c
Labels: ospf, bugfix
