Repository FRRouting/frr, pull requests merged in 2022-06, with the labels that each got.

#11322 bgpd: Add ability to match `match peer <PEERGROUPNAME>`
  bgpd/bgp_routemap.c
  doc/user/routemap.rst
Labels: bgp, bugfix, master

#11319 tests: Remove duplicated work
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_unnumbered_nbr.py
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo3_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo3_ibgp.py
Labels: tests, master

#11315 tools: Don't complain about missing PID files when stopping all damons
  tools/frrcommon.sh.in
Labels: tools, master

#11326 tools: Really fix all daemon shutdown without complaining about PID files
  tools/frrcommon.sh.in
Labels: tools, bugfix, master

#11314 zebra: add error check condition to sock option
  zebra/kernel_netlink.c
Labels: zebra, master

#11329 ospf6d: fix rx/tx buffer sizes
  ospf6d/ospf6_message.c
Labels: ospfv3, bugfix, master

#11166 mgmtd: Revert changes related to local validation.
  lib/northbound.c
  lib/northbound.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_main.c
  mgmtd/subdir.am
  staticd/static_nb.c
  staticd/static_nb_config.c
  staticd/static_zebra.c
Labels: mgmt

#11289 ospfapi improvements and fixes
  debian/frr-pythontools.install
  doc/user/installation.rst
  doc/user/ospfd.rst
  ospfclient/ospfclient.py
  ospfclient/subdir.am
  ospfd/ospf_api.c
  ospfd/ospf_api.h
  ospfd/ospf_apiserver.c
  ospfd/ospf_apiserver.h
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_opaque.c
  ospfd/ospf_opaque.h
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospf_ti_lfa.c
  ospfd/ospf_vty.c
  ospfd/ospfd.h
  redhat/frr.spec.in
  tests/ospfd/test_ospf_spf.c
  tests/topotests/ospfapi/ctester.py
  tests/topotests/ospfapi/lib
  tests/topotests/ospfapi/r1/ospfd.conf
  tests/topotests/ospfapi/r1/zebra.conf
  tests/topotests/ospfapi/r2/ospfd.conf
  tests/topotests/ospfapi/r2/zebra.conf
  tests/topotests/ospfapi/r3/ospfd.conf
  tests/topotests/ospfapi/r3/zebra.conf
  tests/topotests/ospfapi/r4/ospfd.conf
  tests/topotests/ospfapi/r4/zebra.conf
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: tests, ospf, bugfix, master

#11318 isisd: add ISIS_MT_STANDARD define
  isisd/isis_cli.c
  isisd/isis_mt.c
  isisd/isis_mt.h
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_tlvs.c
  yang/frr-isisd.yang
Labels: isis, master

#11312 bgpd: Add Notification CEASE BFD Down message
  bgpd/bgp_bfd.c
  bgpd/bgp_debug.c
  bgpd/bgp_packet.c
  bgpd/bgpd.h
  tests/topotests/bfd_bgp_cbit_topo3/r3/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/__init__.py
  tests/topotests/bgp_bfd_down_cease_notification/r1/bfdd.conf
  tests/topotests/bgp_bfd_down_cease_notification/r1/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/r1/zebra.conf
  tests/topotests/bgp_bfd_down_cease_notification/r2/bfdd.conf
  tests/topotests/bgp_bfd_down_cease_notification/r2/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/r2/zebra.conf
  tests/topotests/bgp_bfd_down_cease_notification/test_bgp_bfd_down_cease_notification.py
Labels: bgp, master

#11361 redhat: fix merge conflict resolution
  redhat/frr.spec.in
Labels: packaging, bugfix, dev/mgmtd

#11356 pimd: Handle receive of (*,G) register stop with src addr as 0
  pimd/pim_register.c
Labels: pim, master

#11369 pimd: pim_addr_cmp returns 0 for same not -1 or 1
  pimd/pim_cmd_common.c
Labels: pim, master

#11360 redhat, debian: Update packaging releases
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, master

#11370 Lib zebra cleanup
  lib/workqueue.c
  lib/workqueue.h
  ospfd/ospf_zebra.c
  ospfd/ospfd.h
Labels: ospf, libfrr, master

#11377 pimd: Show interface traffic even if interface is currently `down`
  pimd/pim_cmd.c
Labels: pim, master

#11372 pimd: Fix pim_channel_oil_empty tests
  pimd/pim_oil.c
  pimd/pim_oil.h
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_static_routes_topo1.py
Labels: tests, pim, bugfix, master

#11259 tests: [Topojson] Enhance CLI logging
  tests/topotests/lib/common_config.py
Labels: tests

#11328 bgpd: Drop label_ntop/label_pton functions
  bgpd/bgp_label.c
  bgpd/bgp_label.h
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
Labels: bgp, master

#11367 Babel updates
  babeld/message.c
  babeld/message.h
Labels: babel, bugfix, master

#11389 bgpd: Minor warning fixes
  bgpd/bgp_route.c
  bgpd/bgpd.h
Labels: bgp, master

#11378 lib: sysrepo compilation issues
  configure.ac
  lib/northbound_sysrepo.c
Labels: libfrr, master

#11387 pimd, pim6d: Moving the reusable code to common api for PIM show CLIs
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pim, pimv6, master

#11388 github: Mark issues with no activity in 180 days as stale
  .github/workflows/stale.yml
Labels: master

#11385 pimd, pim6d: Moving reusable code to common api for show CLI's.
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pim, pimv6, master

#11358 bgpd: Fix VRF leaking when import/export RT list changed with route-maps
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_vrf_leaking_rt_change_route_maps/__init__.py
  tests/topotests/bgp_vrf_leaking_rt_change_route_maps/r1/bgpd.conf
  tests/topotests/bgp_vrf_leaking_rt_change_route_maps/r1/zebra.conf
  tests/topotests/bgp_vrf_leaking_rt_change_route_maps/test_bgp_vrf_leaking_rt_change_route_maps.py
Labels: tests, bgp, master

#11294 pim6d: Adding PIM protocol packets stats CLI
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: documentation, pim, pimv6, master

#11333 bgpd: Fix memory leak when setting [l]community at egress
  bgpd/bgp_route.c
Labels: bgp, master

#11343 bgpd: Initialize attr->local_pref to the configured default value
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp_adv.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_export_bgp.c
  tests/topotests/bgp_set_local_preference_add_subtract/r2/bgpd.conf
  tests/topotests/bgp_set_local_preference_add_subtract/r3/bgpd.conf
  tests/topotests/bgp_set_local_preference_add_subtract/test_bgp_set_local-preference_add_subtract.py
Labels: bgp, master

#11392 bgpd: Set TTL for iBGP/eBGP by checking only if Generic TTL security applied
  bgpd/bgp_network.c
  bgpd/bgp_vty.c
Labels: bgp, master

#11344 bgpd: Wrap IPV4_CLASS_DE into ipv4_unicast_valid() helper
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  lib/prefix.h
  lib/routemap_northbound.c
Labels: bgp, master

#11399 bgpd: [8.2] Withdraw implicitly old paths from VRFs when import/export list…
  bgpd/bgp_mplsvpn.c
Labels: bgp, stable/8.2

#11395 *: Use autocomplete for route-maps under commands that require it
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  isisd/isis_cli.c
  isisd/isis_redist.c
  lib/routemap.c
  ospf6d/ospf6_asbr.c
  ospfd/ospf_vty.c
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  zebra/zebra_vty.c
Labels: master

#11243 pim6d: Don't enable mld on pimreg interface by default
  pimd/pim_iface.c
Labels: pimv6

#11407 tests: fix sporadic failures in the ldp_topo1 topotest
  tests/topotests/ldp_topo1/r1/show_ip_ospf_neighbor.json
  tests/topotests/ldp_topo1/r2/show_ip_ospf_neighbor.json
  tests/topotests/ldp_topo1/r3/show_ip_ospf_neighbor.json
  tests/topotests/ldp_topo1/r4/show_ip_ospf_neighbor.json
  tests/topotests/ldp_topo1/test_ldp_topo1.py
Labels: tests, bugfix, master

#11403 replace the import/export keywords for in/out
  doc/user/routeserver.rst
Labels: documentation, master

#11400 vtysh: Add autocomplete for VRFs when using with `router bgp`
  vtysh/vtysh.c
Labels: vtysh, master

#11404 pimd: Cleanup rpf lookup debug to help us figure out what is going on
  pimd/pim_rp.c
Labels: pim, master

#11355 pim6d: creating pim6reg
  pimd/pim_addr.h
  pimd/pim_iface.c
Labels: pim, pimv6

#11416 tests: fix ldp_vpls_topo1 to work as expected
  doc/user/ldpd.rst
  tests/topotests/ldp_vpls_topo1/r1/ldpd.conf
  tests/topotests/ldp_vpls_topo1/r2/ldpd.conf
  tests/topotests/ldp_vpls_topo1/r3/ldpd.conf
Labels: documentation, tests, bugfix, master

#11412 pimd: Fix the setting of oif_flags in channel oil
  pimd/pim_oil.c
Labels: pim, master

#11405 tests: Verify PIM neighbors and static routes for BSM tests
  tests/topotests/lib/common_config.py
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
Labels: tests, master

#11272 pim6d: Removed PIM_IPV == 4 flag
  pimd/pim_cmd_common.c
Labels: pimv6

#11409 Zebra nhg debug
  lib/nexthop.c
  lib/nexthop.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
Labels: zebra, libfrr, master

#11408 tests: Fix verify_rib such that it will look at the selected route
  tests/topotests/lib/common_config.py
Labels: tests, master

#11415 Interface duplication linux
  bgpd/bgp_debug.c
  ospfd/ospf_dump.c
  zebra/interface.c
  zebra/ioctl.c
Labels: bgp, ospf, zebra, master

#11353 bmp: add a interface source to bmp connect command
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  doc/user/bmp.rst
Labels: master

#11410 Daemons cleanup
  tools/etc/frr/daemons
  tools/frrcommon.sh.in
Labels: tools, master

#11421 bgpd: Use %pSU instead of sockunion2str
  bgpd/bgp_bmp.c
Labels: bgp, master

#11422 github: Autoclose stale issues/PRs that are stare longer than 180 days
  .github/workflows/stale.yml
Labels: master

#11425 lib: cleanup red-herring memleaks in parent of daemonizing fork
  lib/libfrr.c
Labels: libfrr, master

#11420 bgpd: [8.2] Initialize attr->local_pref to the configured default value
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp_adv.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_export_bgp.c
  tests/topotests/bgp_set_local_preference_add_subtract/r2/bgpd.conf
  tests/topotests/bgp_set_local_preference_add_subtract/r3/bgpd.conf
  tests/topotests/bgp_set_local_preference_add_subtract/test_bgp_set_local-preference_add_subtract.py
Labels: bgp, stable/8.2

#11431 Add some extra data for when things might be going wrong
  bgpd/bgp_vty.c
  lib/sockunion.c
Labels: bgp, libfrr, master

#11423 Lgtm fixes
  eigrpd/eigrp_vty.c
  lib/command.c
  lib/vty.c
  nhrpd/zbuf.c
  ospf6d/ospf6_interface.c
  python/tiabwarfo.py
  zebra/zebra_netns_id.c
Labels: eigrp, ospfv3, zebra, nhrp, libfrr, clippy, master

#11284 bgpd: Allow statistics gathering to give more data about prefix Lengths
  bgpd/bgp_route.c
Labels: bgp

#11146 lib/if: fix interface name comparison
  lib/if.c
Labels: bugfix, master

#11444 bgpd: Replace zlog_info -> zlog_debug under BGP_DEBUG()
  bgpd/bgp_bfd.c
Labels: bgp, master

#11351 tests: Add multicast-pim-multi-uplink test suite
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_uplink_topo1/multicast_pim_uplink_topo1.json
  tests/topotests/multicast_pim_uplink_topo1/test_multicast_pim_uplink_topo1.py
Labels: tests, master

#11449 ospfclient: fix help url
  ospfclient/README
Labels: bugfix, master

#11448 tests: Removing invalid step from OSPF tests.
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
Labels: tests, master

#11443 bgpd: Drop duplicate label assignment
  bgpd/bgp_attr.c
Labels: bgp, master

#11418 lib: pim6d: Use IPv6 global unicast address to send PIMv6 register packet
  lib/prefix.h
  pimd/pim_register.c
  pimd/pim_register.h
Labels: libfrr, bugfix, pimv6, master

#11427 zebra: remove redundant calling hook for fpm
  zebra/zebra_rib.c
Labels: zebra, master

#11445 *: Replace sockunion2str => %pSU
  bgpd/bgp_bmp.c
  bgpd/bgp_network.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  lib/nexthop_group.c
  nhrpd/nhrp_nhs.c
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_shortcut.c
  nhrpd/nhrp_vty.c
Labels: cleanup, master

#11442 bgpd: RPKI fixes
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: documentation, bgp, master

#11437 ospfd: Fixing "show ip ospf neighbour <nbrid>" command
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
Labels: ospf, master

#10629 lib, zebra, bgpd: Move route EVPN flag to nexthop
  bgpd/bgp_zebra.c
  lib/nexthop.h
  lib/zclient.c
  lib/zclient.h
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_rib.c
Labels: bgp, zebra, libfrr

#11453 zebra: rtnetlink: flow attr per gateway attr in multipath updates
  zebra/debug_nl.c
  zebra/rt_netlink.c
Labels: zebra, master

#11452 Realm fix nexthop groups
  doc/user/installation.rst
  doc/user/routemap.rst
Labels: documentation, zebra, bugfix, master

#11465 vtysh: Account validity should be verified when authenticating users with PAM
  vtysh/vtysh_user.c
Labels: vtysh, master

#11457 Pim6d: Mroute file duplication removal
  pimd/pim6_mroute_msg.c
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_mroute_msg.c
  pimd/subdir.am
Labels: pim, pimv6, master

#11430 ospf6: permit route delete without nexthops
  ospf6d/ospf6_zebra.c
Labels: ospfv3, bugfix, master

#11462 Random stuff right
  bgpd/rfapi/vnc_zebra.c
  isisd/isis_bfd.c
  isisd/isis_snmp.c
  ospf6d/ospf6_auth_trailer.c
  pimd/pim6_mld.c
  pimd/pim_instance.h
  pimd/pim_nht.c
  pimd/pim_rpf.c
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pimd.c
Labels: bgp, pim, isis, ospfv3, master

#11258 zebra: move the checks for l3vni
  zebra/zebra_vxlan.c
Labels: zebra

#11467 pimd: Avoid accessing freed memory
  pimd/pim_upstream.c
Labels: pim, master

#11464 Linkdown
  lib/nexthop.h
  zebra/interface.c
  zebra/interface.h
  zebra/netconf_netlink.c
  zebra/rt_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_vty.c
Labels: zebra, libfrr, master

#11242 pim6d: Fixing repeated group source field in show ipv6 mroute
  pimd/pim_cmd_common.c
Labels: pim, pimv6

#11469 zebra: netlink rtm tunnel msg parsing
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/kernel_netlink.c
Labels: zebra, master

#11468 pimd: Fixing invalid memory access
  pimd/pim_instance.c
Labels: pim, bugfix

#11471 pimd: Clean up mroute_socket when pim terminates.
  pimd/pim_instance.c
Labels: pim, master

#11472 frr.postinst: egrep is deprecated
  debian/frr.postinst
Labels: packaging, master

#11475 pimd: fix pim interface deletion flow
  pimd/pim_iface.c
Labels: pim, bugfix, master

#11429 zebra: Fix rtadv startup when config read in is before interface up
  zebra/rtadv.c
Labels: zebra, master

#11477 tools: fix boot config load in watchfrr
  tools/frrcommon.sh.in
Labels: tools, bugfix, master

#11426 bgpd: Add RFC9234 implementation
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_debug.c
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/overview.rst
  lib/command.h
  tests/bgpd/test_capability.c
  tests/bgpd/test_capability.py
  tests/topotests/bgp_roles_capability/__init__.py
  tests/topotests/bgp_roles_capability/r1/bgpd.conf
  tests/topotests/bgp_roles_capability/r1/zebra.conf
  tests/topotests/bgp_roles_capability/r2/bgpd.conf
  tests/topotests/bgp_roles_capability/r2/zebra.conf
  tests/topotests/bgp_roles_capability/r3/bgpd.conf
  tests/topotests/bgp_roles_capability/r3/zebra.conf
  tests/topotests/bgp_roles_capability/r4/bgpd.conf
  tests/topotests/bgp_roles_capability/r4/zebra.conf
  tests/topotests/bgp_roles_capability/r5/bgpd.conf
  tests/topotests/bgp_roles_capability/r5/zebra.conf
  tests/topotests/bgp_roles_capability/roles_capability_stand.dot
  tests/topotests/bgp_roles_capability/roles_capability_stand.jpg
  tests/topotests/bgp_roles_capability/test_bgp_roles_capability.py
  tests/topotests/bgp_roles_filtering/__init__.py
  tests/topotests/bgp_roles_filtering/r1/bgpd.conf
  tests/topotests/bgp_roles_filtering/r1/zebra.conf
  tests/topotests/bgp_roles_filtering/r10/bgpd.conf
  tests/topotests/bgp_roles_filtering/r10/zebra.conf
  tests/topotests/bgp_roles_filtering/r2/bgpd.conf
  tests/topotests/bgp_roles_filtering/r2/zebra.conf
  tests/topotests/bgp_roles_filtering/r3/bgpd.conf
  tests/topotests/bgp_roles_filtering/r3/zebra.conf
  tests/topotests/bgp_roles_filtering/r4/bgpd.conf
  tests/topotests/bgp_roles_filtering/r4/zebra.conf
  tests/topotests/bgp_roles_filtering/r5/bgpd.conf
  tests/topotests/bgp_roles_filtering/r5/zebra.conf
  tests/topotests/bgp_roles_filtering/r6/bgpd.conf
  tests/topotests/bgp_roles_filtering/r6/zebra.conf
  tests/topotests/bgp_roles_filtering/r7/bgpd.conf
  tests/topotests/bgp_roles_filtering/r7/zebra.conf
  tests/topotests/bgp_roles_filtering/roles_filtering_stand.dot
  tests/topotests/bgp_roles_filtering/roles_filtering_stand.jpg
  tests/topotests/bgp_roles_filtering/test_bgp_roles_filtering.py
Labels: bgp, master

#11480 bgpd: Use uin64_t for peer->flags
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master

#11434 Crash fix and test fix and some cleanup
  isisd/fabricd.c
  isisd/isis_bfd.c
  isisd/isis_circuit.c
  isisd/isis_lsp.c
  isisd/isis_pdu.c
  isisd/isis_te.c
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/test_bgp_srv6l3vpn_to_bgp_vrf.py
  tests/topotests/ospf6_ecmp_inter_area/test_ospf6_ecmp_inter_area.py
  tests/topotests/route_scale/scale_test_common.py
  tests/topotests/zebra_seg6local_route/test_zebra_seg6local_route.py
Labels: tests, isis, master

#11482 Netconf work
  zebra/interface.c
  zebra/interface.h
  zebra/netconf_netlink.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: zebra, master

#11479 pim6d: Changing igmp_enable to gm_enable.
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  pimd/pim_vxlan.c
Labels: pim, pimv6, master

#11474 Dp dpdk
  configure.ac
  doc/user/zebra.rst
  lib/privs.c
  lib/privs.h
  pbrd/pbr_vty.c
  vtysh/vtysh.h
  zebra/debug.c
  zebra/debug.h
  zebra/dpdk/zebra_dplane_dpdk.c
  zebra/dpdk/zebra_dplane_dpdk.h
  zebra/dpdk/zebra_dplane_dpdk_private.h
  zebra/dpdk/zebra_dplane_dpdk_vty.c
  zebra/main.c
  zebra/rt_netlink.c
  zebra/subdir.am
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_neigh.c
  zebra/zebra_neigh.h
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: zebra, libfrr, master

#11093 Allow martians
  bgpd/bgp_attr.c
  bgpd/bgp_debug.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#11481 pimd: Querier to non-querier transition to be ignored (ANVL Conformance fix)
  pimd/pim_igmp.c
Labels: pim, master

#11484 bgpd: Make sure peer-groups/unnumbered work too with BGP role
  bgpd/bgp_open.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_roles_capability/r1/bgpd.conf
  tests/topotests/bgp_roles_capability/r1/zebra.conf
  tests/topotests/bgp_roles_capability/r2/bgpd.conf
  tests/topotests/bgp_roles_capability/r3/bgpd.conf
  tests/topotests/bgp_roles_capability/r4/bgpd.conf
  tests/topotests/bgp_roles_capability/r5/bgpd.conf
  tests/topotests/bgp_roles_capability/r6/bgpd.conf
  tests/topotests/bgp_roles_capability/r6/zebra.conf
  tests/topotests/bgp_roles_capability/test_bgp_roles_capability.py
Labels: bgp, master

#11486 bgpd: include 0 in configured hold/keepalive
  bgpd/bgp_vty.c
Labels: bgp, master

#11428 pimd,pim6d: Change the show running commands based on address family
  pimd/pim_addr.h
  pimd/pim_vty.c
Labels: pim, pimv6, master

#11493 pimd: Register stop message sent with mask 32
  pimd/pim_tlv.c
Labels: pim, bugfix, master
