Repository FRRouting/frr, pull requests merged in 2022-07, with the labels that each got.

#11488 lib: Allow downgrade of all caps when none are specified
  lib/privs.c
Labels: libfrr, master

#11516 zebra: handle FreeBSD routing socket ENOBUFS
  zebra/kernel_socket.c
Labels: zebra, bugfix, to backport, master

#11505 pim6d: Fix the todo items in ipv6 watermark limit CLI
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_instance.h
  pimd/pim_vty.c
Labels: pim, pimv6, master

#11520 zebra: Add a subqueue2str function to give more useful data in debugs
  zebra/zebra_rib.c
Labels: zebra, master

#11514 Zebra odds and ends
  zebra/main.c
  zebra/rt_netlink.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: zebra, master

#11507 Setsockopt changes
  zebra/kernel_netlink.c
Labels: zebra, master

#11371 bfdd: add IPv4 BFD Echo support that loops pkts in forwarding plane
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd_cli.c
  tests/topotests/bfd_vrf_topo1/r1/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r1/peers.json
  tests/topotests/bfd_vrf_topo1/r2/bfdd.conf
  tests/topotests/bfd_vrf_topo1/r2/peers.json
  tests/topotests/bfd_vrf_topo1/r3/bfdd.conf
Labels: tests, bfd, master

#11527 pimd: Remove unused extern pim_channel_oil_list
  pimd/pim_oil.h
Labels: pim, master

#11517 topostest: bgp_conditional_advertisement cleanup
  tests/topotests/bgp_conditional_advertisement/test_bgp_conditional_advertisement.py
Labels: master

#11515 bgpd: Start conditional advertisements instantly if we configure them
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master

#11502 zebra: make rib_process_dplane_results own ctx freeing
  zebra/interface.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_pbr.c
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
Labels: zebra, master

#11494 ospfd: set/unset bfd profile
  ospfd/ospf_bfd.c
  tests/topotests/bfd_profiles_topo1/r1/ospfd.conf
Labels: ospf, master

#11532 [8.2] Fix FreeBSD interface configuration
  zebra/ioctl.c
Labels: zebra, bugfix, stable/8.2

#11524 tests: Fix for multicast_pim_bsm_topo1 key error
  tests/topotests/lib/common_config.py
Labels: tests, master

#11534 lib: fix SA warning in typesafe code
  lib/typesafe.h
Labels: libfrr, bugfix, master

#9307 pimd: json support for nexthop
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pim, pimv6

#11521 pim6d: Fix [no] ipv6 pim drpriority command
  pimd/pim6_cmd.c
  pimd/pim_nb_config.c
Labels: bugfix, pimv6, master

#11542 bfdd: fix coverity scan issues
  bfdd/bfd_packet.c
Labels: bfd, bugfix, master

#11548 lib: check hostname in resolver_resolve
  lib/resolver.c
Labels: libfrr, master

#11530 tests : bgp default originate test cases
  tests/topotests/bgp_default_originate/test_bgp_default_originate_topo1_3.py
Labels: tests, master

#10715 pim6d: modify pim_rpf from struct prefix to pim_addr
  pimd/pim_bsm.c
  pimd/pim_cmd_common.c
  pimd/pim_iface.c
  pimd/pim_ifchannel.c
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_msg.c
  pimd/pim_neighbor.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_tib.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vxlan.c
  pimd/pim_zebra.c
Labels: pim, pimv6

#11552 Package build fixes
  debian/control
  snapcraft/snapcraft.yaml.in
Labels: packaging, master

#11549 tools: Add missing bfdd to logrotate config
  tools/etc/rsyslog.d/45-frr.conf
Labels: tools, master

#11545 bgpd: Free memory for BMP listeners when deleting BGP instance
  bgpd/bgp_bmp.c
Labels: bgp, master

#11541 zebra: fix various multicast routing netlink API bits
  zebra/debug_nl.c
  zebra/rt_netlink.c
Labels: zebra, bugfix, master

#11553 pimd, pim6d: Fix description for clear ip[v6] mroute command
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
Labels: pim, pimv6, master

#10592 pim6d: pimv6 bsm
  pimd/pim6_stubs.c
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_cmd.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/subdir.am
Labels: bgp, pim, pimv6

#11568 bgpd: fix missing rmac value in debug
  bgpd/bgp_evpn.c
Labels: bgp, bugfix, master

#11569 bgpd: work around GCC/plugin shortcomings
  bgpd/bgp_updgrp.c
Labels: bgp, master

#11570 pim6d: add `clear ipv6 pim bsr-data`
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
Labels: pim, pimv6, master

#11588 babeld: Install route to RIB if parse_update_subtlv() is false
  babeld/message.c
Labels: babel, master

#11580 pimd: removal double inclusion of pim_addr.h
  pimd/pim_str.h
Labels: pim

#11577 bgpd: Free ->raw_data from Hard Notification message after we use it
  bgpd/bgp_packet.c
Labels: bgp, master

#11461 pim6d: Enable/disable pim6d daemons on different platforms based on flags
  configure.ac
  debian/rules
  doc/developer/packaging-debian.rst
  pimd/subdir.am
  redhat/frr.spec.in
Labels: packaging, pimv6, master

#11576 zebra: remove redundant flags assignment
  zebra/zebra_evpn_neigh.c
Labels: zebra, master

#11593 pimd,pim6d: Set RP to true if the address matches, ignore prefix-length
  pimd/pim_rp.c
Labels: pim, bugfix, pimv6, master

#11585 pim6d: Longest possible length of a (S,G) string is 96 bytes
  lib/prefix.h
  pimd/pim_str.h
Labels: pim, pimv6, master

#11598 pimd: Avoid unnecessary vrf lookup
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pim, master

#11536 pimd: During prune pending, behave as NOINFO state (conformance issue)
  pimd/pim_nht.c
  pimd/pim_upstream.c
Labels: pim, bugfix, master

#11603 topotests: Remove typo (extra dot on the IP)
  tests/topotests/bgp_default_route_route_map_match_set/r1/zebra.conf
Labels: master

#11606 zebra: free neighbor state before exit to avoid memleaks
  zebra/zebra_neigh.c
Labels: master

#11564 tests: Fix multicast_pim_bsm_topo2 static route issue
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
Labels: tests, master

#11614 bgpd: Fix memory leak for community alias
  bgpd/bgp_community_alias.c
Labels: master

#11604 ospfd: free unreachable router LSA node so that it is not left unreachable
  ospfd/ospf_spf.c
Labels: ospf, master

#11615 bgpd: Fix memory leak for community stuff
  bgpd/bgp_community.c
Labels: master

#11610 bgpd: OTC attribute should be treated as withdrawal
  bgpd/bgp_attr.c
Labels: master

#11605 Improve valgrind
  tests/topotests/analyze.py
  tests/topotests/conftest.py
Labels: tests, master

#11622 Valgrind issues
  lib/filter_nb.c
  zebra/zebra_nhg.c
  zebra/zebra_vty.c
Labels: master

#11601 bmp add L3VPN support
  bgpd/bgp_bmp.c
  doc/user/bmp.rst
Labels: master

#11629 pimd: Remove the api from .h file since there is no definition of it
  pimd/pim_zebra.h
Labels: pim, master

#11627 Update Alpine packaging foo + change docker images back over to Alpine-provided libyang
  alpine/APKBUILD.in
  docker/alpine/Dockerfile
  docker/alpine/libyang/APKBUILD
Labels: packaging, docker, libfrr, master

#11631 ldpd: Check if the thread is scheduled before calling for remained time
  ldpd/adjacency.c
Labels: ldp, master

#11626 zebra: Avoid buffer overflow using netlink_parse_rtattr_nested()
  zebra/rt_netlink.c
Labels: zebra, master

#11635 zebra: Cleanup the memory from the hash for MPLS stuff
  zebra/zebra_mpls.c
Labels: zebra, master

#11633 pim6d: clear interface stats on interface shutdown
  pimd/pim_iface.c
Labels: bugfix, pimv6, master

#11611 bgp:change in showing neighbor description
  bgpd/bgp_vty.c
Labels: master

#11637 *: thread_timer_remain_second NULL handling
  bgpd/rfapi/rfapi_monitor.c
  bgpd/rfapi/rfapi_vty.c
  ldpd/adjacency.c
  ldpd/interface.c
  ldpd/neighbor.c
  lib/thread.c
Labels: bgp, libfrr, ldp, master

#11646 bgpd: Show extended communities memory consumption
  bgpd/bgp_vty.c
Labels: bgp, master

#11644 pim6d: Implementing "clear ipv6 pim interfaces" command.
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pimv6, master

#11649 BFDD: Cleanup warning
  bfdd/bfd_packet.c
Labels: bfd, master

#11638 doc: Remove extra "in" from document
  doc/developer/rcu.rst
Labels: documentation, master

#11648 Bunch of stuff found during testing.
  bgpd/bgpd.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_ap.c
  bgpd/rfapi/rfapi_encap_tlv.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/vnc_export_bgp.c
  bgpd/rfapi/vnc_export_table.c
  lib/agentx.c
  tests/topotests/bgp_snmp_mplsl3vpn/test_bgp_snmp_mplsvpn.py
  zebra/rtadv.c
Labels: tests, bgp, zebra, libfrr, master

#11643 tests: bgp default orignate behaviour on network commands
  tests/topotests/bgp_default_originate/bgp_default_originate_2links.json
  tests/topotests/bgp_default_originate/test_bgp_default_originate_2links.py
Labels: tests, master

#11651 ospfd: correct one debug info for lsa
  ospfd/ospf_lsa.c
Labels: ospf, master

#11655 vtysh: Ignore `end` when parsing frr.conf
  vtysh/vtysh.c
Labels: vtysh, master

#11653 isisd: fix prefix-sid last-hop-behavior
  isisd/isis_cli.c
Labels: isis, bugfix, master

#11654 *: frr_with_mutex change to follow our standard
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_packet.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_zebra.c
  doc/developer/locking.rst
  lib/ferr.c
  lib/frr_pthread.c
  lib/hash.c
  lib/log_filter.c
  lib/privs.c
  lib/stream.c
  lib/thread.c
  lib/zlog_targets.c
  zebra/zebra_opaque.c
  zebra/zebra_rib.c
  zebra/zserv.c
Labels: master

#11658 debian, redhat: updating changelog for new release
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, master

#11662 bgpd: Call a hook when as-path filter is replaced
  bgpd/bgp_filter.c
Labels: bgp, master

#11565 bfdd: allow l3vrf bfd sessions without udp leaking
  bfdd/bfd.c
  bfdd/bfd_packet.c
  tests/topotests/bfd_vrflite_topo1/__init__.py
  tests/topotests/bfd_vrflite_topo1/r1/bfd_peers_status.json
  tests/topotests/bfd_vrflite_topo1/r1/bfdd.conf
  tests/topotests/bfd_vrflite_topo1/r1/zebra.conf
  tests/topotests/bfd_vrflite_topo1/r2/bfdd.conf
  tests/topotests/bfd_vrflite_topo1/r2/zebra.conf
  tests/topotests/bfd_vrflite_topo1/test_bfd_vrflite_topo1.py
  tests/topotests/lib/micronet.py
Labels: bfd, master

#11652 pathd: add a zebra stop handler
  pathd/path_zebra.c
  pathd/path_zebra.h
  pathd/pathd.c
Labels: master

#11669 topotests: Drop static route
  tests/topotests/bgp_default_route_route_map_match/r1/zebra.conf
Labels: master

#11656 Some memory
  bgpd/bgp_packet.c
  isisd/isis_tlvs.c
  ospfclient/ospf_apiclient.c
Labels: bgp, isis, bugfix, master

#11661 bgpd: LL peers need bnc's per peer
  bgpd/bgp_evpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
Labels: bgp, master

#11666 bgpd: Free memory for as-path filter if regexp is wrong
  bgpd/bgp_filter.c
Labels: bgp, master

#11674 bgpd: Cleanup subgroup hash when we delete/merge a subgroup
  bgpd/bgp_advertise.c
  bgpd/bgp_advertise.h
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master

#11523 Bgp no retain
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_vpnv4_noretain/__init__.py
  tests/topotests/bgp_vpnv4_noretain/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_unfiltered.json
  tests/topotests/bgp_vpnv4_noretain/r1/isisd.conf
  tests/topotests/bgp_vpnv4_noretain/r1/zebra.conf
  tests/topotests/bgp_vpnv4_noretain/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_noretain/r2/isisd.conf
  tests/topotests/bgp_vpnv4_noretain/r2/zebra.conf
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: bgp, master

#11679 bgpd: Remove newlines from zlog, they are not allowed
  bgpd/bgp_vty.c
Labels: bgp, master

#11678 Valgrind me
  bgpd/bgp_zebra.c
  tests/topotests/bgp_default_originate/test_bgp_default_originate_topo1_1.py
  tests/topotests/bgp_default_originate/test_bgp_default_originate_topo1_2.py
  tests/topotests/bgp_default_originate/test_bgp_default_originate_topo1_3.py
  tests/topotests/bgp_default_originate/test_default_orginate_vrf.py
  tests/topotests/bgp_default_originate/test_default_originate_conditional_routemap.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_ibgp_nbr.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_nbr.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_unnumbered_nbr.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ibgp_nbr.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ibgp_unnumbered_nbr.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper1.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper2.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper3.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
  zebra/zebra_mpls.c
Labels: tests, bgp, zebra, master

#11681 pimd: Fix a couple coverity issues with mtracebis_netlink.c
  pimd/mtracebis_netlink.c
Labels: pim, master

#11164 tests: [PIMv6] Added APIs for multicast PIMv6 config
  tests/topotests/lib/common_config.py
  tests/topotests/lib/pim.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topojson.py
  tests/topotests/lib/topotest.py
  tests/topotests/multicast_pim_static_rp_topo1/multicast_pimv6_static_rp.json
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pimv6_static_rp.py
Labels: tests, pim, pimv6

#11687 bgpd: Fixup pbr rule changes that were missed
  bgpd/bgp_zebra.c
Labels: bgp, stable/8.3

#11689 bgpd: Allow setting custom port for unnumbered sessions
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master

#11682 tools/gcc-plugins: make GCC 12 compatible
  tools/gcc-plugins/frr-format.c
  tools/gcc-plugins/gcc-common.h
Labels: master

#11696 ospf6d: corrected the debug string
  ospf6d/ospf6_gr_helper.c
Labels: ospfv3, master

#11701 tests: [PIMv6] Updated topology for static rp suite
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pimv6_static_rp.py
Labels: tests, pimv6, master

#11697 two things
  bgpd/bgp_updgrp_adv.c
  ospfd/ospf_lsa.c
Labels: bgp, ospf, master

#11693 bgpd: Unlock bgp_node after bgp_node_lookup
  bgpd/bgp_bmp.c
Labels: bgp, master

#11695 bgpd: Ensure we are not using AFI_MAX
  bgpd/bgp_vty.c
Labels: bgp, master

#11685 ospfclient: condition optimization
  ospfclient/ospf_apiclient.c
Labels: master

#11703 isisd: Prevent leak of global_ipv6_addrs
  isisd/isis_adjacency.c
Labels: isis, master

#11702 pimd: Update mroute IIF based on Nexthop received from Zebra
  pimd/pim_nht.c
Labels: pim, master

#11706 bgpd: Safi can be SAFI_MAX which would allow a write beyond alloced
  bgpd/bgp_vty.c
Labels: bgp, master

#11707 doc: Update /doc/topotests.rst documentation
  doc/developer/topotests.rst
Labels: documentation, master
