Repository FRRouting/frr, pull requests merged in 2022-10, with the labels that each got.

#12043 Bgp hate
  bgpd/bgp_open.c
Labels: bgp, master

#12061 bgpd: show ip bgp neighbors graceful-restart typo
  bgpd/bgp_vty.c
Labels: bgp, master

#12058 fabricd: Turn off excessive logging when peering will not come up
  isisd/fabricd.c
Labels: master

#12048 RA logging improvements
  zebra/rtadv.c
Labels: zebra, master

#12013 pim6d: Adding new Debug CLI for MLD
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_addr.h
  pimd/pim_vty.c
Labels: documentation, pim, pimv6, master, freeze

#12019 Configure systemd to always restart FRR, regardless of exit code
  tools/frr.service.in
  tools/frr@.service.in
Labels: tools, master, freeze

#12063 debian, redhat: Update changelog for new release (8.5)
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, master

#12017 pimd, pim6d: send secondary address in PIM hello packet
  pimd/pim_hello.c
  pimd/pim_tlv.c
  pimd/pim_tlv.h
Labels: pim, pimv6, master

#12060 zebra: Allow tunneldump data to work properly on non-supported kernels
  zebra/if_netlink.c
Labels: zebra, bugfix, master

#11838 bgpd: BGP does not update next-hop when global V6 address is configured
  bgpd/bgp_zebra.c
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_unnumbered_nbr.py
Labels: bgp, master

#11983 bgpd: adding debug command for conditional advertisement
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_conditional_adv.h
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp, freeze

#12054 bgpd: Show why the prefix is inaccessible in show commands
  bgpd/bgp_route.c
Labels: bgp, master

#12038 bgpd: improve 'show bgp nexthop' command
  bgpd/bgp_nexthop.c
Labels: bgp, master

#12034 bgpd: Do not send Deconfig/Shutdown message when restarting
  bgpd/bgpd.c
  tests/topotests/bgp_gr_restart_retain_routes/__init__.py
  tests/topotests/bgp_gr_restart_retain_routes/r1/bgpd.conf
  tests/topotests/bgp_gr_restart_retain_routes/r1/zebra.conf
  tests/topotests/bgp_gr_restart_retain_routes/r2/bgpd.conf
  tests/topotests/bgp_gr_restart_retain_routes/r2/zebra.conf
  tests/topotests/bgp_gr_restart_retain_routes/test_bgp_gr_restart_retain_routes.py
Labels: tests, bgp, master, freeze

#12062 lib: hash list add function fix
  lib/typesafe.h
  tests/lib/test_typelist.h
Labels: tests, libfrr, bugfix, master

#12083 tests: nhid is interfering with pattern match
  tests/topotests/bgp_gr_restart_retain_routes/r2/zebra.conf
Labels: tests, master

#12073 bgpd: Remove unnecessary check for pi and setting type and sub-type
  bgpd/bgp_route.c
Labels: bgp, master

#11961 ospfd: fix for some of ospf debug commands config lost after reboot
  doc/user/ospfd.rst
  ospfd/ospf_dump.c
Labels: documentation, ospf, bugfix, master, freeze

#12070 bgpd: Use `%pI6` to print the SRv6 VPN SIDs
  bgpd/bgp_vty.c
Labels: bgp, master

#9998 Bgp tcp keepalive
  bgpd/bgp_network.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/sockopt.c
  lib/sockopt.h
Labels: bgp, libfrr

#12086 Some memory backport 8.2
  bgpd/bgp_packet.c
  isisd/isis_tlvs.c
  ospfclient/ospf_apiclient.c
Labels: bgp, isis, bugfix, stable/8.2

#12084 bgpd: fix display bgp large-community exact-match
  bgpd/bgp_route.c
Labels: bgp, bugfix, master

#12099 bgpd: Don't check for `NULL` when removing SRv6 SIDs
  bgpd/bgp_vty.c
Labels: bgp, master

#12087 bgpd: fix "no match rpki" in route-map
  bgpd/bgp_rpki.c
Labels: bgp, bugfix, master

#12090 pim6d: Fix RpAddress in "show ipv6 pim bsm-database"
  pimd/pim_cmd.c
Labels: pim, pimv6

#12091 tests: [topojson]Update assert messages for better debugging
  tests/topotests/bgp_basic_functionality_topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp_communities_topo1/test_bgp_communities.py
  tests/topotests/bgp_communities_topo1/test_bgp_communities_topo2.py
  tests/topotests/bgp_ecmp_topo2/test_ebgp_ecmp_topo2.py
  tests/topotests/bgp_ecmp_topo2/test_ibgp_ecmp_topo2.py
  tests/topotests/bgp_ecmp_topo3/test_ibgp_ecmp_topo3.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1-1.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1-2.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1-3.py
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1-4.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2-1.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2-2.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2-3.py
  tests/topotests/bgp_gr_functionality_topo2/test_bgp_gr_functionality_topo2-4.py
  tests/topotests/bgp_gr_functionality_topo3/bgp_gr_functionality_topo3.py
  tests/topotests/bgp_gshut_topo1/test_ebgp_gshut_topo1.py
  tests/topotests/bgp_gshut_topo1/test_ibgp_gshut_topo1.py
  tests/topotests/bgp_prefix_list_topo1/test_prefix_lists.py
  tests/topotests/bgp_route_map/test_route_map_topo1.py
  tests/topotests/bgp_route_map/test_route_map_topo2.py
Labels: tests, master

#12105 tools: Handle sequence numbers for BGP community (large/ext) in frr-reload.py
  tools/frr-reload.py
Labels: tools, master

#11981 bgpd: Add support to change Segment Routing function length
  bgpd/bgp_attr.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  doc/user/zebra.rst
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/r2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/zebra.conf
  zebra/zebra_srv6_vty.c
  zebra/zebra_srv6_vty.h
Labels: documentation, tests, bgp, zebra, bugfix, master

#12059 bgpd: fix "bgp max-med on-startup"
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_max_med_on_startup/__init__.py
  tests/topotests/bgp_max_med_on_startup/r1/bgpd.conf
  tests/topotests/bgp_max_med_on_startup/r1/zebra.conf
  tests/topotests/bgp_max_med_on_startup/r2/bgpd.conf
  tests/topotests/bgp_max_med_on_startup/r2/zebra.conf
  tests/topotests/bgp_max_med_on_startup/test_bgp_max_med_on_startup.py
Labels: bgp, bugfix, master

#11159 bgpd: optimal route reflection
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_orr.c
  bgpd/bgp_orr.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/subdir.am
  doc/user/bgp.rst
  doc/user/ospfd.rst
  lib/command.h
  lib/orr_msg.h
  lib/subdir.am
  lib/zclient.h
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_lsdb.c
  ospfd/ospf_memory.c
  ospfd/ospf_memory.h
  ospfd/ospf_orr.c
  ospfd/ospf_orr.h
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_spf.c
  ospfd/ospf_spf.h
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  ospfd/subdir.am
Labels: documentation, tests, bgp, pim, packaging, watchfrr, isis, staticd, pbr, ospf, ospfv3, zebra, nhrp, vtysh, babel, rip, bfd, libfrr, tools, bugfix, ldp, sharp

#12053 bgpd: Implement ACCEPT_OWN extended community
  bgpd/bgp_community.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_accept_own/__init__.py
  tests/topotests/bgp_accept_own/ce1/bgpd.conf
  tests/topotests/bgp_accept_own/ce1/zebra.conf
  tests/topotests/bgp_accept_own/ce2/bgpd.conf
  tests/topotests/bgp_accept_own/ce2/zebra.conf
  tests/topotests/bgp_accept_own/pe1/bgpd.conf
  tests/topotests/bgp_accept_own/pe1/ldpd.conf
  tests/topotests/bgp_accept_own/pe1/ospfd.conf
  tests/topotests/bgp_accept_own/pe1/zebra.conf
  tests/topotests/bgp_accept_own/rr1/bgpd.conf
  tests/topotests/bgp_accept_own/rr1/ldpd.conf
  tests/topotests/bgp_accept_own/rr1/ospfd.conf
  tests/topotests/bgp_accept_own/rr1/zebra.conf
  tests/topotests/bgp_accept_own/test_bgp_accept_own.py
Labels: bgp, feature, master

#12108 General mayhem
  lib/frrscript.c
  lib/frrscript.h
  lib/libfrr.c
  ripd/ripd.c
  ripngd/ripngd.c
  staticd/static_main.c
  zebra/main.c
  zebra/zebra_evpn_mh.c
Labels: staticd, zebra, ripng, rip, libfrr, master

#12122 tools: Use `install` instead of `touch/chown` combination
  tools/frr.in
  tools/frrcommon.sh.in
Labels: tools, master

#12121 github: Add `conflicts`/`no_conflicts` labels for PRs
  .github/workflows/conflicts.yml
Labels: master

#12116 snapcraft: fix staging libssh on non-x86 arches
  snapcraft/snapcraft.yaml.in
Labels: packaging, bugfix, master

#11980 isisd: Add support for set-overload on-startup
  configure.ac
  doc/user/isisd.rst
  isisd/isis_cli.c
  isisd/isis_lsp.c
  isisd/isis_lsp.h
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/isis_topo1/test_isis_topo1.py
  yang/frr-isisd.yang
Labels: documentation, tests, isis, master

#12115 ospfd: Allow unnumbered and numbered addresses to co-exist better
  ospfd/ospf_interface.c
Labels: ospf, bugfix, master

#12066 *: clean up various CLI-related bits
  bgpd/bgp_vty.c
  ldpd/ldp_vty_cmds.c
  lib/command.c
  lib/command.h
  lib/command_graph.c
  lib/command_graph.h
  lib/command_match.c
  lib/command_py.c
  lib/grammar_sandbox.c
  lib/log_vty.c
  pimd/pim6_mld.c
  pimd/pim_cmd.c
  python/clippy/__init__.py
  python/makefile.py
  python/xrelfo.py
  tools/permutations.c
  vrrpd/vrrp_vty.c
  vtysh/vtysh.c
  zebra/zebra_fpm.c
Labels: vtysh, libfrr, bugfix, clippy, master

#12113 bgpd: Allow `network XXX` to work with bgp suppress-fib-pending
  bgpd/bgp_route.h
  tests/topotests/bgp_suppress_fib/r1/bgp_ipv4_allowas.json
  tests/topotests/bgp_suppress_fib/r2/bgp_ipv4_allowas.json
  tests/topotests/bgp_suppress_fib/r2/bgpd.conf
  tests/topotests/bgp_suppress_fib/r2/zebra.conf
  tests/topotests/bgp_suppress_fib/r3/v4_route3.json
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
Labels: bgp, bugfix, master

#12126 bgpd: Add missing debug guard in SRv6 L3VPN code
  bgpd/bgp_mplsvpn.c
Labels: bgp, master

#12137 tools: Use install instead of touch/chown combination
  tools/frr.in
  tools/frrcommon.sh.in
Labels: tools, dev/8.4

#12136 tools: Do not try creating /proc with install command
  tools/frr.in
  tools/frrcommon.sh.in
Labels: tools, master

#8647 bgpd: EVPN D-VNI L3 RT Config Enhancements
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_routemap.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/prefix.c
  lib/prefix.h
  lib/routemap.c
Labels: documentation, bgp, libfrr, bugfix, evpn

#12124 ospfd: pass the length of string to function
  ospfd/ospf_spf.c
Labels: ospf, master

#12146 ospf6d: adding missing json fields
  ospf6d/ospf6_gr_helper.c
Labels: ospfv3, master

#12144 pimd: Fix v4-over-v6 nexthop handling
  pimd/pim_zlookup.c
Labels: pim, master

#12155 OSPF: allow for zero length opaque LSAs
  ospfclient/ospfclient.py
  ospfd/ospf_opaque.h
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: ospf, master

#12160 Debug nh fix
  lib/routemap.c
  zebra/zebra_nhg.c
Labels: zebra, libfrr, master

#12140 watchfrr: Delay restart_kill if still reading configuration
  watchfrr/watchfrr.c
Labels: watchfrr, master

#11600 pim6d: BSM CLIs implementation
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: pim, pimv6, master

#12094 pimd, pim6d: Don't configure link-local, Multicast, Unspecified address as RP
  pimd/pim_cmd_common.c
  pimd/pim_util.c
  pimd/pim_util.h
Labels: pim, pimv6, master

#12178 Revert "doc: Add `neighbor PEER extended-optional-parameters` command"
  doc/user/bgp.rst
Labels: master

#12173 bgpd: fix vni_str NULL check in evpn rt show run
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix, master

#12026 tests: Add bgp local asn test suite
  tests/topotests/bgp_local_asn/bgp_local_asn_agg.json
  tests/topotests/bgp_local_asn/bgp_local_asn_ecmp.json
  tests/topotests/bgp_local_asn/bgp_local_asn_topo1.json
  tests/topotests/bgp_local_asn/bgp_local_asn_topo2.json
  tests/topotests/bgp_local_asn/bgp_local_asn_vrf_topo1.json
  tests/topotests/bgp_local_asn/bgp_local_asn_vrf_topo2.json
  tests/topotests/bgp_local_asn/test_bgp_local_asn_agg.py
  tests/topotests/bgp_local_asn/test_bgp_local_asn_ecmp.py
  tests/topotests/bgp_local_asn/test_bgp_local_asn_topo1.py
  tests/topotests/bgp_local_asn/test_bgp_local_asn_topo2.py
  tests/topotests/bgp_local_asn/test_bgp_local_asn_vrf_topo1.py
  tests/topotests/bgp_local_asn/test_bgp_local_asn_vrf_topo2.py
  tests/topotests/lib/bgp.py
Labels: tests, master

#12125 lib,zebra,ospf: link-params are not flushed after "no enable"
  lib/if.c
  lib/if.h
  lib/zclient.c
  zebra/interface.c
  zebra/zapi_msg.c
Labels: ospf, zebra, libfrr, bugfix, master

#12151 isisd: fixes for mpls-te
  isisd/isis_te.c
Labels: isis, bugfix, master

#12142 bgpd: Honor default holdtime when triggering session reset for SendHoldTimer
  bgpd/bgp_packet.c
Labels: bgp, master

#12069 bgpd: Reuse flag action for reseting session for `neighbor PEER local-as`
  bgpd/bgpd.c
Labels: bgp, master

#12199 bgpd: fixed misaligned columns in BGP routes table
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv4-post4.1.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv4-post5.0.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv4-post6.1.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv4.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv6-post4.1.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv6.ref
  tests/topotests/all_protocol_startup/r1/show_bgp_ipv6_post6.1.ref
Labels: bgp, master

#12179 ospf: optimization for FRR's P2MP mode
  ospfd/ospf_flood.c
  ospfd/ospf_packet.c
  tests/topotests/ospf_basic_functionality/test_ospf_p2mp.py
Labels: master

#12190 ospf6d: Fix for memory leak issues in ospf6.
  ospf6d/ospf6_area.c
  ospf6d/ospf6_asbr.c
Labels: ospfv3, master

#12201 Clang 16 robots
  isisd/isisd.c
  ldpd/neighbor.c
  ospf6d/ospf6_route.c
  pathd/path_ted.c
  pceplib/pcep_msg_messages.c
  pceplib/pcep_msg_messages_encoding.c
  pceplib/pcep_pcc.c
  pceplib/pcep_pcc_api.c
  pceplib/pcep_session_logic.c
  pceplib/pcep_socket_comm.c
  pceplib/pcep_timers.c
  pceplib/pcep_utils_double_linked_list.c
  pceplib/pcep_utils_logging.c
  pceplib/pcep_utils_memory.c
  pceplib/pcep_utils_queue.c
  pimd/pim_vty.c
Labels: pim, isis, ospfv3, ldp, master

#12204 bgpd: Check for IP-format Site-of-Origin
  bgpd/bgp_route.c
Labels: bgp, master

#12205 bgpd: Fix the condition whether nexthop is changed
  bgpd/bgp_updgrp_packet.c
Labels: bgp, master

#12210 lib: fix coverity scan failure in zebra_interface_link_params_read()
  lib/zclient.c
Labels: libfrr, bugfix, master

#12200 pimd, pim6d: Fix rp-info OIF having PIM disabled interface
  pimd/pim_rp.c
Labels: pim, pimv6, master

#12212 bgpd: Clarify what NHT error message means
  bgpd/bgp_fsm.c
Labels: bgp, master

#12211 pimd: fixing some coverity issues
  pimd/pim_nht.c
  pimd/pim_tib.c
Labels: pim, master

#12176 bgpd,doc: limit InQ buf to allow for back pressure
  bgpd/bgp_io.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: documentation, bgp, master

#12128 pimd: Remove pim_br vestiges
  pimd/pim_br.c
  pimd/pim_br.h
  pimd/pim_memory.c
  pimd/pim_memory.h
  pimd/pim_register.c
  pimd/pim_upstream.c
  pimd/subdir.am
Labels: pim, master

#12154 lib: fix the default TE bandwidth
  lib/if.h
  tests/topotests/cspf_topo1/r1/zebra.conf
  tests/topotests/cspf_topo1/r2/zebra.conf
  tests/topotests/cspf_topo1/reference/sharp-ted.json
  tests/topotests/cspf_topo1/test_cspf_topo1.py
  tests/topotests/isis_te_topo1/r1/zebra.conf
  tests/topotests/isis_te_topo1/r2/zebra.conf
  tests/topotests/isis_te_topo1/reference/ted_step1.json
  tests/topotests/isis_te_topo1/reference/ted_step2.json
  tests/topotests/isis_te_topo1/reference/ted_step3.json
  tests/topotests/isis_te_topo1/reference/ted_step4.json
  tests/topotests/isis_te_topo1/reference/ted_step5.json
  tests/topotests/isis_te_topo1/reference/ted_step6.json
  tests/topotests/ospf_te_topo1/r1/zebra.conf
  tests/topotests/ospf_te_topo1/r2/zebra.conf
  tests/topotests/ospf_te_topo1/reference/ted_step1.json
  tests/topotests/ospf_te_topo1/reference/ted_step2.json
  tests/topotests/ospf_te_topo1/reference/ted_step3.json
  tests/topotests/ospf_te_topo1/reference/ted_step4.json
  tests/topotests/ospf_te_topo1/reference/ted_step5.json
  tests/topotests/ospf_te_topo1/reference/ted_step6.json
  tests/topotests/ospf_te_topo1/reference/ted_step7.json
Labels: tests, libfrr, bugfix, master

#12216 small doc cleanup
  doc/developer/conf.py
  doc/manpages/conf.py
  doc/user/conf.py
  doc/user/pbr.rst
Labels: documentation, master

#12172 OSPF opaques LSA API - fix bug with LL API delete, add option for zero data length withdrawals
  ospfclient/ospf_apiclient.c
  ospfclient/ospf_apiclient.h
  ospfclient/ospfclient.c
  ospfclient/ospfclient.py
  ospfd/ospf_api.c
  ospfd/ospf_api.h
  ospfd/ospf_apiserver.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_opaque.c
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: ospf, bugfix, master

#12220 doc: Update with right default FPM server port
  doc/user/zebra.rst
Labels: documentation, master

#12222 ospfd: fix bug where acks were not be generated to incoming P2P/P2MP peers
  ospfd/ospf_flood.c
Labels: ospf, bugfix, master

#12215 ospfd: remove asster on zero length LSA - which is permitted by spec
  ospfd/ospf_lsa.c
  ospfd/ospf_packet.c
Labels: ospf, master

#12224 bgpd: Enhance the `srv6_locator_chunk_free()` API by automatically setting the pointer to the freed memory to `NULL`
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  lib/srv6.c
  lib/srv6.h
Labels: bgp, libfrr, master

#12230 lib: Use `%pI6`/`%pI4` to print SRv6 seg6local ctx
  lib/srv6.c
Labels: libfrr, master

#12232 doc: fix ospf's max-metric command
  doc/user/ospfd.rst
Labels: documentation, bugfix, master

#12226 zebra: Remove duplicate update of msg_type
  zebra/zebra_fpm.c
Labels: zebra, master

#12195 ospfd: fix missing max-metric in show running config
  ospfd/ospf_vty.c
Labels: ospf, bugfix, master

#12114 bgpd: Implement AIGP
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_bmp.c
  bgpd/bgp_debug.c
  bgpd/bgp_dump.c
  bgpd/bgp_errors.c
  bgpd/bgp_errors.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgp_table.h
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/routemap.rst
  lib/routemap.h
  lib/routemap_cli.c
  lib/stream.h
  tests/topotests/bgp_aigp/__init__.py
  tests/topotests/bgp_aigp/r1/bgpd.conf
  tests/topotests/bgp_aigp/r1/ospfd.conf
  tests/topotests/bgp_aigp/r1/zebra.conf
  tests/topotests/bgp_aigp/r2/bgpd.conf
  tests/topotests/bgp_aigp/r2/ospfd.conf
  tests/topotests/bgp_aigp/r2/zebra.conf
  tests/topotests/bgp_aigp/r3/bgpd.conf
  tests/topotests/bgp_aigp/r3/ospfd.conf
  tests/topotests/bgp_aigp/r3/zebra.conf
  tests/topotests/bgp_aigp/r4/bgpd.conf
  tests/topotests/bgp_aigp/r4/ospfd.conf
  tests/topotests/bgp_aigp/r4/zebra.conf
  tests/topotests/bgp_aigp/r5/bgpd.conf
  tests/topotests/bgp_aigp/r5/ospfd.conf
  tests/topotests/bgp_aigp/r5/zebra.conf
  tests/topotests/bgp_aigp/r6/bgpd.conf
  tests/topotests/bgp_aigp/r6/ospfd.conf
  tests/topotests/bgp_aigp/r6/zebra.conf
  tests/topotests/bgp_aigp/r7/bgpd.conf
  tests/topotests/bgp_aigp/r7/zebra.conf
  tests/topotests/bgp_aigp/test_bgp_aigp.py
  yang/frr-bgp-route-map.yang
Labels: documentation, bgp, libfrr, master
