Repository FRRouting/frr, pull requests merged in 2022-11, with the labels that each got.

#12236 bgpd: Use `%pI6` to print SRv6 SIDs
  bgpd/bgp_mplsvpn.c
Labels: bgp, master

#12159 bgpd: Notify BGP conditional advertisement thread when the peer goes down
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_fsm.c
  tests/topotests/bgp_conditional_advertisement_track_peer/__init__.py
  tests/topotests/bgp_conditional_advertisement_track_peer/r1/bgpd.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r1/zebra.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r2/bgpd.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r2/staticd.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r2/zebra.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r3/bgpd.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/r3/zebra.conf
  tests/topotests/bgp_conditional_advertisement_track_peer/test_bgp_conditional_advertisement_track_peer.py
Labels: bgp, master

#12235 include: remove one unused macro
  include/linux/rtnetlink.h
Labels: master

#12247 bgpd: Ensure that bgp open message stream has enough data to read
  bgpd/bgp_packet.c
Labels: bgp, master

#12245 pimd: fix igmp source packet check
  pimd/pim_mroute.c
Labels: pim, bugfix, master

#12255 bgpd: Limit snmp trap for backwards state movement from established
  bgpd/bgp_fsm.c
Labels: bgp, master

#12257 bgpd: Check and print if we receive ORF reserved type
  bgpd/bgp_open.c
  bgpd/bgp_open.h
Labels: bgp, master

#12251 Various and sundry
  bgpd/rfapi/rfapi.c
  lib/agentx.c
  vtysh/vtysh_config.c
Labels: bgp, vtysh, libfrr, bugfix, master

#12252 tools: Honor sysdir, confdir, bindir for frr-reload.py from "frr" wrapper
  tools/frr.in
  tools/frrinit.sh.in
Labels: tools, master

#12244 bgpd: avoid possible memleak
  bgpd/bgp_evpn_vty.c
Labels: bgp, master

#12188 Resilience
  bgpd/bgp_nht.c
  doc/user/index.rst
  doc/user/nexthop_groups.rst
  doc/user/pbr.rst
  doc/user/subdir.am
  lib/linklist.c
  lib/nexthop_group.c
  lib/nexthop_group.h
  lib/zclient.c
  lib/zclient.h
  pbrd/pbr_main.c
  pbrd/pbr_nht.c
  pbrd/pbr_nht.h
  sharpd/sharp_nht.c
  sharpd/sharp_zebra.c
  tests/topotests/all_protocol_startup/r1/ospf6d.conf
  tests/topotests/all_protocol_startup/r1/ospfd.conf
  tests/topotests/all_protocol_startup/r1/show_ip_ospf_interface.ref
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  vtysh/vtysh_config.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: documentation, tests, zebra, vtysh, libfrr, master

#12263 pimd: avoid one EC log
  pimd/pim_igmp_mtrace.c
Labels: master

#12238 lib, zebra: Allow for zebra to recognize that a route has gotten desy…
  lib/zclient.h
  zebra/rt_netlink.c
  zebra/zebra_vty.c
Labels: zebra, libfrr, master

#12268 zebra: Reuse netinet/if_ether.h to avoid redefinition of struct ethhdr
  zebra/tc_netlink.c
Labels: zebra, master

#12276 ospfd: Get route-map name for default-information originate
  ospfd/ospf_vty.c
Labels: ospf, master

#12258 bgpd: fix "storing the address of local variable"
  bgpd/bgp_pbr.c
Labels: bgp, bugfix, master

#11302 ospf6d: add missing ABR task on interface start and change default task delay to 5
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_nssa.h
  ospfd/ospf_abr.h
Labels: ospf, ospfv3, bugfix, master

#12286 zebra/netconf_netlink.c: fix build without AF_MPLS
  zebra/netconf_netlink.c
Labels: bugfix, master

#12281 tools: Add pim6d support bundle commands
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, pimv6, master

#12293 bgpd: rpki was decrementing the node lock one time too many
  bgpd/bgp_rpki.c
Labels: bgp, stable/8.4

#11736 [PIMv6] Add new scenarios to multicast static_rp suite
  tests/topotests/lib/common_config.py
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim6_static_rp_topo1/__init__.py
  tests/topotests/multicast_pim6_static_rp_topo1/multicast_pim6_static_rp.json
  tests/topotests/multicast_pim6_static_rp_topo1/test_multicast_pim6_static_rp1.py
  tests/topotests/multicast_pim6_static_rp_topo1/test_multicast_pim6_static_rp2.py
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pimv6_static_rp.py
  tests/topotests/pytest.ini
Labels: tests, pimv6, master

#12287 Bgp rpki takes too long
  bgpd/bgp_mac.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_rpki.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master

#12297 pimd: Convert zlog_warn to debug
  pimd/pim_rpf.c
Labels: pim, master

#12269 ospfd: prevent from crashing when processing external lsa
  ospfd/ospf_lsa.c
Labels: ospf, master

#12303 zebra: relax if_type check to allow early ES config creation
  zebra/zebra_evpn_mh.c
Labels: zebra, master

#12308 pam: declare root as sufficient frr pam account
  debian/frr.pam
  redhat/frr.pam
Labels: master

#12234 docker: Use PCRE2 for Alpine
  alpine/APKBUILD.in
  bgpd/bgp_regex.h
  bgpd/bgp_routemap.c
  configure.ac
  doc/user/installation.rst
  docker/alpine/Dockerfile
  lib/frrstr.c
  lib/frrstr.h
  lib/vty.c
  lib/vty.h
Labels: bgp, zebra, docker, libfrr, master

#12219 bgpd, zebra: Add support for SRv6 uSID Behaviors
  bgpd/bgp_attr.c
  bgpd/bgp_mplsvpn.c
  doc/user/zebra.rst
  lib/srv6.c
  lib/srv6.h
  lib/zclient.c
  tests/topotests/srv6_locator_usid/__init__.py
  tests/topotests/srv6_locator_usid/expected_chunks_1.json
  tests/topotests/srv6_locator_usid/expected_chunks_2.json
  tests/topotests/srv6_locator_usid/expected_chunks_3.json
  tests/topotests/srv6_locator_usid/expected_chunks_4.json
  tests/topotests/srv6_locator_usid/expected_chunks_5.json
  tests/topotests/srv6_locator_usid/expected_chunks_6.json
  tests/topotests/srv6_locator_usid/expected_chunks_7.json
  tests/topotests/srv6_locator_usid/expected_chunks_8.json
  tests/topotests/srv6_locator_usid/expected_locators_1.json
  tests/topotests/srv6_locator_usid/expected_locators_2.json
  tests/topotests/srv6_locator_usid/expected_locators_3.json
  tests/topotests/srv6_locator_usid/expected_locators_4.json
  tests/topotests/srv6_locator_usid/expected_locators_5.json
  tests/topotests/srv6_locator_usid/expected_locators_6.json
  tests/topotests/srv6_locator_usid/expected_locators_7.json
  tests/topotests/srv6_locator_usid/expected_locators_8.json
  tests/topotests/srv6_locator_usid/r1/setup.sh
  tests/topotests/srv6_locator_usid/r1/sharpd.conf
  tests/topotests/srv6_locator_usid/r1/zebra.conf
  tests/topotests/srv6_locator_usid/test_srv6_locator_usid.py
  zebra/zapi_msg.c
  zebra/zebra_srv6.c
  zebra/zebra_srv6.h
  zebra/zebra_srv6_vty.c
Labels: documentation, tests, bgp, zebra, libfrr, master

#12045 pimd, pim6d: Update upstream IIF when pim disabled and enabled on an interface
  pimd/pim_iface.c
  pimd/pim_nb_config.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_rpf.c
Labels: pim, pimv6, master

#12315 Dplane sorry
  zebra/dplane_fpm_nl.c
Labels: master

#12307 tools: remove backslash from declare check regex
  tools/frrcommon.sh.in
Labels: tools, master

#12291 pimd: delay creating the socket
  pimd/pim_igmp_mtrace.c
Labels: pim, master

#11058 packaging: Reuse frr.logrotate for Debian and Redhat builds
  Makefile.am
  debian/frr.install
  redhat/frr.spec.in
  tools/etc/logrotate.d/frr
Labels: master

#12259 bgpd: Shutdown RTT improvements
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
Labels: master

#12324 bgpd: debug guard inQ limit
  bgpd/bgp_io.c
Labels: master

#11992 Pathd debug
  doc/user/pathd.rst
  lib/ipaddr.h
  pathd/path_cli.c
  pathd/path_ted.c
  pathd/path_ted.h
  pathd/pathd.c
  pathd/pathd.h
Labels: master

#12312 bgpd: authorise to select bgp self peer prefix on rr case
  bgpd/bgp_route.c
Labels: bgp, bugfix, master

#12302 isisd: fix area NULL pointer in isis_route_update
  isisd/isis_route.c
Labels: isis, bugfix, master

#12081 Rework of Various Handling in EVPN for Extended Mac Mobility
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_evpn_vty.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
  lib/command.h
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_neigh.c
  zebra/zebra_evpn_neigh.h
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: documentation, bgp, zebra, libfrr, bugfix, master

#12309 bgpd: fix invalid ipv4-vpn nexthop for IPv6 peer
  bgpd/bgp_attr.c
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c11/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c11/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c11/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c12/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c12/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c12/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c21/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c21/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c21/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c22/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c22/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/c22/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r1/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r1/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r2/staticd.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/r2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_over_ipv6/test_bgp_srv6l3vpn_over_ipv6.py
Labels: tests, bgp, bugfix, master

#12298 m4/ax_python.m4: check for python-x.y-emded.pc, not python-x.y.pc
  m4/ax_python.m4
Labels: master

#12347 snapcraft: Add pim6 daemon for PIM IPv6 to snap package
  snapcraft/README.snap_build.md
  snapcraft/README.usage.md
  snapcraft/defaults/pim6d.conf.default
  snapcraft/scripts/Makefile
  snapcraft/scripts/pim6d-service
  snapcraft/snapcraft.yaml.in
Labels: packaging, master

#12338 zebra: Fix use-after-free crash on srte cleanup
  zebra/zebra_srte.c
Labels: zebra, master

#12337 bgpd: Warn user only if the LL is not seriously available
  bgpd/bgp_zebra.c
Labels: bgp, master

#12335 github: Add `backport` label if pull request has `Mergifyio backport` comment
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: master

#12345 Bgp debugs upstream
  bgpd/bgp_fsm.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_network.c
  bgpd/bgp_route.c
Labels: bgp, master

#12336 bgpd: Fix SRv6 SID index limit in the `sid vpn per-vrf export` VTY command
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: documentation, bgp, master

#12352 github: Add enable-versioned-regex expicitly in labeler.yml
  .github/workflows/labeler.yml
Labels: master

#12313 tests: fix bfd in isis_lfa_topo1 step24
  tests/topotests/isis_lfa_topo1/rt1/bfdd.conf
  tests/topotests/isis_lfa_topo1/rt2/bfdd.conf
  tests/topotests/isis_lfa_topo1/test_isis_lfa_topo1.py
Labels: tests, bugfix, master

#12357 lib, vtysh: Allow watchfrr to receive start/end lines
  lib/lib_vty.c
  vtysh/vtysh.c
Labels: vtysh, libfrr, master

#12361 github: Use `action-regex-match` action for adding `backport` label
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/mergifyio_backport.yml
Labels: master

#12348 tests: Expand minimum run_and_expect to 5 seconds
  tests/topotests/bfd_topo1/test_bfd_topo1.py
  tests/topotests/bgp_features/test_bgp_features.py
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
  tests/topotests/bgp_tcp_mss/test_bgp_tcp_mss.py
  tests/topotests/cspf_topo1/test_cspf_topo1.py
  tests/topotests/isis_lfa_topo1/test_isis_lfa_topo1.py
  tests/topotests/isis_tilfa_topo1/test_isis_tilfa_topo1.py
Labels: tests, master

#12340 bgpd: Allow overriding MPLS VPN next-hops via route-maps
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_packet.c
  tests/topotests/bgp_vpn_5549_route_map/__init__.py
  tests/topotests/bgp_vpn_5549_route_map/cpe1/bgpd.conf
  tests/topotests/bgp_vpn_5549_route_map/cpe1/zebra.conf
  tests/topotests/bgp_vpn_5549_route_map/cpe2/bgpd.conf
  tests/topotests/bgp_vpn_5549_route_map/cpe2/zebra.conf
  tests/topotests/bgp_vpn_5549_route_map/pe1/bgpd.conf
  tests/topotests/bgp_vpn_5549_route_map/pe1/ldpd.conf
  tests/topotests/bgp_vpn_5549_route_map/pe1/ospf6d.conf
  tests/topotests/bgp_vpn_5549_route_map/pe1/zebra.conf
  tests/topotests/bgp_vpn_5549_route_map/pe2/bgpd.conf
  tests/topotests/bgp_vpn_5549_route_map/pe2/ldpd.conf
  tests/topotests/bgp_vpn_5549_route_map/pe2/ospf6d.conf
  tests/topotests/bgp_vpn_5549_route_map/pe2/zebra.conf
  tests/topotests/bgp_vpn_5549_route_map/test_bgp_vpn_5549_route_map.py
Labels: tests, bgp, master

#11908 zebra: traffic control state management & ZAPI
  include/subdir.am
  lib/subdir.am
  lib/tc.c
  lib/tc.h
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  tests/topotests/tc_basic/test_tc_basic.py
  zebra/debug.c
  zebra/debug.h
  zebra/dplane_fpm_nl.c
  zebra/interface.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rtread_netlink.c
  zebra/rtread_sysctl.c
  zebra/subdir.am
  zebra/tc_netlink.c
  zebra/tc_netlink.h
  zebra/tc_socket.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_ns.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_tc.c
  zebra/zebra_tc.h
Labels: tests, zebra, bugfix, sharp, master

#12355 pim6d, pimd: RFC conformance - Discard join/prune msg when WC bit is set but RPT bit is unset
  pimd/pim_join.c
Labels: pim, pimv6, master

#12260 pimd: consistently ignore prefix list mask len
  pimd/pim_ifchannel.c
  pimd/pim_register.c
  pimd/pim_ssm.c
  pimd/pim_upstream.c
  pimd/pim_util.c
Labels: pim, master

#12377 zebra: Replace TC definitions for dplane
  zebra/zebra_script.c
Labels: zebra, backport, master

#12365 bgpd: JSON support for show ip bgp vrf all update-group
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_vty.c
  doc/user/zebra.rst
Labels: bgp, master

#12374 lib: disable vrf before terminating interfaces
  lib/vrf.c
Labels: libfrr, backport, master

#12317 ospfd: Fix RFC conformance test cases 25.19 and 27.6
  lib/libospf.h
  ospfd/ospf_lsa.c
Labels: ospf, backport, master

#12371 bgpd: Fix the order of SRv6 locator parameters
  tests/topotests/srv6_locator_custom_bits_length/test_srv6_locator.py
  tests/topotests/srv6_locator_usid/r1/zebra.conf
  tests/topotests/srv6_locator_usid/test_srv6_locator_usid.py
  zebra/zebra_srv6_vty.c
Labels: tests, bgp, backport, master

#12392 pim6d: Fix RpAddress in "show ipv6 pim bsm-database"
  pimd/pim_cmd_common.c
Labels: pim, backport, pimv6, master

#12370 bgpd: Fix crash for `set ipv4/ipv6 vpn next-hop` command
  bgpd/bgp_routemap.c
Labels: bgp, backport, master

#12399 staticd: Fix crash for an existing route with color
  staticd/static_nb_config.c
Labels: staticd, backport, master

#12403 Echo exclusion
  lib/vty.c
  zebra/zebra_trace.h
Labels: zebra, libfrr, backport, master

#12369 tools: Enable start of FRR for non-root user
  doc/user/setup.rst
  tools/etc/frr/daemons
  tools/frrcommon.sh.in
Labels: documentation, tools, master

#12408 zebra: Use `mpls enable`, not `mpls` when generating a config
  zebra/interface.c
Labels: zebra, backport, master

#12363 github: Create size label for every PR
  .github/workflows/size-label.yml
Labels: master

#12342 tests: Fail tests immediately if they use too low wait/count values
  tests/topotests/isis_lfa_topo1/test_isis_lfa_topo1.py
  tests/topotests/isis_tilfa_topo1/test_isis_tilfa_topo1.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf6_gr_topo1/test_ospf6_gr_topo1.py
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
  tests/topotests/ospf_gr_topo1/test_ospf_gr_topo1.py
  tests/topotests/pim_basic/test_pim.py
  tests/topotests/pim_basic_topo2/test_pim_basic_topo2.py
  tests/topotests/srv6_locator/test_srv6_locator.py
  tests/topotests/srv6_locator_custom_bits_length/test_srv6_locator.py
Labels: tests, master

#12405 staticd: improve CLI/northbound translation code
  staticd/static_vty.c
Labels: staticd, master

#12389 ospf6d: fix infinite loop when adding ASBR route
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
Labels: ospfv3, bugfix, backport, master

#12414 Some doc changes
  doc/developer/workflow.rst
Labels: documentation, master, size/S

#12375 zebra: json support for show ip nht
  doc/user/zebra.rst
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#12413 Misc and then some
  bgpd/bgp_mpath.c
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
  ospfd/ospf_ism.c
  ospfd/ospf_network.c
Labels: bgp, ospf, ospfv3, master, size/M

#12329 bgpd: Implement graceful-shutdown command per neighbor
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_peer_graceful_shutdown/__init__.py
  tests/topotests/bgp_peer_graceful_shutdown/r1/bgpd.conf
  tests/topotests/bgp_peer_graceful_shutdown/r1/zebra.conf
  tests/topotests/bgp_peer_graceful_shutdown/r2/bgpd.conf
  tests/topotests/bgp_peer_graceful_shutdown/r2/zebra.conf
  tests/topotests/bgp_peer_graceful_shutdown/r3/bgpd.conf
  tests/topotests/bgp_peer_graceful_shutdown/r3/zebra.conf
  tests/topotests/bgp_peer_graceful_shutdown/test_bgp_peer_graceful_shutdown.py
Labels: bgp, master

#12384 bgpd: Implement SNMP BGP4V2-MIB (bgp4V2PeerErrorsTable)
  bgpd/bgp_packet.c
  bgpd/bgp_snmp_bgp4v2.c
Labels: bgp, master

#12367 ospfd: Fixing a memleak.
  ospfd/ospfd.c
Labels: ospf, backport, master

#12325 pimd, pim6d: Using ttable for displaying "show ip/ipv6 pim nexthop" command output
  pimd/pim_cmd_common.c
Labels: pim, bugfix, pimv6, master
