Repository FRRouting/frr, pull requests merged in 2022-04, with the labels that each got.

#10947 isisd, lib, ospfd, pathd: Null out free'd pointer
  isisd/isis_nb_config.c
  lib/link_state.c
  lib/link_state.h
  ospfd/ospf_te.c
  pathd/path_ted.c
Labels: isis, ospf, libfrr, bugfix

#10945 zebra: don't send RAs w/o LLv6 or on bridge-ports
  zebra/rtadv.c
Labels: zebra

#10944 Isis misc fixes
  isisd/isis_bfd.c
  isisd/isisd.c
Labels: isis, bugfix

#10950 tests: Fix uninitialized usage of variables in tests
  tests/lib/test_frrlua.c
Labels: tests

#10875 doc: two minor changes for evpn-mh
  doc/user/bgp.rst
Labels: documentation

#10925 tests: skip grpc test if frr not installed
  tests/lib/test_grpc.py
Labels: tests

#10831 doc: add mh type-0 ESI support
  doc/user/bgp.rst
Labels: documentation

#10710 pim6d: Adding PIMv6 show CLIs
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: bgp, pim, pimv6

#10946 pimd: Send immediate join( with possible SG RPT prune bit set
  pimd/pim_mroute.c
  tests/topotests/lib/pim.py
Labels: tests, pim

#10953 bgpd: Fix memory leak in subgroup_announce_check
  bgpd/bgp_route.c
Labels: bgp

#10960 pimd: remove useless PIM_IF_* macros
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_ifchannel.c
  pimd/pim_igmp.c
  pimd/pim_nb_config.c
  pimd/pim_pim.c
  pimd/pim_vty.c
  pimd/pim_vxlan.c
Labels: cleanup, pim

#10948 bgpd : use "assert" for one check on evpn-mh
  bgpd/bgp_evpn_mh.c
Labels: bgp

#10938 zebra: fix missing vrf change of l2vni on vxlan interface
  zebra/zebra_vxlan.c
Labels: zebra, bugfix

#10959 pimd: Fixing pim coverity issues
  pimd/pim_vxlan.c
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
Labels: pim, bugfix

#10928 zebra: use "assert" instead of unnecessary check
  zebra/rt_netlink.c
  zebra/zebra_evpn.c
  zebra/zebra_vxlan.c
Labels: zebra

#10365 pim6d: Adding new MLD Config CLI
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_nb_config.c
Labels: pim, pimv6

#10966 bgpd: RPKI changes
  bgpd/bgp_rpki.c
Labels: bgp

#10965 pimd: Replace ALL_LIST_ELEMENTS_RO to ALL_LIST_ELEMENTS group_list it…
  pimd/pim_igmp.c
Labels: pim

#10973 pimd: Remove pim_channel_oil_change_iif from header file
  pimd/pim_oil.h
Labels: pim

#10971 bgpd: RPKI memory leak
  bgpd/bgp_rpki.c
Labels: bgp

#10927 bgpd: refactor type of srv6_locator_chunks list
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
Labels: bgp

#10979 lib, pimd: small cleanup in multicast addr helpers (SSM & co.)
  lib/prefix.h
  pimd/pim_addr.h
  pimd/pim_ssm.c
Labels: pim, libfrr, pimv6

#10982 Enum watchfrr
  watchfrr/watchfrr.c
Labels: watchfrr

#10981 vtysh: remove extraneous newline
  vtysh/vtysh.c
Labels: vtysh

#10919 zebra: Allow multiple connected routes to be choosen for kernel routes
  tests/topotests/zebra_multiple_connected/r1/ip_route.json
  tests/topotests/zebra_multiple_connected/r1/zebra.conf
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/zebra_nhg.c
Labels: tests, zebra

#11007 pimd: correct the show ip igmp sources output
  pimd/pim_cmd.c
Labels: pim

#11006 lib: Remove deprecated routemap_optimization_cmd
  lib/routemap_cli.c
Labels: libfrr

#11003 bgpd: correct one flag name on comment for evpn-mh
  bgpd/bgp_evpn_mh.c
Labels: bgp

#10989 pimd: remove pim_interface->options
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
Labels: pim

#11000 bgpd: Show conditional advertisement timers in neighbor CLI output
  bgpd/bgp_vty.c
Labels: bgp

#10999 bgpd: Allow setting BGP [large]community in route-maps
  bgpd/bgp_clist.c
  bgpd/bgp_community.c
  bgpd/bgp_community.h
  bgpd/bgp_debug.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_lcommunity.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
Labels: bgp

#10994 bgpd: Use autocomplete for route-map under conditional advertisements CLI
  bgpd/bgp_vty.c
Labels: bgp

#10969 tests: Fix test_multicast_pim_sm_topo3.py from generating a support b…
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo3.py
Labels: tests

#10972 bgpd: Metric not set with default route
  bgpd/bgp_updgrp_adv.c
Labels: bgp, bugfix

#10931 pim6d: Addition of ipv6 ssmpingd config commands
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_ssmpingd.c
  pimd/pim_vty.c
Labels: pim, pimv6

#10935 zebra: adjust the warnings for ESI of evpn-mh
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
  zebra/zebra_evpn_mh.c
Labels: bgp, zebra

#11013 bgpd: typedef enum to enum
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#11009 bgpd: aggregate-address fixes
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
Labels: bgp

#11010 bgpd: Reuse bgp_attr_set_[el]community() for setting attribute flags
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_mpath.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_export_bgp.c
Labels: bgp

#11025 bgpd: remove unnecessary l3nhg knob for evpn-mh
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
Labels: bgp

#11024 bgpd: fix wrong check for default VRF
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix

#11019 bgpd: [8.2] Allow setting BGP [large]community in route-maps
  bgpd/bgp_clist.c
  bgpd/bgp_community.c
  bgpd/bgp_community.h
  bgpd/bgp_debug.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_lcommunity.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
Labels: bgp

#10987 bgpd: Do not forget to update conditional advertisements rmaps for peer-groups
  bgpd/bgp_routemap.c
  bgpd/bgpd.c
Labels: bgp

#10996 watchfrr: Send operational state to systemd
  watchfrr/watchfrr.c
Labels: watchfrr

#10978 bgpd: cosmetic change for evpn-mh
  bgpd/bgp_evpn_mh.c
Labels: bgp

#10910 doc: Add `show ip nht..` documentation
  doc/user/zebra.rst
Labels: documentation

#11028 bgpd: Pass non-transitive ext-communities between Route Server and RS clients
  bgpd/bgp_attr.c
Labels: bgp

#11001 zebra: Allow system routes to recurse through themselves
  tests/topotests/zebra_multiple_connected/r1/ip_route2.json
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/zebra_nhg.c
Labels: tests, zebra

#11029 Fix crash in ISIS when mtu mismatch occurs
  isisd/isis_circuit.c
  isisd/isis_nb_config.c
Labels: isis

#11032 bgpd: fix NULL deference in evpn-mh's log
  bgpd/bgp_evpn_mh.c
Labels: bgp, bugfix

#10993 watchfrr: Add some more information to `show watchfrr`
  watchfrr/watchfrr.c
Labels: watchfrr

#11043 pimd, pim6d: Spelling fixes
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
Labels: pim, pimv6

#11012 zebra: simplify one check for evpn-mh
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  zebra/zebra_evpn_mh.c
Labels: bgp, zebra, bugfix

#11036 bgpd: [8.2] Pass non-transitive ext-communities between Route Server and RS clients
  bgpd/bgp_attr.c
Labels: bgp

#11040 bgpd: Allow type 5 routes to be handled better when link is flapping
  bgpd/bgp_nht.c
Labels: bgp

#11030 ospf6d: Check for MinLSInterval timer when adding to LSUpdate list
  ospf6d/ospf6_flood.c
Labels: ospfv3

#10983 isisd: add bfd information on isis neighbor show command
  isisd/isis_adjacency.c
Labels: isis

#10977 bgpd: take SRv6 locator's prefix length into account when generating SIDs
  bgpd/bgp_mplsvpn.c
Labels: bgp, bugfix

#11049 tools: Print usage for frrinit.sh when running without arguments
  tools/frrinit.sh.in
Labels: tools

#11004 zebra: set ZEBRA_IFC_DOWN on connected routes for inactive interfaces
  zebra/connected.c
Labels: zebra

#11048 vtysh: Call fflush+fsync before calling fclose() when saving the config
  vtysh/vtysh.c
Labels: vtysh

#11053 zebra: [8.2] Allow system routes to recurse through themselves
  zebra/zebra_nhg.c
Labels: zebra

#11045 zebra: cleanup duplicated "extern"s for evpn-mh
  zebra/zebra_evpn_mh.h
Labels: zebra

#11023 pimd: Changing PIM_OIF_FLAG_PROTO_IGMP to PIM_OIF_FLAG_PROTO_GM
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_ifchannel.c
  pimd/pim_mroute.c
  pimd/pim_oil.h
  pimd/pim_tib.c
  pimd/pim_upstream.c
  pimd/pim_zebra.c
Labels: pim, pimv6

#10961 build: enable `-fms-extensions`
  bgpd/bgp_community_alias.c
  configure.ac
  doc/developer/workflow.rst
  isisd/isis_tlvs.c
  lib/base64.c
  lib/command_py.c
  lib/elf_py.c
  nhrpd/linux.c
  pathd/path_ted.c
  zebra/zebra_script.c
Labels: do not merge

#10853 pimd: assert fixes
  pimd/pim_assert.c
  pimd/pim_upstream.c
Labels: pim

#11055 lib: Prevent crash after shutdown request
  lib/plist.c
Labels: libfrr

#9757 Zebra trace
  zebra/if_netlink.c
  zebra/rt_netlink.c
  zebra/rule_netlink.c
  zebra/subdir.am
  zebra/zebra_trace.c
  zebra/zebra_trace.h
Labels: zebra

#7811 tests: Add multicast_pim_dr_nondr_test suite
  tests/topotests/lib/common_config.py
  tests/topotests/multicast_pim_dr_nondr_test/__init__.py
  tests/topotests/multicast_pim_dr_nondr_test/pim_dr_nondr_with_ospf_topo2.json
  tests/topotests/multicast_pim_dr_nondr_test/pim_dr_nondr_with_static_routes_topo1.json
  tests/topotests/multicast_pim_dr_nondr_test/pim_dr_nondr_with_transit_router_topo3.json
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_ospf_topo2.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_static_routes_topo1.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_transit_router_topo3.py
Labels: tests

#11060 isisd: isis_dr_resign() trace braced with debug isis events
  isisd/isis_dr.c
Labels: isis

#11061 isisd: enable BFD messaging debug when isis bfd is used
  isisd/isisd.c
Labels: isis

#11063 tools: Improve usage example for frrinit.sh
  tools/frrinit.sh.in
Labels: tools

#11066 pimd: Set new to true in igmp_get_source_by_addr api
  pimd/pim_igmpv3.c
Labels: pim

#11064 tools: Allow running frrinit.sh only for EUID=0
  tools/frrcommon.sh.in
Labels: tools

#11067 lib: Ensure an empty string does not get printed for host/domain
  lib/command.c
Labels: libfrr

#11080 tools: frr-reload fix bgp neighbor and bgp instance deletion
  tools/frr-reload.py
Labels: tools, bugfix

#11081 bgpd: Fix import check removal
  bgpd/bgp_nht.c
Labels: bgp

#11085 bgpd: take SRv6 func-bits into account when generating SIDs
  bgpd/bgp_mplsvpn.c
Labels: bgp

#11089 build: fix new gcc 11.2 warnings
  sharpd/sharp_vty.c
Labels: bugfix

#11092 bgpd: Drop inet_ntop for route_vty_out_overlay()
  bgpd/bgp_route.c
Labels: bgp

#11086 bgpd: Add `set as-path replace <any|ASN>` cmd for route-maps
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_set_aspath_replace/__init__.py
  tests/topotests/bgp_set_aspath_replace/r1/bgpd.conf
  tests/topotests/bgp_set_aspath_replace/r1/zebra.conf
  tests/topotests/bgp_set_aspath_replace/r2/bgpd.conf
  tests/topotests/bgp_set_aspath_replace/r2/zebra.conf
  tests/topotests/bgp_set_aspath_replace/r3/bgpd.conf
  tests/topotests/bgp_set_aspath_replace/r3/zebra.conf
  tests/topotests/bgp_set_aspath_replace/test_bgp_set_aspath_replace.py
  yang/frr-bgp-route-map.yang
Labels: bgp

#11074 isisd: ldp cleaning issue on invalid sptree
  isisd/isis_lfa.c
Labels: isis, bugfix

#11077 bfdd: fix broken FSM in active mode
  bfdd/ptm_adapter.c
Labels: bfd, bugfix

#10980 pim6d: Modifying the mld group watermark command name
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.h
Labels: pim, pimv6

#11088 pimd: fix SNAFUs in debug flags
  pimd/pim_cmd.c
  pimd/pim_vty.c
  pimd/pimd.h
Labels: pim, bugfix

#11079 staticd: reorg, refactor and improve NHT code
  lib/prefix.h
  staticd/static_routes.c
  staticd/static_zebra.c
  staticd/static_zebra.h
Labels: staticd, libfrr

#11076 vrrpd: Fix display of 'Master Advertisement interval'
  vrrpd/vrrp_vty.c
Labels: vrrp

#11095 bgpd: ensure that the node gets unlocked in all cases
  bgpd/bgp_route.c
Labels: bgp

#11098 zebra, pimd: add IPv6 support to NEXTHOP_LOOKUP_MRIB
  doc/developer/zebra.rst
  lib/log.c
  lib/zclient.h
  pimd/pim6_stubs.c
  pimd/pim_addr.h
  pimd/pim_zlookup.c
  pimd/subdir.am
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: pim, zebra, pimv6

#11106 Werror error error
  bgpd/bgp_attr.c
  bgpd/bgp_bmp.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
  tests/bgpd/test_ecommunity.c
  tests/bgpd/test_mp_attr.c
  tests/bgpd/test_packet.c
Labels: tests, bgp

#11031 pim6d: Adding IPv6 multicast commands
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: documentation, pim, pimv6

#11107 lib: `struct prefix` spring cleaning
  doc/developer/logging.rst
  lib/prefix.c
  lib/prefix.h
Labels: libfrr

#11090 lib: Ignore duplicate alist/plist entries in CLI
  lib/filter_cli.c
Labels: libfrr

#10988 pim6d: Adding IPv6 mroute commands
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  zebra/zebra_vty.c
Labels: documentation, pim, zebra, pimv6

#11118 lib: format NULL timevals correctly
  lib/strformat.c
Labels: libfrr

#11122 bgpd: fix size of esi_buf
  bgpd/bgp_route.c
Labels: bgp, bugfix

#11119 tests: [PIMv6] Using generic names for PIM verification APIs
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_bsm_topo1/test_mcast_pim_bsmp_01.py
  tests/topotests/multicast_pim_bsm_topo2/test_mcast_pim_bsmp_02.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_ospf_topo2.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_static_routes_topo1.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_transit_router_topo3.py
  tests/topotests/multicast_pim_sm_topo1/test_multicast_pim_sm_topo1.py
  tests/topotests/multicast_pim_sm_topo2/test_multicast_pim_sm_topo2.py
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo3.py
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo4.py
  tests/topotests/multicast_pim_static_rp_topo1/test_multicast_pim_static_rp.py
Labels: tests
