Repository FRRouting/frr, pull requests merged in 2022-05, with the labels that each got.

#10742 pim6d: Register message send handling
  pimd/pim6_stubs.c
  pimd/pim_register.c
  pimd/subdir.am
Labels: pim, pimv6

#11132 bgpd: delay "stream_new" in str2prefix_rd()
  bgpd/bgp_rd.c
Labels: bgp

#11113 pim6d: use ICMP6_FILTER instead of BPF on mroute
  pimd/pim6_mroute_msg.c
  pimd/pim_mroute.c
Labels: pim, pimv6

#11128 bgpd: Implement GR N-Bit and CEASE/Hard Reset notification
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#11136 tests: Use XCALLOC instead of XMALLOC for threads
  tests/lib/test_timer_correctness.c
Labels: tests, bugfix

#11110 bfdd: fix wrong local address of display command
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd_vty.c
Labels: bfd, bugfix

#11011 mgmtd: fix remote validation code, use by default
  configure.ac
  lib/mgmt.proto
  lib/mgmt_be_client.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
Labels: documentation, tests, bgp, pim, watchfrr, isis, staticd, ospfv3, zebra, vtysh, bfd, libfrr, tools, bugfix, vrrp, mgmt

#11142 pimd: fixing wrong diplay registerTx
  pimd/pim_cmd.c
Labels: pim

#11137 *: standardize interface name maximum length
  babeld/babeld.c
  bfdd/bfd.h
  bgpd/bgpd.h
  ldpd/ldpd.h
  lib/if.h
  lib/zclient.c
  lib/zclient.h
  pbrd/pbr_map.c
  zebra/zapi_msg.c
  zebra/zebra_pw.h
Labels: bgp, pbr, libfrr, bugfix

#11144 bgpd: Fix memory leak for bgp_notify_receive()
  bgpd/bgp_packet.c
Labels: bgp

#11059 bgpd: fix memory leak for evpn
  bgpd/bgp_aspath.c
  bgpd/bgp_clist.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_evpn.c
  bgpd/bgp_fsm.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_network.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_pbr.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.c
  isisd/isis_lfa.c
  isisd/isis_spf.c
  lib/command.c
  lib/ferr.c
  lib/frrscript.c
  lib/northbound.c
  nhrpd/reqid.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_gr_helper.c
  ospfd/ospf_asbr.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_sr.c
  pbrd/pbr_nht.c
  pimd/pim_nht.c
  tests/lib/test_srcdest_table.c
  vrrpd/vrrp.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_fpm.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_vxlan.c
Labels: bgp, zebra, libfrr, bugfix

#11145 Bgp capability
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, bugfix

#11156 valgrind issues and general cleanup
  isisd/isis_te.c
  isisd/isis_tlvs.h
  pceplib/pcep_msg_objects.c
  pceplib/pcep_msg_objects_encoding.c
  pceplib/pcep_socket_comm_loop.c
  pceplib/test/pcep_session_logic_states_test.c
  tests/bgpd/test_aspath.c
  tests/topotests/lib/micronet.py
Labels: isis

#11170 bgpd: remove one unnecessary parameter for evpn-mh
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
Labels: bgp

#11162 bgpd: remove unnecessary check for evpn
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_vty.c
Labels: bgp

#11161 zebra, ospf6d: Do not check if NULL for XCALLOC()
  ospf6d/ospf6_auth_trailer.c
  zebra/table_manager.c
Labels: ospfv3, zebra

#11154 bgpd: Use uint64_t for bgp->flags
  bgpd/bgpd.h
Labels: bgp

#11148 bfdd: fix override between sessions
  bfdd/bfd_packet.c
Labels: bfd, bugfix

#11147 bgpd: Add CLI knob to enable graceful restart for BGP notifications
  bgpd/bgp_open.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#11138 bgpd: RPKI reverts, nits...
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: documentation, bgp, bugfix, to backport

#11160 bgpd: Send Hard Reset Notification for BGP_NOTIFY_CEASE_ADMIN_RESET
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#11151 pimd, pim6d: fix various smaller issues
  include/linux/mroute6.h
  pimd/pim6_cmd.c
  pimd/pim6_mroute_msg.c
  pimd/pim6_stubs.c
  pimd/pim_assert.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_hello.c
  pimd/pim_iface.h
  pimd/pim_ifchannel.c
  pimd/pim_igmp.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_igmpv2.c
  pimd/pim_igmpv3.c
  pimd/pim_instance.c
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_jp_agg.h
  pimd/pim_macro.c
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_mroute_msg.c
  pimd/pim_msdp.c
  pimd/pim_msdp_packet.c
  pimd/pim_msdp_socket.c
  pimd/pim_msg.c
  pimd/pim_neighbor.c
  pimd/pim_nht.c
  pimd/pim_pim.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_sock.c
  pimd/pim_sock.h
  pimd/pim_ssm.c
  pimd/pim_ssm.h
  pimd/pim_ssmpingd.c
  pimd/pim_static.c
  pimd/pim_static.h
  pimd/pim_tib.c
  pimd/pim_tlv.c
  pimd/pim_vty.h
  pimd/pim_vxlan.h
  pimd/pim_zlookup.c
  pimd/pim_zlookup.h
  pimd/pim_zpthread.c
  pimd/pimd.h
Labels: pim, bugfix, pimv6

#11186 bgpd,zebra: correct one debug log for evpn-mh
  bgpd/bgp_evpn_mh.c
  zebra/zebra_evpn_mh.h
Labels: bgp, zebra

#11176 bgpd: remove unncessary check for evpn
  bgpd/bgp_evpn_private.h
Labels: bgp

#11190 Fix #11178 and various other cleanup
  bgpd/bgp_advertise.h
  bgpd/bgp_aspath.h
  bgpd/bgp_attr.h
  bgpd/bgp_clist.h
  bgpd/bgp_community.h
  bgpd/bgp_damp.h
  bgpd/bgp_debug.h
  bgpd/bgp_dump.h
  bgpd/bgp_mpath.c
  bgpd/bgp_mpath.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp, bugfix

#9454 ospf6d: suppress coverity warnings of insecure data handling
  ospf6d/ospf6_gr_helper.c
Labels: ospfv3

#11193 pimd: [8.2] registerTx should show sent registrations, not received
  pimd/pim_cmd.c
Labels: pim

#11188 bgpd: Cleanup
  bgpd/bgp_debug.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
  tools/coccinelle/argv_find.cocci
Labels: cleanup, bgp, tools

#11194 Some more Coverity issues solved
  babeld/message.c
  bfdd/bfdd.c
  bgpd/bgp_attr.c
Labels: bgp, babel, bfd

#11197 doc: Add some more documentation about Notification support for GR
  doc/user/bgp.rst
Labels: documentation

#11196 bgpd: [8.2] Prevent crash when issuing various forms of `bgp no-rib`
  bgpd/bgpd.c
  doc/user/bgp.rst
Labels: bgp, bugfix

#10958 pimd: introduce ip pim passive command
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_assert.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_hello.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_join.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_pim.c
  pimd/pim_pim.h
  pimd/pim_register.c
  pimd/pim_vty.c
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_sm_topo3/test_multicast_pim_sm_topo3.py
  yang/frr-pim.yang
Labels: documentation, tests, pim, pimv6

#11195 lib: add one check in "list_sort()"
  lib/linklist.c
Labels: libfrr

#11198 bgpd: Initialize prd for show_ip_bgp_l2vpn_evpn_rd_neighbor_routes()
  bgpd/bgp_evpn_vty.c
Labels: bgp

#11202 zebra: remove unnecessary check for "zevpn_vrf"
  zebra/rt_netlink.c
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_nb_config.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra

#11149 Update group debugging
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_updgrp.c
Labels: bgp

#11135 bgpd: Fix no form of rpki commands to take values
  bgpd/bgp_rpki.c
Labels: bgp

#11180 BMP fix invalid bmp POST POLICY flag
  bgpd/bgp_bmp.c
Labels: bgp, bugfix

#11201 Remove some unused functions in zebra
  zebra/ioctl.c
  zebra/rib.h
  zebra/zebra_rib.c
Labels: zebra

#11199 zebra: Add encap and group type decoding to nexthop dump
  zebra/debug_nl.c
Labels: zebra

#11152 bgpd: Allow bgp to control the DSCP session TOS value
  bgpd/bgp_network.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: bgp

#10775 pim6d: MLD code
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_main.c
  pimd/pim6_mld.c
  pimd/pim6_mld.h
  pimd/pim6_mld_protocol.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  pimd/subdir.am
  yang/frr-gmp.yang
Labels: pim, libfrr, bugfix, pimv6

#11211 ospf6d: Give time left in hello timer for `show ipv6 ospf6 int`
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_message.c
Labels: ospfv3

#11192 zebra: Add startup message and display netlink buffer size.
  zebra/main.c
  zebra/zebra_vty.c
Labels: zebra

#11037 pimv6: Adding clear ipv6 pim CLIs
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: documentation, pim, pimv6

#11203 bgpd: Fix coverity SA issue with copying over prefix data
  bgpd/bgp_route.c
Labels: bgp

#11205 zebra: new netlink parse utility for rta used to send nhg msg
  zebra/debug_nl.c
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
Labels: zebra

#11219 doc: use real wording for the show isis segment-routing node command
  doc/user/isisd.rst
Labels: documentation

#11218 bgpd: Show a correct local AS for the advertised/bestpath routes
  bgpd/bgp_route.c
Labels: bgp

#11214 tests: Fix for test_pim_dr_nondr_with_ospf_topo2 test failure
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_ospf_topo2.py
Labels: tests

#11183 bgpd: Activate Graceful-Restart when receiving CEASE/HOLDTIME notifications
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  doc/user/overview.rst
Labels: documentation, bgp

#11210 zebra: fix missing delete vtep during vni transition
  zebra/zebra_vxlan.c
Labels: zebra, bugfix

#11204 bgpd: remove unnecessary check for evpn
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
Labels: bgp

#11222 Bgp zebra stuff
  bgpd/bgp_fsm.c
  zebra/kernel_netlink.c
Labels: bgp, zebra

#11216 zebra: netlink registry of rtm tunnel notification
  include/linux/if_link.h
  include/linux/rtnetlink.h
  zebra/debug_nl.c
  zebra/kernel_netlink.c
Labels: zebra

#11225 bgpd: implement SendHoldTimer
  bgpd/bgp_errors.c
  bgpd/bgp_errors.h
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
  bgpd/bgpd.h
Labels: bgp

#10903 pim6d: Adding new Debug CLI for pimv6
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
Labels: documentation, pim, pimv6

#11232 bgpd: fix oopsie with SendHoldTime==0
  bgpd/bgp_packet.c
Labels: bgp, bugfix

#11223 Ospfv3 shenanigans
  lib/thread.c
  lib/thread.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.c
Labels: ospfv3, libfrr

#11227 tests: Ensure routes are not queued when calling verify_rib
  tests/topotests/bfd_topo1/test_bfd_topo1.py
  tests/topotests/bfd_topo2/test_bfd_topo2.py
  tests/topotests/lib/common_config.py
Labels: tests

#11238 zebra: clean up rtadv integration
  zebra/interface.c
  zebra/interface.h
  zebra/main.c
  zebra/rib.h
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_l2.h
  zebra/zebra_opaque.c
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
  zebra/zserv.h
Labels: zebra

#11217 doc: Fix FRR/Slack keyword links in overview section
  doc/user/overview.rst
Labels: documentation

#10836 zebra: delay setting esi in zebra_evpn_local_es_update()
  zebra/zebra_evpn_mh.c
Labels: zebra

#11150 packaging: Require librtr >= 0.8.0
  configure.ac
  debian/control
  redhat/frr.spec.in
  snapcraft/snapcraft.yaml.in
Labels: packaging

#11261 bgpd: Don't increment twice notification sent stats counter
  bgpd/bgp_packet.c
Labels: bgp, bugfix

#11256 bgpd: Add JSON output for `show rpki cache-connection`
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp

#11248 tests: pbr_topo1 sometimes fails under really heavy load
  tests/topotests/pbr_topo1/test_pbr_topo1.py
Labels: tests

#11265 bgpd: Put ssh_config->port as integer, not as string in RPKI code
  bgpd/bgp_rpki.c
Labels: bgp

#11266 bgpd: Add JSON support for `show rpki cache-server`
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp

#11271 docker: Use Alpine 3.15 for build
  docker/alpine/Dockerfile
Labels: docker

#11270 docker: CentOS/UBI adoptions for librtr 0.8.0
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
  docker/ubi-8/Dockerfile
Labels: docker

#11268 bgpd: Drop redundand output under `show rpki prefix-table`
  bgpd/bgp_rpki.c
Labels: bgp

#11267 tests: Allow cspf_topo1 to function correctly at scale
  tests/topotests/cspf_topo1/reference/sharp-ted.json
Labels: tests

#11252 debian, redhat: update changelog for new release
  debian/changelog
  redhat/frr.spec.in
Labels: packaging

#11239 tests: Add Notification support for Graceful-Restart tests
  tests/topotests/bgp_gr_notification/__init__.py
  tests/topotests/bgp_gr_notification/r1/bgpd.conf
  tests/topotests/bgp_gr_notification/r1/zebra.conf
  tests/topotests/bgp_gr_notification/r2/bgpd.conf
  tests/topotests/bgp_gr_notification/r2/zebra.conf
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests

#11244 zebra: avoid pbr iptable added twice when used with flowspec
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: zebra

#11287 build: fix some corners for LLVM analysis tools
  python/makefile.py
  tools/frr-llvm-cg.c
Labels: tools, bugfix

#11282 pimd: Disable handling v3 igmp packets on an interface config'ed for v2
  pimd/pim_igmpv3.c
  tools/etc/frr/support_bundle_commands.conf
Labels: pim, tools, bugfix

#11291 bgpd: Memory leak for community alias
  bgpd/bgp_memory.c
  bgpd/bgp_vty.c
Labels: bgp, master

#11277 pimd: Allow the LPM match work properly with prefix lists and normal …
  pimd/pim_rp.c
Labels: pim, bugfix

#11290 Bgp auth breakup
  tests/topotests/bgp_auth/bgp_auth_common.py
  tests/topotests/bgp_auth/test_bgp_auth.py
  tests/topotests/bgp_auth/test_bgp_auth1.py
  tests/topotests/bgp_auth/test_bgp_auth2.py
  tests/topotests/bgp_auth/test_bgp_auth3.py
  tests/topotests/bgp_auth/test_bgp_auth4.py
Labels: tests, master

#11295 tests: Convert test_ospf_gr_helper into running more parallel
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper1.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper2.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper3.py
Labels: tests, master

#11297 bgpd: Fix SR color nexthop processing in BGP
  bgpd/bgp_nht.c
Labels: bgp, bugfix, master

#11304 bgpd: Add JSON output for `show rpki prefix` and other show commands
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
Labels: bgp, master

#11300 tools: add eigrp support on frr-reload
  tools/frr-reload.py
Labels: tools, master

#10997 isisd: Stop fulfill MPLS table when SR is disabled
  isisd/isis_spf.c
  isisd/isis_sr.c
  tests/topotests/isis_sr_topo1/rt6/step5/show_ip_route.ref
  tests/topotests/isis_sr_topo1/rt6/step5/show_ipv6_route.ref
  tests/topotests/isis_sr_topo1/rt6/step5/show_mpls_table.ref
  tests/topotests/isis_tilfa_topo1/rt4/step4/show_ip_route.ref.diff
  tests/topotests/isis_tilfa_topo1/rt4/step4/show_ipv6_route.ref.diff
  tests/topotests/isis_tilfa_topo1/rt4/step4/show_mpls_table.ref.diff
  tests/topotests/isis_tilfa_topo1/rt4/step5/show_ip_route.ref.diff
  tests/topotests/isis_tilfa_topo1/rt4/step5/show_ipv6_route.ref.diff
  tests/topotests/isis_tilfa_topo1/rt4/step5/show_mpls_table.ref.diff
Labels: isis

#11299 zebra: Update advertise-svi-ip MACIPs w/ new MAC
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, master

#11293 doc, tools: Update release dates in workflow.rst
  doc/developer/workflow.rst
  tools/releasedate.py
Labels: documentation, tools, master
