Repository FRRouting/frr, pull requests merged in 2022-03, with the labels that each got.

#10691 bgpd: fix missing name of default vrf
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix

#10634 pim6d: Handling nexthop for PIMV6
  pimd/pim_nht.c
  pimd/pim_rpf.c
Labels: pim, pimv6

#10584 doc: Update documentation to state new code must use latest approved …
  doc/developer/cli.rst
  doc/developer/workflow.rst
Labels: documentation

#10640 lib, vtysh: Thread timers
  doc/user/basic.rst
  lib/thread.c
  tools/etc/frr/support_bundle_commands.conf
  vtysh/vtysh.c
  zebra/interface.c
  zebra/interface.h
Labels: documentation, zebra, vtysh, libfrr, tools

#10696 [8.2] doc: fix typo in zebra user doc
  doc/user/zebra.rst
Labels: documentation, bugfix

#10699 vtysh: fix coverity issues in live-log code
  vtysh/vtysh.c
Labels: vtysh, bugfix

#10695 zebra: [8.2] Bsd zebra graceful restart cleanup
  doc/user/zebra.rst
  zebra/kernel_socket.c
  zebra/zebra_rib.c
Labels: documentation, zebra

#10657 pimd: replace inaddr_none with PIMADDR_ANY
  pimd/pim_bsm.c
  pimd/pim_mroute.c
  pimd/pim_nht.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
Labels: pim, pimv6

#10723 bgpd: fix 'show bgp detail json' output
  bgpd/bgp_route.c
Labels: bgp, bugfix

#10730 lib: Route-map failed for OSPF routes even for matching prefixes
  lib/routemap.c
Labels: libfrr, bugfix

#10734 bgpd: Fix while(read()) for RPKI sync callback
  bgpd/bgp_rpki.c
Labels: bgp

#10736 bgpd: [8.2] RPKI fixes backport
  bgpd/bgp_rpki.c
Labels: bgp

#10732 zebra: Delay the usage of one variable
  zebra/zebra_evpn.c
Labels: zebra

#10745 doc: fix another doc typo
  doc/user/zebra.rst
Labels: documentation, bugfix

#10741 critical fixes for grpc
  lib/northbound_grpc.cpp
Labels: libfrr, bugfix

#10747 bgpd: Fix continue/break change from old commit
  bgpd/bgp_route.c
Labels: bgp

#10748 zebra: remove unused variable
  zebra/zebra_netns_id.c
Labels: zebra

#10753 pim6d: Few fixes
  pimd/pim6_main.c
Labels: pim, pimv6

#10393 pimv6 Interface cli implementation
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_addr.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_nb.h
Labels: pim, pimv6

#10754 yang: Fix the ipv6 multicast pattern in frr-route-types
  yang/frr-route-types.yang
Labels: yang, pimv6

#10646 pim6d: Static RP feature
  pimd/pim6_cmd.c
  pimd/pim6_stubs.c
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_nb_config.c
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_rpf.c
  pimd/pim_util.c
  pimd/pim_util.h
  pimd/subdir.am
Labels: pim, pimv6

#10722 zebra: fix crash in evpn neigh cleanup all
  zebra/zebra_evpn_mac.c
Labels: zebra, bugfix

#10079 zebra: shutdown doesn't uninstall related NHG
  zebra/interface.c
Labels: zebra

#10694 pim6d: reenable NHT code
  pimd/pim6_stubs.c
  pimd/pim_nht.c
  pimd/pim_zebra.c
  pimd/subdir.am
Labels: pim, pimv6

#10662 zebra: netlink protodown event handling for vxlan device
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_ptm.c
Labels: zebra

#10707 pim6d: Handle receive of pimv6 register packet
  pimd/pim_br.c
  pimd/pim_br.h
  pimd/pim_msg.h
  pimd/pim_register.c
  pimd/pim_register.h
Labels: pim, pimv6

#10764 ospfd,ospf6d: Add missing newline for `graceful-restart prepare` CLI
  ospf6d/ospf6_gr.c
  ospfd/ospf_gr.c
Labels: ospf, ospfv3

#10749 lib, vtysh: apply some polish to live-log feature
  lib/libfrr.c
  lib/libfrr.h
  lib/log_vty.c
  lib/zlog.c
  lib/zlog_live.c
  lib/zlog_live.h
  vtysh/vtysh.c
Labels: vtysh, libfrr, bugfix

#10480 doc: Add the document for PIMv6
  doc/user/index.rst
  doc/user/pimv6.rst
  doc/user/subdir.am
Labels: documentation, pim, pimv6

#10743 bgpd: Warn user when an interface has no v6 LL address
  bgpd/bgp_errors.c
  bgpd/bgp_errors.h
  bgpd/bgp_zebra.c
Labels: bgp

#10776 vrrpd: Allow it to be built in directory
  vrrpd/Makefile
Labels: vrrp

#10711 zebra: remove unnecessary assignment
  zebra/zebra_evpn_neigh.c
Labels: zebra

#10774 pim6d: fix a bunch of IPv6 confusion
  doc/developer/logging.rst
  lib/json.c
  lib/json.h
  lib/prefix.c
  pimd/pim_ifchannel.c
  pimd/pim_rp.c
  pimd/pim_zebra.c
  tests/lib/test_printfrr.c
Labels: pim, libfrr, bugfix, pimv6

#10727 doc: Add a couple of handy commands to get some info for release notes
  doc/developer/frr-release-procedure.rst
Labels: documentation

#10759 pimd: Add IGMP total groups and total source groups to statistics
  pimd/pim_cmd.c
  pimd/pim_igmp_stats.c
  pimd/pim_igmp_stats.h
Labels: pim

#10778 tests: Make all commands logged
  tests/topotests/lib/topotest.py
Labels: tests

#10780 pimd: Fix Null pointer dereference
  pimd/pim_cmd_common.c
Labels: pim, pimv6

#10781 bgpd, lib, pimd: Remove sockopt_cork
  bgpd/bgp_packet.c
  lib/sockunion.c
  lib/sockunion.h
  pimd/pim_msdp_packet.c
Labels: bgp, pim, libfrr

#10783 Bgp zebra nht
  bgpd/bgp_nht.c
  lib/zclient.c
  lib/zclient.h
  ospf6d/ospf6_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_nht.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  zebra/rib.h
  zebra/zebra_rnh.c
  zebra/zebra_srte.c
Labels: zebra, bugfix

#10746 pimd: Show group-type under `show ip pim rp-info`
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_ssm.h
Labels: pim

#10744 pimd: fix typo in IGMP interface statistics JSON output.
  pimd/pim_cmd.c
Labels: bugfix

#10785 bgpd: Remove dead code for [un]register_zebra_rnh
  bgpd/bgp_nht.c
Labels: bgp

#10772 pim6d: address management & MLD preparation
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmp.h
  pimd/pim_oil.c
  pimd/pim_ssm.c
  pimd/pim_tib.c
  pimd/pim_tib.h
  pimd/pim_zebra.c
  pimd/pim_zebra.h
  pimd/subdir.am
Labels: pim, pimv6

#10779 lib: typesafe container reverse iterators
  .clang-format
  doc/developer/lists.rst
  lib/typerb.c
  lib/typerb.h
  lib/typesafe.h
  tests/lib/test_typelist.c
  tests/lib/test_typelist.h
Labels: libfrr

#10399 pim6d: PIMv6 socket related changes
  pimd/pim_cmd.c
  pimd/pim_igmp.c
  pimd/pim_pim.c
  pimd/pim_sock.c
  pimd/pim_sock.h
  pimd/pim_ssmpingd.c
Labels: pim, pimv6

#10729 debian: include frr@.service in deb
  debian/.gitignore
  debian/rules
Labels: packaging

#10716 lib: Fix corruption when routemap delete/add sequence happens
  lib/routemap.c
Labels: libfrr, bugfix

#10724 lib: rotate log file supplied by command line
  lib/log_vty.c
Labels: libfrr, bugfix

#10768 pimd: Add IGMP join sent/failed statistics
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmp.h
  pimd/pim_igmp_mtrace.c
  pimd/pim_igmp_stats.c
  pimd/pim_igmp_stats.h
  pimd/pim_igmpv2.c
  pimd/pim_igmpv3.c
  pimd/pim_pim.c
  pimd/pim_sock.c
  pimd/pim_sock.h
Labels: pim

#10447 *: Fix JSON keys with whitespaces and PascalCase
  bgpd/bgp_labelpool.c
  bgpd/bgp_route.c
  ldpd/ldp_vty_exec.c
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_top.c
  ospfd/ospf_ldp_sync.c
  ospfd/ospf_vty.c
  pimd/pim_cmd.c
  tools/coccinelle/json_object_add_camel_case.cocci
Labels: cleanup, tests, pim, ospf, ospfv3, tools

#10731 zebra: Multipath output
  zebra/zebra_vty.c
Labels: zebra

#10725 zebra: don't enqueue data with FPM socket closed
  zebra/dplane_fpm_nl.c
Labels: zebra, fpm, bugfix

#10738 fixes for grpc module
  doc/developer/topotests.rst
  lib/northbound_grpc.cpp
  tests/.gitignore
  tests/lib/test_grpc.py
  tests/topotests/analyze.py
  tests/topotests/grpc_basic/lib
  tests/topotests/grpc_basic/r1/zebra.conf
  tests/topotests/grpc_basic/r2/zebra.conf
  tests/topotests/grpc_basic/test_basic_grpc.py
  tests/topotests/lib/grpc-query.py
Labels: tests, libfrr, bugfix

#10012 pimd : Handling of Exclude mode IGMPv3 report messages for SSM aware group.
  pimd/pim_igmpv2.c
  pimd/pim_igmpv3.c
Labels: pim

#10793 pimd: Show total received messages IGMP stats
  pimd/pim_cmd.c
  pimd/pim_igmp_stats.c
  pimd/pim_igmp_stats.h
Labels: pim

#10693 zebra: use "assert" instead of unnecessary check
  zebra/zebra_vxlan.c
Labels: bgp, zebra

#10583 pimd: Ensure timers are stopped on instance shutdown
  pimd/pim_upstream.c
Labels: pim

#10565 lib: not thread off when schedule
  lib/wheel.c
Labels: libfrr

#10796 bgpd: add new line for prompt of "no router bgp"
  bgpd/bgp_vty.c
Labels: bgp

#10791 pimd: Add additional IGMP stats (peak number of groups)
  pimd/pim_cmd.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmp_stats.c
  pimd/pim_igmp_stats.h
  pimd/pim_pim.c
Labels: pim

#10580 zebra: Lookup linked interface in link netns
  zebra/if_netlink.c
Labels: zebra

#10770 zebra: evpn disable remove l2vni from l3vni list
  zebra/zebra_vxlan.c
Labels: zebra

#10643 tests: add a topotest for ospf, mutli vrf, and route leaking
  tests/topotests/ospf_multi_vrf_bgp_route_leak/__init__.py
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/frr.conf
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/ospf-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/ospf-vrf-neno.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/zebra-vrf-neno.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/frr.conf
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/ospf-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/ospf-vrf-ray.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/zebra-vrf-ray.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r3/frr.conf
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r3/ospf-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r3/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r4/frr.conf
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r4/ospf-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r4/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/test_ospf_multi_vrf_bgp_route_leak.py
Labels: tests

#10427 Add Support for Setting Protodown Reason Code
  doc/user/sharp.rst
  doc/user/zebra.rst
  include/linux/if_link.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  tests/topotests/zebra_rib/test_zebra_rib.py
  zebra/debug_nl.c
  zebra/dplane_fpm_nl.c
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/if_socket.c
  zebra/interface.c
  zebra/interface.h
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rt.h
  zebra/rt_netlink.h
  zebra/subdir.am
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_errors.c
  zebra/zebra_errors.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: documentation, tests, zebra, sharp

#10799 ospfd: better error messages when not enabled in a vrf
  ospfd/ospf_vty.c
Labels: ospf

#10763 lib: Convert prefix_master->str to a RB Tree
  lib/plist.c
  lib/plist_int.h
Labels: libfrr

#10653 pim6d: pim_ssmpingd changes to support PIMv6
  pimd/pim_instance.h
  pimd/pim_nb_config.c
  pimd/pim_ssmpingd.c
  pimd/pim_ssmpingd.h
  pimd/pim_vty.c
Labels: pim, pimv6

#10755 pim6d: Enable protocol as VTYSH_PIM6D for pim6_cmd.c
  vtysh/extract.pl.in
Labels: pim, pimv6

#10804 lib: grpc: fix covevrity warnings
  lib/northbound_grpc.cpp
Labels: libfrr, bugfix

#10803 bgpd: remove dead code
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_private.h
Labels: bgp

#10797 support to sysrepo-2.0.41
  lib/northbound_sysrepo.c
Labels: libfrr

#10790 zebra: minor changes on "zebra_evpn_mac_gw_macip_add" function
  zebra/zebra_evpn.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_mac.h
Labels: zebra

#10806 zebra: Fixup lua with new dplane ops
  zebra/zebra_script.c
Labels: zebra

#10807 lib: wheel's typo fix
  lib/wheel.c
Labels: libfrr

#10801 tests: Adding database info in the script to ease debug
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: tests

#10813 pimd: Include pruneTx/pruneRx for `show ip pim interface traffic WORD…
  pimd/pim_cmd.c
Labels: pim

#10705 tests: Adding EVPN-GR scenario to evpn_type5 suite
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
Labels: tests

#10817 tests: Fix topotests crash when KeyError found
  tests/topotests/lib/micronet_cli.py
Labels: tests

#10829 zebra: Do not complain if deletion fails
  zebra/rt_socket.c
Labels: zebra

#10816 bgpd: fix wrong check on local es routes
  bgpd/bgp_evpn.c
Labels: bgp, bugfix

#10830 zebra, bgpd: remove check returning value of RB_INSERT()
  bgpd/bgp_evpn_mh.c
  zebra/zebra_evpn_mh.c
Labels: bgp, zebra

#10820 Evpn route frag
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  doc/user/bgp.rst
  lib/prefix.c
  lib/prefix.h
Labels: documentation, bgp, libfrr

#9476 pimd: Added new option "detail" in the "debug pim nht" CLI
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_nht.c
  pimd/pim_vty.c
  pimd/pim_zlookup.c
  pimd/pimd.h
Labels: pim

#9953 zebra: Better handle replacing our route by a system route
  zebra/rt_netlink.c
Labels: zebra

#8967 tools: suppress unuseful warnings during restarting frr
  tools/frrcommon.sh.in
Labels: tools

#10832 pimd: add source and group information in mroute json
  pimd/pim_cmd.c
Labels: pim

#10815 pimd: add 'debug pim vxlan' when 'debug pim' is used
  pimd/pim_cmd.c
Labels: pim

#10809 Pim igmp query
  pimd/pim_igmpv2.c
  pimd/pim_mroute.c
Labels: pim, bugfix

#10814 ospf6d: observed crash in ospf6_decrement_retrans_count.
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_lsdb.c
Labels: ospfv3

#8803 tests: Adding new tests to bgp_vrf_dynamic_route_leak suite
  tests/topotests/bgp_vrf_dynamic_route_leak_topo3/bgp_vrf_dynamic_route_leak_topo3.json
  tests/topotests/bgp_vrf_dynamic_route_leak_topo3/test_bgp_vrf_dynamic_route_leak_topo3.py
  tests/topotests/bgp_vrf_dynamic_route_leak_topo4/bgp_vrf_dynamic_route_leak_topo4.json
  tests/topotests/bgp_vrf_dynamic_route_leak_topo4/test_bgp_vrf_dynamic_route_leak_topo4.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: tests

#10842 bgpd: remove unnecessary checkings for the returned value
  bgpd/bgp_evpn_mh.c
Labels: bgp

#10726 zebra: evpn revamp l3vni routermac db
  zebra/zebra_evpn_mac.h
  zebra/zebra_vxlan.c
Labels: zebra

#10841 pimd: [8.2] Pim igmp query backport
  pimd/pim_igmpv2.c
  pimd/pim_mroute.c
Labels: pim, bugfix

#10844 pimd: correct prefix-list ssm range update for exclude mode
  pimd/pim_igmp.c
Labels: pim

#10851 tests: Add the show database for ospfv3 before checking for ospf route
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: tests

#10843 isisd: add guard debug when compiling with EXTREME_DEBUG
  isisd/isis_circuit.c
  isisd/isis_pfpacket.c
  isisd/isis_spf.c
Labels: isis

#10857 bgpd: Turn off thread when running `no bmp targets X`
  bgpd/bgp_bmp.c
Labels: bgp

#10864 zebra: Don't send uninited data to kernel on FreeBSD
  zebra/ioctl.c
Labels: zebra

#10852 build: remove generated lib files during distclean
  lib/subdir.am
Labels: build, libfrr

#10868 lib: Prevent uninitialized bytes
  lib/log.c
Labels: libfrr

#10867 zebra: Fix use after deletion event in freebsd
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/kernel_socket.c
  zebra/zebra_netns_notify.c
Labels: zebra

#10881 pim6d: fix format string mistakes in ssmpingd
  pimd/pim_ssmpingd.c
  pimd/pim_vty.c
Labels: pim, bugfix, pimv6

#10862 zebra: optimization on the mac addition for evpn-mh
  zebra/zebra_evpn_mac.c
Labels: zebra

#10677 pim6d: Handling of receiving of PIMv6 packets
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_pim.c
  pimd/pim_pim.h
Labels: pim, pimv6

#10892 lib: Ensure order of operations is expected with SECONDS
  lib/monotime.h
Labels: libfrr, bugfix

#10894 babeld: Rehook up interface up events
  babeld/babel_interface.c
Labels: babel, bugfix

#10891 bgpd: Add autocomplete for BMP targets
  bgpd/bgp_bmp.c
Labels: bgp

#10889 bgpd: remove dead code for evpn
  bgpd/bgp_evpn_private.h
Labels: bgp

#10887 zebra: Note when the netlink DUMP command is interrupted
  zebra/kernel_netlink.c
Labels: zebra

#10883 bgpd: Fix possible insufficient stream data
  bgpd/bgp_attr.c
Labels: bgp, bugfix

#10366 pim6d: Adding new mld CLI's for v6
  pimd/pim6_cmd.c
  pimd/pim_iface.c
  pimd/pim_nb_config.c
Labels: pim, bugfix, pimv6

#10905 bgpd: Fix mixed print types for BGP_PREFIX_SID_SRV6_L3_SERVICE_SID_ST…
  bgpd/bgp_attr.c
Labels: bgp

#10661 Pim6d: Mroute oil
  include/linux/mroute.h
  include/linux/mroute6.h
  include/subdir.am
  pimd/pim6_mroute_msg.c
  pimd/pim6_stubs.c
  pimd/pim_instance.h
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_mroute_msg.c
  pimd/pim_msg.h
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_register.h
  pimd/subdir.am
Labels: bgp, pim, bugfix, pimv6

#10897 zebra,staticd,*: SAFI_MULTICAST NHT groundwork
  bgpd/bgp_nht.c
  lib/zclient.c
  lib/zclient.h
  ospf6d/ospf6_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_nht.c
  sharpd/sharp_zebra.c
  staticd/static_nht.c
  staticd/static_nht.h
  staticd/static_zebra.c
  zebra/zapi_msg.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vty.c
Labels: staticd, zebra, everything

#10878 bgpd: Fix crash for `show ip bgp vrf all all`
  bgpd/bgp_route.c
Labels: bgp

#10904 pim6d: Correct the show ip prefix-list display for pim6d
  vtysh/extract.pl.in
Labels: pimv6

#10907 bgpd: [8.2] Fix possible insufficient stream data
  bgpd/bgp_attr.c
Labels: bgp, bugfix

#10158 ospf6d: stop refreshing type-5 from NSSA
  ospf6d/ospf6_nssa.c
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
Labels: ospfv3, bugfix

#10882 pim6d: send IPv6 PIM packets
  pimd/pim6_stubs.c
  pimd/pim_assert.c
  pimd/pim_bsm.c
  pimd/pim_iface.c
  pimd/pim_join.c
  pimd/pim_msg.c
  pimd/pim_msg.h
  pimd/pim_pim.c
  pimd/pim_register.c
  pimd/subdir.am
Labels: pim, pimv6

#10719 lib: fix and improve yang operational data display
  doc/user/basic.rst
  lib/northbound.c
  lib/northbound_cli.c
  vtysh/vtysh.c
Labels: documentation, vtysh, libfrr, bugfix

#10834 ospfd: Default route becomes stale route in nbrs even after flush from originator
  ospfd/ospf_lsa.c
Labels: ospf

#10913 isisd: fix infinite loop when parsing LSPs
  isisd/isis_spf.c
Labels: isis, bugfix

#10906 bgpd: Stop LLGR timer when the connection is established
  bgpd/bgp_fsm.c
Labels: bgp

#10888 bgpd: small simplification for evpn RT commands
  bgpd/bgp_ecommunity.c
  bgpd/bgp_evpn_vty.c
Labels: bgp

#10845 bgpd: Print hostname along with IP for most useful debug messages
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#10837 ospfd: Use consistent JSON keys for `show ip ospf neighbor` and detai…
  ospfd/ospf_vty.c
Labels: ospf

#10848 Ospf srlb config
  ospfd/ospf_sr.c
Labels: ospf

#10825 ospfd: fix ospf default route wrongly sent back
  ospfd/ospf_zebra.c
Labels: ospf, bugfix

#10838 bgpd: Add BGP configuration start/end markers
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp

#10902 zebra: fix doc and default value of "func-bits" for SRv6
  doc/user/zebra.rst
  zebra/zebra_srv6_vty.c
Labels: zebra, bugfix

#10918 bgpd: Fix Lua route-map crash
  bgpd/bgp_script.c
  lib/frrscript.c
Labels: bgp

#10922 ospf6d: fix crash when applying a route-map on a temporary route
  ospf6d/ospf6_asbr.c
Labels: ospfv3, bugfix

#10676 pim6d: Adding new PIM Show CLI's for v6
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_rp.c
  pimd/pim_rp.h
Labels: pim, pimv6

#10926 tools: Modify all_stop to actually try to stop all daemons
  tools/frrcommon.sh.in
Labels: tools

#10934 ospfd: Show neighbor state in full format (e.g. Full/DR instead of Full)
  ospfd/ospf_vty.c
Labels: ospf

#10915 doc/developer: daemon-specific printfrr formats
  doc/developer/logging.rst
Labels: documentation

#10937 bgpd: Show `match script SCRIPT` in running config
  lib/routemap.h
  lib/routemap_cli.c
Labels: bgp

#10917 docker: Centos-8 dockerfile fix.
  docker/centos-8/Dockerfile
Labels: docker

#10916 docker: Adding support for ubi-8 images.
  doc/developer/building-docker.rst
  docker/ubi-8/Dockerfile
  docker/ubi-8/build.sh
  docker/ubi-8/docker-start
Labels: docker
