Repository FRRouting/frr, pull requests merged in 2022-09, with the labels that each got.

#11893 configure: Check for readline() function instead of main
  configure.ac
Labels: master

#11894 bgpd: changes for code maintainability
  bgpd/bgp_btoa.c
  bgpd/bgp_dump.c
  bgpd/bgp_fsm.c
Labels: bgp, master

#11888 zebra: fix missing tenant vrf change notification
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, master

#11884 lib: ensure locals are inited to NULL
  lib/thread.c
Labels: libfrr, master

#11897 pimd: Removal of unused function pim_neighbor_find_prefix
  pimd/pim_neighbor.c
  pimd/pim_neighbor.h
Labels: pim, pimv6, master

#11898 ripd: changes for code maintainability
  ripd/ripd.c
Labels: rip, master

#11902 pimd, pim6d: Changing IGMP to GM in debug macros
  pimd/pim6_mld.c
  pimd/pim_iface.c
  pimd/pim_igmp.c
  pimd/pim_igmpv2.c
  pimd/pim_igmpv3.c
  pimd/pim_mroute.c
  pimd/pim_vty.c
  pimd/pimd.h
Labels: pim, pimv6

#11754 isisd: Correct Valgrind errors
  isisd/isis_circuit.c
  isisd/isis_nb_config.c
  isisd/isis_sr.c
  isisd/isis_te.c
  isisd/isis_te.h
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  isisd/isisd.c
Labels: isis, master

#11882 bgpd: Increase peer af_flags to uint64_t
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master

#11864 ospfd: Added clis to change default timers for LSA refresh and maxage remove delay.
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf, master

#11823 Bgp vpnv4 convey without transport label
  bgpd/bgp_attr.h
  bgpd/bgp_main.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/routemap.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_vpnv4_ebgp/__init__.py
  tests/topotests/bgp_vpnv4_ebgp/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_ebgp/r1/ipv4_routes.json
  tests/topotests/bgp_vpnv4_ebgp/r1/zebra.conf
  tests/topotests/bgp_vpnv4_ebgp/r2/bgp_ipv4_routes.json
  tests/topotests/bgp_vpnv4_ebgp/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_ebgp/r2/zebra.conf
  tests/topotests/bgp_vpnv4_ebgp/test_bgp_vpnv4_ebgp.py
  tests/topotests/bgp_vpnv4_gre/__init__.py
  tests/topotests/bgp_vpnv4_gre/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_gre/r1/ipv4_routes.json
  tests/topotests/bgp_vpnv4_gre/r1/zebra.conf
  tests/topotests/bgp_vpnv4_gre/r2/bgp_ipv4_routes.json
  tests/topotests/bgp_vpnv4_gre/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_gre/r2/zebra.conf
  tests/topotests/bgp_vpnv4_gre/test_bgp_vpnv4_gre.py
  vtysh/vtysh.h
  yang/frr-bgp-route-map.yang
Labels: bgp, bugfix, master

#11911 ospfd: Adding SUPPORT_OSPF_API define in ospf_spf.c
  ospfd/ospf_spf.c
Labels: ospf, master

#11914 lib: replace one path with macro
  lib/zlog.c
Labels: libfrr, master

#11916 zebra: Reconfiguring netns for vrf is not a failure
  zebra/zebra_vrf.c
Labels: zebra, master

#11915 topotests: ignore env for pytest --collect-only
  tests/topotests/conftest.py
Labels: master

#11913 bgpd: release rcu lock in bgp keepalive pthread
  bgpd/bgp_keepalives.c
Labels: bgp, master

#11896 pim6d: Adding additional details for "show ipv6 mld interface [ifname] json" command.
  pimd/pim6_mld.c
Labels: pimv6, master

#11909 bgpd: bgp_dest_unlock_node fixes
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_rpki.c
  bgpd/bgp_table.h
Labels: bgp, master

#11922 zebra: fix broken evpn
  zebra/kernel_netlink.c
Labels: zebra, bugfix, master

#11903 bfd: changes for code maintainability
  bfdd/bfd.c
  bfdd/bfd_packet.c
Labels: bfd, master

#11934 eigrpd: changes for code maintainability
  eigrpd/eigrp_network.c
  eigrpd/eigrp_packet.c
  eigrpd/eigrpd.c
Labels: eigrp, master

#11928 bgpd: Fix memory leak for `as-override`
  bgpd/bgp_route.c
Labels: bgp, master

#11932 bgpd: Fix memory leak for `conf_copy()` - SoO ecommunity
  bgpd/bgp_fsm.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.c
Labels: bgp, master

#11930 tests: Validate the routes using polling for bgp_remove_private_as
  tests/topotests/bgp_remove_private_as/test_bgp_remove_private_as.py
Labels: tests, master

#11868 bgpd: improve labelpool performance at scale
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/subdir.am
  lib/bitfield.h
  tests/topotests/bgp_lu_topo1/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo2/R1/labelpool.summ.json
Labels: bgp, master

#11926 bgpd: avoid notify race between io and main pthreads
  bgpd/bgp_io.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
Labels: bgp, master

#11899 bgpd: Implement Origin Validation State via extended communities
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/overview.rst
  doc/user/rpki.rst
  lib/routemap.h
  lib/routemap_cli.c
  yang/frr-bgp-route-map.yang
Labels: documentation, bgp, master

#11946 pimd, pim6d: Changing IGMP to GM in debug macros.
  pimd/pim6_mld.c
  pimd/pim_igmp.c
  pimd/pim_igmpv2.c
  pimd/pim_igmpv3.c
  pimd/pim_nb_config.c
  pimd/pim_tib.c
  pimd/pim_vty.c
  pimd/pimd.h
Labels: pim, pimv6, master

#11948 pimd: Fix memleak in bfd profile
  pimd/pim_iface.c
Labels: pim, master

#11949 lib: Fix skip of every other plist deletion
  lib/plist.c
Labels: libfrr, master

#11900 pim6d: Update last_member_query_interval and last_member_query_count
  pimd/pim_nb_config.c
Labels: pimv6, master

#11955 pim6d: Fixing coverity issues for pim6_mld.c
  pimd/pim6_mld.c
Labels: pimv6

#11917 pim6d: fix clear ipv6 mroute crash
  pimd/pim6_mld.c
Labels: bugfix, pimv6, master

#11945 bgpd: Handle route-refresh request received before EoR
  bgpd/bgp_packet.c
  bgpd/bgpd.h
Labels: bgp, master

#11953 pim6d: (*,G) mroutes not learnt after pim6d daemon restart
  pimd/pim_iface.c
Labels: bugfix, pimv6, master

#11940 zebra: changes for code maintainability
  zebra/if_ioctl.c
  zebra/if_netlink.c
  zebra/if_sysctl.c
Labels: zebra, master

#11872 pimd, pim6d: Changing IGMP to GM in few macro's.
  pimd/pim_iface.c
  pimd/pim_igmp.h
  pimd/pim_vty.c
  pimd/pimd.h
Labels: pim, pimv6, master

#11958 pimd, pim6d: Using ttable for displaying show command outputs
  pimd/pim_cmd_common.c
Labels: pim, pimv6

#11971 bgpd: Use route_map_result_t for route_map_apply() as return type
  bgpd/bgp_attr.c
  tools/coccinelle/route_map_apply.cocci
Labels: bgp, master

#11954 bgpd: Free ecommunity before returning on warning/error
  bgpd/bgp_evpn_vty.c
Labels: bgp, master

#11952 include: clean up some white spaces
  include/linux/rtnetlink.h
Labels: master

#11972 pathd: 'no mpls-te on' command was not working
  pathd/path_ted.c
Labels: master

#11968 isisd: Fix memory leak on shutdown with prefix lists
  isisd/isis_nb_config.c
  isisd/isisd.c
  isisd/isisd.h
Labels: isis, master

#11918 pim6d: "show ipv6 mld interface" command
  pimd/pim6_mld.c
Labels: bugfix, pimv6, master

#11802 pimd, pim6d: Using ttable for displaying "show ip/ipv6 pim state" command output.
  pimd/pim_cmd_common.c
Labels: pim, pimv6, master

#11977 docker: Keep and copy .apk files after they are built
  docker/alpine/Dockerfile
  docker/alpine/build.sh
Labels: docker, master

#11986 bgpd: Drop out-of-date files
  bgpd/IMPLEMENTATION.txt
  bgpd/bgpd.conf.sample2
Labels: bgp, master

#11979 bgpd: Stop conditional advertisements thread when terminating
  bgpd/bgpd.c
Labels: bgp, master

#11993 bgpd: Use %pRD for prefix_rd2str()
  bgpd/bgp_debug.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_rd.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/rfapi/bgp_rfapi_cfg.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/rfapi_vty.h
  lib/prefix.h
Labels: cleanup, bgp, master

#11997 zebra: changes for code maintainability
  zebra/kernel_socket.c
  zebra/rtadv.c
Labels: zebra, master

#11982 bgpd: multiple memory leak issue fixes
  bgpd/bgp_ecommunity.c
  bgpd/bgp_fsm.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_packet.c
  bgpd/bgpd.c
Labels: bgp, master

#12001 doc: Align docs to recommend integrated config
  doc/user/vtysh.rst
Labels: documentation, master

#12000 ospfd: Remove deprecated command `graceful-restart helper-only`
  ospfd/ospf_vty.c
Labels: ospf, master

#12002 doc: Update supported BGP RFC list
  doc/user/overview.rst
Labels: documentation, master

#12009 pim6d: Adding last member query count field in "show ipv6 mld interface [ifname] json" command.
  pimd/pim6_mld.c
Labels: bugfix, pimv6, master

#11910 pathd: nai adjacency fix query type f for IPV6
  pathd/path_ted.c
Labels: bugfix, master

#12010 bgpd: Print hostname for peer as well when marking as stale for route-refresh
  bgpd/bgp_route.c
Labels: bgp, master

#12006 doc: Add `neighbor PEER extended-optional-parameters` command
  doc/user/bgp.rst
Labels: documentation, master

#11978 docker: [8.3] Keep and copy .apk files after they are built
  docker/alpine/Dockerfile
  docker/alpine/build.sh
Labels: docker, stable/8.3

#12029 Cputime stats
  vtysh/vtysh_config.c
Labels: vtysh, bugfix, master

#11990 Update setup.rst
  doc/user/setup.rst
Labels: documentation, master

#12028 pimd: IGMP Querier election is not correct in LAN scenario
  pimd/pim_igmp.c
Labels: pim, master

#12036 vtysh: Show allow-reserved-ranges once in config
  vtysh/vtysh_config.c
Labels: vtysh, master

#12031 mgmtd: Fixing invalid memory writes
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/vty.c
Labels: dev/mgmtd

#12035 pimd: Allow v6 to do non-integrated configuration
  pimd/pim6_main.c
  pimd/pimd.h
Labels: pim, bugfix, pimv6, master
