Repository FRRouting/frr, pull requests merged in 2022-02, with the labels that each got.

#10449 *: Missing vty_json conversions
  bgpd/bgp_route.c
  isisd/isis_te.c
  nhrpd/nhrp_vty.c
  pimd/pim_cmd.c
  tools/coccinelle/vty_json.cocci
Labels: bgp, pim, isis, nhrp, tools

#10443 zebra: name the route_entry opaque struct more specifically
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: zebra

#10442 bgpd: Reuse bgp_path_info_extra_get() for allocating new bgp path info
  bgpd/bgp_route.c
Labels: bgp

#10459 ospfd: fix distance not applied
  ospfd/ospf_vty.c
Labels: ospf

#10435 ospf6d: fix distance not applied
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
Labels: ospfv3

#10454 ospf6d: [8.1] Fix memory leak for show ipv6 ospf6 zebra json
  ospf6d/ospf6_zebra.c
Labels: ospfv3

#10446 staticd: small cleanup
  staticd/static_routes.c
  staticd/static_vty.c
Labels: staticd

#10322 bgpd: Addressing few coverity issues
  bgpd/bgp_attr.c
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_evpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
Labels: bgp

#10430 bgpd: Add bgp_check_selected() helper and just consistency changes
  bgpd/bgp_advertise.c
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_dump.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_updgrp_packet.c
  lib/stream.c
  lib/stream.h
Labels: bgp

#10431 bgpd: Handle TCP connection errors with connection callbacks for RPKI
  bgpd/bgp_rpki.c
Labels: bgp

#10391 tests: Topotest for checking ECMP inter-area nexthop handling
  tests/topotests/ospf6_ecmp_inter_area/r1/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r1/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r2/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r2/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r3/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r3/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r4/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r4/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r5/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r5/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r6/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r6/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r7/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r7/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r8/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r8/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r9/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r9/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/test_ospf6_ecmp_inter_area.py
Labels: tests

#10373 ospfd: fix missing "aggregation timer" in running configuration
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_vty.c
  ospfd/ospfd.h
Labels: ospf, ospfv3, bugfix

#10413 bfdd,doc,yang: a few minor commits for bfdd
  bfdd/bfd_packet.c
  bfdd/bfdd_nb_config.c
  doc/user/bfd.rst
  yang/frr-bfdd.yang
Labels: documentation, bfd, bugfix, yang

#10428 bgpd: Move out ipv6_ecommunity struct from attr to attr_extra
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
Labels: bgp

#10464 topotests: fix typo about bgp_dont_capability folder name
  tests/topotests/bgp_dont_capability_negotiate/__init__.py
  tests/topotests/bgp_dont_capability_negotiate/r1/bgpd.conf
  tests/topotests/bgp_dont_capability_negotiate/r1/zebra.conf
  tests/topotests/bgp_dont_capability_negotiate/r2/bgpd.conf
  tests/topotests/bgp_dont_capability_negotiate/r2/zebra.conf
  tests/topotests/bgp_dont_capability_negotiate/test_bgp_dont_capability_negotiate.py
Labels: bugfix

#10466 [8.2] ospfd: fix missing "aggregation timer" in running configuration
  ospfd/ospf_vty.c
Labels: ospf, bugfix

#10388 bfdd: fix broken FSM in passive mode
  bfdd/bfd.c
Labels: bfd, bugfix

#10409 zebra: fix cleanup of meta queues on vrf disable
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_vrf.c
Labels: zebra, bugfix

#10463 [8.2] bgpd: Fixing memcmp to avoid coverity issue
  bgpd/bgp_attr.c
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_evpn.c
Labels: bgp

#10485 bgpd: strncmp -> strcmp in community hash foo
  bgpd/bgp_community_alias.c
Labels: bgp

#10483 [8.1] tools: tweak clang format to match master
  .clang-format
Labels: tools

#10481 doc: Correcting the documentation for pimd
  doc/user/pim.rst
Labels: documentation, pim

#10479 [8.1] zebra: fix cleanup of meta queues on vrf disable
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_vrf.c
Labels: zebra, bugfix

#10473 ospfd: Core in ospf_if_down during shutdown.
  ospfd/ospf_interface.c
Labels: ospf

#10495 doc: complete area id for ospf's "range" command
  doc/user/ospfd.rst
Labels: documentation

#10469 zebra: reduce incoming netlink messages for dplane thread
  zebra/kernel_netlink.c
Labels: zebra

#10401 zebra: Make Router Advertisement warnings show up once every 6 hours
  zebra/interface.c
  zebra/interface.h
  zebra/rtadv.c
Labels: zebra

#10161 zebra: Fix improper usage of hash_iterate that caused crashes
  lib/hash.h
  zebra/zebra_nhg.c
Labels: zebra, libfrr

#10470 debian, redhat: updating changelog for new release
  debian/changelog
  redhat/frr.spec.in
Labels: packaging

#10501 More zebra show
  bgpd/bgp_route.c
  doc/user/zebra.rst
  lib/command.c
  lib/command.h
  zebra/rt_netlink.c
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: documentation, bgp, zebra, libfrr

#9926 zebra: Fix v6 route replace failure turned into success
  zebra/kernel_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra

#10472 tools: Skip decorating commits with references (branch name, remote)
  tools/release_notes.py
Labels: tools

#10494 babeld: add a check for truncated packets
  babeld/message.c
Labels: babel, bugfix

#10475 bgpd: Coverity fixes
  bgpd/bgp_rpki.c
  bgpd/bgp_vty.c
Labels: bgp

#10323 ospf6d: LSA statistics
  lib/json.h
  ospf6d/ospf6_area.c
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_lsdb.h
Labels: ospfv3

#10471 doc: Add a commands snippet to workflow about what to do in RC1 phase
  doc/developer/workflow.rst
  tools/releasedate.py
Labels: documentation

#10432 pbrd: pbr route maps get addr family of nhgs
  pbrd/pbr_map.c
  pbrd/pbr_nht.c
  pbrd/pbr_nht.h
  pbrd/pbr_vty.c
Labels: pbr

#10510 bgpd: Flush temporary attributes after route-map apply
  bgpd/bgp_route.c
Labels: bgp

#10441 pimd: Only remove bsr NHT if we actually have tracked something
  pimd/pim_bsm.c
  pimd/pim_nht.c
Labels: pim

#10518 Af unspec
  bfdd/ptm_adapter.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  lib/filter_nb.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsdb.c
  ospfd/ospf_snmp.c
  ospfd/ospf_vty.c
  zebra/zebra_nhg.c
Labels: bgp, ospf, zebra, bfd, libfrr

#10524 pimd: Modify `show ip pim assert` to only show interesting bits
  doc/user/pim.rst
  pimd/pim_cmd.c
Labels: pim, bugfix

#9649 add support for SRv6 IPv4 L3VPN
  include/linux/seg6_local.h
  sharpd/sharp_vty.c
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce1/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce1/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce2/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce3/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce3/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce3/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce4/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce4/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce4/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce5/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce5/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce5/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce6/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce6/ip_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/ce6/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/vrf20_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/vrf20_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/test_bgp_srv6l3vpn_to_bgp_vrf2.py
  zebra/rt_netlink.c
Labels: tests, zebra, sharp

#10293 ospfd: Modifying LSID generation algorithm
  ospfd/ospf_asbr.c
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
Labels: ospf

#10517 isisd: fix router capability TLV parsing issues
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
Labels: isis, bugfix

#10504 babeld: fix the checks for truncated packets
  babeld/message.c
Labels: babel, bugfix

#10292 pimd: start tackling IPv6 address operations
  lib/prefix.h
  pimd/pim_addr.c
  pimd/pim_addr.h
  pimd/pim_assert.c
  pimd/pim_br.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_ifchannel.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_igmpv3.c
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_macro.c
  pimd/pim_mlag.c
  pimd/pim_mroute.c
  pimd/pim_msdp.c
  pimd/pim_msdp_packet.c
  pimd/pim_msg.c
  pimd/pim_nht.c
  pimd/pim_oil.c
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_str.c
  pimd/pim_str.h
  pimd/pim_upstream.c
  pimd/pim_vty.c
  pimd/pim_vxlan.c
  pimd/pim_vxlan.h
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pimd.h
Labels: pim, pimv6

#10527 tests: fix strings with topologies
  tests/topotests/bgp_community_change_update/test_bgp_community_change_update.py
  tests/topotests/bgp_l3vpn_to_bgp_direct/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_multiview_topo1/test_bgp_multiview_topo1.py
  tests/topotests/bgp_rfapi_basic_sanity/customize.py
  tests/topotests/ldp_oc_acl_topo1/test_ldp_oc_acl_topo1.py
  tests/topotests/ldp_oc_topo1/test_ldp_oc_topo1.py
  tests/topotests/ldp_topo1/test_ldp_topo1.py
  tests/topotests/ospf6_topo1/test_ospf6_topo1.py
  tests/topotests/ospf6_topo1_vrf/test_ospf6_topo1_vrf.py
Labels: tests, bugfix

#10529 doc: the dev tag should come after the new version commit step
  doc/developer/workflow.rst
Labels: documentation

#10509 pimd: Querier to non-querier transistion to be ignored in a case
  pimd/pim_igmp.c
Labels: pim, bugfix

#10496 bgpd: Use bgp_attr_[sg]et_ecommunity for struct ecommunity
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_debug.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_mpath.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_pbr.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/vnc_export_bgp.c
  bgpd/rfapi/vnc_import_bgp.c
Labels: bgp

#10492 bgpd: Move attr->pmsi_tnl_type to attr->extra->pmsi_tnl_type
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
Labels: bgp

#10445 tools: Stop disabled daemons when doing reload
  tools/frrinit.sh.in
Labels: tools

#10531 bgpd: avoid memcmp comparison of struct nexthop
  bgpd/bgp_pbr.c
Labels: bgp

#9066 zebra: Fix ships in the night issue
  zebra/connected.c
  zebra/kernel_socket.c
  zebra/redistribute.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_rib.c
Labels: zebra

#8458 lib: RFC5424 syslog support
  configure.ac
  doc/user/basic.rst
  doc/user/extlog.rst
  doc/user/index.rst
  doc/user/subdir.am
  lib/command.h
  lib/libfrr.c
  lib/libfrr.h
  lib/log_vty.c
  lib/subdir.am
  lib/systemd.h
  lib/zebra.h
  lib/zlog_5424.c
  lib/zlog_5424.h
  lib/zlog_5424_cli.c
  tests/.gitignore
  tests/lib/fuzz_zlog.c
  tests/lib/fuzz_zlog_inputs.py
  tests/lib/subdir.am
Labels: documentation, tests, libfrr, bugfix

#9631 doc: Update workflow.rst for release management
  doc/developer/workflow.rst
Labels: documentation

#10482 Zebra buffering
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
  zebra/rt_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_ns.h
Labels: zebra, bugfix

#10551 bgpd: fix a couple of memleaks
  bgpd/bgp_route.c
  bgpd/rfapi/vnc_export_bgp.c
Labels: bgp, bugfix

#10550 bgpd: remove bgp_attr_undup
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
Labels: bgp

#10549 bgpd: fix null pointer dereferences
  bgpd/bgp_attr_evpn.c
  bgpd/rfapi/rfapi_vty.c
Labels: bgp, bugfix

#10545 bgpd: Use get/set helpers for attr->lcommunity
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_debug.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_mpath.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_zebra.c
Labels: bgp

#10537 zebra: use frr mem apis in dplane
  zebra/zebra_dplane.c
Labels: zebra

#8890 OSPF6: Support OSPF6 authentication trailer RFC 7166
  configure.ac
  doc/user/ospf6d.rst
  lib/keychain.c
  lib/keychain.h
  ospf6d/ospf6_auth_trailer.c
  ospf6d/ospf6_auth_trailer.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_main.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_message.h
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_network.c
  ospf6d/ospf6_proto.c
  ospf6d/ospf6_proto.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_top.h
  ospf6d/ospf6d.c
  ospf6d/subdir.am
  tests/topotests/lib/ospf.py
  tests/topotests/ospfv3_basic_functionality/ospfv3_authentication.json
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_authentication.py
  vtysh/extract.pl.in
  vtysh/vtysh.h
Labels: tests, ospfv3, vtysh, libfrr

#10533 zebra: add netlink debugs for ip rules
  zebra/debug_nl.c
  zebra/rt_netlink.h
Labels: zebra

#10573 doc: An example how we do RC tagging for stabilization branch
  doc/developer/workflow.rst
Labels: documentation

#10562 lib: Save number of times a thread is starved
  lib/thread.c
  lib/thread.h
Labels: libfrr

#10555 doc: add "cost" to ospfd "range" command
  doc/user/ospfd.rst
Labels: documentation, ospf

#10546 bgpd: Check for NULL inside aspath_unintern()
  bgpd/bgp_aspath.c
  bgpd/bgp_attr.c
  tests/bgpd/test_aspath.c
Labels: bgp

#10571 ospf6d: fix coverity issues.
  lib/keychain.c
  lib/keychain.h
  ospf6d/ospf6_auth_trailer.c
  ospf6d/ospf6_auth_trailer.h
  ospf6d/ospf6_message.c
Labels: ospfv3, bugfix

#10356 pim6d: conversion work batch
  pimd/pim_assert.c
  pimd/pim_assert.h
  pimd/pim_bfd.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_hello.c
  pimd/pim_hello.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_ifchannel.c
  pimd/pim_ifchannel.h
  pimd/pim_join.c
  pimd/pim_jp_agg.c
  pimd/pim_macro.c
  pimd/pim_msg.c
  pimd/pim_msg.h
  pimd/pim_neighbor.c
  pimd/pim_neighbor.h
  pimd/pim_nht.c
  pimd/pim_pim.c
  pimd/pim_pim.h
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_rpf.c
  pimd/pim_ssm.c
  pimd/pim_ssm.h
  pimd/pim_tlv.c
  pimd/pim_tlv.h
  pimd/pim_upstream.c
  pimd/pim_util.c
  pimd/pim_util.h
  pimd/pim_vty.c
  pimd/pim_vxlan.c
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pimd.c
  pimd/pimd.h
Labels: pim, pimv6

#10586 bgpd: uninitialized compiler warning
  bgpd/bgp_mplsvpn.c
Labels: bgp

#10561 zebra: make netlink object hash threadsafe
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rt.h
  zebra/zebra_router.c
Labels: zebra

#10598 pimd: Fix Compilation issue in PIM
  pimd/pim_cmd.c
Labels: pim

#10558 doc: mixing `ip ospf` and `network` commands is not supported
  doc/user/ospfd.rst
Labels: documentation

#10547 zebra: Keep the interface flags safe on multiple ioctl calls
  zebra/ioctl.c
Labels: zebra

#8968 tests: Cleanup test_route_map_topo1.py from pylint
  tests/topotests/bgp_route_map/test_route_map_topo1.py
Labels: tests

#10582 pimd: remove redundant code
  pimd/pim_iface.c
Labels: pim

#10539 bgpd: evpn route-map match ead type-1 route-type
  bgpd/bgp_routemap.c
  doc/user/routemap.rst
  yang/frr-bgp-route-map.yang
Labels: documentation, bgp

#10618 topotests: fix the usage of screen
  tests/topotests/lib/micronet.py
  tests/topotests/lib/micronet_cli.py
  tests/topotests/lib/topotest.py
Labels: bugfix

#10615 pimd: Do not allow 224.0.0.0/24 range in igmp join
  pimd/pim_nb_config.c
Labels: pim, bugfix

#10633 isisd: Drop deprecated `segment-routing local-block` command
  doc/user/isisd.rst
  isisd/isis_cli.c
Labels: isis

#10585 bgpd: Allow setting attributes over route-maps for conditional advert…
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_conditional_advertisement/r2/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/test_bgp_conditional_advertisement.py
Labels: bgp

#10621 Cov fun
  bfdd/bfd.c
  eigrpd/eigrp_metric.c
  lib/if.c
  pceplib/test/pcep_msg_messages_test.c
Labels: eigrp, bfd, libfrr

#10385 zebra: Nexthop tracking, route resolution recursive lookup
  tests/topotests/lib/common_config.py
  tests/topotests/zebra_nht_resolution/r1/sharpd.conf
  tests/topotests/zebra_nht_resolution/r1/zebra.conf
  tests/topotests/zebra_nht_resolution/test_verify_nh_resolution.py
  zebra/zebra_rnh.c
Labels: tests, zebra

#10645 bgpd: [8.2] Conditional advertisement with route-map set backports
  bgpd/bgp_advertise.c
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_dump.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_updgrp_packet.c
  lib/stream.c
  lib/stream.h
  tests/topotests/bgp_conditional_advertisement/r2/bgpd.conf
  tests/topotests/bgp_conditional_advertisement/test_bgp_conditional_advertisement.py
Labels: bgp

#10628 pimd: cosmetic change
  pimd/pim_ifchannel.c
  pimd/pim_nht.c
Labels: pim

#10650 ospfd: NULL passed instead of ei pointer in external lsa origination
  ospfd/ospf_lsa.c
Labels: ospf

#10655 lib: Add a Dev catch for when a timer is set for > 1 year
  lib/lib_errors.c
  lib/lib_errors.h
  lib/thread.c
Labels: libfrr

#10658 bgpd: Change the format of announcement for SRv6 L3VPN
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
Labels: bgp

#10400 pim6d: get running with ipv6 types throughout
  configure.ac
  pimd/pim6_main.c
  pimd/pim6_stubs.c
  pimd/pim_addr.c
  pimd/pim_addr.h
  pimd/pim_bfd.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_ifchannel.c
  pimd/pim_igmp.h
  pimd/pim_igmp_join.h
  pimd/pim_igmp_stats.h
  pimd/pim_igmpv3.h
  pimd/pim_jp_agg.c
  pimd/pim_mlag.h
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_msg.c
  pimd/pim_nb_config.c
  pimd/pim_nht.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_rpf.h
  pimd/pim_ssm.c
  pimd/pim_static.c
  pimd/pim_static.h
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vty.c
  pimd/pim_zebra.c
  pimd/pim_zlookup.c
  pimd/pim_zlookup.h
  pimd/subdir.am
Labels: pim, pimv6

#10665 pimd: fix unused variable
  pimd/pim_iface.c
Labels: pim, bugfix

#10376 pim6d: Adding PIMV6 as VTYSH client
  pimd/pim6_main.c
  pimd/subdir.am
  vtysh/extract.pl.in
  vtysh/vtysh.c
  vtysh/vtysh.h
Labels: pim, pimv6

#10387 pim6d: Adding PIMv6 Config CLIs for top level
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim6_main.c
  pimd/pim6_stubs.c
  pimd/pim_addr.h
  pimd/pim_bfd.c
  pimd/pim_bsm.c
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_static.c
  pimd/pim_vty.c
  pimd/pim_vty.h
  pimd/pimd.c
  pimd/subdir.am
Labels: pim, pimv6

#10664 lib: make checksum code take iovec for input
  lib/checksum.c
  lib/checksum.h
  tests/lib/subdir.am
  tests/lib/test_checksum.c
Labels: tests, libfrr

#10639 pim6d: Handling pim_upstream for IPV6
  pimd/pim_ifchannel.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
Labels: pim, pimv6

#9674 staticd: Don't register existing nexthop to zebra
  staticd/static_zebra.c
Labels: staticd

#10353 lib & vtysh: RFC5424 syslog + vtysh live log display
  configure.ac
  doc/user/vtysh.rst
  lib/subdir.am
  lib/vty.c
  lib/vty.h
  lib/zlog.c
  lib/zlog.h
  lib/zlog_live.c
  lib/zlog_live.h
  python/clidef.py
  vtysh/subdir.am
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_main.c
Labels: documentation, tests, vtysh, libfrr, clippy

#10566 isisd: use base64 to encode the binary data.
  isisd/isis_nb_notifications.c
  lib/base64.c
  lib/base64.h
  lib/subdir.am
  lib/yang_wrappers.c
  lib/yang_wrappers.h
Labels: isis, bugfix

#10636 bgpd: Reuse get/set helpers for attr->community
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_community.c
  bgpd/bgp_debug.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_fsm.c
  bgpd/bgp_mpath.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_zebra.c
  bgpd/rfapi/rfapi_vty.c
Labels: bgp

#10627 doc: Enforce using IPv4/IPv6 reserved ranges for documentation
  doc/developer/topotests.rst
Labels: documentation

#10667 Bufsize
  doc/user/zebra.rst
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/main.c
  zebra/zebra_router.h
Labels: documentation, zebra, bugfix

#10424 nexthop tracking changes for pimv6
  pimd/pim_nht.c
  pimd/pim_zlookup.c
Labels: pim, pimv6

#10682 doc: fix typo in zebra doc
  doc/user/zebra.rst
Labels: documentation, bugfix

#10683 zebra: Use the routes vrf not the nexthop vrf for route-map application
  zebra/zebra_nhg.c
Labels: zebra

#10672 Bsd zebra graceful restart cleanup
  doc/user/zebra.rst
  zebra/kernel_socket.c
  zebra/zebra_rib.c
Labels: documentation, zebra
