Repository FRRouting/frr, pull requests merged in 2023-11, with the labels that each got.

#14707 pimd: Ensure upstream points at the correct rpf
  pimd/pim_upstream.c
Labels: pim, backport, master, size/S

#14713 tools: fix frr-reload route-map desc cmd
  tools/frr-reload.py
Labels: tools, bugfix, backport, master, size/S

#14720 tools: Apply black formatting for tools/frr-reload.py
  tools/frr-reload.py
Labels: tools, master, size/M

#14716 bgpd: A couple more bgpd crash fixes for malformed packets
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp, master, size/M

#14717 A couple coverity issues
  bgpd/bgp_labelpool.c
  zebra/redistribute.c
Labels: bgp, zebra, master, size/S

#14723 lib: convert `if_zapi_callbacks` into actual hooks
  babeld/babel_main.c
  bfdd/ptm_adapter.c
  bgpd/bgp_zebra.c
  eigrpd/eigrp_interface.c
  isisd/isis_circuit.c
  ldpd/ldp_zebra.c
  lib/if.c
  lib/if.h
  nhrpd/nhrp_main.c
  ospf6d/ospf6_interface.c
  ospfd/ospf_interface.c
  pbrd/pbr_main.c
  pimd/pim_iface.c
  ripd/rip_interface.c
  ripngd/ripng_interface.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  vrrpd/vrrp_zebra.c
  zebra/interface.c
Labels: libfrr, master, size/L

#14728 pathd: rework debug pathd pcep command
  pathd/path_pcep.h
  pathd/path_pcep_cli.c
Labels: master, size/M

#14724 Workqueue cleanup
  lib/buffer.h
  lib/if.h
  lib/workqueue.c
  lib/workqueue.h
  tests/lib/test_heavy_wq.c
  zebra/zebra_script.c
Labels: zebra, libfrr, master, size/L, rebase

#14726 isisd: Fix crash when enabling OpenFabric on an interface
  isisd/isis_srv6.c
  isisd/isis_srv6.h
Labels: isis, bugfix, backport, master, size/S

#14734 doc: Add missing match community exact-match/any
  doc/user/routemap.rst
Labels: documentation, master, size/XS

#14730 doc: Add a quick example on how to use release_notes.py
  doc/developer/frr-release-procedure.rst
Labels: documentation, master, size/XS

#14742 Revert "bgpd: combine import_check_table and nexthop_check_table"
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
  bgpd/bgpd.h
Labels: master, size/M

#14729 V6 rr semantics zrouter
  zebra/main.c
  zebra/rib.h
  zebra/rt_netlink.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: zebra, master, size/M

#14698 zebra: Remove static ARP entries on interface down events
  zebra/redistribute.c
  zebra/zebra_neigh.c
  zebra/zebra_neigh.h
Labels: zebra, backport, master, size/S

#14746 tests: add ability to show all types of valgrind memleaks
  doc/developer/topotests.rst
  tests/topotests/conftest.py
  tests/topotests/lib/topotest.py
Labels: tests, master, size/S

#14741 Zebra h cleanup
  bfdd/bfd_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  configure.ac
  lib/event.c
  lib/frrdistance.h
  lib/ntop.c
  lib/sockopt.c
  lib/subdir.am
  lib/zebra.h
  lib/zlog.c
  nhrpd/netlink_arp.c
  nhrpd/nhrp_multicast.c
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
  pimd/pim_upstream.c
  ripd/rip_peer.c
  ripd/rip_zebra.c
  ripd/ripd.c
  ripngd/ripng_peer.c
  staticd/static_vty.c
  zebra/dplane_fpm_nl.c
  zebra/if_netlink.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/main.c
  zebra/netconf_netlink.c
  zebra/redistribute.c
  zebra/rule_netlink.c
  zebra/tc_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_fpm.c
  zebra/zebra_fpm_dt.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_mpls_netlink.c
  zebra/zebra_netns_id.c
  zebra/zebra_ns.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: master, size/L

#14743 mgmtd: fix local validation
  mgmtd/mgmt_txn.c
Labels: bugfix, backport, mgmt, master, size/XS

#14544 mgmt: delete candidate scratch buffer
  lib/northbound.c
  lib/northbound.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/L, rebase

#14525 chopps/mgmtd simplify xpaths
  .clang-format
  lib/frrstr.c
  lib/frrstr.h
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/yang.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_vty.c
  tools/checkpatch.pl
  tools/checkpatch.sh
Labels: libfrr, tools, mgmt, master, size/XL, rebase

#14756 tests: Check received prefixes before immediately sending dynamic capabilities
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_addpath.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_graceful_restart.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_orf.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_role.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_software_version.py
Labels: tests, backport, master, size/M

#14751 bgpd: Software capability nits
  bgpd/bgp_open.c
Labels: bgp, backport, master, size/XS

#14758 mgmtd: get rid of unused init value to fix coverity warning
  mgmtd/mgmt_be_adapter.h
Labels: bugfix, mgmt, master, size/XS

#14763 A couple manual backports for dev/9.1
  bgpd/bgp_open.c
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_graceful_restart.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_role.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_software_version.py
Labels: tests, bgp, size/M, dev/9.1

#14766 bgpd: Add missing guard for `zlog_debug`
  bgpd/bgp_zebra.c
Labels: bgp, master, size/XS

#14773 lib: free the log file resources created at startup and config
  lib/log_vty.c
Labels: libfrr, master, size/S

#14774 bgpd: fix build error
  bgpd/bgp_snmp_bgp4v2.c
Labels: bgp, bugfix, master, size/XS

#14767 lib: fix possible freeing of libyang data
  lib/northbound.c
Labels: libfrr, bugfix, master, size/XS

#14771 lib: mgmtd: fix debug cli commands and memleaks
  lib/command.h
  lib/mgmt_be_client.c
  lib/mgmt_fe_client.c
  mgmtd/mgmt_vty.c
  tools/valgrind.supp
  vtysh/vtysh_config.c
Labels: libfrr, tools, bugfix, master, size/S

#14772 lib: darr needs to use memory.h for both alloc and free
  lib/darr.c
  lib/darr.h
Labels: libfrr, master, size/XS

#14770 redhat, debian: Update release notes for 9.1 release
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, size/M, stable/9.1

#14768 lib, mgmtd: respect base xpath in mgmtd
  lib/mgmt_be_client.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_vty.c
Labels: libfrr, mgmt, master, size/L

#14782 bgpd: Used %pBD instead of %pRN
  bgpd/bgp_label.c
  bgpd/bgp_mpath.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
Labels: bgp, master, size/M

#14780 bgpd: fix coverity issue in bgp_snmp_bgp4v2.c
  bgpd/bgp_snmp_bgp4v2.c
Labels: bgp, bugfix, master, size/XS

#11800 bgpd: BMP Loc-Rib Monitoring (RFC9069) Implementation
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_trace.h
  doc/developer/bmp.rst
  doc/developer/subdir.am
  doc/user/bmp.rst
  tests/topotests/bgp_bmp/test_bgp_bmp.py
  tests/topotests/lib/bmp_collector/bmp.py
Labels: documentation, tests, bgp, packaging, bugfix, master, size/XL, rebase

#14135 isisd:change ngh lvl when int circuit type setted
  isisd/isis_pdu.c
  tests/topotests/isis_lsp_bits_topo1/rt6/step1/show_yang_interface_isis_adjacencies.ref
Labels: isis, master, size/L, rebase

#14787 ospf6d: Let the user override interface cost for a loopback
  ospf6d/ospf6_interface.c
Labels: ospfv3, bugfix, backport, master, size/S

#14725 Event io smoothing
  lib/event.c
  lib/frrevent.h
Labels: libfrr, master, size/L

#14712 zebra: supports to listen teamd nlmsg as bond type
  zebra/if_netlink.c
Labels: zebra, master, size/XS, rebase

#14796 lib: Prevent infinite loop in ospf
  lib/sockopt.c
Labels: libfrr, bugfix, backport, master, size/S

#14798 zebra: Refactor memory allocation in zebra_rnh.c
  zebra/zebra_rnh.c
Labels: zebra, backport, master, size/XS

#14803 babeld: Free IPv4 Memory in interface_reset
  babeld/babel_interface.c
Labels: babel, master, size/XS

#14802 sharpd: Set Callback Function for Memory Cleanup
  sharpd/sharp_main.c
  sharpd/sharp_nht.c
  sharpd/sharp_nht.h
Labels: sharp, master, size/XS, rebase

#14800 Print all errors when validating NB configuration
  lib/northbound.c
  lib/yang.c
Labels: libfrr, bugfix, master, size/S

#14792 pim6d: Fix memory leaks
  pimd/pim6_main.c
Labels: pimv6, master, size/S

#14807 babeld: Free IPv4 Memory in babel_interface_free
  babeld/babel_interface.c
Labels: babel, master, size/XS

#14812 doc: restore frr docs theme
  doc/developer/.readthedocs.yaml
  doc/developer/requirements.txt
  doc/user/.readthedocs.yaml
  doc/user/requirements.txt
Labels: documentation, master, size/XS

#14814 staticd: fix debug commands
  staticd/static_vty.c
Labels: staticd, bugfix, backport, master, size/S

#14806 bgpd: bmp bgp asn & router_id coverity fix
  bgpd/bgp_bmp.c
Labels: bgp, master, size/XS

#14827 doc: fix docs path to requirements.txt
  doc/developer/.readthedocs.yaml
  doc/user/.readthedocs.yaml
Labels: documentation, bugfix, master, size/XS

#14657 mgmtd, lib: remove batch ids from all messages
  lib/mgmt.proto
  lib/mgmt_be_client.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
Labels: libfrr, mgmt, master, size/L

#14824 ospf6d: fix uninitialized value warning in p2xp
  ospf6d/ospf6_neighbor.c
Labels: ospfv3, bugfix, master, size/XS

#14831 lib: use LYD_VALIDATE_MULTI_ERROR only if available
  lib/northbound.c
Labels: libfrr, bugfix, yang, libyang, master, size/XS

#14825 zebra: reduce number of switch statements with dplane opcodes
  zebra/if_netlink.c
  zebra/interface.c
  zebra/rt_netlink.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra, master, size/XL

#14823 isisd: remove unused router_address fields
  isisd/isis_adjacency.h
  isisd/isis_route.c
Labels: isis, master, size/S

#14833 bgpd: Fix frrtrace arguments for bmp_eor tracing
  bgpd/bgp_bmp.c
  bgpd/bgp_trace.h
Labels: bgp, master, size/XS

#14813 vtysh: clean vtysh_file_locked when exiting config node
  vtysh/vtysh.c
Labels: vtysh, bugfix, backport, master, size/XS

#14835 zebra: Fix fpm multipath encap addition
  zebra/rt_netlink.c
Labels: zebra, master, size/S

#14710 ospfd:fix show_ip_ospf_gr_helper
  ospfd/ospf_vty.c
Labels: ospf, bugfix, backport, master, size/M, rebase

#14757 bgpd:aspath leak fix
  bgpd/bgp_aspath.c
Labels: bgp, master, size/XS, rebase

#14845 bgpd: Prevent USE case for conditional advertisements with `set` actions
  bgpd/bgp_conditional_adv.c
  tests/topotests/bgp_conditional_advertisement_static_route/r2/frr.conf
  tests/topotests/bgp_conditional_advertisement_static_route/test_bgp_conditional_advertisement_static_route.py
Labels: tests, bgp, backport, master, size/S

#14834 *: move common NHT update decoding bits into lib/
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_zebra.c
  lib/zclient.c
  lib/zclient.h
  ospf6d/ospf6_zebra.c
  ospfd/ospf_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_zebra.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
Labels: bgp, pim, staticd, pbr, ospf, ospfv3, libfrr, sharp, master, size/L

#14850 *: Let's use the native IFNAMSIZ instead of INTERFACE_NAMSIZ
  babeld/babeld.c
  bfdd/bfd.h
  bgpd/bgp_flowspec_vty.c
  bgpd/bgp_pbr.h
  bgpd/bgp_zebra.c
  ldpd/ldpd.h
  lib/if.c
  lib/if.h
  lib/ldp_sync.h
  lib/mlag.c
  lib/mlag.h
  lib/pbr.h
  lib/zclient.c
  lib/zclient.h
  ospfd/ospf_interface.c
  pbrd/pbr_nht.h
  pbrd/pbr_zebra.c
  pimd/pim_cmd_common.c
  pimd/pim_iface.c
  pimd/pim_instance.h
  pimd/pim_mlag.c
  ripd/rip_snmp.c
  staticd/static_routes.h
  zebra/kernel_socket.c
  zebra/rtadv.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_mlag.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
  zebra/zebra_ptm.c
  zebra/zebra_pw.h
Labels: master, size/L

#14852 Backport a couple of fixes to 8.5
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp, size/M, stable/8.5

#14862 zebra: fix dplane_ctx_iptable use-after-free
  zebra/zebra_dplane.c
Labels: zebra, bugfix, master, size/XS

#14858 mgmtd: fix reply when running ds is not locked
  mgmtd/mgmt_txn.c
Labels: bugfix, mgmt, master, size/XS

#14863 *: convert struct interface->connected to DLIST
  .clang-format
  babeld/babel_interface.c
  babeld/babel_interface.h
  bgpd/bgp_network.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  eigrpd/eigrp_network.c
  isisd/isis_circuit.c
  isisd/isis_sr.c
  ldpd/ldp_zebra.c
  lib/bfd.c
  lib/if.c
  lib/if.h
  nhrpd/nhrp_interface.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_interface.c
  ospfd/ospf_interface.c
  ospfd/ospf_snmp.c
  ospfd/ospfd.c
  pimd/pim_hello.c
  pimd/pim_iface.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_pim.c
  pimd/pim_tlv.c
  pimd/pim_zebra.c
  ripd/rip_interface.c
  ripd/ripd.c
  ripngd/ripng_interface.c
  ripngd/ripngd.c
  tools/checkpatch.pl
  vrrpd/vrrp.c
  vrrpd/vrrp_zebra.c
  zebra/connected.c
  zebra/interface.c
  zebra/irdp_interface.c
  zebra/irdp_main.c
  zebra/zapi_msg.c
  zebra/zebra_evpn.c
  zebra/zebra_nb_config.c
Labels: libfrr, master, size/L

#14866 doc: Add build instructions for FreeBSD 14
  doc/developer/building-frr-for-freebsd14.rst
  doc/developer/building.rst
Labels: documentation, master, size/L

#14867 *: clean up `zclient` options
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_zebra.c
  eigrpd/eigrp_zebra.c
  isisd/isis_zebra.c
  ldpd/lde.c
  lib/zclient.c
  lib/zclient.h
  ospfd/ospf_zebra.c
  pathd/path_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_zlookup.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  zebra/zapi_msg.c
Labels: eigrp, staticd, pbr, zebra, libfrr, sharp, master, size/L

#14877 docker: fix typos in docs for ubuntu20-ci and ubuntu22-ci
  doc/developer/building-docker.rst
  docker/ubuntu20-ci/README.md
  docker/ubuntu22-ci/README.md
Labels: docker, bugfix, master, size/M

#14887 bgpd: A couple more bgpd crash fixes for malformed packets (backport #14716)
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp

#14512 L3VPN exportation by using 'route-map vpn export' command instead of 'rt vpn export' command
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_vpnv4_asbr/test_bgp_vpnv4_asbr.py
  tests/topotests/bgp_vpnv4_ebgp/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_ebgp/test_bgp_vpnv4_ebgp.py
  tests/topotests/lib/bgpcheck.py
Labels: documentation, bgp, bugfix, master, size/L

#14819 bgpd: Add an ability to filter UPDATEs using neighbor with prefix-list
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  doc/user/bgp.rst
  lib/command.h
Labels: documentation, bgp, libfrr, master, size/L

#14856 lib: fix show route map JSON display
  doc/user/zebra.rst
  lib/routemap.c
  vtysh/vtysh.c
Labels: documentation, vtysh, libfrr, bugfix, backport, master, size/M, rebase

#14811 Zebra final shutdown finally
  bfdd/bfd.h
  bfdd/bfdd.c
  bfdd/ptm_adapter.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_fsm.c
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_mplsvpn_snmp.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  eigrpd/eigrp_main.c
  lib/keychain.c
  lib/keychain.h
  ospf6d/ospf6_main.c
  ospfd/ospfd.c
  ripd/rip_main.c
  zebra/main.c
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls.h
  zebra/zebra_ns.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: bgp, zebra, bfd, master, size/L

#14897 tools: fix frr-reload interface desc cmd
  tools/frr-reload.py
Labels: tools, bugfix, backport, master, size/S

#14886 ospfd: Fix OSPF link-local opaque LSA crash and opaque memory corruption
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_nsm.c
  ospfd/ospf_opaque.c
  ospfd/ospf_opaque.h
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: ospf, master, size/L

#14894 bgpd: fix bgp_best_selection heap-use-after-free
  bgpd/bgp_route.c
Labels: bgp, bugfix, backport, master, size/S

#9012 Refactor decoder for Lua hook system
  doc/developer/scripting.rst
  lib/frrlua.c
  lib/frrlua.h
  lib/frrscript.c
  lib/frrscript.h
  tests/lib/test_frrlua.c
  tests/lib/test_frrscript.c
Labels: documentation, libfrr, bugfix, size/L

#14762 pathd: fix space before pcep port in running-config
  doc/user/pathd.rst
  pathd/path_pcep_cli.c
Labels: bugfix, backport, master, size/S

#14838 Output configuration of mgmtd-converted daemons from mgmtd
  lib/command.h
  lib/northbound.c
  mgmtd/mgmt_main.c
  mgmtd/mgmt_vty.c
  staticd/static_nb.c
  staticd/static_vrf.c
  staticd/static_vty.c
  staticd/static_vty.h
Labels: staticd, libfrr, mgmt, master, size/L

#14896 Update bgp.rst
  doc/user/bgp.rst
Labels: documentation, master, size/XS

#14908 zebra: Set Free Functions for Traffic Control Hash Tables
  zebra/zebra_router.c
  zebra/zebra_tc.c
  zebra/zebra_tc.h
Labels: zebra, master, size/M

#14906 bgpd: Free Memory for confed_peers in bgp_free
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#14904 bgpd: fix bgp_best_selection heap-use-after-free
  bgpd/bgp_route.c
Labels: bgp, bugfix, size/XS, stable/9.0

#14907 bgpd: Free Memory for SRv6 Functions and Locator Chunks
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  lib/srv6.c
  lib/srv6.h
Labels: bgp, master, size/S

#14909 bgpd: aggr summary-only suppressed export to evpn
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_trace.h
  tools/frr_babeltrace.py
Labels: bgp, backport, master, size/L
