Repository FRRouting/frr, pull requests merged in 2023-02, with the labels that each got.

#12721 *: more format string fixing
  bgpd/rfapi/rfapi_vty.h
  lib/db.h
  lib/libfrr.c
  lib/zlog.h
  tests/bgpd/test_peer_attr.c
  tests/lib/test_nexthop_iter.c
Labels: tests, libfrr, bugfix, master, size/L

#12713 *: Drop deprecated incorrect JSON fields with wrong naming
  bgpd/bgp_labelpool.c
  bgpd/bgp_route.c
  ldpd/ldp_vty_exec.c
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_top.c
  ospfd/ospf_ldp_sync.c
  ospfd/ospf_vty.c
  pimd/pim_cmd_common.c
  tests/topotests/bgp_lu_topo1/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo1/R2/labelpool.summ.json
  tests/topotests/bgp_lu_topo2/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo2/R2/labelpool.summ.json
  tests/topotests/ldp_snmp/r1/show_l2vpn_vc.ref
  tests/topotests/ldp_snmp/r2/show_l2vpn_vc.ref
  tests/topotests/ldp_sync_isis_topo1/r1/show_l2vpn_vc.ref
  tests/topotests/ldp_sync_isis_topo1/r2/show_l2vpn_vc.ref
  tests/topotests/ldp_sync_ospf_topo1/r1/show_l2vpn_vc.ref
  tests/topotests/ldp_sync_ospf_topo1/r2/show_l2vpn_vc.ref
  tests/topotests/ldp_vpls_topo1/r1/show_l2vpn_vc.ref
  tests/topotests/ldp_vpls_topo1/r2/show_l2vpn_vc.ref
  tests/topotests/lib/bgp.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/pim.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_type7_lsa.py
  tests/topotests/ospf_gr_topo1/rt1/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt2/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt3/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt4/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt5/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt6/show_ip_ospf_route.json
  tests/topotests/ospf_gr_topo1/rt7/show_ip_ospf_route.json
  tests/topotests/ospf_unnumbered/r1/ospf-route.json
  tests/topotests/ospf_unnumbered/r2/ospf-route.json
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: tests, master, size/XL

#12672 vtysh: Remove shell access code
  doc/user/installation.rst
  vtysh/vtysh.c
Labels: vtysh, master, size/XS

#12729 bgpd: Set attr to NULL when passing NLRI_UPDATE with treat-as-withdraw
  bgpd/bgp_packet.c
Labels: bgp, master, size/XS

#12731 lib, bgpd: Add ability to specify that some json output should not be…
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  lib/vty.c
  lib/vty.h
Labels: bgp, libfrr, backport, master, size/M

#12732 bgpd: Don't try to recursively hold peer io mutex
  bgpd/bgp_io.c
Labels: bgp, bugfix, master, size/S

#12668 zebra: fix wrong conversion for evpn advertising
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, master, size/S

#12740 babeld: Fix filtering against all interfaces
  babeld/babel_filter.c
Labels: babel, backport, master, size/XS

#12720 bgpd: ecommunity_token_rt6 is not handled
  bgpd/bgp_ecommunity.c
Labels: bgp, master, size/XS

#12715 Commits hygiene
  .github/commitlint.config.js
  .github/workflows/commitlint.yml
  doc/developer/workflow.rst
Labels: documentation, tools, master, size/L

#12722 tools: add `GotoXref` vim script
  tools/frr.vim
Labels: tools, master, size/M

#12756 tools: Add `build` as a valid prefix for commit messages
  .github/commitlint.config.js
  .github/workflows/commitlint.yml
Labels: tools, master, size/XS

#12759 tools: Revalidate commits when PR is updated
  .github/workflows/commitlint.yml
Labels: tools, master, size/XS

#12654 zebra: fix JSON fields for show evpn vni detail
  tests/topotests/bgp_evpn_vxlan_topo1/PE1/evpn.vni.json
  tests/topotests/bgp_evpn_vxlan_topo1/PE2/evpn.vni.json
  tests/topotests/bgp_evpn_vxlan_topo1/test_bgp_evpn_vxlan.py
  zebra/zebra_evpn.c
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, master, size/M

#12761 bgpd: fix use-after-free crash for evpn
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix, backport, master, size/S

#12768 tests: do not use exclude grep
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: tests, bugfix, backport, master, size/S

#12769 tools: Fix missing pbrd in rsyslog.d 45-frr.conf file
  tools/etc/rsyslog.d/45-frr.conf
Labels: tools, backport, master, size/XS

#12738 Improvements to advertised/received/bestpath-routes commands
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: documentation, bgp, master, size/L

#12773 pbrd: fix large tableids displayed as negative
  pbrd/pbr_vty.c
Labels: pbr, bugfix, backport, master, size/XS

#12781 lib: Release memory of YANG translation module on error
  lib/yang_translator.c
Labels: libfrr, master, size/S

#12782 bgpd: Intern default-originate attributes to avoid use-after-free
  bgpd/bgp_updgrp_adv.c
  tests/topotests/bgp_default_originate_withdraw/__init__.py
  tests/topotests/bgp_default_originate_withdraw/r1/bgpd.conf
  tests/topotests/bgp_default_originate_withdraw/r1/zebra.conf
  tests/topotests/bgp_default_originate_withdraw/r2/bgpd.conf
  tests/topotests/bgp_default_originate_withdraw/r2/zebra.conf
  tests/topotests/bgp_default_originate_withdraw/r3/bgpd.conf
  tests/topotests/bgp_default_originate_withdraw/r3/zebra.conf
  tests/topotests/bgp_default_originate_withdraw/test_bgp_default_originate_withdraw.py
Labels: tests, bgp, backport, master, size/L

#12762 babeld: changes for code maintainability
  babeld/babel_interface.c
Labels: babel, master, size/S

#12757 tools: Bump versions for Redhat and Debian packages in changelogs
  debian/changelog
  redhat/frr.spec.in
Labels: tools, master, size/S

#12787 bgpd: Intern default-originate attributes to avoid use-after-free
  bgpd/bgp_updgrp_adv.c
Labels: bgp, stable/8.4

#12776 pim6d: Modify "show ipv6 mld join json" o/p
  pimd/pim6_mld.c
Labels: pimv6, master, size/XS

#12790 vrrpd: give null when using null ifp to lookup vr
  vrrpd/vrrp.c
Labels: vrrp, backport, master, size/XS

#12796 Routemap debugging
  bgpd/bgp_routemap.c
  doc/user/basic.rst
  lib/routemap.c
  lib/routemap.h
  lib/subdir.am
  ospfd/ospf_routemap.c
  zebra/redistribute.c
  zebra/zebra_routemap.c
Labels: documentation, bgp, ospf, zebra, libfrr, master, size/L

#12494 lib,zebra,isisd: add support for extended admin group RFC7308
  doc/user/affinitymap.rst
  doc/user/subdir.am
  doc/user/zebra.rst
  isisd/isis_main.c
  isisd/isis_te.c
  isisd/isis_tlvs.c
  isisd/isis_tlvs.h
  lib/admin_group.c
  lib/admin_group.h
  lib/affinitymap.c
  lib/affinitymap.h
  lib/affinitymap_cli.c
  lib/affinitymap_northbound.c
  lib/bitfield.h
  lib/command.h
  lib/if.c
  lib/if.h
  lib/link_state.c
  lib/link_state.h
  lib/sbuf.c
  lib/sbuf.h
  lib/subdir.am
  lib/yang.c
  lib/zclient.c
  tests/topotests/isis_te_topo1/reference/ted_step10.json
  tests/topotests/isis_te_topo1/reference/ted_step7.json
  tests/topotests/isis_te_topo1/reference/ted_step8.json
  tests/topotests/isis_te_topo1/reference/ted_step9.json
  tests/topotests/isis_te_topo1/test_isis_te_topo1.py
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
  yang/frr-affinity-map.yang
  yang/frr-zebra.yang
  yang/subdir.am
  zebra/interface.c
  zebra/interface.h
  zebra/main.c
  zebra/subdir.am
  zebra/zebra_affinitymap.c
  zebra/zebra_affinitymap.h
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_vty.c
Labels: documentation, tests, isis, ospf, zebra, libfrr, yang, master, size/XXL

#12802 babeld: changes for code maintainability
  babeld/babel_interface.c
  babeld/babel_interface.h
  babeld/babel_zebra.c
  babeld/babeld.c
Labels: babel, master, size/M

#12807 bgpd: Remove unnecessary all_digit() call
  bgpd/bgp_routemap.c
Labels: bgp, master, size/XS

#12794 doc: correct the pid path for daemons
  doc/user/eigrpd.rst
  doc/user/pim.rst
  doc/user/pimv6.rst
  doc/user/ripd.rst
Labels: documentation, master, size/S

#12817 some missed upstream commits
  bgpd/bgp_route.c
  zebra/if_netlink.c
Labels: bgp, zebra, backport, master, size/M

#12824 Coverity evpn
  pimd/pim_zpthread.c
  zebra/zebra_l2_bridge_if.c
Labels: pim, zebra, master, size/XS

#12745 bgpd: Convert evpn output to not pretty print json
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  lib/vty.c
  lib/vty.h
Labels: bgp, libfrr, stable/8.4

#12727 bgpd: Software Version Capability
  bgpd/bgp_fsm.c
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/command.c
  lib/command.h
  tests/bgpd/test_peer_attr.c
  tests/topotests/bgp_software_version/__init__.py
  tests/topotests/bgp_software_version/r1/bgpd.conf
  tests/topotests/bgp_software_version/r1/zebra.conf
  tests/topotests/bgp_software_version/r2/bgpd.conf
  tests/topotests/bgp_software_version/r2/zebra.conf
  tests/topotests/bgp_software_version/test_bgp_software_version.py
Labels: tests, bgp, master, size/L

#12791 bgpd: fix 'json detail' output structure
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  tests/topotests/bgp_aigp/test_bgp_aigp.py
  tests/topotests/bgp_community_alias/test_bgp-community-alias.py
  tests/topotests/bgp_path_attribute_discard/test_bgp_path_attribute_discard.py
  tests/topotests/bgp_path_attribute_treat_as_withdraw/test_bgp_path_attribute_treat_as_withdraw.py
Labels: tests, bgp, bugfix, master, size/L

#12845 ldpd: changes for code maintainability
  ldpd/address.c
Labels: ldp, master, size/S

#12843 bgpd: Use actual defines to set values
  bgpd/bgp_routemap.c
Labels: bgp, master, size/XS

#12830 doc: cosmetic changes for ripd
  doc/user/ripd.rst
  doc/user/ripngd.rst
Labels: documentation, master, size/S

#12842 bgpd: Convert flags_invert/flags_override to uint64_t
  bgpd/bgpd.h
Labels: bgp, master, size/XS

#12850 ospfd client api bugfix and refinements
  ospfclient/ospfclient.py
  ospfd/ospf_apiserver.c
  ospfd/ospf_opaque.c
  ospfd/ospf_route.c
  tests/topotests/ospfapi/r1/ospfd.conf
  tests/topotests/ospfapi/r1/zebra.conf
  tests/topotests/ospfapi/r2/ospfd.conf
  tests/topotests/ospfapi/r3/ospfd.conf
  tests/topotests/ospfapi/r4/ospfd.conf
  tests/topotests/ospfapi/r4/zebra.conf
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: tests, ospf, master, size/XL

#12849 tests: Cover all enum values for unit tests
  tests/bgpd/test_peer_attr.c
Labels: tests, master, size/S

#12366 ospfd: Support OSPF Refresh and Flooding Reduction RFC4136.
  lib/log.h
  ospfd/ospf_abr.c
  ospfd/ospf_abr.h
  ospfd/ospf_flood.c
  ospfd/ospf_flood.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_lsdb.c
  ospfd/ospf_packet.c
  ospfd/ospf_route.c
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
  tests/topotests/lib/ospf.py
  tests/topotests/ospf_basic_functionality/ospf_flood_reduction.json
  tests/topotests/ospf_basic_functionality/test_ospf_flood_reduction.py
Labels: tests, ospf, master, size/XXL

#12795 Vpnv6 nexthop encoding
  bgpd/bgp_attr.c
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, backport, master, size/M

#12854 bgpd: Drop struct attr from bgp_withdraw()
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_flowspec.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/rfapi/vnc_export_bgp.c
Labels: bgp, master, size/M

#12838 bgpd: Fix bgp no shutdown
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#12805 bgpd: BGP troubleshooting - Add a keyword self-originate to display o…
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.h
  doc/user/bgp.rst
Labels: bgp, master, size/M

#12832 bgpd: Deprecate BGP `internet` community
  bgpd/bgp_clist.c
  bgpd/bgp_community.c
  bgpd/bgp_community.h
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
  tests/topotests/bgp_communities_topo1/test_bgp_communities_topo2.py
Labels: bgp, master, size/L

#12798 Rib match multicast
  doc/user/zebra.rst
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: documentation, zebra, master, size/L

#12839 lib: skip route-map optimization if !AF_INET(6)
  lib/prefix.c
  lib/routemap.c
Labels: libfrr, master, size/L

#12863 ldpd: changes for code maintainability
  ldpd/lde.c
Labels: ldp, master, size/L

#12861 bgpd: Confederation fixes with remote-as external/internal
  bgpd/bgp_attr.c
  bgpd/bgpd.c
  tests/topotests/bgp_confederation_astype/__init__.py
  tests/topotests/bgp_confederation_astype/r1/bgpd.conf
  tests/topotests/bgp_confederation_astype/r1/zebra.conf
  tests/topotests/bgp_confederation_astype/r2/bgpd.conf
  tests/topotests/bgp_confederation_astype/r2/zebra.conf
  tests/topotests/bgp_confederation_astype/r3/bgpd.conf
  tests/topotests/bgp_confederation_astype/r3/zebra.conf
  tests/topotests/bgp_confederation_astype/test_bgp_confederation_astype.py
Labels: tests, bgp, master, size/L

#12864 bgpd: Fixup rpki and asn parsing
  bgpd/bgp_rpki.c
Labels: bgp, master, size/S

#12868 lib: add missing debug guards for route-map
  lib/routemap.c
Labels: libfrr, master, size/S

#12865 bgpd: free rfapi callback object always
  bgpd/rfapi/rfapi_import.c
Labels: bgp, backport, master, size/S

#12869 bgpd: Give better debug message when configuration is being read in
  bgpd/bgp_network.c
Labels: bgp, backport, master, size/S

#12879 pimd: don't try to check RPF for incoming SSM data
  pimd/pim_mroute.c
Labels: pim, master, size/M

#12878 pimd: bughunting improvements
  pimd/pim_mroute.c
Labels: pim, backport, master, size/M

#12876 bgpd: Align `show bgp ...` output with the header for wide option
  bgpd/bgp_route.h
Labels: bgp, backport, master, size/XS

#12887 ospfd: Remove unused function
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
Labels: ospf, master, size/XS

#12884 bgpd: Flowspec overflow issue
  bgpd/bgp_flowspec.c
Labels: bgp, backport, master, size/XS

#12885 lib, bgpd: bmp was not specifying l2vpn afi
  bgpd/bgp_bmp.c
  lib/prefix.c
  lib/prefix.h
Labels: bgp, libfrr, bugfix, backport, master, size/S

#12751 ospfd: Added missing fields and option to query specific neighbor in VRF
  doc/user/ospfd.rst
  lib/vty.c
  lib/vty.h
  ospfd/ospf_vty.c
Labels: ospf, libfrr, master, size/L

#12889 lib: fix init. use of nb_context to be by value not by reference
  lib/libfrr.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_db.c
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  lib/vty.c
Labels: libfrr, bugfix, master, size/M

#12881 bgpd: Another rpki fix
  bgpd/bgp_rpki.c
Labels: bgp, master, size/XS

#12841 tests: Change bgp_gr_retained_routes to use json output of "ip route"
  tests/topotests/bgp_gr_restart_retain_routes/test_bgp_gr_restart_retain_routes.py
Labels: tests, master, size/S

#12888 bgpd: Flags fixes
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/bgpd/test_peer_attr.c
  tests/bgpd/test_peer_attr.py
Labels: tests, bgp, backport, master, size/M

#12900 bgpd: Avoid double aspath_dup() for confederation when remote-as != AS_SPECIFIED
  bgpd/bgp_attr.c
Labels: bgp, backport, master, size/XS

#12866 lib: some ASNUMs should be forbidden
  lib/asn.c
Labels: libfrr, master, size/S

#12908 bgpd: Free temporary memory after using argv_concat()
  bgpd/bgp_vty.c
Labels: bgp, master, size/S

#12907 bgpd: Prevent asn dot memory leak
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#12906 pimd, pim6d: Upstream IIF pointing towards PIM and IGMP disabled source conn…
  pimd/pim_nb_config.c
Labels: pim, backport, pimv6, master, size/XS

#12899 pim6d: Fix display issue in "show ipv6 mld interface" command
  pimd/pim6_mld.c
Labels: pimv6, size/M

#12913 bgpd: Intern attributes before putting into rib-out
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/XS

#12911 tests: Use inequality operator for strings
  tests/topotests/lib/ospf.py
Labels: tests, master, size/XS

#12912 bgpd: Free aggregate route memory on shutdown
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#12819 isisd: Delay lsp generation to after config processing is complete
  isisd/isis_lsp.c
  isisd/isis_main.c
  isisd/isisd.c
  isisd/isisd.h
Labels: isis, master, size/M
