Repository FRRouting/frr, pull requests merged in 2023-07, with the labels that each got.

#13883 bgpd: Fix comment for ecommunity_ecom2str()
  bgpd/bgp_ecommunity.c
Labels: bgp, master, size/M

#13882 bgpd: Drop dead code when parsing extcommunity (color)
  bgpd/bgp_ecommunity.c
Labels: bgp, master, size/L

#13878 zebra: Dump route details when deleting a route
  zebra/zebra_rib.c
Labels: zebra, master, size/XS

#13847 Stop and free synchronous Zebra client on destroy
  ldpd/lde.c
  ldpd/ldp_zebra.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  pathd/path_zebra.c
Labels: ospf, ldp, master, size/S

#13895 ospfd: check for NULLs in ldp-igp sync json code
  ospfd/ospf_ldp_sync.c
  ospfd/ospf_vty.c
Labels: ospf, backport, master, size/XS

#13897 ospf6d: Stop crash in ospf6_write
  ospf6d/ospf6_message.c
Labels: ospfv3, backport, master, size/S

#13900 ospf6d: Fix crash because neighbor structure was freed
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
Labels: ospfv3, backport, master, size/XS

#13916 topotests: bgp_vpnv4_asbr, wait that mpls entry is installed
  tests/topotests/bgp_vpnv4_asbr/test_bgp_vpnv4_asbr.py
Labels: master, size/M

#13913 ospf6d: Crash backports
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
Labels: ospfv3, size/M, stable/8.5

#13914 ospf6d: Crash backports
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
Labels: ospfv3, stable/8.4

#13921 ospfd: Ensure `show ip ospf interface` json code is guarded
  bgpd/bgp_evpn_vty.c
  ospfd/ospf_vty.c
Labels: bgp, ospf, backport, master, size/XS

#13894 lib: Add two places we were not counting route-map applied
  lib/routemap.c
Labels: libfrr, master, size/XS

#13892 ospf6d: unlock lsa
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_lsdb.c
Labels: ospfv3, backport, master, size/S

#13889 tools: fix pim interface config deletion
  tools/frr-reload.py
Labels: tools, bugfix, master, size/M

#13467 pim6d: "show ipv6 pim state" not displaying when OIL is empty
  pimd/pim_cmd_common.c
Labels: pim, pimv6, size/S

#13554 bgpd: free bgp vpn policy
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgpd.c
Labels: bgp, ospfv3, master, size/S

#13333 *: Rearrange vrf_bitmap_X api to reduce memory footprint
  babeld/babeld.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/rfapi/vnc_zebra.c
  eigrpd/eigrp_northbound.c
  eigrpd/eigrp_zebra.c
  isisd/isisd.c
  lib/vrf.c
  lib/vrf.h
  lib/zclient.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_zebra.c
  ospf6d/ospf6_zebra.h
  ospfd/ospf_flood.c
  ospfd/ospf_zebra.c
  ospfd/ospfd.c
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zserv.c
Labels: master, size/L

#13875 zebra: Static routes async notification do not need this test
  zebra/zebra_rib.c
Labels: zebra, master, size/S

#13927 bgpd: Free nexthop in bgp_mplsvpn_nh_label_bind_free
  bgpd/bgp_mplsvpn.c
Labels: bgp, ospfv3, tools, bugfix, backport, master, size/XS

#13837 pim6d: MLD conformance querier-non-querier transition fix
  pimd/pim6_mld.c
Labels: pimv6, master, size/S

#13808 zebra: fix wrong nexthop check for kernel routes
  tests/topotests/zebra_rib/r1/v4_route_1_vrf_before.json
  tests/topotests/zebra_rib/test_zebra_rib.py
  zebra/zebra_nhg.c
Labels: tests, zebra, bugfix, backport, master, size/M, rebase

#13396 move interface ( LINK and ADDR ) events to the dplane
  zebra/dplane_fpm_nl.c
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/interface.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rt.h
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/rule_netlink.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_l2.c
  zebra/zebra_l2.h
  zebra/zebra_mpls.c
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_nhg.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_script.c
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: zebra, bugfix, master, size/XXL

#13915 topotests: label per nexthop ipv6 test adds add a while loop for mpls…
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
Labels: master, size/M

#13925 bgpd: Fix memory leak
  bgpd/bgp_evpn_vty.c
Labels: bgp, ospfv3, tools, bugfix, master, size/XS

#13946 doc sqlite3 depend
  configure.ac
  doc/developer/building-frr-for-ubuntu2204.rst
  docker/ubuntu-ci/Dockerfile
Labels: documentation, master, size/S

#13757 zebra: Fix crash when `dplane_fpm_nl` fails to process received routes
  zebra/dplane_fpm_nl.c
  zebra/zebra_dplane.c
Labels: documentation, tests, eigrp, bgp, pim, packaging, isis, staticd, ospf, ospfv3, zebra, vtysh, ripng, rip, bfd, libfrr, tools, bugfix, ldp, backport, master, size/S, rebase

#13949 bgpd: rfc8810 deprecations
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#13962 tests: Ignore test_darr for git
  tests/.gitignore
Labels: tests, master, size/XS

#13715 pimd, pim6d: Added pimEnabled field in "show ip pim nexthop json" cli
  pimd/pim_cmd_common.c
Labels: pim, pimv6, master, size/S, rebase

#13972 bgpd: Fix table manager to use the synchronous client
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
Labels: bgp, master, size/XS

#13976 zebra: adjust one debug info
  zebra/redistribute.c
Labels: zebra, master, size/S

#13975 isisd: replace gmtime with gmtime_r
  isisd/isis_misc.c
Labels: isis, master, size/S

#13971 tests: fix BGP delayopen timer expiration test
  tests/topotests/bgp_features/test_bgp_features.py
Labels: tests, bugfix, master, size/XS

#13970 bgpd: Get 1 or 2 octets for Sub-TLV length (Tunnel Encap attr)
  bgpd/bgp_attr.c
Labels: bgp, master, size/XS

#13969 bgpd: rfapi memleak: clean CE tables at exit
  bgpd/rfapi/rfapi_import.c
Labels: bgp, size/M, stable/8.5

#13964 zebra: fix mpls config on ifaces created post frr
  zebra/interface.c
Labels: zebra, bugfix, backport, master, size/XS

#13955 bgpd: Deprecate Prestandard Outbound Route Filtering capability
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#13948 bgpd: Some rfc7606 adjustments
  bgpd/bgp_attr.c
  tests/topotests/bgp_path_attribute_discard/test_bgp_path_attribute_discard.py
Labels: bgp, master, size/S

#13947 bgpd: Show neighbors software version if description is not set
  bgpd/bgp_vty.c
  lib/asn.h
Labels: bgp, master, size/S

#13936 ospfd: fix lsa leak
  ospfd/ospf_lsa.c
Labels: bugfix, master, size/XS

#13958 Coverity fixes
  zebra/interface.c
Labels: zebra, master, size/S

#13957 lib: make cmd_element->attr a bitmask & clarify
  lib/command.c
  lib/command.h
  lib/command_graph.c
  lib/command_graph.h
  lib/command_match.c
  lib/command_py.c
  lib/grammar_sandbox.c
  python/clippy/__init__.py
  python/xrelfo.py
  tools/permutations.c
Labels: libfrr, stable/8.4

#13691 ospfd: Configurable interface-level 'capability opaque' support
  doc/user/ospfd.rst
  lib/libospf.h
  ospfd/ospf_flood.c
  ospfd/ospf_gr.c
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_opaque.c
  ospfd/ospf_packet.c
  ospfd/ospf_vty.c
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: ospf, master, size/XL, rebase

#13876 Allow NHRP routes to validate incoming nexthops
  nhrpd/nhrp_route.c
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  tests/topotests/nhrp_topo/r1/sharp_route4.json
  tests/topotests/nhrp_topo/test_nhrp_topo.py
  zebra/rib.h
  zebra/zebra_nhg.c
Labels: tests, zebra, nhrp, sharp, master, size/L

#13968 doc: fix the error path.
  doc/developer/building-docker.rst
Labels: documentation, bugfix, master, size/XS

#13983 bgpd: Fix memory leak by moving allocation of json object
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#13977 mgmtd: adjust one unnecessary bool convert
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
Labels: master, size/XS

#13937 ospf6d: Convert ospf6_lsa_unlock to a better api
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_lsdb.h
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  tests/ospf6d/test_lsdb.c
Labels: ospfv3, master, size/M

#13717 pimd: Fix wrong protocol for SSM
  pimd/pim_ifchannel.c
Labels: pim, master, size/XS

#14002 bgpd: Memory leaks in communities (backport)
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_adv.c
Labels: bgp, size/S, stable/8.5

#14001 bgpd: Free temporary memory after using argv_concat()
  bgpd/bgp_vty.c
Labels: bgp, size/XS, stable/8.5

#14005 bgpd: rfapi memleak fixes
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
Labels: bgp, size/M, stable/8.5

#13993 lib: fix on-match when added to existing route-map entry
  lib/routemap_northbound.c
  tests/topotests/bgp_route_map_on_match_next/__init__.py
  tests/topotests/bgp_route_map_on_match_next/r1/bgpd.conf
  tests/topotests/bgp_route_map_on_match_next/r1/zebra.conf
  tests/topotests/bgp_route_map_on_match_next/r2/bgpd.conf
  tests/topotests/bgp_route_map_on_match_next/r2/zebra.conf
  tests/topotests/bgp_route_map_on_match_next/test_bgp_route_map_on_match_next.py
Labels: libfrr, bugfix, backport, master, size/L

#13575 zebra: Fix wrong vrf change procedure
  bgpd/bgp_nht.c
  zebra/interface.c
Labels: bgp, zebra, master, size/S

#14008 tests: fix/improve the printing of backtrace from cores
  tests/topotests/lib/topotest.py
Labels: tests, vtysh, libfrr, bugfix, master, size/L

#14020 check for bt and cores per test
  tests/topotests/conftest.py
  tests/topotests/pytest.ini
Labels: tests, master, size/M

#14019 fix double lock bug and cmd resume early bugs
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_fe_adapter.c
  tests/topotests/mgmt_config/r1/frr.conf
  tests/topotests/mgmt_config/test_regression.py
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: tests, vtysh, libfrr, bugfix, master, size/L

#14011 doc: Add RFC 5396 to the supported BGP RFC list
  doc/user/overview.rst
Labels: documentation, master, size/XS

#14027 tests: test_babel_topo1: tolerate slow results
  tests/topotests/babel_topo1/test_babel_topo1.py
Labels: tests, master, size/S

#14017 bgpd: Prevent use after free
  bgpd/bgpd.c
Labels: bgp, backport, master, size/L

#14009 test_grpc.cpp Fix Compilation Error and RuntimePath for finding grpc.so
  tests/lib/test_grpc.cpp
Labels: tests, master, size/S

#14033 Zebra same route
  tools/etc/frr/support_bundle_commands.conf
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra, tools, backport, master, size/S

#13140 ospfd: Show advertise router in 'show ip ospf route' command
  doc/user/ospfd.rst
  ospfd/ospf_route.c
  ospfd/ospf_route.h
  ospfd/ospf_vty.c
Labels: ospf, master, size/M, rebase

#12964 Add basic bgp bmp test
  tests/topotests/bgp_bmp/__init__.py
  tests/topotests/bgp_bmp/r1/bgpd.conf
  tests/topotests/bgp_bmp/r1/zebra.conf
  tests/topotests/bgp_bmp/r2/bgpd.conf
  tests/topotests/bgp_bmp/r2/zebra.conf
  tests/topotests/bgp_bmp/test_bgp_bmp.py
  tests/topotests/lib/bmp_collector/bgp/__init__.py
  tests/topotests/lib/bmp_collector/bgp/open/__init__.py
  tests/topotests/lib/bmp_collector/bgp/update/__init__.py
  tests/topotests/lib/bmp_collector/bgp/update/af.py
  tests/topotests/lib/bmp_collector/bgp/update/nlri.py
  tests/topotests/lib/bmp_collector/bgp/update/path_attributes.py
  tests/topotests/lib/bmp_collector/bgp/update/rd.py
  tests/topotests/lib/bmp_collector/bmp.py
  tests/topotests/lib/bmp_collector/bmpserver
  tests/topotests/lib/topogen.py
Labels: master, size/XXL

#13974 Bgp nht other if cases 2
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
Labels: bgp, master, size/L, rebase

#14037 bgpd: Enable software version capability for datacenter profile
  bgpd/bgp_open.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_software_version/r1/bgpd.conf
  tests/topotests/bgp_software_version/test_bgp_software_version.py
Labels: tests, bgp, master, size/M

#14015 bgpd: Refactor a bit bgp_{update,withdraw} functions
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, master, size/L

#14041 bgpd: Do not try to redistribute routes if we are shutting down
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/XS

#11831 zebra: remove unnecessary check for default vrf
  zebra/table_manager.c
  zebra/zapi_msg.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls_vty.c
  zebra/zebra_pw.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
Labels: zebra, master, size/M, rebase

#13918 bgpd: fix bgp evpn cli memory leaks.
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_vty.c
Labels: bgp, bugfix, backport, master, size/S

#10136 tools: always append "exit" in frr-reload.py
  tools/frr-reload.py
Labels: tools, size/L, rebase

#14048 static: stop vtysh from sending VRF commands to staticd
  vtysh/vtysh.h
Labels: master, size/XS, rebase

#14049 bgpd: Initialize bgp_nht_ifp_table_handle() bools
  bgpd/bgp_nht.c
Labels: bgp, master, size/XS

#13951 bgpd: add set as-path exclude acl-list command
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
  tests/topotests/bgp_set_aspath_exclude/test_bgp_set_aspath_exclude.py
Labels: documentation, tests, bgp, master, size/L

#13629 pimd: Fix wrong creating order for pimreg
  pimd/pim_instance.c
Labels: pim, master, size/XS

#14054 zebra:fix a zebra crash issue caused by mac change
  zebra/zebra_evpn_neigh.c
Labels: zebra, master, size/S

#14058 tests: Update join state in verify_upstream_iif API
  tests/topotests/lib/pim.py
Labels: tests, master, size/XS

#14055 zebra:unlock node after route_next
  zebra/zebra_vxlan.c
Labels: zebra, master, size/XS, rebase

#14026 pbrd: 1/3: add vty support for vlan filtering and send to zebra
  bgpd/bgp_zebra.c
  doc/user/pbr.rst
  lib/pbr.h
  pbrd/pbr_map.c
  pbrd/pbr_map.h
  pbrd/pbr_vty.c
  pbrd/pbr_zebra.c
  tests/topotests/pbr_topo1/test_pbr_topo1.py
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_pbr.c
Labels: documentation, tests, pbr, zebra, libfrr, bugfix, master, size/XL

#13605 pimd: Fix missing promotion for primary address
  pimd/pim_iface.c
Labels: pim, master, size/S

#14006 pim6d: Fixing core while running MLD conformance test.
  pimd/pim6_mld.c
  pimd/pim6_mld.h
Labels: bugfix, pimv6, master, size/S

#14003 bgpd: Fix coverity for EVPN
  lib/prefix.c
  lib/prefix.h
Labels: bgp, master, size/M

#14066 Switch to libyang 2.1.80
  alpine/APKBUILD.in
  debian/control
  docker/alpine/Dockerfile
  docker/alpine/libyang/APKBUILD
  docker/centos-8/Dockerfile
  docker/ubi8-minimal/Dockerfile
  redhat/frr.spec.in
  snapcraft/snapcraft.yaml.in
Labels: master, size/M

#14034 ospfd: Implement OSPF prefix-suppression as specified in RFC 6860
  doc/user/ospfd.rst
  lib/libospf.h
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_lsa.c
  ospfd/ospf_route.c
  ospfd/ospf_vty.c
  tests/topotests/ospf_prefix_suppression/r1/frr.conf
  tests/topotests/ospf_prefix_suppression/r2/frr.conf
  tests/topotests/ospf_prefix_suppression/r3/frr.conf
  tests/topotests/ospf_prefix_suppression/test_ospf_prefix_suppression.py
Labels: ospf, master, size/XXL, rebase

#14068 Switch to libyang 2.1.80
  alpine/APKBUILD.in
  debian/control
  docker/alpine/Dockerfile
  docker/alpine/libyang/APKBUILD
  docker/centos-8/Dockerfile
  docker/ubi8-minimal/Dockerfile
  redhat/frr.spec.in
  snapcraft/snapcraft.yaml.in
Labels: size/M, dev/9.0

#14065 doc: remove BFD label command references
  doc/user/bfd.rst
Labels: documentation, bfd, master, size/S

#14075 Remove unused memory allocations associated with bgp
  bgpd/bgp_advertise.c
  bgpd/bgp_advertise.h
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_zebra.c
Labels: backport, master, size/L

#14076 zebra: non pretty json format for rib and evpn operational commands
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
Labels: master, size/S

#14083 bgpd: non pretty json output for neighbor routes
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#14079 bgpd: The last_reset_cause in the peer structure is too large
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, backport, master, size/S

#14088 zebra: add several fields for debug
  lib/nexthop.c
  zebra/zebra_rib.c
Labels: zebra, master, size/S

#13945 Redistribute isis table
  doc/user/isisd.rst
  isisd/isis_cli.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isis_redist.c
  isisd/isis_redist.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/isis_topo1/r3/r3_route.json
  tests/topotests/isis_topo1/r4/r4_route.json
  tests/topotests/isis_topo1/r5/isisd.conf
  tests/topotests/isis_topo1/r5/r5_route.json
  tests/topotests/isis_topo1/r5/zebra.conf
  yang/frr-isisd.yang
  zebra/redistribute.c
Labels: isis, zebra, bugfix, master, size/XL

#14080 zebra: fix nhg out of sync between zebra and kernel
  zebra/zebra_nhg.c
Labels: zebra, bugfix, master, size/XS

#14086 tests: fix strncpy warning
  tests/lib/test_nexthop_iter.c
Labels: tests, bugfix, master, size/XS

#14072 pbrd: fix coverity issue in pbr_map_match_vlan_tag
  pbrd/pbr_vty.c
Labels: master, size/XS

#14056 ospfd: fix default-metric change if external LSAs already sent
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_vty.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf, bugfix, master, size/M

#14094 lib: skip route-map optimization if !AF_INET(6)
  lib/prefix.c
  lib/routemap.c
Labels: libfrr, size/L, stable/8.5

#14093 lib,pbrd: clean up style issues
  lib/zclient.c
  pbrd/pbr_zebra.c
Labels: pbr, libfrr, master, size/S

#13417 lib: Fix elf_py.c for coverity
  lib/elf_py.c
Labels: libfrr, master, size/XS

#14064 Cleanup from examining gcov runs
  bgpd/bgp_zebra.c
  pimd/pim_cmd_common.c
  pimd/pim_str.c
  pimd/pim_str.h
  pimd/subdir.am
  zebra/kernel_netlink.c
  zebra/kernel_netlink.h
Labels: master, size/L

#14104 bfdd: add additional parameters to json command
  bfdd/bfd_packet.c
  bfdd/bfdd_vty.c
Labels: bfd, master, size/S

#14103 tools: fix key chain reload removal
  tools/frr-reload.py
Labels: tools, bugfix, master, size/S

#14111 tests: improve stability of the IS-IS TI-LFA topotest
  isisd/isis_sr.c
  isisd/isis_sr.h
  isisd/isis_zebra.c
  tests/topotests/isis_tilfa_topo1/rt1/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt1/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/rt2/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt2/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/rt3/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt3/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/rt4/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt4/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/rt5/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt5/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/rt6/isisd.conf
  tests/topotests/isis_tilfa_topo1/rt6/step1/show_yang_interface_isis_adjacencies.ref
  tests/topotests/isis_tilfa_topo1/test_isis_tilfa_topo1.py
Labels: tests, isis, master, size/L

#14109 bgpd: skip reset when removing dup update-source
  bgpd/bgpd.c
Labels: bgp, master, size/S

#14042 bgp: add set BGP extended community for deletion command
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb_config.c
  doc/user/routemap.rst
  lib/command.h
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_extcomm_list_delete/__init__.py
  tests/topotests/bgp_extcomm_list_delete/r1/bgpd.conf
  tests/topotests/bgp_extcomm_list_delete/r1/zebra.conf
  tests/topotests/bgp_extcomm_list_delete/r2/bgpd.conf
  tests/topotests/bgp_extcomm_list_delete/r2/zebra.conf
  tests/topotests/bgp_extcomm_list_delete/test_bgp_extcomm-list_delete.py
  yang/frr-bgp-route-map.yang
Labels: tests, bgp, master, size/L
