Repository FRRouting/frr, pull requests merged in 2023-03, with the labels that each got.

#12914 pimd, pim6d: Don't start KAT timer when traffic received on PIM disabled interface
  pimd/pim_mroute.c
Labels: pim, pimv6, master, size/S

#12811 Fix for "Debugs For RFC 5549 Neighbor Creation #5884"
  zebra/rt_netlink.c
Labels: zebra, master, size/S

#12917 Bpi ultimate path debug
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#12920 ldpd: changes for code maintainability
  ldpd/adjacency.c
  ldpd/ldp_vty_exec.c
Labels: ldp, master, size/S

#12008 pimd, pim6d: Fix RPF check
  pimd/pim_cmd_common.c
  pimd/pim_hello.c
  pimd/pim_neighbor.c
  pimd/pim_neighbor.h
  pimd/pim_nht.c
  pimd/pim_pim.c
  pimd/pim_rpf.c
  pimd/pim_upstream.c
  pimd/pim_zebra.c
  zebra/zapi_msg.c
Labels: pim, zebra, bugfix, pimv6, master, size/M

#12921 pimd: Prevent crash when pimreg already exists.
  pimd/pim_iface.c
Labels: pim, backport, master, size/XS

#12903 pimd, pim6d: Don't track nexthop for RP 0.0.0.0 & 0::0
  pimd/pim_rp.c
Labels: pim, pimv6, master, size/XS

#12650 isisd: Add support for advertise-high-metrics
  doc/user/isisd.rst
  isisd/isis_circuit.c
  isisd/isis_cli.c
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
  isisd/isisd.c
  isisd/isisd.h
  tests/topotests/isis_advertise_high_metrics/__init__.py
  tests/topotests/isis_advertise_high_metrics/r1/isisd.conf
  tests/topotests/isis_advertise_high_metrics/r1/zebra.conf
  tests/topotests/isis_advertise_high_metrics/r2/isisd.conf
  tests/topotests/isis_advertise_high_metrics/r2/zebra.conf
  tests/topotests/isis_advertise_high_metrics/r3/isisd.conf
  tests/topotests/isis_advertise_high_metrics/r3/zebra.conf
  tests/topotests/isis_advertise_high_metrics/r4/isisd.conf
  tests/topotests/isis_advertise_high_metrics/r4/zebra.conf
  tests/topotests/isis_advertise_high_metrics/test_isis_advertise_high_metrics.py
  yang/frr-isisd.yang
Labels: documentation, tests, isis, master, size/XL

#12943 tools: Commit linter minor adjustments
  .github/commitlint.config.js
  .github/workflows/commitlint.yml
Labels: tools, master, size/XS

#12945 tools: Do not force Sentence-case for commit messages
  .github/commitlint.config.js
  doc/developer/workflow.rst
Labels: tools, master, size/XS

#12942 tests: fix --pause functionality
  tests/topotests/conftest.py
Labels: tests, bugfix, master, size/XS

#12935 ospf6d: fix processing of inter-area-prefix-LSAs with the LA-bit set
  ospf6d/ospf6_abr.c
Labels: ospfv3, bugfix, master, size/XS

#12950 babeld: fix #11808 to avoid infinite loops
  babeld/message.c
Labels: babel, bugfix, backport, master, size/XS

#12951 bgpd: Fix use beyond end of stream of labeled unicast parsing
  bgpd/bgp_label.c
Labels: bgp, backport, master, size/S

#12958 tools: Do not run commit linter for other branches than master
  .github/workflows/commitlint.yml
Labels: tools, master, size/XS

#12957 bgpd: Do not send notification twice when parsing NLRI labels
  bgpd/bgp_label.c
Labels: bgp, master, size/XS

#12934 bgpd/rfapi: memleak: clean CE tables at exit
  bgpd/rfapi/rfapi_import.c
Labels: bgp, master, size/M

#12960 doc: Correct some words
  doc/developer/cli.rst
  doc/developer/workflow.rst
  doc/user/bgp.rst
Labels: documentation, master, size/M

#12946 bgpd: Intern attributes before putting into rib-out
  bgpd/bgp_route.c
Labels: bgp, master, size/S

#12890 bgp attribute cleaning misc
  bgpd/bgp_attr.c
  bgpd/bgp_evpn.c
  bgpd/rfapi/vnc_import_bgp.c
Labels: bgp, master, size/L

#12963 bgpd: Simplify the code for show command
  bgpd/bgp_vty.c
Labels: bgp, master, size/M

#12967 zebra: add json support when "show zebra mpls" returns nothing
  zebra/zebra_mpls.c
Labels: zebra, master, size/S

#12962 bgpd: Check if the peer is configured as interface when checking NHT
  bgpd/bgp_nht.c
  tests/topotests/bgp_ipv6_ll_peering/__init__.py
  tests/topotests/bgp_ipv6_ll_peering/r1/bgpd.conf
  tests/topotests/bgp_ipv6_ll_peering/r1/zebra.conf
  tests/topotests/bgp_ipv6_ll_peering/r2/bgpd.conf
  tests/topotests/bgp_ipv6_ll_peering/r2/zebra.conf
  tests/topotests/bgp_ipv6_ll_peering/test_bgp_ipv6_ll_peering.py
Labels: tests, bgp, backport, master, size/L

#12923 bgpd: Add missing items to debug for update group hash key creation
  bgpd/bgp_updgrp.c
Labels: bgp, master, size/S

#12974 bgpd: Increment version number even when no data is sent
  bgpd/bgp_updgrp_adv.c
Labels: bgp, backport, master, size/S

#12978 pimd: IN_MULTICAST needs host order
  pimd/pim_util.c
Labels: pim, bugfix, backport, master, size/XS

#12922 OSPF Graceful Restart fixes
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_lsdb.h
  ospfd/ospf_packet.c
Labels: ospf, ospfv3, bugfix, master, size/M

#12965 zebra: Make GR debug logs at least vrf aware
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  lib/log.c
  lib/log.h
  zebra/zebra_gr.c
Labels: bgp, zebra, libfrr, master, size/L

#12979 isisd: IS-IS over tunnel (GRE, GENEVE)
  isisd/isis_pfpacket.c
Labels: isis, master, size/S

#12989 bgpd: Free memory allocated by ecommunity_ecom2str()
  bgpd/bgp_mplsvpn_snmp.c
Labels: bgp, master, size/S

#12990 bgpd: Drop afi from lookup functions (not used)
  bgpd/bgp_bmp.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_private.h
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_zebra.c
Labels: bgp, master, size/M

#12310 tests: [PIMv6] Adding multicast pim6 SM testsuite
  tests/topotests/lib/pim.py
  tests/topotests/multicast_pim6_sm_topo1/multicast_pim6_sm_topo1.json
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm1.py
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm2.py
Labels: tests, pimv6, master, size/XXL

#12996 tools: frr-reload fix list value not present
  tools/frr-reload.py
Labels: tools, bugfix, master, size/XS

#12998 lib: adapt clippy to Python 3.8+ init API
  lib/clippy.c
Labels: libfrr, master, size/M

#13002 bgpd: Unlock bgp dest node if leak_update() fails
  bgpd/bgp_mplsvpn.c
Labels: bgp, master, size/S

#13006 bgpd: fix NULL argument warning
  bgpd/bgp_fsm.c
Labels: bgp, bugfix, master, size/XS

#12999 bgpd: aggregate routes memory leak for aspath
  bgpd/bgp_aspath.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
Labels: bgp, master, size/M

#13009 bgpd: Use interface name instead of pointer value
  bgpd/bgp_network.c
Labels: bgp, backport, master, size/XS

#13012 bgpd: Always restart timer from scratch in OpenConfirm/Established
  bgpd/bgp_fsm.c
Labels: bgp, master, size/S

#13016 ospfd, ospfd6: Add more logging
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_gr_helper.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_neighbor.c
  ospfd/ospf_nsm.c
  ospfd/ospf_packet.c
Labels: ospf, ospfv3, master, size/L

#13005 lib: Speedup prefix-list readin by a large factor
  lib/filter_cli.c
  lib/filter_nb.c
Labels: libfrr, master, size/M

#13027 bgpd: Prevent Null pointer deref when outputting data
  bgpd/bgp_evpn_mh.c
Labels: bgp, master, size/XS

#13024 lib: Adjust only any flag for prefix-list entries if destroying
  lib/filter_cli.c
  lib/filter_nb.c
  tests/topotests/bgp_prefix_list_any/__init__.py
  tests/topotests/bgp_prefix_list_any/r1/bgpd.conf
  tests/topotests/bgp_prefix_list_any/r1/zebra.conf
  tests/topotests/bgp_prefix_list_any/r2/bgpd.conf
  tests/topotests/bgp_prefix_list_any/r2/zebra.conf
  tests/topotests/bgp_prefix_list_any/test_bgp_prefix_list_any.py
Labels: tests, libfrr, backport, master, size/L

#13023 pimd: stop t_sg_expire in MLD NOINFO transition
  pimd/pim6_mld.c
Labels: pim, bugfix, master, size/XS

#13038 ospfd: Cleanup some memory leaks on shutdown in ospf_apiserver.c
  ospfd/ospf_apiserver.c
  ospfd/ospf_opaque.c
Labels: ospf, backport, master, size/S

#13026 pbrd:fix mismatching in match src-dst
  pbrd/pbr_vty.c
Labels: pbr, backport, master, size/XS

#13025 Ospf ti lfa leaks
  ospfd/ospf_spf.c
  ospfd/ospf_ti_lfa.c
Labels: ospf, backport, master, size/S

#13047 nhrpd: drop peer references on freeing cache entry
  nhrpd/nhrp_cache.c
Labels: nhrp, bugfix, master, size/XS

#13050 doc: Use frrouting/frr-mibs repo downloading SNMP mibs
  doc/developer/topotests.rst
Labels: documentation, master, size/XS

#13058 bgpd: Prevent Null pointer deref when outputting data
  bgpd/bgp_evpn_mh.c
Labels: bgp, size/XS, stable/8.5

#13057 bgpd: Prevent Null pointer deref when outputting data
  bgpd/bgp_evpn_mh.c
Labels: bgp, stable/8.4

#13063 doc: add release instructions for docker images
  doc/developer/frr-release-procedure.rst
Labels: documentation, master, size/S

#13064 lib: fix clear route-map command
  lib/routemap.c
Labels: libfrr, master, size/S

#13061 lib: on bfd peer shutdown actually stop event
  lib/bfd.c
Labels: libfrr, backport, master, size/XS

#13031 ospfd: Improve the "show ip ospf database" command
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
Labels: ospf, master, size/XL

#13062 zebra: Fix for heap-use-after-free in EVPN
  zebra/zebra_netns_notify.c
Labels: zebra, backport, master, size/S

#12816 tests: Enhance error msgs for static route automation.
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo1_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo2_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo3_ebgp.py
  tests/topotests/static_routing_with_ebgp/test_static_routes_topo4_ebgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo1_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo2_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo3_ibgp.py
  tests/topotests/static_routing_with_ibgp/test_static_routes_topo4_ibgp.py
Labels: tests, master, size/L

#13080 zebra: add evpn isDetectionFreeze to json output
  zebra/zebra_vxlan.c
Labels: master, size/XS

#13075 bgpd: Add vrf name and peer name to some bgp debugs
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#13078 bgpd: Do not allow setting `set distance` via route-maps to zero
  bgpd/bgp_routemap.c
  doc/user/routemap.rst
  yang/frr-bgp-route-map.yang
Labels: bgp, master, size/S

#13074 *: Add a hash_clean_and_free() function
  bgpd/bgp_aspath.c
  bgpd/bgp_attr.c
  bgpd/bgp_community.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_lcommunity.c
  bgpd/bgp_mac.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_pbr.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  isisd/isis_spf.c
  isisd/isis_tx_queue.c
  lib/command.c
  lib/distribute.c
  lib/ferr.c
  lib/frrscript.c
  lib/hash.c
  lib/hash.h
  lib/if_rmap.c
  lib/northbound.c
  lib/thread.c
  lib/vrf.c
  nhrpd/nhrp_peer.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_gr_helper.c
  ospfd/ospf_asbr.c
  ospfd/ospf_gr_helper.c
  ospfd/ospf_sr.c
  pimd/pim_instance.c
  pimd/pim_msdp.c
  pimd/pim_rp.c
  pimd/pim_vxlan.c
  tests/lib/test_srcdest_table.c
  vrrpd/vrrp.c
  zebra/zebra_l2_bridge_if.c
  zebra/zebra_mpls.c
  zebra/zebra_router.c
  zebra/zebra_vxlan_if.c
Labels: master, size/L

#13094 mgmtd: Fix fd leak.
  mgmtd/mgmt_history.c
Labels: master, size/XS

#13088 pimd: Fix use after free issue for ifp's moving vrfs
  pimd/pim_zebra.c
Labels: backport, master, size/S

#13100 bgpd: Check 7 bytes for Long-lived Graceful-Restart capability
  bgpd/bgp_open.c
Labels: backport, master, size/S

#13093 ospfd: Fix for memory leak issue in ospf related to flood_reduction tests.
  ospfd/ospf_lsa.c
Labels: backport, master, size/XS

#13108 lib: improve clippy behavior with invalid input
  lib/defun_lex.l
Labels: master, size/S

#13101 tools: Set correct directory of vtysh for frr-reload.py
  configure.ac
  tools/frr.in
  tools/frrcommon.sh.in
  tools/frrinit.sh.in
Labels: backport, master, size/XS

#13084 bgpd: Set md5 TCP socket option for outgoing connections on listener
  bgpd/bgp_network.c
  tests/topotests/bgp_vrf_md5_peering/__init__.py
  tests/topotests/bgp_vrf_md5_peering/exabgp.env
  tests/topotests/bgp_vrf_md5_peering/peer1/exabgp.cfg
  tests/topotests/bgp_vrf_md5_peering/r1/bgpd.conf
  tests/topotests/bgp_vrf_md5_peering/r1/zebra.conf
  tests/topotests/bgp_vrf_md5_peering/test_bgp_vrf_md5_peering.py
Labels: bgp, master, size/L

#12931 pim6d: custom error-message for non-multicast groups
  pimd/pim6_cmd.c
Labels: pimv6, master, size/XS

#13086 bgpd: Ensure suppress-fib-pending works with network statements
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
Labels: master, size/M

#13117 Assert unneeded
  lib/mgmt_be_client.c
  lib/mgmt_fe_client.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
Labels: master, size/S

#13123 bgpd: Fix debug output for route-map names when using a unsuppress-map
  bgpd/bgp_route.c
Labels: backport, master, size/XS

#13118 bgpd: Copy the password from the previous peer on peer_xfer_config()
  bgpd/bgpd.c
Labels: backport, master, size/XS

#13113 ldpd: changes for code maintainability
  ldpd/ldp_zebra.c
Labels: master, size/M

#13132 zebra: Use zebra_vrf_lookup_by_id when we can
  zebra/dplane_fpm_nl.c
  zebra/redistribute.c
  zebra/router-id.c
  zebra/zapi_msg.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_mpls.c
  zebra/zebra_mpls_vty.c
  zebra/zebra_pw.c
  zebra/zebra_rib.c
  zebra/zebra_rnh.c
  zebra/zebra_vty.c
Labels: master, size/M

#13120 ospfd: Fix for vitual-link crash in signal handler
  ospfd/ospf_interface.c
Labels: backport, master, size/XS

#13124 bgpd: Do not announce routes immediatelly on prefix/distribute/filter changes
  bgpd/bgpd.c
  tests/topotests/bgp_route_map_delay_timer/__init__.py
  tests/topotests/bgp_route_map_delay_timer/r1/bgpd.conf
  tests/topotests/bgp_route_map_delay_timer/r1/zebra.conf
  tests/topotests/bgp_route_map_delay_timer/r2/bgpd.conf
  tests/topotests/bgp_route_map_delay_timer/r2/zebra.conf
  tests/topotests/bgp_route_map_delay_timer/test_bgp_route_map_delay_timer.py
Labels: bgp, backport, master, size/L

#12645 tests: [topojson] Update assert/error messages for ospf scripts
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_type7_lsa.py
  tests/topotests/ospf_basic_functionality/test_ospf_authentication.py
  tests/topotests/ospf_basic_functionality/test_ospf_chaos.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp.py
  tests/topotests/ospf_basic_functionality/test_ospf_ecmp_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
  tests/topotests/ospf_basic_functionality/test_ospf_nssa.py
  tests/topotests/ospf_basic_functionality/test_ospf_routemaps.py
  tests/topotests/ospf_basic_functionality/test_ospf_rte_calc.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper1.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper2.py
  tests/topotests/ospf_gr_helper/test_ospf_gr_helper3.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_authentication.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_ecmp.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_ecmp_lan.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_nssa.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_nssa2.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_routemaps.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_rte_calc.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_single_area.py
Labels: tests, master, size/XXL

#13146 bgpd: Do not call bgp_soft_reconfig_in() twice in a row on policy change
  bgpd/bgpd.c
Labels: master, size/XS

#13133 isisd: Add PDU drop counter to "show isis summary"
  isisd/isis_pdu.c
  isisd/isisd.c
  isisd/isisd.h
Labels: master, size/M

#12916 freebsd 14, clang 15
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/vnc_import_bgp.c
  lib/getopt.c
  lib/getopt.h
  lib/getopt1.c
  lib/subdir.am
  tests/lib/cxxcompat.c
  vrrpd/vrrp_main.c
Labels: bgp, libfrr, master, size/XXL

#13004 Vtysh fork
  doc/manpages/vtysh.rst
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
  vtysh/vtysh_main.c
Labels: documentation, vtysh, master, size/L

#13142 tests: Turn off debug logging
  tests/topotests/all_protocol_startup/r1/ospf6d.conf-pre-v4
  tests/topotests/bfd_topo3/r5/bfdd.conf
  tests/topotests/bfd_topo3/r6/bfdd.conf
  tests/topotests/bgp_accept_own/ce1/bgpd.conf
  tests/topotests/bgp_accept_own/ce2/bgpd.conf
  tests/topotests/bgp_accept_own/pe1/bgpd.conf
  tests/topotests/bgp_accept_own/rr1/bgpd.conf
  tests/topotests/bgp_comm_list_match/r2/bgpd.conf
  tests/topotests/bgp_confed1/r1/bgpd.conf
  tests/topotests/bgp_confed1/r2/bgpd.conf
  tests/topotests/bgp_confed1/r3/bgpd.conf
  tests/topotests/bgp_confed1/r4/bgpd.conf
  tests/topotests/bgp_dont_capability_negotiate/r1/bgpd.conf
  tests/topotests/bgp_evpn_vxlan_svd_topo1/test_bgp_evpn_vxlan_svd.py
  tests/topotests/bgp_evpn_vxlan_topo1/test_bgp_evpn_vxlan.py
  tests/topotests/bgp_prefix_list_any/r2/bgpd.conf
  tests/topotests/bgp_route_map_delay_timer/r1/bgpd.conf
  tests/topotests/bgp_route_map_vpn_import/r1/bgpd.conf
  tests/topotests/bgp_snmp_bgp4v2mib/r2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/zebra.conf
  tests/topotests/bgp_suppress_fib/r2/bgpd.allowas_in.conf
  tests/topotests/bgp_suppress_fib/r2/bgpd.conf
  tests/topotests/bgp_vrf_md5_peering/r1/bgpd.conf
  tests/topotests/isis_snmp/r5/ldpdconf
  tests/topotests/ospf6_ecmp_inter_area/r1/ospf6d.conf
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_single_area.py
Labels: master, size/L

#13060 bgpd: Allow peering via 127.0.0.0/8
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  doc/user/basic.rst
  lib/prefix.c
  lib/prefix.h
Labels: bgp, master, size/S

#13082 zebra: move vrf deleting handle to zebra final state handle
  zebra/main.c
Labels: master, size/S

#13153 bgpd: increase buffer size used for dumping BGP to MRT files
  bgpd/bgp_dump.c
Labels: backport, master, size/XS

#13148 bgpd : memory leak fix for aggregate-address on cleanup
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgpd.c
Labels: backport, master, size/M

#13161 isisd: Correction of subnets creation in the TED
  isisd/isis_te.c
  sharpd/sharp_zebra.c
Labels: master, size/S

#13017 pim6d: Do not use interfaces with ifindex as 0
  pimd/pim_iface.c
Labels: pimv6, master, size/XS

#13155 tests: Check received routes count for labeled-unicast with addpath
  tests/topotests/bgp_labeled_unicast_addpath/test_bgp_labeled_unicast_addpath.py
Labels: master, size/M

#13139 bgpd: trim long neighbor description with no whitespace
  bgpd/bgp_vty.c
Labels: bug, bgp, backport, size/XS

#12454 bgpd: Ensure stream received has enough data
  bgpd/bgp_attr.c
Labels: bgp, master, size/M
