Repository FRRouting/frr, pull requests merged in 2023-06, with the labels that each got.

#13450 pim6d: Fix crash in ipv6 pim command
  pimd/pim_nb_config.c
Labels: backport, pimv6, size/XS

#13652 doc: Update reference table for current and upcoming release dates
  doc/developer/workflow.rst
Labels: documentation, master, size/S

#13653 ospf6d: Prevent redundant LSA generation before interface goes down
  ospf6d/ospf6_interface.c
Labels: ospfv3, bugfix, master, size/XS

#13637 lib: fix vtysh core when handling questionmark
  lib/command.c
Labels: libfrr, bugfix, backport, master, size/XS

#13660 bgpd: Fix typo in debug message
  bgpd/bgp_nht.c
Labels: bgp, master, size/XS, rebase

#13641 Bunch of code cleanup from Coverity
  bgpd/bgp_clist.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
  eigrpd/eigrp_update.c
  zebra/zebra_mlag.c
  zebra/zserv.c
Labels: eigrp, bgp, zebra, master, size/M

#13646 mgmtd: xpath is already NULL in the failure path
  mgmtd/mgmt_txn.c
Labels: master, size/S

#13659 tests: new mgmt_startup tests are failing due to insufficient time
  tests/topotests/mgmt_startup/test_bigconf.py
  tests/topotests/mgmt_startup/test_late_bigconf.py
Labels: tests, master, size/S

#13668 bgpd: Give more data when state machine fails to change state
  bgpd/bgp_fsm.c
Labels: bgp, master, size/XS

#13656 ldpd: changes for code maintainability
  ldpd/l2vpn.c
Labels: ldp, master, size/M

#13677 lib: mgmtd: remove obfuscating abstraction layer and other cleanup
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/vty.c
Labels: libfrr, master, size/XL

#13681 lib: mgmtd: remove backend abstraction layer and other cleanup
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  staticd/static_main.c
Labels: libfrr, master, size/L

#13684 tests: pause (with CLI) at step() functions when run with --pause
  tests/topotests/lib/common_config.py
Labels: tests, master, size/XS

#13685 ldpd: changes for code maintainability
  ldpd/ldp_zebra.c
  ldpd/socket.c
Labels: ldp, master, size/M

#13658 isisd: fix wrongly disabled flex-algorithm
  isisd/isis_spf.c
  tests/topotests/isis_sr_flex_algo_topo1/test_isis_sr_flex_algo_topo1.py
Labels: tests, isis, bugfix, master, size/L

#13670 Coverity 99
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_vty.c
  mgmtd/mgmt_txn.c
  tests/topotests/bgp_gr_functionality_topo3/test_bgp_gr_functionality_topo3.py
Labels: tests, bgp, master, size/L

#13689 ldpd: changes for code maintainability
  ldpd/init.c
Labels: ldp, master, size/M

#13649 zebra: Unlock the route node when sending route notifications
  zebra/rib.h
  zebra/zapi_msg.c
Labels: zebra, backport, master, size/S

#13618 tests: fix some broken logging
  tests/topotests/conftest.py
  tests/topotests/lib/micronet_compat.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topolog.py
  tests/topotests/lib/topotest.py
Labels: tests, bugfix, master, size/L

#13690 Chopps/mgmtd cleanup
  lib/northbound.c
  lib/vty.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/topotests/mgmt_startup/test_bigconf.py
  tests/topotests/mgmt_startup/test_late_bigconf.py
  tests/topotests/mgmt_startup/util.py
Labels: tests, master, size/L

#13687 tests: Babel tests do not need to log to eigrp
  tests/topotests/babel_topo1/r1/babeld.conf
  tests/topotests/babel_topo1/r2/babeld.conf
  tests/topotests/babel_topo1/r3/babeld.conf
Labels: tests, master, size/XS

#13701 doc: Document RFC8212 under `Displaying BGP Information` section
  doc/user/bgp.rst
Labels: documentation, master, size/XS

#13709 debian, redhat: updating changelog for new release
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, master, size/M

#13707 mgmtd: assert an assertion for coverity
  mgmtd/mgmt_history.h
Labels: master, size/XS

#13706 lib: close config files after reading (coverity)
  lib/vty.c
Labels: libfrr, master, size/XS

#13693 tools: fix list value remove in frr-reload
  tools/frr-reload.py
Labels: tools, bugfix, master, size/XS

#13622 tests: Adding bgp_always_compare_med testuite
  tests/topotests/bgp_always_compare_med/bgp_always_compare_med_topo1.json
  tests/topotests/bgp_always_compare_med/test_bgp_always_compare_med_topo1.py
  tests/topotests/lib/bgp.py
Labels: tests, master, size/XXL

#11560 pim6d: Clear channel_oil on prune
  pimd/pim_igmpv3.c
  pimd/pim_tib.c
Labels: pim, pimv6, master, size/S, rebase

#13624 bgpd: Free temp memory
  bgpd/bgp_flowspec.c
Labels: bgp, backport, master, size/XS

#13421 pimd, pim6d: re-arrange some code and pimv6 deletion flow fix
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_nb_config.c
Labels: pim, pimv6, master, size/L

#13726 tests: fixing pim6 topotest bugs
  tests/topotests/lib/mcast-tester.py
  tests/topotests/lib/pim.py
  tests/topotests/multicast_mld_join_topo1/test_multicast_mld_local_join.py
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm1.py
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm2.py
  tests/topotests/multicast_pim6_static_rp_topo1/test_multicast_pim6_static_rp1.py
  tests/topotests/multicast_pim6_static_rp_topo1/test_multicast_pim6_static_rp2.py
Labels: tests, master, size/XL

#13645 bfdd: remove redundant nb destroy callbacks
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
Labels: bfd, master, size/M

#13650 bgpd: Add an ability to control default-originate route-map timer
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_default_originate_timer/__init__.py
  tests/topotests/bgp_default_originate_timer/r1/bgpd.conf
  tests/topotests/bgp_default_originate_timer/r1/zebra.conf
  tests/topotests/bgp_default_originate_timer/r2/bgpd.conf
  tests/topotests/bgp_default_originate_timer/r2/zebra.conf
  tests/topotests/bgp_default_originate_timer/r3/bgpd.conf
  tests/topotests/bgp_default_originate_timer/r3/zebra.conf
  tests/topotests/bgp_default_originate_timer/test_bgp_default_originate_timer.py
Labels: tests, bgp, master, size/L

#13664 pimd: Change in PIM northbound error, when a path to RP is not found …
  pimd/pim_nb_config.c
Labels: pim, master, size/XS, rebase

#13509 bgpd: upon if up event, evaluate bnc with matching nexthop
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
Labels: bgp, master, size/L

#13730 doc: Adjust event system
  doc/developer/process-architecture.rst
Labels: documentation, master, size/M

#13739 zebra: Prevent crash because nl is NULL on shutdown
  zebra/main.c
Labels: zebra, master, size/S

#13734 remove mentions of socat
  doc/developer/topotests.rst
  tests/topotests/lib/common_config.py
Labels: documentation, tests, master, size/L

#13745 Revert "bgpd: upon if up event, evaluate bnc with matching nexthop"
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
Labels: master, size/L

#13743 docker: ubuntu-ci 18.04 -> 22.04, topotest parallel run examples
  doc/developer/building-docker.rst
  docker/ubuntu-ci/Dockerfile
  docker/ubuntu-ci/docker-start
  docker/ubuntu18-ci/Dockerfile
  docker/ubuntu18-ci/README.md
  docker/ubuntu20-ci/Dockerfile
  docker/ubuntu20-ci/README.md
  docker/ubuntu20-ci/docker-start
  docker/ubuntu22-ci/README.md
Labels: docker, master, size/L

#13675 bfd:fix version bits check
  bfdd/bfd.h
Labels: bfd, bugfix, backport, master, size/XS, rebase

#13752 tests: Fix missing assert for test case in bgp_suppress_fib
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
Labels: tests, master, size/XS

#13762 doc: Adjust pthread description
  doc/developer/process-architecture.rst
Labels: documentation, master, size/S

#13704 tests: The bgp_flowspec frequently fails try to gather more data
  bgpd/bgp_network.c
  tests/topotests/bgp_flowspec/test_bgp_flowspec_topo.py
Labels: tests, bgp, master, size/S

#13763 fix 'exit' bug in config file processing, et al.
  lib/mgmt_be_client.c
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/vty.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  staticd/static_main.c
  tests/topotests/mgmt_config/r1/early-end-zebra.conf
  tests/topotests/mgmt_config/r1/early-end.conf
  tests/topotests/mgmt_config/r1/early-end2-zebra.conf
  tests/topotests/mgmt_config/r1/early-end2.conf
  tests/topotests/mgmt_config/r1/early-exit-zebra.conf
  tests/topotests/mgmt_config/r1/early-exit.conf
  tests/topotests/mgmt_config/r1/early-exit2-zebra.conf
  tests/topotests/mgmt_config/r1/early-exit2.conf
  tests/topotests/mgmt_config/r1/mgmtd.conf
  tests/topotests/mgmt_config/r1/normal-exit.conf
  tests/topotests/mgmt_config/r1/one-exit-zebra.conf
  tests/topotests/mgmt_config/r1/one-exit.conf
  tests/topotests/mgmt_config/r1/one-exit2-zebra.conf
  tests/topotests/mgmt_config/r1/one-exit2.conf
  tests/topotests/mgmt_config/r1/zebra.conf
  tests/topotests/mgmt_config/test_config.py
  tests/topotests/mgmt_startup/test_cfgfile_var.py
  vtysh/vtysh.c
Labels: tests, staticd, vtysh, libfrr, master, size/XL

#13767 tests: Convert rip/ripng tests using run_and_expect
  tests/topotests/rip_topo1/test_rip_topo1.py
  tests/topotests/ripng_topo1/test_ripng_topo1.py
Labels: tests, master, size/L

#13612 ospfd: fix interface param type update
  ospfd/ospf_interface.c
Labels: ospf, bugfix, backport, master, size/S

#13589 pbrd, zebra: fix zapi and netlink rule encoding
  pbrd/pbr_zebra.c
  zebra/rule_netlink.c
Labels: pbr, zebra, bugfix, master, size/S

#13764 lib: mgmtd: make error handling more robust
  lib/mgmt_be_client.c
Labels: libfrr, master, size/L

#13768 mgmtd: improvements in logging and commentary
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_history.c
Labels: tests, staticd, vtysh, libfrr, master, size/L

#13766 mgmtd cleanup/simplify some code
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_vty.c
Labels: libfrr, master, size/L

#13783 GCC13 nits
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_vty.h
Labels: bgp, master, size/S

#13793 doc: Update Coverity workflow in developer documentation.
  doc/developer/workflow.rst
Labels: documentation, master, size/S

#13796 doc: Fix one syntax error for code block
  doc/developer/topotests.rst
Labels: documentation, master, size/XS

#13765 pim6d: Correcting the help string
  pimd/pim6_cmd.c
Labels: pimv6, master, size/XS

#13798 bgpd: some safi's do not mix with bgp suppress-fib
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/M

#13810 vrrpd: add priority field into interface json
  vrrpd/vrrp_vty.c
Labels: vrrp, master, size/XS

#13394 zebra: clarify interface-level mpls config
  zebra/interface.c
  zebra/interface.h
Labels: zebra, master, size/S

#13557 bgpd: Fix missing deletion of evpn routes
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_table.h
Labels: bgp, master, size/S, rebase

#13524 MPLS vpn LSR redistribute
  bgpd/bgp_label.c
  bgpd/bgp_label.h
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_vpnv4_asbr/__init__.py
  tests/topotests/bgp_vpnv4_asbr/h1/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/h2/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/h3/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/r1/bgp_ipv4_routes.json
  tests/topotests/bgp_vpnv4_asbr/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r1/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r2/ipv4_vpn_summary.json
  tests/topotests/bgp_vpnv4_asbr/r2/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/r3/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r3/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/rr100/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/rr100/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/rs200/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/rs200/zebra.conf
  tests/topotests/bgp_vpnv4_asbr/test_bgp_vpnv4_asbr.py
Labels: documentation, tests, bgp, bugfix, master, size/XXL

#13666 topotests: structural issues in bgp_local_as_dotplus_private_remove
  tests/topotests/bgp_local_as_dotplus_private_remove/test_bgp_local_as_dotplus_private_remove.py
Labels: master, size/M

#13769 bgpd: Allow using peer-group for listing advertised-routes, etc.
  bgpd/bgpd.c
  tests/topotests/bgp_peer_group/r3/bgpd.conf
  tests/topotests/bgp_peer_group/test_bgp_peer-group.py
Labels: tests, bgp, master, size/M

#13758 isisd: Fix read beyond end of stream of ASLA Sub-TLV parsing
  isisd/isis_tlvs.c
Labels: isis, backport, master, size/S

#13750 bgpd: fix memory usage of vpn no retain
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  tests/topotests/bgp_vpnv4_noretain/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_all.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_no_retain_init.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_no_retain_init_plus_r2_vrf2.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_no_retain_init_plus_r2_vrf3.json
  tests/topotests/bgp_vpnv4_noretain/r1/isisd.conf
  tests/topotests/bgp_vpnv4_noretain/r1/zebra.conf
  tests/topotests/bgp_vpnv4_noretain/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_noretain/r2/ipv4_vpn_routes_all.json
  tests/topotests/bgp_vpnv4_noretain/r2/ipv4_vpn_summary.json
  tests/topotests/bgp_vpnv4_noretain/r2/isisd.conf
  tests/topotests/bgp_vpnv4_noretain/r2/zebra.conf
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: bgp, bugfix, master, size/XXL

#13728 bgpd: Implement neighbor X addpath-tx-best-selected command
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_addpath_types.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_addpath_best_selected/__init__.py
  tests/topotests/bgp_addpath_best_selected/r1/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r1/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r2/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r2/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r3/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r3/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r4/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r4/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r5/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r5/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r6/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r6/zebra.conf
  tests/topotests/bgp_addpath_best_selected/r7/bgpd.conf
  tests/topotests/bgp_addpath_best_selected/r7/zebra.conf
  tests/topotests/bgp_addpath_best_selected/test_bgp_addpath_best_selected.py
Labels: documentation, tests, bgp, master, size/XL

#13811 ospf6d: Increment sequence number correctly in Authentication Trailer
  ospf6d/ospf6_auth_trailer.c
Labels: ospfv3, bugfix, master, size/S

#13809 doc: start of mgmtd developer doc
  doc/developer/cspf.rst
  doc/developer/index.rst
  doc/developer/mgmtd-dev.rst
  doc/figures/cli-change-client.drawio
  doc/figures/cli-change-client.svg
  doc/figures/cli-change-mgmtd.drawio
  doc/figures/cli-change-mgmtd.svg
  doc/subdir.am
Labels: documentation, master, size/XXL

#13800 fix crashes in rip and ripng
  ripd/ripd.c
  ripngd/ripngd.c
Labels: ripng, rip, bugfix, backport, master, size/S

#13780 bgpd: Use synchronous way to get labels from Zebra
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_lu_topo1/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo1/R2/labelpool.summ.json
  tests/topotests/bgp_lu_topo2/R1/labelpool.summ.json
  tests/topotests/bgp_lu_topo2/R2/labelpool.summ.json
  zebra/zserv.c
Labels: tests, bgp, zebra, master, size/L

#13731 vrrp: check return value for turning off multicast for v6
  vrrpd/vrrp.c
Labels: master, size/XS, rebase

#13825 ripngd: changes for code maintainability
  ripngd/ripng_interface.c
  ripngd/ripng_offset.c
Labels: ripng, master, size/M

#13824 tools: import latest linux clang-format config w/ FRR mods
  .clang-format
Labels: tools, master, size/L

#13795 mgmt lock simplification
  lib/command.c
  lib/mgmt.proto
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_history.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/lib/test_grpc.cpp
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: libfrr, bugfix, master, size/XXL

#13823 doc: Fix typo in previous Coverity workflow doc commit.
  doc/developer/workflow.rst
Labels: documentation, master, size/XS

#13545 zebra: remove ZEBRA_IF_BOND_SLAVE interface type
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
Labels: zebra, master, size/S

#13822 pim, pim6d: pimreg interface is not getting added in a certain scenario
  pimd/pim_register.c
  pimd/pim_upstream.c
Labels: pim, pimv6, master, size/XS

#13844 bgpd: Add config-end timeout error log message.
  bgpd/bgp_vty.c
Labels: bgp, master, size/S

#13845 isisd: Log error when config-end timeout occurs.
  isisd/isis_main.c
Labels: isis, master, size/S

#13846 [9.0] mgmt lock simplification - backport #13795
  lib/command.c
  lib/mgmt.proto
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_history.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/lib/test_grpc.cpp
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: libfrr, bugfix, size/XXL, dev/9.0

#13839 staticd: remove unused YANG module
  staticd/static_main.c
Labels: staticd, master, size/XS

#13771 lib, zebra, sharpd: add notifications for ZAPI opaque message registration events
  lib/link_state.c
  lib/log.c
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  zebra/zapi_msg.c
  zebra/zebra_opaque.c
Labels: zebra, libfrr, sharp, master, size/XL

#13802 ospfd: Add config callbacks and suppress hello during config load.
  ospfd/ospf_main.c
  ospfd/ospf_packet.c
  ospfd/ospfd.c
  ospfd/ospfd.h
Labels: ospf, master, size/M, rebase

#13804 ospf6d: Add config callbacks to suppress hellos during config load.
  ospf6d/ospf6_main.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6d.c
  ospf6d/ospf6d.h
  ospf6d/subdir.am
Labels: ospfv3, master, size/M, rebase

#13857 doc: Fix one syntax error for code block
  doc/developer/topotests.rst
Labels: documentation, master, size/XS

#13722 bgpd,lib,yang: add colored extended communities support
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_nht.c
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgp_zebra.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_color_extcommunities/__init__.py
  tests/topotests/bgp_color_extcommunities/r1/bgpd.conf
  tests/topotests/bgp_color_extcommunities/r1/zebra.conf
  tests/topotests/bgp_color_extcommunities/r2/bgpd.conf
  tests/topotests/bgp_color_extcommunities/r2/zebra.conf
  tests/topotests/bgp_color_extcommunities/test_bgp_color_extcommunities.py
  yang/frr-bgp-route-map.yang
Labels: documentation, tests, bgp, yang, size/XL, rebase

#13672 babeld: add AE!=0 check when type is 7 or 10.
  babeld/message.c
Labels: babel, master, size/XS, rebase

#13628 tests: Add multicast-pim-multi-uplink test suite
  tests/topotests/multicast_pim_uplink_topo2/multicast_pim_uplink_topo2.json
  tests/topotests/multicast_pim_uplink_topo2/test_multicast_pim_uplink_topo2.py
  tests/topotests/multicast_pim_uplink_topo3/multicast_pim_uplink_topo3.json
  tests/topotests/multicast_pim_uplink_topo3/test_multicast_pim_uplink_topo3.py
Labels: tests, pim, master, size/XXL, rebase

#13851 bgpd: Use synchronous Zebra client for table manager
  bgpd/bgp_zebra.c
Labels: bgp, master, size/S

#13854 zebra: fix evpn rmac nh list cmp function
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, backport, master, size/XS

#13859 bgpd: Check for NULL before assigning a peer from the group
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#13852 zebra: clean up coverity warning in opaque api
  zebra/zebra_opaque.c
Labels: zebra, master, size/XS

#13826 ripng: match ipv6 address [prefix-list] CMDs
  doc/user/ripngd.rst
  ripngd/ripng_routemap.c
  tests/topotests/ripng_route_map/__init__.py
  tests/topotests/ripng_route_map/r1/frr.conf
  tests/topotests/ripng_route_map/r2/frr.conf
  tests/topotests/ripng_route_map/r3/frr.conf
  tests/topotests/ripng_route_map/test_ripng_route_map.py
Labels: documentation, tests, ripng, master, size/L

#13838 staticd: Fix bfd for static route in VRF
  staticd/static_bfd.c
Labels: staticd, master, size/XS

#13867 isisd, ospfd: fix opaque zapi source parsing
  isisd/isis_zebra.c
  ospfd/ospf_zebra.c
Labels: isis, ospf, bugfix, master, size/S

#13861 zebra: Free Zebra client resources
  zebra/zserv.c
Labels: zebra, master, size/S

#13870 bgpd: Ensure peer data structure is accessed only when BGPD is not te…
  bgpd/bgp_io.c
Labels: bgp, backport, master, size/XS

#13864 Bgp coverity fix
  bgpd/bgp_mplsvpn.c
Labels: bgp, bugfix, master, size/M

#13877 doc: Add Ubuntu 22.04 to list of builds
  doc/developer/building.rst
  doc/developer/subdir.am
Labels: documentation, master, size/XS

#13869 pbrd: fix crash with match command
  pbrd/pbr_vty.c
Labels: pbr, bugfix, backport, master, size/XS

#13879 tests: Fix broken check_ping run_and_expect semantics
  tests/topotests/bgp_vpnv4_asbr/test_bgp_vpnv4_asbr.py
Labels: tests, master, size/XS

#13866 Changes for inclusive language and other cleanup
  .clang-format
  lib/darr.c
  lib/darr.h
  lib/mgmt.proto
  lib/mgmt_be_client.c
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/subdir.am
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  tests/lib/subdir.am
  tests/lib/test_darr.c
Labels: libfrr, backport, master, size/XXL

#13836 bgpd: add 'set as-path replace' with a configured ASN
  bgpd/bgp_routemap.c
  doc/user/bgp.rst
  tests/topotests/bgp_set_aspath_replace/r1/bgpd.conf
  tests/topotests/bgp_set_aspath_replace/test_bgp_set_aspath_replace.py
Labels: bgp, master, size/L

#13896 bgpd: fix no set as_path replace command
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, master, size/XS
