Repository FRRouting/frr, pull requests merged in 2023-09, with the labels that each got.

#14323 bgpd: When using `show bgp peerhash` don't display (NULL)
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#14325 bgpd: Add peers back to peer hash when peer_xfer_conn fails
  bgpd/bgp_fsm.c
Labels: bgp, backport, master, size/S

#14327 bgpd: Fix `show bgp all rpki notfound`
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/XS

#14294 pimd: Prevent crash when receiving register message when the RP() is …
  pimd/pim_register.c
Labels: pim, backport, master, size/S

#14337 bgpd: Add peers back to peer hash when peer_xfer_conn fails
  bgpd/bgp_fsm.c
Labels: bgp, size/S, stable/8.5

#14339 bgpd: Add peers back to peer hash when peer_xfer_conn fails
  bgpd/bgp_fsm.c
Labels: bgp, size/S, stable/9.0

#14340 lib,zebra: add tx queuelen to interface struct
  lib/if.h
  lib/zclient.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra, libfrr, master, size/M

#14346 tools/gcc-plugins: fix for GCC 13
  tools/gcc-plugins/Makefile
  tools/gcc-plugins/frr-format.c
  tools/gcc-plugins/gcc-common.h
Labels: bugfix, master, size/M

#14234 bgpd: set ifindex only for v6 nexthops and nexthops that match peer's LL
  bgpd/bgp_nht.c
  tests/topotests/bgp_blackhole_community/r4/bgpd.conf
  tests/topotests/bgp_blackhole_community/test_bgp_blackhole_community.py
  tests/topotests/bgp_vpn_5549_route_map/test_bgp_vpn_5549_route_map.py
Labels: bgp, master, size/M

#14318 zebra: Fix zebra crash when replacing NHE during shutdown
  zebra/rib.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra, backport, master, size/M

#14341 bgpd: AS4_PATH and PMSI tunnel attributes handling by RFC 7606
  bgpd/bgp_attr.c
Labels: bgp, backport, master, size/XS

#14354 zebra: Fix zebra crash when replacing NHE during shutdown
  zebra/rib.h
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: zebra, size/M, stable/8.5

#14349 doc: Reuse $TAG for git checkout when building Docker images
  doc/developer/frr-release-procedure.rst
Labels: documentation, master, size/XS

#14344 lib/printf: sync with FreeBSD for ISO C23 enhancements
  lib/printf/README
  lib/printf/printfcommon.h
  lib/printf/printflocal.h
  lib/printf/vfprintf.c
  tests/lib/test_printfrr.c
  tools/gcc-plugins/frr-format.c
Labels: tests, master, size/M

#14261 ospfd: fix area range memory leak
  ospfd/ospfd.c
Labels: ospf, bugfix, master, size/S

#14357 *: Remove unused configure option
  configure.ac
Labels: master, size/XS

#14358 zebra: Prevent Null pointer deref
  zebra/tc_netlink.c
Labels: zebra, backport, master, size/XS

#14360 bgpd: Fix `no set as-path prepend` command for BGP
  bgpd/bgp_routemap.c
Labels: bgp, backport, master, size/S

#14377 zebra: ignore iprule requests for unsupported actions
  zebra/rule_netlink.c
Labels: zebra, master, size/S

#14373 Evpn bgp bestpath debug issues
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  lib/prefix.h
Labels: bgp, libfrr, master, size/M

#14381 bgpd: Use treat-as-withdraw for tunnel encapsulation attribute (backport for 7.5)
  bgpd/bgp_attr.c
Labels: bgp

#14364 lib: fix delete during hash_iterate() in event_*
  lib/event.c
  lib/frrevent.h
Labels: libfrr, bugfix, master, size/L

#14390 FUZZER: Certain types of fuzzing requires a default ospf instance
  ospfd/ospf_main.c
Labels: size/XS, fuzz

#14348 zebra: support route replace semantic in FPM
  doc/user/zebra.rst
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
Labels: documentation, zebra, master, size/M

#14379 Peer connection part two
  bgpd/bgp_attr.c
  bgpd/bgp_bfd.c
  bgpd/bgp_bmp.c
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_dump.c
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_io.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_keepalives.h
  bgpd/bgp_mac.c
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_rpki.c
  bgpd/bgp_snmp_bgp4.c
  bgpd/bgp_snmp_bgp4v2.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/rfapi/rfapi_import.c
  tests/bgpd/test_capability.c
Labels: bgp, master, size/XXL

#14365 Revert "lib: add a frr_each_const macro"
  isisd/isis_flex_algo.c
  lib/typesafe.h
Labels: libfrr, master, size/S

#14237 pbrd: Free Memory in pbr_map_delete
  pbrd/pbr_map.c
Labels: pbr, backport, master, size/XS

#14397 mgmtd: support bundle commands for mgmt.
  tools/etc/frr/support_bundle_commands.conf
Labels: master, size/S

#14399 bgpd: BGP_ATTR_MAX can be 255, allow using it for path attr
  bgpd/bgp_attr.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, backport, master, size/S

#14404 tests: snmp tests sometimes fail with `Unable to bind`
  tests/topotests/bgp_snmp_mplsl3vpn/ce1/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/ce2/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/ce3/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/ce4/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/r1/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/r2/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/r3/snmpd.conf
  tests/topotests/bgp_snmp_mplsl3vpn/r4/snmpd.conf
  tests/topotests/isis_snmp/r1/snmpd.conf
  tests/topotests/isis_snmp/r2/snmpd.conf
  tests/topotests/isis_snmp/r3/snmpd.conf
  tests/topotests/isis_snmp/r4/snmpd.conf
  tests/topotests/isis_snmp/r5/snmpd.conf
  tests/topotests/ldp_snmp/r1/snmpd.conf
  tests/topotests/ldp_snmp/r2/snmpd.conf
  tests/topotests/simple_snmp_test/r1/snmpd.conf
Labels: tests, master, size/M

#14400 bgpd: fix import from a local VRF with no bgp retain
  bgpd/bgp_mplsvpn.h
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vrf_all_routes_init.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vrf_all_routes_plus_r1_vrf1.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vrf_all_routes_plus_r2_vrf2.json
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vrf_all_routes_plus_r2_vrf3.json
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: bgp, bugfix, master, size/XL, rebase

#14162 zebra: Turn on `nht resolve-via-default` by default for traditional profile
  doc/user/zebra.rst
  tests/topotests/all_protocol_startup/r1/ip_nht.ref
  tests/topotests/all_protocol_startup/r1/ipv6_nht.ref
  tests/topotests/bgp_features/r1/zebra.conf
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
  zebra/zebra_vty.c
Labels: zebra, master, size/M

#14410 bgpd: Keep remote/local socket unions on BGP start event
  bgpd/bgp_fsm.c
Labels: bgp, master, size/S

#14383 Bgp coverity cleanup early sept
  bgpd/bgp_advertise.c
  bgpd/bgp_advertise.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.c
  bgpd/bgp_table.h
Labels: bgp, master, size/L

#14417 zebra: fix link update for veth interfaces
  zebra/interface.c
Labels: zebra, bugfix, backport, master, size/XS

#14409 bgpd: fix forbiding 'redistribute table' usage on non default instances
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/M

#14418 tools: make --quiet actually suppress output
  tools/frrcommon.sh.in
Labels: tools, bugfix, backport, master, size/XS

#14431 zebra: remove duplicated code
  zebra/interface.c
Labels: zebra, master, size/S

#14406 pimd: Display oil_parent as a string name of the interface
  pimd/pim_mroute.c
  pimd/pim_oil.c
  pimd/pim_zlookup.c
Labels: pim, master, size/M

#14429 ospf6d: fix uninitialized warnings
  ospf6d/ospf6_intra.c
Labels: ospfv3, bugfix, master, size/XS

#14422 isisd: Fix a bunch of coverity issues in IS-IS
  isisd/isis_tlvs.c
  isisd/isis_zebra.c
Labels: isis, master, size/S

#14350 pathd: add no command for pce/pce-config options
  pathd/path_pcep_cli.c
Labels: master, size/L

#14382 bgpd: Handle LLGR capability using dynamic capabilities
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  tests/topotests/bgp_dynamic_capability/r1/bgpd.conf
  tests/topotests/bgp_dynamic_capability/r2/bgpd.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_graceful_restart.py
Labels: tests, bgp, master, size/L

#14398 ospfd: add support for RFC 5709 OSPFv2 HMAC-SHA Cryptographic Authentication
  doc/user/ospfd.rst
  ospfd/ospf_auth.c
  ospfd/ospf_auth.h
  ospfd/ospf_errors.c
  ospfd/ospf_errors.h
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_main.c
  ospfd/ospf_packet.c
  ospfd/ospf_vty.c
  ospfd/subdir.am
  python/xref2vtysh.py
  tests/topotests/lib/ospf.py
  tests/topotests/ospf_basic_functionality/test_ospf_authentication.py
  vtysh/vtysh.h
Labels: master, size/XXL, rebase

#14420 bgpd: Remove private ASNs after we modify the as-path with the route-map
  bgpd/bgp_route.c
  tests/topotests/bgp_remove_private_as_route_map/__init__.py
  tests/topotests/bgp_remove_private_as_route_map/r1/frr.conf
  tests/topotests/bgp_remove_private_as_route_map/r2/frr.conf
  tests/topotests/bgp_remove_private_as_route_map/test_bgp_remove_private_as_route_map.py
Labels: tests, bgp, master, size/L

#14436 bgpd: Set TCP MSS for the socket even if the session is set to passive
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_tcp_mss_passive/__init__.py
  tests/topotests/bgp_tcp_mss_passive/r1/frr.conf
  tests/topotests/bgp_tcp_mss_passive/r2/frr.conf
  tests/topotests/bgp_tcp_mss_passive/test_bgp_tcp_mss_passive.py
Labels: tests, bgp, master, size/L

#14414 lib: another attempt at Coverity false positives
  lib/compiler.h
Labels: libfrr, master, size/XS

#14299 pimd,pim6d: Resolving the YANG datatype Inconsistency for PIM Hello Interval
  pimd/pim_nb_config.c
  yang/frr-pim.yang
Labels: pim, master, size/XS

#14416 pimd: Use a better name for oil_parent
  pimd/pim_cmd_common.c
  pimd/pim_mroute.c
  pimd/pim_oil.c
  pimd/pim_oil.h
  pimd/pim_static.c
  pimd/pim_upstream.c
  pimd/pim_zlookup.c
Labels: pim, master, size/M

#14443 lib: constrain hash table "tabshift" both ways
  lib/typesafe.h
Labels: libfrr, master, size/XS

#14445 couple bgp coverity issues
  bgpd/bgp_evpn.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, master, size/S

#14440 bgpd: fix SNMP oid in bgp4v2
  bgpd/bgp_snmp_bgp4v2.c
  bgpd/bgp_snmp_bgp4v2.h
  tests/topotests/bgp_snmp_bgp4v2mib/test_bgp_snmp_bgp4v2mib.py
Labels: bgp, bugfix, master, size/L

#14442 bgpd, pathd: replace ctime() with ctime_r()
  bgpd/bgp_btoa.c
  bgpd/bgp_labelpool.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.h
  pathd/path_pcep_debug.c
  tests/bgpd/test_mpath.c
Labels: tests, bgp, master, size/M

#14448 doc: add northbound api arch docs
  doc/developer/index.rst
  doc/developer/northbound/_sidebar.rst
  doc/developer/northbound/advanced-topics.rst
  doc/developer/northbound/architecture.rst
  doc/developer/northbound/demos.rst
  doc/developer/northbound/links.rst
  doc/developer/northbound/northbound.rst
  doc/developer/northbound/operational-data-rpcs-and-notifications.rst
  doc/developer/northbound/plugins-sysrepo.rst
  doc/developer/northbound/ppr-basic-test-topology.rst
  doc/developer/northbound/ppr-mpls-basic-test-topology.rst
  doc/developer/northbound/retrofitting-configuration-commands.rst
  doc/developer/northbound/transactional-cli.rst
  doc/developer/northbound/yang-module-translator.rst
  doc/developer/northbound/yang-tools.rst
  doc/developer/subdir.am
Labels: documentation, master, size/XXL

#14452 Some recent coverity fixes
  bgpd/bgp_route.c
  staticd/static_nb_config.c
Labels: bgp, staticd, bugfix, master, size/S

#14089 bgpd,doc,lib,sharpd,staticd,yang,zebra: SRv6 multiple segs SIDs
  bgpd/bgp_zebra.c
  doc/user/static.rst
  include/linux/seg6.h
  lib/nexthop.c
  lib/nexthop.h
  lib/srv6.h
  lib/zclient.c
  lib/zclient.h
  sharpd/sharp_vty.c
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.h
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/topotests/srv6_static_route/__init__.py
  tests/topotests/srv6_static_route/expected_srv6_route.json
  tests/topotests/srv6_static_route/r1/mgmtd.conf
  tests/topotests/srv6_static_route/r1/setup.sh
  tests/topotests/srv6_static_route/r1/staticd.conf
  tests/topotests/srv6_static_route/r1/zebra.conf
  tests/topotests/srv6_static_route/test_srv6_route.py
  yang/frr-nexthop.yang
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
  zebra/zebra_nhg.c
  zebra/zebra_rnh.c
Labels: documentation, tests, bgp, staticd, zebra, libfrr, bugfix, yang, sharp, master, size/XXL

#14455 bgpd: fix coverity issue on aspath_filter_exclude_acl
  bgpd/bgp_aspath.c
Labels: bgp, bugfix, master, size/XS, rebase

#14454 lib: fix a bunch of coverity nits
  lib/elf_py.c
  lib/event.c
  lib/ipaddr.h
  lib/northbound.c
  lib/prefix.c
  lib/printf/printfcommon.h
  lib/sha256.c
  lib/vty.c
  lib/zlog_5424.c
Labels: libfrr, master, size/M

#14453 isisd: fix crash when configuring srv6 locator without isis instance
  isisd/isis_zebra.c
Labels: isis, bugfix, backport, master, size/XS

#14465 zebra: Fix longstanding snmp coverity issue
  zebra/zebra_snmp.c
Labels: zebra, master, size/XS

#14466 bgpd, ospfd: fix some dicey pointer arith in snmp modules
  bgpd/bgp_snmp_bgp4.c
  ospfd/ospf_snmp.c
Labels: bgp, ospf, bugfix, master, size/M

#14463 bgpd: fix return of local from ctime_r
  bgpd/bgp_updgrp.c
  bgpd/bgpd.h
Labels: bgp, bugfix, master, size/XS

#14458 doc: domainname MUST be manually written to vtysh.conf also
  doc/user/vtysh.rst
Labels: documentation, master, size/XS

#14450 tests: Adding BGP convergence verification before starting PIM tests
  tests/topotests/lib/bgp.py
  tests/topotests/multicast_mld_join_topo1/test_multicast_mld_local_join.py
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm1.py
  tests/topotests/multicast_pim6_sm_topo1/test_multicast_pim6_sm2.py
  tests/topotests/multicast_pim_uplink_topo1/test_multicast_pim_uplink_topo1.py
  tests/topotests/multicast_pim_uplink_topo2/test_multicast_pim_uplink_topo2.py
  tests/topotests/multicast_pim_uplink_topo3/test_multicast_pim_uplink_topo3.py
Labels: tests, master, size/L

#14470 tests: Improve BGP dynamic capability tests
  tests/topotests/bgp_dynamic_capability/r1/frr.conf
  tests/topotests/bgp_dynamic_capability/r1/zebra.conf
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/r2/zebra.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_graceful_restart.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_role.py
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_software_version.py
Labels: tests, master, size/M

#14464 bgpd: Fix dampening info crash
  bgpd/bgp_damp.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, backport, master, size/M

#14475 Clear per afi/safi stuff for GR/LLGR when dynamic capability with UNSET action received
  bgpd/bgp_packet.c
Labels: bgp, master, size/S

#14476 pimd: remove redundant closing socket
  pimd/pim_ssmpingd.c
Labels: pim, master, size/XS

#14468 bgpd: Ensure send order is 100% consistent
  bgpd/bgp_advertise.c
Labels: bgp, master, size/S

#14473 tests: Fix DeprecationWarning in SRv6 L3VPN topotest
  tests/topotests/bgp_srv6l3vpn_sid/test_bgp_srv6l3vpn_sid.py
Labels: tests, master, size/XS

#14467 isisd: Fix memory leaks when IS-IS fails to process an SRv6 locator chunk
  isisd/isis_zebra.c
Labels: isis, master, size/XS

#14484 lib: assert for VTY_PASSFD expectations
  lib/vty.c
Labels: libfrr, master, size/XS

#14480 bgpd: Fix dampening info crash
  bgpd/bgp_damp.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, size/M, stable/8.5

#14487 Some recent documentation adjustments
  doc/user/ospfd.rst
  doc/user/pbr.rst
Labels: documentation, master, size/S

#14356 ospfd: Fix External Aggregator Leak
  ospfd/ospf_asbr.c
Labels: ospf, master, size/XS

#14447 doc: reference the correct MGMTd show command
  doc/user/mgmtd.rst
Labels: documentation, master, size/XS

#14482 lib: Drop deprecated enable-time-check, enable-cpu-time compile options
  configure.ac
  doc/user/basic.rst
  doc/user/installation.rst
  lib/command.c
  lib/event.c
  lib/frrevent.h
Labels: libfrr, master, size/M

#14342 bgpd: fix crash in *bgpv2PeerErrorsTable"
  bgpd/bgp_debug.c
  bgpd/bgp_vty.c
Labels: bgp, bugfix, backport, master, size/S

#14495 doc: Fix release dates in workflow
  doc/developer/workflow.rst
Labels: documentation, master, size/S

#14222 [DOC] Debian 12
  doc/developer/building-frr-for-debian12.rst
  doc/developer/subdir.am
Labels: documentation, bgp, bugfix, master, size/L, rebase

#14498 Fixes for `file-lock` mode of configuration node
  lib/command.c
  lib/vty.c
  vtysh/vtysh.c
Labels: vtysh, bugfix, master, size/S

#14499 fix various developer doc issues
  doc/developer/building-frr-for-ubuntu2204.rst
  doc/developer/checkpatch.rst
  doc/developer/cli.rst
  doc/developer/cspf.rst
  doc/developer/index.rst
  doc/developer/ospf.rst
  doc/developer/topotests.rst
  doc/developer/workflow.rst
Labels: documentation, bugfix, master, size/L

#14500 doc: add .readthedocs.yaml configs
  doc/developer/.readthedocs.yaml
  doc/user/.readthedocs.yaml
Labels: documentation, build, master, size/M

#14502 doc: Add an example on how to set a distance for a route from the kernel
  doc/user/bgp.rst
  doc/user/zebra.rst
Labels: documentation, master, size/M

#14494 mgmtd: fix crash on "show mgmtd datastore-contents"
  mgmtd/mgmt_vty.c
Labels: bugfix, backport, mgmt, master, size/XS

#14483 bgpd: Set the TTL for the correct socket
  bgpd/bgp_network.c
Labels: bgp, master, size/S

#14503 doc: Add `neighbor capability dynamic` command
  doc/user/bgp.rst
Labels: documentation, master, size/S

#14505 doc: unpin sphinx from 4.0.2
  doc/developer/.readthedocs.yaml
  doc/requirements.txt
  doc/user/.readthedocs.yaml
Labels: documentation, master, size/XS

#14506 bgpd: fix link state coverity scan issues
  bgpd/bgp_attr.c
  bgpd/bgp_linkstate_tlv.c
  bgpd/bgp_linkstate_tlv.h
Labels: bgp, bugfix, master, size/M

#14507 More developer doc fixes
  doc/developer/building.rst
  doc/developer/northbound/_sidebar.rst
  doc/developer/northbound/architecture.rst
  doc/developer/northbound/images/arch-after.png
  doc/developer/northbound/images/arch-before.png
  doc/developer/northbound/images/ly-ctx.png
  doc/developer/northbound/images/lyd-node.png
  doc/developer/northbound/images/lys-node.png
  doc/developer/northbound/images/nb-layer.png
  doc/developer/northbound/images/transactions.png
  doc/developer/northbound/northbound.rst
Labels: documentation, master, size/L

#12409 zebra: delete label chunk upon release
  doc/user/zebra.rst
  zebra/label_manager.c
  zebra/subdir.am
Labels: zebra, master, size/M

#14510 A couple minor fixes
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_linkstate_tlv.c
  lib/darr.c
  lib/if.c
  lib/link_state.c
  ospf6d/ospf6_gr_helper.c
  sharpd/sharp_vty.c
  zebra/dpdk/zebra_dplane_dpdk.c
  zebra/tc_netlink.c
Labels: zebra, master, size/M
