Repository FRRouting/frr, pull requests merged in 2023-10, with the labels that each got.

#14519 doc: adjust protocol command values for zebra
  doc/developer/zebra.rst
Labels: documentation, master, size/XL

#14508 lib: use XREALLOC over realloc avoid coverity warning
  lib/darr.c
Labels: libfrr, master, size/S

#14472 lib: fix route map duplicated prefix removal evaluation
  lib/plist.c
Labels: libfrr, bugfix, backport, master, size/M

#14527 bgpd: Add guards for zlog_debug when setting GTSM for the peer
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#14474 staticd: Memory leak of string in staticd
  staticd/static_vty.c
Labels: staticd, master, size/S

#14517 pimd: Indicating the configured PIM Rendezvous Point (RP) in the MSDP SA message
  pimd/pim_msdp.c
  pimd/pim_msdp_packet.c
Labels: pim, master, size/S

#14534 tests: locate nhg id from json output in all_proto_startup
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
Labels: tests, master, size/S

#14541 isisd: remove redundant northbound destroy callbacks
  isisd/isis_nb.c
  isisd/isis_nb.h
  isisd/isis_nb_config.c
Labels: isis, master, size/M

#10733 zebra: remove ZEBRA_INTERFACE_VRF_UPDATE
  bfdd/ptm_adapter.c
  bgpd/bgp_zebra.c
  doc/developer/zebra.rst
  lib/log.c
  lib/zclient.h
  ospfd/ospf_zebra.c
  pbrd/pbr_zebra.c
  pimd/pim_zebra.c
  ripd/rip_interface.c
  ripd/rip_zebra.c
  ripngd/ripng_interface.c
  ripngd/ripng_zebra.c
  ripngd/ripngd.h
  zebra/interface.c
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
Labels: documentation, zebra, size/XL

#14543 zebra: add zclient to iprules key
  zebra/zebra_pbr.c
Labels: zebra, master, size/S

#14533 lib,*: add vrf id to pbr rule results zapi message
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: bgp, pbr, zebra, libfrr, master, size/S

#14451 ospfd: a possible fix for TAINTED_SCALAR coverity issues
  ospfd/ospf_auth.c
Labels: ospf, bugfix, master, size/M, rebase

#14550 zebra: Free nexthop_group
  zebra/redistribute.c
Labels: zebra, backport, master, size/XS

#14535 bgpd: Drop redundant assignment for aspath segment type and length
  bgpd/bgp_aspath.c
Labels: bgp, master, size/XS

#13617 pimd: Fix missing pimreg interface
  pimd/pim_iface.c
Labels: pim, master, size/S

#14554 bgpd: Convert the bgp_advertise_attr->adv to a fifo
  bgpd/bgp_advertise.c
  bgpd/bgp_advertise.h
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/M

#14563 lib: Suppress HOB/STARVATION warnings when running in vtysh
  lib/event.c
  vtysh/vtysh_main.c
Labels: libfrr, master, size/S

#14437 vtysh freezed on ospf 'no network' command when there are multiple networks and interfaces
  ospfd/ospfd.c
Labels: ospf, master, size/S

#14528 bgpd: Handle Addpath capability using dynamic capabilities
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r1/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_addpath.py
Labels: tests, bgp, master, size/L

#14557 eigrp: use correct memory pool on interface deletion
  eigrpd/eigrp_interface.c
Labels: backport, master, size/XS

#14537 bgpd: Implement EBGP-OAD peering type
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_oad/__init__.py
  tests/topotests/bgp_oad/r1/frr.conf
  tests/topotests/bgp_oad/r2/frr.conf
  tests/topotests/bgp_oad/r3/frr.conf
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: documentation, tests, bgp, master, size/L

#14564 mgmtd: Change MGMTD_VTY_PORT to 2623
  mgmtd/mgmt.h
Labels: mgmt, master, size/XS

#14579 nhrpd: Fix nhrp_peer leak
  nhrpd/nhrp_cache.c
  nhrpd/nhrp_main.c
  nhrpd/nhrp_peer.c
Labels: nhrp, master, size/XS

#14578 bgpd: Remove redundant check for bgp against NULL
  bgpd/bgp_mplsvpn.c
Labels: bgp, master, size/XS

#14577 zebra: add xxxCHAIN netlink messages to handler, ignore
  zebra/kernel_netlink.c
Labels: zebra, backport, master, size/XS

#14576 lib: msg: make short-circuit connections guaranteed
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  mgmtd/mgmt.c
  mgmtd/mgmt_vty.c
Labels: libfrr, mgmt, master, size/M

#14580 Chain ignore
  zebra/kernel_netlink.c
Labels: zebra, master, size/M

#14583 bgpd: ecommunity_dup memory leak fix
  bgpd/bgp_mplsvpn.c
Labels: bgp, master, size/XS

#14584 zebra: add label chunk range in log when label manager request fails
  zebra/label_manager.c
  zebra/label_manager.h
Labels: zebra, master, size/M

#14561 build: add -Wimplicit-fallthrough
  bgpd/bgp_aspath.c
  bgpd/bgp_attr.c
  bgpd/bgp_clist.c
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_routemap_nb_config.c
  bgpd/bgpd.c
  bgpd/rfapi/bgp_rfapi_cfg.c
  bgpd/rfapi/rfapi_vty.c
  configure.ac
  ldpd/init.c
  ldpd/ldp_vty_exec.c
  ldpd/neighbor.c
  lib/base64.c
  lib/command_match.c
  lib/compiler.h
  lib/jhash.c
  lib/libfrr.c
  lib/nexthop.c
  lib/nexthop_group.c
  lib/printf/printf-pos.c
  lib/printf/vfprintf.c
  lib/routemap_northbound.c
  lib/vty.c
  lib/workqueue.c
  lib/zclient.c
  lib/zlog_5424.c
  nhrpd/nhrp_packet.c
  nhrpd/nhrp_peer.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_route.h
  ospf6d/ospf6_snmp.c
  ospfd/ospf_flood.c
  ospfd/ospf_interface.c
  ospfd/ospf_lsa.c
  ospfd/ospf_nsm.c
  ospfd/ospf_packet.c
  pbrd/pbr_nht.c
  pimd/pim_nht.c
  tests/bgpd/test_capability.c
  tools/frr-llvm-cg.c
  watchfrr/watchfrr.c
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/zebra_mpls.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: master, size/L

#14553 Zebra weighted ecmp
  bgpd/bgp_zebra.c
  tests/topotests/bgp_link_bw_ip/r1/ip-route-1.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-2.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-3.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-6.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-7.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-8.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-9.json
  tests/topotests/bgp_link_bw_ip/r2/ip-route-2.json
  zebra/zapi_msg.c
  zebra/zebra_router.c
  zebra/zebra_router.h
Labels: tests, bgp, zebra, master, size/M

#14590 ospf6d: fix setting of the forwarding address in AS-External LSAs
  ospf6d/ospf6_asbr.c
Labels: ospfv3, bugfix, backport, master, size/M

#14582 tests: Add OSPF test for issue 14488
  tests/topotests/ospf_topo2/__init__.py
  tests/topotests/ospf_topo2/r1/frr.conf
  tests/topotests/ospf_topo2/r2/frr.conf
  tests/topotests/ospf_topo2/r3/frr.conf
  tests/topotests/ospf_topo2/r4/frr.conf
  tests/topotests/ospf_topo2/test_ospf_topo2.dot
  tests/topotests/ospf_topo2/test_ospf_topo2.png
  tests/topotests/ospf_topo2/test_ospf_topo2.py
Labels: tests, master, size/XL, rebase

#14585 ldpd: Clarify error situation for different problems
  ldpd/init.c
Labels: ldp, master, size/XS

#14599 tests: Check if evpn route-map match by route type works
  tests/topotests/bgp_evpn_route_map_match/__init__.py
  tests/topotests/bgp_evpn_route_map_match/c1/frr.conf
  tests/topotests/bgp_evpn_route_map_match/c2/frr.conf
  tests/topotests/bgp_evpn_route_map_match/r1/frr.conf
  tests/topotests/bgp_evpn_route_map_match/r2/frr.conf
  tests/topotests/bgp_evpn_route_map_match/test_bgp_evpn_route_map_match.py
Labels: tests, master, size/L

#14607 pim6d: valgrind issue fixes
  pimd/pim_register.c
Labels: backport, pimv6, master, size/XS

#14616 doc: add "enforce-first-as" to BGP documentation
  doc/user/bgp.rst
Labels: documentation, backport, master, size/XS

#14615 tests: Rename test_bgp_dynamic_capability_role
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_addpath.py
Labels: tests, backport, master, size/XS

#14618 watchfrr: Extend ignore option to daemon being killed
  watchfrr/watchfrr.c
Labels: watchfrr, backport, master, size/XS

#14614 bgpd: Handle ORF capability using dynamic capabilities
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r1/frr.conf
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_orf.py
Labels: tests, bgp, master, size/L

#14631 lib: remove incorrect comment from northbound
  lib/northbound.c
Labels: libfrr, master, size/XS

#14628 bgpd: Do not suppress conditional advertisement updates if triggered
  bgpd/bgp_conditional_adv.c
  tests/topotests/bgp_conditional_advertisement_static_route/__init__.py
  tests/topotests/bgp_conditional_advertisement_static_route/r1/frr.conf
  tests/topotests/bgp_conditional_advertisement_static_route/r2/frr.conf
  tests/topotests/bgp_conditional_advertisement_static_route/r3/frr.conf
  tests/topotests/bgp_conditional_advertisement_static_route/test_bgp_conditional_advertisement_static_route.py
Labels: tests, bgp, backport, master, size/L

#14634 tests: add --gdb-use-emacs option
  doc/developer/topotests.rst
  tests/topotests/conftest.py
  tests/topotests/lib/topotest.py
Labels: tests, master, size/L

#14629 zebra: debug ifname in netlink link debugs
  zebra/debug_nl.c
Labels: zebra, master, size/XS

#13979 tests: Adding a bgp router id chaos test case.
  tests/topotests/bgp_unique_rid/test_bgp_unique_rid.py
Labels: tests, master, size/L, rebase

#14540 bgpd: Handle FQDN capability using dynamic capabilities
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
Labels: documentation, bgp, master, size/L

#14333 bgpd: add support of traps for bgp4-mibv2
  bgpd/bgp_snmp.c
  bgpd/bgp_snmp.h
  bgpd/bgp_snmp_bgp4.c
  bgpd/bgp_snmp_bgp4.h
  bgpd/bgp_snmp_bgp4v2.c
  bgpd/bgp_snmp_bgp4v2.h
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  bgpd/subdir.am
  doc/user/snmptrap.rst
  tests/topotests/bgp_snmp_bgp4v2mib/r2/snmpd.conf
  tests/topotests/bgp_snmp_bgp4v2mib/r2/snmptrapd.conf
  tests/topotests/bgp_snmp_bgp4v2mib/test_bgp_snmp_bgp4v2mib.py
  tests/topotests/lib/snmptest.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: documentation, tests, bgp, zebra, libfrr, bugfix, mgmt, master, size/L, rebase

#14639 zebra: Allow longer prefix matches for nexthops
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  zebra/zebra_nhg.c
Labels: zebra, master, size/M

#14645 bgpd: A couple more bgpd crashes on malformed attributes
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
Labels: bgp, backport, master, size/S

#14609 mgmtd, lib: remove batch ids from cfg apply reply
  lib/mgmt.proto
  lib/mgmt_be_client.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
Labels: libfrr, mgmt, master, size/M

#14664 isisd: staticd: need to link directly against libyang
  isisd/subdir.am
  staticd/subdir.am
Labels: isis, backport, master, size/XS

#14663 tests: have unit-test check more paths for the grpc.so module
  tests/lib/test_grpc.cpp
Labels: tests, backport, master, size/S

#14662 tests: Drop a couple unnecessary unit tests
  tests/bgpd/test_peer_attr.c
Labels: tests, bgp, master, size/S

#14665 pbrd: fix show pbr map detail json
  doc/user/pbr.rst
  pbrd/pbr_vty.c
Labels: documentation, pbr, bugfix, backport, master, size/XS

#14635 ospf6d: Set loopback interface cost to 0
  ospf6d/ospf6_interface.c
  tests/topotests/bgp_vpn_5549_route_map/test_bgp_vpn_5549_route_map.py
  tests/topotests/ospf6_gr_topo1/rt1/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt2/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt3/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt4/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt5/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt6/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt7/show_ipv6_route.json
  tests/topotests/ospf6_loopback_cost/__init__.py
  tests/topotests/ospf6_loopback_cost/r1/frr.conf
  tests/topotests/ospf6_loopback_cost/r2/frr.conf
  tests/topotests/ospf6_loopback_cost/test_ospf6_loopback_cost.py
Labels: tests, ospfv3, bugfix, backport, master, size/L

#14681 zebra: display ptmStatus order in interface json
  zebra/interface.c
Labels: zebra, backport, master, size/XS

#13576 zebra:returns empty dict when evpn is disabled II
  lib/vty.c
  lib/vty.h
  ospfd/ospf_vty.c
  pimd/pim_cmd.c
  zebra/zebra_vxlan.c
Labels: zebra, master, size/L, rebase

#14688 ospfd, ospf6d: Fix spacing nit for `show ... summary-address` command
  ospf6d/ospf6_top.c
  ospfd/ospf_vty.c
Labels: ospf, ospfv3, backport, master, size/XS

#14689 tests: add gdb integration with valgrind
  doc/developer/topotests.rst
  tests/topotests/lib/topotest.py
Labels: tests, master, size/L

#14691 lib: mgmt_msg: fix a valgrind memleak
  lib/mgmt_msg.c
Labels: libfrr, bugfix, backport, master, size/XS

#14687 ospf6d: Set loopback interface cost to 0
  ospf6d/ospf6_interface.c
  tests/topotests/ospf6_gr_topo1/rt1/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt2/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt3/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt4/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt5/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt6/show_ipv6_route.json
  tests/topotests/ospf6_gr_topo1/rt7/show_ipv6_route.json
  tests/topotests/ospf6_loopback_cost/__init__.py
  tests/topotests/ospf6_loopback_cost/r1/frr.conf
  tests/topotests/ospf6_loopback_cost/r2/frr.conf
  tests/topotests/ospf6_loopback_cost/test_ospf6_loopback_cost.py
Labels: tests, ospfv3, backport, size/L, stable/9.0

#14343 Bgp label manual allocate label mgr
  bgpd/bgp_labelpool.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.h
  doc/user/zebra.rst
  tests/topotests/bgp_accept_own/pe1/bgpd.conf
  tests/topotests/bgp_l3vpn_label_export/__init__.py
  tests/topotests/bgp_l3vpn_label_export/r1/bgpd.conf
  tests/topotests/bgp_l3vpn_label_export/r1/ldpd.conf
  tests/topotests/bgp_l3vpn_label_export/r1/staticd.conf
  tests/topotests/bgp_l3vpn_label_export/r1/zebra.conf
  tests/topotests/bgp_l3vpn_label_export/r2/bgpd.conf
  tests/topotests/bgp_l3vpn_label_export/r2/ldpd.conf
  tests/topotests/bgp_l3vpn_label_export/r2/staticd.conf
  tests/topotests/bgp_l3vpn_label_export/r2/zebra.conf
  tests/topotests/bgp_l3vpn_label_export/test_bgp_l3vpn_label_export.py
  tests/topotests/bgp_lu_topo1/R2/labelpool.summ.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r1/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/r2/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv4_rib_sid_vpn_export_disabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv4_rib_sid_vpn_export_reenabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv6_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv6_rib_sid_vpn_export_disabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv6_rib_sid_vpn_export_reenabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv4_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv4_rib_sid_vpn_export_disabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv4_rib_sid_vpn_export_reenabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv6_rib.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv6_rib_sid_vpn_export_disabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r2/vpnv6_rib_sid_vpn_export_reenabled.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/test_bgp_vpnv4_per_nexthop_label.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
  tests/zebra/test_lm_plugin.c
  zebra/label_manager.c
  zebra/label_manager.h
  zebra/zebra_mpls_vty.c
Labels: documentation, tests, bgp, isis, zebra, libfrr, bugfix, master, size/XXL

#14661 bgpd: Enable `enforce-first-as` by default
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/bgpd/test_peer_attr.c
  tests/bgpd/test_peer_attr.py
  tests/topotests/bgp_route_server_client/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_asbr/r3/bgpd.conf
  yang/frr-bgp-neighbor.yang
Labels: tests, bgp, master, size/M

#14675 zebra: Add encap type when building packet for FPM
  zebra/rt_netlink.c
Labels: zebra, backport, master, size/S

#14700 docs: clean up some developer doc warnings
  doc/developer/northbound/demos.rst
  doc/developer/northbound/ppr-basic-test-topology.rst
  doc/developer/northbound/retrofitting-configuration-commands.rst
  doc/developer/northbound/yang-tools.rst
  doc/developer/topotests.rst
Labels: backport, master, size/M

#14699 Add missing pcep no commands
  pathd/path_pcep_cli.c
Labels: backport, master, size/M

#14388 Redistribute table bgp without copying data to the default routing table
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  doc/user/bgp.rst
  lib/log.c
  lib/route_types.txt
  lib/zebra.h
  tests/topotests/bgp_redistribute_table/__init__.py
  tests/topotests/bgp_redistribute_table/r1/bgpd.conf
  tests/topotests/bgp_redistribute_table/r1/ipv4_routes_with_all_redistribute.json
  tests/topotests/bgp_redistribute_table/r1/ipv4_routes_with_redistribute.json
  tests/topotests/bgp_redistribute_table/r1/ipv4_routes_without_redistribute.json
  tests/topotests/bgp_redistribute_table/r1/zebra.conf
  tests/topotests/bgp_redistribute_table/r2/bgpd.conf
  tests/topotests/bgp_redistribute_table/r2/zebra.conf
  tests/topotests/bgp_redistribute_table/test_bgp_redistribute_table.py
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
  zebra/zebra_rib.c
Labels: documentation, bgp, zebra, libfrr, bugfix, master, size/XL

#14546 OSPF6 point to multipoint
  doc/user/ospf6d.rst
  lib/if.h
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_interface.h
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_message.h
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_neighbor.h
  ospf6d/ospf6_route.c
  ospf6d/ospf6_snmp.c
  ospf6d/subdir.am
  tests/topotests/ospf6_ecmp_inter_area/test_ospf6_ecmp_inter_area.py
  tests/topotests/ospf6_point_to_multipoint/README.md
  tests/topotests/ospf6_point_to_multipoint/r1/ip_6_address.nhg.ref
  tests/topotests/ospf6_point_to_multipoint/r1/ip_6_address.ref
  tests/topotests/ospf6_point_to_multipoint/r1/ospf6d.conf
  tests/topotests/ospf6_point_to_multipoint/r1/show_ipv6_route.ref
  tests/topotests/ospf6_point_to_multipoint/r1/zebra.conf
  tests/topotests/ospf6_point_to_multipoint/r2/ip_6_address.nhg.ref
  tests/topotests/ospf6_point_to_multipoint/r2/ip_6_address.ref
  tests/topotests/ospf6_point_to_multipoint/r2/ospf6d.conf
  tests/topotests/ospf6_point_to_multipoint/r2/show_ipv6_route.ref
  tests/topotests/ospf6_point_to_multipoint/r2/zebra.conf
  tests/topotests/ospf6_point_to_multipoint/r3/ip_6_address.nhg.ref
  tests/topotests/ospf6_point_to_multipoint/r3/ip_6_address.ref
  tests/topotests/ospf6_point_to_multipoint/r3/ospf6d.conf
  tests/topotests/ospf6_point_to_multipoint/r3/show_ipv6_route.ref
  tests/topotests/ospf6_point_to_multipoint/r3/zebra.conf
  tests/topotests/ospf6_point_to_multipoint/r4/ip_6_address.nhg.ref
  tests/topotests/ospf6_point_to_multipoint/r4/ip_6_address.ref
  tests/topotests/ospf6_point_to_multipoint/r4/ospf6d.conf
  tests/topotests/ospf6_point_to_multipoint/r4/show_ipv6_route.ref
  tests/topotests/ospf6_point_to_multipoint/r4/zebra.conf
  tests/topotests/ospf6_point_to_multipoint/test_ospf6_point_to_multipoint.py
Labels: documentation, tests, ospfv3, libfrr, master, size/XXL, rebase
