Repository FRRouting/frr, pull requests merged in 2023-05, with the labels that each got.

#13406 startup log timestamp precision build option
  configure.ac
  lib/log_vty.c
  tests/topotests/lib/topogen.py
Labels: tests, libfrr, master, size/M

#13409 zebra:add df flag into evpn esi json output
  zebra/zebra_evpn_mh.c
Labels: zebra, master, size/XS

#13408 bgpd: add some flowspec sanity returns
  bgpd/bgp_flowspec_util.c
Labels: bgp, master, size/S

#13405 bgpd, tests: srv6 "no sid vpn export auto" per AF in vtysh
  bgpd/bgp_vty.c
  tests/topotests/bgp_srv6l3vpn_sid/ce1/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce1/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce2/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce3/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce3/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce3/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce4/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce4/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce4/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce5/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce5/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce5/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce6/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/ce6/ipv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/ce6/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/r1/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/r1/vpnv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv4_auto_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv4_auto_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv4_manual_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv4_manual_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv6_auto_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv6_auto_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv6_manual_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_afv6_manual_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf4_auto_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf4_manual_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf6_auto_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf6_manual_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf_auto_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_pervrf_manual_no_sid_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vrf20_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/r2/bgpd.conf
  tests/topotests/bgp_srv6l3vpn_sid/r2/vpnv6_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r2/vrf10_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r2/vrf20_rib.json
  tests/topotests/bgp_srv6l3vpn_sid/r2/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/test_bgp_srv6l3vpn_sid.py
Labels: tests, bgp, master, size/XXL

#13393 tests: Do not try establishing a connection from r1 to r2
  tests/topotests/bgp_bfd_down_cease_notification/r1/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/r2/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/test_bgp_bfd_down_cease_notification.py
Labels: tests, master, size/XS

#13389 pimd: Fix wrong setsockopt() call
  pimd/pim_mroute.c
Labels: pim, master, size/XS

#13377 tests: Increase the dead interval to be longer for neighbor testing
  tests/topotests/ospf_basic_functionality/ospf_lan.json
  tests/topotests/ospf_basic_functionality/test_ospf_lan.py
Labels: tests, master, size/S

#13354 babeld: add parse_request_subtlv into parse_packet
  babeld/message.c
  babeld/message.h
  babeld/util.h
Labels: babel, master, size/M

#13270 zebra: display seg6local only when specified
  zebra/zebra_rnh.c
Labels: zebra, master, size/S

#13404 isisd: fix a flex algo race condition and a minor fix
  isisd/isis_lsp.c
  isisd/isis_spf.c
  lib/flex_algo.c
  lib/flex_algo.h
Labels: isis, libfrr, bugfix, master, size/M

#13403 zebra: Fix missing VRF flag
  zebra/if_netlink.c
  zebra/interface.c
Labels: zebra, master, size/XS

#13366 ripd: add non-zero check for RIPv1 reserved field
  ripd/ripd.c
Labels: rip, master, size/XS

#13376 isisd, lib: fix flex-algo memory leak
  isisd/isis_flex_algo.c
  isisd/isis_spf.c
  isisd/isisd.c
  lib/flex_algo.c
  lib/flex_algo.h
Labels: isis, libfrr, bugfix, master, size/M

#13020 pimd: PIM not sending register packets after changing from non DR to DR
  pimd/pim_neighbor.c
  pimd/pim_oil.c
  pimd/pim_oil.h
Labels: pim, backport, master, size/M

#13422 pimd: Fix old commit that got in
  pimd/pim_oil.c
Labels: pim, master, size/XS

#13425 Revert "MPLS allocation mode per next hop"
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_vpnv4_per_nexthop_label/__init__.py
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/bgp_ipv4_routes_vrf1.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/ipv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r11/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r11/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r12/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r12/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r13/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r13/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgp_ipv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgp_vpnv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/rr/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/rr/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/test_bgp_vpnv4_per_nexthop_label.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/__init__.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgp_ipv6_routes_vrf1.json
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r11/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r11/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r12/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r12/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r13/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r13/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/bgp_vpnv6_routes.json
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/rr/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/rr/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
  zebra/zebra_mpls.c
Labels: master, size/XXL

#13357 tests: clear the ospf neighbor to force a state change
  tests/topotests/ospf_metric_propagation/r1/frr.conf
  tests/topotests/ospf_metric_propagation/r2/frr.conf
  tests/topotests/ospf_metric_propagation/r3/frr.conf
  tests/topotests/ospf_metric_propagation/r4/frr.conf
  tests/topotests/ospf_metric_propagation/ra/frr.conf
  tests/topotests/ospf_metric_propagation/rb/frr.conf
  tests/topotests/ospf_metric_propagation/rc/frr.conf
  tests/topotests/ospf_metric_propagation/test_ospf_metric_propagation.py
Labels: documentation, tests, bugfix, master, size/M

#13423 mgmtd: simplify commit id to just be a timeval string
  mgmtd/mgmt.h
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_history.c
  mgmtd/mgmt_history.h
Labels: master, size/L

#13435 pimd: replace CPP_NOTICE lines with TODO comments
  pimd/pim6_mld.c
Labels: pim, master, size/S

#13428 ripd: fix problemas
  ripd/rip_bfd.c
  ripd/rip_bfd.h
  ripd/rip_interface.c
  ripd/rip_nb_config.c
Labels: rip, bugfix, master, size/S

#13436 ospfd: Fix memory leaks w/ `show ip ospf int X json` commands
  ospfd/ospf_vty.c
Labels: ospf, bugfix, backport, master, size/XS

#13424 lib: log commands read from config file
  lib/command.c
  lib/vty.c
  lib/vty.h
Labels: libfrr, master, size/S

#13451 ldpd: changes for code maintainability
  ldpd/lde_lib.c
Labels: ldp, master, size/M

#13455 ldpd: changes for code maintainability
  ldpd/ldpe.c
Labels: ldp, master, size/M

#13440 bgpd: fix the issue of connected tag error when BGP subscribes to NHT…
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#13446 bgpd: fix show running of nt extcommunity
  bgpd/bgp_ecommunity.c
Labels: bgp, bugfix, master, size/S

#13453 Dplane memory leak
  zebra/zebra_dplane.c
Labels: zebra, master, size/M

#13464 ldpd: changes for code maintainability
  ldpd/interface.c
  ldpd/lde_lib.c
  ldpd/neighbor.c
Labels: ldp, master, size/M

#13413 zebra: re-install NHG on interface up
  lib/nexthop.c
  lib/nexthop.h
  zebra/redistribute.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
Labels: zebra, master, size/L

#13468 ripd: fix another memtype mismatch
  ripd/ripd.c
Labels: rip, bugfix, master, size/XS

#13471 bgpd: AIGP should be non-transitive
  bgpd/bgp_attr.c
  tests/topotests/bgp_aigp/r2/bgpd.conf
  tests/topotests/bgp_aigp/r3/bgpd.conf
  tests/topotests/bgp_aigp/r4/bgpd.conf
  tests/topotests/bgp_aigp/r5/bgpd.conf
  tests/topotests/bgp_aigp/r6/bgpd.conf
  tests/topotests/bgp_aigp/r7/bgpd.conf
  tests/topotests/bgp_aigp/test_bgp_aigp.py
Labels: tests, bgp, master, size/M

#13437 bgpd: Fixing the show bgp <vrf> <afi> <safi> detail command
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: documentation, bgp, master, size/L

#13445 zebra: Reduce creation and fix memory leak of frrscripting pointers
  zebra/zebra_rib.c
Labels: zebra, bugfix, backport, master, size/M

#13483 zebra: Reduce creation and fix memory leak of frrscripting pointers
  zebra/zebra_rib.c
Labels: zebra, bugfix, size/M, stable/8.5

#13475 lib: Fix memory leaks in Link State library (backport)
  lib/link_state.c
Labels: libfrr, size/S, stable/8.5

#13460 tests: remove sleep ospf test
  tests/topotests/ospf_metric_propagation/test_ospf_metric_propagation.py
Labels: tests, master, size/S

#13438 tests: removing un used loopback interface from bgp admin dist.
  tests/topotests/bgp_distance_change/bgp_admin_dist_vrf.json
Labels: tests, master, size/M

#13488 doc: python, required by clippy, is no longer a non-essential tool
  doc/developer/workflow.rst
Labels: documentation, master, size/XS

#13486 doc: Add `neighbor aigp` command for BGP
  doc/user/bgp.rst
Labels: documentation, backport, master, size/XS

#13479 [WIP] ospfd: opsf_abr.c memory leak fix, free unused range
  ospfd/ospf_abr.c
Labels: ospf, master, size/XS

#13497 doc: Add `neighbor aigp` command for BGP
  doc/user/bgp.rst
Labels: documentation, size/XS, stable/8.5

#13485 ospfd: Respect loopback's cost that is set and set loopback costs to 0
  ospfd/ospf_interface.c
  ospfd/ospf_lsa.c
Labels: ospf, bugfix, backport, master, size/XS

#13495 tests: update to munet 0.13.3, restoring GNU screen functionality
  tests/topotests/lib/micronet_compat.py
  tests/topotests/munet/base.py
Labels: tests, master, size/S

#13489 ospfd: OSPF opaque LSA stale processing fix and topotests.
  ospfd/ospf_apiserver.c
  ospfd/ospf_opaque.c
  ospfd/ospf_packet.c
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: ospf, bugfix, backport, master, size/L

#13490 tests: improve log messages, clear neighbors to avoid bad state
  tests/topotests/lib/ospf.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: tests, master, size/M

#13430 ripd: Implement allow-ecmp X command
  doc/user/ripd.rst
  ripd/rip_cli.c
  ripd/rip_nb_config.c
  ripd/rip_zebra.c
  ripd/ripd.c
  ripd/ripd.h
  tests/topotests/rip_allow_ecmp/r4/frr.conf
  tests/topotests/rip_allow_ecmp/r5/frr.conf
  tests/topotests/rip_allow_ecmp/test_rip_allow_ecmp.py
  yang/example/ripd.json
  yang/example/ripd.xml
  yang/frr-ripd.yang
Labels: documentation, tests, rip, master, size/L

#13517 ospfd: Fix ospf_ti_lfa memory leak
  ospfd/ospf_ti_lfa.c
Labels: master, size/XS

#13518 tools: config clang-format to allow aligned macros
  .clang-format
Labels: tools, master, size/XS, rebase

#13463 Mpls allocatio mode per nexthop
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_vpnv4_per_nexthop_label/__init__.py
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/bgp_ipv4_routes_vrf1.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/ipv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r1/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r11/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r11/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r12/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r12/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r13/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r13/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgp_ipv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgp_vpnv4_routes.json
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/r2/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/rr/bgpd.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/rr/zebra.conf
  tests/topotests/bgp_vpnv4_per_nexthop_label/test_bgp_vpnv4_per_nexthop_label.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/__init__.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgp_ipv6_routes_vrf1.json
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r11/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r11/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r12/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r12/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r13/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r13/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/bgp_vpnv6_routes.json
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r2/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/rr/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/rr/zebra.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
  zebra/zebra_mpls.c
Labels: documentation, bgp, zebra, bugfix, master, size/XXL

#13444 zebra: Fix dp_out_queued counter to actually reflect real life
  zebra/zebra_dplane.c
Labels: zebra, backport, master, size/S

#13522 tests: improve bgp test determinism
  tests/topotests/bgp_features/test_bgp_features.py
Labels: tests, master, size/S

#13439 pimd: Use macro for pimreg interface
  pimd/pim_iface.c
Labels: pim, master, size/XS

#13528 Revert "tools: config clang-format to allow aligned macros"
  .clang-format
Labels: master, size/XS

#12050 Don't disable redirected files when running in daemon mode. Also add topotest flag to report memory allocations on exit logged to stderr
  doc/developer/building-frr-for-ubuntu2204.rst
  doc/developer/topotests.rst
  lib/libfrr.c
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  tests/topotests/conftest.py
  tests/topotests/lib/topotest.py
Labels: documentation, libfrr, bugfix, master, size/L

#13526 bgpd: Show the real table version for a decent peer subgroup
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  tests/topotests/evpn_pim_1/spine/bgp.summ.json
Labels: tests, bgp, master, size/S

#13529 topotests: fix bgp_vpnv6_per_nexthop, syncing with bgp rib
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgp_ipv6_routes_vrf1.json
  tests/topotests/bgp_vpnv6_per_nexthop_label/r1/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r11/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/r13/bgpd.conf
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
Labels: bugfix, master, size/M

#13543 Clear up clear command
  tests/topotests/lib/topojson.py
  tests/topotests/ospf_basic_functionality/test_ospf_asbr_summary_topo1.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
Labels: tests, master, size/S

#13547 doc: document optionally required packages
  doc/developer/topotests.rst
Labels: documentation, master, size/S

#13546 tests: fix pylint error, and update style in lib/*.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/bgprib.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/lutil.py
  tests/topotests/lib/pim.py
  tests/topotests/lib/test/test_json.py
  tests/topotests/lib/topojson.py
Labels: tests, bugfix, master, size/M

#13541 tests: fix implicit config file and recently added logic error
  tests/topotests/bgp_auth/test_bgp_auth1.py
  tests/topotests/bgp_auth/test_bgp_auth2.py
  tests/topotests/bgp_auth/test_bgp_auth3.py
  tests/topotests/bgp_auth/test_bgp_auth4.py
  tests/topotests/lib/topotest.py
  tests/topotests/pytest.ini
Labels: tests, bugfix, master, size/S

#13369 lib : fix duplicate prefix list delete
  lib/plist.c
  tests/topotests/bgp_prefix_list_topo1/prefix_modify.json
  tests/topotests/bgp_prefix_list_topo1/test_prefix_modify.py
Labels: tests, libfrr, bugfix, master, size/XL

#13544 zebra: Fix build error when FRR is built with the `--disable-bfdd` option
  zebra/zebra_ptm.c
Labels: zebra, backport, master, size/XS

#13553 mgmtd: fix uninit warning and cleanup history error messages
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_history.c
Labels: bugfix, master, size/M

#13549 doc: configure: add configure option to generate .ccls file
  .gitignore
  configure.ac
  doc/user/installation.rst
Labels: documentation, master, size/M

#13562 doc: remove non-existent configure option
  doc/developer/include-compile.rst
Labels: documentation, master, size/XS

#13559 tests: Ignore utf-8 decoding errors
  tests/topotests/munet/cli.py
Labels: tests, master, size/XS

#13565 tests: munet to version 0.13.4
  tests/topotests/munet/cli.py
Labels: tests, master, size/XS

#13567 bgpd: Initialize pfx_buf to zeros before using in bgp_path_info_cmp()
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi_import.c
Labels: bgp, master, size/XS

#13568 tests: Fix timers command for bgp_disable_addpath_rx test
  tests/topotests/bgp_disable_addpath_rx/r1/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r2/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r3/bgpd.conf
  tests/topotests/bgp_disable_addpath_rx/r4/bgpd.conf
Labels: tests, master, size/XS

#13566 tests: have ananlyze.py `chown -R $SUDO_USER` when copying results
  tests/topotests/analyze.py
Labels: tests, master, size/XS

#13563 tests: pytest does not like return True from a test
  tests/topotests/bgp_remove_private_as/test_bgp_remove_private_as.py
Labels: tests, master, size/XS

#13564 bgpd: aggregate route best path select and other fixes
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/S

#13506 bfdd: Fix malformed session with vrf
  bfdd/bfd_packet.c
Labels: bfd, master, size/XS

#13570 Grab bag of fixes from upgrading system
  lib/printf/glue.c
  tests/topotests/bgp_default_originate/test_bgp_default_originate_2links.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
  tests/topotests/lib/ospf.py
  tests/topotests/lib/topojson.py
  zebra/zebra_dplane.c
Labels: tests, bgp, zebra, libfrr, master, size/S

#13535 ripng: Implement allow-ecmp X command
  doc/user/ripngd.rst
  ripngd/ripng_cli.c
  ripngd/ripng_main.c
  ripngd/ripng_nb_config.c
  ripngd/ripng_zebra.c
  ripngd/ripngd.c
  ripngd/ripngd.h
  tests/topotests/ripng_allow_ecmp/__init__.py
  tests/topotests/ripng_allow_ecmp/r1/frr.conf
  tests/topotests/ripng_allow_ecmp/r2/frr.conf
  tests/topotests/ripng_allow_ecmp/r3/frr.conf
  tests/topotests/ripng_allow_ecmp/r4/frr.conf
  tests/topotests/ripng_allow_ecmp/r5/frr.conf
  tests/topotests/ripng_allow_ecmp/test_ripng_allow_ecmp.py
  yang/frr-ripngd.yang
Labels: documentation, tests, ripng, master, size/L

#13578 ripd: Use argv_find to avoid buffer overflow when parsing allow-ecmp args
  ripd/rip_cli.c
Labels: rip, master, size/XS

#13556 memory desciprtion shortening
  bfdd/bfdd.c
  lib/grammar_sandbox.c
  lib/mgmt_be_client.c
  mgmtd/mgmt_memory.c
  zebra/zebra_ptm.c
Labels: zebra, bfd, libfrr, master, size/M

#13586 doc: fix typo RFC7572 to RFC7752
  doc/developer/link-state.rst
Labels: documentation, bugfix, master, size/XS, rebase

#13592 munet: import 0.13.5 w/ nicer cmd logging
  tests/topotests/lib/topotest.py
  tests/topotests/munet/base.py
Labels: master, size/M

#13598 vtysh: Fix typo in warning message for `-b -f ...`
  vtysh/vtysh_main.c
Labels: vtysh, master, size/XS

#13594 tests: cleanup unified config and config arg
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests, master, size/M

#13599 tests: allow selecting test results by regexp match
  doc/developer/topotests.rst
  tests/topotests/analyze.py
Labels: tests, master, size/L

#13607 tests: ospfapi: fix non-determinism in test
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: tests, bugfix, master, size/M

#13608 vtysh: Give actual pam error messages
  vtysh/vtysh_user.c
Labels: vtysh, backport, master, size/S

#13611 tests: Convert to using logger.warning
  tests/topotests/lib/topotest.py
Labels: tests, master, size/XS

#13602 bgpd: Refactor subgroup_announce_table() to reuse an existing helpers
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/M

#13414 rework messaging, resource handling in mgmtd with bug fix and code hardening
  lib/command.c
  lib/libfrr.c
  lib/libfrr.h
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt.c
  mgmtd/mgmt.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_be_server.c
  mgmtd/mgmt_be_server.h
  mgmtd/mgmt_defines.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_fe_server.c
  mgmtd/mgmt_fe_server.h
  mgmtd/mgmt_main.c
  mgmtd/mgmt_memory.c
  mgmtd/mgmt_memory.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_vty.c
  mgmtd/subdir.am
  staticd/static_main.c
  tests/helpers/c/main.c
  tests/topotests/lib/topotest.py
  tests/topotests/mgmt_startup/r1/mgmtd.conf
  tests/topotests/mgmt_startup/r1/zebra.conf
  tests/topotests/mgmt_startup/r2/staticd.conf
  tests/topotests/mgmt_startup/r2/zebra.conf
  tests/topotests/mgmt_startup/r3/zebra.conf
  tests/topotests/mgmt_startup/r4/frr.conf
  tests/topotests/mgmt_startup/test_bigconf.py
  tests/topotests/mgmt_startup/test_config.py
  tests/topotests/mgmt_startup/test_late_bigconf.py
  tests/topotests/mgmt_startup/test_late_uniconf.py
  tests/topotests/mgmt_startup/test_latestart.py
  tests/topotests/mgmt_startup/util.py
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_vxlan.c
Labels: documentation, tests, staticd, zebra, libfrr, bugfix, master, size/XXL

#13601 build: fix missing YANG model embedding
  mgmtd/subdir.am
  ripd/subdir.am
Labels: rip, bugfix, master, size/XS

#13635 tests: Actually loop if ping fails
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/test_bgp_srv6l3vpn_to_bgp_vrf3.py
Labels: tests, master, size/XS

#13634 bgpd: fix bgpd core when unintern attr
  bgpd/bgp_attr.c
Labels: bgp, bugfix, backport, master, size/XS

#13639 ospfd, ospf6d: fix time_t truncation
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_gr.h
  ospfd/ospf_gr.c
  ospfd/ospf_gr.h
Labels: ospf, ospfv3, bugfix, master, size/XS

#13632 mgmtd: fix possible race btw read config and backend connection
  mgmtd/mgmt.c
  mgmtd/mgmt_vty.c
Labels: bugfix, master, size/M
