Repository FRRouting/frr, pull requests merged in 2024-05, with the labels that each got.

#15874 bgpd: fix covery ID 1585206
  bgpd/bgp_fsm.c
Labels: bgp, bugfix, master, size/S

#15892 zebra: Ensure proper decoding of netlink message
  zebra/fpm_listener.c
  zebra/kernel_netlink.c
Labels: zebra, master, size/S

#15890 lib: fix build error on MacOS
  lib/compiler.h
  lib/memory.h
Labels: libfrr, bugfix, master, size/M

#15891 pathd: retry label-manager connection asynchronously
  pathd/path_main.c
  pathd/path_zebra.c
Labels: bugfix, master, size/M, pathd, rebase

#15837 fix use of deprecated c-ares api
  lib/resolver.c
Labels: libfrr, master, size/M

#15901 zebra: clean up one comment
  zebra/if_netlink.c
Labels: zebra, master, size/XS

#15904 tests: remove reliance on time.sleep
  tests/topotests/mgmt_oper/oper.py
  tests/topotests/mgmt_oper/test_oper.py
  tests/topotests/mgmt_oper/test_scale.py
Labels: tests, master, size/M

#15914 build: exclude deprecated decls from -Werror
  configure.ac
Labels: master, size/XS

#15607 zebra: bridge flap handle vlan membership update
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_l2.c
  zebra/zebra_vxlan_if.c
Labels: zebra, master, size/M

#15917 isisd: adjust the format of display command
  isisd/isis_adjacency.c
  isisd/isisd.c
Labels: isis, master, size/XS

#15932 8.4: cherry-pick build fixes
  bgpd/bgp_vty.h
  lib/resolver.c
  ospf6d/ospf6_intra.c
Labels: bgp, ospfv3, libfrr, bugfix, stable/8.4

#15921 bgpd: Fix crash when deleting the SRv6 locator
  bgpd/bgp_zebra.c
Labels: bgp, backport, master, size/XS

#15924 bgpd: [GR] fix mode change vtysh return code
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/S

#15933 8.4: backport #15431 and #14716
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_packet.c
  ospfd/ospf_te.c
Labels: bgp, ospf, stable/8.4

#15915 lib, gcc-plugin: fix 64-bit time_t prints
  lib/northbound_oper.c
  tools/gcc-plugins/frr-format.c
Labels: libfrr, bugfix, master, size/S

#15889 build: link libatomic if available
  configure.ac
Labels: master, size/XS

#15594 mgmtd: implement YANG RPC/action support
  lib/mgmt.proto
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg_native.c
  lib/mgmt_msg_native.h
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/northbound_grpc.cpp
  lib/northbound_sysrepo.c
  lib/vty.c
  lib/vty.h
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_memory.c
  mgmtd/mgmt_memory.h
  mgmtd/mgmt_testc.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  ripd/rip_cli.c
  ripd/rip_nb_rpcs.c
  ripd/ripd.c
  ripd/subdir.am
  ripngd/ripng_cli.c
  ripngd/ripng_nb_rpcs.c
  ripngd/ripngd.c
  ripngd/subdir.am
  tests/lib/northbound/test_oper_data.c
  tests/lib/northbound/test_oper_data.in
  tests/lib/northbound/test_oper_data.refout
  tests/topotests/mgmt_rpc/r1/frr.conf
  tests/topotests/mgmt_rpc/test_rpc.py
  yang/frr-test-module.yang
  zebra/zebra_nb_rpcs.c
  zebra/zebra_vty.c
Labels: tests, ripng, rip, libfrr, bugfix, mgmt, master, size/XXL

#15883 bgpd: Apply NOOP when doing negative commands for GR operations
  bgpd/bgp_fsm.c
  bgpd/bgpd.c
Labels: bgp, backport, master, size/S

#15846 ospfd: fix the bug where ip_ospf_dead-interval_minimal_hello-multiplier did not reset hello timer
  ospfd/ospf_vty.c
Labels: ospf, backport, master, size/XS, rebase

#15872 vtysh: Show `ip ospf network ...` even if it's not the same as the interface type
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
Labels: vtysh, bugfix, size/M, stable/9.0

#15895 bgpd: Ignore validating the attribute flags if path-attribute is configured
  bgpd/bgp_attr.c
  tests/topotests/bgp_path_attribute_discard/peer1/exabgp.cfg
  tests/topotests/bgp_path_attribute_discard/r1/bgpd.conf
  tests/topotests/bgp_path_attribute_discard/r1/frr.conf
  tests/topotests/bgp_path_attribute_discard/r1/zebra.conf
  tests/topotests/bgp_path_attribute_discard/r2/frr.conf
  tests/topotests/bgp_path_attribute_discard/test_bgp_path_attribute_discard.py
Labels: tests, bgp, backport, master, size/L

#15899 ospf6d: Fix nexthop computation for inter-area multi-ABR ECMP
  ospf6d/ospf6_abr.c
  tests/topotests/ospf6_ecmp_inter_area/r5/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r6/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r7/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r7/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r8/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r8/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/r9/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r9/zebra.conf
  tests/topotests/ospf6_ecmp_inter_area/test_ospf6_ecmp_inter_area.py
Labels: tests, ospfv3, master, size/L

#15913 bgpd: Fix `no set as-path prepend ASNUM...`
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, backport, master, size/S

#15945 isisd: fix the display topology command
  isisd/isis_spf.c
Labels: isis, bugfix, master, size/XS

#15944 if: fix same connected address
  lib/if.c
Labels: bugfix, master, size/S

#15922 isisd: remove unnecessary checkings for vrf
  isisd/isis_spf.c
  isisd/isis_te.c
  isisd/isisd.c
Labels: isis, master, size/L

#15627 ospf6d: Fix metric when sending AS-external LSAs
  ospf6d/ospf6_abr.h
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_asbr.h
  ospf6d/ospf6_route.h
  ospf6d/ospf6_zebra.c
Labels: ospfv3, master, size/L, rebase

#15947 isisd: fix json display for database command
  isisd/isis_lsp.c
  isisd/isisd.c
Labels: isis, bugfix, master, size/S

#15885 build: get rid of "unrecognized … anon-tag"
  configure.ac
Labels: master, size/S

#15950 bgpd: bmp rename tlv types
  bgpd/bgp_bmp.c
Labels: bgp, master, size/S

#15942 doc: fix one command for isis
  doc/user/isisd.rst
Labels: documentation, bugfix, master, size/S

#15962 lib: stick `XREF_SETUP` into libfrrzmq
  lib/frr_zmq.c
Labels: libfrr, master, size/XS

#15920 zebra: fix EVPN svd based remote nh neigh del
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, backport, master, size/S

#15972 build: make clang-format ignore DEFUN/DEFPY
  .clang-format
Labels: master, size/S

#15967 bgpd: Remove redundant recursion flag variable
  bgpd/bgp_zebra.c
Labels: bgp, master, size/XS

#15965 bgpd: Fix SRv6 memory leaks spotted by Address Sanitizer
  bgpd/bgpd.c
Labels: bgp, backport, master, size/M

#15977 tests: fix mis-spelled `cryptographic-algorithm` keyword in test
  tests/topotests/key_sendaccept/test_keychain.py
Labels: tests, bugfix, master, size/XS

#15975 pimd: fixes split off from #15969
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_register.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  yang/frr-pim.yang
Labels: pim, bugfix, backport, master, size/M

#15974 mgmtd: add missing diagnostic show cmd output (notify maps)
  mgmtd/mgmt_be_adapter.c
Labels: mgmt, master, size/S

#15986 zebra: add some more netlink RTA_ strings
  zebra/debug_nl.c
Labels: zebra, master, size/XS

#15976 build: throw in a few more `XREF_SETUP`
  grpc/frrgrpc_pb.c
  grpc/subdir.am
  mlag/mlag_pb.c
  mlag/subdir.am
Labels: master, size/S

#15968 Parse attr problems
  zebra/fpm_listener.c
  zebra/rt_netlink.c
Labels: zebra, master, size/L

#15990 pimd: fixes split off from #15969 (backport #15975)
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_register.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  yang/frr-pim.yang
Labels: pim, bugfix, size/M, stable/8.5

#15992 pimd: fixes split off from #15969 (backport #15975)
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_ifchannel.c
  pimd/pim_register.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  yang/frr-pim.yang
Labels: pim, bugfix, stable/8.4

#15655 isisd: fix ip/ipv6 reachability tlvs
  isisd/isis_tlvs.c
Labels: isis, bugfix, backport, master, size/S

#15961 lib: Allow doing match/set tag untagged
  doc/user/ripngd.rst
  doc/user/routemap.rst
  lib/routemap_cli.c
  tests/topotests/bgp_route_map_match_tag_untagged/__init__.py
  tests/topotests/bgp_route_map_match_tag_untagged/r1/frr.conf
  tests/topotests/bgp_route_map_match_tag_untagged/test_bgp_route_map_match_tag_untagged.py
  yang/frr-route-map.yang
Labels: tests, libfrr, master, size/L

#15911 bgpd: per-neighbor dampening support
  bgpd/bgp_damp.c
  bgpd/bgp_damp.h
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_dampening_per_peer/__init__.py
  tests/topotests/bgp_dampening_per_peer/r1/frr.conf
  tests/topotests/bgp_dampening_per_peer/r2/frr.conf
  tests/topotests/bgp_dampening_per_peer/test_bgp_dampening_per_peer.py
Labels: documentation, tests, bgp, bugfix, master, size/XXL

#16003 bgpd: fix colored nexthops resolution
  bgpd/bgp_nht.c
Labels: bgp, bugfix, master, size/XS

#16007 bgpd: fixes bmp stats send-experimental configuration
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, master, size/XS

#15973 lib, vtysh: fix 'show ip[v6] access-list ... json' formatting
  lib/filter.c
  tests/topotests/nb_config/test_nb_config.py
  vtysh/vtysh.c
  vtysh/vtysh.h
Labels: vtysh, libfrr, bugfix, master, size/L

#15876 python: add tool to expand typesafe definitions
  .gitignore
  lib/atomlist.h
  lib/typerb.h
  lib/typesafe.h
  python/tsexpand.py
Labels: clippy, master, size/L

#16006 bgpd: fix colored routes not installed after a switchover
  bgpd/bgp_nht.c
Labels: bgp, bugfix, master, size/XS

#16008 zebra: include route source set by route-map in show output
  zebra/rt_netlink.c
  zebra/zebra_rnh.c
  zebra/zebra_rnh.h
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#16014 Nexthop display rework
  lib/nexthop.c
  lib/nexthop.h
  zebra/zebra_rnh.c
Labels: zebra, libfrr, bugfix, master, size/XL

#16020 bgpd: fix dynamic peer graceful restart race condition
  bgpd/bgp_fsm.c
Labels: bgp, bugfix, backport, master, size/XS

#16024 tests: embed YANG in mgmtd unit-test bin
  tests/lib/subdir.am
Labels: tests, master, size/XS

#16001 zebra: Update Zebra DPDK >=22.11 API
  zebra/dpdk/zebra_dplane_dpdk.c
  zebra/dpdk/zebra_dplane_dpdk.h
Labels: zebra, master, size/M

#16012 tests: improve the grpc query client and topotest
  tests/topotests/grpc_basic/test_basic_grpc.py
  tests/topotests/lib/grpc-query.py
Labels: tests, master, size/L

#16009 zebra: fix wrong fpm packet header
  zebra/fpm_listener.c
Labels: zebra, bugfix, master, size/XS

#16019 zebra: fix mpls command
  zebra/zebra_mpls.c
  zebra/zebra_mpls_vty.c
Labels: zebra, bugfix, backport, master, size/S

#16034 bgpd: backpressure - Fix to withdraw evpn type-5 routes immediately
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
Labels: bgp, master, size/S

#16035 bgpd: backpressure - Fix to avoid CPU hog
  bgpd/bgp_evpn.c
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#16033 bgpd: Fix logging message when receiving a software version capability
  bgpd/bgp_open.c
Labels: bgp, backport, master, size/XS

#16022 bgpd: Fix `match peer` when switching between IPv4/IPv6/interface
  bgpd/bgp_routemap.c
Labels: bgp, backport, master, size/M

#15980 *: Modify agentx to be allowed to be called
  bgpd/bgp_main.c
  eigrpd/eigrp_main.c
  isisd/isis_main.c
  ldpd/ldpd.c
  lib/agentx.c
  lib/libagentx.c
  lib/libagentx.h
  lib/smux.h
  lib/subdir.am
  ospf6d/ospf6_main.c
  ospfd/ospf_main.c
  python/xref2vtysh.py
  ripd/rip_main.c
  zebra/main.c
Labels: bugfix, backport, master, size/L

#16052 Show ip route summary
  doc/user/zebra.rst
Labels: documentation, master, size/M

#16032 zebra: Deny the routes if ip protocol CLI refers to an undefined rmap
  zebra/zebra_routemap.c
Labels: zebra, backport, master, size/XS

#16069 isisd: fix show isis algorithm
  isisd/isis_spf.c
  isisd/isis_sr.c
Labels: isis, bugfix, master, size/XS

#16021 isisd: fix heap-after-free with prefix sid
  isisd/isis_spf.c
Labels: isis, bugfix, backport, master, size/XS

#16044 bgpd: fix route leaking from the default l3vrf
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/zebra-vrf-ray.txt
Labels: tests, bgp, bugfix, backport, master, size/S

#16070 bgpd: Return success if lcomm/comm/extcomm name or entry is not found
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_vty.c
Labels: bgp, master, size/L

#16089 doc: add missing required newline in .rst formatting
  doc/developer/topotests.rst
Labels: documentation, master, size/XS

#16075 ospfd: add instance id for one command
  doc/user/ospfd.rst
  ospfd/ospf_vty.c
Labels: documentation, ospf, master, size/S

#16055 Cleanup some OSPF6_LSA_ macros
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_asbr.c
  ospf6d/ospf6_gr.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_lsdb.c
  ospf6d/ospf6_message.c
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_snmp.c
  ospf6d/ospf6_spf.c
Labels: ospfv3, bugfix, master, size/L

#15082 lib: take into account the Linux IFF_LOWER_UP flag
  include/linux/compiler_types.h
  include/linux/if.h
  include/linux/libc-compat.h
  include/subdir.am
  lib/if.c
  tests/topotests/all_protocol_startup/r1/show_ip_ospf_interface.ref
  tests/topotests/nhrp_topo/test_nhrp_topo.py
  tests/topotests/ospf_basic_functionality/test_ospf_single_area.py
  zebra/fpm_listener.c
Labels: isis, zebra, nhrp, bfd, libfrr, bugfix, master, size/XL

#15873 vtysh: Show `ip ospf network ...` even if it's not the same as the interface type
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_vty.c
Labels: vtysh, bugfix, size/M, stable/8.5

#16096 ospfd: Solved crash in RI parsing with OSPF TE (backport #15674)
  ospfd/ospf_te.c
Labels: ospf, size/M, stable/8.5

#16097 bgpd: Make sure we have enough data to handle extended link bandwidth
  bgpd/bgp_ecommunity.c
Labels: bgp, master, size/M

#16098 ospf6d: OSPFv3 route change comparision fixed for ASBR-only change
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_route.h
Labels: ospfv3, backport, master, size/XS

#16102 yang: use relative path instead of absolute one for route-map
  yang/frr-bgp-route-map.yang
  yang/frr-ospf-route-map.yang
  yang/frr-ospf6-route-map.yang
Labels: yang, master, size/L

#16109 tests: Fix zebra_seg6_route
  tests/topotests/zebra_seg6_route/r1/routes_setup.json
  tests/topotests/zebra_seg6_route/test_zebra_seg6_route.py
Labels: tests, master, size/M

#15879 nhrpd: fixes core dump on shutdown
  nhrpd/nhrp_main.c
  tests/topotests/nhrp_redundancy/r1/nhrp_cache.json
  tests/topotests/nhrp_redundancy/r1/nhrp_route.json
  tests/topotests/nhrp_redundancy/r1/nhrpd.conf
  tests/topotests/nhrp_redundancy/r1/zebra.conf
  tests/topotests/nhrp_redundancy/r2/nhrp_cache.json
  tests/topotests/nhrp_redundancy/r2/nhrp_route.json
  tests/topotests/nhrp_redundancy/r2/nhrpd.conf
  tests/topotests/nhrp_redundancy/r2/zebra.conf
  tests/topotests/nhrp_redundancy/r3/nhrp_cache.json
  tests/topotests/nhrp_redundancy/r3/nhrp_route.json
  tests/topotests/nhrp_redundancy/r3/nhrpd.conf
  tests/topotests/nhrp_redundancy/r3/zebra.conf
  tests/topotests/nhrp_redundancy/r4/nhrp_cache.json
  tests/topotests/nhrp_redundancy/r4/nhrp_route.json
  tests/topotests/nhrp_redundancy/r4/nhrp_route_shortcut.json
  tests/topotests/nhrp_redundancy/r4/nhrpd.conf
  tests/topotests/nhrp_redundancy/r4/zebra.conf
  tests/topotests/nhrp_redundancy/r5/nhrp_cache.json
  tests/topotests/nhrp_redundancy/r5/nhrp_route.json
  tests/topotests/nhrp_redundancy/r5/nhrpd.conf
  tests/topotests/nhrp_redundancy/r5/zebra.conf
  tests/topotests/nhrp_redundancy/r6/zebra.conf
  tests/topotests/nhrp_redundancy/r7/zebra.conf
  tests/topotests/nhrp_redundancy/test_nhrp_redundancy.dot
  tests/topotests/nhrp_redundancy/test_nhrp_redundancy.py
Labels: tests, nhrp, backport, master, size/XXL, rebase

#16122 tests: fix duplicates in bgp_vrf_route_leak_basic
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: size/L, stable/10.0

#16124 Fix grpc-client parallel run and other small test fixes
  tests/topotests/analyze.py
  tests/topotests/bgp_nexthop_mp_ipv4_6/test_nexthop_mp_ipv4_6.py
  tests/topotests/lib/grpc-query.py
  tests/topotests/pim_igmp_vrf/r1/ospf_blue_route.json
  tests/topotests/pim_igmp_vrf/r1/ospf_red_route.json
  tests/topotests/pim_igmp_vrf/r1/ospfd.conf
  tests/topotests/pim_igmp_vrf/r1/pimd.conf
  tests/topotests/pim_igmp_vrf/r11/ospfd.conf
  tests/topotests/pim_igmp_vrf/r12/ospfd.conf
  tests/topotests/pim_igmp_vrf/test_pim_vrf.py
Labels: master, size/L

#16125 lib: make `python/ts_expand.py` actually work
  lib/atomlist.h
Labels: master, size/XS

#16115 pimd: fix crash when mixing ssm/any-source joins
  pimd/pim_igmpv3.c
Labels: backport, master, size/XS

#16111 ospf6d: Prevent heap-buffer-overflow with unknown type
  ospf6d/ospf6_gr_helper.c
Labels: backport, master, size/XS
