Repository FRRouting/frr, pull requests merged in 2024-10, with the labels that each got.

#16955 pimd: fix missing IPV4 check
  pimd/pim_iface.c
Labels: pim, bugfix, master, size/L

#16952 tools: fix missing check interfaces for reloading pim
  tools/frr-reload.py
Labels: tools, bugfix, master, size/S

#16961 Mp info changes
  bgpd/bgp_mpath.c
  bgpd/bgp_mpath.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  tests/bgpd/subdir.am
  tests/bgpd/test_mpath.c
  tests/bgpd/test_mpath.py
  tests/topotests/bgp_default_originate/test_bgp_default_originate_2links.py
Labels: tests, bgp, master, size/XXL

#16967 lib: nexthop code should use uint16_t for nexthop counting
  lib/nexthop_group.c
  lib/nexthop_group.h
Labels: libfrr, master, size/S

#16971 bgpd: Actually make ` --v6-with-v4-nexthops` it work
  bgpd/bgp_main.c
  doc/user/bgp.rst
Labels: bgp, bugfix, backport, master, size/M

#16977 bgpd: fix printfrr_bp for non initialized peers
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/XS

#16978 bgpd: Remove unused bgp_mp_dmed_deselect function
  bgpd/bgp_mpath.c
  bgpd/bgp_mpath.h
Labels: bgp, master, size/S

#16989 bgpd: Print debug message about reaching maximum allowed multi paths
  bgpd/bgp_mpath.c
Labels: bgp, bugfix, master, size/XS

#16992 bgpd: changes for code maintainability
  bgpd/bgp_pbr.c
Labels: bgp, master, size/L

#16993 bfdd: add no variants to all configurations
  bfdd/bfdd_cli.c
  lib/bfd.h
Labels: bfd, libfrr, master, size/S

#16994 bgpd: export labels to pre-policy bmp
  bgpd/bgp_bmp.c
Labels: bgp, master, size/S

#17000 zebra: Fix crash during reconnect
  zebra/dplane_fpm_nl.c
Labels: zebra, backport, master, size/XS

#17010 tools: fix some special commands for reloading pim
  tools/frr-reload.py
Labels: tools, bugfix, master, size/XS

#17012 zebra: remove unused function rib_lookup_ipv4
  zebra/rib.h
  zebra/zebra_rib.c
Labels: zebra, master, size/M

#17013 Removal functions
  lib/log.c
  lib/zclient.h
  zebra/if_netlink.c
  zebra/if_netlink.h
  zebra/tc_netlink.c
  zebra/tc_netlink.h
  zebra/zapi_msg.c
  zebra/zebra_trace.h
Labels: zebra, libfrr, master, size/L

#17015 lib: add flag to have libyang load internal ietf-yang-library module
  lib/grammar_sandbox_main.c
  lib/libfrr.c
  lib/libfrr.h
  lib/northbound.c
  lib/northbound.h
  lib/yang.c
  lib/yang.h
  lib/yang_translator.c
  mgmtd/mgmt.c
  mgmtd/mgmt_main.c
  tests/bgpd/test_peer_attr.c
  tests/helpers/c/main.c
  tests/isisd/test_isis_spf.c
  tests/lib/cli/common_cli.c
  tests/lib/cli/test_commands.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/test_grpc.cpp
  tools/gen_northbound_callbacks.c
  tools/gen_yang_deviations.c
Labels: libfrr, master, size/M

#17024 pimd: fix a possible crash when enabling debug autorp
  pimd/pim_autorp.c
Labels: pim, bugfix, master, size/XS

#17014 isisd: fix wrong check for MT commands
  isisd/isis_nb_config.c
Labels: isis, bugfix, backport, master, size/XS

#17022 vrrpd: iterate over all ancillary messages
  vrrpd/vrrp_packet.c
Labels: bugfix, vrrp, backport, master, size/XS

#16941 bgpd: Relax the same prefix and nexthop to be valid
  bgpd/bgp_nht.c
  tests/topotests/bgp_basic_functionality_topo1/test_bgp_basic_functionality.py
  tests/topotests/bgp_self_prefix/__init__.py
  tests/topotests/bgp_self_prefix/r1/frr.conf
  tests/topotests/bgp_self_prefix/r2/frr.conf
  tests/topotests/bgp_self_prefix/r3/frr.conf
  tests/topotests/bgp_self_prefix/test_bgp_self_prefix.py
Labels: tests, bgp, bugfix, master, size/L

#16942 TI-LFA incorrectly included pseudo-nodes when calculating PQ space.
  isisd/isis_lfa.c
Labels: isis, master, size/XS, rebase

#16945 bgpd: Show unmodified version of received-routes per neighbor
  bgpd/bgp_route.c
  tests/topotests/bgp_received_routes_with_soft_inbound/__init__.py
  tests/topotests/bgp_received_routes_with_soft_inbound/r1/frr.conf
  tests/topotests/bgp_received_routes_with_soft_inbound/r2/frr.conf
  tests/topotests/bgp_received_routes_with_soft_inbound/test_bgp_received_routes_with_soft_inbound.py
Labels: tests, bgp, master, size/L

#17009 Pw cleanup
  zebra/zebra_pw.c
  zebra/zebra_pw.h
  zebra/zebra_rib.c
Labels: zebra, master, size/M

#17023 zebra: Allow dplane to pass larger number of nexthops down to dataplane
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_nexthop.h
  bgpd/bgp_nht.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
Labels: zebra, master, size/M

#17042 zebra: Fix crash in pw code
  zebra/zebra_pw.c
Labels: zebra, bugfix, backport, master, size/XS

#17002 bfdd, yang: change bfd timer and multiplier values
  bfdd/bfdd_cli.c
  doc/user/bfd.rst
  yang/frr-bfdd.yang
Labels: documentation, bfd, yang, master, size/M

#17050 Adds note about VRRP issues inside a VM with underlying bridge networking
  doc/user/vrrp.rst
Labels: documentation, master, size/S

#17054 tools: Add missing mgmtd into logrotate/rsyslogd
  redhat/frr.logrotate
  tools/etc/logrotate.d/frr
  tools/etc/rsyslog.d/45-frr.conf
Labels: tools, master, size/S

#17044 isisd: Lsp fragments will delete the corresponding dyn_cache entry.
  isisd/isis_lsp.c
Labels: isis, master, size/XS, rebase

#17057 bgpd: Allow specification of vrf in show bgp neighbor graceful-restart
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: bgp, master, size/M

#17040 bgpd: changes for code maintainability
  bgpd/bgp_nexthop.c
  bgpd/bgp_packet.c
Labels: bgp, master, size/M

#17061 10.3 dev deb/rpm housekeeping
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, master, size/M

#17037 bgpd: fix ipv6 nexthop-local unchanged
  bgpd/bgp_route.c
  tests/topotests/bgp_nexthop_ipv6/exabgp.env
  tests/topotests/bgp_nexthop_ipv6/r1/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r1/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r1/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r1/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/r2/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r2/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r2/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r2/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/r3/exabgp.cfg
  tests/topotests/bgp_nexthop_ipv6/r3/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r3/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r4/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r4/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r4/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r4/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/r5/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r5/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r5/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r5/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/r6/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r6/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/r6/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r6/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/rr/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/rr/show_bgp_ipv6_step1.json
  tests/topotests/bgp_nexthop_ipv6/rr/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/rr/show_bgp_ipv6_summary.json
  tests/topotests/bgp_nexthop_ipv6/rr/zebra.conf
  tests/topotests/bgp_nexthop_ipv6/test_bgp_nexthop_ipv6_topo1.py
Labels: bgp, bugfix, backport, master, size/XXL

#17064 doc: routemap: fix typos
  doc/user/routemap.rst
Labels: documentation, bugfix, master, size/XS

#17059 bgpd: Move some non BGP-specific route-map functions to lib
  bgpd/bgp_routemap.c
  lib/routemap_cli.c
Labels: bgp, bugfix, backport, master, size/L

#17082 zebra: add back one field for debug
  zebra/interface.c
Labels: zebra, master, size/S

#17062 zebra: Only notify dplane work pthread when needed
  fpm/fpm.h
  zebra/dplane_fpm_nl.c
Labels: zebra, fpm, master, size/S

#17074 bgpd: fix evpn mh esi down
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
Labels: bgp, bugfix, backport, master, size/M, rebase

#17087 doc: clarify bgp as-override
  doc/user/bgp.rst
  tests/topotests/bgp_as_override/test_bgp_as_override.py
Labels: documentation, tests, bugfix, master, size/XS

#16737 zebra: vlan to dplane
  zebra/dpdk/zebra_dplane_dpdk.c
  zebra/dplane_fpm_nl.c
  zebra/if_netlink.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_l2.h
  zebra/zebra_rib.c
  zebra/zebra_script.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: zebra, master, size/L

#17099 bgpd: Remove unused BGP_NEXTHOP_CONNECTED_CHANGED flag for nexthop
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
Labels: bgp, master, size/S

#17103 bgpd: Check if su_local/su_remote exist before encoding BMP peer state
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, master, size/XS

#17093 bgpd: fix route selection with AIGP
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  tests/topotests/bgp_aigp/r1/ospfd.conf
  tests/topotests/bgp_aigp/r2/bgpd.conf
  tests/topotests/bgp_aigp/r2/ospfd.conf
  tests/topotests/bgp_aigp/r3/bgpd.conf
  tests/topotests/bgp_aigp/r3/ospfd.conf
  tests/topotests/bgp_aigp/r4/bgpd.conf
  tests/topotests/bgp_aigp/r4/ospfd.conf
  tests/topotests/bgp_aigp/r5/bgpd.conf
  tests/topotests/bgp_aigp/r5/ospfd.conf
  tests/topotests/bgp_aigp/r6/bgpd.conf
  tests/topotests/bgp_aigp/r6/ospfd.conf
  tests/topotests/bgp_aigp/test_bgp_aigp.py
Labels: tests, bgp, bugfix, backport, master, size/L

#17058 lib: Apply and generate route-map commands earlier before any other protocol
  lib/command.h
Labels: libfrr, master, size/XS

#17083 isisd: Remove circuit state check for openfabric
  isisd/isis_vty_fabricd.c
Labels: isis, bugfix, master, size/S

#17101 ospfd: fix the bug that the empty area was not free after no_area_range was executed
  ospfd/ospf_vty.c
Labels: ospf, master, size/XS

#17106 bgpd: fix bmp coverity issue 1600779
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, master, size/XS

#17104 tools/gcc-plugins: don't crash on array parameters
  tools/gcc-plugins/frr-format.c
Labels: master, size/XS

#17073 bgpd, tests: don't send local nexthop from rr client
  bgpd/bgp_route.c
  tests/topotests/bgp_nexthop_ipv6/r4/show_bgp_ipv6_step2.json
  tests/topotests/bgp_nexthop_ipv6/r5/show_bgp_ipv6_step2.json
Labels: tests, bgp, bugfix, master, size/L

#17088 zebra: Prevent a kernel route from being there when a connected should
  zebra/connected.c
Labels: zebra, backport, master, size/M

#15586 zebra: Attempt to explain the rnh tracking code better
  zebra/zebra_rib.c
Labels: zebra, autoclose, master, size/M

#17038 bgpd: Derive and set MED from IGP or AIGP
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_updgrp_adv.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/vnc_export_bgp.c
  doc/user/routemap.rst
  lib/routemap_cli.c
  lib/routemap_northbound.c
  tests/topotests/bgp_aigp/r1/bgpd.conf
  tests/topotests/bgp_aigp/r1/zebra.conf
  tests/topotests/bgp_aigp/r8/bgpd.conf
  tests/topotests/bgp_aigp/r8/zebra.conf
  tests/topotests/bgp_aigp/test_bgp_aigp.py
  tests/topotests/bgp_set_metric_igp/__init__.py
  tests/topotests/bgp_set_metric_igp/r1/frr.conf
  tests/topotests/bgp_set_metric_igp/r2/frr.conf
  tests/topotests/bgp_set_metric_igp/r3/frr.conf
  tests/topotests/bgp_set_metric_igp/r4/frr.conf
  tests/topotests/bgp_set_metric_igp/r5/frr.conf
  tests/topotests/bgp_set_metric_igp/test_bgp_set_metric_igp.py
  yang/frr-route-map.yang
Labels: documentation, tests, bgp, feature, master, size/XL

#17107 tests: iproute2_check_path_selection call the actual command
  tests/topotests/lib/common_check.py
Labels: tests, master, size/XS

#17126 ospfd: Fixup ospf_lsa.[ch] to properly spell out parameters for funct…
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
Labels: ospf, master, size/L

#17116 zebra: unlock node only after operation in zebra_free_rnh()
  zebra/zebra_rnh.c
Labels: zebra, backport, master, size/XS

#17114 vtysh: fix SA warning, no need to call getenv() twice
  vtysh/vtysh_main.c
Labels: vtysh, bugfix, master, size/XS

#16946 bgpd: Implement match src-peer ... command
  bgpd/bgp_conditional_adv.c
  bgpd/bgp_evpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/routemap.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_match_peer/r1/frr.conf
  tests/topotests/bgp_match_peer/test_bgp_match_peer.py
  yang/frr-bgp-route-map.yang
Labels: documentation, tests, bgp, master, size/L

#16452 lib, test: fix display ipv4 mapped ipv6 addresses
  lib/ntop.c
  tests/isisd/test_fuzz_isis_tlv_tests.h.gz
  tests/topotests/bfd_isis_topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/bfd_isis_topo1/rt1/step3/show_ipv6_route_healthy.ref
  tests/topotests/bfd_isis_topo1/rt1/step3/show_ipv6_route_rt2_down.ref
  tests/topotests/bfd_isis_topo1/rt1/step3/show_ipv6_route_rt3_down.ref
  tests/topotests/bfd_isis_topo1/rt1/zebra.conf
  tests/topotests/bfd_isis_topo1/rt2/zebra.conf
  tests/topotests/bfd_isis_topo1/rt3/zebra.conf
  tests/topotests/bfd_isis_topo1/rt4/zebra.conf
  tests/topotests/bfd_isis_topo1/rt5/zebra.conf
  tests/topotests/bfd_ospf_topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/bfd_ospf_topo1/rt1/step3/show_ipv6_route_healthy.ref
  tests/topotests/bfd_ospf_topo1/rt1/step3/show_ipv6_route_rt2_down.ref
  tests/topotests/bfd_ospf_topo1/rt1/step3/show_ipv6_route_rt3_down.ref
  tests/topotests/bfd_ospf_topo1/rt1/zebra.conf
  tests/topotests/bfd_ospf_topo1/rt2/zebra.conf
  tests/topotests/bfd_ospf_topo1/rt3/zebra.conf
  tests/topotests/bfd_ospf_topo1/rt4/zebra.conf
  tests/topotests/bfd_ospf_topo1/rt5/zebra.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_unnumbered_nbr.py
Labels: tests, libfrr, bugfix, master, size/L

#17091 bgpd: fix several issues in sourcing AIGP attribute
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  tests/topotests/bgp_aigp/r4/bgpd.conf
  tests/topotests/bgp_aigp/r6/zebra.conf
  tests/topotests/bgp_aigp/test_bgp_aigp.py
Labels: tests, bgp, bugfix, backport, master, size/M

#17065 ospfd: fix some ospf commands
  ospfd/ospf_vty.c
Labels: bgp, ospf, bugfix, master, size/XS, rebase

#17136 *: fix clang-19 SA
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  ldpd/ldpe.c
  lib/defun_lex.l
  lib/netns_linux.c
  lib/ptm_lib.c
  lib/zclient.h
  lib/zlog_5424_cli.c
  pimd/pim6_mld.c
  pimd/pim_autorp.c
  pimd/pim_bsr_rpdb.c
  vtysh/vtysh.c
  zebra/ipforward_proc.c
  zebra/zebra_dplane.c
  zebra/zebra_nb_state.c
  zebra/zebra_netns_id.c
  zebra/zebra_netns_notify.c
Labels: bgp, pim, zebra, vtysh, libfrr, bugfix, ldp, master, size/L

#17154 zebra: Fix possible null deref discovered by coverity
  zebra/connected.c
Labels: zebra, master, size/XS

#17134 ospfd: update ospf_asbr_status when using no_area_nssa command
  ospfd/ospfd.c
Labels: ospf, master, size/XS, rebase

#17025 lib: Correctly handle ppoll pfds.events == 0
  lib/event.c
Labels: libfrr, master, size/S

#17164 bgpd: changes for code maintainability
  bgpd/bgp_route.c
Labels: bgp, master, size/L

#17167 bgpd: changes for code maintainability
  bgpd/bgp_routemap.c
Labels: bgp, master, size/S

#17157 tests: logger masked in topotest.py
  tests/topotests/lib/topotest.py
Labels: tests, master, size/XS

#17169 bgpd: allow value 0 in aigp-metric setting
  bgpd/bgp_routemap.c
  doc/user/routemap.rst
Labels: bgp, master, size/XS

#17172 doc: Require unified config for all new topotests
  doc/developer/topotests.rst
Labels: documentation, master, size/S

#17168 bgpd: fix AIGP calculation in route advertisement
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_bmp.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_packet.c
  tests/topotests/bgp_aigp_rr/r1/bgpd.conf
  tests/topotests/bgp_aigp_rr/r1/ospfd.conf
  tests/topotests/bgp_aigp_rr/r1/zebra.conf
  tests/topotests/bgp_aigp_rr/r2/bgpd.conf
  tests/topotests/bgp_aigp_rr/r2/ospfd.conf
  tests/topotests/bgp_aigp_rr/r2/zebra.conf
  tests/topotests/bgp_aigp_rr/r3/bgpd.conf
  tests/topotests/bgp_aigp_rr/r3/ospfd.conf
  tests/topotests/bgp_aigp_rr/r3/zebra.conf
  tests/topotests/bgp_aigp_rr/r4/bgpd.conf
  tests/topotests/bgp_aigp_rr/r4/ospfd.conf
  tests/topotests/bgp_aigp_rr/r4/zebra.conf
  tests/topotests/bgp_aigp_rr/test_bgp_aigp_rr.py
Labels: tests, bgp, bugfix, backport, master, size/L

#17165 bgpd: Do not filter no-export community for BGP OAD
  bgpd/bgp_route.c
  tests/topotests/bgp_oad/r1/frr.conf
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: tests, bgp, backport, master, size/M

#17166 zebra: remove useless code
  zebra/zebra_rib.c
Labels: zebra, master, size/XS

#17174 isisd: fix 'show isis route' and 'show isis fast-reroute summary' errors with vrf
  isisd/isis_spf.c
Labels: isis, bugfix, master, size/XS

#17180 zebra: drop NEWLINK event handling in the main thread
  zebra/kernel_netlink.c
Labels: zebra, master, size/XS

#17192 bgpd: Do not leak a stream with bmp code
  bgpd/bgp_bmp.c
Labels: bgp, master, size/XS

#17198 Revert "lib: Attach stdout to child only if --log=stdout and stdout F…
  lib/libfrr.c
Labels: backport, master, size/S

#17183 ospfd:fix the bug that the empty area was not free after no area range command was executed
  ospfd/ospf_vty.c
Labels: ospf, master, size/XS

#17162 zebra: fix showing nexthop vrf for ipv6 blackhole
  zebra/zebra_rnh.c
  zebra/zebra_vty.c
Labels: zebra, bugfix, master, size/XS

#17208 bgpd, lib: Include SID structure in seg6local nexthop (backport for 10.1)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, size/M, stable/10.1

#17209 bgpd, lib: Include SID structure in seg6local nexthop (backport for 10.0)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, size/M, stable/10.0

#17210 bgpd, lib: Include SID structure in seg6local nexthop (backport for 9.1)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, size/M, stable/9.1

#17211 bgpd, lib: Include SID structure in seg6local nexthop (backport for 9.0)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, size/M, stable/9.0

#17191 bgpd: fix uninitialized bgp_labels
  bgpd/bgp_label.c
  bgpd/bgp_mplsvpn.c
Labels: bgp, bugfix, backport, master, size/XS

#17206 bgpd: fix uninitialized labels (backport 10.0)
  bgpd/bgp_mplsvpn.c
Labels: bgp, bugfix, size/XS, stable/10.0

#17215 pimd: PIM autorp no path RP fix
  pimd/pim_autorp.c
Labels: pim, backport, master, size/XS

#17229 Optimizations and problem fixing for large scale ecmp from bgp
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.h
  zebra/kernel_netlink.c
Labels: bgp, master, size/L

#17212 bgpd, lib: Include SID structure in seg6local nexthop (backport for 8.5)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, size/M, stable/8.5

#17207 tests: add bmpserver logging
  tests/topotests/lib/bmp_collector/bmp.py
  tests/topotests/lib/bmp_collector/bmpserver
  tests/topotests/lib/topogen.py
Labels: tests, bugfix, master, size/L

#17199 bgpd: compare aigp after local route check in bgp_path_info_cmp()
  bgpd/bgp_route.c
  doc/user/bgp.rst
  tests/topotests/bgp_aigp_rr/r1/bgpd.conf
  tests/topotests/bgp_aigp_rr/r2/bgpd.conf
  tests/topotests/bgp_aigp_rr/test_bgp_aigp_rr.py
Labels: tests, bgp, backport, master, size/L

#17217 pimd: allow resolving bsr via directly connected secondary address (backport)
  pimd/pim_nht.c
Labels: pim, backport, size/S, stable/10.1

#17255 docs: Update evpn.rst
  doc/user/evpn.rst
Labels: master, size/XS

#17216 pimd, tests: fix bsr assert and expand topotest to pimv6
  pimd/pim_bsm.c
  pimd/pim_nht.c
  tests/topotests/pim_cand_rp_bsr/r1/frr.conf
  tests/topotests/pim_cand_rp_bsr/r2/frr.conf
  tests/topotests/pim_cand_rp_bsr/r3/frr.conf
  tests/topotests/pim_cand_rp_bsr/r4/frr.conf
  tests/topotests/pim_cand_rp_bsr/r5/frr.conf
  tests/topotests/pim_cand_rp_bsr/r6/frr.conf
  tests/topotests/pim_cand_rp_bsr/test_pim_cand_rp_bsr.py
Labels: tests, pim, backport, master, size/L

#17160 lib, zebra: Keep `zebra on-rib-process script` in frr.conf
  lib/frrscript.c
  lib/frrscript.h
  zebra/zebra_vty.c
Labels: zebra, libfrr, backport, master, size/S

#17239 bgpd: compare aigp after local route check in bgp_path_info_cmp()
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: bgp, size/M, stable/10.1

#16354 bgpd: add bgp ipv6-auto-ra command
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/ipv6.rst
Labels: bgp, zebra, master, size/M

#17243 bgpd: fix display of local label in show bgp
  bgpd/bgp_route.c
Labels: bgp, bugfix, backport, master, size/XS

#17263 lib, zebra: Keep `zebra on-rib-process script` in frr.conf (backport #17160)
  lib/frrscript.c
  lib/frrscript.h
  zebra/zebra_vty.c
Labels: zebra, libfrr, size/S, stable/9.1

#17200 vtysh: fix `find` and `list` commands
  python/xref2vtysh.py
Labels: vtysh, bugfix, master, size/XS

#17257 zebra: add 'debug zebra srv6' command
  doc/user/zebra.rst
  zebra/debug.c
  zebra/debug.h
  zebra/zebra_srv6.c
Labels: zebra, master, size/L

#17189 ospfd:fix syntax of some ospf no commands
  ospfd/ospf_vty.c
Labels: ospf, master, size/S

#17278 bgpd: fix blank line in running-config with bmp listener cmd
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, backport, master, size/XS

#17245 bgpd: fix crash when polling bgp4v2PathAttrTable
  bgpd/bgp_snmp_bgp4v2.c
Labels: bgp, bugfix, backport, master, size/XS

#17213 bgpd, lib: Include SID structure in seg6local nexthop (backport for 8.4)
  bgpd/bgp_mplsvpn.c
  lib/srv6.h
Labels: bgp, libfrr, stable/8.4

#16990 bgpd: fix prefix same as nexthop in label per nexthop
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_vpnv4_per_nexthop_label/test_bgp_vpnv4_per_nexthop_label.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
Labels: bgp, bugfix, master, size/L, rebase

#17190 isisd: The command "'show isis vrf all summary json" has no output.
  isisd/isisd.c
  tests/topotests/isis_topo1/test_isis_topo1.py
Labels: isis, master, size/M

#17226 tests: fix bmp tests random failure
  tests/topotests/bgp_bmp/bmp1/bmp-update-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-update-loc-rib-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-update-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-update-post-policy-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-update-pre-policy-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-update-pre-policy-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-loc-rib-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-post-policy-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-pre-policy-step1.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-pre-policy-step2.json
  tests/topotests/bgp_bmp/r1/bgpd.conf
  tests/topotests/bgp_bmp/r1/show-bgp-ipv4-update-step1.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv4-update-step2.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv4-withdraw-step1.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv4-withdraw-step2.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv6-update-step1.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv6-update-step2.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv6-withdraw-step1.json
  tests/topotests/bgp_bmp/r1/show-bgp-ipv6-withdraw-step2.json
  tests/topotests/bgp_bmp/test_bgp_bmp.py
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-update-loc-rib-step1.json
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-update-post-policy-step1.json
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-update-pre-policy-step1.json
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-withdraw-loc-rib-step1.json
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-withdraw-post-policy-step1.json
  tests/topotests/bgp_bmp_vrf/bmp1/bmp-withdraw-pre-policy-step1.json
  tests/topotests/bgp_bmp_vrf/r1/bgpd.conf
  tests/topotests/bgp_bmp_vrf/r1/show-bgp-ipv4-update-step1.json
  tests/topotests/bgp_bmp_vrf/r1/show-bgp-ipv4-withdraw-step1.json
  tests/topotests/bgp_bmp_vrf/r1/show-bgp-ipv6-update-step1.json
  tests/topotests/bgp_bmp_vrf/r1/show-bgp-ipv6-withdraw-step1.json
  tests/topotests/bgp_bmp_vrf/test_bgp_bmp_vrf.py
Labels: tests, bugfix, master, size/XXL

#17290 (8.4 backport) bgpd: add `bgp ipv6-auto-ra` command
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/ipv6.rst
Labels: bgp, stable/8.4

#17289 (9.1 backport) bgpd: add `bgp ipv6-auto-ra` command
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/ipv6.rst
Labels: size/M, stable/9.1

#17288 (10.0 backport) bgpd: add `bgp ipv6-auto-ra` command
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/ipv6.rst
Labels: bgp, size/M, stable/10.0

#17287 (10.1 backport) bgpd: add `bgp ipv6-auto-ra` command
  bgpd/bgp_nht.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  doc/user/ipv6.rst
Labels: bgp, size/M, stable/10.1

#17242 bgpd: compare aigp after local route check in bgp_path_info_cmp()
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: bgp, backport, size/M, stable/9.0

#15563 Bgp musings
  bgpd/bgp_attr.c
  bgpd/bgp_route.c
  bgpd/bgpd.h
Labels: bgp, master, size/M

#17310 doc: Create html_context before setting READTHEDOCS
  doc/developer/conf.py
  doc/user/conf.py
Labels: documentation, master, size/XS

#17309 Mrib nht wonky (backport #17254)
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/rt_socket.c
  zebra/zebra_rib.c
Labels: zebra, sharp, size/L, dev/10.2

#17296 tests: respect RLIMIT_CORE hard limit
  tests/topotests/conftest.py
Labels: tests, master, size/S

#17317 tests: Add an ability to specify daemon params with unified config
  doc/developer/topotests.rst
  tests/topotests/lib/topogen.py
Labels: tests, master, size/S

#17281 Add support to import alternate URIB tables into the main MRIB
  doc/user/zebra.rst
  tests/topotests/zebra_rib/r1/frr-import.conf
  tests/topotests/zebra_rib/r1/import_init_mrib_table.json
  tests/topotests/zebra_rib/r1/import_init_table.json
  tests/topotests/zebra_rib/r1/import_mrib_table_2.json
  tests/topotests/zebra_rib/r1/import_mrib_table_3.json
  tests/topotests/zebra_rib/r1/import_mrib_table_4.json
  tests/topotests/zebra_rib/r1/import_table_2.json
  tests/topotests/zebra_rib/r1/import_table_3.json
  tests/topotests/zebra_rib/r1/import_table_4.json
  tests/topotests/zebra_rib/test_zebra_import.py
  zebra/redistribute.c
  zebra/redistribute.h
  zebra/zebra_rib.c
  zebra/zebra_routemap.c
  zebra/zebra_routemap.h
  zebra/zebra_vty.c
Labels: documentation, tests, zebra, master, size/XXL

#17327 Bgp update optimizations
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.h
Labels: bgp, master, size/L
