Repository FRRouting/frr, pull requests merged in 2024-01, with the labels that each got.

#15066 bgpd: revamp evpn debugs nexthop and l3vni
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_zebra.c
  zebra/zebra_vxlan.c
Labels: bgp, master, size/M

#15068 bgpd: lttng tp add ethtag to macip zebra send
  bgpd/bgp_evpn.c
  bgpd/bgp_trace.h
Labels: bgp, bugfix, master, size/S

#15076 lib: don't count on scheme key nodes being first children
  lib/northbound_oper.c
Labels: libfrr, master, size/S

#15073 lib: fix specific entry queries
  lib/northbound_oper.c
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-name.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-vrf.json
  tests/topotests/mgmt_oper/simple-results/result-intf-name.json
  tests/topotests/mgmt_oper/test_simple.py
Labels: libfrr, bugfix, master, size/M

#15071 build: protobuf is required so update building docs
  configure.ac
  doc/developer/building-frr-for-archlinux.rst
  doc/developer/building-frr-for-ubuntu1404.rst
  doc/developer/building-frr-for-ubuntu1604.rst
  doc/developer/building-frr-for-ubuntu1804.rst
  doc/developer/building-frr-for-ubuntu2004.rst
  doc/developer/building-frr-for-ubuntu2204.rst
  doc/developer/building-libyang.rst
  docker/ubuntu-ci/Dockerfile
Labels: master, size/M

#15070 chopps/fix coverity errors
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  lib/northbound.c
  lib/vty.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
Labels: libfrr, bugfix, mgmt, master, size/M

#15062 github: Mark the build as failed if 'do not merge' label is set
  .github/workflows/freeze.yml
Labels: master, size/XS

#15055 zebra: Push all configured IP addresses when the interface comes up
  zebra/interface.c
Labels: zebra, master, size/M

#15083 isisd: fix _isis_spftree_del heap-use-after-free
  isisd/isis_spf.c
Labels: isis, bugfix, master, size/XS

#15095 lib: fix initializer warning on centos 7.
  lib/mgmt_msg.c
Labels: libfrr, bugfix, master, size/XS

#15086 lib: remove unused/replaced oper-state iteration code
  lib/northbound.c
  lib/northbound.h
Labels: libfrr, master, size/XL

#15097 lib: remove zebra_interface_vrf_update_read()
  lib/zclient.c
  lib/zclient.h
Labels: libfrr, bugfix, master, size/M

#15091 bgpd: fix ecommunity_fill_pbr_action heap-buffer-overflow
  bgpd/bgp_ecommunity.c
Labels: bgp, bugfix, master, size/XS

#15087 zebra: Fix coverity issue in `dplane_srv6_encap_srcaddr_set`
  zebra/zebra_dplane.c
Labels: zebra, master, size/XS

#15085 doc: add diagram of oper-state queries.
  doc/developer/mgmtd-dev.rst
  doc/figures/cli-oper-state.drawio
  doc/figures/cli-oper-state.svg
Labels: documentation, master, size/L

#15092 Lib zebra h cleanup
  bfdd/bfd_packet.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_import.h
  isisd/isis_tlvs.c
  lib/command.c
  lib/frrsendmmsg.h
  lib/imsg-buffer.c
  lib/log.c
  lib/privs.c
  lib/pullwr.c
  lib/subdir.am
  lib/vrf.c
  lib/zebra.h
  lib/zlog.c
  lib/zlog_5424.c
  lib/zlog_live.c
  nhrpd/linux.c
  ospf6d/ospf6_auth_trailer.c
  ospfd/ospf_auth.c
  pimd/pim6_mld.c
  pimd/pim_cmd_common.c
  pimd/pim_mroute.c
  ripd/ripd.c
  sharpd/sharp_logpump.c
  vtysh/vtysh.c
  zebra/if_ioctl.c
  zebra/ioctl.c
  zebra/rtadv.c
  zebra/zebra_mpls_openbsd.c
Labels: bgp, vtysh, libfrr, sharp, master, size/L

#15054 redhat: rpm spec: added protobuf-c to deps & fix bogus changelog date
  redhat/frr.spec.in
Labels: packaging, bugfix, master, size/XS

#15105 lib: Use event name instead of thread
  lib/event.c
Labels: libfrr, master, size/XS

#15104 bgpd: bgp_sync_label_manager failure case
  bgpd/bgp_labelpool.c
Labels: bgp, master, size/S

#15102 Revert "bgpd: On shutdown do not create a workqueue for the self peer"
  bgpd/bgp_fsm.c
Labels: master, size/XS

#15101 build: require libyang 2.1.128
  configure.ac
  doc/developer/building-frr-for-centos6.rst
  doc/developer/building-frr-for-opensuse.rst
  doc/developer/building-frr-for-ubuntu2204.rst
Labels: master, size/S

#15110 Revert "zebra: Cleanup zrouter.stale_client_list on shutdown"
  zebra/main.c
Labels: master, size/XS

#15111 bgpd: show_adj_route_vpn always leaked json memory
  bgpd/bgp_vpn.c
Labels: bgp, master, size/XS

#15119 tests: Add mgmtd to the official pytest.mark list
  tests/topotests/grpc_basic/test_basic_grpc.py
  tests/topotests/mgmt_config/test_config.py
  tests/topotests/mgmt_config/test_regression.py
  tests/topotests/mgmt_debug_flags/test_debug.py
  tests/topotests/mgmt_fe_client/test_client.py
  tests/topotests/mgmt_oper/test_oper.py
  tests/topotests/mgmt_oper/test_querying.py
  tests/topotests/mgmt_oper/test_scale.py
  tests/topotests/mgmt_oper/test_simple.py
  tests/topotests/mgmt_startup/test_bigconf.py
  tests/topotests/mgmt_startup/test_cfgfile_var.py
  tests/topotests/mgmt_startup/test_late_bigconf.py
  tests/topotests/mgmt_startup/test_late_uniconf.py
  tests/topotests/mgmt_startup/test_latestart.py
  tests/topotests/mgmt_tests/test_yang_mgmt.py
  tests/topotests/pytest.ini
Labels: tests, master, size/M

#15106 vtysh: Add `show event ...` commands
  doc/developer/process-architecture.rst
  doc/user/basic.rst
  lib/event.c
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_up.py
  tests/topotests/isis_topo1/test_isis_topo1.py
  tools/etc/frr/support_bundle_commands.conf
  vtysh/vtysh.c
Labels: documentation, tests, vtysh, tools, master, size/L

#15120 bgpd: Fix memory leak for default-originate with route-map
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/XS

#15001 Zebra nexthop rework
  bgpd/bgp_zebra.c
  lib/zclient.h
  sharpd/sharp_zebra.c
Labels: bgp, libfrr, master, size/L

#15108 bgpd: Add `debug bgp updates detail` command
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_packet.c
  doc/user/bgp.rst
Labels: bgp, master, size/M

#15122 bgpd: Change printing format show debugging for debug bgp updates
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
Labels: bgp, master, size/XS

#15103 Implement full XPath 1.0 functionality
  configure.ac
  lib/darr.h
  lib/mgmt_msg.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_oper.c
  lib/vty.c
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/topotests/mgmt_oper/test_querying.py
  tests/topotests/mgmt_oper/test_scale.py
Labels: tests, libfrr, bugfix, master, size/XL

#15123 lib: fix oper-state memleak
  lib/northbound_oper.c
  tests/topotests/mgmt_oper/test_simple.py
Labels: libfrr, bugfix, master, size/S

#15100 Sa problems local
  bgpd/bgp_packet.c
  bgpd/bgp_snmp_bgp4v2.c
  ospf6d/ospf6_neighbor.c
  pimd/pim_upstream.c
  zebra/redistribute.c
Labels: bgp, pim, ospfv3, zebra, mgmt, master, size/S

#15124 lib snmp: use snmp's large fd sets for agentx
  lib/agentx.c
Labels: libfrr, master, size/S

#15098 Lib zebra h cleanup 2
  babeld/babel_main.c
  babeld/kernel.c
  bfdd/control.c
  bgpd/bgp_btoa.c
  bgpd/bgp_dump.c
  isisd/isis_bpf.c
  ldpd/control.c
  ldpd/ldpd.c
  ldpd/socket.c
  lib/agentx.c
  lib/command.c
  lib/event.c
  lib/frr_pthread.c
  lib/libfrr.c
  lib/mgmt_msg.c
  lib/netns_linux.c
  lib/network.c
  lib/northbound_cli.c
  lib/pid_output.c
  lib/privs.c
  lib/sigevent.c
  lib/sockunion.h
  lib/systemd.c
  lib/vector.c
  lib/vty.c
  lib/zebra.h
  lib/zlog.c
  lib/zlog_5424.c
  lib/zlog_targets.c
  nhrpd/linux.c
  nhrpd/vici.c
  ospf6d/ospf6_auth_trailer.c
  ospfd/ospf_auth.c
  pimd/pim_sock.c
  tests/bgpd/test_packet.c
  tests/helpers/c/main.c
  tests/isisd/test_isis_spf.c
  tests/lib/cli/common_cli.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/test_privs.c
  tests/ospfd/test_ospf_spf.c
  tools/gen_northbound_callbacks.c
  vtysh/vtysh.c
  vtysh/vtysh_main.c
  watchfrr/watchfrr.c
  watchfrr/watchfrr_vty.c
  zebra/if_sysctl.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/netconf_netlink.c
  zebra/rt_socket.c
  zebra/rtread_sysctl.c
  zebra/zebra_mpls_netlink.c
  zebra/zebra_netns_id.c
  zebra/zebra_netns_notify.c
Labels: zebra, libfrr, master, size/L

#15128 bgpd: Recent EBGP-OAD improvements
  bgpd/bgp_route.c
  tests/topotests/bgp_oad/r1/frr.conf
  tests/topotests/bgp_oad/r2/frr.conf
  tests/topotests/bgp_oad/r3/frr.conf
  tests/topotests/bgp_oad/r4/frr.conf
  tests/topotests/bgp_oad/r5/frr.conf
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: tests, bgp, master, size/L

#15131 Chopps/oper choice case
  lib/northbound_oper.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/northbound/test_oper_data.refout
  yang/frr-test-module.yang
Labels: libfrr, master, size/L

#15134 mgmtd: don't try to send config to disconnected clients
  mgmtd/mgmt_txn.c
Labels: bugfix, mgmt, master, size/S

#15127 doc: libyang nits
  doc/developer/building-libyang.rst
Labels: documentation, master, size/XS

#15136 lib, mgmtd: rename ignore_cbs to ignore_cfg_cbs
  doc/developer/mgmtd-dev.rst
  lib/northbound.c
  lib/northbound.h
  mgmtd/mgmt_main.c
  staticd/static_vty.c
Labels: libfrr, mgmt, master, size/M

#14542 Add more northbound operation types
  doc/developer/northbound/retrofitting-configuration-commands.rst
  lib/mgmt.proto
  lib/mgmt_be_client.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.h
  lib/northbound_confd.c
  lib/northbound_sysrepo.c
  lib/vty.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_vty.c
  tools/gen_northbound_callbacks.c
Labels: libfrr, mgmt, master, size/XL

#15133 lib: fix coverity issues
  lib/darr.h
  lib/yang.c
  mgmtd/mgmt_fe_adapter.c
Labels: libfrr, bugfix, master, size/XS

#15130 Pim vxlan issues
  pimd/pim_join.c
  pimd/pim_rp.c
  pimd/pim_rpf.c
  pimd/pim_vxlan.c
  pimd/pim_vxlan.h
Labels: pim, master, size/M

#15121 bgpd: Set correct TTL for the dynamic neighbor peers
  bgpd/bgp_network.c
Labels: bgp, master, size/S

#15138 bgpd: Drop dampening `tmax` variable from struct
  bgpd/bgp_damp.h
Labels: bgp, master, size/XS

#15144 lib: fix coverity issue
  lib/northbound_oper.c
Labels: libfrr, bugfix, master, size/XS

#15137 build: make buildtest.sh BSD compatible
  buildtest.sh
Labels: libfrr, master, size/S

#15135 mgmtd: remove unused/redundant variables
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/M

#15149 Some code realignment in pim
  pimd/pim_msg.c
  pimd/pim_zebra.c
Labels: pim, master, size/L

#15152 doc: mgmtd: update mgmtd conversion doc to be current.
  doc/developer/mgmtd-dev.rst
  doc/developer/northbound/retrofitting-configuration-commands.rst
  mgmtd/mgmt_be_adapter.c
Labels: documentation, master, size/L

#15151 mgmtd: remove full vrf initialization
  mgmtd/mgmt_main.c
Labels: mgmt, master, size/M

#15150 doc: update config file doc for integrated requirement
  doc/user/babeld.rst
  doc/user/basic.rst
  doc/user/bfd.rst
  doc/user/bgp.rst
  doc/user/config-include.rst
  doc/user/eigrpd.rst
  doc/user/isisd.rst
  doc/user/ldpd.rst
  doc/user/ospf6d.rst
  doc/user/ospfd.rst
  doc/user/pbr.rst
  doc/user/pim.rst
  doc/user/pimv6.rst
  doc/user/prior-config-files.rst
  doc/user/ripd.rst
  doc/user/ripngd.rst
  doc/user/sharp.rst
  doc/user/static.rst
  doc/user/vrrp.rst
  doc/user/vtysh.rst
Labels: documentation, master, size/L

#15034 bgpd, topotests: add bgp_rpki_topo1 and RPKI fixes
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_rpki.c
  doc/user/rpki.rst
  tests/topotests/bgp_rpki_topo1/__init__.py
  tests/topotests/bgp_rpki_topo1/r1/bgpd.conf
  tests/topotests/bgp_rpki_topo1/r1/rtrd.py
  tests/topotests/bgp_rpki_topo1/r1/staticd.conf
  tests/topotests/bgp_rpki_topo1/r1/vrps.csv
  tests/topotests/bgp_rpki_topo1/r1/zebra.conf
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rmap_rpki_any.json
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rmap_rpki_notfound.json
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rmap_rpki_valid.json
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rpki_any.json
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rpki_notfound.json
  tests/topotests/bgp_rpki_topo1/r2/bgp_table_rpki_valid.json
  tests/topotests/bgp_rpki_topo1/r2/bgpd.conf
  tests/topotests/bgp_rpki_topo1/r2/rpki_prefix_table.json
  tests/topotests/bgp_rpki_topo1/r2/staticd.conf
  tests/topotests/bgp_rpki_topo1/r2/zebra.conf
  tests/topotests/bgp_rpki_topo1/test_bgp_rpki_topo1.py
Labels: documentation, bgp, bugfix, master, size/XXL

#15156 yang: lib: interface MTUs can be larger than uint16
  lib/if.c
  yang/frr-interface.yang
Labels: yang, master, size/S

#15154 mgmtd get-data request expansion
  doc/user/zebra.rst
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg_native.c
  lib/mgmt_msg_native.h
  lib/northbound_oper.c
  lib/vty.c
  lib/vty.h
  lib/yang.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_main.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  tests/topotests/bfd_vrf_topo1/test_bfd_vrf_topo1.py
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_vrf_netns/test_bgp_vrf_netns_topo.py
  tests/topotests/mgmt_oper/oper.py
  tests/topotests/mgmt_oper/r1/frr-simple.conf
  tests/topotests/mgmt_oper/simple-results/result-intf-description.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-description-exact.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-exact.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-only-config.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-with-config.json
  tests/topotests/mgmt_oper/test_simple.py
  tests/topotests/ospf_netns_vrf/test_ospf_netns_vrf.py
  vtysh/vtysh.h
Labels: tests, vtysh, libfrr, bugfix, mgmt, master, size/L

#15161 import munet 0.13.12
  tests/topotests/conftest.py
  tests/topotests/munet/base.py
  tests/topotests/munet/linux.py
Labels: tests, master, size/M

#15160 doc: typo, fix end of line
  doc/developer/building-frr-for-ubuntu2004.rst
  doc/developer/building-frr-for-ubuntu2204.rst
Labels: documentation, bugfix, master, size/XS

#15145 isisd, staticd, bfdd, ripd, ripngd: need to link directly against libyang
  bfdd/subdir.am
  isisd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  staticd/subdir.am
Labels: isis, staticd, ripng, rip, bfd, backport, stable/8.1

#15146 isisd, staticd, bfdd, ripd, ripngd: need to link directly against libyang
  bfdd/subdir.am
  isisd/subdir.am
  ripd/subdir.am
  ripngd/subdir.am
  staticd/subdir.am
Labels: isis, staticd, ripng, rip, bfd, backport

#15158 bgpd: Set correct TTL for the dynamic neighbor peers
  bgpd/bgp_network.c
Labels: bgp, size/S, stable/9.0

#15162 bgpd: Set capability received flag only after sanity checks
  bgpd/bgp_open.c
  tests/bgpd/test_aspath.c
  tests/bgpd/test_capability.c
Labels: tests, bgp, master, size/S

#15166 tests: fix munet accessing missing attribute
  tests/topotests/munet/base.py
Labels: tests, bugfix, master, size/XS

#15172 tests: Fix test_evpn_mh.py to correctly call bridge program
  tests/topotests/bgp_evpn_mh/test_evpn_mh.py
Labels: tests, master, size/XS

#15168 lib,vtysh: add per-daemon log file config
  doc/user/basic.rst
  lib/.gitignore
  lib/log_vty.c
  lib/subdir.am
  vtysh/.gitignore
  vtysh/subdir.am
  vtysh/vtysh.c
Labels: documentation, vtysh, libfrr, master, size/L, rebase

#15175 Affinity map fixes
  isisd/isis_affinitymap.c
  lib/affinitymap.c
  lib/affinitymap.h
  lib/affinitymap_northbound.c
  lib/if.c
  yang/frr-affinity-map.yang
  yang/frr-zebra.yang
  zebra/interface.c
  zebra/zebra_affinitymap.c
  zebra/zebra_nb_config.c
Labels: zebra, libfrr, bugfix, master, size/L

#15183 zebra: Fix NEXTHOP_GROUP_FPM define value
  zebra/zebra_nhg.h
Labels: zebra, master, size/XS

#15178 doc: Update bgp unnumbered documentation
  doc/user/bgp.rst
Labels: documentation, master, size/XS

#15184 Zebra touchups
  zebra/interface.c
  zebra/zebra_nhg.c
Labels: zebra, master, size/S

#15125 Dump PCEP session in json format
  doc/user/pathd.rst
  pathd/path_pcep_cli.c
  pceplib/pcep_session_logic_counters.c
  pceplib/pcep_utils_counters.c
  pceplib/pcep_utils_counters.h
  pceplib/test/pcep_utils_counters_test.c
Labels: master, size/XL

#15176 Chopps/mgmtd northbound fixes
  lib/mgmt_be_client.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/northbound_confd.c
  lib/northbound_sysrepo.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_txn.c
Labels: libfrr, mgmt, master, size/L

#15052 bgpd: add VRF support to RPKI
  bgpd/bgp_main.c
  bgpd/bgp_rpki.c
  bgpd/bgp_rpki.h
  bgpd/bgpd.h
  doc/user/rpki.rst
  lib/command.h
  tests/topotests/bgp_rpki_topo1/r2/staticd.conf
  tests/topotests/bgp_rpki_topo1/r2/zebra.conf
  tests/topotests/bgp_rpki_topo1/r3/bgpd.conf
  tests/topotests/bgp_rpki_topo1/r3/rtrd.py
  tests/topotests/bgp_rpki_topo1/r3/staticd.conf
  tests/topotests/bgp_rpki_topo1/r3/vrps.csv
  tests/topotests/bgp_rpki_topo1/r3/zebra.conf
  tests/topotests/bgp_rpki_topo1/test_bgp_rpki_topo1.py
  vtysh/vtysh.c
  vtysh/vtysh.h
  vtysh/vtysh_config.c
Labels: documentation, bgp, bugfix, master, size/XXL

#15194 distribute-list fixes and improvements
  babeld/babeld.c
  eigrpd/eigrp_cli.c
  eigrpd/eigrp_northbound.c
  eigrpd/eigrp_routemap.c
  lib/distribute.c
  lib/plist.c
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  yang/frr-eigrpd.yang
Labels: eigrp, babel, ripng, rip, libfrr, master, size/L

#15193 bgpd: fix route-map match probability deconfiguration callback
  bgpd/bgp_routemap_nb_config.c
Labels: bgp, bugfix, master, size/XS

#15195 vtysh: fix VTYSH_VRF definition
  vtysh/vtysh.h
Labels: vtysh, bugfix, master, size/XS

#15165 tests: ospf point-to-multipoint and prefix-suppress
  tests/topotests/ospf_unnumbered_point_to_multipoint/README.md
  tests/topotests/ospf_unnumbered_point_to_multipoint/r1/ospf-route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r1/ospfd.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/r1/v4_route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r1/zebra.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/r2/ospf-route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r2/ospfd.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/r2/v4_route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r2/zebra.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/r3/ospf-route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r3/ospfd.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/r3/v4_route.json
  tests/topotests/ospf_unnumbered_point_to_multipoint/r3/zebra.conf
  tests/topotests/ospf_unnumbered_point_to_multipoint/test_ospf_unnumbered_point_to_multipoint.py
Labels: tests, master, size/XL

#15201 bgpd: fix RPKI coverity scanner issues
  bgpd/bgp_rpki.c
Labels: bgp, bugfix, master, size/M

#15202 mgmtd: remove unguarded debug log
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/XS

#15187 Revert `noprefixroute` stuff
  lib/if.h
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/connected.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: do not merge, size/M, stable/9.0

#15188 Revert noprefixroute stuff
  lib/if.h
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/connected.c
  zebra/if_netlink.c
  zebra/interface.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: do not merge, size/M, stable/9.1

#15203 sharpd: Fix coverity issues
  sharpd/sharp_zebra.c
Labels: sharp, master, size/XS

#15211 pceplib: fix compilation error
  pceplib/test/pcep_utils_counters_test.c
Labels: bugfix, master, size/XS

#15189 doc: Add missing json keyword for `show debugging label-table`
  doc/user/zebra.rst
Labels: documentation, master, size/XS

#15209 bgpd: Use single whitespace when displaying show bgp summary
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: documentation, bgp, master, size/S

#15196 lib: remove leaf-list xpath hack from northbound
  eigrpd/eigrp_cli.c
  isisd/isis_cli.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_confd.c
  lib/northbound_sysrepo.c
  pimd/pim_cmd_common.c
  ripd/rip_cli.c
  ripngd/ripng_cli.c
  vrrpd/vrrp_vty.c
  zebra/interface.c
Labels: libfrr, master, size/L

#15173 nhrpd: unset noarp flag using a zapi message
  lib/zclient.c
  lib/zclient.h
  nhrpd/linux.c
  nhrpd/netlink.h
  nhrpd/nhrp_interface.c
  nhrpd/nhrp_route.c
  nhrpd/nhrpd.h
  tests/topotests/nhrp_topo/test_nhrp_topo.py
  zebra/interface.c
  zebra/interface.h
  zebra/zapi_msg.c
Labels: zebra, nhrp, libfrr, master, size/L

#15210 bgpd: Fix format overflow for graceful-restart debug logs
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgpd.h
Labels: bgp, backport, master, size/M

#15227 Some fixes
  bgpd/rfapi/bgp_rfapi_cfg.c
  pceplib/test/pcep_msg_messages_test.c
  pceplib/test/pcep_msg_tlvs_test.c
Labels: bgp, master, size/L

#15226 Nhg debugs
  zebra/zebra_nhg.c
Labels: zebra, master, size/M

#15215 Compile issue fixups
  bgpd/bgp_rpki.c
  pceplib/pcep_socket_comm_mock.c
  pceplib/test/pcep_msg_messages_test.c
  pceplib/test/pcep_msg_object_error_types_test.c
  pceplib/test/pcep_msg_objects_test.c
  pceplib/test/pcep_msg_tlvs_test.c
  pceplib/test/pcep_msg_tools_test.c
  pceplib/test/pcep_pcc_api_test.c
  pceplib/test/pcep_utils_counters_test.c
Labels: bgp, master, size/L

#15206 pbrd: Fix PBR handling for last rule deletion
  pbrd/pbr_nht.c
Labels: pbr, backport, master, size/S

#15223 bgpd: Increase peer's struct cap from uint32 to uint64
  bgpd/bgp_updgrp.c
  bgpd/bgpd.h
Labels: bgp, master, size/M

#15232 bgpd: fix NULL argument warning
  bgpd/bgp_fsm.c
Labels: bgp, bugfix, stable/8.4

#15231 bgpd: fix NULL argument warning
  bgpd/bgp_fsm.c
Labels: bgp, bugfix, size/XS, stable/8.5

#15237 sharpd: Add ability to turn off watching of redistribution
  sharpd/sharp_vty.c
  sharpd/sharp_zebra.c
  sharpd/sharp_zebra.h
Labels: sharp, master, size/S

#15220 ripd to mgmtd
  doc/developer/mgmtd-dev.rst
  lib/filter.c
  lib/filter.h
  lib/filter_cli.c
  lib/filter_nb.c
  lib/routemap.c
  lib/routemap.h
  lib/routemap_northbound.c
  lib/vty.c
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_main.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  mgmtd/subdir.am
  python/xref2vtysh.py
  ripd/rip_cli.c
  ripd/rip_interface.c
  ripd/rip_main.c
  ripd/rip_nb.c
  ripd/rip_nb.h
  ripd/rip_routemap.c
  ripd/ripd.c
  ripd/subdir.am
  staticd/static_nb.h
  staticd/static_vty.c
  vtysh/vtysh.c
  vtysh/vtysh.h
Labels: documentation, rip, libfrr, bugfix, mgmt, master, size/XXL

#15240 ripngd: convert ripngd to mgmtd
  lib/vty.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_main.c
  mgmtd/mgmt_vty.c
  mgmtd/subdir.am
  python/xref2vtysh.py
  ripd/rip_nb.h
  ripd/ripd.h
  ripngd/ripng_cli.c
  ripngd/ripng_interface.c
  ripngd/ripng_main.c
  ripngd/ripng_nb.c
  ripngd/ripng_nb.h
  ripngd/ripng_routemap.c
  ripngd/ripngd.c
  ripngd/ripngd.h
  ripngd/subdir.am
  vtysh/vtysh.c
  vtysh/vtysh.h
Labels: ripng, master, size/L

#15239 tests: Fix SRv6 topotest names
  tests/topotests/srv6_locator_custom_bits_length/test_srv6_locator_custom_bits_length.py
  tests/topotests/zebra_seg6_route/test_zebra_seg6_route.py
Labels: tests, master, size/XS

#15244 A couple of mgmtd fixes
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_txn.c
Labels: bugfix, mgmt, master, size/XS

#15242 Cleanup the auto-converted northbound doc a little
  doc/developer/northbound/advanced-topics.rst
  doc/developer/northbound/architecture.rst
  doc/developer/northbound/demos.rst
  doc/developer/northbound/links.rst
  doc/developer/northbound/northbound.rst
  doc/developer/northbound/operational-data-rpcs-and-notifications.rst
  doc/developer/northbound/plugins-sysrepo.rst
  doc/developer/northbound/ppr-basic-test-topology.rst
  doc/developer/northbound/ppr-mpls-basic-test-topology.rst
  doc/developer/northbound/retrofitting-configuration-commands.rst
  doc/developer/northbound/transactional-cli.rst
  doc/developer/northbound/yang-module-translator.rst
  doc/developer/northbound/yang-tools.rst
Labels: documentation, master, size/XL

#15236 bgpd: fix mpls label pointer comparison
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/S

#15245 zebra, build: disable irdp by default
  configure.ac
  debian/frr.install
  doc/user/installation.rst
  redhat/frr.spec.in
  snapcraft/snapcraft.yaml.in
Labels: zebra, master, size/S

#15181 zebra interfaces NB conversion
  doc/user/zebra.rst
  lib/affinitymap.h
  lib/affinitymap_cli.c
  lib/affinitymap_northbound.c
  lib/command.h
  lib/defun_lex.l
  lib/if.c
  lib/if.h
  lib/mgmt_be_client.c
  lib/northbound.c
  lib/northbound.h
  lib/vrf.c
  lib/vty.c
  lib/yang.c
  lib/yang.h
  lib/yang_wrappers.c
  lib/yang_wrappers.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_main.c
  mgmtd/mgmt_vty.c
  mgmtd/subdir.am
  python/xref2vtysh.py
  staticd/static_vty.c
  tests/isisd/test_isis_spf.c
  tests/topotests/bgp_recursive_route_ebgp_multi_hop/test_bgp_recursive_route_ebgp_multi_hop.py
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-only-config.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-with-config.json
  tools/gen_northbound_callbacks.c
  tools/gen_yang_deviations.c
  vtysh/vtysh.c
  vtysh/vtysh.h
  yang/frr-zebra.yang
  zebra/interface.c
  zebra/interface.h
  zebra/irdp_interface.c
  zebra/main.c
  zebra/router-id.c
  zebra/router-id.h
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/subdir.am
  zebra/table_manager.c
  zebra/table_manager.h
  zebra/zebra_cli.c
  zebra/zebra_cli.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_evpn_mh.h
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_ptm.c
  zebra/zebra_ptm.h
  zebra/zebra_routemap.c
  zebra/zebra_routemap.h
  zebra/zebra_vrf.c
  zebra/zebra_vty.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan.h
Labels: tests, zebra, libfrr, bugfix, mgmt, master, size/XXL, rebase

#15248 zebra: fix compiler warning about truncation.
  zebra/zebra_cli.c
Labels: zebra, bugfix, master, size/XS

#15238 bgpd: fix VRF leaking with 'network import-check'
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nht.c
  tests/topotests/bgp_l3vpn_to_bgp_vrf/customize.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r1/bgpd.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/r1/zebra.conf
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/scale_down.py
Labels: bgp, bugfix, master, size/L

#15252 lib: init new bitfield word after realloc
  lib/bitfield.h
Labels: libfrr, master, size/XS

#15250 bgpd: Some memory optimizations
  bgpd/bgp_attr.h
  bgpd/bgp_damp.h
  bgpd/bgp_route.h
  bgpd/bgpd.h
Labels: bgp, master, size/L

#15163 packaging: Require account validation with pam_unix.so if PAM enabled
  debian/frr.pam
  redhat/frr.pam
Labels: master, size/XS

#15257 bgpd: Reinstall aggregated routes if using route-maps and it was changed
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
  tests/topotests/bgp_aggregate_address_route_map/test_bgp_aggregate-address_route-map.py
Labels: tests, bgp, bugfix, master, size/M

#14764 tools, vtysh: add the cli write callback, unhide an NB show command
  doc/user/basic.rst
  tools/gen_northbound_callbacks.c
  vtysh/vtysh.c
Labels: documentation, vtysh, tools, master, size/L, rebase

#15254 Add YANG notifications
  .gitignore
  configure.ac
  doc/developer/northbound/retrofitting-configuration-commands.rst
  doc/developer/topotests.rst
  lib/mgmt.proto
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg_native.c
  lib/mgmt_msg_native.h
  lib/northbound.c
  lib/northbound.h
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_testc.c
  mgmtd/subdir.am
  tests/topotests/lib/fe_client.py
  tests/topotests/mgmt_fe_client/fe_client.py
  tests/topotests/mgmt_fe_client/test_client.py
  tests/topotests/mgmt_notif/oper.py
  tests/topotests/mgmt_notif/r1/frr.conf
  tests/topotests/mgmt_notif/r2/frr.conf
  tests/topotests/mgmt_notif/test_notif.py
Labels: tests, libfrr, mgmt, master, size/XXL

#15246 mgmt get-data improvements
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg_native.h
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_main.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  mgmtd/subdir.am
  tests/topotests/mgmt_oper/r1/frr-simple.conf
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-only-config.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-wd-all-tag.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-wd-all.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-wd-explicit.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-wd-trim.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-with-config.json
  tests/topotests/mgmt_oper/test_simple.py
  yang/ietf/ietf-netconf-acm.yang
  yang/ietf/ietf-netconf-with-defaults.yang
  yang/ietf/ietf-netconf.yang
  yang/subdir.am
Labels: tests, bugfix, yang, mgmt, master, size/XXL

#15251 doc: fix misformatted list in nbapi docs
  doc/developer/northbound/retrofitting-configuration-commands.rst
Labels: documentation, bugfix, master, size/S

#15258 bgpd: fix attr comparaison bgp_adj_in_set
  bgpd/bgp_advertise.c
Labels: bgp, bugfix, master, size/XS
