Repository FRRouting/frr, pull requests merged in 2024-07, with the labels that each got.

#16305 bgpd: Ignore RFC8212 for BGP Confederations
  bgpd/bgp_route.c
  tests/topotests/bgp_confed1/r2/bgpd.conf
Labels: tests, bgp, backport, master, size/S

#16233 ripd/ripd.c - rip_auth_md5 : Change the start value of sequence 1 to 0
  ripd/ripd.c
Labels: rip, backport, master, size/XS, rebase

#15716 isisd: Fix memory leaks when the transition of neighbor state from non-UP to DOWN
  isisd/isis_adjacency.c
Labels: isis, backport, master, size/S, rebase

#16094 Add option to build pkg with grpc support
  debian/control
  debian/copyright
  debian/frr-grpc.install
  debian/rules
  doc/developer/packaging-debian.rst
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
Labels: packaging, master, size/L, rebase

#16303 isisd: fix crash when obtaining the next hop to calculate LFA on LAN links
  isisd/isis_lfa.c
Labels: isis, bugfix, backport, master, size/XS, rebase

#15677 isisd: Extend IS-IS to communicate with the SRv6 SID Manager to allocate/release SRv6 SIDs
  isisd/isis_lsp.c
  isisd/isis_nb_config.c
  isisd/isis_srv6.c
  isisd/isis_srv6.h
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  tests/topotests/isis_srv6_topo1/rt1/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt1/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt1/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt1/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt1/step9/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step2/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step4/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step6/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step8/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt2/step9/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step2/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step4/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step6/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step8/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt3/step9/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step2/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step4/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step6/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step8/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt4/step9/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step2/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step4/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step6/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step8/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt5/step9/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step1/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step2/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step3/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step4/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step5/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step6/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step7/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step8/show_srv6_locator_table.ref
  tests/topotests/isis_srv6_topo1/rt6/step9/show_srv6_locator_table.ref
Labels: isis, libfrr, master, size/XL

#16099 Implement BGP-wide configuration for graceful restart
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_main.c
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  lib/libfrr.c
  lib/libfrr.h
  tests/topotests/bgp_gr_functionality_topo1/test_bgp_gr_functionality_topo1-4.py
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
  tests/topotests/lib/bgp.py
  zebra/main.c
  zebra/rib.h
  zebra/zapi_msg.c
  zebra/zebra_gr.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
  zebra/zserv.c
  zebra/zserv.h
Labels: tests, bgp, master, size/XXL, rebase

#16323 bgpd: Ignore RFC8212 for BGP Confederations
  bgpd/bgp_route.c
Labels: bgp, backport, size/XS, stable/9.0

#16226 ldpd: fix wrong gtsm count
  ldpd/neighbor.c
Labels: backport, master, size/S

#16322 bgpd: Ignore RFC8212 for BGP Confederations
  bgpd/bgp_route.c
Labels: bgp, backport, size/XS, stable/9.1

#16324 bgpd: Ignore RFC8212 for BGP Confederations
  bgpd/bgp_route.c
Labels: bgp, backport, size/XS, stable/8.5

#16331 tests: Add basic BGP per-safi dampening topotest
  tests/topotests/bgp_dampening_per_safi/__init__.py
  tests/topotests/bgp_dampening_per_safi/r1/frr.conf
  tests/topotests/bgp_dampening_per_safi/r2/frr.conf
  tests/topotests/bgp_dampening_per_safi/test_bgp_dampening_per_safi.py
Labels: tests, master, size/L

#16339 yang: Corrected typo at yang file
  yang/frr-route-map.yang
Labels: yang, master, size/XS

#16334 bgpd: Move sticky, default_gw, router_flag into a single flags variable
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_attr_evpn.c
  bgpd/bgp_attr_evpn.h
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_private.h
  bgpd/bgp_route.c
Labels: bgp, master, size/L

#16345 bgpd: Implement `neighbor X remote-as auto`
  bgpd/bgp_attr.c
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_remote_as_auto/__init__.py
  tests/topotests/bgp_remote_as_auto/r1/frr.conf
  tests/topotests/bgp_remote_as_auto/r2/frr.conf
  tests/topotests/bgp_remote_as_auto/r3/frr.conf
  tests/topotests/bgp_remote_as_auto/test_bgp_remote_as_auto.py
Labels: bgp, master, size/L

#16346 sharpd: fix set ZAPI_MESSAGE_NEXTHOP in nhg only when nexthops used
  sharpd/sharp_zebra.c
Labels: bugfix, sharp, master, size/XS

#16090 isisd: When operating multiple areas, the system ID behaves abnormally.
  isisd/isis_nb_config.c
  isisd/isisd.c
Labels: isis, bugfix, master, size/S

#16348 tests: Extended bgp_remote_as_auto topotest with unnumbered case
  tests/topotests/bgp_remote_as_auto/r1/frr.conf
  tests/topotests/bgp_remote_as_auto/r4/frr.conf
  tests/topotests/bgp_remote_as_auto/test_bgp_remote_as_auto.py
Labels: tests, master, size/M

#16351 ospfd: Fix several problems with direct and delayed acknowledgments
  lib/libospf.h
  ospfd/ospf_flood.c
  ospfd/ospf_flood.h
  ospfd/ospf_interface.c
  ospfd/ospf_interface.h
  ospfd/ospf_ism.c
  ospfd/ospf_packet.c
  ospfd/ospf_packet.h
Labels: ospf, backport, master, size/L

#16352 tests: Rename BGP OAD test function
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: tests, master, size/XS

#16353 bgpd: Print tableid when sending (add/remove) routes to Zebra
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, master, size/S

#16258 lib, tests: fix some b0rked tests, then fix TSAN warnings
  lib/frrcu.h
  lib/seqlock.c
  tests/lib/test_atomlist.c
  tests/lib/test_seqlock.c
Labels: master, size/M

#16241 isisd: The neighbor entry still displays the deleted hostname of the neighbor.
  isisd/isis_adjacency.c
  isisd/isis_lsp.c
  tests/topotests/isis_topo1/test_isis_topo1.py
Labels: isis, master, size/S, rebase

#16342 Duplicate fib proposal
  tests/topotests/bgp_duplicate_nexthop/test_bgp_duplicate_nexthop.py
  tests/topotests/bgp_peer_type_multipath_relax/r1/prefix1-eBGP-confed.json
  tests/topotests/bgp_peer_type_multipath_relax/r1/prefix1-eBGP-iBGP.json
  tests/topotests/lib/common_check.py
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: documentation, zebra, libfrr, bugfix, sharp, master, size/M

#16229 ripd/ripngd: use common header for display command
  ripd/ripd.c
  ripngd/ripngd.c
  tests/topotests/rip_topo1/r1/show_ip_rip.ref
  tests/topotests/rip_topo1/r2/show_ip_rip.ref
  tests/topotests/rip_topo1/r3/show_ip_rip.ref
  tests/topotests/ripng_topo1/r1/show_ipv6_ripng.ref
  tests/topotests/ripng_topo1/r2/show_ipv6_ripng.ref
  tests/topotests/ripng_topo1/r3/show_ipv6_ripng.ref
Labels: tests, ripng, rip, master, size/M

#16140 lib: Discourage usage of deprecated data structures
  lib/hash.h
  lib/linklist.h
  lib/openbsd-queue.h
  lib/openbsd-tree.h
Labels: master, size/M

#16369 yang: Added default value to leaf
  yang/frr-zebra.yang
Labels: yang, master, size/XS

#16363 tests: tweak timers to avoid frequent failures on slow CI hardware
  tests/topotests/ospf_metric_propagation/r1/frr.conf
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-1.json
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-2.json
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-3.json
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-4.json
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-5.json
  tests/topotests/ospf_metric_propagation/r1/show_ip_route-6.json
  tests/topotests/ospf_metric_propagation/r2/frr.conf
  tests/topotests/ospf_metric_propagation/r3/frr.conf
  tests/topotests/ospf_metric_propagation/r4/frr.conf
  tests/topotests/ospf_metric_propagation/ra/frr.conf
  tests/topotests/ospf_metric_propagation/rb/frr.conf
  tests/topotests/ospf_metric_propagation/rc/frr.conf
  tests/topotests/ospf_metric_propagation/test_ospf_metric_propagation.py
Labels: tests, backport, master, size/L

#16350 zebra: Fix to avoid two Vrfs with same table ids
  zebra/interface.c
Labels: zebra, backport, master, size/M

#16373 staticd: fix missing static routes
  staticd/static_zebra.c
Labels: zebra, bugfix, backport, master, size/XS

#16365 isisd: fix crash when calculating the neighbor spanning tree based on the fragmented LSP
  isisd/isis_spf.c
Labels: isis, bugfix, backport, master, size/XS

#16374 bgpd: Mark VRF instance as auto created if import vrf is configured for this instance
  bgpd/bgp_vty.c
  tests/topotests/bgp_vrf_different_asn/__init__.py
  tests/topotests/bgp_vrf_different_asn/r1/frr.conf
  tests/topotests/bgp_vrf_different_asn/test_bgp_vrf_different_asn.py
Labels: tests, bgp, backport, master, size/L

#16368 bgpd: backpressure - fix to properly remove dest for bgp under deletion
  bgpd/bgp_evpn.c
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/M

#16361 ospfd: fix state location mixup
  lib/libfrr.h
  ospfd/ospf_main.c
Labels: ospf, libfrr, bugfix, master, size/M

#16394 bfdd: changes for code maintainability
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
Labels: bfd, master, size/M

#16411 doc: adjust some commands for pim/pimv6 bsr
  doc/user/pim.rst
  doc/user/pimv6.rst
Labels: documentation, master, size/XS

#16269 Router pim config
  doc/user/pim.rst
  doc/user/pimv6.rst
  lib/command.h
  pimd/pim6_cmd.c
  pimd/pim_addr.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_instance.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb.h
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_vty.c
  tools/frr-reload.py
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: documentation, tests, pim, vtysh, libfrr, tools, release-notes, master, size/XXL

#16417 nhrpd: Fixes auth config change bug
  nhrpd/nhrp_vty.c
Labels: nhrp, master, size/XS

#16415 tests: OSPFv3 hello tests investigation, make assert output unique
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_single_area.py
Labels: tests, master, size/M

#16409 build: display local state dir configuration
  configure.ac
Labels: master, size/XS

#16422 nhrpd: Fixes auth no redirect bug
  nhrpd/nhrp_peer.c
Labels: nhrp, master, size/XS

#16406 Drop deprecation for `show thread ...`
  lib/event.c
  vtysh/vtysh.c
Labels: vtysh, libfrr, master, size/M

#16423 bgpd: Show extended parameters support for the OPEN messages
  bgpd/bgp_packet.c
Labels: bgp, master, size/S

#16392 yang: Corrected range in yang file
  yang/frr-eigrpd.yang
Labels: yang, master, size/XS

#16412 yang: Fixed pyang warnings at frr-bfdd yang file
  yang/frr-bfdd.yang
Labels: yang, master, size/XS

#16426 tests: Fix topotest warnings
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf/test_bgp_srv6l3vpn_to_bgp_vrf.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf2/test_bgp_srv6l3vpn_to_bgp_vrf2.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/test_bgp_srv6l3vpn_to_bgp_vrf3.py
Labels: tests, master, size/XS

#16425 tools: Do not append an empty list (pim_vrfs) to the config lines
  tools/frr-reload.py
Labels: tools, bugfix, master, size/S

#16341 zebra: evpn: not coerce VTEP IP to IPv4 in nh_list
  tests/topotests/bgp_evpn_rt5/r1/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r1/zebra.conf
  tests/topotests/bgp_evpn_rt5/r2/bgpd.conf
  tests/topotests/bgp_evpn_rt5/r2/zebra.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/zebra_vxlan.c
Labels: tests, zebra, master, size/L

#16408 bgpd: changes for code maintainability
  bgpd/bgpd.c
Labels: bgp, master, size/S

#16429 lib: move non-error from __log_err to __dbg
  lib/vty.c
  mgmtd/mgmt_txn.c
Labels: libfrr, backport, master, size/S

#16309 pimd: fix crash on non-existent interface
  pimd/pim_nb_config.c
Labels: pim, bugfix, master, size/S

#16407 tools: Ignore ALIAS_* macros for clang-formatter
  .clang-format
Labels: tools, master, size/XS

#16432 pimd: fix compile warnings
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
Labels: pim, master, size/S

#16437 bgpd: backpressure - Avoid use after free
  bgpd/bgp_evpn.c
  bgpd/bgpd.c
Labels: bgp, backport, master, size/XS

#16330 zebra: Properly note that a nhg's nexthop has gone down
  tests/topotests/isis_tilfa_topo1/rt5/step10/show_ip_route.ref
  zebra/zebra_nhg.c
  zebra/zebra_vty.c
Labels: zebra, bugfix, backport, master, size/M

#16376 ospfd: fix internal ldp-sync state flags when feature is disabled
  ospfd/ospf_ldp_sync.c
  tests/topotests/ldp_sync_ospf_topo1/r2/show_ospf_ldp_sync.ref
  tests/topotests/ldp_sync_ospf_topo1/r2/show_ospf_ldp_sync_r1_eth1_shutdown.ref
  tests/topotests/ldp_sync_ospf_topo1/r2/show_ospf_ldp_sync_r2_eth1_shutdown.ref
  tests/topotests/ldp_sync_ospf_topo1/r3/show_ospf_ldp_sync.ref
  tests/topotests/ldp_sync_ospf_topo1/r3/show_ospf_ldp_sync_r1_eth1_shutdown.ref
  tests/topotests/ldp_sync_ospf_topo1/r3/show_ospf_ldp_sync_r2_eth1_shutdown.ref
Labels: ospf, bugfix, backport, master, size/S

#16403 bgpd: fix label lost when vrf loopback comes back
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, master, size/S, rebase

#16410 zebra: add nexthop counter to 'show zebra dplane' command
  zebra/zebra_dplane.c
Labels: zebra, master, size/XS

#16428 yang: Added missed prefix to the frr-deviations-ietf-routing yang file
  yang/ietf/frr-deviations-ietf-routing.yang
Labels: yang, master, size/XS

#16451 lib: mgmtd: fix too early daemon detach of mgmtd
  lib/libfrr.c
  lib/libfrr.h
  lib/vty.c
Labels: libfrr, bugfix, backport, master, size/M

#16232 isisd: Even after configuring "no hostname dynamic", the topology still displays the hostname.
  isisd/isis_misc.c
  isisd/isisd.c
  isisd/isisd.h
  tests/isisd/test_isis_spf.c
Labels: master, size/M, rebase

#16456 bgpd: Pass a connection struct directly for EVENT_OFF()
  bgpd/bgp_fsm.c
Labels: bgp, master, size/XS

#16455 tests: Delay initial OPEN after we do `clear bgp`
  tests/topotests/bgp_gr_notification/r1/bgpd.conf
  tests/topotests/bgp_gr_notification/r2/bgpd.conf
Labels: tests, master, size/XS

#16469 doc: Add RFC 5701 to the supported RFCs list
  doc/user/about.rst
Labels: documentation, master, size/XS

#16449 build: fix a few python string escape warnings
  doc/developer/conf.py
  doc/manpages/conf.py
  doc/user/conf.py
  python/firstheader.py
  python/makefile.py
Labels: bugfix, master, size/S

#16464 zebra: Remove duplicate `#include`s
  zebra/dplane_fpm_nl.c
  zebra/interface.c
  zebra/zebra_srv6.c
Labels: zebra, master, size/XS

#16041 zebra: changes for code maintainability
  zebra/zebra_vxlan_if.c
Labels: zebra, master, size/S, rebase

#16470 bgpd: Keep the last reset reason before we reset the peer
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#16472 pimd: Fix msdp setting of sa->rp
  pimd/pim_msdp.c
  tests/topotests/msdp_topo1/test_msdp_topo1.py
Labels: pim, backport, master, size/S, rebase

#16416 bgpd: backpressure - fix ret value and log err for evpn
  bgpd/bgp_evpn.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, master, size/M

#16473 bgpd: Show software version in bgp summary
  bgpd/bgp_vty.c
Labels: bgp, master, size/XS

#16471 bgpd: Do not increment treat-as-withdraw counters if debug is enabled
  bgpd/bgp_packet.c
Labels: bgp, master, size/XS

#16467 isisd: fix building flex-algo asla at init
  isisd/isis_nb_config.c
  isisd/isis_te.c
  isisd/isis_te.h
  lib/flex_algo.c
  lib/flex_algo.h
Labels: isis, libfrr, bugfix, master, size/M

#16479 backpressure backports for dev/10.1
  bgpd/bgp_evpn.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, size/M, dev/10.1

#16463 bfdd: remove obsolete control socket
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdctl.h
  bfdd/bfdd.c
  bfdd/bfdd_vty.c
  bfdd/config.c
  bfdd/control.c
  bfdd/dplane.c
  bfdd/ptm_adapter.c
  bfdd/subdir.am
  doc/manpages/bfd-options.rst
  doc/user/bfd.rst
  snapcraft/scripts/bfdd-service
  snapcraft/snapcraft.yaml.in
Labels: documentation, bfd, master, size/XXL, rebase

#15797 isis, lib: add isis srv6 end sid to ls_prefix
  isisd/isis_lsp.c
  isisd/isis_lsp.h
  isisd/isis_te.c
  isisd/isis_te.h
  lib/link_state.c
  lib/link_state.h
Labels: libfrr, master, size/L

#16485 Test fixes
  tests/topotests/bgp_duplicate_nexthop/r1/bgpd.conf
  tests/topotests/bgp_duplicate_nexthop/r3/bgpd.conf
  tests/topotests/bgp_duplicate_nexthop/r5/bgpd.conf
  tests/topotests/bgp_duplicate_nexthop/r6/bgpd.conf
  tests/topotests/bgp_duplicate_nexthop/test_bgp_duplicate_nexthop.py
  tests/topotests/bgp_vpnv4_per_nexthop_label/test_bgp_vpnv4_per_nexthop_label.py
  tests/topotests/bgp_vpnv6_per_nexthop_label/test_bgp_vpnv6_per_nexthop_label.py
Labels: tests, master, size/M

#16491 bgpd: Do not process VRF import/export to/from auto created VRF instances
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
Labels: bgp, master, size/XS

#16490 tests: Test MSDP RPF
  tests/topotests/msdp_topo2/r1/bgpd.conf
  tests/topotests/msdp_topo2/r1/pimd.conf
  tests/topotests/msdp_topo2/r1/zebra.conf
  tests/topotests/msdp_topo2/r2/bgpd.conf
  tests/topotests/msdp_topo2/r2/pimd.conf
  tests/topotests/msdp_topo2/r2/zebra.conf
  tests/topotests/msdp_topo2/r3/bgpd.conf
  tests/topotests/msdp_topo2/r3/pimd.conf
  tests/topotests/msdp_topo2/r3/zebra.conf
  tests/topotests/msdp_topo2/r4/bgpd.conf
  tests/topotests/msdp_topo2/r4/pimd.conf
  tests/topotests/msdp_topo2/r4/zebra.conf
  tests/topotests/msdp_topo2/r5/bgpd.conf
  tests/topotests/msdp_topo2/r5/pimd.conf
  tests/topotests/msdp_topo2/r5/zebra.conf
  tests/topotests/msdp_topo2/test_msdp_topo2.py
Labels: tests, master, size/XL

#16492 tests: topotests/lib: add wait to RequireVpnRoutes, RequireUnicastRoutes
  tests/topotests/lib/bgprib.py
Labels: tests, master, size/L

#16480 nhrpd: fixes duplicate auth extension
  nhrpd/nhrp_peer.c
Labels: nhrp, master, size/S

#12459 pimd: MSDP peer MD5 authentication
  doc/user/pim.rst
  lib/sockopt.h
  pimd/pim_cmd.c
  pimd/pim_memory.c
  pimd/pim_memory.h
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_msdp_socket.c
  pimd/pim_msdp_socket.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/msdp_topo1/r1/pimd.conf
  tests/topotests/msdp_topo1/r2/pimd.conf
  yang/frr-pim.yang
Labels: documentation, tests, pim, libfrr, yang, master, size/XL

#16494 zebra: Fix removal of routes on MetaQ when client goes down
  zebra/zebra_rib.c
Labels: zebra, master, size/S

#16178 babel: Added null check after retrieving babel_ifp
  babeld/babel_interface.c
Labels: master, size/S

#16496 doc: Add some topotest documentation about how to reproduce failures
  doc/developer/topotests.rst
Labels: documentation, master, size/M

#16497 bgpd: Check the actual remaining stream length before taking TLV value
  bgpd/bgp_attr.c
Labels: bgp, backport, master, size/XS
