Repository FRRouting/frr, pull requests merged in 2024-02, with the labels that each got.

#15268 lowercase and localize debug/err macros
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/vty.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/XXL

#15266 2 memory optimizations
  bgpd/bgp_memory.c
  bgpd/bgp_memory.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_monitor.c
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_vty.c
  bgpd/rfapi/vnc_import_bgp.c
  lib/hash.h
Labels: bgp, libfrr, master, size/L

#15270 redhat: add option to include mgmtd_testc test client
  redhat/frr.spec.in
Labels: packaging, master, size/XS

#15264 bgpd: Optimize memory for rd_ip struct
  bgpd/bgp_rd.h
Labels: bgp, master, size/XS

#15272 tests: add mgmtd backend notification test
  mgmtd/mgmt_testc.c
  tests/topotests/mgmt_notif/test_notif.py
Labels: tests, master, size/L

#15276 *: create a single registry of daemons' default port values
  babeld/babeld.h
  bfdd/bfdd.c
  bgpd/bgpd.h
  eigrpd/eigrp_const.h
  fpm/fpm.h
  isisd/isis_main.c
  ldpd/ldpd.c
  lib/libfrr.c
  lib/libfrr.h
  lib/zebra.h
  mgmtd/mgmt.h
  nhrpd/nhrpd.h
  ospf6d/ospf6_main.c
  ospfd/ospf_api.h
  ospfd/ospfd.h
  pathd/path_main.c
  pbrd/pbr_main.c
  pimd/pimd.h
  ripd/ripd.h
  ripngd/ripngd.h
  sharpd/sharp_main.c
  staticd/static_main.c
  vrrpd/vrrp_main.c
  zebra/dplane_fpm_nl.c
  zebra/zserv.h
Labels: master, size/L

#15275 bgpd: One more attr struct memory optimization
  bgpd/bgp_attr.h
Labels: bgp, master, size/S

#15282 lib: Warn operator when fd limit is set too large
  lib/event.c
Labels: libfrr, bugfix, master, size/XS

#15278 lib: fix "no vrf" command
  lib/vrf.c
Labels: libfrr, bugfix, master, size/S

#15279 several fixes for staticd configuration
  lib/routing_nb.h
  lib/routing_nb_config.c
  staticd/static_bfd.c
  staticd/static_main.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_vrf.c
  staticd/static_vrf.h
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/lib/test_grpc.cpp
Labels: staticd, bugfix, master, size/L

#15216 zebra: Fix opaque memory leak in rare situation
  zebra/zebra_rib.c
Labels: zebra, bugfix, master, size/XS, rebase

#10151 zebra: avoid having speed set to UINT32_MAX
  doc/user/zebra.rst
  lib/libospf.h
  ospf6d/ospf6_interface.h
  yang/frr-zebra.yang
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_cli.c
Labels: documentation, ospf, ospfv3, zebra, libfrr, bugfix, yang, size/M

#15192 bgpd: add [no]neighbor capability fqdn
  bgpd/bgp_open.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/bgpd/test_peer_attr.c
  tests/bgpd/test_peer_attr.py
  tests/topotests/bgp_dont_capability_negotiate/test_bgp_dont_capability_negotiate.py
Labels: documentation, tests, bgp, master, size/L, rebase

#15265 bgpd,lib: fix logging from rpki_create_socket()
  bgpd/bgp_rpki.c
  lib/frr_pthread.c
  lib/frr_pthread.h
  lib/frrcu.c
  lib/frrcu.h
Labels: bgp, libfrr, bugfix, master, size/M

#15298 Rcu bites the bitey thing
  bgpd/bgp_rpki.c
  lib/frr_pthread.c
Labels: bgp, libfrr, master, size/M

#15296 doc: remove [no] from commands
  doc/user/bgp.rst
  doc/user/mgmtd.rst
  doc/user/zebra.rst
Labels: documentation, master, size/S

#15295 fixes for access-list/prefix-list autocompletion
  lib/filter_cli.c
  lib/plist.c
  lib/routemap_cli.c
  ospf6d/ospf6_area.c
  ospf6d/ospf6_interface.c
  ospfd/ospf_vty.c
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
Labels: libfrr, bugfix, master, size/L

#15297 mgmtd: fix missing -n flag and help
  lib/if.c
  lib/if.h
  lib/routing_nb.c
  lib/routing_nb.h
  lib/vrf.c
  lib/vrf.h
  mgmtd/mgmt_main.c
Labels: libfrr, bugfix, mgmt, master, size/M

#15293 mgmtd: disable lib code for config reading
  mgmtd/mgmt_main.c
Labels: mgmt, master, size/XS

#15289 Coverity fixes
  staticd/static_zebra.c
  zebra/zebra_cli.c
  zebra/zebra_nb_config.c
Labels: staticd, zebra, master, size/M

#15291 lib, mgmtd: fix missing embedded modules
  lib/yang.c
  mgmtd/subdir.am
Labels: libfrr, mgmt, master, size/XS

#15309 zebra: Reorg `struct route_entry` to have important bits first
  zebra/rib.h
Labels: zebra, master, size/S

#15287 doc: Add some documentation around a new pthread call
  doc/developer/rcu.rst
Labels: documentation, master, size/XS

#15308 doc: Document `update-source <IFNAME>` command better
  doc/user/bgp.rst
Labels: documentation, master, size/XS

#15301 bgpd: Send FQDN capability via dynamic capability if enabled
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, master, size/S

#15311 bgpd: fix displaying srv6 sid
  bgpd/rfapi/rfapi_vty.c
Labels: bgp, bugfix, master, size/S

#15283 doc: sysrepo plugin doc update with test commands
  doc/developer/northbound/plugins-sysrepo.rst
Labels: documentation, master, size/L

#15305 bgpd: remove dead label code in bgp_update
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#15314 bgpd: A couple random EVPN findings
  bgpd/bgp_evpn_mh.h
  zebra/zebra_evpn_mh.h
Labels: bgp, zebra, master, size/XS, rebase

#15317 lib: fix affinity map duplicate
  mgmtd/subdir.am
Labels: libfrr, bugfix, master, size/XS

#15286 Fix conflict in mgmtd on startup
  lib/vty.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: vtysh, bugfix, mgmt, master, size/M

#15324 doc: Fix the documentation for route-map continue statement
  doc/user/routemap.rst
Labels: documentation, master, size/XS

#15316 nhrp: fix race condition in null lladdr from zebra
  nhrpd/netlink_arp.c
Labels: bugfix, master, size/XS

#15325 bgpd: Do not show TCP MSS if the socket is broken
  lib/sockopt.c
Labels: bgp, backport, master, size/XS

#15326 bgpd: fix flushing ipv6 flowspec entries when peering stops
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
Labels: bgp, bugfix, master, size/S

#15323 frr-reload: backport fixes from master for stable/9.0
  tools/frr-reload.py
Labels: tools, bugfix, size/L, stable/9.0

#15255 bgpd: fix interface of routes leaked from another VRF
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_srv6l3vpn_route_leak/pe1/results/vrf20_ipv4.json
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/r1/zebra.conf
  tests/topotests/bgp_vrf_route_leak_basic/setup_vrfs
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r1/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/zebra-vrf-default.txt
  tests/topotests/ospf_multi_vrf_bgp_route_leak/r2/zebra-vrf-ray.txt
Labels: bgp, bugfix, master, size/L

#15285 staticd: fix nexthop tracking memory leak and add a topotest for VRFs
  staticd/static_nht.c
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_zebra.c
  tests/topotests/static_vrf/r1/frr.conf
  tests/topotests/static_vrf/test_static_vrf.py
Labels: tests, staticd, bugfix, master, size/L

#15336 ospfd: add support for "no router-info [<area|as>] command"
  ospfd/ospf_ri.c
Labels: ospf, master, size/XS

#15333 ospfd: can not delete "segment-routing node-msd" when SR if off
  ospfd/ospf_sr.c
Labels: ospf, backport, master, size/XS

#15334 frr-reload: backport fixes from master for stable/9.1
  tools/frr-reload.py
Labels: tools, bugfix, size/M, stable/9.1

#15327 pimd: re-evaluated S,G OILs upon RP changes and empty SG upstream oils
  pimd/pim_mroute.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
Labels: pim, backport, master, size/M

#15353 mgmtd: ripng, libs fully converted
  doc/developer/mgmtd-dev.rst
Labels: mgmt, master, size/XS

#15354 qpb: Add missing `#include nexthop.h`
  qpb/qpb.h
Labels: master, size/XS

#15347 bgpd: fix minttl copying during peer reset
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#15356 build: fix configure output
  configure.ac
Labels: bugfix, master, size/XS

#15346 Some more memory optimizations
  bgpd/bgp_advertise.h
  bgpd/bgp_ecommunity.h
  bgpd/bgp_nexthop.h
  bgpd/bgpd.h
Labels: bgp, master, size/M

#15355 Fix and rework YANG notifications
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/northbound.c
  lib/northbound.h
  lib/northbound_cli.c
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_testc.c
  tests/topotests/mgmt_notif/test_notif.py
  vtysh/vtysh.c
Labels: libfrr, bugfix, mgmt, master, size/L

#15358 update doc with new more strict protobuf requirements
  doc/developer/topotests.rst
  docker/ubuntu-ci/Dockerfile
  tests/lib/subdir.am
Labels: documentation, tests, bugfix, master, size/S

#15352 bgpd: fix route recursion on leaked routes
  bgpd/bgp_zebra.c
  tests/topotests/bgp_l3vpn_to_bgp_vrf/scripts/check_routes.py
Labels: tests, bgp, bugfix, master, size/S

#15361 mgmtd: fix be_is_client_interested
  mgmtd/mgmt_be_adapter.c
Labels: bugfix, mgmt, master, size/S

#15042 ospfd: Add Opaque LSA decoder for json output
  ospfd/ospf_ext.c
  ospfd/ospf_opaque.c
  ospfd/ospf_ri.c
  ospfd/ospf_te.c
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: tests, ospf, master, size/XXL

#15284 bgpd: Add neighbor X send-community extended rpki command
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_rpki_topo1/r2/bgpd.conf
  tests/topotests/bgp_rpki_topo1/r2/zebra.conf
  tests/topotests/bgp_rpki_topo1/r4/bgpd.conf
  tests/topotests/bgp_rpki_topo1/r4/zebra.conf
  tests/topotests/bgp_rpki_topo1/test_bgp_rpki_topo1.py
Labels: documentation, tests, bgp, master, size/L

#15320 lib, ospfclient, vtysh: Allow for a minimum fd poll size
  lib/event.c
Labels: tests, vtysh, libfrr, bugfix, master, size/XS

#15234 topotests: fix snmptrap log OID parsing
  tests/topotests/bgp_snmp_bgp4v2mib/test_bgp_snmp_bgp4v2mib.py
  tests/topotests/lib/snmptest.py
Labels: tests, bugfix, master, size/S, rebase

#15359 mgmtd: remove unused commit phase SEND_CFG
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/M

#15288 vtysh: Remove deprecated shell_access code
  configure.ac
  doc/user/installation.rst
  vtysh/vtysh.c
Labels: vtysh, master, size/M

#15332 Nhg stuffs
  zebra/interface.c
  zebra/interface.h
  zebra/redistribute.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#15371 Fixes for the northbound/mgmtd
  lib/yang.c
Labels: libfrr, bugfix, master, size/S

#15382 More sa failures
  bgpd/bgp_rpki.c
  ospfd/ospf_te.c
Labels: bgp, ospf, master, size/XS

#15378 tests: fix ospf_suppress_fa timing issue
  tests/topotests/ospf_suppress_fa/r2/ospfd.conf
Labels: tests, bugfix, master, size/XS

#15376 babeld: changes for code maintainability
  babeld/message.c
Labels: babel, master, size/L

#15357 github: Replace issue template with issue form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: master, size/L

#15389 doc: Add `mgmtd` pytest marker into documentation
  doc/developer/topotests-markers.rst
Labels: documentation, master, size/S

#15381 lib: mgmtd: add xpath arg to YANG notification message
  lib/hook.h
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_msg_native.h
  lib/northbound.c
  lib/northbound.h
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  tests/topotests/lib/fe_client.py
Labels: libfrr, master, size/L

#15394 babeld: changes for code maintainability
  babeld/neighbour.c
Labels: babel, master, size/M

#15351 bgpd: update route leak after vrf interface changes
  bgpd/bgp_attr.c
  bgpd/bgp_attr.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_zebra.c
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
  tests/topotests/lib/checkping.py
Labels: tests, bgp, bugfix, master, size/L

#15366 fpm: Add support for SRv6 to FPM protobuf
  fpm/fpm.proto
  fpm/fpm_pb.h
Labels: fpm, master, size/XL, rebase

#15367 ospfd: fix cli shown in running config when turning off ldp-sync
  ospfd/ospf_ldp_sync.c
Labels: ospf, bugfix, master, size/XS

#15377 lib: Do not convert EVPN prefixes into IPv4/IPv6 if not needed
  lib/routemap.c
  tests/topotests/bgp_evpn_route_map_match/r1/frr.conf
  tests/topotests/bgp_evpn_route_map_match/test_bgp_evpn_route_map_match.py
Labels: tests, libfrr, master, size/M

#15393 lib: fix base64 encoding
  lib/base64.c
  lib/base64.h
Labels: libfrr, bugfix, master, size/S

#15401 Fix order of NB callbacks (and a crash)
  lib/affinitymap_northbound.c
  lib/northbound.c
Labels: libfrr, bugfix, master, size/S

#15383 zebra: Remove deprecated items
  tests/topotests/bgp_evpn_vxlan_svd_topo1/PE1/evpn.vni.json
  tests/topotests/bgp_evpn_vxlan_svd_topo1/PE2/evpn.vni.json
  zebra/zebra_evpn.c
  zebra/zebra_vxlan.c
Labels: zebra, master, size/S

#15384 isisd: display all the algorithms at the same time
  doc/user/isisd.rst
  isisd/isis_spf.c
  isisd/isis_sr.c
Labels: documentation, isis, master, size/L

#15406 tests: bgp_evpn_mh timing issue fix
  tests/topotests/bgp_evpn_mh/test_evpn_mh.py
Labels: tests, master, size/S

#15410 bgpd: move mp_nexthop_prefer_global boolean attribute to nh_flags
  bgpd/bgp_attr.h
  bgpd/bgp_mpath.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_snmp_bgp4v2.c
  bgpd/bgp_zebra.c
Labels: bgp, master, size/M

#15405 tests: use more standard name for python3
  tests/topotests/lib/fe_client.py
Labels: tests, master, size/XS

#15421 lib: fix processing of notifications on mgmt fe client
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
Labels: libfrr, bugfix, master, size/M

#15423 lib: fix processing of choices in northbound
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  lib/filter_nb.c
  lib/northbound.c
  tests/topotests/mgmt_config/test_regression.py
  tests/topotests/nb_config/r1/frr.conf
  tests/topotests/nb_config/test_nb_config.py
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
Labels: tests, libfrr, bugfix, backport, master, size/L

#15430 lib: fix setting temporary log options for libyang
  lib/northbound.c
Labels: libfrr, bugfix, backport, master, size/XS

#15387 bgpd: fix no bgp as-path access-list issue
  bgpd/bgp_aspath.h
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  bgpd/bgp_routemap.c
  tests/topotests/bgp_set_aspath_exclude/test_bgp_set_aspath_exclude.py
Labels: tests, bgp, bugfix, backport, master, size/L, rebase

#15429 zebra: changes for code maintainability
  zebra/zebra_evpn.c
Labels: zebra, master, size/L

#15427 lib: fix access/prefix-list entry update
  lib/filter.c
  lib/filter.h
  lib/filter_nb.c
Labels: libfrr, bugfix, backport, master, size/L

#15273 bgpd: Implement Paths-Limit capability
  bgpd/bgp_addpath.h
  bgpd/bgp_fsm.c
  bgpd/bgp_open.c
  bgpd/bgp_open.h
  bgpd/bgp_packet.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_adv.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_addpath_paths_limit/__init__.py
  tests/topotests/bgp_addpath_paths_limit/r1/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r2/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r3/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r4/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r5/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r6/frr.conf
  tests/topotests/bgp_addpath_paths_limit/r7/frr.conf
  tests/topotests/bgp_addpath_paths_limit/test_bgp_addpath_paths_limit.py
Labels: documentation, tests, bgp, master, size/XL

#14810 SRv6 BGP SID reachability
  bgpd/bgp_nht.c
  doc/user/bgp.rst
  tests/topotests/bgp_srv6_sid_reachability/c11/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c11/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c11/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/c12/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c12/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c12/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/c21/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c21/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c21/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/c22/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c22/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c22/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/c31/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c31/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c31/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/c32/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/c32/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/c32/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/r1/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/r1/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/r1/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/r2/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/r2/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/r2/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/r3/bgpd.conf
  tests/topotests/bgp_srv6_sid_reachability/r3/staticd.conf
  tests/topotests/bgp_srv6_sid_reachability/r3/zebra.conf
  tests/topotests/bgp_srv6_sid_reachability/test_bgp_srv6_sid_reachability.py
Labels: documentation, tests, bgp, master, size/XL

#15431 ospfd: Solved crash in OSPF TE parsing
  ospfd/ospf_te.c
Labels: ospf, backport, master, size/XS

#15417 lib: Do not convert EVPN prefixes into IPv4/IPv6 if not needed
  lib/routemap.c
Labels: libfrr, size/S, stable/9.0

#15416 lib: Do not convert EVPN prefixes into IPv4/IPv6 if not needed
  lib/routemap.c
Labels: libfrr, size/S, stable/9.1

#15399 zebra: fix crash when macvlan link-interface is in another netns
  zebra/zebra_vxlan.c
Labels: zebra, bugfix, backport, master, size/XS

#15438 doc: Update dates in release reference table
  doc/developer/workflow.rst
Labels: documentation, master, size/XS

#13721 bgpd: fix route-target display with as dotted format
  bgpd/bgp_ecommunity.c
Labels: bgp, bugfix, master, size/M

#15447 bmp: fix vty_out for monitor afi loc-rib
  bgpd/bgp_bmp.c
Labels: bugfix, backport, master, size/XS

#15446 tools: fix typo in configure script
  configure.ac
Labels: tools, bugfix, master, size/XS, rebase

#15368 bgpd: fix 6vpe nexthop
  bgpd/bgp_updgrp_packet.c
  tests/topotests/bgp_6vpe_ebgp_topo1/__init__.py
  tests/topotests/bgp_6vpe_ebgp_topo1/h1/zebra.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/h2/zebra.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/bgp_summary.json
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/bgp_vrf_ipv6.json
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/bgpd.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/ipv6_routes_vrf.json
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/isisd.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe1/zebra.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe2/bgp_summary.json
  tests/topotests/bgp_6vpe_ebgp_topo1/pe2/bgp_vrf_ipv6.json
  tests/topotests/bgp_6vpe_ebgp_topo1/pe2/bgpd.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe2/isisd.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/pe2/zebra.conf
  tests/topotests/bgp_6vpe_ebgp_topo1/test_bgp_6vpe_ebgp_topo1.py
Labels: bgp, bugfix, backport, master, size/XL

#14898 tools: fix frr-reload for nbr deletion
  tools/frr-reload.py
Labels: tools, bugfix, master, size/XS

#14775 tests: multiple OSPF routers connected to a single switch
  tests/topotests/ospf_single_switch/r1_frr.conf
  tests/topotests/ospf_single_switch/r2_frr.conf
  tests/topotests/ospf_single_switch/r3_frr.conf
  tests/topotests/ospf_single_switch/r4_frr.conf
  tests/topotests/ospf_single_switch/r5_frr.conf
  tests/topotests/ospf_single_switch/r6_frr.conf
  tests/topotests/ospf_single_switch/r7_frr.conf
  tests/topotests/ospf_single_switch/r8_frr.conf
  tests/topotests/ospf_single_switch/test_ospf_single_switch.py
Labels: tests, master, size/L, rebase
