Repository FRRouting/frr, pull requests merged in 2024-11, with the labels that each got.

#17330 Revert "ospfd: update ospf_asbr_status when using no_area_nssa command"
  ospfd/ospfd.c
Labels: master, size/XS

#17329 lib: Remove wheel name it is no longer used
  lib/wheel.c
  lib/wheel.h
Labels: libfrr, master, size/S

#17328 tests: Do not set by default netlink receive buffer size for Zebra
  tests/topotests/lib/topotest.py
Labels: tests, master, size/XS

#17230 Clang 19 some more
  bgpd/rfapi/bgp_rfapi_cfg.c
  bgpd/rfapi/rfapi_vty.c
  zebra/zebra_srv6.c
Labels: bgp, zebra, master, size/XS

#17194 ospfd: Fix opaque LSA refresh interval and modify LSA cmds.
  doc/user/ospfd.rst
  lib/libospf.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_opaque.c
  ospfd/ospf_vty.c
Labels: ospf, master, size/L

#17280 Remove event master free unused
  bgpd/bgpd.c
  lib/event.c
  lib/frrevent.h
Labels: bgp, libfrr, master, size/S

#17335 bgpd: Replace 128 with `IPV6_MAX_BITLEN`
  bgpd/bgp_zebra.c
Labels: bgp, master, size/XS

#17334 zebra: Fix incorrect debug macros
  zebra/zebra_srv6.c
Labels: zebra, master, size/S

#17333 doc: Fix a couple of misspellings in zebra documentation
  doc/user/zebra.rst
Labels: documentation, master, size/XS

#17332 tests: Remove unnecessary fields from expected JSON
  tests/topotests/zebra_rib/r1/import_init_mrib_table.json
  tests/topotests/zebra_rib/r1/import_init_table.json
  tests/topotests/zebra_rib/r1/import_mrib_table_2.json
  tests/topotests/zebra_rib/r1/import_mrib_table_3.json
  tests/topotests/zebra_rib/r1/import_mrib_table_4.json
  tests/topotests/zebra_rib/r1/import_table_2.json
  tests/topotests/zebra_rib/r1/import_table_3.json
  tests/topotests/zebra_rib/r1/import_table_4.json
Labels: tests, master, size/L

#16960 zebra: On startup actually allow for nhe's to be early
  zebra/main.c
  zebra/zebra_ns.c
  zebra/zebra_router.h
Labels: zebra, master, size/M

#17115 nhrpd: fix passphrase handling, add topotest for resolution request
  nhrpd/nhrp_peer.c
  nhrpd/nhrp_protocol.h
  nhrpd/nhrp_vty.c
  tests/topotests/nhrp_topo/r1/nhrp_shortcut_present.json
  tests/topotests/nhrp_topo/r1/zebra.conf
  tests/topotests/nhrp_topo/r2/nhrp4_cache.json
  tests/topotests/nhrp_topo/r2/nhrp_route4.json
  tests/topotests/nhrp_topo/r2/zebra.conf
  tests/topotests/nhrp_topo/r4/nhrp4_cache.json
  tests/topotests/nhrp_topo/r4/nhrp_route4.json
  tests/topotests/nhrp_topo/r4/nhrpd.conf
  tests/topotests/nhrp_topo/r4/zebra.conf
  tests/topotests/nhrp_topo/test_nhrp_topo.py
Labels: nhrp, backport, master, size/L, rebase

#16750 zebra: Don't display the vrf if not using namespace based vrfs
  zebra/table_manager.h
  zebra/zebra_vrf.c
  zebra/zebra_vty.c
Labels: zebra, master, size/M

#17305 bgpd: Treat numbered community-list only if it's in a range 1-500
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
Labels: bgp, backport, master, size/XS

#17326 zebra: fix missing kernel routes
  tests/topotests/zebra_multiple_connected/r1/ip_route_kernel_blackhole.json
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/zebra_rib.c
Labels: zebra, bugfix, backport, master, size/M

#17346 ospfd: Fix assert in LSA refresh interval setting
  ospfd/ospf_lsa.c
Labels: ospf, master, size/XS

#17364 ospf6d: remove redundant null ptr check in ospf6_link_lsa_get_prefix_str() - CID 1599957
  ospf6d/ospf6_intra.c
Labels: ospfv3, master, size/XS

#17363 ospf6d: remove redundant null ptr check
  ospf6d/ospf6_intra.c
Labels: ospfv3, master, size/XS

#17244 tests: Add a topology that supports a large number of ecmp
  tests/topotests/high_ecmp/r1/frr.conf
  tests/topotests/high_ecmp/r2/frr.conf
  tests/topotests/high_ecmp/test_high_ecmp.py
  tests/topotests/pytest.ini
Labels: tests, master, size/XL

#17376 bgpd: Clear stale routes with multiple paths
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  tests/topotests/bgp_addpath_graceful_restart/__init__.py
  tests/topotests/bgp_addpath_graceful_restart/r1/frr.conf
  tests/topotests/bgp_addpath_graceful_restart/r2/frr.conf
  tests/topotests/bgp_addpath_graceful_restart/r3/frr.conf
  tests/topotests/bgp_addpath_graceful_restart/test_bgp_addpath_graceful_restart.py
  tests/topotests/bgp_addpath_llgr/__init__.py
  tests/topotests/bgp_addpath_llgr/r1/frr.conf
  tests/topotests/bgp_addpath_llgr/r2/frr.conf
  tests/topotests/bgp_addpath_llgr/r3/frr.conf
  tests/topotests/bgp_addpath_llgr/test_bgp_addpath_llgr.py
Labels: tests, bgp, bugfix, backport, master, size/L

#12109 lib: Add ability to track time in individual routemaps
  doc/user/routemap.rst
  lib/routemap.c
  lib/routemap.h
  tests/topotests/all_protocol_startup/r1/show_route_map.ref
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  tests/topotests/zebra_rib/r1/sharp_rmap.ref
  tests/topotests/zebra_rib/r1/static_rmap.ref
  tests/topotests/zebra_rib/test_zebra_rib.py
Labels: libfrr, master, size/M

#17231 bgpd:support of color extended community color-only types
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  doc/user/bgp.rst
  tests/topotests/bgp_color_extcommunities/r1/bgpd.conf
  tests/topotests/bgp_color_extcommunities/test_bgp_color_extcommunities.py
  yang/frr-bgp-route-map.yang
Labels: documentation, tests, bgp, master, size/M, rebase

#17341 bgpd:support tcp-mss for neighbor group
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_tcp_mss/r1/bgpd.conf
  tests/topotests/bgp_tcp_mss/r1/zebra.conf
  tests/topotests/bgp_tcp_mss/r2/bgpd.conf
  tests/topotests/bgp_tcp_mss/r2/zebra.conf
  tests/topotests/bgp_tcp_mss/test_bgp_tcp_mss.py
Labels: bgp, backport, master, size/L

#17384 Bgp withdraw and unlikely
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#17392 bgpd: Clear stale routes with multiple paths (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
Labels: bgp, bugfix, size/S, stable/10.1

#17393 bgpd: Clear stale routes with multiple paths (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
Labels: bgp, bugfix, size/S, stable/10.0

#17394 bgpd: Clear stale routes with multiple paths (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
Labels: bgp, bugfix, size/S, stable/9.1

#17362 bgpd: Fix for match source-protocol in route-map for redistribute cmd
  bgpd/bgp_route.c
  tests/topotests/bgp_route_map_match_source_protocol/test_bgp_route_map_match_source_protocol.py
Labels: bgp, backport, master, size/M

#17344 bgpd: Reset BGP session only if it was a real BFD DOWN event
  bgpd/bgp_bfd.c
Labels: bgp, master, size/S

#17374 Add two RFCs for BGP to the list
  bgpd/bgpd.h
  doc/user/about.rst
Labels: documentation, bgp, master, size/XS

#17402 bgpd: Fix for match source-protocol in route-map for redistribute cmd (backport)
  bgpd/bgp_route.c
Labels: bgp, backport, size/XS, stable/10.1

#17395 bgpd: Clear stale routes with multiple paths (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
Labels: bgp, bugfix, size/S, stable/9.0

#17410 BGP BFD session things
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  bgpd/bgpd.c
  tests/topotests/bgp_bfd_session/__init__.py
  tests/topotests/bgp_bfd_session/r1/frr.conf
  tests/topotests/bgp_bfd_session/test_bgp_bfd_session.py
Labels: tests, bgp, master, size/L

#17368 tests: clarify bgp_vpnv4_asbr
  tests/topotests/bgp_vpnv4_asbr/test_bgp_vpnv4_asbr.py
Labels: tests, master, size/L

#17297 zebra, lib: use internal rbtree for per-NS tree of ifps
  isisd/isis_route.h
  lib/if.c
  lib/if.h
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_evpn.c
  zebra/zebra_evpn.h
  zebra/zebra_ns.c
  zebra/zebra_ns.h
  zebra/zebra_vxlan.c
Labels: isis, zebra, libfrr, master, size/XXL

#17205 debian: Add missing libprotobuf-dev to grpc profile
  debian/control
Labels: packaging, backport, master, size/XS, rebase

#17331 tests: add support for ospf instances with unified configs
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf_instance_redistribute/r1/frr.conf
  tests/topotests/ospf_instance_redistribute/r1/ospfd-3.conf
  tests/topotests/ospf_instance_redistribute/test_ospf_instance_redistribute.py
Labels: tests, master, size/L

#17423 bgpd: Show neighbor advertised paths including addpath
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#17426 zebra: fix unguarded debug in evpn code
  zebra/zebra_evpn.c
Labels: zebra, bugfix, master, size/XS

#17422 bgpd: Fix color extended community parsing
  bgpd/bgp_ecommunity.c
Labels: bgp, bugfix, master, size/XS

#17429 bgpd: Drop unsupported commands
  bgpd/bgp_vty.c
Labels: bgp, master, size/XS

#17433 Zebra debug assert
  zebra/zebra_evpn.c
  zebra/zebra_vxlan.c
Labels: zebra, master, size/L

#17434 bgpd: Fix color extended community parsing
  bgpd/bgp_ecommunity.c
Labels: bgp, bugfix, master, size/XS

#17432 bgpd : backpressure - Fix to pop items off zebra_announce FIFO for few EVPN triggers
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
Labels: bgp, bugfix, backport, master, size/M, rebase

#16937 pim6d: support embedded-rp
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim6_mld.c
  pimd/pim_ifchannel.c
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_join.c
  pimd/pim_mroute.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_rp.c
  pimd/pim_rp.h
  pimd/pim_tib.c
  pimd/pim_vty.c
  tests/topotests/pim_embedded_rp/__init__.py
  tests/topotests/pim_embedded_rp/r1/frr.conf
  tests/topotests/pim_embedded_rp/r2/frr.conf
  tests/topotests/pim_embedded_rp/r3/frr.conf
  tests/topotests/pim_embedded_rp/test_pim_embedded_rp.py
  yang/frr-pim-rp.yang
Labels: documentation, tests, pim, bugfix, yang, pimv6, master, size/XXL

#17435 bgpd: Validate both nexthop information (NEXTHOP and NLRI)
  bgpd/bgp_route.c
  tests/topotests/bgp_invalid_nexthop/__init__.py
  tests/topotests/bgp_invalid_nexthop/exabgp.env
  tests/topotests/bgp_invalid_nexthop/peer1/exabgp.cfg
  tests/topotests/bgp_invalid_nexthop/r1/frr.conf
  tests/topotests/bgp_invalid_nexthop/test_bgp_invalid_nexthop.py
Labels: tests, bgp, backport, master, size/L

#17427 bgpd: Add more details to ebgp requires policy warning
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#17193 accords: guidelines/terms for FRRouting trademarks
  doc/accords/frr-name-use
Labels: master, size/M

#17444 sharpd: Fix a few typos in CLI help messages
  sharpd/sharp_vty.c
Labels: sharp, master, size/XS

#17445 sharpd: Convert numeric 128 into IPV6_MAX_BITLEN for prefixlen
  sharpd/sharp_vty.c
Labels: sharp, master, size/XS

#17451 bgpd: Optimize the outbound path if RFC8212 is applied
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#17375 packaging: Use PCRE2 for .deb/.rpm builds
  debian/rules
  redhat/frr.spec.in
Labels: master, size/XS

#17457 bgpd: Optimize the way parsing communities if no community alias exists
  bgpd/bgp_clist.c
  bgpd/bgp_community_alias.c
  bgpd/bgp_community_alias.h
Labels: bgp, master, size/M

#17456 Lua casting
  bgpd/bgp_routemap.c
  tests/lib/test_frrscript.c
Labels: bgp, libfrr, master, size/S

#17455 pim6d: fix coverity scan warning
  pimd/pim_rp.c
Labels: bugfix, pimv6, master, size/XS

#17453 tools: Fix syntax raw parsing for make-foobar helper
  python/makefile.py
Labels: tools, master, size/XS

#17447 bgpd: Validate both nexthop information (NEXTHOP and NLRI) (backport)
  bgpd/bgp_route.c
Labels: bgp, size/M, stable/10.1

#17448 bgpd: Validate both nexthop information (NEXTHOP and NLRI) (backport)
  bgpd/bgp_route.c
Labels: bgp, size/M, stable/10.0

#17449 bgpd: Validate both nexthop information (NEXTHOP and NLRI) (backport)
  bgpd/bgp_route.c
Labels: bgp, size/M, stable/9.1

#17450 bgpd: Validate both nexthop information (NEXTHOP and NLRI) (backport)
  bgpd/bgp_route.c
Labels: bgp, size/M, stable/9.0

#17414 isisd: properly display srv6 algorithm
  isisd/isis_tlvs.c
Labels: isis, bugfix, master, size/XS

#17446 bgpd: Validate both nexthop information (NEXTHOP and NLRI) (backport)
  bgpd/bgp_route.c
Labels: bgp, size/M, stable/10.2

#17468 pimd: two small improvements
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_msdp_socket.c
Labels: pim, master, size/M

#17436 ospfd: OSPF multi-instance default origination fixes
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_lsa.c
  ospfd/ospf_vty.c
  ospfd/ospf_zebra.c
  ospfd/ospf_zebra.h
  tests/topotests/ospf_multi_instance/r1/frr.conf
  tests/topotests/ospf_multi_instance/r2/frr.conf
  tests/topotests/ospf_multi_instance/r3/frr.conf
  tests/topotests/ospf_multi_instance/test_ospf_multi_instance.py
Labels: tests, ospf, backport, master, size/XL

#17476 Support bundle isis
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, master, size/S

#17340 PIMD: Implement AutoRP mapping-agent
  pimd/pim_autorp.c
  pimd/pim_autorp.h
  pimd/pim_bsm.c
  pimd/pim_bsm.h
  pimd/pim_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pimd.c
  tests/topotests/lib/pim.py
  tests/topotests/pim_autorp/r1/frr.conf
  tests/topotests/pim_autorp/r2/frr.conf
  tests/topotests/pim_autorp/r3/frr.conf
  tests/topotests/pim_autorp/r4/frr.conf
  tests/topotests/pim_autorp/test_pim_autorp.py
  yang/frr-pim-rp.yang
Labels: tests, pim, yang, master, size/XXL, rebase

#17477 tests: Ensure connected routes are installed before continuing
  tests/topotests/ospf_instance_redistribute/test_ospf_instance_redistribute.py
Labels: tests, master, size/M

#17484 tools: Add pim show commands to support bundle
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, master, size/L

#17487 bgpd: Do not reset peers on suppress-fib toggling
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/XS

#17492 lib, zebra: Do not have duplicate memory type problems
  lib/nexthop.c
  lib/nexthop.h
  zebra/zebra_mpls.c
Labels: zebra, libfrr, master, size/M

#17493 tools: Add missing keywords in frr-reload
  tools/frr-reload.py
Labels: tools, master, size/XS

#17459 bgpd: Disable sending ROV extended community by default
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
  tests/topotests/bgp_rpki_topo1/r2/bgpd.conf
Labels: bgp, master, size/S

#17495 ospfd: Correct invalid SR-MPLS output label
  ospfd/ospf_sr.c
Labels: ospf, master, size/XS

#17498 tools: Add missing keyword `encapsulation` in frr-reload
  tools/frr-reload.py
Labels: tools, master, size/XS

#17509 Fix docker image for topotests
  doc/developer/topotests.rst
  tests/topotests/Dockerfile
  tests/topotests/docker/README.md
  tests/topotests/docker/frr-topotests.sh
  tests/topotests/docker/inner/compile_frr.sh
  tests/topotests/docker/inner/entrypoint.sh
Labels: tests, master, size/L

#17506 bgpd: fix version attribute is an int, not a string
  bgpd/bgp_route.c
Labels: bgp, bugfix, backport, master, size/XS

#17504 zebra: avoid a race during FPM dplane plugin shutdown
  zebra/dplane_fpm_nl.c
Labels: zebra, bugfix, master, size/M

#16987 bfdd: disable echo socket when not using it
  bfdd/bfd.c
  bfdd/bfd.h
Labels: bfd, master, size/L

#14367 two test cleanups
  tests/topotests/bgp_max_med_on_startup/r1/bgpd.conf
  tests/topotests/bgp_max_med_on_startup/test_bgp_max_med_on_startup.py
  tests/topotests/ospfapi/test_ospf_clientapi.py
Labels: tests, bugfix, master, size/XS, rebase

#17501 bgpd: Fix Graceful-Restart for peer-groups
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_peer_group/r1/bgpd.conf
  tests/topotests/bgp_peer_group/r1/frr.conf
  tests/topotests/bgp_peer_group/r1/zebra.conf
  tests/topotests/bgp_peer_group/r2/bgpd.conf
  tests/topotests/bgp_peer_group/r2/frr.conf
  tests/topotests/bgp_peer_group/r2/zebra.conf
  tests/topotests/bgp_peer_group/r3/frr.conf
  tests/topotests/bgp_peer_group/r3/zebra.conf
  tests/topotests/bgp_peer_group/test_bgp_peer-group.py
Labels: tests, bgp, bugfix, master, size/L

#17483 zebra: fix EVPN check vxlan oper up in vlan mapping
  tools/frr_babeltrace.py
  zebra/rt_netlink.c
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_if.c
Labels: zebra, tools, bugfix, master, size/M

#17510 bgpd: fix use single whitespace when displaying flowspec entries
  bgpd/bgp_flowspec_vty.c
Labels: bgp, bugfix, backport, master, size/XS

#16878 Add some test cases, and some ability to see what is going on in zebra
  lib/table.c
  lib/table.h
  ripd/ripd.c
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  tests/topotests/lib/snmptest.py
  tests/topotests/simple_snmp_test/r1/isisd.conf
  tests/topotests/simple_snmp_test/r1/ospf6d.conf
  tests/topotests/simple_snmp_test/r1/ospfd.conf
  tests/topotests/simple_snmp_test/r1/ripd.conf
  tests/topotests/simple_snmp_test/r1/zebra.conf
  tests/topotests/simple_snmp_test/test_simple_snmp.py
  zebra/interface.c
  zebra/ioctl.c
Labels: tests, zebra, rip, libfrr, master, size/L

#17385 More found connection conversion issues
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgp_nexthop.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#17519 zebra: EVPN fix code style in vlan vni map debugs
  zebra/zebra_vxlan.c
  zebra/zebra_vxlan_if.c
Labels: zebra, bugfix, master, size/XS

#17527 doc:Fix bgp doc warning
  doc/user/bgp.rst
Labels: documentation, master, size/XS, rebase

#15542 bgpd: fix use real SID in BGP nexthop tracking
  bgpd/bgp_nht.c
Labels: bgp, bugfix, master, size/S

#17520 Docker: Add the ability to override the FRR UID during docker creation
  docker/ubuntu-ci/Dockerfile
Labels: docker, master, size/XS

#17491 Bgp evpn rt5 routemap
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes_all.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r2/bgpd.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: master, size/XL

#16700 nhrpd: fix show ip nhrp output
  nhrpd/nhrp_vty.c
Labels: nhrp, bugfix, master, size/XS

#17525 topotests: Allow runing under both docker and podman
  tests/topotests/docker/build.sh
  tests/topotests/docker/frr-topotests.sh
Labels: master, size/S
