Repository FRRouting/frr, pull requests merged in 2024-12, with the labels that each got.

#17528 bgpd: Use peer group's member for BGP notify instead of the peer-group
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#17542 bgpd: Fix remote-as with peer-group
  bgpd/bgpd.c
  tests/topotests/bgp_peer_group/r1/frr.conf
  tests/topotests/bgp_peer_group/r4/frr.conf
  tests/topotests/bgp_peer_group/test_bgp_peer-group.py
Labels: tests, bgp, bugfix, backport, master, size/M

#17313 zebra: separate zebra ZAPI server open and accept
  zebra/main.c
  zebra/zserv.c
  zebra/zserv.h
Labels: zebra, backport, master, size/M

#17518 pimd: Fix access-list memory leak in pimd
  pimd/pimd.c
Labels: pim, backport, master, size/XS

#17558 lib: Fix session re-establishment
  lib/bfd.c
Labels: libfrr, master, size/XS

#17574 Stabilize stable/10.2
  bgpd/bgpd.c
  lib/bfd.c
  pimd/pimd.c
  tests/topotests/ospf_multi_instance/r1/frr.conf
  tests/topotests/ospf_multi_instance/r2/frr.conf
  tests/topotests/ospf_multi_instance/r3/frr.conf
  tests/topotests/ospf_multi_instance/test_ospf_multi_instance.py
Labels: bgp, pim, libfrr, bugfix, size/L, stable/10.2

#17571 Fix bsd sockopt problem
  lib/sockopt.c
  lib/sockopt.h
  lib/vty.c
  lib/vty.h
  vtysh/vtysh.c
Labels: vtysh, libfrr, bugfix, backport, master, size/M

#17556 lib: Print the reason why the route-map and/or the index parsing is done
  lib/routemap.c
  lib/routemap.h
Labels: libfrr, master, size/M

#17569 pimd: igmp proxy joins should not be written as part of config
  pimd/pim_vty.c
Labels: pim, bugfix, backport, master, size/XS

#17578 pimd: Prevent crash of pim when auto-rp's socket is not initialized
  pimd/pim_autorp.c
Labels: pim, bugfix, backport, master, size/XS

#17502 pimd: implement MSDP shutdown command
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/msdp_topo1/test_msdp_topo1.py
  yang/frr-pim.yang
Labels: documentation, tests, pim, master, size/L

#17585 lib: Speed up reconnection attempts for zapi
  lib/zclient.c
Labels: libfrr, master, size/S

#17584 pimd: Prevent crash of pim when auto-rp's socket is not initialized (backport #17578)
  pimd/pim_autorp.c
Labels: pim, bugfix, size/XS, stable/10.2

#17582 bgpd: fix unconfigure asdot neighbor
  bgpd/bgp_vty.c
Labels: bgp, bugfix, backport, master, size/XS

#17570 pimd: free igmp proxy joins on interface deletion
  pimd/pim_iface.c
Labels: pim, bugfix, backport, master, size/XS

#17598 bgpd: fix unconfigure asdot neighbor (backport)
  bgpd/bgp_vty.c
Labels: bgp, bugfix, size/XS, stable/9.0

#17595 bgpd: fix unconfigure asdot neighbor (backport)
  bgpd/bgp_vty.c
Labels: bgp, bugfix, size/XS, stable/10.1

#17596 bgpd: fix unconfigure asdot neighbor (backport)
  bgpd/bgp_vty.c
Labels: bgp, bugfix, size/XS, stable/10.0

#17597 bgpd: fix unconfigure asdot neighbor (backport)
  bgpd/bgp_vty.c
Labels: bgp, bugfix, size/XS, stable/9.1

#17600 Bfd shared network
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  tests/topotests/bfd_profiles_topo1/r2/bgpd.conf
  tests/topotests/bfd_profiles_topo1/r3/bgpd.conf
  tests/topotests/bfd_profiles_topo1/r4/bgpd.conf
Labels: tests, bgp, master, size/S

#17579 Timer connect bgp vrf netns
  tests/topotests/bgp_aggregate_address_topo1/r1/bgpd.conf
  tests/topotests/bgp_aggregate_address_topo1/r2/bgpd.conf
  tests/topotests/bgp_aggregator_zero/r1/bgpd.conf
  tests/topotests/bgp_aspath_zero/r1/bgpd.conf
  tests/topotests/bgp_ecmp_topo1/r1/bgpd.conf
  tests/topotests/bgp_flowspec/r1/bgpd.conf
  tests/topotests/bgp_invalid_nexthop/r1/frr.conf
  tests/topotests/bgp_multiview_topo1/r1/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r1/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r2/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r4/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r5/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/r6/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/rr/bgpd.conf
  tests/topotests/bgp_nexthop_ipv6/test_bgp_nexthop_ipv6_topo1.py
  tests/topotests/bgp_path_attribute_discard/r1/frr.conf
  tests/topotests/bgp_path_attribute_discard/r2/frr.conf
  tests/topotests/bgp_peer_type_multipath_relax/r1/bgpd.conf
  tests/topotests/bgp_peer_type_multipath_relax/r2/bgpd.conf
  tests/topotests/bgp_prefix_sid/r1/bgpd.conf
  tests/topotests/bgp_prefix_sid2/r1/bgpd.conf
  tests/topotests/bgp_route_server_client/r1/bgpd.conf
  tests/topotests/bgp_route_server_client/r2/bgpd.conf
  tests/topotests/bgp_route_server_client/r3/bgpd.conf
  tests/topotests/bgp_route_server_client/r4/bgpd.conf
  tests/topotests/bgp_vrf_netns/r1/bgpd.conf
Labels: tests, master, size/M

#17545 bgpd: fix peer up message for loc-rib not sent
  bgpd/bgp_bmp.c
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/test_bgp_bmp_1.py
  tests/topotests/bgp_bmp/test_bgp_bmp_2.py
Labels: bgp, bugfix, master, size/M

#17538 doc: remove no-op "netns NAMESPACE" command from the docs
  doc/user/zebra.rst
  zebra/zebra_cli.c
Labels: documentation, zebra, master, size/S, rebase

#17589 zebra: use macro for one check
  zebra/zebra_rib.c
Labels: zebra, master, size/XS, rebase

#17608 bgpd: Import allowed routes with self AS if desired
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_vpnv4_import_allowas_in/__init__.py
  tests/topotests/bgp_vpnv4_import_allowas_in/r1/frr.conf
  tests/topotests/bgp_vpnv4_import_allowas_in/r2/frr.conf
  tests/topotests/bgp_vpnv4_import_allowas_in/test_bgp_vpnv4_import_allowas_in.py
Labels: tests, bgp, backport, master, size/L

#17575 bgpd: Show which route-map is used when the prefix is filtered by route-map
  bgpd/bgp_route.c
Labels: bgp, master, size/S

#17521 pimd: MSDP per peer SA limit
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/msdp_topo1/test_msdp_topo1.py
  yang/frr-pim.yang
Labels: documentation, tests, pim, yang, master, size/L

#17624 bgpd: Fix bgp core with a possible Intf delete
  bgpd/bgp_zebra.c
Labels: bgp, backport, master, size/XS

#17634 bgpd: Fix bgp core with a possible Intf delete (backport)
  bgpd/bgp_zebra.c
Labels: bgp, size/XS, stable/9.0

#17632 bgpd: Fix bgp core with a possible Intf delete (backport)
  bgpd/bgp_zebra.c
Labels: bgp, size/XS, stable/10.0

#17630 bgpd: Fix bgp core with a possible Intf delete (backport)
  bgpd/bgp_zebra.c
Labels: bgp, size/XS, stable/10.2

#17621 bgpd: Import allowed routes with self AS if desired (backport)
  bgpd/bgp_mplsvpn.c
Labels: bgp, size/XS, stable/10.2

#17555 BMP Peer Distinguisher support
  bgpd/bgp_bmp.c
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/bmp1vrf/bmp-update-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1vrf/bmp-update-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1vrf/bmp-update-pre-policy-step1.json
  tests/topotests/bgp_bmp/bmp1vrf/bmp-withdraw-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1vrf/bmp-withdraw-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1vrf/bmp-withdraw-pre-policy-step1.json
  tests/topotests/bgp_bmp/r1vrf/frr.conf
  tests/topotests/bgp_bmp/test_bgp_bmp_2.py
Labels: bgp, bugfix, master, size/L

#17637 bgpd: Show which prefix is suppressed if debug out is enabled
  bgpd/bgp_updgrp_adv.c
Labels: bgp, master, size/XS

#17636 pimd: clean up MSDP code
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_nb_config.c
  pimd/pim_register.c
  pimd/pim_rp.c
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vty.c
Labels: pim, master, size/L

#17622 pimd: MSDP originador ID configuration
  doc/user/pim.rst
  pimd/pim_cmd.c
  pimd/pim_msdp.c
  pimd/pim_msdp.h
  pimd/pim_msdp_packet.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  tests/topotests/msdp_topo3/__init__.py
  tests/topotests/msdp_topo3/r1/frr.conf
  tests/topotests/msdp_topo3/r2/frr.conf
  tests/topotests/msdp_topo3/test_msdp_topo3.py
  yang/frr-pim.yang
Labels: documentation, pim, master, size/L

#17641 bgpd: When calling bgp_process, prevent infinite loop
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
Labels: bgp, master, size/M

#17640 doc: Update the next release dates
  doc/developer/workflow.rst
  doc/figures/releases.dot
Labels: documentation, master, size/M

#17635 pim6d: fix crash on clear ipv6 mroute
  pimd/pim6_mld.c
  pimd/pim_tib.c
Labels: bugfix, master, size/XS

#17642 pimd,pim6d: optimize multicast prefix generation and fix coverity scan defect
  pimd/pim_bsm.c
  pimd/pim_nb_config.c
  pimd/pim_rp.c
  pimd/pim_util.c
  pimd/pim_util.h
Labels: pim, master, size/M

#17646 zebra: Give a bit more data about zclient connection on errors
  zebra/zserv.c
Labels: zebra, master, size/S

#17645 tools: Add rip support bundle commands
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, master, size/XS

#17526 EVPN L2VNI/L3VNI Optimize inline Global walk for remote route installations
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_evpn_private.h
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
Labels: bgp, zebra, master, size/XL, rebase

#17544 zebra: fix wrong nexthop status for kernel routes
  tests/topotests/zebra_multiple_connected/r1/ip_route_kernel_interface_down.json
  tests/topotests/zebra_multiple_connected/r1/ip_route_kernel_interface_up.json
  tests/topotests/zebra_multiple_connected/test_zebra_multiple_connected.py
  zebra/interface.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
Labels: tests, zebra, bugfix, master, size/M

#17615 lib: Take ge/le into consideration when checking the prefix with the prefix-list
  lib/plist.c
Labels: libfrr, backport, master, size/XS

#17613 bgpd: Fix evpn bestpath calculation when path is not established
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/S

#16488 vlan-subif isis neigbor
  include/linux/if_packet.h
  isisd/isis_pfpacket.c
Labels: isis, master, size/L

#17654 bgpd: remove unneeded printfrr reg for pRN
  bgpd/bgp_table.h
Labels: bgp, master, size/XS

#17599 bgpd: Connect retry timer backoff
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  tests/topotests/bgp_minimum_holdtime/test_bgp_minimum_holdtime.py
Labels: tests, bgp, master, size/S

#17671 tests: add a test case for static route propagation
  tests/topotests/ospf_metric_propagation/r1/show_ip_route_static.json
  tests/topotests/ospf_metric_propagation/r4/frr.conf
  tests/topotests/ospf_metric_propagation/test_ospf_metric_propagation.py
Labels: tests, master, size/M, rebase

#17675 bgpd: Fix memory leak when creating BMP connection with a source interface
  bgpd/bgp_bmp.c
Labels: bgp, backport, master, size/XS

#17586 bgpd: Validate only affected RPKI prefixes instead of a full RIB
  bgpd/bgp_rpki.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#17670 bgpd: add rpki json attributes to bgp path
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/S

#17673 pim: handle return code to fix a couple of coverity issues
  pimd/pim_rp.c
  pimd/pim_tib.c
Labels: bugfix, master, size/S

#17669 bgpd: fix memory leak when reconfiguring a route distinguisher
  bgpd/bgp_vty.c
Labels: bgp, bugfix, backport, master, size/XS

#17648 Fix 2 darr (dynamic-array) bugs
  lib/darr.c
  lib/darr.h
  lib/mgmt_msg_native.h
Labels: libfrr, tools, bugfix, master, size/M

#17676 test: fix label ordering on error diff report
  tests/helpers/python/frrtest.py
Labels: bugfix, master, size/XS

#17685 babel: Clean babel config on babel daemon stop
  babeld/babeld.c
Labels: master, size/XS

#17619 bgpd: add meta queue in bgp
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_table.h
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#17672 lib: Fix to optimize the time taken while batching huge configs
  lib/northbound_cli.c
  lib/northbound_cli.h
  lib/vty.h
Labels: libfrr, master, size/S, rebase

#17674 bgpd: Fix show neighbor X advertised-routes detail
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  tests/topotests/bgp_addpath_best_selected/test_bgp_addpath_best_selected.py
  tests/topotests/bgp_show_advertised_routes_detail/__init__.py
  tests/topotests/bgp_show_advertised_routes_detail/r1/frr.conf
  tests/topotests/bgp_show_advertised_routes_detail/r2/frr.conf
  tests/topotests/bgp_show_advertised_routes_detail/r3/frr.conf
  tests/topotests/bgp_show_advertised_routes_detail/test_bgp_show_advertised_routes_detail.py
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: tests, bgp, master, size/L

#17704 mgmtd: fix compile error
  mgmtd/mgmt_be_adapter.c
Labels: bugfix, mgmt, master, size/XS

#17703 doc: Fix SRv6 locator documentation
  doc/user/zebra.rst
Labels: documentation, master, size/XS

#17705 bgpd: Fix enforce-first-as per peer-group removal
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_route_server_client/r1/bgpd.conf
Labels: tests, bgp, bugfix, backport, master, size/S

#17701 bgpd: Validate only affected RPKI prefixes instead of a full RIB (backport)
  bgpd/bgp_rpki.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, size/L, stable/10.0

#17706 bgpd: Convert 16 to IPV6_MAX_BYTELEN
  bgpd/bgp_zebra.c
Labels: bgp, master, size/XS

#17684 bgpd, lib: Use frrstr_time() when using ctime_r()
  bgpd/bgp_labelpool.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgpd.h
  lib/monotime.h
  pathd/path_pcep_debug.c
Labels: bgp, libfrr, master, size/M

#17712 bgpd: Fix `enforce-first-as` per peer-group removal (backport)
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, bugfix, size/S, stable/10.2

#17713 bgpd: Fix `enforce-first-as` per peer-group removal (backport)
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, bugfix, size/S, stable/10.1

#17714 bgpd: Fix `enforce-first-as` per peer-group removal (backport)
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, bugfix, size/S, stable/10.0

#17711 zebra: Remove tests for `srv6_locator_alloc` failure
  zebra/zebra_srv6_vty.c
Labels: zebra, master, size/XS

#17580 BGP Labelpool : Releasing the label in labelpool when VPN session gets removed
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_vpnv4_ebgp_vpn_auto/__init__.py
  tests/topotests/bgp_vpnv4_ebgp_vpn_auto/r1/frr.conf
  tests/topotests/bgp_vpnv4_ebgp_vpn_auto/r2/frr.conf
  tests/topotests/bgp_vpnv4_ebgp_vpn_auto/r3/frr.conf
  tests/topotests/bgp_vpnv4_ebgp_vpn_auto/test_bgp_vpnv4_vpn_auto.py
Labels: bgp, master, size/L, rebase

#17718 tests: Fix markers in `srv6_static_route` topotest
  tests/topotests/srv6_static_route/test_srv6_route.py
Labels: tests, master, size/XS

#17719 tools: Add missing formats keyword to segment-routing in frr-reload
  tools/frr-reload.py
Labels: tools, backport, master, size/XS

#17731 zebra: Fix resetting valid flags for NHG dependents
  zebra/zebra_nhg.c
Labels: zebra, backport, master, size/S
