Repository FRRouting/frr, pull requests merged in 2025-05, with the labels that each got.

#18738 tests: Unidiomatic-typecheck in bgp.py
  tests/topotests/lib/bgp.py
Labels: tests, master, size/M

#18734 Isis run level issue
  doc/user/isisd.rst
  isisd/isis_spf.c
Labels: documentation, isis, master, size/S

#18623 staticd: Add support for other SRv6 Headend Behaviors
  bgpd/bgp_zebra.c
  doc/user/static.rst
  include/linux/seg6_iptunnel.h
  lib/nexthop.c
  lib/nexthop.h
  lib/srv6.c
  lib/srv6.h
  lib/subdir.am
  lib/zclient.c
  lib/zclient.h
  mgmtd/mgmt_main.c
  sharpd/sharp_vty.c
  staticd/static_main.c
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_routes.h
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/topotests/srv6_static_route_reduced/__init__.py
  tests/topotests/srv6_static_route_reduced/r1/frr.conf
  tests/topotests/srv6_static_route_reduced/r1/setup.sh
  tests/topotests/srv6_static_route_reduced/r1/show_ip_route.json
  tests/topotests/srv6_static_route_reduced/r1/show_ipv6_route.json
  tests/topotests/srv6_static_route_reduced/test_srv6_static_route_reduced.py
  yang/frr-nexthop.yang
  yang/frr-staticd.yang
  yang/ietf/ietf-srv6-types.yang
  yang/subdir.am
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
  zebra/zebra_nhg.c
Labels: documentation, tests, bgp, staticd, zebra, libfrr, yang, sharp, mgmt, master, size/XXL

#18737 zebra: Fixes allowing SRv6 func-bits length 0
  tests/topotests/srv6_locator_custom_bits_length/expected_locators7.json
  tests/topotests/srv6_locator_custom_bits_length/test_srv6_locator_custom_bits_length.py
  zebra/zebra_srv6_vty.c
Labels: zebra, backport, master, size/L

#18740 add total path count for bgp net in json output
  bgpd/bgp_route.c
  tests/topotests/bgp_addpath_paths_limit/test_bgp_addpath_paths_limit.py
Labels: tests, bgp, master, size/M

#18752 ospf6d: Remove dead code
  ospf6d/ospf6_zebra.c
  ospf6d/ospf6_zebra.h
  ospfd/ospf_zebra.c
  ospfd/ospf_zebra.h
Labels: ospf, ospfv3, master, size/L

#18756 yang: Fix pyang errors in frr-ospfd.yang
  yang/frr-ospfd.yang
Labels: yang, master, size/L

#18757 Remove dead code found
  ospf6d/ospf6_main.c
  ospfd/ospf_main.c
  ripd/rip_main.c
  zebra/label_manager.c
  zebra/label_manager.h
Labels: ospf, ospfv3, zebra, rip, master, size/M

#18764 yang: Correct unidiomatic-typecheck in pim.py
  tests/topotests/lib/pim.py
Labels: yang, master, size/M

#18762 zebra: show nexthops count in nexthop-group command
  lib/nexthop_group.c
  lib/nexthop_group.h
  tests/topotests/bgp_weighted_ecmp_recursive/test_bgp_weighted_ecmp_recursive.py
  zebra/zebra_vty.c
Labels: tests, zebra, master, size/M

#18749 Move where nhe_installed_id is set in zebra
  tests/topotests/zebra_recursive_nhg_installed/r1/frr.conf
  tests/topotests/zebra_recursive_nhg_installed/test_zebra_recursive_nhg_installed.py
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_rib.c
Labels: tests, zebra, master, size/L

#18317 staticd: Fix an issue where SRv6 SIDs may not be allocated on heavily loaded systems
  staticd/static_srv6.c
  staticd/static_srv6.h
  staticd/static_zebra.c
Labels: staticd, bugfix, master, size/S

#18768 Allow using reserved ranges in RIP
  doc/user/basic.rst
  ripd/ripd.c
  tests/topotests/rip_passive_interface/r1/frr.conf
  tests/topotests/rip_passive_interface/r2/frr.conf
  tests/topotests/rip_passive_interface/r3/frr.conf
  tests/topotests/rip_passive_interface/test_rip_passive_interface.py
Labels: documentation, tests, rip, master, size/M

#18766 Remove unused functions as well as cleanup a header file
  isisd/isis_misc.c
  isisd/isis_misc.h
Labels: isis, master, size/M

#18765 build: fail on docstring problems
  lib/command_graph.h
  lib/command_parse.y
  lib/command_py.c
  lib/subdir.am
  python/xref2vtysh.py
Labels: master, size/M

#18770 Fix spelling error in bgp as well as clean up bgp documentation
  bgpd/bgp_mpath.c
  doc/user/bgp.rst
Labels: documentation, bgp, master, size/XS

#18779 docker: Build with 256 way ecmp
  docker/alpine/Dockerfile
  docker/centos-7/Dockerfile
  docker/centos-8/Dockerfile
  docker/ubi8-minimal/Dockerfile
  docker/ubuntu-ci/Dockerfile
Labels: docker, master, size/XS

#18780 eigrpd: Clean up comment to reflect reality
  eigrpd/eigrp_hello.c
Labels: eigrp, master, size/XS

#18776 zebra: Allow `show ip route table X A.B.C.D/M` to work
  doc/user/zebra.rst
  tests/topotests/all_protocol_startup/r1/ip_nht.ref
  tests/topotests/all_protocol_startup/r1/pbrd.conf
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  zebra/zebra_vty.c
Labels: documentation, tests, zebra, master, size/M

#18773 bgpd: restart R-bit startup timer on no shutdown
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#18778 Add initial state dump on frontend datastore notify subscribe
  lib/darr.c
  lib/darr.h
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_msg_native.h
  lib/northbound.h
  lib/northbound_notif.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_testc.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/topotests/lib/fe_client.py
  tests/topotests/mgmt_notif/test_ds_notify.py
  tests/topotests/mgmt_notif/test_notif.py
Labels: tests, libfrr, mgmt, master, size/L

#18783 Gather vtysh return codes up to report to operator
  tests/topotests/bgp_local_asn/test_bgp_local_asn_topo1.py
  tests/topotests/bgp_local_asn_dot/test_bgp_local_asn_dot_topo1.py
  vtysh/vtysh.c
  vtysh/vtysh_config.c
Labels: tests, vtysh, master, size/M

#18763 BGP should stay in Idle if BFD profile is in admin shutdown state
  bgpd/bgp_bfd.c
  bgpd/bgp_bfd.h
  bgpd/bgp_network.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/subdir.am
  doc/user/bfd.rst
  lib/bfd.c
  lib/bfd.h
  tests/topotests/bgp_bfd_down_cease_notification/r1/bgpd.conf
  tests/topotests/bgp_bfd_down_cease_notification/test_bgp_bfd_down_cease_notification_shutdown.py
Labels: tests, bgp, backport, master, size/L

#18772 bfdd: Adding my discriminator id in show bfd peers counters json
  bfdd/bfdd_vty.c
Labels: bfd, master, size/XS

#18788 mgmtd: need to set default notify_format for protobuf message too
  mgmtd/mgmt_fe_adapter.c
Labels: mgmt, master, size/S

#18723 zebra: Allow nhg's to be reused when multiple interfaces are going amuck
  lib/nexthop.c
  lib/nexthop.h
  tests/topotests/zebra_nhg_check/r1/frr.conf
  tests/topotests/zebra_nhg_check/r2/frr.conf
  tests/topotests/zebra_nhg_check/test_zebra_nhg.py
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: tests, zebra, docker, libfrr, master, size/XXL

#18790 Replace use of `__` as identifier prefix
  lib/darr.c
  lib/darr.h
  lib/mgmt_msg_native.h
  lib/northbound.h
  lib/northbound_notif.c
  lib/northbound_oper.c
  lib/yang_wrappers.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_testc.c
  mgmtd/mgmt_txn.c
  tools/checkpatch.pl
Labels: libfrr, tools, mgmt, master, size/XXL

#18792 lib/clippy: pointer offsets are signed
  python/xrelfo.py
Labels: master, size/XS

#18800 bgpd: Remove linklist.h inclusion in bgp_mpath.c
  bgpd/bgp_mpath.c
Labels: bgp, master, size/XS

#18799 bgpd: fix second router-id of loc-rib peer-up message set to 0.0.0.0
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, master, size/XS

#18519 bgpd: Add support for BGP to use SRv6 SID in an explicit way
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_srv6_sid_explicit/__init__.py
  tests/topotests/bgp_srv6_sid_explicit/c11/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/c12/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/c21/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/c22/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/expected_explicit_srv6_sid_allocated.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vpn_srv6_sid.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vrf_srv6_sid_1.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vrf_srv6_sid_2.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_zebra_vrf_srv6_sid_1.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_zebra_vrf_srv6_sid_2.json
  tests/topotests/bgp_srv6_sid_explicit/expected_sent_bgp_vpn_srv6_sid.json
  tests/topotests/bgp_srv6_sid_explicit/r1/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/r1/setup.sh
  tests/topotests/bgp_srv6_sid_explicit/r2/frr.conf
  tests/topotests/bgp_srv6_sid_explicit/r2/setup.sh
  tests/topotests/bgp_srv6_sid_explicit/test_bgp_srv6_sid_explicit.py
Labels: documentation, tests, bgp, zebra, libfrr, bugfix, master, size/XXL

#18808 bgpd: Fix flag issue in delete_vrf_tovpn_sid_per_vrf
  bgpd/bgp_mplsvpn.c
Labels: backport, master, size/XS

#18805 ripd, ripngd: Timer values
  doc/developer/northbound/advanced-topics.rst
  doc/developer/northbound/retrofitting-configuration-commands.rst
  doc/developer/northbound/yang-module-translator.rst
  doc/user/ripd.rst
  ripd/rip_cli.c
  ripd/rip_nb_config.c
  ripd/ripd.c
  ripd/ripd.h
  ripngd/ripngd.c
  tests/topotests/all_protocol_startup/r1/rip_status.ref
  tests/topotests/all_protocol_startup/r1/ripng_status.ref
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  tests/topotests/rip_passive_interface/r1/frr.conf
  tests/topotests/rip_passive_interface/r2/frr.conf
  tests/topotests/rip_passive_interface/r3/frr.conf
  yang/frr-ripd.yang
  yang/frr-ripngd.yang
Labels: tests, ripng, rip, yang, master, size/L

#18721 zebra: guard against use of zapi client data during close
  zebra/zserv.c
Labels: zebra, master, size/S

#18816 docker: install correct python protobuf in ubuntu docker images
  docker/ubuntu-ci/Dockerfile
  tests/topotests/lib/fe_client.py
Labels: docker, master, size/XS

#18817 tests: Fix unreachable code in pim.py
  tests/topotests/lib/pim.py
Labels: tests, master, size/XS

#18733 tests: bgp_evpn_rt5 add route-reflector
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes_all.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv4_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv6_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv4_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv6_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/frr.conf
  tests/topotests/bgp_evpn_rt5/r2/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_101_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_101_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_102_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_102_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/frr.conf
  tests/topotests/bgp_evpn_rt5/rr/frr.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: tests, bugfix, master, size/L

#18818 bgpd: Rename bgp_path_info_delete to bgp_path_info_mark_for_delete
  bgpd/bgp_damp.c
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/rfapi/rfapi.c
Labels: bgp, master, size/M

#18820 isid, lib: Fix gcc 15 warnings
  isisd/isis_tlvs.c
  lib/yang_wrappers.c
Labels: isis, libfrr, bugfix, master, size/L

#18819 Fix bestpath reason being incorrectly set in some cases
  bgpd/bgp_route.c
  tests/topotests/bgp_bestpath_reason/r1/frr.conf
  tests/topotests/bgp_bestpath_reason/r2/frr.conf
  tests/topotests/bgp_bestpath_reason/r3/frr.conf
  tests/topotests/bgp_bestpath_reason/r4/frr.conf
  tests/topotests/bgp_bestpath_reason/test_bgp_bestpath_reason.py
Labels: tests, bgp, bugfix, backport, master, size/XL

#18831 tests: Remove `version` (BGP version) from JSON
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vpn_srv6_sid.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vrf_srv6_sid_1.json
  tests/topotests/bgp_srv6_sid_explicit/expected_rcvd_bgp_vrf_srv6_sid_2.json
  tests/topotests/bgp_srv6_sid_explicit/expected_sent_bgp_vpn_srv6_sid.json
Labels: tests, bugfix, master, size/S

#18832 doc: topotest add missing media type MIB
  doc/developer/topotests.rst
Labels: documentation, master, size/XS

#18316 Ipforwarding modify
  tests/topotests/zebra_operational_data/test_zebra_operational.py
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb_config.c
  zebra/zebra_nb_state.c
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#18647 End psp flavor
  doc/user/sharp.rst
  isisd/isis_zebra.c
  lib/nexthop.c
  lib/srv6.c
  lib/srv6.h
  sharpd/sharp_vty.c
  tests/topotests/isis_srv6_topo1/rt1/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt1/zebra.conf
  tests/topotests/isis_srv6_topo1/rt2/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt2/zebra.conf
  tests/topotests/isis_srv6_topo1/rt3/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt3/zebra.conf
  tests/topotests/isis_srv6_topo1/rt4/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt4/zebra.conf
  tests/topotests/isis_srv6_topo1/rt5/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt5/zebra.conf
  tests/topotests/isis_srv6_topo1/rt6/step1/show_ipv6_route.ref
  tests/topotests/isis_srv6_topo1/rt6/zebra.conf
  zebra/zebra_srv6_vty.c
Labels: documentation, isis, zebra, libfrr, bugfix, sharp, master, size/L

#16074 Fix up from a bunch of ubsan issues found.
  eigrpd/eigrp_packet.c
  lib/bitfield.h
  lib/event.c
  lib/link_state.h
  lib/memory.h
  lib/yang.c
  lib/zlog_5424.c
  lib/zlog_targets.c
  tests/topotests/mgmt_oper/oper.py
  zebra/rt_netlink.c
Labels: tests, eigrp, bgp, isis, zebra, libfrr, master, size/L

#16879 Add PIC support in the srv6 VPN scenario.
  doc/user/zebra.rst
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  tests/topotests/bgp_mpls_pic/c11/frr.conf
  tests/topotests/bgp_mpls_pic/c21/frr.conf
  tests/topotests/bgp_mpls_pic/c22/frr.conf
  tests/topotests/bgp_mpls_pic/c31/frr.conf
  tests/topotests/bgp_mpls_pic/c32/frr.conf
  tests/topotests/bgp_mpls_pic/json/r1_bgp_vrf10_route.json
  tests/topotests/bgp_mpls_pic/json/r1_ip_vrf10_route.json
  tests/topotests/bgp_mpls_pic/json/r1_vpnv4_route.json
  tests/topotests/bgp_mpls_pic/r1/frr.conf
  tests/topotests/bgp_mpls_pic/r2/frr.conf
  tests/topotests/bgp_mpls_pic/r3/frr.conf
  tests/topotests/bgp_mpls_pic/test_bgp_mpls_pic.py
  tests/topotests/bgp_srv6_pic/c11/bgpd.conf
  tests/topotests/bgp_srv6_pic/c11/staticd.conf
  tests/topotests/bgp_srv6_pic/c11/zebra.conf
  tests/topotests/bgp_srv6_pic/c21/bgpd.conf
  tests/topotests/bgp_srv6_pic/c21/staticd.conf
  tests/topotests/bgp_srv6_pic/c21/zebra.conf
  tests/topotests/bgp_srv6_pic/c22/bgpd.conf
  tests/topotests/bgp_srv6_pic/c22/staticd.conf
  tests/topotests/bgp_srv6_pic/c22/zebra.conf
  tests/topotests/bgp_srv6_pic/c31/bgpd.conf
  tests/topotests/bgp_srv6_pic/c31/staticd.conf
  tests/topotests/bgp_srv6_pic/c31/zebra.conf
  tests/topotests/bgp_srv6_pic/c32/bgpd.conf
  tests/topotests/bgp_srv6_pic/c32/staticd.conf
  tests/topotests/bgp_srv6_pic/c32/zebra.conf
  tests/topotests/bgp_srv6_pic/json/r1_bgp_vrf10_route.json
  tests/topotests/bgp_srv6_pic/json/r1_ip_vrf10_route.json
  tests/topotests/bgp_srv6_pic/json/r1_vpnv4_route.json
  tests/topotests/bgp_srv6_pic/r1/bgpd.conf
  tests/topotests/bgp_srv6_pic/r1/staticd.conf
  tests/topotests/bgp_srv6_pic/r1/zebra.conf
  tests/topotests/bgp_srv6_pic/r2/bgpd.conf
  tests/topotests/bgp_srv6_pic/r2/staticd.conf
  tests/topotests/bgp_srv6_pic/r2/zebra.conf
  tests/topotests/bgp_srv6_pic/r3/bgpd.conf
  tests/topotests/bgp_srv6_pic/r3/staticd.conf
  tests/topotests/bgp_srv6_pic/r3/zebra.conf
  tests/topotests/bgp_srv6_pic/test_bgp_srv6_pic.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  zebra/dplane_fpm_nl.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/main.c
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
  zebra/zebra_script.c
  zebra/zebra_vty.c
Labels: documentation, tests, bgp, zebra, libfrr, master, size/XXL, rebase

#18758 bgpd: fix view deletion and main socket deletion
  bgpd/bgp_vty.c
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/S

#18774 SRv6: Allow configuring node-len 0
  tests/topotests/srv6_locator_custom_bits_length/expected_locators8.json
  tests/topotests/srv6_locator_custom_bits_length/test_srv6_locator_custom_bits_length.py
  zebra/zebra_srv6_vty.c
Labels: isis, staticd, zebra, master, size/L

#18828 bgpd: fix to show exist/non-exist-map in 'show run' properly
  bgpd/bgp_vty.c
  tests/topotests/bgp_peer_group/test_bgp_peer-group.py
Labels: tests, bgp, bugfix, backport, master, size/M

#18845 zebra: finish moving `ip[v6] forwarding` to NB/mgmtd
  lib/command.h
  vtysh/vtysh_config.c
  zebra/zebra_cli.c
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#18835 mgmtd top level root query
  lib/mgmt_msg.c
  lib/mgmt_msg.h
  lib/northbound_oper.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/topotests/mgmt_oper/oper.py
  tests/topotests/mgmt_oper/r1/frr-root.conf
  tests/topotests/mgmt_oper/root-results/result-candidate-only-config.json
  tests/topotests/mgmt_oper/root-results/result-candidate-with-config.json
  tests/topotests/mgmt_oper/root-results/result-candidate.json
  tests/topotests/mgmt_oper/root-results/result-only-config.json
  tests/topotests/mgmt_oper/root-results/result-operational-only-config.json
  tests/topotests/mgmt_oper/root-results/result-operational-with-config.json
  tests/topotests/mgmt_oper/root-results/result-operational.json
  tests/topotests/mgmt_oper/root-results/result-running-only-config.json
  tests/topotests/mgmt_oper/root-results/result-running-with-config.json
  tests/topotests/mgmt_oper/root-results/result-running.json
  tests/topotests/mgmt_oper/root-results/result-with-config.json
  tests/topotests/mgmt_oper/root-results/result.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-exact.json
  tests/topotests/mgmt_oper/simple-results/result-intf-eth0-with-config.json
  tests/topotests/mgmt_oper/simple-results/result-intf-state-mtu.json
  tests/topotests/mgmt_oper/simple-results/result-intf-state.json
  tests/topotests/mgmt_oper/test_root.py
  tests/topotests/mgmt_oper/test_simple.py
  tools/etc/frr/support_bundle_commands.conf
Labels: tests, docker, libfrr, mgmt, master, size/XXL

#18821 Clang-19 cleanup and removal of scheduled functionality
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  isisd/isis_main.c
  lib/libfrr.h
  lib/link_state.c
  mgmtd/mgmt_main.c
  mgmtd/mgmt_testc.c
  zebra/zserv.h
Labels: bgp, libfrr, mgmt, master, size/M

#18202 pimd,pim6d: require router alert configuration
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_mld.c
  pimd/pim_cmd.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  tests/topotests/lib/packet/igmp/igmp.py
  tests/topotests/lib/packet/igmp/igmp_v1.py
  tests/topotests/lib/packet/igmp/igmp_v2.py
  tests/topotests/lib/packet/igmp/igmp_v3.py
  tests/topotests/lib/packet/mld/mld.py
  tests/topotests/lib/packet/mld/mld_v1.py
  tests/topotests/lib/packet/mld/mld_v2.py
  tests/topotests/multicast_features/test_multicast_features.py
  yang/frr-gmp.yang
Labels: documentation, tests, pim, master, size/XL

#18451 zebra: V6 RA not sent anymore after interface up-down-up
  tests/topotests/high_ecmp/test_high_ecmp_unnumbered.py
  zebra/interface.c
  zebra/rtadv.c
  zebra/rtadv.h
Labels: tests, zebra, libfrr, master, size/L, rebase

#18864 redhat: Add Workaround for inet_ntop replacement which breaks rpms
  redhat/frr.spec.in
Labels: packaging, master, size/XS

#18861 bgpd: add total path count for bgp net in json output (backport)
  bgpd/bgp_route.c
Labels: bgp, size/XS, stable/10.3

#18862 bgpd: add total path count for bgp net in json output (backport)
  bgpd/bgp_route.c
Labels: bgp, size/XS, stable/10.2

#18858 staticd, bgp: fix srv6 encap-value displayed with _ instead of .
  bgpd/bgp_vty.c
  lib/nexthop.c
  lib/srv6.h
  staticd/static_vty.c
Labels: staticd, bugfix, master, size/M

#18869 bgpd: fix PEER_FLAG_CONFIG_DAMPENING to be ULL
  bgpd/bgpd.h
Labels: bgp, bugfix, master, size/XS

#18856 Revert 16879
  doc/user/zebra.rst
  lib/nexthop.c
  lib/nexthop.h
  lib/nexthop_group.c
  lib/nexthop_group.h
  tests/topotests/bgp_mpls_pic/c11/frr.conf
  tests/topotests/bgp_mpls_pic/c21/frr.conf
  tests/topotests/bgp_mpls_pic/c22/frr.conf
  tests/topotests/bgp_mpls_pic/c31/frr.conf
  tests/topotests/bgp_mpls_pic/c32/frr.conf
  tests/topotests/bgp_mpls_pic/json/r1_bgp_vrf10_route.json
  tests/topotests/bgp_mpls_pic/json/r1_ip_vrf10_route.json
  tests/topotests/bgp_mpls_pic/json/r1_vpnv4_route.json
  tests/topotests/bgp_mpls_pic/r1/frr.conf
  tests/topotests/bgp_mpls_pic/r2/frr.conf
  tests/topotests/bgp_mpls_pic/r3/frr.conf
  tests/topotests/bgp_mpls_pic/test_bgp_mpls_pic.py
  tests/topotests/bgp_srv6_pic/c11/bgpd.conf
  tests/topotests/bgp_srv6_pic/c11/staticd.conf
  tests/topotests/bgp_srv6_pic/c11/zebra.conf
  tests/topotests/bgp_srv6_pic/c21/bgpd.conf
  tests/topotests/bgp_srv6_pic/c21/staticd.conf
  tests/topotests/bgp_srv6_pic/c21/zebra.conf
  tests/topotests/bgp_srv6_pic/c22/bgpd.conf
  tests/topotests/bgp_srv6_pic/c22/staticd.conf
  tests/topotests/bgp_srv6_pic/c22/zebra.conf
  tests/topotests/bgp_srv6_pic/c31/bgpd.conf
  tests/topotests/bgp_srv6_pic/c31/staticd.conf
  tests/topotests/bgp_srv6_pic/c31/zebra.conf
  tests/topotests/bgp_srv6_pic/c32/bgpd.conf
  tests/topotests/bgp_srv6_pic/c32/staticd.conf
  tests/topotests/bgp_srv6_pic/c32/zebra.conf
  tests/topotests/bgp_srv6_pic/json/r1_bgp_vrf10_route.json
  tests/topotests/bgp_srv6_pic/json/r1_ip_vrf10_route.json
  tests/topotests/bgp_srv6_pic/json/r1_vpnv4_route.json
  tests/topotests/bgp_srv6_pic/r1/bgpd.conf
  tests/topotests/bgp_srv6_pic/r1/staticd.conf
  tests/topotests/bgp_srv6_pic/r1/zebra.conf
  tests/topotests/bgp_srv6_pic/r2/bgpd.conf
  tests/topotests/bgp_srv6_pic/r2/staticd.conf
  tests/topotests/bgp_srv6_pic/r2/zebra.conf
  tests/topotests/bgp_srv6_pic/r3/bgpd.conf
  tests/topotests/bgp_srv6_pic/r3/staticd.conf
  tests/topotests/bgp_srv6_pic/r3/zebra.conf
  tests/topotests/bgp_srv6_pic/test_bgp_srv6_pic.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  zebra/dplane_fpm_nl.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/main.c
  zebra/rib.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
  zebra/zebra_script.c
  zebra/zebra_vty.c
Labels: master, size/XXL

#18860 build: the great war against `config.h`, issue 0 of ∞
  bgpd/bgp_bmp.c
  bgpd/bgp_network.c
  bgpd/bgp_zebra.c
  configure.ac
  lib/command.c
  lib/frratomic.h
  lib/network.h
  lib/sockunion.c
  lib/sockunion.h
  lib/vty.c
  lib/zebra.h
  pimd/pim_msdp_socket.c
  tools/config_h_used.sh
  zebra/if_ioctl.c
  zebra/kernel_socket.c
  zebra/kernel_socket.h
  zebra/rt_socket.c
Labels: zebra, libfrr, tools, master, size/L

#18857 yang: Fix pyang errors in frr-staticd.yang
  yang/frr-staticd.yang
Labels: yang, master, size/M

#18751 Keep the original NHE associated with a re around
  tests/topotests/bgp_redistribute_table/test_bgp_redistribute_table.py
  tests/topotests/zebra_received_nhe_kept/r1/frr.conf
  tests/topotests/zebra_received_nhe_kept/test_zebra_received_nhe_kept.py
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: tests, zebra, master, size/L

#18874 build: the war against `config.h` continues, 1 of ∞
  configure.ac
  lib/zebra.h
  zebra/ioctl.c
Labels: master, size/M

#18843 bgpd: fix import all adj-rib-in and loc-rib after bmp connects
  bgpd/bgp_bmp.c
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/bmp2import/bmp-update-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp2import/bmp-update-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp2import/bmp-update-pre-policy-step1.json
  tests/topotests/bgp_bmp/test_bgp_bmp_3.py
  tests/topotests/lib/bmp_collector/bmpserver.py
Labels: bgp, bugfix, backport, master, size/L

#18875 lib: fix mis-done endian check
  isisd/isis_dlpi.c
  lib/northbound_oper.c
  pimd/pim_autorp.h
Labels: pim, isis, libfrr, bugfix, master, size/S

#18877 build: the war on `config.h` is a war of attrition, 2 of ∞
  configure.ac
  eigrpd/eigrp_packet.c
  ldpd/packet.c
  lib/prefix.h
  lib/sockopt.c
  lib/sockunion.c
  lib/zebra.h
  ospf6d/ospf6_interface.c
  ospfd/ospf_packet.c
  pceplib/pcep.h
  zebra/if_sysctl.c
  zebra/interface.h
  zebra/ioctl.c
  zebra/ipforward_sysctl.c
  zebra/rtread_sysctl.c
  zebra/table_manager.h
Labels: master, size/L

#18273 bgpd: fix default instance when leaving the hidden state. (backport #18119)
  bgpd/bgpd.c
  tests/topotests/bgp_l3vpn_hidden/__init__.py
  tests/topotests/bgp_l3vpn_hidden/ce1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/pe1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/rr1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/test_bgp_l3vpn_hidden.py
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: tests, bgp, bugfix, size/XL, stable/10.2

#18589 bfdd: Only apply increased transmission interval after Poll Sequence
  bfdd/bfd.c
Labels: bfd, master, size/XS, rebase

#18591 bfdd: Check for passive mode with zero discriminator
  bfdd/bfd_packet.c
Labels: bfd, master, size/XS, rebase

#18785 ospfd: Fix crash when ospf client connects before configuring an OSPF instance
  ospfd/ospf_apiserver.c
Labels: ospf, master, size/M

#18884 *: oh no, `config.h` is mobilizing its forces! - 3 of ∞
  bgpd/bgp_aspath.c
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_filter.c
  bgpd/bgp_filter.h
  bgpd/bgp_regex.c
  bgpd/bgp_regex.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_vty.c
  configure.ac
  lib/command.c
  lib/event.c
  lib/frr_pthread.h
  lib/frregex_real.h
  lib/frrevent.h
  lib/frrstr.c
  lib/frrstr.h
  lib/memory.c
  lib/memory.h
  lib/subdir.am
  lib/vty.c
  lib/vty.h
  lib/xref.h
Labels: libfrr, master, size/L

#18873 nhrpd: ignore non-host addresses on NHRP interfaces
  nhrpd/nhrp_interface.c
Labels: nhrp, master, size/S

#18890 staticd: fix deref of NULL pointer in srv6 code
  staticd/static_zebra.c
Labels: staticd, bugfix, master, size/XS

#18648 pimd: add support for PIM dense and sparse-dense modes
  doc/user/pim.rst
  pimd/pim6_cmd.c
  pimd/pim6_cmd.h
  pimd/pim_autorp.c
  pimd/pim_cmd.c
  pimd/pim_cmd.h
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_dm.c
  pimd/pim_dm.h
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_ifchannel.c
  pimd/pim_ifchannel.h
  pimd/pim_igmp.c
  pimd/pim_instance.c
  pimd/pim_instance.h
  pimd/pim_join.c
  pimd/pim_join.h
  pimd/pim_memory.c
  pimd/pim_memory.h
  pimd/pim_mroute.c
  pimd/pim_mroute.h
  pimd/pim_msg.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_neighbor.c
  pimd/pim_pim.c
  pimd/pim_pim.h
  pimd/pim_rp.c
  pimd/pim_ssm.c
  pimd/pim_ssm.h
  pimd/pim_state_refresh.c
  pimd/pim_state_refresh.h
  pimd/pim_upstream.c
  pimd/pim_upstream.h
  pimd/pim_vty.c
  pimd/subdir.am
  tests/topotests/pim_dense/r1/frr.conf
  tests/topotests/pim_dense/r2/frr.conf
  tests/topotests/pim_dense/r3/frr.conf
  tests/topotests/pim_dense/r4/frr.conf
  tests/topotests/pim_dense/r5/frr.conf
  tests/topotests/pim_dense/r6/frr.conf
  tests/topotests/pim_dense/test_pim_dense.py
  yang/frr-pim.yang
Labels: documentation, tests, pim, master, size/XXL, rebase

#18896 doc: add a note about dplane API version to the release docs
  doc/developer/frr-release-procedure.rst
Labels: documentation, master, size/S

#18893 zebra: bump the dplane api version for FRR 10.4
  zebra/zebra_dplane.c
Labels: zebra, master, size/XS

#18909 github: Do not cache docker foobar
  .github/workflows/build-test-docker.yml
Labels: master, size/XS

#18900 bgpd: Drop deprecated JSON field `gracefulRestartCapability`
  bgpd/bgp_vty.c
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_graceful_restart.py
Labels: tests, bgp, master, size/S

#18888 mgmtd simplify frontend CLI config path
  lib/lib_vty.c
  lib/mgmt.proto
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/northbound_cli.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  tests/topotests/config_timing/r1/frr.conf
  tests/topotests/config_timing/r1/staticd.conf
  tests/topotests/config_timing/test_config_timing.py
  tests/topotests/mgmt_config/r1/mgmtd.conf
  tests/topotests/mgmt_debug_flags/test_debug.py
  tests/topotests/mgmt_tests/test_yang_mgmt.py
Labels: tests, libfrr, mgmt, master, size/XL, rebase

#18912 build: check for libunwind.h, not unwind.h
  configure.ac
Labels: build, bugfix, master, size/XS
