Repository FRRouting/frr, pull requests merged in 2025-03, with the labels that each got.

#18290 tools: Fix `frr-reload.py` error related to `static-sids`
  tools/frr-reload.py
Labels: tools, bugfix, backport, master, size/XS

#18289 staticd: Fix `no srv6` command
  staticd/static_vty.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_srv6_disable.json
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: tests, staticd, bugfix, backport, master, size/M

#18302 Bring in 2 northbound bug-fixes from master to 10.3
  lib/northbound_oper.c
  lib/yang.c
  lib/yang.h
Labels: libfrr, bugfix, size/M, dev/10.3

#17961 bgpd: Do not advertise aggregate routes to contributing ASes
  bgpd/bgp_aspath.c
  bgpd/bgp_aspath.h
  bgpd/bgp_route.c
  doc/user/bgp.rst
  tests/topotests/bgp_reject_as_sets/r2/bgpd.conf
  tests/topotests/bgp_reject_as_sets/r2/zebra.conf
  tests/topotests/bgp_reject_as_sets/r4/bgpd.conf
  tests/topotests/bgp_reject_as_sets/r4/zebra.conf
  tests/topotests/bgp_reject_as_sets/test_bgp_reject_as_sets.py
Labels: documentation, tests, bgp, master, size/L

#18253 Allow retrieval of v4/v6 forwarding state via NB
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
Labels: zebra, master, size/M, rebase

#18301 Vpn prefix aggregate export and accept
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  tests/topotests/bgp_vpnv4_ebgp/r1/bgpd.conf
  tests/topotests/bgp_vpnv4_ebgp/r1/show_bgp_ipv4_172_31_1_0.json
  tests/topotests/bgp_vpnv4_ebgp/r1/zebra.conf
  tests/topotests/bgp_vpnv4_ebgp/r100/bgpd.conf
  tests/topotests/bgp_vpnv4_ebgp/r100/show_bgp_ipv4.json
  tests/topotests/bgp_vpnv4_ebgp/r100/zebra.conf
  tests/topotests/bgp_vpnv4_ebgp/test_bgp_vpnv4_ebgp.py
Labels: bgp, bugfix, master, size/L

#18306 bfdd: Add "log-session-changes" command to BFD configuration and operational state via YANG Northbound API.
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_vty.c
  bfdd/dplane.c
  doc/user/bfd.rst
  tests/topotests/bfd_topo1/r1/bfdd.conf
  tests/topotests/bfd_topo1/r2/bfdd.conf
  yang/frr-bfdd.yang
Labels: documentation, tests, bfd, yang, master, size/L

#18293 yang: Imported modules are not in use
  yang/frr-affinity-map.yang
Labels: yang, master, size/S

#18268 lib: Correct handling of /frr-vrf:lib/vrf/state/active
  lib/vrf.c
Labels: libfrr, master, size/XS

#18195 More connection cleanup
  bgpd/bgp_fsm.c
  bgpd/bgp_keepalives.c
  bgpd/bgp_network.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#18319 doc: don't override automake builtin targets
  doc/user/subdir.am
Labels: documentation, master, size/S

#18313 lib: Document --command-log-always in help
  lib/libfrr.c
Labels: libfrr, master, size/XS

#18315 pimd: Fix PIM6 MLD VRF support (use recvmsg() pktinfo)
  pimd/pim6_mld.c
Labels: pim, backport, master, size/S

#18327 bgpd: Fix dead code in bgp_route.c #1637664
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#18337 Revert "bgpd: Make keepalive pthread be connection based."
  bgpd/bgp_keepalives.c
Labels: master, size/S

#18338 Documentation typesafe
  doc/developer/building.rst
  doc/developer/index.rst
  doc/developer/lists.rst
  doc/user/protocols.rst
Labels: documentation, master, size/S

#18344 tests: bgp_evpn_route_map_match fix invalid escape sequence
  tests/topotests/bgp_evpn_route_map_match/test_bgp_evpn_route_map_match.py
Labels: tests, bugfix, master, size/XS

#18335 lib: use memcpy in bf_copy
  lib/bitfield.h
Labels: documentation, build, tests, bgp, pim, zebra, libfrr, bugfix, yang, master, size/XS

#18348 Topotest startup order
  tests/topotests/lib/topotest.py
Labels: tests, master, size/M

#18342 ospfd: minor change for style
  lib/command.h
  ospfd/ospf_dump.c
Labels: ospf, libfrr, master, size/S, rebase

#18346 Clean up some code and bad assumptions in zebra
  zebra/interface.c
  zebra/zebra_vxlan_if.c
Labels: zebra, master, size/M

#18362 tests: Fixed NameError at bmpserver.py
  tests/topotests/lib/bmp_collector/bmpserver.py
Labels: tests, master, size/S

#16614 zebra: fix table heap-after-free crash
  lib/zclient.c
  lib/zclient.h
  tests/topotests/zebra_rib/r1/import_mrib_table_2.json
  tests/topotests/zebra_rib/r1/import_mrib_table_3.json
  tests/topotests/zebra_rib/r1/import_mrib_table_4.json
  tests/topotests/zebra_rib/r1/import_table_2.json
  tests/topotests/zebra_rib/r1/import_table_3.json
  tests/topotests/zebra_rib/r1/import_table_4.json
  tests/topotests/zebra_rib/r1/v4_route_table_1_no_vrf.json
  tests/topotests/zebra_rib/r1/v4_route_table_1_no_vrf.txt
  tests/topotests/zebra_rib/r1/v4_route_table_1_vrf_red.json
  tests/topotests/zebra_rib/r1/v4_route_table_1_vrf_red.txt
  tests/topotests/zebra_rib/test_zebra_rib.py
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_rib.c
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: tests, zebra, libfrr, bugfix, master, size/XL

#18336 zebra: Fix neigh delete causing heap-use-after-free error
  zebra/zebra_neigh.c
Labels: zebra, master, size/S

#18367 staticd: Install known nexthops upon connection with zebra
  staticd/static_routes.c
  staticd/static_routes.h
  staticd/static_zebra.c
Labels: staticd, master, size/M

#18373 Backport missing frr config to 10.1
  doc/developer/topotests.rst
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
Labels: tests, size/S, stable/10.1

#18366 Add Testing for community and Extended community match limit zero
  tests/topotests/bgp_comm_list_match/test_bgp_comm_list_match.py
  tests/topotests/bgp_ecomm_list_match/test_bgp_ecomm_list_match.py
Labels: master, size/M

#18380 bgpd: Show bgp <afi> <safi> shouldn't display peers in groups
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#18388 yang: Fixed pyang errors at frr-bgp-common.yang
  yang/frr-bgp-common.yang
Labels: yang, master, size/L

#18377 isisd: fix bit flag collision in options field
  isisd/isisd.h
Labels: isis, bugfix, master, size/XS

#18383 Fix bug with oper-state queries including list node
  lib/darr.h
  lib/northbound_oper.c
  tests/lib/test_darr.c
Labels: libfrr, master, size/S

#18393 ospf6d: Disable and delete OSPFv3 areas that no longer have interfaces or configuration.
  ospf6d/ospf6_area.c
  ospf6d/ospf6_area.h
  ospf6d/ospf6_interface.c
Labels: ospfv3, master, size/M

#18395 bgpd: Remove unnecessary stream_new/stream_copies in bgp_open_make
  bgpd/bgp_packet.c
Labels: bgp, master, size/S

#18394 zebra: add ability to specify output file with fpm_listener
  zebra/fpm_listener.c
Labels: zebra, master, size/M

#18387 bgpd: Fixed crash upon bgp network import-check command
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/XS

#18384 lib: suppress libyang logs during expected error result
  lib/northbound_oper.c
Labels: libfrr, master, size/S

#18399 2 unit-test fixes
  configure.ac
  tests/lib/cli/test_cli.refout.in
  tests/lib/northbound/test_oper_exists.c
Labels: tests, bugfix, master, size/S

#18364 bgpd, zebra, tests: disable rtadv when bgp instance unconfiguration.
  bgpd/bgpd.c
  tests/topotests/bgp_vpn_5549_route_map/test_bgp_vpn_5549_route_map.py
  zebra/interface.c
  zebra/interface.h
  zebra/rtadv.c
Labels: tests, bgp, zebra, bugfix, master, size/L

#18407 fix(vrrp): display vrrp version by default
  vrrpd/vrrp_vty.c
Labels: master, size/XS

#18410 bgpd: Print the real reason why the peer is not accepted (incoming)
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/M

#18414 tests: Corrected input dict at pim.py
  tests/topotests/lib/pim.py
Labels: tests, master, size/S

#18349 More yang state
  tests/topotests/zebra_operational_data/test_zebra_operational.py
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
Labels: tests, zebra, master, size/M

#18419 doc: Modify typesafe documentation
  doc/developer/lists.rst
Labels: documentation, master, size/S

#18418 ripngd: Access and Prefix lists are being leaked on shutdown
  ripngd/ripng_main.c
Labels: ripng, master, size/XS

#18374 zebra: Fix reinstalling nexthops in NHGs upon interface flaps
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
  zebra/zebra_nhg.c
Labels: zebra, master, size/M, rebase

#18426 RedHat: Fixing for PR17793 - Allow RPM build without docs and/or rpki
  redhat/frr.spec.in
Labels: packaging, master, size/M

#18430 lib: Create VRF if needed
  lib/routing_nb_config.c
Labels: libfrr, master, size/XS

#18412 bgpd: fix "delete in progress" flag on default instance
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#18432 Fix topotest to wait for zebra connection
  tests/topotests/lib/topotest.py
Labels: tests, master, size/M

#18435 bgpd: Fix leaked memory when showing some bgp routes
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#18431 Fpm listener reject
  zebra/fpm_listener.c
Labels: zebra, master, size/M

#18325 topotests: Add EVPN RT5 multipath flap test
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: master, size/M

#18409 Typesafe zclient
  zebra/main.c
  zebra/redistribute.c
  zebra/router-id.c
  zebra/zapi_msg.c
  zebra/zebra_gr.c
  zebra/zebra_mlag.c
  zebra/zebra_ptm.c
  zebra/zebra_ptm_redistribute.c
  zebra/zebra_router.h
  zebra/zebra_srv6.c
  zebra/zebra_srv6_vty.c
  zebra/zebra_vrf.c
  zebra/zserv.c
  zebra/zserv.h
Labels: zebra, master, size/L

#18330 pimd: Skip RPF check for SA message from mesh group peer
  pimd/pim_msdp.c
  pimd/pim_msdp_packet.c
Labels: pim, master, size/S, rebase

#18277 tests: Catch specific exceptions
  tests/topotests/lib/common_check.py
Labels: tests, master, size/XS

#17986 lib: fix static analysis error
  lib/elf_py.c
Labels: bgp, isis, pbr, zebra, libfrr, master, size/XS

#18442 yang: Code inline with RFC 8407 rules
  yang/frr-eigrpd.yang
Labels: yang, master, size/M

#18452 tests: Change up start order of bmp tests
  tests/topotests/bgp_bmp/r1/frr.conf
  tests/topotests/bgp_bmp/r2/frr.conf
  tests/topotests/bgp_bmp/r3/frr.conf
Labels: tests, master, size/S

#18446 tests: add bfd_static_vrf
  tests/topotests/bfd_static_vrf/__init__.py
  tests/topotests/bfd_static_vrf/r1/frr.conf
  tests/topotests/bfd_static_vrf/r1/show_bfd_peers.json
  tests/topotests/bfd_static_vrf/r1/show_bfd_peers_step1.json
  tests/topotests/bfd_static_vrf/r1/show_ip_route.json
  tests/topotests/bfd_static_vrf/r1/show_ip_route_step1.json
  tests/topotests/bfd_static_vrf/r1/show_ipv6_route.json
  tests/topotests/bfd_static_vrf/r1/show_ipv6_route_step1.json
  tests/topotests/bfd_static_vrf/r2/frr.conf
  tests/topotests/bfd_static_vrf/r3/frr.conf
  tests/topotests/bfd_static_vrf/test_bfd_static_vrf.py
Labels: tests, master, size/XL

#18339 tests: Corrected typo at path_attributes.py
  tests/topotests/lib/bmp_collector/bgp/update/path_attributes.py
Labels: tests, master, size/XS

#18378 bgpd: fix `set evpn gateway-ip ipv[46]` route-map
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  tests/topotests/bgp_evpn_route_map_set/__init__.py
  tests/topotests/bgp_evpn_route_map_set/c1/frr.conf
  tests/topotests/bgp_evpn_route_map_set/r1/frr.conf
  tests/topotests/bgp_evpn_route_map_set/r2/frr.conf
  tests/topotests/bgp_evpn_route_map_set/test_bgp_evpn_route_map_set.py
Labels: tests, bgp, bugfix, backport, master, size/L, rebase

#18464 bgpd: fix `set evpn gateway-ip ipv[46]` route-map
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, size/XS, stable/10.2

#18465 bgpd: fix `set evpn gateway-ip ipv[46]` route-map
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, size/XS, stable/10.1

#18466 bgpd: fix `set evpn gateway-ip ipv[46]` route-map
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, size/XS, stable/10.0

#18469 tests: high_ecmp creates 2 update groups
  tests/topotests/high_ecmp/r1/frr.conf
  tests/topotests/high_ecmp/r2/frr.conf
Labels: tests, master, size/S

#18467 staticd: Fix a crash that occurs when modifying an SRv6 SID
  staticd/static_nb_config.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_modify.json
  tests/topotests/static_srv6_sids/r1/setup.sh
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: tests, staticd, master, size/L

#18473 babeld: Missing Validation for AE=0 and Plen!=0
  babeld/message.c
Labels: babel, master, size/XS

#18447 Bgp clear batch
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  bgpd/bgp_memory.h
  bgpd/bgp_nht.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_peer_shut/__init__.py
  tests/topotests/bgp_peer_shut/bgp-peer-shut.dot
  tests/topotests/bgp_peer_shut/bgp-peer-shut.pdf
  tests/topotests/bgp_peer_shut/exabgp.env
  tests/topotests/bgp_peer_shut/peer1/exa-send.py
  tests/topotests/bgp_peer_shut/peer1/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer10/exa-send.py
  tests/topotests/bgp_peer_shut/peer10/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer11/exa-send.py
  tests/topotests/bgp_peer_shut/peer11/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer12/exa-send.py
  tests/topotests/bgp_peer_shut/peer12/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer13/exa-send.py
  tests/topotests/bgp_peer_shut/peer13/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer14/exa-send.py
  tests/topotests/bgp_peer_shut/peer14/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer15/exa-send.py
  tests/topotests/bgp_peer_shut/peer15/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer16/exa-send.py
  tests/topotests/bgp_peer_shut/peer16/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer17/exa-send.py
  tests/topotests/bgp_peer_shut/peer17/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer18/exa-send.py
  tests/topotests/bgp_peer_shut/peer18/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer19/exa-send.py
  tests/topotests/bgp_peer_shut/peer19/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer2/exa-send.py
  tests/topotests/bgp_peer_shut/peer2/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer20/exa-send.py
  tests/topotests/bgp_peer_shut/peer20/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer3/exa-send.py
  tests/topotests/bgp_peer_shut/peer3/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer4/exa-send.py
  tests/topotests/bgp_peer_shut/peer4/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer5/exa-send.py
  tests/topotests/bgp_peer_shut/peer5/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer6/exa-send.py
  tests/topotests/bgp_peer_shut/peer6/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer7/exa-send.py
  tests/topotests/bgp_peer_shut/peer7/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer8/exa-send.py
  tests/topotests/bgp_peer_shut/peer8/exabgp.cfg
  tests/topotests/bgp_peer_shut/peer9/exa-send.py
  tests/topotests/bgp_peer_shut/peer9/exabgp.cfg
  tests/topotests/bgp_peer_shut/r1/frr.conf
  tests/topotests/bgp_peer_shut/r1/summary.txt
  tests/topotests/bgp_peer_shut/test_bgp_peer_shut.py
Labels: tests, bgp, zebra, master, size/XXL, rebase

#18489 bgpd: Fix holdtime not working properly when busy
  bgpd/bgp_fsm.c
Labels: bgp, size/XS, stable/10.2

#18490 bgpd: Fix holdtime not working properly when busy
  bgpd/bgp_fsm.c
Labels: bgp, size/XS, stable/10.1

#18471 babeld: add check incorrect AE value for NH TLV.
  babeld/message.c
Labels: babel, master, size/XS

#18311 isisd:IS-IS hello packets not sent with configured hello timer
  isisd/isis_circuit.c
  isisd/isis_circuit.h
  isisd/isis_vty_fabricd.c
Labels: isis, master, size/M

#18369 isisd: Fix the issue where redistributed routes do not change when th…
  isisd/isis_redist.c
  isisd/isis_redist.h
  isisd/isis_routemap.c
  isisd/isisd.h
Labels: isis, master, size/M, rebase

#18474 babeld: Hop Count must not be 0.
  babeld/message.c
Labels: babel, master, size/XS

#18494 lib: Return duplicate prefix-list entry test
  lib/filter_cli.c
Labels: libfrr, master, size/S

#18496 bgpd: fix SA warning in bgp clearing code
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/S

#18476 tests: Handling potential errors gracefully
  tests/topotests/lib/exa-receive.py
Labels: tests, master, size/S

#18448 babeld: fix hello packets not sent with configured hello timer
  babeld/babel_interface.c
Labels: babel, bugfix, master, size/XS

#18482 Eigrp typesafe
  eigrpd/eigrp_dump.c
  eigrpd/eigrp_filter.c
  eigrpd/eigrp_fsm.c
  eigrpd/eigrp_hello.c
  eigrpd/eigrp_interface.c
  eigrpd/eigrp_interface.h
  eigrpd/eigrp_main.c
  eigrpd/eigrp_neighbor.c
  eigrpd/eigrp_neighbor.h
  eigrpd/eigrp_network.c
  eigrpd/eigrp_network.h
  eigrpd/eigrp_northbound.c
  eigrpd/eigrp_packet.c
  eigrpd/eigrp_query.c
  eigrpd/eigrp_reply.c
  eigrpd/eigrp_routemap.c
  eigrpd/eigrp_structs.h
  eigrpd/eigrp_topology.c
  eigrpd/eigrp_update.c
  eigrpd/eigrp_vty.c
  eigrpd/eigrp_zebra.c
  eigrpd/eigrp_zebra.h
  eigrpd/eigrpd.c
  eigrpd/eigrpd.h
  lib/if.c
  lib/if.h
Labels: eigrp, zebra, libfrr, master, size/L

#18506 tests: Add ripng aggregate address testing
  tests/topotests/ripng_aggregate_address/__init__.py
  tests/topotests/ripng_aggregate_address/r2/frr.conf
  tests/topotests/ripng_aggregate_address/r3/frr.conf
  tests/topotests/ripng_aggregate_address/test_ripng_aggregate_address.py
Labels: tests, master, size/L

#18502 bgpd: Set the label for MP_UNREACH_NLRI 0x800000 instead of 0x000000
  bgpd/bgp_attr.c
  bgpd/bgp_label.h
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-loc-rib-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-post-policy-step2.json
  tests/topotests/bgp_bmp/bmp1/bmp-withdraw-pre-policy-step2.json
  tests/topotests/bgp_bmp/bmp1import/bmp-withdraw-loc-rib-step2.json
Labels: tests, bgp, master, size/S, rebase

#18508 tests: Modify simple_snmp_test to use frr.conf
  tests/topotests/simple_snmp_test/r1/bgpd.conf
  tests/topotests/simple_snmp_test/r1/frr.conf
  tests/topotests/simple_snmp_test/r1/isisd.conf
  tests/topotests/simple_snmp_test/r1/ospf6d.conf
  tests/topotests/simple_snmp_test/r1/ospfd.conf
  tests/topotests/simple_snmp_test/r1/ripd.conf
  tests/topotests/simple_snmp_test/r1/zebra.conf
  tests/topotests/simple_snmp_test/test_simple_snmp.py
Labels: tests, master, size/L

#18498 bgpd: Retain the routes if we do a clear with N-bit set for Graceful-Restart
  bgpd/bgp_packet.c
  tests/topotests/bgp_gr_notification/r1/bgpd.conf
  tests/topotests/bgp_gr_notification/r2/bgpd.conf
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests, bgp, bugfix, backport, master, size/M

#18515 lib: `show route-map` should not print (null)
  lib/routemap.c
Labels: libfrr, master, size/XS

#18520 tests: Fix potential issues at send_bsr_packet.py
  tests/topotests/lib/send_bsr_packet.py
Labels: tests, master, size/S

#18516 bgpd: Retain the routes if we do a clear with N-bit set for Graceful-Restart (backport)
  bgpd/bgp_packet.c
  tests/topotests/bgp_gr_notification/r1/bgpd.conf
  tests/topotests/bgp_gr_notification/r2/bgpd.conf
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests, bgp, bugfix, size/M, stable/10.2

#18522 Revert backport for crash when modifying SRv6 SID for stable/10.3 branch
  staticd/static_nb_config.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_modify.json
  tests/topotests/static_srv6_sids/r1/setup.sh
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: size/L, stable/10.3

#18532 tests: Irrelevant code in lutil.py
  tests/topotests/lib/lutil.py
Labels: tests, master, size/XS

#15471 tools: Add option to frr-reload to specify alternate logfile
  doc/user/frr-reload.rst
  tools/frr-reload.py
Labels: documentation, tools, master, size/S, rebase
