Repository FRRouting/frr, pull requests merged in 2025-04, with the labels that each got.

#18450 Bgp packet reads conversion to a FIFO
  bgpd/bgp_fsm.c
  bgpd/bgp_io.c
  bgpd/bgp_io.h
  bgpd/bgp_main.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/high_ecmp/r1/frr.conf
  tests/topotests/high_ecmp/r1/frr_ipv4_bgp.conf
  tests/topotests/high_ecmp/r1/frr_ipv6_bgp.conf
  tests/topotests/high_ecmp/r1/frr_unnumbered_bgp.conf
  tests/topotests/high_ecmp/r2/frr.conf
  tests/topotests/high_ecmp/r2/frr_ipv4_bgp.conf
  tests/topotests/high_ecmp/r2/frr_ipv6_bgp.conf
  tests/topotests/high_ecmp/r2/frr_unnumbered_bgp.conf
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zserv.c
Labels: tests, bgp, zebra, master, size/L

#18470 babeld: Add next hop initialization
  babeld/message.c
Labels: babel, master, size/XS

#18517 bgpd: Retain the routes if we do a clear with N-bit set for Graceful-Restart (backport)
  bgpd/bgp_packet.c
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests, bgp, bugfix, size/M, stable/10.1

#18518 bgpd: Retain the routes if we do a clear with N-bit set for Graceful-Restart (backport)
  bgpd/bgp_packet.c
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests, bgp, bugfix, size/M, stable/10.0

#18524 yang: Limit eigrp to just 1 instance per vrf
  yang/frr-eigrpd.yang
Labels: yang, master, size/XS

#18543 yang: Corrected pyang errors in frr-zebra.yang
  yang/frr-zebra.yang
Labels: tests, yang, master, size/L

#18097 bgpd: optimize attrhash_cmp calls
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi.c
Labels: bgp, master, size/M

#18561 lib: Return duplicate ipv6 prefix-list entry test
  lib/filter_cli.c
Labels: libfrr, bugfix, master, size/S

#18564 bgpd: Skip EVPN MAC processing for non-EVPN peers
  bgpd/bgp_mac.c
Labels: bgp, master, size/XS

#18553 tests: Resource leaks in test_all_protocol_startup
  tests/topotests/all_protocol_startup/test_all_protocol_startup.py
Labels: tests, master, size/M

#18546 bgpd: rfapi: track outstanding rib and import timers, free mem at exit
  bgpd/bgpd.c
  bgpd/rfapi/rfapi.c
  bgpd/rfapi/rfapi_backend.h
  bgpd/rfapi/rfapi_import.c
  bgpd/rfapi/rfapi_import.h
  bgpd/rfapi/rfapi_rib.c
  bgpd/rfapi/rfapi_rib.h
  tests/topotests/bgp_rfapi_basic_sanity/r3/bgpd.conf
  tests/topotests/bgp_rfapi_basic_sanity/scripts/cleanup_all.py
  tests/topotests/bgp_rfapi_basic_sanity_config2/r3/bgpd.conf
Labels: bgp, master, size/L, rebase

#18572 tests: Fix typo when configuring delayopen timer
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: tests, bugfix, backport, master, size/XS

#18567 pimd: Initialize gm proxy to false
  pimd/pim_iface.c
Labels: pim, bugfix, backport, master, size/XS

#18562 bgpd: Treat the peer as not active due to BFD down only if established
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/XS

#18558 bgpd: flowspec: remove sizelimit check applied to the wrong length field (issue 18557)
  bgpd/bgp_flowspec.c
  bgpd/bgp_flowspec_private.h
  bgpd/bgp_route.h
Labels: bgp, master, size/XS

#18580 staticd: Avoid requesting SRv6 sid from zebra when loc and sid block dont match
  staticd/static_zebra.c
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: staticd, bugfix, backport, master, size/M

#18547 babeld: Hop Count must not be 0.
  babeld/message.c
Labels: babel, master, size/XS, rebase

#18581 babeld: Request forwarding does not prioritize feasible routes
  babeld/message.c
Labels: babel, master, size/XS, rebase

#18584 babeld: Add a check to prevent all-ones case
  babeld/babeld.c
Labels: babel, master, size/XS, rebase

#18585 babel: fix incorrect check in known_ae()
  babeld/message.c
Labels: bugfix, master, size/XS, rebase

#18602 doc: add a diagram for config datastore cleanup on file reads
  doc/developer/mgmtd-dev.rst
  doc/figures/datastores.drawio
  doc/figures/datastores.svg
Labels: documentation, master, size/L

#18526 pimd: Fix memory leak on shutdown
  pimd/pim_iface.c
Labels: pim, backport, master, size/S

#18598 nhrpd: Add Hop Count Validation Before Forwarding in nhrp_peer_recv()
  nhrpd/nhrp_peer.c
Labels: nhrp, backport, master, size/XS, rebase

#18583 babeld: check valid babel port
  babeld/babeld.c
  babeld/babeld.h
Labels: babel, backport, master, size/XS, rebase

#18614 bgpd: On shutdown free up memory leak found by topotest
  bgpd/bgpd.c
Labels: bgp, backport, master, size/S

#18604 yang: Pyang errors in frr-bfdd.yang
  yang/frr-bfdd.yang
Labels: yang, master, size/M

#18601 mgmtd: remove bogus "hedge" code which corrupted active candidate DS
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_txn.c
Labels: mgmt, master, size/M, rebase

#18627 zebra: Fix shadow warning in irdp_packet.c
  zebra/irdp_packet.c
Labels: zebra, master, size/XS

#18625 bgpd: On shutdown free up table for static routes
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#18586 bfdd: Fix demultiplexing to rely solely on Your Discriminator
  bfdd/bfd.c
Labels: bfd, master, size/S, rebase

#18548 babeld: fix incorrect type assignment in parse_request_subtlv
  babeld/message.c
Labels: babel, bugfix, backport, master, size/XS, rebase

#18472 babeld: Add input validation for update TLV.
  babeld/message.c
Labels: babel, master, size/S, rebase

#18611 bgpd: add usid behavior for bgp srv6 instructions
  bgpd/bgp_mplsvpn.c
Labels: bgp, master, size/XS

#18376 bgpd: fix add prefix sent in 'show bgp neighbor'
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/S, rebase

#18635 tools: Add pathspace option to generate_support_bundle
  tools/generate_support_bundle.py
Labels: tools, master, size/S

#18633 tests: Fix potential issues in mcast-tester.py
  tests/topotests/lib/mcast-tester.py
Labels: tests, master, size/M

#16735 babeld: Add MBZ and Reserved field checking
  babeld/message.c
Labels: babel, master, size/M, rebase

#18642 isisd: fix asla memory leak
  isisd/isis_tlvs.c
Labels: isis, bugfix, master, size/S

#18597 lib, staticd, isisd: add B6.ENCAPS codepoint extensions
  isisd/isis_zebra.c
  lib/srv6.h
  staticd/static_vty.c
  staticd/static_zebra.c
Labels: isis, staticd, libfrr, master, size/M

#18628 tools: fix reload script for SRv6 locators and formats
  tools/frr-reload.py
Labels: tools, bugfix, backport, master, size/S

#18574 tests: Shadowing the built-in function
  tests/topotests/lib/common_config.py
Labels: tests, master, size/S

#18645 zebra: fix pbr_iptable memory leak
  zebra/zapi_msg.c
  zebra/zebra_pbr.c
  zebra/zebra_pbr.h
Labels: zebra, bugfix, master, size/M

#18649 Rpki testing and bug fix
  bgpd/bgp_rpki.c
  tests/topotests/bgp_rpki_topo1/test_bgp_rpki_topo1.py
Labels: tests, bgp, master, size/L

#18578 pim6d: fix missing 'use-source' interface command
  pimd/pim6_cmd.c
Labels: bugfix, master, size/S, rebase

#18641 zebra: Add ability to dump routes received from fpm_listener
  zebra/fpm_listener.c
Labels: zebra, master, size/L

#18654 Add v4-via-v6 nexthop support to staticd
  doc/user/static.rst
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/topotests/static_simple/test_static_simple.py
Labels: documentation, tests, staticd, master, size/L

#18655 lib,bgpd: clean up clang warnings
  bgpd/bgp_packet.c
  lib/resolver.c
Labels: bgp, libfrr, master, size/XS

#18653 bgpd: fix pbr memory leaks
  bgpd/bgp_pbr.c
Labels: bgp, bugfix, master, size/M

#18610 fix yang commands that don't have yang attr
  isisd/isis_cli.c
  pathd/path_cli.c
  pimd/pim_cmd.c
Labels: bgp, pim, isis, bugfix, master, size/L

#18540 lib: nb: add list_entry_done() callback to free resources
  lib/northbound.c
  lib/northbound.h
  lib/northbound_oper.c
Labels: libfrr, master, size/L, rebase

#18592 bfdd: Set bfd.LocalDiag when transitioning to AdminDown
  bfdd/bfd.c
Labels: bfd, master, size/XS, rebase

#18662 tests: Fix northbound endian use in a unit-test
  tests/.gitignore
  tests/lib/northbound/test_oper_data.c
Labels: tests, master, size/XS

#18667 isisd: fix srv6_sid memory leak
  isisd/isis_zebra.c
Labels: isis, bugfix, backport, master, size/XS

#18579 zebra: change fpm_read to batch the messages
  zebra/dplane_fpm_nl.c
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
Labels: zebra, master, size/M, rebase

#18497 zebra: show command to display metaq info
  zebra/rib.h
  zebra/zebra_rib.c
  zebra/zebra_vty.c
Labels: zebra, master, size/L, rebase

#18665 yang: Corrected pyang errors in frr-pathd.yang
  yang/frr-pathd.yang
Labels: yang, master, size/M

#18669 bgpd: fix misused rfapi conditional
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#18538 pimd: Only create and bind the autorp socket when really needed
  pimd/pim_autorp.c
  pimd/pim_iface.c
  pimd/pim_nb_config.c
Labels: pim, master, size/L

#18658 tests: Resource leak in common_config.py
  tests/topotests/lib/common_config.py
Labels: tests, master, size/M

#18675 lib,pimd,bgpd,bfdd: Fix clang 18 warnings
  bfdd/bfd.c
  bgpd/bgp_bmp.c
  lib/command_parse.y
  pimd/pim_autorp.c
  pimd/pim_bsm.c
  pimd/pim_bsr_rpdb.c
Labels: bgp, pim, bfd, libfrr, master, size/M

#18682 bgpd: Treat the peer as not active due to BFD down only if established (backport #18562)
  bgpd/bgpd.c
Labels: bgp, bugfix, size/XS, stable/10.2

#18692 zebra: Save event pointer for rib sweeping
  zebra/main.c
Labels: zebra, master, size/XS

#18626 Implement RFC8781 (NAT64 prefix in RA's)
  doc/user/ipv6.rst
  tests/topotests/zebra_pref64/r1/frr.conf
  tests/topotests/zebra_pref64/r2/frr.conf
  tests/topotests/zebra_pref64/rx_ipv6_ra_8781.py
  tests/topotests/zebra_pref64/test_zebra_prefix64.py
  yang/frr-zebra.yang
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_cli.c
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
Labels: tests, zebra, master, size/XL

#11224 zebra: implement RFC8781 (NAT64 prefix in RAs)
  doc/user/ipv6.rst
  tests/topotests/zebra_pref64/r1/frr.conf
  tests/topotests/zebra_pref64/r2/frr.conf
  tests/topotests/zebra_pref64/rx_ipv6_ra_8781.py
  tests/topotests/zebra_pref64/test_zebra_prefix64.py
  yang/frr-zebra.yang
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_cli.c
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
Labels: tests, zebra, autoclose, size/XL, rebase

#18681 bgpd: Treat the peer as not active due to BFD down only if established (backport #18562)
  bgpd/bgpd.c
Labels: bgp, bugfix, size/XS, rebase, stable/10.3

#18158 Update EVPN prefix routes properly instead of withdraw/install
  bgpd/bgp_route.c
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/zebra_evpn_mac.h
  zebra/zebra_evpn_mh.c
  zebra/zebra_rib.c
  zebra/zebra_vxlan.c
Labels: bgp, zebra, master, size/L, rebase

#18683 Improve notification selectors (sort, eliminate dups)
  lib/darr.c
  lib/darr.h
  lib/mgmt_be_client.c
  lib/northbound_notif.c
  mgmtd/mgmt_fe_adapter.c
  tests/lib/test_darr.c
Labels: libfrr, mgmt, master, size/L, rebase

#18698 tests: Shadowing the built-in function
  tests/topotests/lib/lutil.py
Labels: tests, master, size/S

#18694 bgpd: Fix deref after free in bgp_vrf_unlink
  bgpd/bgpd.h
Labels: bgp, master, size/XS

#18703 doc: line vty was not documented
  doc/user/basic.rst
Labels: documentation, master, size/M

#18656 bgpd: Clean extended communities for VRF routes imported from EVPN
  bgpd/bgp_attr.c
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_evpn.c
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: bgp, master, size/L

#16836 zebra: Add CLI to display SRv6 SIDs allocated
  doc/user/zebra.rst
  isisd/isis_srv6.c
  isisd/isis_zebra.c
  zebra/zebra_srv6_vty.c
Labels: documentation, isis, zebra, libfrr, master, size/L

#18677 zebra: add vtep_ip to rmac nh_list in all cases
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/zebra_vxlan.c
Labels: tests, zebra, master, size/L

#18691 doc: state correct default behaviour of VTYSH_PAGER env if unset (vtysh manpage)
  doc/manpages/vtysh.rst
  doc/user/vtysh.rst
Labels: documentation, master, size/XS

#18672 pimd: Fix for crash during networking restart
  pimd/pim_instance.c
  pimd/pim_vxlan.c
  pimd/pim_vxlan_instance.h
Labels: pim, master, size/S, rebase

#18716 yang: Fix pyang errors in frr-interface.yang
  yang/frr-interface.yang
Labels: yang, master, size/S

#18713 change to 18652 to test
  doc/developer/topotests.rst
  docker/ubuntu-ci/Dockerfile
  pimd/pim_ssmpingd.c
  tests/topotests/pim_basic/r1/bgpd.conf
  tests/topotests/pim_basic/r1/frr.conf
  tests/topotests/pim_basic/r1/pimd.conf
  tests/topotests/pim_basic/r1/zebra.conf
  tests/topotests/pim_basic/r2/frr.conf
  tests/topotests/pim_basic/r2/pimd.conf
  tests/topotests/pim_basic/r3/frr.conf
  tests/topotests/pim_basic/r3/pimd.conf
  tests/topotests/pim_basic/rp/bgpd.conf
  tests/topotests/pim_basic/rp/frr.conf
  tests/topotests/pim_basic/rp/pimd.conf
  tests/topotests/pim_basic/rp/zebra.conf
  tests/topotests/pim_basic/test_pim.py
Labels: documentation, tests, pim, docker, master, size/L

#18708 topotests: clarify bgp evpn rt5
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes_all.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/frr.conf
  tests/topotests/bgp_evpn_rt5/r2/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/frr.conf
  tests/topotests/bgp_evpn_rt5/r3/frr.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: tests, bugfix, master, size/XL

#18709 zebra: Display nhg's afi as `No Afi`
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_vty.c
Labels: zebra, master, size/S

#18704 zebra: Cancel new client accept events after zsock is closed
  zebra/zserv.c
Labels: zebra, master, size/XS

#18730 tests: Proper handling of resource allocation
  tests/topotests/lib/topotest.py
Labels: tests, master, size/S

#18731 *: Allow returns to work with --enable-undefined-behavior
  bgpd/bgp_addpath.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/rfapi/rfapi_import.c
  isisd/isis_adjacency.c
  isisd/isis_pdu_counter.c
  isisd/isisd.c
  ldpd/lde_lib.c
  lib/command_graph.c
  lib/command_match.c
  lib/ipaddr.h
  lib/northbound.c
  lib/prefix.c
  pathd/path_cli.c
  pathd/path_pcep_config.c
  pathd/path_pcep_controller.c
  pathd/path_pcep_debug.c
  pathd/path_pcep_pcc.c
  pathd/pathd.c
  ripd/rip_nb_state.c
  zebra/router-id.c
Labels: master, size/M

#18309 zebra: use nexthop instead of route vrf_id for EVPN
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes_all.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv4_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_101_ipv6_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv4_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_vrf_102_ipv6_routes_detail_import.json
  tests/topotests/bgp_evpn_rt5/r1/frr.conf
  tests/topotests/bgp_evpn_rt5/r2/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_101_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_101_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_102_ipv4_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/bgp_vrf_102_ipv6_routes_detail.json
  tests/topotests/bgp_evpn_rt5/r2/frr.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  zebra/kernel_netlink.c
  zebra/zebra_rib.c
Labels: zebra, master, size/XXL, rebase

#18417 ldpd: Option for disabled LDP hello message during TCP
  doc/user/ldpd.rst
  docker/ubuntu-ci/Dockerfile
  ldpd/interface.c
  ldpd/ldp_vty.h
  ldpd/ldp_vty_cmds.c
  ldpd/ldp_vty_conf.c
  ldpd/ldpd.c
  ldpd/ldpd.h
  ldpd/neighbor.c
  tests/topotests/ldp_establish_hello_topo1/r1/ldpd.conf
  tests/topotests/ldp_establish_hello_topo1/r1/zebra.conf
  tests/topotests/ldp_establish_hello_topo1/r2/ldpd.conf
  tests/topotests/ldp_establish_hello_topo1/r2/zebra.conf
  tests/topotests/ldp_establish_hello_topo1/r3/ldpd.conf
  tests/topotests/ldp_establish_hello_topo1/r3/zebra.conf
  tests/topotests/ldp_establish_hello_topo1/test_establish_hello_topo1.dot
  tests/topotests/ldp_establish_hello_topo1/test_establish_hello_topo1.py
Labels: ldp, master, size/L, rebase

#18605 Add sharp support for seg6local routes with uSID flavor
  doc/user/sharp.rst
  sharpd/sharp_vty.c
  zebra/rt_netlink.c
Labels: zebra, sharp, master, size/L

#18657 doc: add commit message guidelines to the dev guide
  doc/developer/workflow.rst
Labels: documentation, master, size/M
