Repository FRRouting/frr, pull requests merged in 2025-07, with the labels that each got.

#18806 SRv6: Add support for multiple SRv6 locators
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  isisd/isis_srv6.c
  isisd/isis_zebra.c
  isisd/isis_zebra.h
  lib/command.h
  lib/zclient.c
  lib/zclient.h
  staticd/static_zebra.c
  tests/topotests/static_srv6_sids_multiple_locators/__init__.py
  tests/topotests/static_srv6_sids_multiple_locators/expected_srv6_sids.json
  tests/topotests/static_srv6_sids_multiple_locators/r1/frr.conf
  tests/topotests/static_srv6_sids_multiple_locators/r1/setup.sh
  tests/topotests/static_srv6_sids_multiple_locators/test_static_srv6_sids_multiple_locators.py
  vtysh/vtysh.c
  zebra/zapi_msg.c
  zebra/zebra_srv6.c
  zebra/zebra_srv6.h
  zebra/zebra_srv6_vty.c
Labels: tests, staticd, zebra, libfrr, bugfix, master, size/XXL

#19111 tests: exabgp drops `-v` flag in 4.2.25, use `--version``
  tests/topotests/lib/topogen.py
Labels: tests, master, size/XS

#19063 Bmp locrib bgp open message
  bgpd/bgp_bmp.c
  bgpd/bgpd.c
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/test_bgp_bmp_3.py
  tests/topotests/lib/bmp_collector/bgp/open/__init__.py
  tests/topotests/lib/bmp_collector/bmp.py
Labels: bgp, bugfix, master, size/M

#19108 lib: Fix `no on-match goto NUM` command
  lib/routemap_cli.c
Labels: libfrr, bugfix, backport, master, size/XS

#18962 bgpd: avoid BGP port opening for VRF instances
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_listen_l3vrf/r1/frr.conf
  tests/topotests/bgp_listen_l3vrf/r3/frr.conf
  tests/topotests/bgp_listen_l3vrf/test_bgp_listen_l3vrf.py
Labels: bgp, master, size/XL, rebase

#19088 explicit SRv6 address configurable per address family
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_srv6_sid_explicit/expected_explicit_srv6_sid_disabled.json
  tests/topotests/bgp_srv6_sid_explicit/expected_explicit_srv6_sid_per_af_allocated.json
  tests/topotests/bgp_srv6_sid_explicit/expected_sent_bgp_vpn_srv6_sid.json
  tests/topotests/bgp_srv6_sid_explicit/test_bgp_srv6_sid_explicit.py
Labels: documentation, bgp, bugfix, master, size/XL

#19120 zebra: Fix coverity issues
  zebra/zebra_srv6.c
  zebra/zebra_srv6_vty.c
Labels: zebra, master, size/M

#19097 bgpd: Fix extended community check for IP non-transitive type
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
Labels: bgp, bugfix, backport, master, size/XS, rebase

#18955 pimd, pim6d: route-map filtering for source/group
  doc/user/pim.rst
  doc/user/pimv6.rst
  lib/prefix.c
  lib/prefix.h
  lib/routemap.h
  lib/routemap_cli.c
  pimd/pim6_cmd.c
  pimd/pim6_main.c
  pimd/pim6_mld.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmpv3.c
  pimd/pim_main.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_routemap.c
  pimd/pim_routemap.h
  pimd/pim_vty.c
  pimd/subdir.am
  tests/lib/test_printfrr.c
  tests/topotests/lib/mcast-tester.py
  tests/topotests/multicast_gmp_route_map_topo1/__init__.py
  tests/topotests/multicast_gmp_route_map_topo1/r1/frr.conf
  tests/topotests/multicast_gmp_route_map_topo1/test_multicast_gmp_route_map_topo1.py
  vtysh/vtysh.h
  yang/frr-gmp.yang
  yang/frr-pim-route-map.yang
  yang/subdir.am
  zebra/zebra_vxlan.c
Labels: documentation, tests, pim, zebra, vtysh, libfrr, bugfix, yang, master, size/XXL

#19123 lib: cleanup one duplicated code
  lib/routemap.h
  lib/routemap_cli.c
Labels: libfrr, master, size/XS

#19138 tests: Allow time for change of state to propagate
  tests/topotests/zebra_operational_data/test_zebra_operational.py
Labels: tests, master, size/M

#19141 bgpd: adjust display format
  bgpd/bgp_route.c
Labels: bgp, master, size/S

#19149 bgpd: Allow setting extcommunity link bandwidth value to zero
  bgpd/bgp_routemap.c
Labels: bgp, master, size/XS

#19109 lib: revert addition of vtysh_flush() call in vty_out()
  lib/vty.c
  lib/vty.h
Labels: vtysh, backport, master, size/S

#19089 L3VNI should not be attached to Mac only type-2 routes
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_evpn_mh.h
Labels: bgp, master, size/L, rebase

#19155 tests: Fix bgp_bmp tests
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/test_bgp_bmp_1.py
  tests/topotests/bgp_bmp/test_bgp_bmp_2.py
  tests/topotests/bgp_bmp/test_bgp_bmp_3.py
Labels: tests, master, size/L

#19159 tests: Increase timeout for any test that uses the @retry mechanism
  tests/topotests/bgp_tcp_ip_transparent/test_bgp_tcp_ip_transparent.py
  tests/topotests/example_munet/test_munet.py
  tests/topotests/isis_topo1/test_isis_topo1.py
  tests/topotests/lib/bgp.py
  tests/topotests/lib/ospf.py
  tests/topotests/log_config/basic.py
  tests/topotests/mgmt_debug_flags/test_debug.py
  tests/topotests/mgmt_rpc/test_rpc.py
  tests/topotests/mgmt_startup/util.py
  tests/topotests/nhrp_topo/test_nhrp_topo.py
  tests/topotests/send_log/test_send_log.py
  tests/topotests/static_vrf/test_static_vrf.py
  tests/topotests/zebra_received_nhe_kept/test_zebra_received_nhe_kept.py
Labels: tests, master, size/M

#19160 bgpd: remove duplicated gr timer value
  bgpd/bgp_vty.c
Labels: bgp, master, size/XS

#19165 bgpd: Extract link bandwidth value from extcommunity before using for WCMP
  bgpd/bgp_zebra.c
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/__init__.py
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/r1/frr.conf
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/r2/frr.conf
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/r3/frr.conf
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/test_bgp_wcmp_zebra_link_bandwidth.py
Labels: tests, bgp, backport, master, size/L

#19148 bgpd: fix "neighbor <n> local-as (null)" in running-config
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/S

#19139 zebra: Ensure on exit that log buffers are flushed
  lib/libfrr.c
  lib/libfrr.h
  zebra/interface.c
  zebra/ioctl.c
  zebra/kernel_netlink.c
  zebra/kernel_socket.c
  zebra/rtadv.c
  zebra/zebra_nhg.c
  zebra/zebra_ns.c
  zebra/zebra_srte.c
Labels: zebra, master, size/M

#19168 Ospf6 json output fix
  ospf6d/ospf6_route.c
  tests/topotests/lib/ospf.py
  tests/topotests/ospf6_gr_topo1/rt1/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt2/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt3/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt4/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt5/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt6/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/rt7/show_ipv6_ospf_route.json
  tests/topotests/ospf6_gr_topo1/test_ospf6_gr_topo1.py
  tests/topotests/ospf6_point_to_multipoint/test_ospf6_point_to_multipoint.py
  tests/topotests/ospf6_topo1/test_ospf6_topo1.py
  tests/topotests/ospf6_topo1_vrf/test_ospf6_topo1_vrf.py
  tests/topotests/ospf6_topo2/test_ospf6_topo2.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_asbr_summary_topo1.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_ecmp.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_ecmp_lan.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_nssa.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_nssa2.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_routemaps.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_rte_calc.py
  tests/topotests/ospfv3_basic_functionality/test_ospfv3_single_area.py
Labels: tests, ospfv3, master, size/L

#19182 lib,bgpd,ospf6d,zebra: Free json objects in error paths
  bgpd/bgp_open.c
  lib/plist.c
  ospf6d/ospf6_neighbor.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_spf.c
  zebra/zebra_evpn_mac.c
  zebra/zebra_evpn_neigh.c
  zebra/zebra_routemap.c
  zebra/zebra_vxlan.c
Labels: bgp, ospfv3, zebra, libfrr, backport, master, size/M

#19191 bgpd: Do not try to reuse freed route-maps
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/S

#19206 tests: Modify isis_srv6_topo1 to allow some ping failures
  tests/topotests/isis_srv6_topo1/test_isis_srv6_topo1.py
Labels: tests, master, size/M

#19207 bgpd: fix filtered_routes_count
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/XS

#19181 lib: incremental vty output, restored
  lib/vty.c
  lib/vty.h
Labels: libfrr, master, size/M

#19221 zebra: Make coverity happy with prefix_sg declaration
  zebra/zebra_vxlan.c
Labels: zebra, master, size/XS

#19212 bgpd: fix DEREF_AFTER_FREE in bgp_route
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/XS, rebase

#19227 doc: Define release tags strictly to be X.Y.Z
  doc/developer/workflow.rst
Labels: documentation, master, size/S

#19224 ospfd: Use after free cleanup of lsa
  ospfd/ospf_flood.c
Labels: ospf, master, size/XS

#19240 topotests: improve embedded RP test reliability
  tests/topotests/pim_embedded_rp/test_pim_embedded_rp.py
Labels: backport, master, size/S

#19242 vtysh: copy config from file should actually apply
  vtysh/vtysh.c
Labels: vtysh, bugfix, backport, master, size/XS

#18947 lib, zebra: mark singleton nexthops inactive/active on link state changes for wecmp
  lib/nexthop.c
  lib/nexthop.h
  tests/topotests/two_layer_wucmp/README.md
  tests/topotests/two_layer_wucmp/leaf1/frr.conf
  tests/topotests/two_layer_wucmp/leaf2/frr.conf
  tests/topotests/two_layer_wucmp/spine1/frr.conf
  tests/topotests/two_layer_wucmp/spine2/frr.conf
  tests/topotests/two_layer_wucmp/test_two_layer_wuecmp.py
  zebra/zebra_nhg.c
Labels: tests, zebra, libfrr, backport, master, size/XXL, rebase

#19261 bgpd: LL next-hop capabilty fixes
  bgpd/bgp_route.c
  bgpd/bgp_updgrp_packet.c
  tests/topotests/bgp_ipv6_next_hop_self/__init__.py
  tests/topotests/bgp_ipv6_next_hop_self/r1/frr.conf
  tests/topotests/bgp_ipv6_next_hop_self/r2/frr.conf
  tests/topotests/bgp_ipv6_next_hop_self/r3/frr.conf
  tests/topotests/bgp_ipv6_next_hop_self/test_bgp_ipv6_next_hop_self.py
Labels: tests, bgp, bugfix, backport, master, size/L

#19269 Doc some missing commands
  doc/user/ospf6d.rst
  doc/user/ripd.rst
  doc/user/ripngd.rst
Labels: documentation, master, size/L

#19268 Support bundle more commands
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, master, size/S

#19273 tests: Modify ospf_topo1 to use run and expect for kernel routes
  tests/topotests/ospf_topo1/test_ospf_topo1.py
Labels: tests, master, size/S

#19251 eigrp: validate hello packets and tlvs better
  eigrpd/eigrp_hello.c
Labels: eigrp, bugfix, backport, master, size/S

#19266 bgpd : Fix compilation error in bgpd module: Update TP_ARGS for bgp
  bgpd/bgp_trace.h
Labels: bgp, master, size/XS

#17553 bgpd: CLI Changes
  bgpd/bgp_vty.c
  doc/user/bgp.rst
Labels: documentation, bgp, bugfix, master, size/M, rebase

#19284 bgpd: [GR] fixed selectionDeferralTimer to display select_defer_time val
  bgpd/bgp_vty.c
Labels: bgp, size/XS, stable/10.2

#19288 tests: Allow for longer period of sysfs retry
  tests/topotests/munet/base.py
Labels: tests, master, size/XS

#19291 tests: Fix bgp_rr_ibgp tests
  tests/topotests/bgp_rr_ibgp/test_bgp_rr_ibgp_topo1.py
Labels: tests, master, size/M

#19283 bgpd: [GR] fixed selectionDeferralTimer to display select_defer_time val
  bgpd/bgp_vty.c
Labels: bgp, size/XS, stable/10.3

#19298 Bgp dual as fixes
  bgpd/bgp_packet.c
  doc/user/bgp.rst
  tests/topotests/bgp_dual_as/r1/frr.conf
  tests/topotests/bgp_dual_as/r2/frr.conf
Labels: documentation, tests, bgp, master, size/S

#19302 tests: Fix bgp_evpn_vxlan_topo1 in one case
  tests/topotests/bgp_evpn_vxlan_topo1/test_bgp_evpn_vxlan.py
Labels: tests, master, size/M

#19034 bgpd: fix do not use import|export vpn when import vrf command used
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/XS, rebase, Need TopoTest
