Repository FRRouting/frr, pull requests merged in 2025-09, with the labels that each got.

#19487 bgpd: Fix RA not re-initiated when remote-as is re-added to peer group
  bgpd/bgpd.c
  tests/topotests/bgp_remote_as_ra_validation/r1/frr.conf
  tests/topotests/bgp_remote_as_ra_validation/test_bgp_remote_as_ra_validation.py
Labels: bgp, master, size/L

#19491 docs: add build instructions for debian 13
  doc/developer/building-frr-for-debian13.rst
  doc/developer/building.rst
  doc/developer/subdir.am
Labels: master, size/L

#19497 ospf6d: protect LSA in vertex
  ospf6d/ospf6_spf.c
Labels: ospfv3, master, size/XS

#19344 Revert l3vni optimization
  bgpd/bgp_evpn.c
  bgpd/bgp_evpn.h
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgp_zebra.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_chaos_topo1.py
  tests/topotests/evpn_type5_test_topo1/test_evpn_type5_topo1.py
Labels: backport, master, size/L

#19526 bgpd: remove the implicit EOR (keepalive message) for GR
  bgpd/bgp_fsm.c
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgpd.h
Labels: bgp, master, size/M

#19528 doc: Add example for "Ran out of docstring"
  doc/developer/cli.rst
Labels: documentation, master, size/S

#19525 *: add a more efficient zapi_route_init api
  babeld/kernel.c
  bgpd/bgp_zebra.c
  bgpd/rfapi/vnc_zebra.c
  eigrpd/eigrp_zebra.c
  isisd/isis_zebra.c
  lib/zclient.c
  lib/zclient.h
  nhrpd/nhrp_route.c
  ospf6d/ospf6_route.c
  ospf6d/ospf6_zebra.c
  ospfd/ospf_zebra.c
  pbrd/pbr_zebra.c
  ripd/rip_zebra.c
  ripngd/ripng_zebra.c
  sharpd/sharp_zebra.c
  staticd/static_zebra.c
  zebra/zapi_msg.c
Labels: bgp, isis, staticd, pbr, ospf, zebra, nhrp, babel, rip, libfrr, sharp, master, size/L

#19519 Debian build: introduce profile "pkg.frr.asan"
  debian/rules
  doc/developer/packaging-debian.rst
Labels: master, size/S

#19516 zebra: Allow assigning any IPv4 addresses on interfaces
  lib/prefix.c
  lib/prefix.h
  tests/topotests/zebra_reserved_ranges/__init__.py
  tests/topotests/zebra_reserved_ranges/r1/frr.conf
  tests/topotests/zebra_reserved_ranges/test_zebra_reserved_ranges.py
  zebra/connected.c
Labels: tests, zebra, master, size/L

#18305 Further enhancements for GR
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_open.c
  bgpd/bgp_packet.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/lib/bgp.py
  tests/topotests/lib/common_config.py
Labels: bgp, bugfix, master, size/XXL, rebase

#19523 Nexthop weights
  doc/user/about.rst
  doc/user/nexthop_groups.rst
  doc/user/zebra.rst
  include/linux/nexthop.h
  lib/nexthop.h
  lib/nexthop_group.c
  tests/topotests/weighted_ecmp/r1/frr.conf
  tests/topotests/weighted_ecmp/test_weighted_ecmp.py
  zebra/debug_nl.c
  zebra/fpm_listener.c
  zebra/main.c
  zebra/rt_netlink.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: documentation, tests, zebra, libfrr, master, size/L

#19493 zebra: Allow for NOS to initialize some zrouter values
  zebra/connected.c
  zebra/debug_nl.c
  zebra/dplane_fpm_nl.c
  zebra/main.c
  zebra/rt_netlink.c
  zebra/zapi_msg.c
  zebra/zebra_fpm_netlink.c
  zebra/zebra_fpm_protobuf.c
  zebra/zebra_mpls_openbsd.c
  zebra/zebra_nb_state.c
  zebra/zebra_nhg.c
  zebra/zebra_rib.c
  zebra/zebra_router.c
  zebra/zebra_router.h
  zebra/zebra_vty.c
Labels: zebra, master, size/L

#19561 bgpd: don't use stale 'evpn' pointer in bgp_update()
  bgpd/bgp_route.c
Labels: bgp, bugfix, backport, master, size/XS

#19555 bgpd: fix last-reset-reason in bgp_show_failed_summary()
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/XS

#19556 bgpd: remove the last_reset copying in peer_xfer_conn()
  bgpd/bgp_fsm.c
Labels: bgp, master, size/XS

#19562 Allow notify callback on non-presence container
  lib/mgmt_be_client.c
  mgmtd/mgmt_testc.c
  tests/topotests/mgmt_notif/test_ds_notify.py
Labels: tests, libfrr, backport, master, size/S

#19548 bgpd: Convert bmp path_info tracking from hash to rbtree
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
Labels: bgp, master, size/M

#19589 bgpd: Remove unnecessary code in bgp_bmp.c
  bgpd/bgp_bmp.c
Labels: bgp, master, size/XS

#19164 SRv6/MPLS L3 Services Co-existence
  bgpd/bgp_label.c
  bgpd/bgp_label.h
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_updgrp.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/bgpd/test_peer_attr.c
  tests/bgpd/test_peer_attr.py
  tests/topotests/bgp_srv6l3vpn_sid/r1/vpnv6_rib_2001_8_mpls.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vpnv6_rib_2001_8_srv6.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vpnv6_rib_2001_8_srv6_and_mpls.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/vpnv6_rib_2001_8_valid_with_label_3.json
  tests/topotests/bgp_srv6l3vpn_sid/r1/zebra.conf
  tests/topotests/bgp_srv6l3vpn_sid/r2/vpnv6_rib_2001_8_mpls.json
  tests/topotests/bgp_srv6l3vpn_sid/r2/vpnv6_rib_2001_8_mpls_srv6.json
  tests/topotests/bgp_srv6l3vpn_sid/r2/vpnv6_rib_2001_8_srv6.json
  tests/topotests/bgp_srv6l3vpn_sid/test_bgp_srv6l3vpn_sid.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv4_rib_locator_zebra_deleted.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv4_rib_sid_vpn_export_disabled.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv6_rib_locator_zebra_deleted.json
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/r1/vpnv6_rib_sid_vpn_export_disabled.json
Labels: documentation, bgp, bugfix, master, size/XXL

#19592 bgpd: fix the description for PEER_DOWN_NBR_ADDR
  bgpd/bgp_fsm.c
  bgpd/bgpd.h
Labels: bgp, bugfix, master, size/XS

#19617 bgpd: use a function to set the peer reset cause
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/L

#19619 bgpd: Do not crash with only vni configed.
  bgpd/bgp_evpn_vty.c
Labels: bgp, master, size/XS

#19623 bgpd: Fix incorrect flag checks for SRv6 SID allocation
  bgpd/bgp_vty.c
Labels: bgp, bugfix, master, size/XS, rebase

#19587 Handle backend daemon config validation failure
  lib/mgmt_be_client.c
  lib/mgmt_defines.h
  lib/mgmt_fe_client.c
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_txn.c
  tests/topotests/mgmt_regress/lib
  tests/topotests/mgmt_regress/r1/frr.conf
  tests/topotests/mgmt_regress/test_validate_fail.py
Labels: tests, bugfix, mgmt, master, size/L

#19613 bgpd: Do not override a specified rd
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
Labels: bgp, master, size/S

#19522 bgpd:send EOR during GR only when fib install comeplete for wfi enabled
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_zebra.c
  bgpd/bgpd.h
  tests/topotests/bgp_gr_fib_suppress/__init__.py
  tests/topotests/bgp_gr_fib_suppress/r1/frr.conf
  tests/topotests/bgp_gr_fib_suppress/r2/frr.conf
  tests/topotests/bgp_gr_fib_suppress/r3/frr.conf
  tests/topotests/bgp_gr_fib_suppress/test_bgp_gr_fib_suppress.py
Labels: bgp, master, size/XXL, rebase

#19599 bgpd: Convert the bgp->peerhash to a connectionhash
  bgpd/bgp_fsm.c
  bgpd/bgp_route.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, master, size/M

#19630 zebra: Allow usage of full range of weights
  tests/topotests/bgp_link_bw_ip/r1/ip-route-1.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-2.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-3.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-6.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-7.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-8.json
  tests/topotests/bgp_link_bw_ip/r1/ip-route-9.json
  tests/topotests/bgp_link_bw_ip/r2/ip-route-2.json
  tests/topotests/bgp_wcmp_zebra_link_bandwidth/test_bgp_wcmp_zebra_link_bandwidth.py
  tests/topotests/bgp_weighted_ecmp_recursive/test_bgp_weighted_ecmp_recursive.py
  tests/topotests/two_layer_wucmp/test_two_layer_wuecmp.py
  tests/topotests/weighted_ecmp/test_weighted_ecmp.py
  zebra/zebra_router.c
Labels: zebra, master, size/M

#19643 Revert "bgpd: Free up leaked bpme on release"
  bgpd/bgp_pbr.c
Labels: bgp, master, size/XS
