Repository FRRouting/frr, pull requests merged in 2025-06, with the labels that each got.

#18913 build: `autoconf` cleanup pass
  buildtest.sh
  configure.ac
  doc/developer/building-frr-for-centos6.rst
  doc/developer/building-frr-for-centos7.rst
  doc/developer/building-frr-for-centos8.rst
  doc/developer/include-compile.rst
  doc/developer/topotests.rst
  doc/user/installation.rst
  doc/user/snmp.rst
  docker/ubi8-minimal/Dockerfile
  docker/ubuntu-ci/Dockerfile
  redhat/frr.spec.in
  snapcraft/snapcraft.yaml.in
  zebra/rtadv.c
  zebra/rtadv.h
  zebra/zebra_cli.c
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_config.c
Labels: build, master, size/L

#18934 Revert "tools: ignore spaces only in macro empty line."
  tools/checkpatch.pl
Labels: master, size/XS

#17976 bgpd: do not accept a host route that matches a local address
  bgpd/bgp_nexthop.c
  bgpd/bgp_nexthop.h
  bgpd/bgp_route.c
  tests/topotests/bgp_l3vpn_to_bgp_direct/scripts/check_routes.py
Labels: tests, bgp, master, size/S

#18853 bgpd: fix to show exist/non-exist-map in 'show run' properly
  bgpd/bgp_vty.c
Labels: bgp, bugfix, size/S, stable/10.3

#18901 bgpd: Add Hold Time(r) for BFD strict mode
  bgpd/bgp_bfd.c
  bgpd/bgp_fsm.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bfd.rst
  lib/bfd.h
  tests/topotests/bgp_bfd_down_cease_notification/test_bgp_strict_bfd_down_cease_notification_shutdown.py
Labels: documentation, tests, bgp, master, size/L, rebase

#18937 tools: ignore spaces only in macro empty line.
  tools/checkpatch.pl
Labels: tools, master, size/XS

#18920 redhat: make FRR RPM build to work on RedHat 10
  redhat/frr.spec.in
Labels: packaging, bugfix, backport, master, size/XS

#18936 bgpd: use AS4B format for BGP loc-rib messages.
  bgpd/bgpd.c
Labels: bgp, master, size/XS

#18919 Fix up dplane handling of some edge cases
  zebra/dplane_fpm_nl.c
  zebra/zebra_rib.c
Labels: zebra, master, size/S

#18961 zebra: Do not show SRv6 locator params when they are set to default
  zebra/zebra_srv6_vty.c
Labels: zebra, master, size/XS

#18959 bgpd: Force adj-rib-out updates if MRAI is kicked in
  bgpd/bgp_packet.c
  tests/topotests/bgp_mrai_suppress_duplicate/__init__.py
  tests/topotests/bgp_mrai_suppress_duplicate/r1/frr.conf
  tests/topotests/bgp_mrai_suppress_duplicate/r2/frr.conf
  tests/topotests/bgp_mrai_suppress_duplicate/test_bgp_mrai_suppress_duplicate.py
Labels: tests, bgp, backport, master, size/L

#18676 zebra: add ability to dump fpm listener nhg
  tests/topotests/fpm_testing_topo1/test_fpm_topo1.py
  zebra/fpm_listener.c
Labels: tests, zebra, master, size/L

#18928 Replace lock and commit protobuf messages with native variants
  .clang-format
  lib/mgmt.proto
  lib/mgmt_defines.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/mgmt_msg_native.c
  lib/mgmt_msg_native.h
  lib/northbound.c
  lib/vty.c
  lib/vty.h
  mgmtd/mgmt_ds.c
  mgmtd/mgmt_ds.h
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  mgmtd/mgmt_vty.c
  tests/topotests/mgmt_debug_flags/test_debug.py
  tools/checkpatch.pl
Labels: tests, zebra, libfrr, tools, bugfix, mgmt, master, size/XXL

#18969 bgpd: Unset TOVPN_SID_EXPLICIT flag to ensure BGP can release SRv6 SIDs
  bgpd/bgpd.c
Labels: bgp, backport, master, size/XS

#18948 Remove last bits of protobuf from MGMTD
  configure.ac
  docker/ubuntu-ci/Dockerfile
  lib/mgmt.proto
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_fe_client.c
  lib/mgmt_fe_client.h
  lib/subdir.am
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  redhat/frr.spec.in
  tests/topotests/lib/fe_client.py
  tests/topotests/mgmt_fe_client/mgmt_pb2.py
  tests/topotests/mgmt_notif/test_notif.py
Labels: tests, zebra, libfrr, tools, bugfix, mgmt, master, size/XXL

#18968 lib: fix coverity "free address-of" issues
  lib/mgmt_msg_native.h
  lib/northbound_oper.c
Labels: libfrr, bugfix, master, size/S

#18967 zebra: Allow routes that could be considered connected to exist
  zebra/zebra_rib.c
Labels: zebra, bugfix, master, size/M

#18985 pimd: fix coverity issues
  pimd/pim6_cmd.c
  pimd/pim_cmd_common.c
  pimd/pim_cmd_common.h
  pimd/pim_mroute.c
Labels: pim, bugfix, master, size/M

#18930 bgpd: Don't send notification if IPv6 Link-Local is not assigned on the interface
  bgpd/bgp_attr.c
Labels: bgp, master, size/XS

#18970 zebra: Cleanup SRv6 output of `show running-config`
  zebra/zebra_srv6_vty.c
Labels: zebra, master, size/L

#18983 bgpd: Set atomic aggregate attribute if we drop AS_SETs
  bgpd/bgp_route.c
  doc/user/about.rst
  tests/topotests/bgp_reject_as_sets/test_bgp_reject_as_sets.py
Labels: documentation, tests, bgp, bugfix, master, size/S

#18986 pimd: use the correct vrf with recv prune and state refresh
  pimd/pim_dm.c
  pimd/pim_state_refresh.c
Labels: pim, bugfix, master, size/XS

#18993 bgpd: Do not reuse the same adj->adv when flushing fifo (attributes too long)
  bgpd/bgp_updgrp_packet.c
Labels: bgp, master, size/XS

#18630 babeld: Convert all code to use our code formatting rules
  babeld/babel_filter.c
  babeld/babel_filter.h
  babeld/babel_interface.c
  babeld/babel_interface.h
  babeld/babel_main.c
  babeld/babel_main.h
  babeld/babel_zebra.c
  babeld/babel_zebra.h
  babeld/babeld.c
  babeld/babeld.h
  babeld/kernel.c
  babeld/kernel.h
  babeld/message.c
  babeld/message.h
  babeld/neighbour.c
  babeld/neighbour.h
  babeld/net.c
  babeld/net.h
  babeld/resend.c
  babeld/resend.h
  babeld/route.c
  babeld/route.h
  babeld/source.c
  babeld/source.h
  babeld/util.c
  babeld/util.h
  babeld/xroute.c
  babeld/xroute.h
  tools/checkpatch.sh
Labels: babel, tools, master, size/XXL

#18897 Fix some coverity issues
  lib/northbound.c
  zebra/zebra_srv6_vty.c
Labels: pim, zebra, libfrr, backport, master, size/S

#19029 mgmtd: remove unfinished and unneeded yang-validate code
  configure.ac
  lib/mgmt_be_client.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
Labels: mgmt, master, size/M

#19027 static: [SRv6] Fixing uninstall and reinstall uA Sids upon Intf flaps
  staticd/static_srv6.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_interface_down.json
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: master, size/L

#19017 bgpd:fix as-path replace issue with bgp as-path access-list
  bgpd/bgp_aspath.c
  tests/topotests/bgp_set_aspath_replace/test_bgp_set_aspath_replace.py
Labels: bgp, master, size/XS

#18345 ospf6d: Fix summary LSA removal
  ospf6d/ospf6_abr.c
  ospf6d/ospf6_abr.h
  ospf6d/ospf6_area.c
  ospf6d/ospf6_flood.c
  ospf6d/ospf6_interface.c
  ospf6d/ospf6_intra.c
  ospf6d/ospf6_lsa.h
  ospf6d/ospf6_nssa.c
  ospf6d/ospf6_nssa.h
  ospf6d/ospf6_spf.c
  ospf6d/ospf6_top.c
  ospf6d/ospf6_zebra.c
Labels: documentation, tests, eigrp, bgp, pim, packaging, isis, staticd, pbr, ospf, ospfv3, zebra, nhrp, vtysh, babel, rip, bfd, libfrr, tools, bugfix, vrrp, ldp, yang, sharp, mgmt, size/XL, rebase, stable/10.2

#19024 bgpd: Reject AS_SET by default
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  doc/user/bgp.rst
  tests/topotests/bgp_local_asn/test_bgp_local_asn_agg.py
  tests/topotests/bgp_local_asn_dot/test_bgp_local_asn_dot_agg.py
  tests/topotests/bgp_reject_as_sets/r2/bgpd.conf
  tests/topotests/lib/bgp.py
Labels: tests, bgp, master, size/S

#18991 bgpd: [TOPOTEST] stabilize bgp_peergroup_gshut test case
  tests/topotests/bgp_peergroup_gshut/test_bgp_peergroup_gshut.py
Labels: tests, bgp, master, size/M, rebase

#19015 zebra: fix nexthop rib out for duplicate nhg
  zebra/zebra_vty.c
Labels: zebra, bugfix, master, size/S

#18905 zebra: Start EVPN neighbor hold timer only when interface is operative
  zebra/zebra_evpn_neigh.c
Labels: zebra, master, size/M, rebase

#19048 Nhrp redundancy ping
  tests/topotests/nhrp_redundancy/test_nhrp_redundancy.py
Labels: tests, master, size/L

#19050 pathd: fix compare function overflow
  lib/srte.h
  pathd/path_pcep_pcc.c
  pathd/pathd.c
Labels: bugfix, backport, master, size/S

#19049 zebra: Initialize RB tree for router tables
  zebra/zebra_router.c
Labels: zebra, backport, master, size/XS

#19067 bgpd: Soft-reconfig should not completely stall bestpath processing
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#19054 zebra: fix null pointer dereference in zebra_evpn_sync_neigh_del
  zebra/zebra_evpn_neigh.c
Labels: zebra, bugfix, backport, master, size/XS

#19072 debian, redhat: add missing info to changelog
  debian/changelog
  redhat/frr.spec.in
Labels: packaging, size/M, dev/10.4

#18899 zebra: fix stale NHG in kernel
  zebra/main.c
  zebra/zebra_nhg.c
  zebra/zebra_nhg.h
  zebra/zebra_router.c
Labels: zebra, bugfix, backport, master, size/M, rebase

#19060 Convert logging config to YANG/mgmtd, and add missing mgmtd functionality
  lib/command.c
  lib/command.h
  lib/libfrr.c
  lib/log.h
  lib/log_cli.c
  lib/log_nb.c
  lib/log_vty.c
  lib/log_vty.h
  lib/northbound.c
  lib/northbound.h
  lib/subdir.am
  lib/yang.c
  lib/zlog_targets.c
  lib/zlog_targets.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_be_adapter.h
  mgmtd/mgmt_main.c
  mgmtd/mgmt_txn.c
  python/xref2vtysh.py
  tests/topotests/log_config/basic.py
  tests/topotests/log_config/munet.yaml
  tests/topotests/log_config/r1/daemons
  tests/topotests/log_config/r1/frr.conf
  tests/topotests/log_config/r1/vtysh.conf
  tests/topotests/log_config/test_log_config.py
  tests/topotests/log_config/test_munet.py
  tests/topotests/mgmt_oper/root-results/result-candidate-only-config.json
  tests/topotests/mgmt_oper/root-results/result-candidate-with-config.json
  tests/topotests/mgmt_oper/root-results/result-only-config.json
  tests/topotests/mgmt_oper/root-results/result-operational-only-config.json
  tests/topotests/mgmt_oper/root-results/result-operational-with-config.json
  tests/topotests/mgmt_oper/root-results/result-operational.json
  tests/topotests/mgmt_oper/root-results/result-running-only-config.json
  tests/topotests/mgmt_oper/root-results/result-running-with-config.json
  tests/topotests/mgmt_oper/root-results/result-with-config.json
  tests/topotests/mgmt_oper/root-results/result.json
  tests/topotests/send_log/test_send_log.py
  yang/frr-logging.yang
  yang/ietf/ietf-syslog-types.yang
  yang/subdir.am
Labels: documentation, tests, docker, libfrr, tools, yang, mgmt, master, size/XXL

#19098 doc: remove dead link to quagga website
  doc/user/index.rst
Labels: documentation, master, size/XS
