Repository FRRouting/frr, pull requests merged in 2025-02, with the labels that each got.

#17971 bgpd: With suppress-fib-pending ensure withdrawal is sent
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/XS

#17972 bgpd: add config default for "route-reflector allow-outbound-policy"
  bgpd/bgp_vty.c
Labels: bgp, master, size/S

#17964 Fix SRv6 SID Manager
  tests/topotests/static_srv6_sids/expected_srv6_sids.json
  tests/topotests/static_srv6_sids/r1/frr.conf
  zebra/zebra_srv6.c
Labels: tests, zebra, master, size/M

#17947 bgpd: Do not ignore auto generated VRF instances when deleting
  bgpd/bgp_main.c
Labels: bgp, backport, master, size/XS

#17979 staticd: Fix NULL pointer dereference when receiving `ZAPI_SRV6_SID_RELEASED` notification
  staticd/static_zebra.c
Labels: staticd, master, size/S

#17968 pimd: Close AutoRP socket when not needed (backport #17934)
  pimd/pim_autorp.c
  pimd/pim_cmd_common.c
Labels: pim, size/M, stable/10.2

#17970 libs: return from change_caps if no caps
  lib/privs.c
Labels: master, size/XS

#17989 staticd: Fix wrong xpath in `no sid X:X::X:X/M`
  staticd/static_vty.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_1.json
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_2.json
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
Labels: tests, staticd, bugfix, master, size/L

#17990 bgpd: add config default for "bgp bestpath aigp"
  bgpd/bgp_vty.c
Labels: bgp, master, size/S

#17336 implement SBFD
  bfdd/bfd.c
  bfdd/bfd.h
  bfdd/bfd_packet.c
  bfdd/bfdd_cli.c
  bfdd/bfdd_nb.c
  bfdd/bfdd_nb.h
  bfdd/bfdd_nb_config.c
  bfdd/bfdd_nb_state.c
  bfdd/bfdd_vty.c
  bfdd/event.c
  bfdd/ptm_adapter.c
  doc/developer/sbfd.rst
  doc/developer/subdir.am
  doc/user/sbfd.rst
  doc/user/subdir.am
  lib/bfd.c
  lib/bfd.h
  tests/topotests/sbfd_topo1/__init__.py
  tests/topotests/sbfd_topo1/r1/frr.conf
  tests/topotests/sbfd_topo1/r2/frr.conf
  tests/topotests/sbfd_topo1/sbfd_topo1.dot
  tests/topotests/sbfd_topo1/test_sbfd_topo1.py
  vtysh/vtysh.c
  yang/frr-bfdd.yang
Labels: documentation, tests, bfd, master, size/XXL, rebase

#17943 lib: fix use after free in `clear event cpu`
  lib/event.c
  lib/frrevent.h
Labels: libfrr, bugfix, master, size/M

#17983 bgpd: Auto vrf instance (backports)
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, bugfix, size/M, stable/10.2

#17991 zebra: fix evpn svd hash avoid double free
  zebra/zebra_vxlan.c
Labels: zebra, backport, master, size/XS

#17992 bgpd: fix route-distinguisher in vrf leak json cmd
  bgpd/bgp_vty.c
Labels: bgp, bugfix, backport, master, size/XS

#17984 bgpd: Auto vrf instance (backports)
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, tools, bugfix, size/S, stable/10.1

#17959 bgpd: Do not start BGP session if BGP identifier is not set
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_ipv6_ll_peering/r1/bgpd.conf
  tests/topotests/bgp_ipv6_ll_peering/r1/zebra.conf
  tests/topotests/bgp_ipv6_ll_peering/r3/bgpd.conf
  tests/topotests/bgp_ipv6_ll_peering/r3/zebra.conf
  tests/topotests/bgp_ipv6_ll_peering/test_bgp_ipv6_ll_peering.py
Labels: documentation, tests, bgp, bugfix, backport, master, size/M

#17985 bgpd: fix add label support to EVPN AD routes
  bgpd/bgp_evpn_mh.c
Labels: bgp, bugfix, backport, master, size/S

#16593 isisd: 'tiebreaker' command line funtionality is inconsistent with its implementation
  isisd/isis_cli.c
  yang/frr-isisd.yang
Labels: isis, master, size/M, rebase

#17896 bgpd: Send non-transitive extended communities from/to OAD peers
  bgpd/bgp_route.c
  tests/topotests/bgp_oad/r3/frr.conf
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: tests, bgp, backport, master, size/M

#17953 lib: Remove System routes from ip protocol route map choices
  doc/user/zebra.rst
  lib/route_types.pl
  zebra/zebra_cli.c
Labels: libfrr, master, size/S

#18015 bgpd: Do not start BGP session if BGP identifier is not set (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgpd.h
Labels: bgp, size/S, stable/10.2

#18000 bgpd: Fix up memory leak in processing eoiu marker
  bgpd/bgp_route.c
Labels: bgp, master, size/XS

#18024 Fix 10.0 branch
  bgpd/bgp_route.c
  tests/topotests/bgp_oad/r3/frr.conf
  tests/topotests/bgp_oad/test_bgp_oad.py
Labels: size/L, stable/10.0

#18018 doc: fix sbfd.rst doc warnings
  doc/developer/sbfd.rst
  doc/user/sbfd.rst
Labels: documentation, bugfix, master, size/S

#18014 Nexthop leak
  zebra/rt_netlink.c
Labels: zebra, master, size/XS

#18016 bgpd: Recent failed backports for 10.1
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: bgp, bugfix, size/M, stable/10.1

#18017 bgpd: Do not start BGP session if BGP identifier is not set (backport)
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgpd.h
Labels: bgp, size/S, stable/10.0

#17901 lib: actually hash all 16 bytes of IPv6 addresses, not just 4
  bgpd/bgp_pbr.c
  fpm/fpm_pb.h
  lib/nexthop.c
  lib/nexthop.h
  lib/zclient.c
  pbrd/pbr_nht.c
  pbrd/pbr_vty.c
  zebra/zebra_routemap.c
Labels: bgp, pbr, zebra, fpm, libfrr, bugfix, master, size/L, rebase

#18029 tools: Add some more support bundle commands
  tools/etc/frr/support_bundle_commands.conf
Labels: tools, master, size/XS

#17865 Coverity 2024 new hotness
  bgpd/bgp_fsm.c
  ospfd/ospf_api.c
  zebra/zebra_dplane.c
  zebra/zserv.c
  zebra/zserv.h
Labels: bgp, ospf, zebra, master, size/M

#18038 pimd: fix memory leak and assign allocation type
  pimd/pim_memory.c
  pimd/pim_memory.h
  pimd/pim_msdp.c
  pimd/pim_nb_config.c
Labels: pim, bugfix, backport, master, size/S

#18033 isisd: Do not leak a linked list in the circuit
  isisd/isis_circuit.c
  isisd/isis_events.c
Labels: isis, master, size/XS

#14105 pimd: Fix for FHR mroute taking longer to age out
  pimd/pim_ifchannel.c
  pimd/pim_upstream.c
Labels: pim, backport, master, size/S

#18048 pimd: fix DR election race on startup
  pimd/pim_nb_config.c
Labels: pim, bugfix, backport, master, size/XS

#18045 bgpd: rfapi: fix mem leak when killed
  bgpd/rfapi/rfapi_import.c
Labels: bgp, master, size/S

#18036 Stabilize 10.1 branch
  bgpd/bgp_main.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
Labels: size/S, stable/10.1

#17775 Fix journald logging via "log stdout"
  lib/zlog_5424.c
Labels: libfrr, master, size/S, rebase

#18077 babeld: Improve code clarity and maintainability
  babeld/babeld.c
Labels: babel, master, size/S

#17370 bgpd: fix for the validity and the presence of prefixes in the BGP VPN table.
  bgpd/bgp_mplsvpn.c
  tests/topotests/bgp_bmp/test_bgp_bmp_1.py
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/frr.conf
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/show_bgp_ipv4_vpn_add_zita.json
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/show_bgp_ipv4_vpn_del_donna_prefix.json
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/show_bgp_ipv4_vpn_eva_down.json
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/show_bgp_ipv4_vpn_init.json
  tests/topotests/bgp_vpnv4_route_leak_basic/r1/show_bgp_ipv4_vpn_zita_up.json
  tests/topotests/bgp_vpnv4_route_leak_basic/test_bgp_vpnv4_route_leak_basic.py
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: tests, bgp, bugfix, master, size/XXL

#17870 bgpd: Show internal data for BGP routes
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  doc/user/bgp.rst
Labels: bgp, master, size/L

#18034 isisd: Remove unneeded modify functions
  isisd/isis_nb.c
  isisd/isis_nb_config.c
Labels: isis, master, size/M

#18060 lib: crash handlers must be allowed on threads
  lib/frr_pthread.c
  lib/frrcu.c
  lib/sigevent.h
Labels: libfrr, bugfix, master, size/M

#18078 nhrpd: fix dont consider incomplete L2 entry
  nhrpd/netlink_arp.c
Labels: nhrp, bugfix, backport, master, size/XS

#18049 zebra: Allow fpm_listener to continue to try to read
  zebra/fpm_listener.c
Labels: zebra, master, size/XS

#18094 lib (+bfd): improve late timer warnings
  bfdd/event.c
  lib/event.c
  lib/frrevent.h
Labels: bfd, libfrr, master, size/L

#18062 Cid 1636504
  bgpd/bgp_evpn_mh.c
Labels: bgp, bugfix, backport, master, size/S

#17649 tests: clear `-Wcalloc-transposed-args` warnings
  tests/helpers/c/prng.c
  tests/isisd/test_isis_lspdb.c
  tests/lib/test_nexthop_iter.c
Labels: tests, master, size/S

#18125 bfdd: 0 is a valid fd.
  bfdd/bfd.c
Labels: bfd, master, size/XS

#18118 yang: Reorder the revision statements
  yang/frr-pim-rp.yang
Labels: yang, master, size/S

#18120 bgpd: fix incorrect JSON in bgp_show_table_rd
  bgpd/bgp_route.c
Labels: bgp, bugfix, backport, master, size/XS

#18132 Cid 1636504 (backport)
  bgpd/bgp_evpn_mh.c
Labels: bgp, bugfix, size/S, dev/10.3

#18032 pimd,pim6d: implement GMP group / source limits
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim6_mld.c
  pimd/pim6_mld.h
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_igmp.c
  pimd/pim_igmpv3.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_vty.c
  tests/topotests/lib/mcast-tester.py
  tests/topotests/multicast_features/__init__.py
  tests/topotests/multicast_features/r1/frr.conf
  tests/topotests/multicast_features/r2/frr.conf
  tests/topotests/multicast_features/r3/frr.conf
  tests/topotests/multicast_features/test_multicast_features.py
  yang/frr-gmp.yang
Labels: documentation, pim, master, size/XL, rebase

#18046 ospfd: Replace LSDB callbacks with LSA Update/Delete hooks.
  doc/user/ospfd.rst
  ospfd/ospf_apiserver.c
  ospfd/ospf_dump.c
  ospfd/ospf_dump.h
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  ospfd/ospf_lsdb.c
  ospfd/ospf_lsdb.h
  ospfd/ospf_opaque.c
  ospfd/ospf_te.c
Labels: ospf, master, size/L, rebase

#18137 bgp/bfd backports for stable/10.1
  bgpd/bgp_bfd.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, size/M, stable/10.1

#18079 bgpd: Fix crash in bgp_labelpool
  bgpd/bgp_label.c
  bgpd/bgp_labelpool.c
  bgpd/bgp_labelpool.h
  bgpd/bgp_mplsvpn.c
Labels: bgp, backport, master, size/M

#18023 lib: fix false context information for SRv6 route
  lib/srv6.c
Labels: libfrr, bugfix, backport, master, size/XS

#18064 staticd: Fix SRv6 SID installation and deletion
  lib/nexthop.c
  lib/srv6.c
  lib/srv6.h
  staticd/static_zebra.c
  tests/topotests/static_srv6_sids/expected_srv6_sids.json
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_1.json
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_2.json
Labels: tests, staticd, libfrr, bugfix, backport, master, size/L

#18142 Vrf tableid debugs
  pbrd/pbr_zebra.c
  zebra/zapi_msg.c
Labels: zebra, master, size/M

#18080 bgpd: Some fixes/improvements for Link-Local Next Hop capability
  bgpd/bgp_attr.c
  bgpd/bgp_nht.c
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.c
  bgpd/bgp_updgrp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.h
  doc/user/bgp.rst
  tests/topotests/bgp_ipv4_over_ipv6/test_rfc5549_ebgp_unnumbered_nbr.py
  tests/topotests/bgp_ipv6_link_local_capability/r1/frr.conf
  tests/topotests/bgp_ipv6_link_local_capability/r3/frr.conf
  tests/topotests/bgp_ipv6_link_local_capability/test_bgp_ipv6_link_local_capability.py
  tests/topotests/bgp_ipv6_rtadv/r1/bgp_ipv4_routes.json
  tests/topotests/bgp_ipv6_rtadv/r1/bgp_ipv6_routes.json
  tests/topotests/bgp_vrf_leaking_5549_routes/pe1/results/vrf10_ipv4_unicast.json
  tests/topotests/bgp_vrf_leaking_5549_routes/pe1/results/vrf20_ipv4_unicast.json
Labels: documentation, tests, bgp, bugfix, master, size/L

#18121 bgpd: release manual vpn label on instance deletion
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/S

#18127 watchfrr: Allow -w option to be ignored
  tools/frrcommon.sh.in
Labels: watchfrr, tools, bugfix, master, size/XS

#18153 bgp/bfd backports for stable/10.0
  bgpd/bgp_bfd.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_zebra.c
Labels: bgp, bugfix, size/M, stable/10.0

#18122 bgpd: factorize bgp_table_cleanup()
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/M

#18160 bgpd: When removing the prefix list drop the pointer
  bgpd/bgp_packet.c
Labels: bgp, bugfix, backport, master, size/XS

#18174 lib: fix false context information for SRv6 route (backport #18023 for 10.0)
  lib/srv6.c
Labels: libfrr, bugfix, size/XS, stable/10.0

#18175 lib: fix false context information for SRv6 route (backport #18023 for 10.1)
  lib/srv6.c
Labels: libfrr, bugfix, size/XS, stable/10.1

#18163 sharpd: add `crashme` commands
  sharpd/sharp_vty.c
Labels: sharp, master, size/M

#18178 isisd: Request SRv6 locator after zebra connection
  isisd/isis_srv6.c
  isisd/isis_srv6.h
  isisd/isis_zebra.c
Labels: isis, master, size/S

#18109 bgpd: fix vty output of evpn route-target AS4
  bgpd/bgp_evpn_vty.c
Labels: bgp, bugfix, backport, master, size/XS

#18187 tests: Fix intermittent failures in `srv6_encap_src_addr` topotest
  tests/topotests/srv6_encap_src_addr/r1/ip_tunsrc_show.json
  tests/topotests/srv6_encap_src_addr/r1/ip_tunsrc_show_set.json
  tests/topotests/srv6_encap_src_addr/r1/ip_tunsrc_show_unset.json
  tests/topotests/srv6_encap_src_addr/test_srv6_encap_src_addr.py
Labels: tests, master, size/M

#18082 lib: nb: call child destroy CBs when YANG container is deleted
  lib/keychain_nb.c
  lib/northbound.c
  lib/northbound.h
Labels: staticd, libfrr, master, size/M, rebase

#17957 isisd, lib: add some codepoints usually shared with other vendors
  isisd/isis_zebra.c
  lib/srv6.h
  staticd/static_vty.c
  staticd/static_zebra.c
Labels: isis, libfrr, master, size/L

#18095 Use ipv4 class E addresses (240.0.0.0/4) as connected routes by default
  doc/user/basic.rst
  lib/prefix.c
  zebra/zebra_rib.c
Labels: documentation, zebra, libfrr, master, size/S

#18189 doc: correct `ip rip split-horizon` command in the documentation
  doc/user/ripd.rst
Labels: documentation, rip, master, size/XS

#18164 staticd: Failed to register nexthop after networking restart
  staticd/static_routes.c
Labels: staticd, master, size/XS

#18108 zebra: Do not flush an existing vni configuration trying to remove wrong vni
  zebra/zebra_cli.c
Labels: zebra, master, size/S

#18162 bgpd: fix default instance when leaving the hidden state (backport 10.3)
  bgpd/bgpd.c
  tests/topotests/bgp_l3vpn_hidden/__init__.py
  tests/topotests/bgp_l3vpn_hidden/ce1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/pe1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/rr1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/test_bgp_l3vpn_hidden.py
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: tests, bgp, bugfix, size/XL, dev/10.3

#18200 Revert "bgpd: release manual vpn label on instance deletion (backport #18121)"
  bgpd/bgpd.c
Labels: size/M, stable/10.2

#18199 Revert "bgpd: release manual vpn label on instance deletion (backport #18121)"
  bgpd/bgpd.c
Labels: size/M, stable/10.0

#17914 pimd: filter neighbors by address
  doc/user/pim.rst
  doc/user/pimv6.rst
  pimd/pim6_cmd.c
  pimd/pim_cmd.c
  pimd/pim_iface.c
  pimd/pim_iface.h
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_pim.c
  pimd/pim_vty.c
  tests/topotests/multicast_features/r1/frr.conf
  tests/topotests/multicast_features/test_multicast_features.py
  yang/frr-pim.yang
Labels: documentation, pim, master, size/L

#18197 tests: Remove warning about passive command
  tests/topotests/ospf_sr_te_topo1/rt1/ospfd.conf
  tests/topotests/ospf_sr_te_topo1/rt2/ospfd.conf
  tests/topotests/ospf_sr_te_topo1/rt4/ospfd.conf
  tests/topotests/ospf_sr_te_topo1/rt5/ospfd.conf
  tests/topotests/ospf_sr_te_topo1/rt6/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt1/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt2/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt3/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt4/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt5/ospfd.conf
  tests/topotests/ospf_sr_topo1/rt6/ospfd.conf
  tests/topotests/ospf_tilfa_topo1/rt1/ospfd.conf
  tests/topotests/ospf_tilfa_topo1/rt2/ospfd.conf
  tests/topotests/ospf_tilfa_topo1/rt3/ospfd.conf
  tests/topotests/ospf_tilfa_topo1/rt4/ospfd.conf
  tests/topotests/ospf_tilfa_topo1/rt5/ospfd.conf
  tests/topotests/pim_acl/r1/ospfd.conf
Labels: tests, master, size/M

#18194 bgpd: Fix another crash in orf
  bgpd/bgp_packet.c
Labels: bgp, master, size/XS

#14227 pimd: Fix for data packet loss when FHR is LHR and RP
  pimd/pim_register.c
Labels: pim, autoclose, backport, master, size/S

#17666 pimd: During prefix-list update, behave as PIM_UPSTREAM_NOTJOINED sta…
  pimd/pim_upstream.c
Labels: pim, backport, master, size/XS

#18213 *: Remove unneeded IPV6_JOIN|LEAVE_GROUP
  ospf6d/ospf6d.h
  ripngd/ripng_interface.c
  zebra/rtadv.c
Labels: master, size/M

#18218 yang: Corrected Pyang errors or warnings
  yang/frr-route-types.yang
Labels: yang, master, size/M

#18223 doc: update mgmtd list of converted
  doc/developer/mgmtd-dev.rst
Labels: documentation, master, size/XS

#18224 tests: add docstrings to frontend mgmtd client
  tests/topotests/lib/fe_client.py
Labels: tests, master, size/M

#18210 bgpd: remove dmed check not required in bestpath selection
  bgpd/bgp_route.c
Labels: bgp, backport, master, size/S

#18231 Fix oper-state queries that involve choice/case nodes
  lib/northbound_oper.c
  tests/lib/northbound/test_oper_data.in
  tests/lib/northbound/test_oper_data.refout
Labels: tests, libfrr, bugfix, master, size/L

#18236 zebra: Add operational retrieval of Multipath Number
  tests/topotests/zebra_operational_data/r1/frr.conf
  tests/topotests/zebra_operational_data/test_zebra_operational.py
  yang/frr-zebra.yang
  zebra/zebra_nb.c
  zebra/zebra_nb.h
  zebra/zebra_nb_state.c
Labels: zebra, master, size/L

#18226 pim: Fix vrf binding of autorp and mroute socket
  pimd/pim_autorp.c
  pimd/pim_autorp.h
  pimd/pim_instance.c
  pimd/pim_mroute.c
Labels: backport, master, size/S

#18243 Drop unused code
  ospfd/ospf_lsa.c
  ospfd/ospf_lsa.h
  zebra/zebra_dplane.c
Labels: ospf, zebra, master, size/S

#18251 pim: Fix autorp group joins (backport #18225)
  pimd/pim_autorp.c
  pimd/pim_iface.c
  tests/topotests/pim_autorp/test_pim_autorp.py
Labels: size/L, stable/10.2

#18256 ripd: fix no ip rip split-horizon poisoned-reverse command
  ripd/rip_cli.c
Labels: rip, bugfix, master, size/XS

#18235 staticd: Fix crash because registering unknown vrf
  staticd/static_zebra.c
Labels: staticd, master, size/XS

#18255 Revert "bgpd: fix default instance when leaving the hidden state (backport 10.3)" #18162
  bgpd/bgpd.c
  tests/topotests/bgp_l3vpn_hidden/__init__.py
  tests/topotests/bgp_l3vpn_hidden/ce1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/pe1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/rr1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/test_bgp_l3vpn_hidden.py
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: bugfix, size/XL, dev/10.3

#18198 staticd: Add support for SRv6 uA behavior
  doc/user/static.rst
  lib/srv6.h
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/topotests/static_srv6_sids/expected_srv6_sids.json
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_1.json
  tests/topotests/static_srv6_sids/expected_srv6_sids_sid_delete_2.json
  tests/topotests/static_srv6_sids/r1/frr.conf
  yang/frr-staticd.yang
  zebra/zebra_srv6.c
Labels: documentation, tests, staticd, libfrr, yang, master, size/L

#18242 fabricd: add option to treat dummy interfaces as loopback interfaces
  doc/manpages/frr-fabricd.rst
  doc/user/fabricd.rst
  isisd/isis_circuit.c
  isisd/isis_main.c
  isisd/isisd.c
  isisd/isisd.h
  lib/if.h
  zebra/if_netlink.c
  zebra/interface.c
  zebra/interface.h
  zebra/zebra_nb_state.c
Labels: zebra, master, size/M

#18261 tests: Fixed input dict at create_router_bgp
  tests/topotests/lib/bgp.py
Labels: tests, master, size/M

#18254 ospf6d: Fix use after free of router in OSPFv3 ABR route calculation.
  ospf6d/ospf6_intra.c
Labels: ospfv3, backport, master, size/XS, rebase

#18271 staticd: Do not log uninitialized `nexthop` variable
  staticd/static_nb_config.c
Labels: staticd, bugfix, master, size/XS

#18272 bgpd: fix default instance when leaving the hidden state. (backport #18119)
  bgpd/bgpd.c
  tests/topotests/bgp_l3vpn_hidden/__init__.py
  tests/topotests/bgp_l3vpn_hidden/ce1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_unicast_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/ce1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/pe1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/pe1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/rr1/frr.conf
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv4_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_ipv6_vpn_step1.json
  tests/topotests/bgp_l3vpn_hidden/rr1/show_bgp_summary.json
  tests/topotests/bgp_l3vpn_hidden/test_bgp_l3vpn_hidden.py
  tests/topotests/bgp_vrf_route_leak_basic/r1/bgpd.conf
  tests/topotests/bgp_vrf_route_leak_basic/test_bgp-vrf-route-leak-basic.py
Labels: tests, bgp, bugfix, size/XL, dev/10.3

#18270 lib: Prevent crash in getting label chunk
  lib/zclient.c
Labels: libfrr, master, size/XS

#18264 mgmtd: Prevent use after free
  mgmtd/mgmt_txn.c
Labels: backport, mgmt, master, size/S

#18159 Bgp ecommlist count
  bgpd/bgp_clist.c
  bgpd/bgp_clist.h
  bgpd/bgp_ecommunity.c
  bgpd/bgp_ecommunity.h
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_ecomm_list_match/r1/frr.conf
  tests/topotests/bgp_ecomm_list_match/r2/frr.conf
  tests/topotests/bgp_ecomm_list_match/r3/frr.conf
  tests/topotests/bgp_ecomm_list_match/test_bgp_ecomm_list_match.py
  yang/frr-bgp-route-map.yang
Labels: bgp, bugfix, yang, master, size/XL

#18263 staticd: Add `no` form for `static-sids` command
  staticd/static_nb.h
  staticd/static_vty.c
  tests/topotests/static_srv6_sids/expected_srv6_sids_delete_all.json
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
  vtysh/vtysh.c
Labels: tests, staticd, vtysh, backport, master, size/L

#18285 pimd: fix null memory access on IGMP source limit
  pimd/pim_igmpv3.c
Labels: pim, bugfix, master, size/XS
