Repository FRRouting/frr, pull requests merged in 2025-01, with the labels that each got.

#17728 bgpd: add rpki current state
  bgpd/bgp_route.c
  tests/topotests/bgp_rpki_topo1/r2/bgp_rpki_valid.json
  tests/topotests/bgp_rpki_topo1/test_bgp_rpki_topo1.py
Labels: tests, bgp, master, size/L

#17716 bgpd: Clean address-family config on daemon restart
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgpd.c
Labels: master, size/M

#17726 staticd: Reduce the frequency of adding routes
  staticd/static_nht.c
Labels: staticd, master, size/XS, rebase

#17737 zebra:check DAD freeze action before notifying bgp
  zebra/zebra_evpn_mac.c
Labels: zebra, master, size/S

#17762 ospfd: Correct one word
  ospfd/ospf_abr.c
  ospfd/ospf_asbr.c
  ospfd/ospf_asbr.h
  ospfd/ospf_flood.c
  ospfd/ospf_lsa.c
  ospfd/ospfd.c
Labels: ospf, master, size/S, rebase

#17715 babel: Clean babel related config on daemon stop
  babeld/babel_interface.c
Labels: master, size/XS

#17750 tools: Add missing rpki keyword to vrf in frr-reload
  tools/frr-reload.py
Labels: tools, backport, master, size/XS

#17754 bgpd: Do not try to uninstall BFD session if the peer is not established (backport)
  bgpd/bgp_fsm.c
Labels: bgp, size/XS, stable/10.2

#17743 tools: Add missing formats keyword to segment-routing in frr-reload (backport)
  tools/frr-reload.py
Labels: tools, size/XS, stable/10.2

#17752 zebra: fix dpdk compilation error
  zebra/dpdk/zebra_dplane_dpdk.c
Labels: zebra, bugfix, master, size/L

#17770 bgpd: Use unique value for BGP_NEXTHOP_EVPN_INCOMPLETE flag
  bgpd/bgp_nexthop.h
Labels: bgp, bugfix, master, size/XS

#17780 bgpd: fix a bug in peer_allowas_in_set()
  bgpd/bgpd.c
Labels: bgp, bugfix, backport, master, size/XS

#17431 bgpd: show json output changes to optimize various show commands
  bgpd/bgp_evpn_vty.c
  bgpd/bgp_nexthop.c
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  doc/user/bgp.rst
  tests/topotests/bgp_gr_notification/test_bgp_gr_notification.py
Labels: bgp, master, size/L

#17474 zebra: Fix ip protocol route-map issue.
  lib/route_types.txt
  tests/topotests/bgp_suppress_fib/test_bgp_suppress_fib.py
  zebra/zebra_nb_config.c
  zebra/zebra_routemap.c
Labels: zebra, master, size/M, rebase

#17779 ospfd: fix wrong check for two commands
  ospfd/ospf_vty.c
Labels: ospf, bugfix, master, size/S

#17774 doc: fix building for alpine package path
  doc/developer/building-frr-for-alpine.rst
Labels: documentation, bugfix, master, size/XS

#17773 tests: improve test reliability
  tests/topotests/mgmt_oper/oper.py
  tests/topotests/mgmt_oper/test_oper.py
Labels: tests, master, size/S

#17771 bgpd: Show ifindex for every BGP nexthop cache entry
  bgpd/bgp_nexthop.c
Labels: bgp, master, size/M

#17733 BMP handling of BGP configuration changes
  bgpd/bgp_bmp.c
  bgpd/bgp_io.c
  bgpd/bgp_nht.c
  bgpd/bgp_nht.h
  bgpd/bgp_trace.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_bmp/bgpbmp.py
  tests/topotests/bgp_bmp/test_bgp_bmp_2.py
  tests/topotests/lib/bmp_collector/bgp/update/rd.py
Labels: bgp, bugfix, master, size/L

#17783 Add new oper state get callback
  lib/if.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_oper.c
  tests/lib/northbound/test_oper_data.c
  tests/lib/northbound/test_oper_data.refout
  tools/gen_northbound_callbacks.c
  yang/frr-test-module.yang
Labels: tests, libfrr, tools, master, size/L

#17782 New YANG notify msg fmt
  lib/mgmt_be_client.c
  lib/mgmt_be_client.h
  lib/mgmt_msg_native.h
  tests/topotests/lib/fe_client.py
Labels: tests, libfrr, master, size/L

#17781 fix xpath query on keyless list with positional predicate
  lib/northbound_oper.c
  tests/lib/northbound/test_oper_data.in
  tests/lib/northbound/test_oper_data.refout
Labels: tests, libfrr, bugfix, master, size/L

#17772 improve error handling of operational state walk callback
  lib/mgmt_be_client.c
  lib/northbound.h
  lib/northbound_oper.c
  mgmtd/mgmt_fe_adapter.c
  tools/checkpatch.pl
Labels: libfrr, tools, mgmt, master, size/M

#17707 tests: cleanup ospf6 ecmp inter area
  tests/topotests/ospf6_ecmp_inter_area/r1/show_ipv6_routes_ospf6-1.json
  tests/topotests/ospf6_ecmp_inter_area/r1/show_ipv6_routes_ospf6-2.json
  tests/topotests/ospf6_ecmp_inter_area/r1/show_ipv6_routes_ospf6-3.json
  tests/topotests/ospf6_ecmp_inter_area/r7/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/r8/ospf6d.conf
  tests/topotests/ospf6_ecmp_inter_area/test_ospf6_ecmp_inter_area.py
Labels: tests, master, size/XL, rebase

#17778 bgpd: add a debug command for route aggregation
  bgpd/bgp_debug.c
  bgpd/bgp_debug.h
  bgpd/bgp_route.c
  doc/user/bgp.rst
Labels: bgp, master, size/L, rebase

#17795 lib: Fix privs syscaps (pset_t) allocation
  lib/privs.c
Labels: libfrr, master, size/XS

#17808 lib: remove interface dead code
  lib/if.c
Labels: libfrr, master, size/M

#17807 bgpd: fix crash in displaying json orf prefix-list
  lib/plist.c
Labels: bgp, bugfix, backport, master, size/XS

#17801 bgpd: apply route-map for aggregate before attribute comparison
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
Labels: bgp, master, size/L

#17809 zebra: Fix leaked nhe
  zebra/zebra_nhg.c
Labels: zebra, backport, master, size/S

#17805 2 test fixes
  tests/topotests/bgp_srv6_sid_reachability/test_bgp_srv6_sid_reachability.py
  tests/topotests/bgp_srv6l3vpn_to_bgp_vrf3/test_bgp_srv6l3vpn_to_bgp_vrf3.py
Labels: tests, master, size/XS

#17811 bgpd: fix memory leak in bgp_aggregate_install()
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/XS

#17830 bgpd: Fix showing default `timers bgp x y`
  bgpd/bgp_vty.c
  bgpd/bgp_vty.h
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/M

#17813 bgpd: use igpmetric in bgp_aigp_metric_total()
  bgpd/bgp_attr.h
Labels: bgp, backport, master, size/XS

#17829 tests: avoid nondeterministic route
  tests/topotests/ospf_metric_propagation/r1/frr.conf
  tests/topotests/ospf_metric_propagation/r1/show_ip_route_static.json
  tests/topotests/ospf_metric_propagation/r4/frr.conf
  tests/topotests/ospf_metric_propagation/test_ospf_metric_propagation.py
Labels: tests, master, size/M

#17844 tests: update munet to 0.15.3
  tests/topotests/munet/base.py
  tests/topotests/munet/munet-schema.json
  tests/topotests/munet/mutest/userapi.py
  tests/topotests/munet/native.py
  tests/topotests/munet/testing/util.py
Labels: tests, master, size/L

#17839 zebra: Optimize invoking nhg compare func
  zebra/zebra_nhg.c
Labels: zebra, master, size/XS

#17847 tools: fix frr-reload for nbr deletion of no form cmds
  tools/frr-reload.py
Labels: tools, bugfix, master, size/XS

#17840 tests: remove unnecessary wildcard fields from pim acl test
  tests/topotests/pim_boundary_acl/test_pim_boundary_acl.py
Labels: tests, master, size/S

#17639 Ability to import BMP information from a separate BGP instance
  bgpd/bgp_bmp.c
  bgpd/bgp_bmp.h
  bgpd/bgp_trace.h
  doc/user/bmp.rst
  tests/topotests/bgp_bmp/bmp1import/bmp-update-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1import/bmp-update-loc-rib-step2.json
  tests/topotests/bgp_bmp/bmp1import/bmp-update-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1import/bmp-update-post-policy-step2.json
  tests/topotests/bgp_bmp/bmp1import/bmp-update-pre-policy-step1.json
  tests/topotests/bgp_bmp/bmp1import/bmp-update-pre-policy-step2.json
  tests/topotests/bgp_bmp/bmp1import/bmp-withdraw-loc-rib-step1.json
  tests/topotests/bgp_bmp/bmp1import/bmp-withdraw-loc-rib-step2.json
  tests/topotests/bgp_bmp/bmp1import/bmp-withdraw-post-policy-step1.json
  tests/topotests/bgp_bmp/bmp1import/bmp-withdraw-pre-policy-step1.json
  tests/topotests/bgp_bmp/r1import/frr.conf
  tests/topotests/bgp_bmp/r1import/show-bgp-vrf1-ipv4-update-step1.json
  tests/topotests/bgp_bmp/r1import/show-bgp-vrf1-ipv4-withdraw-step1.json
  tests/topotests/bgp_bmp/r1import/show-bgp-vrf1-ipv6-update-step1.json
  tests/topotests/bgp_bmp/r1import/show-bgp-vrf1-ipv6-withdraw-step1.json
  tests/topotests/bgp_bmp/r3/frr.conf
  tests/topotests/bgp_bmp/test_bgp_bmp_3.py
Labels: documentation, bgp, bugfix, master, size/XXL

#17846 doc: fix LaTex warnings, add documentation to build docs
  doc/developer/building-doc.rst
  doc/developer/subdir.am
  doc/user/_static/overrides.js
  doc/user/about.rst
Labels: documentation, bugfix, master, size/M

#17842 bgpd: remove unused safi in bgp_aggregate structure
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, master, size/XS

#17837 bgpd: fix churn of aggregate routes from duplicate config
  bgpd/bgp_route.c
Labels: bgp, bugfix, master, size/S

#17832 bgpd: Aggregate backports
  bgpd/bgp_route.c
  bgpd/bgp_route.h
  bgpd/bgp_routemap.c
Labels: bgp, bugfix, backport, size/L, stable/10.2

#17803 ospfd: avoid the redundant timers
  ospfd/ospf_asbr.c
Labels: ospf, master, size/XS

#17800 bgpd: Respect allowas-in value from the source VRF's peer
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_mplsvpn.h
  bgpd/bgp_route.c
  tests/topotests/bgp_vpnv4_import_allowas_in_between_vrf/__init__.py
  tests/topotests/bgp_vpnv4_import_allowas_in_between_vrf/r1/frr.conf
  tests/topotests/bgp_vpnv4_import_allowas_in_between_vrf/r2/frr.conf
  tests/topotests/bgp_vpnv4_import_allowas_in_between_vrf/test_bgp_vpnv4_import_allowas_in_between_vrf.py
Labels: tests, bgp, bugfix, backport, master, size/L

#17841 pimd: fix BSR RPs timing out
  pimd/pim_bsm.c
Labels: pim, bugfix, backport, master, size/S

#17850 pimd: always write cand-rp group config even when rp is inactive
  pimd/pim_bsm.c
Labels: pim, backport, master, size/S

#17581 zebra: avoid race between FPM pthread and zebra main pthread in netlink encode/decode
  zebra/dplane_fpm_nl.c
  zebra/rt_netlink.c
  zebra/rt_netlink.h
  zebra/zebra_dplane.c
  zebra/zebra_dplane.h
  zebra/zebra_rib.c
  zebra/zebra_vrf.c
  zebra/zebra_vrf.h
Labels: zebra, master, size/XL

#17796 operational-state (datastore) change notifications
  lib/darr.h
  lib/if.c
  lib/if.h
  lib/mgmt_be_client.c
  lib/mgmt_msg_native.c
  lib/mgmt_msg_native.h
  lib/northbound.c
  lib/northbound.h
  lib/northbound_notif.c
  lib/northbound_oper.c
  lib/subdir.am
  lib/vrf.c
  lib/vrf.h
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_fe_adapter.h
  mgmtd/mgmt_history.c
  mgmtd/mgmt_txn.c
  mgmtd/mgmt_txn.h
  tests/topotests/conftest.py
  tests/topotests/mgmt_notif/r1/frr.conf
  tests/topotests/mgmt_notif/r2/frr.conf
  tests/topotests/mgmt_notif/test_notif.py
  zebra/interface.c
  zebra/main.c
Labels: tests, libfrr, bugfix, mgmt, master, size/XXL

#17858 bgpd: move bgp_aggregate_increment() after bgp_path_info_add()
  bgpd/bgp_mplsvpn.c
  bgpd/bgp_route.c
  bgpd/rfapi/rfapi.c
Labels: bgp, master, size/S

#17859 Active routes are active
  zebra/zebra_nhg.c
Labels: zebra, master, size/S

#17854 bgpd: remove unused BATTR_REFLECTED for rmap_change_flags
  bgpd/bgp_attr.h
  bgpd/bgp_route.c
  bgpd/bgp_updgrp.h
  bgpd/bgp_updgrp_packet.c
Labels: bgp, master, size/XS

#17776 PIMD: RPF lookup mode per-group, per-source
  doc/user/pim.rst
  pimd/pim_bsr_rpdb.c
  pimd/pim_cmd.c
  pimd/pim_igmp_mtrace.c
  pimd/pim_instance.h
  pimd/pim_mroute.c
  pimd/pim_msdp.c
  pimd/pim_nb.c
  pimd/pim_nb.h
  pimd/pim_nb_config.c
  pimd/pim_nht.c
  pimd/pim_nht.h
  pimd/pim_vty.c
  pimd/pim_zlookup.c
  pimd/pim_zlookup.h
  tests/topotests/pim_mrib/r1/frr.conf
  tests/topotests/pim_mrib/r2/frr.conf
  tests/topotests/pim_mrib/r3/frr.conf
  tests/topotests/pim_mrib/r4/frr.conf
  tests/topotests/pim_mrib/test_pim_mrib.py
  yang/frr-pim.yang
Labels: documentation, tests, pim, yang, master, size/XXL, rebase

#17855 bgpd: Handle ENHE capability via dynamic capability
  bgpd/bgp_packet.c
  bgpd/bgp_packet.h
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r1/frr.conf
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_enhe.py
Labels: tests, bgp, master, size/L, rebase

#17810 Bgp connect refactor
  bgpd/bgp_bfd.c
  bgpd/bgp_bmp.c
  bgpd/bgp_dump.c
  bgpd/bgp_fsm.c
  bgpd/bgp_network.c
  bgpd/bgp_network.h
  bgpd/bgp_route.c
  bgpd/bgp_routemap.c
  bgpd/bgp_script.c
  bgpd/bgp_snmp_bgp4.c
  bgpd/bgp_snmp_bgp4v2.c
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  bgpd/rfapi/rfapi_import.c
Labels: bgp, master, size/L

#17838 topotests: improve test reliability
  tests/topotests/msdp_topo3/r1/frr.conf
  tests/topotests/msdp_topo3/r2/frr.conf
  tests/topotests/msdp_topo3/test_msdp_topo3.py
Labels: master, size/M

#17862 ldp snmp/grpc test fix
  tests/topotests/grpc_basic/test_basic_grpc.py
  tests/topotests/ldp_snmp/test_ldp_snmp_topo1.py
Labels: tests, bugfix, master, size/S

#17727 lib: introduce global -w option for VRF netns backend
  doc/manpages/frr-zebra.rst
  doc/user/basic.rst
  doc/user/zebra.rst
  lib/if.c
  lib/libfrr.c
  lib/vrf.c
  lib/vrf.h
  mgmtd/mgmt_main.c
  tests/topotests/bfd_vrf_topo1/test_bfd_vrf_topo1.py
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
  tests/topotests/bgp_vrf_netns/test_bgp_vrf_netns_topo.py
  tests/topotests/lib/topogen.py
  tests/topotests/lib/topotest.py
  tests/topotests/ospf_netns_vrf/test_ospf_netns_vrf.py
  zebra/main.c
  zebra/zebra_vrf.c
Labels: tests, zebra, libfrr, master, size/L

#17836 limit community list count
  bgpd/bgp_routemap.c
  bgpd/bgp_routemap_nb.c
  bgpd/bgp_routemap_nb.h
  bgpd/bgp_routemap_nb_config.c
  doc/user/bgp.rst
  lib/routemap.h
  lib/routemap_cli.c
  tests/topotests/bgp_comm_list_match/r1/bgpd.conf
  tests/topotests/bgp_comm_list_match/r1/zebra.conf
  tests/topotests/bgp_comm_list_match/test_bgp_comm_list_match.py
  yang/frr-bgp-route-map.yang
Labels: bgp, master, size/L

#17814 zebra: Uninstall NHG in some situations
  zebra/zebra_nhg.c
Labels: zebra, master, size/S

#17880 tests: ci: add ARM to docker based CI test
  .github/workflows/build-test-docker.yml
Labels: tests, master, size/L

#17876 Handle datastore notifications correctly in backend clients (daemons)
  lib/mgmt_be_client.c
  lib/northbound.c
  lib/northbound.h
  lib/northbound_notif.c
  lib/yang.c
  lib/yang.h
  mgmtd/mgmt_be_adapter.c
  mgmtd/mgmt_fe_adapter.c
  mgmtd/mgmt_testc.c
  tests/topotests/mgmt_notif/test_ds_notify.py
  tests/topotests/mgmt_notif/test_notif.py
Labels: tests, libfrr, mgmt, master, size/XL

#17884 lib: fix dnode_create to use correct libyang function.
  lib/northbound.c
Labels: libfrr, bugfix, master, size/S

#16894 staticd: Add support for SRv6 Static SIDs
  doc/user/static.rst
  isisd/isis_srv6.c
  isisd/isis_srv6.h
  lib/command.h
  lib/srv6.h
  staticd/static_debug.c
  staticd/static_debug.h
  staticd/static_main.c
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_srv6.c
  staticd/static_srv6.h
  staticd/static_vty.c
  staticd/static_zebra.c
  staticd/static_zebra.h
  staticd/subdir.am
  tests/topotests/static_srv6_sids/__init__.py
  tests/topotests/static_srv6_sids/expected_srv6_sids.json
  tests/topotests/static_srv6_sids/r1/frr.conf
  tests/topotests/static_srv6_sids/r1/setup.sh
  tests/topotests/static_srv6_sids/test_static_srv6_sids.py
  vtysh/vtysh.c
  yang/frr-staticd.yang
Labels: documentation, tests, isis, staticd, zebra, vtysh, libfrr, tools, bugfix, yang, master, size/XXL, rebase

#17885 tools: fix regression in gen_northbound_callback tool
  tools/gen_northbound_callbacks.c
Labels: tools, bugfix, master, size/S

#17874 Bgp unnumbered interface json
  bgpd/bgp_route.c
  tests/topotests/bgp_ipv6_rtadv/r1/bgp_ipv4_routes.json
  tests/topotests/bgp_ipv6_rtadv/r1/bgp_ipv6_routes.json
  tests/topotests/bgp_ipv6_rtadv/test_bgp_ipv6_rtadv.py
Labels: bgp, bugfix, master, size/L

#17882 small mgmtd-dev doc update and yanglint cleanup
  doc/developer/mgmtd-dev.rst
  yang/frr-test-module.yang
Labels: documentation, yang, master, size/M

#17883 tests: Fix test_bgp_dynamic_capability_enhe topotest
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_enhe.py
Labels: tests, bugfix, master, size/S

#16723 tools: fix reload interface deletion
  tools/frr-reload.py
Labels: tools, master, size/S

#17888 bgpd: Fix for local interface MAC cache issue in 'bgp mac hash' table
  bgpd/bgp_zebra.c
Labels: bgp, backport, master, size/XS

#17793 Fix Rocky 8 RPMs, add options to build without rpki and docs (default is to include)
  doc/developer/packaging-redhat.rst
  redhat/frr.spec.in
Labels: documentation, packaging, master, size/M

#17895 lib: fix coverity use after free issue: CID 1620101
  lib/northbound_notif.c
Labels: libfrr, bugfix, master, size/XS

#17894 bgpd: fix do not send twice peer up/down messages
  bgpd/bgp_bmp.c
Labels: bgp, bugfix, master, size/XS

#17889 tests: remove table version check in bgp rpki topo1
  tests/topotests/bgp_rpki_topo1/r2/bgp_rpki_valid.json
Labels: tests, bugfix, master, size/XS

#17899 bgpd: fix evpn path info get api
  bgpd/bgp_evpn_mh.c
  bgpd/bgp_route.c
  bgpd/bgp_route.h
Labels: bgp, bugfix, master, size/S

#17904 bgpd: fix bfd with update-source in peer-group
  bgpd/bgp_bfd.c
  tests/topotests/bgp_bfd_session/r1/frr.conf
  tests/topotests/bgp_bfd_session/test_bgp_bfd_session.py
Labels: tests, bgp, bugfix, master, size/M

#17652 bgpd, tests: bgp_evpn_rt5, add test with match evpn vni command
  bgpd/bgp_route.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  bgpd/bgpd.h
  tests/topotests/bgp_bmp/test_bgp_bmp_1.py
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r1/bgp_l2vpn_evpn_routes_all.json
  tests/topotests/bgp_evpn_rt5/r1/frr.conf
  tests/topotests/bgp_evpn_rt5/r1/zebra.conf
  tests/topotests/bgp_evpn_rt5/r2/bgp_l2vpn_evpn_routes.json
  tests/topotests/bgp_evpn_rt5/r2/frr.conf
  tests/topotests/bgp_evpn_rt5/r2/zebra.conf
  tests/topotests/bgp_evpn_rt5/r3/frr.conf
  tests/topotests/bgp_evpn_rt5/test_bgp_evpn.py
Labels: bgp, bugfix, master, size/L

#17898 zebra: Return error if v6 prefix is passed to show ip route
  zebra/zebra_vty.c
Labels: zebra, master, size/S

#17911 bgpd: Fix bgp peer solo option
  bgpd/bgp_updgrp.c
  tests/topotests/bgp_peer_solo/r1/frr.conf
  tests/topotests/bgp_peer_solo/r2/frr.conf
  tests/topotests/bgp_peer_solo/test_bgp_peer_solo.py
Labels: bgp, backport, master, size/L

#17912 redhat: Specify minimum libyang version requirement
  redhat/frr.spec.in
Labels: packaging, master, size/XS

#17923 Backport 17229 some to 10 1
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_packet.c
  bgpd/bgpd.h
  zebra/kernel_netlink.c
Labels: bgp, size/M, stable/10.1

#17922 Backport 17229 some to 10 2
  bgpd/bgp_fsm.c
  bgpd/bgp_fsm.h
  bgpd/bgp_packet.c
  bgpd/bgpd.h
  zebra/kernel_netlink.c
Labels: bgp, size/M, stable/10.2

#17917 isisd: fix duplicate rfc8919 defines
  isisd/isis_tlvs.h
Labels: bgp, isis, bugfix, master, size/XS

#17926 Revert "bgpd: Handle Addpath capability using dynamic capabilities"
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_path_limit.py
Labels: backport, master, size/L

#17919 Bgp suppressed attribute
  bgpd/bgp_route.c
  tests/topotests/bgp_aggregate_address_topo1/r1/bgp_192_168_0_1.json
  tests/topotests/bgp_aggregate_address_topo1/test_bgp_aggregate_address_topo1.py
Labels: bgp, bugfix, master, size/M

#17905 Advertised routes incorrect json
  bgpd/bgp_route.c
  tests/topotests/bgp_vpnv4_noretain/r1/ipv4_vpn_routes_advertised_10_125_0_2.json
  tests/topotests/bgp_vpnv4_noretain/test_bgp_vpnv4_noretain.py
Labels: bgp, bugfix, master, size/L

#17940 Revert "bgpd: Handle Addpath capability using dynamic capabilities" (backport)
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_addpath.py
Labels: size/L, stable/10.0

#17939 Revert "bgpd: Handle Addpath capability using dynamic capabilities" (backport)
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_path_limit.py
Labels: size/L, stable/10.1

#17938 Revert "bgpd: Handle Addpath capability using dynamic capabilities" (backport)
  bgpd/bgp_addpath.c
  bgpd/bgp_addpath.h
  bgpd/bgp_packet.c
  bgpd/bgp_vty.c
  bgpd/bgpd.c
  tests/topotests/bgp_dynamic_capability/r2/frr.conf
  tests/topotests/bgp_dynamic_capability/test_bgp_dynamic_capability_path_limit.py
Labels: size/L, stable/10.2

#17736 bgpd,lib,zebra: permit table-direct on VRFs
  bgpd/bgp_vty.c
  bgpd/bgp_zebra.c
  lib/zclient.c
  lib/zclient.h
  tests/topotests/bgp_table_direct_topo1/__init__.py
  tests/topotests/bgp_table_direct_topo1/r1/frr.conf
  tests/topotests/bgp_table_direct_topo1/r2/frr.conf
  tests/topotests/bgp_table_direct_topo1/r3/frr.conf
  tests/topotests/bgp_table_direct_topo1/test_bgp_table_direct_topo1.py
  zebra/redistribute.c
  zebra/zapi_msg.c
  zebra/zapi_msg.h
Labels: bgp, zebra, libfrr, master, size/XL

#17863 bgpd: Check if the peer really exists before sending dynamic capability
  bgpd/bgp_packet.c
Labels: bgp, bugfix, master, size/XS, rebase

#17881 bgpd: last reset SNAFU
  bgpd/bgp_fsm.c
  bgpd/bgpd.c
Labels: bgp, bugfix, master, size/XS

#17924 bgpd: Optimize evaluate paths for a peer going down
  bgpd/bgp_nht.c
Labels: bgp, bugfix, master, size/S

#17848 Isis srv6 topo1 ping
  tests/topotests/isis_srv6_topo1/test_isis_srv6_topo1.py
Labels: bugfix, master, size/S

#17906 ospfd: Prune duplicate next-hop when installing into zebra route table.
  ospfd/ospf_zebra.c
  tests/topotests/multicast_pim_dr_nondr_test/test_pim_dr_nondr_with_transit_router_topo3.py
  tests/topotests/ospf_prune_next_hop/r1/frr.conf
  tests/topotests/ospf_prune_next_hop/r2/frr.conf
  tests/topotests/ospf_prune_next_hop/r3/frr.conf
  tests/topotests/ospf_prune_next_hop/r4/frr.conf
  tests/topotests/ospf_prune_next_hop/r5/frr.conf
  tests/topotests/ospf_prune_next_hop/r6/frr.conf
  tests/topotests/ospf_prune_next_hop/r7/frr.conf
  tests/topotests/ospf_prune_next_hop/r8/frr.conf
  tests/topotests/ospf_prune_next_hop/test_ospf_prune_next_hop.py
Labels: tests, ospf, bugfix, master, size/XL

#17802 bgpd: fix table-map option
  bgpd/bgp_zebra.c
  tests/topotests/bgp_table_map/r1/frr.conf
  tests/topotests/bgp_table_map/r2/frr.conf
  tests/topotests/bgp_table_map/test_bgp_table_map.py
Labels: bgp, bugfix, backport, master, size/L, rebase

#17941 static: fix botched staticd YANG conversion for dst-src
  lib/srcdest_table.c
  lib/srcdest_table.h
  lib/zclient.c
  lib/zclient.h
  staticd/static_nb.c
  staticd/static_nb.h
  staticd/static_nb_config.c
  staticd/static_nht.c
  staticd/static_nht.h
  staticd/static_routes.c
  staticd/static_vrf.c
  staticd/static_vty.c
  staticd/static_zebra.c
  tests/topotests/mgmt_tests/test_yang_mgmt.py
  tests/topotests/static_simple/test_static_simple.py
  yang/frr-staticd.yang
  zebra/rt_netlink.c
  zebra/zapi_msg.c
Labels: staticd, zebra, libfrr, bugfix, master, size/XXL

#17946 tools: Fix frr-reload for ebgp-multihop TTL reconfiguration.
  tools/frr-reload.py
Labels: tools, master, size/S

#17935 zebra: include resolving nexthops in nhg hash
  tests/topotests/v6_nexthop_group_recursive_resolution/r1/frr.conf
  tests/topotests/v6_nexthop_group_recursive_resolution/test_v6_nexthop_group_recursive_resolution.py
  zebra/zebra_nhg.c
Labels: tests, zebra, bugfix, master, size/L

#17934 pimd: Close AutoRP socket when not needed
  pimd/pim_autorp.c
  pimd/pim_cmd_common.c
Labels: pim, bugfix, backport, master, size/M

#17956 isisd: fix erroneous srv6 information in database
  isisd/isis_tlvs.c
Labels: isis, bugfix, backport, master, size/M
